<template>
  <div class="import-file-item">
    <div>
      {{ item.name }}
    </div>
    <rounded-icon icon="fal fa-trash-alt" id="import-gpx-delete-file" @click="$emit('delete', item)" />
  </div>
</template>

<script>
import RoundedIcon from "@/components/buttons/RoundedIcon";
export default {
  name: 'FileItem',
  components: {RoundedIcon},
  props: {
    item: {
      required: true,
    },
  },
}
</script>

<style scoped>
.import-file-item {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  width: 100%;
}
</style>
