<template>
  <div class="track-item space-x-10">
    <div class="track-item-name">
      {{ item.geojson.properties.name }}
    </div>
    <div class="track-item-actions space-x-6">
      <rounded-icon id="btn-gpx-reverse" v-if="type === 'fusion'" icon="fal fa-repeat" small @click="$emit('inverse', item.id)" />
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" :id="`switch-load-${item.id}`" :checked="item.loaded" @input="$emit('toggle', item.id)">
      </div>
    </div>
  </div>
</template>

<script>
import RoundedIcon from "@/components/buttons/RoundedIcon";

export default {
  name: 'TrackItem',
  components: {RoundedIcon},
  props: {
    type: {
      type: String,
      required: true,
    },
    item: {
      required: true,
    },
  },
}
</script>

<style scoped>
.track-item {
  /*px-4 border-b border-gray-2 last:border-b-0*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 0 4px;
  border-bottom: 1px solid gray;
}
.track-item:last-child {
  border-bottom: none;
}
.track-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}
.track-item-actions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
}
</style>
