{% load i18n %}
{% load role_tags %}
{% if post_form.non_field_errors %}
{% for error in post_form.non_field_errors %}
<div class="alert alert-danger">
  <i class="icon-exclamation-sign"></i> {{ error }}
</div>
{% endfor %}
{% endif %}

{% include "partials/form_field.html" with field=post_form.subject %}
{% include "partials/form_field.html" with field=post_form.demande_assistance %}
{% if post_form.topic and not post_form.topic.dossier %}
    {% include "partials/form_field.html" with field=post_form.dossier %}
{% endif %}
{% include "partials/form_field.html" with field=post_form.content %}

{% if post_form.username %}
    {% include "partials/form_field.html" with field=post_form.username %}
{% endif %}
{% if post_form.update_reason %}
    {% include "partials/form_field.html" with field=post_form.update_reason %}
{% endif %}
{% if user.is_agent_service_instructeur or user.is_superuser or user|hasgroup:"_support" %}
<!-- Sub "forms" tabs -->

    {% if attachment_formset %}
        <a class="m-2 mb-2" data-bs-toggle="collapse" href="#attachments" role="button" aria-expanded="false" aria-controls="attachments"><i class="ajouter"></i>Ajouter un fichier</a>
        <div class="collapse" id="attachments">
            <div class="form-group mb-2 ms-2">
                <br />
                <div class="row">
                    <div id="attachment_formset" class="col-md-12">
                        {% include "forum_conversation/forum_attachments/attachment_formset.html" %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if demande_assistance %}
<p class="mt-2 mb-0 alert alert-info">Cette demande va être adressée
    {% if type_destinataire == "préfecture" %}
        au service : {{ destinataire_assistance }}
    {% elif type_destinataire == "administrateur" %}
        aux administrateurs d'instance : {% for admin in destinataire_assistance %}{{ admin }}{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}
    {% elif type_destinataire == "support" %}
        à l'équipe support.
    {% endif %}
</p>
    {% if not post_form.topic.dossier %}
    <script>
    // S'il s'agit d'une demande d'assistance et qu'aucun dossier n'est renseigné, affiche une alert de confirmation
    if(!$("#id_dossier").val()){
        var form = $('form')
        var confirmation = false
        form.submit(function (e){
            if($("#id_dossier").val() === "") {
                if (!confirmation) {
                    if (confirm('Confirmez vous que le sujet n\'est pas lié à un dossier ?')) {
                        confirmation = true
                        form.submit()
                    }
                    form.removeAttr("disabled")
                    form.attr("value", "Soumettre")
                    form.find(".prevent_sub_spinner").remove()
                }
            }
        })
    }
    </script>
    {% endif %}
{% endif %}
