{% load i18n %}
{% load role_tags %}
<style>
    {% for theme in themes_all %}
        .chosen-container-multi .chosen-choices li.search-choice[data-value='{{ theme.pk }}']{
            background-color: {{ theme.color }};
            border: 1px solid {{ theme.color }};
        }

    {% endfor %}
    .chosen-container-multi .chosen-choices li.search-choice span{
        font-weight: bolder;
        color: white;
        margin-right: 0.3rem;
    }


</style>
<p><strong>Veuillez ne traiter qu'un seul sujet à la fois.</strong><span class="ms-3 me-2">&#10141;</span>Pour faciliter les échanges, veuillez poster plusieurs sujets pour séparer vos thèmes.</p>
<form method="post" action="" class="form" enctype="multipart/form-data" novalidate>{% csrf_token %}
    {% for error in post_form.non_field_errors %}
        <div class="alert alert-danger">
            <i class="icon-exclamation-sign"></i> {{ error }}
        </div>
    {% endfor %}

    {% include "partials/form_field.html" with field=post_form.subject %}
    {% include "partials/form_field.html" with field=post_form.theme %}

    {% if user.is_organisateur or user.is_agent_service_instructeur %}
        {% include "partials/form_field.html" with field=post_form.dossier %}
    {% endif %}

    {% include "partials/form_field.html" with field=post_form.content %}
    {% if post_form.username %}
        {% include "partials/form_field.html" with field=post_form.username %}
    {% endif %}
    {% if post_form.update_reason %}
        {% include "partials/form_field.html" with field=post_form.update_reason %}
    {% endif %}

    {% if organisation.is_service_instructeur or user.is_superuser or user|hasgroup:"_support" %}
        <!-- Sub "forms" tabs -->
        {% if poll_option_formset or attachment_formset %}
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item"><a href="#options" class="nav-link" data-bs-toggle="tab">{% trans "Options" %}</a></li>
                {% if post_form.can_create_polls %}
                    <li class="nav-item"><a href="#poll" class="nav-link" data-bs-toggle="tab">{% trans "Poll" %}</a></li>
                {% endif %}
                <li class="nav-item"><a href="#attachments" class="nav-link" data-bs-toggle="tab">{% trans "Attachments" %}</a></li>

            </ul>
        {% endif %}

        <!-- Sub "forms" panes -->
        <div class="tab-content">
            <div class="tab-pane" id="options">
                <div class="form-group">
                    <br />
                    <div class="row">
                        <div class="col-md-12">

                            {% include "partials/form_field.html" with field=post_form.topic_type %}

                            {% if post_form.lock_topic %}
                                {% with field=post_form.lock_topic %}
                                    <div class="checkbox">
                                        <label for="{{ field.auto_id }}">
                                            {{ field }}
                                            {{ field.label }}
                                        </label>
                                    </div>
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if poll_option_formset %}
                <div class="tab-pane" id="poll">
                    <div class="form-group">
                        <br />
                        {% if poll_options_validated and poll_option_formset.non_form_errors %}<div class="alert alert-danger">{{ poll_option_formset.non_form_errors|striptags }}</div>{% endif %}
                        <div class="row">
                            <div class="col-md-6">
                                {% include "partials/form_field.html" with field=post_form.poll_question %}
                                {% include "partials/form_field.html" with field=post_form.poll_max_options %}
                                {% include "partials/form_field.html" with field=post_form.poll_duration %}
                                <div{% if post_form.poll_user_changes.errors %} class="has-error"{% endif %}>
                                    <div class="checkbox">
                                        <label for="{{ post_form.poll_user_changes.auto_id }}">
                                            {{ post_form.poll_user_changes }}
                                            {{ post_form.poll_user_changes.label }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="poll_formset" class="col-md-6">
                                {% include "forum_conversation/forum_polls/poll_option_formset.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if attachment_formset %}
                <div class="tab-pane" id="attachments">
                    <div class="form-group">
                        <br />
                        <div class="row">
                            <div id="attachment_formset" class="col-md-12">
                                {% include "forum_conversation/forum_attachments/attachment_formset.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        {% if attachment_formset %}
            <a class="m-2 mb-2" data-bs-toggle="collapse" href="#attachments" role="button" aria-expanded="false" aria-controls="attachments"><i class="ajouter"></i>Ajouter un fichier</a>
            <div class="collapse" id="attachments">
                <div class="form-group mb-2 ms-2">
                    <br />
                    <div class="row">
                        <div id="attachment_formset" class="col-md-12">
                            {% include "forum_conversation/forum_attachments/attachment_formset.html" %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="form-actions ms-1 mt-4 float-end text-end">
        <input type="submit" class="btn btn-large btn-primary" value="{% trans "Submit" %}" />
        <p class="mt-2">Ce sujet pourra être vu par {{ post_form.get_who_can_see }}</p>
    </div>

</form>
