{% load i18n %}
{% load forum_permission_tags %}

{% get_permission 'can_add_post' topic request.user as user_can_add_post %}
{% get_permission 'can_subscribe_to_topic' topic request.user as user_can_subscribe_to_topic %}
{% get_permission 'can_unsubscribe_from_topic' topic request.user as user_can_unsubscribe_from_topic %}
{% get_permission 'can_lock_topics' topic.forum request.user as user_can_lock_topics %}
{% get_permission 'can_move_topics' topic.forum request.user as user_can_move_topics %}
{% get_permission 'can_resolve_topics' topic request.user as user_can_resolve_topics %}
{% get_permission 'can_delete_topics' topic.forum request.user as user_can_delete_topics %}
{% get_permission 'can_update_topics_to_normal_topics' topic.forum request.user as user_can_change_to_normal_topics %}
{% get_permission 'can_update_topics_to_sticky_topics' topic.forum request.user as user_can_change_to_sticky_topics %}
{% get_permission 'can_update_topics_to_announces' topic.forum request.user as user_can_change_to_announces %}

{% if not request.user.is_new %}
    {% if not topic.deplace and user_can_add_post or user == topic.poster %}
        <a href="{% url 'forum_conversation:post_create' forum.slug forum.pk topic.slug topic.pk %}" class="btn btn-primary btn-sm"><i class="fa fa-comment fa-lg"></i>&nbsp;{% trans "Post reply" %}</a>
        {% if request.user.is_agent_service_instructeur %}
        <a href="{% url 'forum_conversation:post_create' forum.slug forum.pk topic.slug topic.pk %}?demande_assistance=True" class="btn btn-primary btn-sm"><i class="fa-solid fa-truck-tow"></i>&nbsp;Demander une assistance</a>
        {% endif %}
    {% endif %}
{% else %}
    <a class="btn btn-primary btn-sm"
       onclick="alert('Vous devez être inscrit depuis plus de 24h pour poster un message.')">
        <i class="fa fa-comment fa-lg"></i>&nbsp;{% trans "Post reply" %}</a>
{% endif %}

{% if user_can_lock_topics and not topic.is_locked or user_can_move_topics or user_can_delete_topics or user_can_resolve_topics %}
    <div class="btn-group moderation-dropdown">
        <button id="id_dropdown_moderation_menu_button" class="btn btn-warning btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-gavel">&nbsp;&nbsp;</i><span class="caret"></span></button>
        <div class="dropdown-menu" aria-labelledby="id_dropdown_moderation_menu_button" style="min-width:13rem;">
            {% if user_can_lock_topics and not topic.is_locked %}<a href="{% url 'forum_moderation:topic_lock' slug=topic.slug pk=topic.pk %}" class="dropdown-item"><i class="masquer mr-2"></i> Rendre confidentiel</a>{% endif %}
            {% if user_can_lock_topics and topic.is_locked %}<a href="{% url 'forum_moderation:topic_unlock' slug=topic.slug pk=topic.pk %}" class="dropdown-item"><i class="afficher mr-2"></i>Rendre public</a>{% endif %}
            {% if user_can_delete_topics %}<a href="{% url 'forum_moderation:topic_delete' slug=topic.slug pk=topic.pk %}" class="dropdown-item"><i class="supprimer mr-2"></i>Supprimer le sujet</a>{% endif %}
            {% if user_can_move_topics %}<a href="{% url 'forum_moderation:topic_move' slug=topic.slug pk=topic.pk %}" class="dropdown-item"><i class="fal fa-arrows-alt-v fa-fw mr-2"></i>Déplacer le sujet</a>{% endif %}
            {% if user_can_resolve_topics and not topic.is_clot %}<a href="{% url 'forum_moderation:topic_clore' slug=topic.slug pk=topic.pk %}" class="dropdown-item"><i class="fal fa-check fa-fw mr-2"></i>Clore le sujet</a>{% endif %}
            {% if user_can_resolve_topics and topic.is_clot %}<a href="{% url 'forum_moderation:topic_ouvrir' slug=topic.slug pk=topic.pk %}" class="dropdown-item"><i class="fal fa-door-open fa-fw mr-2"></i>Rouvrir le sujet</a>{% endif %}

            {% if topic.is_topic %}
                {% if user_can_change_to_sticky_topics %}<a href="{% url 'forum_moderation:topic_update_to_sticky' slug=topic.slug pk=topic.pk %}" class="dropdown-item"><i class="fal fa-lightbulb fa-fw mr-2"></i>Épingler le sujet</a>{% endif %}
                {% if user_can_change_to_announces %}<a href="{% url 'forum_moderation:topic_update_to_announce' slug=topic.slug pk=topic.pk %}" class="dropdown-item"><i class="fal fa-bullhorn fa-fw mr-2"></i>Changer en annonce</a>{% endif %}
            {% elif topic.is_sticky %}
                {% if user_can_change_to_normal_topics %}<a href="{% url 'forum_moderation:topic_update_to_post' slug=topic.slug pk=topic.pk %}" class="dropdown-item"><i class="fal fa-bullseye fa-fw mr-2"></i>Changer en sujet standard</a>{% endif %}
                {% if user_can_change_to_announces %}<a href="{% url 'forum_moderation:topic_update_to_announce' slug=topic.slug pk=topic.pk %}" class="dropdown-item"><i class="fal fa-bullhorn fa-fw mr-2"></i>Changer en annonce</a>{% endif %}
            {% elif topic.is_announce %}
                {% if user_can_change_to_normal_topics %}<a href="{% url 'forum_moderation:topic_update_to_post' slug=topic.slug pk=topic.pk %}" class="dropdown-item"><i class="fal fa-bullseye fa-fw mr-2"></i>Changer en sujet standard</a>{% endif %}
                {% if user_can_change_to_sticky_topics %}<a href="{% url 'forum_moderation:topic_update_to_sticky' slug=topic.slug pk=topic.pk %}" class="dropdown-item"><i class="fal fa-lightbulb fa-fw mr-2"></i>Épingler le sujet</a>{% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}
