{% extends 'board_base.html' %}
{% load i18n %}
{% load forum_conversation_tags %}

{% block sub_title %}{% trans "Move topic" %}{% endblock sub_title %}
{% block sub-title %}{{ topic.subject }}{% endblock sub-title %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card topic-move">
      <div class="card-header">
        <h3 class="m-0 card-title h5">{% trans "Move topic" %}</h3>
      </div>
      <div class="card-body">
        <form action="" method="post">{% csrf_token %}
          {% include "partials/form_field.html" with field=form.forum %}
          <div class="checkbox">
            <label for="{{ form.lock_topic.auto_id }}">
              {{ form.lock_topic }}
              {{ form.lock_topic.label }}
            </label>
          </div>
          <button role="submit" class="btn btn-warning">{% trans "Yes, I'm sure" %}</button>
          <a href="{% url 'forum_conversation:topic' topic.forum.slug topic.forum.pk topic.slug topic.pk %}" class="btn btn-secondary">{% trans "No, take me back" %}</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
