{% load split_tags verbose_tags %}
{% load aide_tags %}

{% for groupe in object.groupe|split:',' %}
    {% if groupe in user_groupes %}
        <span class="badge bg-light float-end contenu-reserve" data-bs-toggle="tooltip" title="Contenu réservé aux utilisateurs du groupe "> {{ groupe|verbose_groupe }} </span>
    {% endif %}
{% endfor %}
{% for organisation in object.organisation %}
    {% if organisation|has_organisation_role:user %}
        <span class="badge bg-light float-end contenu-reserve" data-bs-toggle="tooltip" title="Contenu réservé aux utilisateurs ayant la rôle de"> {{ organisation }} </span>
    {% endif %}
{% endfor %}
{% for departement in object.departements.all %}
    <span class="badge bg-light float-end contenu-reserve" data-bs-toggle="tooltip" title="Contenu réservé au département"> {{ departement.name }} </span>
{% endfor %}