{% extends "aide/page-aide.html" %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/css/jquery.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'carto/css/pois.css' %}">
    <link rel="stylesheet" href="{% static 'carto/css/picto-vtm-img.css' %}">
{% endblock %}


{% block extra_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" defer charset="utf8" src="{% static 'aide/DatatableFactory.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="filter-data">
        <button id="data-filter-btn" class="btn btn-primary btn-xs btn-filter"><i
                class="far fa-filter"></i> Filtrer
        </button>
        <input class="form-control w-25" id="data-search" placeholder="Rechercher">
    </div>
    <table id="pois-list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Icône</th>
            <th>Catégorie</th>
            <th>Nom</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for poi in pois %}
            <tr>
                <td data-sort="{{ poi.sort }}">{{ poi.id }}</td>
                <td>
                    {% if poi.html_code %}
                        <span class="poi">{{ poi.html_code }}</span>
                    {% else %}
                        <span class="poi {{ poi.classes }}"></span>
                    {% endif %}
                </td>
                <td>
                    {{ poi.categorie.title_i18n }}
                </td>
                <td>
                    {{ poi.i18n }}
                </td>
                <td>
                    {{ poi.description|default_if_none:'' }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
    $(document).ready(() => {
        const options = {
            info: false,
            paging: false,
            columnDefs: [
                {targets: [0, 3], searchtype: "text"},
                {targets: [2], searchtype: "select"},
                {targets: [1, 4], searchtype: "disabled"},
                {targets: [0], width: 60},
                {targets: [1], width: 10},
                {targets: [2], width: 185},
                {targets: [3], width: 185},
                {targets: [4], width: 185}
            ],
            fixedColumns: true,
            order: [[0, "asc"]]
        }
        createDatatable('#pois-list', options, '#data-search', '#data-filter-btn')
    })
    </script>
{% endblock %}
