{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}
    Formulaire de contact
{% endblock %}

{% block page_title %}
<h1>Formulaire de contact</h1>
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="contact-form">
        {% crispy form %}
        {{ form.media }}
        <div class="form-actions">
            <input id="submit-id-send" class="btn btn-primary" type="submit" value="Envoyer" name="send" disabled title="Veuillez renseigner toutes les informations ci-dessus." data-bs-toggle="tooltip">
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    <script>var is_auth = {% if user.is_authenticated %}true{% else %}false{% endif %}</script>
    <script src='{% static "aide/contact.js" %}' type="text/javascript"></script>
{% endblock %}

