{% extends "base.html" %}
{% block content %}
    <ul>
        {% for page in pages %}
            <li>
                <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
