{% extends "base.html" %}
{% load split_tags verbose_tags aide_tags %}

{% block head_title %}Aide / {{ page.title }}{% endblock %}

{% block page_title %}
    <div class="d-flex flex-row justify-content-end align-items-center">
        <h1 class="mr-auto"><a href="/aide/"><i class="aide"></i>Aide</a> / {{ page.title }}</h1>
        <div style="min-width: 265px;">
            <form class="form-inline chosen-mod" action="/aide/" method="post">
                <div class="form-group h-100 mr-4">
                    <input type="text" class="form-control" name="recherche" maxlength="150" id="aide_search" placeholder="Rechercher">
                </div>
                <button class="btn btn-primary" type="submit"><i class="rechercher"></i></button>
            </form>
        </div>
        <h1 class="ml-4"><a href="/aide/" title="Retour au sommaire" data-toggle="tooltip"><i class="retour"></i></a></h1>
    </div>
{% endblock %}

{% block content %}
    {% if not search and count > 1  %}{%  include 'aide/badge_role_departement.html' with object=page %}{% endif %}
    {{ page.get_contentbefore_html }}
    {% if search %}<hr>{% endif %}
    {% if count > 1 %}
        <!-- bof Nav tabs -->
        <ul class="nav nav-tabs">
            {% for group in groups %}
                <li class="nav-item">
                    <a class="nav-link {% if activ_tab == group.title %}active{% endif %}" href="#tab_{{ group.title|slugify }}" aria-controls="home" role="tab" data-toggle="tab">{{ group.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
        <!-- eof Nav tabs -->
        <!-- bof Tab -->
    {% if count >= 1 %}
        <div class="tab-content">
            {% for group in groups %}
                <div role="tabpanel" class="tab-pane {% if activ_tab == group.title %}active{% endif %}" id="tab_{{ group.title|slugify }}">

                    <!-- bof Panels -->
                    <div class="panel-group" id="accordion_{{ group.title|slugify }}" role="tablist" aria-multiselectable="true">
                        {% for panel in panels %}
                            {% if panel|onglet:group.title %}
                                <!-- bof One panel -->
                                <div class="panel ">
                                {% if count > 1 or panels.count > 1 %} <!-- afficher les collapse -->
                                    <div class="panel-heading" role="tab" id="heading{{ panel.pk }}">
                                        <h4 class="panel-title">
                                            <a role="button"
                                               data-toggle="collapse"
                                               href="#collapse{{ panel.pk }}"
                                               aria-expanded="true" aria-controls="collapse{{ panel.pk }}">
                                                <i class="deplier"></i> {{ panel.title|safe }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{ panel.pk }}"
                                         class="panel-collapse collapse{% if focus == panel.pk %} show {% endif %}"
                                         data-parent="#accordion_{{ group.title|slugify }}"
                                         role="tabpanel"
                                         aria-labelledby="heading{{ panel.pk }}">
                                        <div class="panel-body">
                                            {%  include 'aide/badge_role_departement.html' with object=panel %}
                                            {{ panel.content|safe }}
                                            <a href="/aide/{{ page.path}}/{{ panel.pk }}?tab={{ group.pk }}" class="permalink">
                                                <i class="lien"></i></a>

                                            {% for note in panel|note_panneaux:request.user %}
                                                <h2 class="title-note">{{ note.title }}
                                                    {%  include 'aide/badge_role_departement.html' with object=note %}
                                                </h2>
                                                {{ note.get_content_html }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {%  else %}  <!-- afficher directement le contenu -->
                                    {%  include 'aide/badge_role_departement.html' with object=panel %}
                                    {{ panel.content|safe }}
                                {% endif %}
                                </div>
                                <!-- eof One panel -->
                            {% endif %}
                        {% empty %}
                            <div>
                                La rubrique est en cours de rédaction.<br>
                                Nous vous invitons à tenter de la consulter à nouveau ultérieurement.
                            </div>
                        {% endfor %}
                    </div>
                    <!-- eof Panels -->
                </div>
            {% endfor %}
        </div>
    {% endif %}
        <!-- eof Tab -->
    {{ page.get_contentafter_html }}

    {% for note in notes %}
        <h2 class="title-note">{{ note.title }}
            {%  include 'aide/badge_role_departement.html' with object=note %}
        </h2>
        {{ note.get_content_html }}
    {% endfor %}

    <script>
        $('body').on('click', '[data-toggle=collapse]', (function () {
            let div_id = $(this).attr('href');
            let panel_id = div_id.substring(9)
            if (!$(div_id).hasClass('show')) {
                $.get("{% url 'aide:vu-panneau' pk=0 %}".replace('0', panel_id));
            }
        }));
        $(function () {

        })
    </script>

{% endblock %}
