{% extends "base.html" %}
{% load split_tags verbose_tags aide_tags role_tags %}

{% block head_title %}Aide / {{ page.title }}{% endblock %}

{% block page_title %}
    <div class="d-flex flex-row flex-wrap justify-content-end align-items-center">
        <h1 class="me-auto"><a href="/aide/"><i class="aide"></i>Aide</a> / {{ page.title }}</h1>
        {% if request.user|hasgroup:"Page d'aide" or request.user|hasgroup:"_support"  %}
        <a href="/admin/aide/pageaide/{{ page.pk }}/change/" class="float-end me-3" style="margin-top: -5px;" target="_blank" title="Éditer cette page" data-bs-toggle="tooltip"><i class="editer"></i></a>
        {% endif %}
        <div style="min-width: 265px;">
            <form class="row chosen-mod" action="/aide/" method="post">
                <div class="col-8 h-100 me-4">
                    <input type="text" class="form-control" name="recherche" maxlength="150" id="aide_search" placeholder="Rechercher">
                </div>
                <button class="col-2 btn btn-primary" type="submit" id="submit_search"><i class="rechercher"></i></button>
            </form>
        </div>
        <h1 class="ms-4"><a href="/aide/" title="Retour au sommaire" data-bs-toggle="tooltip"><i class="retour"></i></a></h1>
    </div>
{% endblock %}

{% block content %}
    {% if not search and count > 1  %}{%  include 'aide/badge_role_departement.html' with object=page %}{% endif %}
    {{ page.get_contentbefore_html }}
    {% if search %}<hr>{% endif %}
    {% if count > 1 %}
        <!-- bof Nav tabs -->
        <ul class="nav nav-tabs">
            {% for group in groups %}
                <li class="nav-item">
                    <a class="link_tab nav-link {% if activ_tab == group.title %}active{% endif %}" href="#tab_{{ group.title|slugify }}" aria-controls="home" role="tab" data-bs-toggle="tab">{{ group.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
        <!-- eof Nav tabs -->
        <!-- bof Tab -->
    {% if count >= 1 %}
        <div class="tab-content">
            {% for group in groups %}
                <div pk="{{ group.pk }}" role="tabpanel" class="tab-pane {% if activ_tab == group.title %}active{% endif %}" id="tab_{{ group.title|slugify }}">

                    <!-- bof Panels -->
                    <div class="panel-group" id="accordion_{{ group.title|slugify }}" role="tablist" aria-multiselectable="true">
                    <i class="spinner"></i>
                    </div>
                    <!-- eof Panels -->
                </div>
            {% endfor %}
        </div>
    {% endif %}
        <!-- eof Tab -->
    {{ page.get_contentafter_html }}

    {% for note in notes %}
        <h2 class="title-note">{{ note.title }}
            {%  include 'aide/badge_role_departement.html' with object=note %}
        </h2>
        {{ note.get_content_html }}
    {% endfor %}

    <script>
    $( document ).ready(function() {
        $('#submit_search').click(function(e){
            e.preventDefault()
            $(this).parent($('form')).submit()
        })
        if(!$('.tab-pane.active').length){
             $('.tab-pane').first().addClass('active')
             $('.link_tab').first().addClass('active')
        }
        function charge_panels(focus=null){
            let pk = $('.tab-pane.active').attr('pk')
            let id = $('.tab-pane.active').attr('id').split("_")[1]
            let url = focus ? `/aide/panel/${pk}/?focus=${focus}` : `/aide/panel/${pk}/`
            $.get(url, function (e){
                $(`#tab_${id}`).html(e)
            })
        }
        var focus = "{{ focus }}"
        charge_panels(focus)

        $(".link_tab").click(function (e){
           charge_panels();
        })

        $('body').on('click', '[data-bs-toggle=collapse]', (function (e) {
            if ($(this).children('i').hasClass('fa-plus-square')) {
                $(this).children('i').removeClass('fa-plus-square');
                $(this).children('i').addClass('fa-minus-square');
            } else {
                $(this).children('i').removeClass('fa-minus-square');
                $(this).children('i').addClass('fa-plus-square');
            };
            let div_id = $(this).attr('data-bs-target');
            let panel_id = div_id.substring(9)
            if (!$(div_id).hasClass('show')) {
                $.get("{% url 'aide:vu-panneau' pk=0 %}".replace('0', panel_id));
            }
        }));
    });

    </script>

{% endblock %}
