{% load split_tags verbose_tags aide_tags role_tags %}
<div id="accordion_{{ group.pk }}">
{% for panel in panels %}
    <!-- bof One panel -->
    <div class="panel" >
        {% if count > 1 or panels.count > 1 %} <!-- afficher les collapse -->
            <div class="panel-heading" role="tab" id="heading{{ panel.pk }}">
                <h4 class="panel-title">
                    <button class="btn btn_a"
                       data-bs-toggle="collapse"
                       data-bs-target="#collapse{{ panel.pk }}"
                       aria-expanded="true" aria-controls="collapse{{ panel.pk }}">
                        <i class="deplier"></i> {{ panel.title|safe }}
                    </button>
                </h4>
            </div>
            <div id="collapse{{ panel.pk }}"
                 class="panel-collapse collapse{% if focus == panel.pk %} show {% endif %}"
                 data-bs-parent="#accordion_{{ group.pk }}"
                 role="tabpanel"
                 aria-labelledby="heading{{ panel.pk }}">
                <div class="panel-body">
                    {%  include 'aide/badge_role_departement.html' with object=panel %}
                    {{ panel.content|safe }}
                    {% if request.user|hasgroup:"Page d'aide" or request.user|hasgroup:"Note de bas de page d'aide"  or request.user|hasgroup:"_support"  %}
                    <a href="/admin/aide/panneaupageaide/{{ panel.pk }}/change/" class="float-end" style="margin-top: -20px;" target="_blank" title="Éditer ce panneau" data-bs-toggle="tooltip"><i class="editer"></i></a>
                    {% endif %}
                    <a href="/aide/{{ page.path}}/{{ panel.pk }}?tab={{ group.pk }}" class="permalink">
                        <i class="lien"></i></a>

                    {% for note in panel|note_panneaux:request.user %}
                        <h2 class="title-note">{{ note.title }}
                            {%  include 'aide/badge_role_departement.html' with object=note %}
                        </h2>
                        {{ note.get_content_html }}
                    {% endfor %}
                </div>
            </div>
        {%  else %}  <!-- afficher directement le contenu -->
            {%  include 'aide/badge_role_departement.html' with object=panel %}
            {{ panel.content|safe }}
        {% endif %}
    </div>
    <!-- eof One panel -->

{% empty %}
    <div>
        La rubrique est en cours de rédaction.<br>
        Nous vous invitons à tenter de la consulter à nouveau ultérieurement.
    </div>
{% endfor %}

{% if request.user|hasgroup:"Page d'aide" or request.user|hasgroup:"_support"  %}
<a href="/admin/aide/ongletpageaide/{{ group.pk }}/change/" class="float-end mt-2" target="_blank" title="Éditer cet onglet" data-bs-toggle="tooltip"><i class="editer"></i></a>
{% endif %}
</div>

<script>AfficherIcones()</script>




