<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Conflit potentiel de parcours : {{ manif.nom }}</title>
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'portail/css/default.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'carto/cartoVue/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'carto/cartoVue/css/vendors.css' %}">
    <link rel="stylesheet" href="{% static 'carto/cartoVue/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'carto/css/picto-vtm-img.css' %}">

    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/eeefb1c869.js" crossorigin="anonymous"></script>

    <script src="{% static 'libs/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'carto/cartoVue/js/vendors.js' %}"></script>
    <script src="{% static 'carto/cartoVue/js/main.js' %}"></script>
    <script defer src="{% static 'carto/cartoVue/js/conflicts.js' %}"></script>

    <style>
        body {
            display: flex;
            flex-direction: column;
            padding: 0 !important;
        }
        body * {
            box-sizing: border-box;
        }
        .actions {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .conflit {
            display: flex;
            flex-wrap: nowrap;
            margin: auto;
            width: 100vw;
            height: 100vh;
        }

        .conflit > div{
            height: 100%;
        }
        #conflit-editor {
            flex-grow: 1;
        }
        #selecteur {
            width: 300px;
            display: flex;
            flex-direction: column;
        }
        .selecteur-item {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 5px;
            min-width: 0;
        }
        .selecteur-item > span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        #loader {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.3);
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #loader.hide {
            display: none;
        }
        .loader-text {
            color: white;
            font-size: 20px;
            transform: translateY(100px);
        }
        .lds-roller {
          display: inline-block;
          position: relative;
        }
        .lds-roller div {
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          transform-origin: 40px 40px;
        }
        .lds-roller div:after {
          content: " ";
          display: block;
          position: absolute;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: #fff;
          margin: -4px 0 0 -4px;
        }
        .lds-roller div:nth-child(1) {
          animation-delay: -0.036s;
        }
        .lds-roller div:nth-child(1):after {
          top: 63px;
          left: 63px;
        }
        .lds-roller div:nth-child(2) {
          animation-delay: -0.072s;
        }
        .lds-roller div:nth-child(2):after {
          top: 68px;
          left: 56px;
        }
        .lds-roller div:nth-child(3) {
          animation-delay: -0.108s;
        }
        .lds-roller div:nth-child(3):after {
          top: 71px;
          left: 48px;
        }
        .lds-roller div:nth-child(4) {
          animation-delay: -0.144s;
        }
        .lds-roller div:nth-child(4):after {
          top: 72px;
          left: 40px;
        }
        .lds-roller div:nth-child(5) {
          animation-delay: -0.18s;
        }
        .lds-roller div:nth-child(5):after {
          top: 71px;
          left: 32px;
        }
        .lds-roller div:nth-child(6) {
          animation-delay: -0.216s;
        }
        .lds-roller div:nth-child(6):after {
          top: 68px;
          left: 24px;
        }
        .lds-roller div:nth-child(7) {
          animation-delay: -0.252s;
        }
        .lds-roller div:nth-child(7):after {
          top: 63px;
          left: 17px;
        }
        .lds-roller div:nth-child(8) {
          animation-delay: -0.288s;
        }
        .lds-roller div:nth-child(8):after {
          top: 56px;
          left: 12px;
        }
        @keyframes lds-roller {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

    </style>
</head>
<body>
    <div id="loader">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <span class="loader-text">Chargement...</span>
    </div>
    <div class="conflit">
        <div id="conflit-editor"></div>
        <div id="selecteur">
            <button id="btn-close-conflit" type="button" class="btn btn-primary pl-3 text-left mx-3 mb-1">
              <i class="fal fa-times" aria-hidden="true"></i>
              Fermer
            </button>
        </div>
    </div>

    <div id="vueApp"></div>
    <script defer>
    window.printWindow = null
    window.manifPk = "{{ manif.pk }}";
    window.printUrl = "{% url 'carto:route_print' %}"
    window.colorArray = [
        "#A52A2A",
        "#00FFFF",
        "#8A2BE2",
        "#7FFF00",
        "#D2691E",
        "#0000FF",
        "#006400",
        "#FF8C00",
        "#9400D3",
        "#008000",
        "#FF69B4",
        "#4B0082",
        "#20B2AA"
    ]
    window.traces = []

    window.editor

        const closeWindow = () => {
            close()
        }

        window.createSelecteurElement = (id, name, trace) => {
            const item = document.createElement('div');
            item.setAttribute('data-manif-id', id)
            item.setAttribute('data-color', trace.shape.stroke_color)
            item.setAttribute("data-bs-toggle", "tooltip")
            item.setAttribute("data-bs-placement", "left")
            item.setAttribute("title", name)
            item.classList.add('selecteur-item')
            item.style.borderLeft = `15px solid ${trace.shape.stroke_color}`
            item.addEventListener('click', (event) => {
                event.stopPropagation()
                window.editor.selectTrace(trace.id, true, true)
                const temp = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                temp.forEach((el) => {
                    el.style.border = 'none'
                    el.style.borderLeft = `15px solid ${el.getAttribute('data-color')}`
                })
                item.style.border = `1px solid ${item.getAttribute('data-color')}`
                item.style.borderLeft = `15px solid ${item.getAttribute('data-color')}`
            })
            const text = document.createElement('span')
            text.innerText = trace.name
            item.append(text)
            return item
        }

        const closeBtn = document.querySelector('#btn-close-conflit')
        window.loader = document.querySelector('#loader')
        window.selecteurContainer = document.querySelector('#selecteur')
        window.editorSettings = JSON.parse(`{{ openrunnerSettings|safe }}`)
        window.user = JSON.parse(`{{ editorUser|safe }}`)

        closeBtn.addEventListener('click', closeWindow)
    </script>
</body>
</html>