<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>impression</title>
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'carto/cartoVue/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'carto/cartoVue/css/vendors.css' %}">
    <link rel="stylesheet" href="{% static 'carto/cartoVue/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'carto/css/picto-vtm-img.css' %}">

    <script src="https://kit.fontawesome.com/eeefb1c869.js" crossorigin="anonymous"></script>
    <script src="{% static 'carto/cartoVue/js/vendors.js' %}"></script>
    <script src="{% static 'carto/cartoVue/js/main.js' %}"></script>
    <script defer src="{% static 'carto/cartoVue/js/print.js' %}"></script>

    <style>
        @media print {
            body {
                display: block;
                padding: 0;
            }
          body * {
            visibility: hidden;
          }
          .print, .print * {
              visibility: visible;
          }
        }
        @page {
            size: auto !important;
        }
        body {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
        .actions {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .print {
            margin: auto;
        }
        .print-portrait {
            width: 21cm;
            height: 29.7cm;
        }
        .print-landscape {
            width: 25.7cm;
            height: 17cm;
        }
    </style>
</head>
<body>

    <div class="actions">
        <button id="btn-print-carto" class="btn btn-success mx-auto">imprimer</button>
    </div>
    <div class="print">
        <div id="print-editor"></div>
    </div>

    <div id="vueapp"></div>
    <script defer>
        const print = () => {
            window.print()
        }

        const printBtn = document.querySelector('#btn-print-carto');
        window.editorSettings = JSON.parse(`{{ openrunnerSettings|safe }}`)
        window.user = JSON.parse(`{{ editorUser|safe }}`)
        printBtn.addEventListener('click', print)
    </script>
</body>
</html>