{% load instruction_tags %}
{% load i18n %}
{% load static %}
<script>
    const vuejsAppBaseUrl = location.origin;
    const printUrl = "{% url 'carto:route_print' %}"
    const historiqueUrl = "{% url 'carto:route_historique' %}"
    const manifPk = "{{ object.pk }}";
    const editorSettings = JSON.parse(`{{ openrunnerSettings|safe }}`)
    const user = JSON.parse(`{{ editorUser|safe }}`)
    const isInstructeur = `{{ isInstructeur }}` === 'True'
    const isInInstruction = `{{ isInInstruction }}` === 'True'
</script>
{% if showConflits %}
    <div class="accordion mb-2" id="accordion_carto">
        <div class="accordion-item">
        {% if object.get_manifs_meme_jour_meme_ville %}
            <div class="accordion-header" id="headingOne">
                <button type="button"  class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#conflit" aria-controls="collapseOne">
                    <i class="text-danger fas fa-exclamation-triangle fa-fw"></i> Conflit potentiel de parcours
                </button>
            </div>
            <div id="conflit" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion_carto">
                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        <div class="alert alert-warning">
                            {% with conflit=object.get_manifs_meme_jour_meme_ville %}
                                {% if conflit %}
                                    <p>Un risque potentiel de conflit de parcours est identifié avec la (ou les) manifestation(s) suivantes :</p>
                                    <table class="table table-responsive">
                                        <tr>
                                            <th>Nom de la manifestation</th>
                                            <th>Organisateur</th>
                                            <th>État du dossier</th>
                                        </tr>
                                        {% for manifestation in conflit %}
                                            <tr>
                                                <td>{{ manifestation }}</td>
                                                <td>{{ manifestation.structure_organisatrice_fk }}</td>
                                                <td>
                                                    {% include 'evenements/pictos/etat.html' with manif=manifestation %}
                                                    {% if manifestation|get_instruction:request %}
                                                        <a href="{{ manifestation.get_absolute_url }}"
                                                           target='_blank'>
                                                            (accès au dossier)</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    <p>Ceci n'est pas bloquant pour le dépôt de votre dossier, mais nous vous invitons à contacter les autres organisateurs afin d'identifier et résoudre les éventuels problèmes le plus en amont possible.</p>
                                    {% if showconflitslink %}
                                        <a href="{% url 'carto:conflit' pk=object.pk %}"
                                           target='_blank' class="btn btn-warning mt-2"><i class="carto"></i>
                                            Afficher leurs cartographies de parcours</a>
                                    {% elif request.organisation.is_structure_organisatrice %}
                                        <p>( Vous ne pouvez pas afficher les cartographies car le dossier est en cours d'instruction. )</p>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
        {% if object.get_anomalie_commune_parcours_cerfa or object.get_anomalie_departement_parcours_cerfa %}
            <div class="accordion-header" id="anonamlie_tab">
                <button type="button"  class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#anomalie" aria-controls="collapseOne">
                    <i class="text-danger fas fa-exclamation-triangle fa-fw"></i> Incohérences géographiques
                </button>
            </div>
            <div id="anomalie" class="accordion-collapse collapse" aria-labelledby="anonamlie_tab" data-bs-parent="#accordion_carto">
                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        {% include 'evenements/blocs/anomalie_commune_parcours.html' %}
                    </li>
                </ul>
            </div>
        {% endif %}
        </div>
    </div>
{% endif %}
<div id="vueApp" class="text-center pt-3 pb-5"></div>
<div class="mt-5 mb-5"></div>

<script src="{% static 'carto/cartoVue/js/vendors.js' %}"></script>
<script src="{% static 'carto/cartoVue/js/main.js' %}"></script>
<script defer src="{% static 'carto/cartoVue/js/app.js' %}"></script>
