<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Historique</title>
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'carto/cartoVue/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'carto/cartoVue/css/vendors.css' %}">
    <link rel="stylesheet" href="{% static 'carto/cartoVue/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'carto/css/picto-vtm-img.css' %}">

    <script src="https://kit.fontawesome.com/eeefb1c869.js" crossorigin="anonymous"></script>
    <script defer src="{% static 'carto/cartoVue/js/vendors.js' %}"></script>
    <script defer src="{% static 'carto/cartoVue/js/main.js' %}"></script>
    <script defer src="{% static 'carto/cartoVue/js/historiques.js' %}"></script>


    <style>
        body {
            display: flex;
            width: 100vw;
            height: 100vh;
        }
        #historique-editor {
            height: 100%;
            width: auto;
            flex-grow: 1;
        }
        #selecteur {
            min-width: 250px;
            width: 20%;
            height: 100%;
            overflow-y: auto;
        }
        .selecteur-color {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .selecteur-color > i {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
        .trackColor {
            width: 30px;
            visibility: hidden;
        }

        .selecteur-item {
            display: flex;
            min-width: 0;
            font-size: 1.25rem;
            align-items: center;
            cursor: pointer;
        }
        .selecteur-item:hover:not([data-selected="true"]) {
            border-top: 1px solid lightgrey !important;
            border-bottom: 1px solid lightgrey !important;
            border-right: 1px solid lightgrey !important;
        }
        .selecteur-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }
        .selecteur-item button {
            border: none;
            border-radius: 50%;
            background-color: white;
            flex-shrink: 0;
            flex-grow: 0;
            margin: 5px;
        }
        .selecteur-item button:hover {
            background-color: lightgrey;
        }
        .selecteur-name {
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>
        <div id="historique-editor"></div>
        <div id="selecteur"></div>
        <datalist id="colors">

        </datalist>
        <div id="vueApp"></div>
    <script defer>
        window.editor;
        window.selecteur = document.querySelector('#selecteur')

        const findParentWithAttribute = (element, attribute) => {
            if(element.getAttribute && element.getAttribute(attribute)) {
                return element
            }
            return findParentWithAttribute(element.parentNode, attribute)
        }

        const selectTrace = (id) => {
            window.editor.selectTrace(id, true, true)
        }
        const toggleTrace = (id, show) => {
            window.editor.toggleTrace(id, !(show === 'true'))
        }

        const toggleStyleSelected = (element) => {
            if(element.getAttribute('data-selected') === 'true') {
                element.style['border-width'] = `2px 2px 2px 12px`
            } else {
                element.style['border-width'] = `0 0 0 12px`
            }
        }
        const toggleStyleVisible = (element) => {
            const icon = element.querySelector('i')
            if(element.getAttribute('data-toggled') === 'true') {
                icon.classList.remove('fa-eye-slash')
                icon.classList.add('fa-eye')
            } else {
                icon.classList.remove('fa-eye')
                icon.classList.add('fa-eye-slash')
            }
        }
        const updatecolor = (element, color) => {
            element.style['border-color'] = color
        }

        const renderSelecteurElement = (trace) => {
            let item = document.createElement('div')
            item.classList.add('selecteur-item');
            item.setAttribute('data-id', trace.id)
            item.setAttribute('data-toggled', 'false')
            item.setAttribute('data-selected', 'false')
            item.setAttribute('data-action', "select")
            item.style['border-style'] = 'solid'
            item.style['border-width'] = `0 0 0 12px`
            item.style['border-color'] = trace.shape.stroke_color
            item.innerHTML = `
                <div class="selecteur-toggle">
                    <button data-id="${trace.id}" data-action="toggle" data-toggled="false" data-selected="false">
                        <i class="far fa-eye fa-fw" ></i>
                    </button>
                    <div class="selecteur-color">
                        <input class="trackColor" type="color" list="colors" value="${trace.shape.stroke_color}" data-id="${trace.id}">
                        <i data-id="${trace.id}" data-action="color" class="fal fa-palette"></i>
                    </div>
                </div>
                <div class="selecteur-name" title="${trace.name}">
                    ${new Intl.DateTimeFormat('default', {day: 'numeric', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'}).format(new Date(trace.date))}
                </div>
            `
            item.addEventListener('click', (event) => {
                const element = findParentWithAttribute(event.target, 'data-action')
                switch (element.getAttribute('data-action')) {
                    case 'select': selectTrace(parseInt(element.getAttribute('data-id'))); break;
                    case 'toggle': toggleTrace(parseInt(element.getAttribute('data-id')), element.getAttribute('data-toggled')); break;
                    case 'color': element.parentNode.querySelector('input').click(); break;
                }
            })
            item.addEventListener('input', (event) => {
                const element = findParentWithAttribute(event.target, 'data-id')
                window.editor.updateTraceOptions(parseInt(element.getAttribute('data-id')), { color: element.value })
            })
            return item
        }

        window.editorSettings = JSON.parse(`{{ openrunnerSettings|safe }}`)
        window.user = JSON.parse(`{{ editorUser|safe }}`)

        const generateDataList = (colors) => {
            const data = document.querySelector('datalist#colors')
            colors.forEach(color => {
                const option = document.createElement('option')
                option.innerText = color
                data.append(option)
            })
        }

        generateDataList(window.editorSettings.colors)
    </script>
</body>
</html>