{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Compte inactif{% endblock %}
{% block page_title %}
    <h1>Compte inactif</h1>
{% endblock %}

{% block content %}
    <p>Ce compte n'est pas actif.</p>
{% endblock %}
