{% extends "account/base.html" %}

{% load account %}
{% load i18n %}

{% block head_title %}Adresse email confirmée{% endblock %}
{% block page_title %}
    <h1>Adresse email confirmée</h1>
{% endblock %}

{% block content %}
    <p>Votre adresse email est maintenant confirmée !</p>
    {% if valid %}
        <p>Vous pouvez vous connecter dès à présent à la plateforme.</p>
    {% else %}
        <p>Un administrateur va bientôt valider votre compte. Vous recevrez un email pour vous le signaler.</p>
        <p>En attendant cette validation, vous ne <strong>pouvez pas</strong> vous connecter. Merci de patienter...</p>
    {% endif %}
{% endblock %}
