{% extends "base.html" %}

{% load i18n %}
{% load account %}


{% block head_title %}Connexion{% endblock %}
{% block page_title %}
    <h1>Connexion</h1>
{% endblock %}

{% block content %}

    <p>Si vous n'avez pas encore créé de compte, merci de procéder en premier lieu à votre
        <a href="{% url 'inscription_organisateur' %}">inscription</a>.</p>
    {% load crispy_forms_tags %}
    <div class="col-sm-12">
        <form method="POST" class="form-signin" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary" type="submit"><i class="connecter"></i> Se connecter</button>
            <a class="btn btn-dark secondaryAction blink float-end" href="{% url 'account_reset_password' %}"><i class="password"></i>Mot de passe ou pseudonyme oublié ?</a>
        </form>
    </div>
{% endblock %}
