{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}Définir un mot de passe{% endblock %}

{% block content %}
<h1>Définir un mot de passe</h1>
{% load crispy_forms_tags %}
<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" name="action" value="Définir le mot de passe"/>
</form>
{% endblock %}
