{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Réinitialisation de mot de passe{% endblock %}
{% block page_title %}
    <h1>Réinitialisation de mot de passe</h1>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p>Nous vous avons envoyé un email avec un lien unique vous permettant de confirmer que vous êtes le titulaire de cette adresse email.</p>
<p>
    Veuillez vous assurer que vous êtes en capacité de recevoir des emails sur cette adresse et que
    <strong>le domaine manifestationsportive.fr fait partie des domaines autorisés</strong> par votre messagerie.
</p>
<p>
    Si vous n'avez pas reçu notre email d'ici 10 minutes,
    veuillez consultez cette <a href="/aide/probleme-reception-email" target="_blank">page d'aide</a>.
</p>
{% endblock %}
