{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Réinitialisation de mot de passe{% endblock %}
{% block page_title %}
    <h1>Réinitialisation de mot de pase</h1>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p>Vous avez oublié votre mot de passe ? Saisissez votre adresse email dans le champ ci-dessous, et nous vous enverrons un email vous permettant de le réinitialiser.</p>
{% load crispy_forms_tags %}
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="Réinitialiser mon mot de passe" />
</form>
<br/>
<p>
    Veuillez vous assurer que vous êtes en capacité de recevoir des emails sur cette adresse et que
    <strong>le domaine manifestationsportive.fr fait partie des domaines autorisés</strong> par votre messagerie.<br>
    Si vous ne savez pas comment faire, veuillez consultez cette <a href="/aide/probleme-reception-email" target="_blank">page d'aide</a>.
</p>
<p>
    N'hésitez pas à nous contacter si vous avez le moindre problème à réinitialiser votre mot de passe.
</p>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
