{% extends "account/base.html" %}

{% load static i18n %}

{% block head_title %}Inscription{% endblock %}
{% block page_title %}
    <h1>Inscription</h1>
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    {% crispy form form.helper %}
    <div id="confirm_orga" class="alert alert-warning text-center">
        Confirmez-vous être un <strong>organisateur</strong> de manifestation sportive ?<br><br>
        <small><em>(et pas un agent de service consulté)</em></small>
    </div>
    <div id="div_btn_confirm" style="display: flex; justify-content: space-around;">
    <button style="width: 100px; height: 50px;" class="btn btn-primary" id="confirm_oui">Oui</button>
    <button style="width: 100px; height: 50px;" class="btn btn-primary" id="confirm_non">Non</button>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var data = "{{ form.data.commune }}"
        $(document).ready(function () {
            if (!$('.invalid-feedback').length){
                $('form').hide()
                $('#confirm_oui').click(function (e){
                e.preventDefault()
                $('form').show()
                $('#confirm_orga').hide()
                $('#div_btn_confirm').hide()
            })
            $('#confirm_non').click(function (e){
                e.preventDefault()
                $('#div_btn_confirm').html(`<div id="div_btn_confirm" style="display: flex; justify-content: space-around;">
                <a href="/aide/" style="width: 200px;" class="btn btn-primary">Consulter l'aide</a>
                </div>`)
                $('#confirm_orga').html(`Veuillez vous rapprocher de votre service ou de la Préfecture pour prendre connaissance des modalités d'inscription.`)
            })
            } else {
                $('#confirm_orga').hide()
                $('#div_btn_confirm').hide()
            }
            // Si le formulaire échoue, on recharge la liste des communes du departement
            if ($('#id_departement').val() != "") {
                $('#id_departement').trigger("change");
                $('#id_departement').trigger("chosen:updated");  // Obligatoire avec jQuery.chosen
            }
            // cas pour remettre la commune rpecedemment selectionnée en cas de refus du formulaire
            if (data){
                setTimeout(function (){
                    $('#id_commune').val(data)
                    $('#id_commune').trigger("change");
                    $('#id_commune').trigger("chosen:updated");
                },500)
            }
        });
    </script>
{% endblock %}
