{% extends "account/base.html" %}

{% load static i18n %}

{% block head_title %}Inscription{% endblock %}
{% block page_title %}
    <h1>Inscription</h1>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% endblock %}

{% block extra_js %}
    <script src='{% static "portail/js/jquery.liveValidation.js" %}' type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var url_service_complexe = "{% url 'administration:service_complexe' %}";
            $('#id_service').html('<option value="" selected>---------</option>').trigger("chosen:updated");
            $('#id_instance').on('change', function (e) {
                $('#id_service').html('<option value="" selected>Chargement ...</option>').trigger("chosen:updated");
                $.get(url_service_complexe+'?pk='+$(this).val(), function (response) {
                    let rep= JSON.parse(response)
                    let meh = ""
                    for (let i=0; i<rep.length; i++){
                        meh += '<option value="'+rep[i][0]+'">'+rep[i][1]+'</option>'
                    }
                    $('#id_service').html(meh).trigger("chosen:updated")
                });
            });

            var servicedict = {
                "Commune": "#div_id_commune",
                "Prefecture": "#div_id_prefecture",
                "Federation": "#div_id_federation",
                "CG_Service": "#div_id_cgservice",
                "CGD": "#div_id_cgd",
                "Brigade": "#div_id_brigade",
                "Commissariat": "#div_id_commissariat",
                "Compagnie": "#div_id_compagnie",
                "CIS": "#div_id_cis",
                "Association1ersSecours": "#div_id_secours",
                "Service": "#div_id_autre",
            };
            // Cacher les sélections de sous services
            for (var valeur in servicedict) {
                $(servicedict[valeur]).hide();
            }

            // Code pour empecher un agent de ne pas renseigner de services on bloque le submit jusqu'à qu'un service
            // et dans le cas écheant un sous service soit séléctionner.
            $('#submit-id-submit').attr("disabled", true)
            $('.form-control').on('change', function (e) {
                    ok_submit();
            });

            function ok_submit(){
                 if ($('#id_service').val()){
                    let val = $('#id_service').val()
                    if (val==="Prefecture" || val==="Commune" || val==="Federation" || val==="CG_service" || val==="CGD" || val==="Brigade" || val==="Commissariat" || val==="Compagnie" || val==="CIS" || val==="Association1ersSecours" || val==="Service"){
                        if ($('#id_prefecture').val()||$('#id_commune').val()||$('#id_federation').val()||$('#id_cgservice').val()||$('#id_cgd').val()||$('#id_brigade').val()||$('#id_commissariat').val()||$('#id_compagnie').val()||$('#id_cis').val()||$('#id_secours').val()||$('#id_autre').val()){
                            $('#submit-id-submit').attr("disabled", false)
                        }
                        else {
                            $('#submit-id-submit').attr("disabled", true)
                        }
                    }
                 else{
                     $('#submit-id-submit').attr("disabled", false)
                    }

                }
                else {
                    $('#submit-id-submit').attr("disabled", true)
                }
            }

            // Afficher la sélection initiale
            if ($('#id_service').val() != '') {
                $(servicedict[$('#id_service').val()]).toggle();
            }
            // Si le formulaire échoue, on recharge la liste des services du departement
            if ($('#id_instance').val() != "") {
                $('#id_instance').trigger("change");
                $('#id_instance').trigger("chosen:updated");  // Obligatoire avec jQuery.chosen
            }

            // Afficher la sélection sélectionnée
            $('#id_service').on('change', function(e, params) {
                for (var valeur in servicedict) {
                    $(servicedict[valeur]).hide();
                }
                $(servicedict[params.selected]).toggle();
                });
            $("form").liveValidate('/validate/agent_signup/', {event: 'blur'});
        });
    </script>
{% endblock %}