{% extends "account/base.html" %}

{% load static i18n %}

{% block head_title %}Inscription{% endblock %}
{% block page_title %}
    <h1>Inscription</h1>
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    {% crispy form form.helper %}
{% endblock %}

{% block extra_js %}
    <script>
        let ajout
        let url_list = "{% url 'structure:service_list' %}"
        let url_action = ""
        let url_categorie = "{% url 'structure:categorie_list' %}"
        let object_id = "{{ object.id }}"
        let departement_id = "{{ object.instance.get_departement.id }}"
        let modal_title = "Sélectionner un service"
        let alert = "Aucun résultat trouvé avec les filtres sélectionnés."
        let selecteur_multiple = false
        let selecteur_radio = false
        let show_agent = false
        let show_sous_service = true
        let show_old = false
        let action = "selection"
        var secteur = $('#select-instances-modal').val()
        let manif = ""
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#id_service').change(function (){
                $("#div-service-selectione").removeClass('d-none');
                $('#submit-id-submit').removeClass('disabled');
            })

            $('#select-instances-modal').change(function (){
                $("#div-service-selectione").addClass('d-none');
                $('#submit-id-submit').addClass('disabled');

            })

            if ($('id_service_name').val() != "") {
                $('#submit-id-submit').removeClass('disabled');
            }
        });
    </script>
{% endblock %}