{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Vérifiez votre adresse email{% endblock %}
{% block page_title %}
    <h1>Vérifiez votre adresse email</h1>
{% endblock %}

{% block content %}
<p>Nous vous avons envoyé un email de vérification. Suivez le lien fourni dans cet email pour terminer le processus d'inscription.</p>
<p>
    Veuillez vous assurer que vous êtes en capacité de recevoir des emails sur cette adresse et que
    <strong>le domaine manifestationsportive.fr fait partie des domaines autorisés</strong> par votre messagerie.
</p>
<p>
    Si vous n'avez pas reçu notre email d'ici 10 minutes,
    veuillez consultez cette <a href="/aide/probleme-reception-email" target="_blank">page d'aide</a>.
</p>
{% endblock %}
