{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}Vérifiez votre adresse email{% endblock %}
{% block page_title %}
    <h1>Vérifiez votre adresse email</h1>
{% endblock %}

{% block content %}

{% url 'account_email' as email_url %}

<p>Cette section du site nous demande de vérifier votre identité. Pour cela, nous avons besoin que vous confirmiez que votre adresse email vous appartient.</p>

<p>Nous vous avons envoyé un email pour confirmation. Veuillez cliquer sur le lien dans cet email.</p>
<p>
    Veuillez vous assurer que vous êtes en capacité de recevoir des emails sur cette adresse et que
    <strong>le domaine manifestationsportive.fr fait partie des domaines autorisés</strong> par votre messagerie.
</p>
<p>
    Si vous n'avez pas reçu notre email d'ici 10 minutes,
    veuillez consultez cette <a href="/aide/probleme-reception-email" target="_blank">page d'aide</a>.
</p>

<p><strong>Note :</strong> vous avez toujours la possibilité de <a href="{{email_url}}">changer votre adresse email</a>.</p>

{% endblock %}

