<template>
  <button :id="id" :type="type" @click="onClick"
          :class="`big-button btn btn-${color} ${classes} ${disabled ? 'disabled' : ''}`">
    <span class="header">
      <i :class="icon"></i>
    </span>
    <span class="content">
      {{ text }}
    </span>
  </button>
</template>

<script>
export default {
  name: "OBigButton",
  props: {
    id: {type: String, required: true},
    text: {type: String, default: null},
    icon: {type: String, default: null},
    classes: {type: [String, Object], default: ""},
    color: {type: String, default: "primary"},
    type: {type: String, default: 'button'},
    disabled: {type: Boolean, default: false},
  },
  methods: {
    onClick(event) {
      this.$emit("click", event);
    }
  }
};
</script>

<style scoped>
.big-button {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5em;
  row-gap: 1em;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 2em;
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-self: center;
  text-align: center;
}
</style>
