<template>
  <button
      :id="id"
      :class="`btn btn-${color} rounded-icon ${small ? 'btn-sm' : ''} ${big ? 'btn-lg' : ''} ${classes}`"
      :disabled="disabled"
      @click.stop.prevent="handleClick"
  >
    <i :class="icon"/>
  </button>
</template>

<script>
export default {
  name: "RoundedIcon",
  props: {
    id: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      default: 'primary',
    },
    icon: {
      type: String,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    small: {
      type: Boolean,
      default: false,
    },
    big: {
      type: Boolean,
      default: false,
    },
    classes: {
      type: String,
      default: '',
    },
  },
  methods: {
    handleClick(e) {
      if(!this.disabled) {
        this.$emit('click', e)
      }
    }
  },
}
</script>

<style scoped>
.rounded-icon {
  border-radius: 9999px;
}
.rounded-icon > i {
  margin: 0 !important;
}
</style>