<template>
  <component
      :is="tag"
      :id="id"
      :type="role"
      :class="`btn btn-${color} ${block ? 'btn-block' : ''} ${disabled ? 'disabled' : ''} ${classes}`"
      :disabled="disabled"
      :active="active"
      :aria-pressed="active"
      :aria-disabled="disabled"
      @click="handleClick"
  >
    <slot />
  </component>
</template>

<script>
export default {
  name: "SimpleButton",
  props: {
    id: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      default: 'primary',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    tag: {
      type: String,
      default: 'button',
    },
    role: {
      type: String,
      default: 'button',
    },
    classes: {type: String, default: ""},
    block: {
      type: Boolean,
      default: false,
    },
    active: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    handleClick() {
      if(!this.disabled) {
        this.$emit('click')
      }
    },
  },
}
</script>

<style scoped>

</style>