{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}
    Organisation d'une manifestation sportive
{% endblock %}

{% block page_title %}
<br>
<div class="alert alert-info" role="alert">
    Attention :  la plateforme est en cours d'évolution afin de proposer les nouveaux formulaires en lien avec les décrêts 2017. En attendant, les formulaires de la plateforme ont été complété pour prendre en considération tous les éléments requis par la législation.
</div>
{% endblock %}

{% block form %}
    <h1 class="page-header"><i class="dossier"></i>Organisation d'une manifestation sportive
        {% include 'events/event_picto.html' %}
    </h1>
    {% if form.target and form.target.pk %}
        <p><i class="editer"></i> Modification de la manifestation <strong>{{ form.target }}</strong></p>
    {% endif %}

    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="manifestation-form">
        {% if form.target.id %}<input type="hidden" name="id" id="id_id" value="{{ form.target.id }}">{% endif %}
        {% crispy form %}
        {{ form.media }}
        {% for form in inlines %}
            <fieldset>
                <legend>Personne à contacter sur place</legend>
                {% crispy form form.form.helper %}
            </fieldset>
        {% endfor %}
        <div class="form-actions">
            <input id="submit-id-save" class="btn btn-primary" type="submit" value="Enregistrer" name="save">
            </input>
            {% if form.instance.id %}
                <a class="btn btn-danger" href="javascript:history.back()">Annuler</a>
            {% endif %}

        </div>
    </form>
{% endblock %}

{% block extra_js %}
     <script src='{% static "portail/js/file-validator.js" %}' type="text/javascript"></script>
    <script src='{% static "portail/js/he.js" %}' type="text/javascript"></script>
    <script src='{% static "libs/autogrow/jquery.ns-autogrow.min.js" %}' type="text/javascript"></script>
    <script src='{% static "portail/js/jquery.liveValidation.js" %}' type="text/javascript"></script>
    <script src='{% static "events/js/manifestation-form.js" %}' type="text/javascript"></script>
{% endblock %}
