{% extends "base.html" %}


{% load i18n %}

{% block head_title %}{{ object|capfirst }}{% endblock %}
{% block page_title %}
    <h1>{{ object|capfirst }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card ">
                {% if not object.is_visible_in_calendar %}
                    <div class="card-body"><span class="text-danger">La manifestation a été masquée du calendrier public par l'{{ object.private | yesno:"organisateur,instructeur" }}</span></div>
                {% endif %}
                <div class="card-body">{{ object.description|linebreaks }}</div>
                <ul class="list-group">
                    <li class="list-group-item"><strong><i class="date"></i>Début : </strong>{{ object.begin_date|date:"d F Y - H:i" }}</li>
                    <li class="list-group-item"><strong><i class="date"></i>Fin : </strong>{{ object.end_date|date:"d F Y - H:i" }}</li>
                    <li class="list-group-item"><strong><i class="activite"></i> Sport : </strong>{{ object.activite.discipline }} - {{ object.activite }}</li>
                    <li class="list-group-item"><strong><i class="voie-publique"></i> Sur voie publique ou ouverte à la circulation publique : </strong>{{ object.activite|yesno|title }}</li>
                    <li class="list-group-item"><strong><i class="lieu"></i> Commune de départ : </strong>{{ object.departure_city|capfirst }}</li>
                    <li class="list-group-item"><strong><i class="lieu"></i> Communes traversées : </strong>
                        {% for city in object.get_crossed_communes %}
                            {% if forloop.last %}
                                {{ city }}.
                            {% else %}
                                {{ city }},
                            {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            {% if object.show_structure_address %}
                <div class="card-body">
                    <strong>Informations de contact :</strong><br>
                    {% with object.structure as structure %}
                        {{ structure.name }}<br>
                        {{ structure.address }}<br>
                        <span id="ctx-help-insee-code">{{ structure.commune.code }}</span> {{ structure.commune }}<br>
                        {% if structure.website %}<strong>Site web :</strong> {{ structure.website|urlize }}<br>{% endif %}
                        <strong>Téléphone :</strong> {{ structure.phone }}<br>
                    {% endwith %}

                </div>
            {% endif %}
            </div>
        </div>
        {% comment %}
        <div class="col-sm-6">
            {% include 'events/map.html' %}
        </div>
        {% endcomment %}
    </div>
    <a href="{% url 'portail:calendar' %}" class="btn btn-primary">Retour au calendrier des manifestations sportives</a>
{% endblock %}
