{% extends "base.html" %}

{% load i18n %}


{% block head_title %}
    Envoyer un Mail à Tous les Organisateurs
{% endblock %}

{% block page_title %}
    <h1>Envoyer un mail à tout les organisateurs</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <a href='mailto:?bcc={{ mails }}' class="btn btn-primary" role="button"><i class="envoyer"></i>Envoyer un mail à tout les organisateurs</a>
    </div>
{% endblock %}
