{% extends "events/event_detail.html" %}

{% load i18n %}

{% block head_title %}Manifestation Avec Véhicules Terrestres à Moteur{% endblock %}

{% block counter %}
    {% if not object.manifestationautorisation.id %}
        {% include 'events/counter.html' %}
    {% endif %}
{% endblock %}

{% block related_processes %}
    {% if not object.manifestationautorisation.id %}
        {% if object.ready_for_instruction %}
            <div class="card">
                <div class="card-header bg-primary">
                    <i class="action-requise"></i>Actions requises
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'authorizations:authorization_add' manifestation_pk=object.id %}" class="btn" role="button">
                            <i class="ajouter"></i> Demander l'autorisation
                            <i class="autorisation left-margin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="card">
                <div class="card-header bg-primary">
                    <i class="action-requise-blanc"></i>Des pièces manquent au dossier
                </div>
                <div class="card-body">
                    <p>Une fois ces pièces jointes au dossier, vous serez en mesure de d'envoyer la demande d'autorisation</p>
                    <p>Veuillez trouver ci-dessous la liste des pièces manquantes</p>
                </div>
                <ul class="list-group">
                    {% include 'events/missing_documents.html' %}
                    {% if not object.commissioners  %}
                        <li class="list-group-item">Liste des postes commissaires</li>
                    {% endif %}
                    {% if not object.tech_organisateur_certificate %}
                        <li class="list-group-item">Attestation organisateur technique</li>
                    {% endif %}
                    {% if not object.hourly_itinerary %}
                        <li class="list-group-item">Itinéraire horaire</li>
                    {% endif %}
                    {% if not object.participants %}
                        <li class="list-group-item">Liste Complète des participants</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block end_of_process %}
    {% if object.manifestationautorisation.id %}
        {% if object.manifestationautorisation.state == 'published' and object.manifestationautorisation.bylaw %}
            <div class="card">
                <div class="card-header bg-primary">
                    L'arrêté d'autorisation a été publié
                </div>
                <div class="card-body">
                    <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ object.manifestationautorisation.bylaw.url }}" target='_blank'>
                    <i class="arrete"></i> Arrêté d'autorisation</a></li>
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
