<template>
  <div class="container">
    <div class="header">
      <span class="title">Dupliquer un parcours</span>
    </div>
    <div class="content">
      <div class="content-element">
        <v-select
            id="select-duplicate-parcours"
            :options="getLoadedTraces"
            v-model="selected"
            :clearable="false"
            :getOptionLabel="(option) => { return option.name }"
            label="nom du parcours"
            placeholder="Sélectionnez ou tapez le nom d'un parcours"
        >
          <template slot="no-options">
            Aucun parcours trouvé avec ce nom
          </template>
          <template slot="option" slot-scope="option">
          </template>
          <template #selected-option="option">
            <parcours-item :item="option"/>
          </template>
        </v-select>
      </div>
      <div class="content-element">
        <simple-button id="btn-duplicate-parcours" @click="load" :disabled="!(selected)" color="outline-success">{{ btnText }}</simple-button>
      </div>
    </div>
  </div>
</template>

<script>
import ParcoursItem from "@/components/lists/ParcoursItem";
import {Events} from "@/modules/events/Events";
import {mapActions, mapGetters} from "vuex";
import SimpleButton from "@/components/buttons/SimpleButton";

export default {
  name: "DuplicateParcours",
  components: {SimpleButton, ParcoursItem},
  data() {
    return {
      selected: null,
      searchResult: [],
    };
  },
  computed: {
    ...mapGetters("traces", ["getTraces", "getLoadedTraces"]),
    btnText(){
      if(this.selected){
        return "Dupliquer le parcours";
      }
      return "Recherchez un parcours a dupliquer";
    },
    options(){
      return this.searchResult.filter(({id}) => this.getLoadedTraces.some(x => x.id === id))
    },
  },
  methods: {
    ...mapActions(["setLoading"]),
    load() {
      if(this.getLoadedTraces.some(trace => trace.id === this.selected.id)){
        this.setLoading(true);
        this.$emitter.emit(Events.DUPLICATE_TRACE, this.selected.id);
        this.$emit("close");
      }
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  max-height: 500px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 5em;
  margin-bottom: 0.5em;
}

.header .title{
  font-size: 1.5em;
  font-weight: 800;
}
.header .subtitle{
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey-light);
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.content-element {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
  text-align: center;
}
</style>
