<template>
  <div class="container">
    <div class="header">
      <span class="title">Fusionner des parcours</span>
    </div>
    <div class="content">
      <div class="content-element">
        <v-select
            id="select-fusion-parcours"
            :options="searchList"
            @input="addTrace"
            label="name"
            class="select"
            :clearable="false"
            :placeholder="placeholder"
            :value="value"
            :selectable="option => selected.length < 5"
        >
          <template slot="option" slot-scope="option">
            <parcours-item :item="option"/>
          </template>
          <template v-slot:no-options="{ search, searching }">
            <em style="opacity: 0.5;">You need to have loaded parcours to fusionne them.</em>
          </template>
        </v-select>
      </div>
      <div class="content-element">
        <span>Choissisez l'ordre de fusion des parcours :</span>
        <draggable
            class="list-group"
            tag="div"
            v-model="selected"
            v-bind="dragOptions"
            @start="drag = true"
            @end="drag = false"
        >
          <transition-group type="transition" :name="!drag ? 'flip-list' : null">
            <parcours-item
                v-for="element in selected"
                :key="element.id"
                :item="element"
                :border="true"
                closable
                draggable
                @remove="removeTrace"
            >
            </parcours-item>
          </transition-group>
        </draggable>
      </div>
      <div v-if="error" class="content-element">
        <div class="error">{{ error }}</div>
      </div>
      <div class="content-element">
        <simple-button id="btn-fusion-parcours" @click="fusionne" color="outline-success" :disabled="!(selected.length < 6 && selected.length > 1)">{{ btnText }}</simple-button>
      </div>
    </div>
  </div>
</template>

<script>
import ParcoursItem from "@/components/lists/ParcoursItem";
import {Events} from "@/modules/events/Events";
import {mapActions, mapGetters} from "vuex";
import SimpleButton from "@/components/buttons/SimpleButton";

export default {
  name: "FusionParcours",
  components: {SimpleButton, ParcoursItem},
  data() {
    return {
      selected: [],
      error: null,
      drag: false,
      value: null,
    };
  },
  computed: {
    ...mapGetters('traces', ['getLoadedTraces']),
    searchList() {
      return this.getLoadedTraces.filter(({id}) => !this.selected.some(x => x.id === id));
    },
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost",
      };
    },
    btnText() {
      if (this.selected.length < 2) {
        return "vous devez choisir au moins 2 parcours pour pouvoir les fusionner";
      } else if (this.selected.length > 5) {
        return "vous devez choisir au maximum 5 parcours pour pouvoir les fusionner";
      } else {
        return "Fusionner les parcours";
      }
    },
    placeholder() {
      if (this.selected.length >= 5) {
        return "Nombre maximum de parcours a fusionner atteins";
      } else {
        return "Choissisez des parcours a fusionner";
      }
    },
  },
  methods: {
    ...mapActions(["setLoading"]),
    addTrace(trace) {
      this.selected.push(trace);
    },
    removeTrace(toRemove) {
      this.selected = this.selected.filter(trace => !(trace.id === toRemove.id));
    },
    fusionne() {
      const ids = this.selected.map(trace => (trace.id));
      this.$emitter.emit(Events.FUSION_TRACES, ids);
      this.$emit("close");
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  max-height: 500px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 5em;
  margin-bottom: 0.5em;
}

.header .title {
  font-size: 1.5em;
  font-weight: 800;
}

.header .subtitle {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey-light);
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.content-element {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
  text-align: center;
}

.select {
  width: 100%;
}

.error {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #cf5e5e;
  color: #cf5e5e;
}
</style>
