<template>
  <div class="container">
    <div class="header">
      <rounded-icon
          id="btn-gpx-back"
          v-if="step !== 'upload'"
          icon="fal fa-chevron-left"
          classes="gpx-back-button"
          @click="getToLastStep"
      />
      <span class="title">Chargement de fichiers gpx</span>
      <span class="subtitle">Plusieurs fichiers peuvent être fusionné</span>
    </div>
    <div class="content">
      <div class="content-element">
        <circle-loader v-show="loading" />
        <transition>
          <upload-file-card v-if="step === 'upload'" @loading="setLoading" @loaded="setLoadedData" />
          <select-import-type v-else-if="step === 'select'" @type="setType" />
          <import-tracks v-else-if="step === 'import'" :type="type" :traces="importedData.traces" :waypoints="importedData.waypoints" @loading="setLoading" @import="importTracks" />
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import ParcoursItem from "@/components/lists/ParcoursItem";
import SimpleButton from "@/components/buttons/SimpleButton";
import RoundedIcon from "@/components/buttons/RoundedIcon";
import CircleLoader from "@/components/loaders/CircleLoader";
import UploadFileCard from "@/components/popup/importGpx/cards/UploadFileCard";
import SelectImportType from "@/components/popup/importGpx/cards/SelectImportType";
import ImportTracks from "@/components/popup/importGpx/cards/ImportTracks";
import {Events} from "@/modules/events/Events";

export default {
  name: "ImportGpx",
  components: {
    ImportTracks,
    SelectImportType,
    UploadFileCard,
    CircleLoader,
    RoundedIcon,
    SimpleButton,
    ParcoursItem,
  },
  data() {
    return {
      stepList: ['upload', 'select', 'import', 'fusion'],
      type: 'import',
      loading: false,
      step: 'upload',
      importedData: [],
    };
  },
  computed: {
    uploadDisabled() {
      return this.files.length === 0;
    },
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost",
      };
    },
    error(){
      if(this.files.length < 5) {
        return null;
      }
      return "Nombre de fichier max atteins";
    },
  },
  methods:{
    getToLastStep() {
      const stepIdx = this.stepList.findIndex(step => step === this.step)
      this.step = this.stepList[stepIdx - 1]
    },
    setLoading(loading) {
      this.loading = loading
    },
    setType(type) {
      this.type = type
      this.setStep('import')
    },
    setStep(step) {
      this.step = step
    },
    setLoadedData(data) {
      this.importedData = data
      if(data.traces.length === 1) {
        this.importTracks(data)
      } else {
        this.setStep('select')
      }
    },
    importTracks(data) {
      this.setLoading(true)
      this.$emitter.emit(Events.LOAD_GPX, data)
      this.setLoading(false)
      this.$emit('close')
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 5em;
  margin-bottom: 0.5em;
}
.header .title{
  font-size: 1.5em;
  font-weight: 800;
}
.header .subtitle{
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey-light);
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
}
.content-element {
  display: flex;
  justify-content: center;
  padding: 0 1em;
}

.drag-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5em;
}
input{
  display: none;
}
.drop{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 200px;
  border-radius: 15px;
  border: 1px solid var(--grey);
  padding: 1em;
}
.drop:hover{
  cursor: pointer;
  box-shadow: 0 0 10px 0 var(--black);
}

.list{
  width: 90%;
  flex-grow: 1;
}
.no-file{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  font-size: 1.5em;
  font-weight: 900;
}
.error{
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  color: var(--red);
  font-size: 1.5em;
  font-weight: 900;
}
.help{
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey-light);
}
.gpx-back-button {
  position: absolute;
  top: 0;
  left: 0;
}
</style>
