<template>
  <div class="container">
    <div class="header">
      <span class="title">Liste de vos parcours</span>
    </div>
    <div class="content">
      <div class="content-element">
        <v-select
            :options="searchResult"
            v-model="selected"
            label="name"
            :placeholder="loading ? 'Chargement en cours...' : 'Sélectionnez ou tapez le nom d\'un parcours'"
            filterable
            :loading="loading"
            :filterBy="filterBy"
            :clearable="false"
        >
          <template slot="no-options">
            Aucun parcours trouvé
          </template>
          <template v-slot:option="option">
            {{ option.name }} ({{ option.id }})
          </template>
          <template #selected-option="{ name, id }">
            {{ name }} ({{ id }})
          </template>
        </v-select>
      </div>
      <div class="content-element">
        <simple-button v-if="selected" id="btn-load-parcours-search" @click="load" color="outline-success" :disabled="!(selected)">{{ btnText }}</simple-button>
      </div>
    </div>
  </div>
</template>

<script>
import ParcoursItem from "@/components/lists/ParcoursItem";
import {Events} from "@/modules/events/Events";
import {mapActions, mapGetters, mapState} from "vuex";
import SimpleButton from "@/components/buttons/SimpleButton";

export default {
  name: "SearchParcours",
  components: {SimpleButton, ParcoursItem},
  data() {
    return {
      selected: null,
      searchResult: [],
      loading: true,
    };
  },
  computed: {
    ...mapState("traces", {
      traces: "traces",
    }),
    ...mapGetters(["isInstructeur"]),
    btnText(){
      if(this.selected){
        return "Chargez le parcours";
      }
      return "Recherchez un parcours a charger";
    },
  },
  mounted() {
    this.search()
  },
  methods: {
    ...mapActions(["setLoading"]),
    search() {
      this.$api.searchTrace(this.isInstructeur).then(body => {
        this.searchResult = body.results;
        this.loading = false;
      }).catch(err => console.error(err));
    },
    filterBy(option, label, search) {
      return option.name.toLocaleLowerCase().indexOf(search.toLocaleLowerCase()) > -1 || (""+option.id).indexOf(search.toLocaleLowerCase()) > -1
    },
    load() {
      if(!this.traces.some(trace => trace.id === this.selected.id)){
        this.setLoading(true);
        this.$emitter.emit(Events.LOAD_OLD_TRACE, this.selected);
        this.$emit("close");
      }
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  max-height: 500px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 5em;
  margin-bottom: 0.5em;
}

.header .title{
  font-size: 1.5em;
  font-weight: 800;
}
.header .subtitle{
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey-light);
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.content-element {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
  text-align: center;
}
</style>

<style>
/*overide manif style*/
.vs__search, .vs__search:focus {
    -webkit-appearance: none !important;
    -moz-appearance: none!important;
    appearance: none!important;
    line-height: 1.4!important;
    font-size: 1em!important;
    border: 1px solid transparent!important;
    border-left: none!important;
    outline: none!important;
    margin: 4px 0 0!important;
    padding: 0 7px!important;
    background: none!important;
    box-shadow: none!important;
    width: 0!important;
    max-width: 100%!important;
    flex-grow: 1!important;
    z-index: 1!important;
}
</style>
