<template>
  <custom-transition is="transition" name="modal">
    <modal ref="add">
      <div class="v-modal-header">
        <h4>Créer un nouveau parcours à partir de :</h4>
        <span class="or-close-icon topright" @click.stop="close"><i class="fas fa-times"></i></span>
      </div>
      <div class="v-modal-content">
        <o-big-button v-if="isModeEdition" id="btn-create-new-parcours" text="Créer nouveau parcours vierge" icon="fa fa-plus-hexagon" @click="addNew" color="outline-secondary" />
        <o-big-button v-if="isModeEdition || isInstructeur" id="btn-open-search-parcours" text="Charger ancien parcours" icon="fa fa-search" @click="loadTrace" color="outline-secondary" :class="`${show === 'search' ? 'active' : ''}`" />
        <o-big-button v-if="isModeEdition" id="btn-open-duplicate-parcours" text="Dupliquer parcours déjà chargé" icon="far fa-folders fa-fw" @click="duplicateTraces" color="outline-secondary" :class="`${show === 'duplicate' ? 'active' : ''}`" />
        <o-big-button v-if="isModeEdition" id="btn-open-fusion-parcours" text="Fusionner des parcours" icon="fa fa-code-merge" @click="fusionneTraces" color="outline-secondary" :class="`${show === 'fusion' ? 'active' : ''}`" />
        <o-big-button v-if="isModeEdition || isInstructeur" id="btn-open-import-gpx" text="Charger fichier GPX" icon="fa fa-upload" @click="loadGpx" color="outline-secondary" :class="`${show === 'gpx' ? 'active' : ''}`" />
      </div>
      <div v-if="show !== ''" class="v-modal-footer">
        <fusion-parcours v-if="show === 'fusion'" @close="close" />
        <search-parcours v-if="show === 'search'" @close="close" />
        <import-gpx v-if="show === 'gpx'" @close="close" />
        <duplicate-parcours v-if="show === 'duplicate'" @close="close" />
      </div>
    </modal>
  </custom-transition>
</template>

<script>
import OBigButton from "@/components/buttons/OBigButton";
import FusionParcours from "@/components/forms/parcours/FusionParcours";
import ImportGpx from "@/components/forms/parcours/ImportGpx";
import SearchParcours from "@/components/forms/parcours/SearchParcours";
import Modal from "@/components/popup/Modal";
import {Events} from "@/modules/events/Events";
import CustomTransition from "@/transitions/CustomTransition";
import {mapActions, mapGetters} from "vuex";
import DuplicateParcours from "@/components/forms/parcours/DuplicateParcours";
export default {
  name: "AddParcoursModal",
  components: {
    DuplicateParcours,
    ImportGpx,
    SearchParcours,
    FusionParcours,
    Modal,
    CustomTransition,
    OBigButton,
  },
  data(){
    return {
      show: null,
    };
  },
  computed: {
    ...mapGetters(["isModeEdition", "isInstructeur"]),
  },
  methods:{
    ...mapActions('traces', ["addTrace"]),
    ...mapActions(["setLoading"]),
    open(){
      this.$refs.add.open();
    },
    close(){
      this.show = "";
      this.$refs.add.close();
    },
    addNew() {
      this.$emitter.emit(Events.LOAD_TRACE, null);
      this.close();
    },
    duplicateTraces(){
      this.show = "duplicate";
    },
    loadTrace() {
      this.show = "search";
    },
    fusionneTraces() {
      this.show = "fusion";
    },
    loadGpx() {
      this.show = "gpx";
    },
  },
};
</script>

<style scoped>
.v-modal-header{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 15px;
}
.v-modal-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1em;
  padding: 1em 2em 2em 2em;
  margin: auto;
}
.v-modal-footer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 1em;
  padding: 0.5em 2em 2em 2em;
  border-top: 1px solid darkgray;
}
</style>
