<template>
  <custom-transition is="transition" name="modal">
    <modal ref="confirm">
      <div class="modal-header">
        <div class="title">Etes vous sur de vouloir décharger ce parcours?</div>
        <colored-text classes="subtitle" :color="getTraceColor(item.id)" :text='`"${item.name}"`' />
        <div class="subtitle alert-info">Vous perdez toute vos modification non enregistré.</div>
      </div>
      <div class="modal-footer">
        <o-big-button id="btn-unload-parcours" text="Décharger" icon="far fa-minus-octagon fa-fw" color="danger" @click="unloadParcours" />
        <o-big-button id="btn-cancel-unload" text="Annuler" icon="far fa-times-square fa-fw" @click="close" />
      </div>
    </modal>
  </custom-transition>
</template>

<script>
import OBigButton from "@/components/buttons/OBigButton";
import FusionParcours from "@/components/forms/parcours/FusionParcours";
import ImportGpx from "@/components/forms/parcours/ImportGpx";
import SearchParcours from "@/components/forms/parcours/SearchParcours";
import TextInput from "@/components/forms/TextInput";
import Modal from "@/components/popup/Modal";
import ColoredText from "@/components/text/ColoredText";
import {Events} from "@/modules/events/Events";
import CustomTransition from "@/transitions/CustomTransition";
import {mapActions, mapGetters} from "vuex";
export default {
  name: "ConfirmUnloadPopup",
  components: {
    ColoredText,
    TextInput,
    ImportGpx,
    SearchParcours,
    FusionParcours,
    Modal,
    CustomTransition,
    OBigButton,
  },
  props: {
    item: {type: Object, required: true},
  },
  data(){
    return {
      expanded: null,
      name: this.item.name,
      description: this.item.description,
    };
  },
  computed: {
    ...mapGetters('traces', ['getTraceColor']),
  },
  methods:{
    ...mapActions(["setLoading"]),
    open(){
      this.$refs.confirm.open();
    },
    close(){
      this.expanded = false;
      this.$refs.confirm.close();
    },
    unloadParcours(){
      this.$emitter.emit(Events.REMOVE_TRACE, { id: this.item.id, deleted: false })
      this.close();
    }
  },
};
</script>

<style scoped>
.modal-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  row-gap: 10px;
  padding-top: 10px;
}
.modal-content{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 1em;
  padding: 1em 2em 0.5em 2em;
}
.modal-footer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 1em;
  padding: 0.5em 2em 2em 2em;
}
.title{
  font-size: 20px;
  font-weight: 700;
}
.subtitle{
  font-size: 15px;
}
</style>
