<template>
  <div id="modal" v-if="show" @click.stop="backDropClick">
    <div id="modal-container">
      <div id="modal-content" @click.stop>
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "modal",
  props: {
    closeOnBackdrop: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      show: false,
    };
  },
  methods: {
    close() {
      this.show = false;
    },
    open() {
      this.show = true;
    },
    backDropClick() {
      if (this.closeOnBackdrop) {
        this.close();
      }
    },
  },
};
</script>

<style>

#modal {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border-radius: 0;
}
#modal-container {
  display: block;
  justify-content: center;
  align-content: center;
  align-self: center;
}
#modal-content {
  cursor: default;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
}


.modal-close{
  cursor: pointer;
  position: absolute;
  top:0;
  right: 0;
  margin: 0.5em 0.5em 0 0;
  padding: 0.5em;
  border-radius: 50%;
}
.modal-close:hover{
  background-color: var(--grey-lighter);
}
</style>
