<template>
  <custom-transition is="transition" name="modal">
    <modal ref="save">
      <div class="modal-header">
        <div class="title">Enregistrer le parcours</div>
        <colored-text classes="subtitle" :color="getTraceColor(item.id)" :text='`"${item.name}"`' />
        <span class="modal-close" @click.stop="close"><i class="fas fa-times"></i></span>
      </div>
      <form @submit.stop.prevent="saveParcours">
        <div class="modal-content">
          <text-input id="save-parcours-name" label="Nom du parcours" :value="name" maxlength="100" required @input.stop="nameInput"/>
        </div>
        <div class="modal-content">
          <text-input icon="far fa-sticky-note fa-fw" id="save-parcours-description" label="Description du parcours" :value="description" required @input.stop="descriptionInput"/>
        </div>
        <div class="modal-footer">
          <o-big-button id="btn-save-parcours" :text="getBtnText" icon="fas fa-save" type="submit" />
          <o-big-button v-if="item.a_modifier" id="btn-stop-editing" text="Enregistrer ET envoyer" icon="fas fa-save" @click.stop="finaliseEdit" />
        </div>
      </form>
    </modal>
  </custom-transition>
</template>

<script>
import OBigButton from "@/components/buttons/OBigButton";
import FusionParcours from "@/components/forms/parcours/FusionParcours";
import ImportGpx from "@/components/forms/parcours/ImportGpx";
import SearchParcours from "@/components/forms/parcours/SearchParcours";
import TextInput from "@/components/forms/TextInput";
import Modal from "@/components/popup/Modal";
import ColoredText from "@/components/text/ColoredText";
import {Events} from "@/modules/events/Events";
import CustomTransition from "@/transitions/CustomTransition";
import {mapActions, mapGetters} from "vuex";
export default {
  name: "SaveParcoursModal",
  components: {
    ColoredText,
    TextInput,
    ImportGpx,
    SearchParcours,
    FusionParcours,
    Modal,
    CustomTransition,
    OBigButton,
  },
  props: {
    item: {type: Object, required: true},
  },
  data(){
    return {
      expanded: null,
      name: this.item.name,
      description: this.item.description,
    };
  },
  computed: {
    ...mapGetters('traces', ["getTraceColor"]),
    getBtnText() {
      if(this.item.a_modifier) {
        return 'Enregistrer SANS envoyer'
      }
      return 'Enregistrer'
    }
  },
  methods:{
    ...mapActions(["setLoading"]),
    open(){
      this.$refs.save.open();
    },
    close(){
      this.expanded = false;
      this.$refs.save.close();
    },
    nameInput(event){
      this.name = event.target.value;
    },
    descriptionInput(event){
      this.description = event.target.value;
    },
    saveParcours(){
      this.setLoading(true);
      this.$emitter.emit(Events.SAVE_TRACE, {id: this.item.id, name: this.name, description: this.description});
      this.close();
    },
    finaliseEdit() {
      if(this.item.is_archived) {
        this.$emitter.emit(Events.SAVE_ARCHIVED_TRACE, {
          id: this.item.id,
        });
      } else {
        this.$emitter.emit(Events.SAVE_TRACE, {
          id: this.item.id,
          name: this.name,
          description: this.description,
          finalize: true
        });
      }
      this.close();
    }
  },
};
</script>

<style scoped>
.modal-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  row-gap: 10px;
  padding-top: 10px;
}
.modal-content{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 1em;
  padding: 1em 2em 0.5em 2em;
}
.modal-footer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 1em;
  padding: 0.5em 2em 2em 2em;
}
.title{
  font-size: 20px;
  font-weight: 700;
}
.subtitle{
  font-size: 15px;
}
</style>
