<template>
  <div class="tooltip-content" :style="{maxWidth: width, maxHeight: height}">
    <header>
      <slot name="header"></slot>
      <span v-if="closabled" v-close-popover class="close"><i class="fas fa-times"></i></span>
    </header>
    <main>
      <slot name="main"></slot>
    </main>
    <footer>
      <slot name="footer"></slot>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'Tooltip',
  props: {
    width: {type: String, default: "300px"},
    height: {type: String, default: "350px"},
    closabled: {type: Boolean, default: true},
  }
};
</script>

<style scoped>
.tooltip-content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  column-gap: 1em;
}

.close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
}
.close:hover{
  background-color: var(--grey-lighter);
}
</style>
