{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'carto/cartoVue/css/app.css' %}">
<link rel="stylesheet" href="{% static 'carto/cartoVue/css/vendors.css' %}">
<link rel="stylesheet" href="{% static 'carto/cartoVue/css/main.css' %}">
<link rel="stylesheet" href="{% static 'carto/css/picto-vtm-img.css' %}">

<script src="https://kit.fontawesome.com/2ea5407091.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/eeefb1c869.js" crossorigin="anonymous"></script>

<div id="carto" >

</div>

<script src="{% static 'portail/js/ajax-init-crsf.js' %}"></script>
<script>
    $.get("{% url 'carto:carto_ajax' %}?manif={{ object.pk }}", function (data) {
        $('#carto').html(data)
    })
</script>