{% load i18n file_tags thumbnail_filter %}

<div class="text-end m-1">Dans l'ordre antéchronologique</div>
<ul class="list-group">
    {% for document in object.get_doc_officiels|dictsortreversed:"date_depot" %}
        <li class="list-group-item">
            <i class="{{ document.get_nature_icon }}"></i>
            <span style="font-weight: bold; font-size: large">{{ document.get_nature_nom }} {% if object.instance_instruites.count > 1 %} - {{ document.instruction.instance }}{% endif %}</span>
            <blockquote>
                Déposé le : {{ document.date_depot }}<br>
                par : {{ document.utilisateur.get_service }} ({{ document.utilisateur.last_name }} {{ document.utilisateur.first_name }})<br>
                {% if document.scan_antivirus and document.fichier %}
                Fichier : <a href="{{ document.fichier.url }}" target="_blank">{{ document.fichier|basename }}</a>&nbsp;&nbsp;
                <span data-bs-toggle="tooltip" data-placement="auto" data-html="true" class="badge bg-info"
                      title="<img src='{{ document.fichier|thumbnail }}'>"><i class="afficher no-right-margin text-white"></i>
                </span>
                {% elif document.scan_antivirus %}Fichier supprimé pour raison de sécurité
                {% else %}Traitement du fichier en cours...{% endif %}
            </blockquote>
        </li>
    {% endfor %}
</ul>
