{% load static %}
{% load i18n file_tags thumbnail_filter description get_history verbose_tags %}

{% if sans_avis_fede and service.is_structure_organisatrice or sans_avis_fede and consult and not object.get_instruction %}
    {% include 'evenements/blocs/sans_avis_fede.html' %}
{% endif %}
{% if object.autorisation_hors_delai_json %}
    <div class="alert alert-info">
        <p><strong>Autorisation de dépôt hors délai</strong> accordée le {{ object.autorisation_hors_delai_json.date }}
            par {{ object.autorisation_hors_delai_json|objet_user }} du
            service {{ object.autorisation_hors_delai_json|objet_service }}.</p>
    </div>
{% endif %}
{% if service.is_structure_organisatrice %}
    <div class="float-end">
        {% if not object.en_cours_instruction and object.structure_organisatrice_fk == service %}
            <a href="{{ object.get_absolute_url }}edit/?dept={{ object.get_departement_depart_nom }}"
               class="btn btn-primary" role="button"><i class="editer"></i> Modifier</a>
        {% endif %}
    </div>
{% endif %}
<p>Formulaire conforme à la déclaration de :</p>
<div class="row mb-2">
    <div class="col-6 libelle">Classement, chronométrage, horaire fixé à l'avance :</div>
    <div class="col-6">{{ object.competition|iconic|safe }}</div>
</div>
{% if object.circuit %}
    <div class="row mb-2">
        <div class="col-6 libelle">Site de pratique :</div>
        <div class="col-6">{{ object.get_circuit_display }}</div>
    </div>
{% endif %}
<div class="row mb-2">
    <div class="col-6 libelle">Emprise sur voie publique :</div>
    <div class="col-6">{{ object.get_emprise_display }}</div>
</div>
<div class="row mb-2">
    <div class="col-6 libelle">À la date du :</div>
    <div class="col-4">{{ object.date_creation }}</div>
</div>
{% if object.get_instruction %}
    <hr/>
    <div class="row mb-2">
        <div class="col-6 libelle">Date de dépot du dossier :</div>
        <div class="col-6">{{ object.get_instruction.date_creation }}</div>
    </div>
{%  else %}
    <div class="alert alert-warning text-center"><i class="attention"></i> Ce dossier n'est pas encore envoyé au service instructeur.</div>
{% endif %}
{% if acces_consult and service.is_structure_organisatrice %}
    {% for acces in acces_consult %}
        <div class="row mb-2 acces" id="acces_{{ acces.id }}">
            <div class="col-6">Le dossier est accessible en lecture par :</div>
            <div class="col-6 {% if acces.createur == request.user  %}service{% endif %}">{{ acces.organisation }}</div>
        </div>
    {% endfor %}
{% endif %}
<br>

<h2 class="desc_manif row mb-2 ms-1 champ manif position-relative" id="nom">
    <div class="ms-0 ps-0 col-11">{{ object.nom }}</div>
    <div style="right: 0" class="col-1 ms-auto valeur"></div>
</h2>
<div class="row mb-2 champ manif" id="date_debut">
    <div class="col-6 libelle"><i class="date"></i>{{ object|verbose_attr:'date_debut'|capfirst }} :</div>
    <div class="col-6 valeur">{{ object.date_debut }} {{ object|get_history:"date_debut"|safe }}</div>
</div>
<div class="row mb-2 champ manif" id="date_fin">
    <div class="col-6 libelle"><i class="date"></i>{{ object|verbose_attr:'date_fin'|capfirst }} :</div>
    <div class="col-6 valeur">{{ object.date_fin }} {{ object|get_history:"date_fin"|safe }}</div>
</div>
<div class="row mb-2 champ manif" id="description">
    <div class="col-6 libelle">{{ object|verbose_attr:'description'|capfirst }} :</div>
    <div class="col-6 valeur">{{ object.description|linebreaksbr }}  {{ object|get_history:"description"|safe }}</div>
</div>
<div class="row mb-2 champ manif" id="observation">
    <div class="col-6 libelle">{{ object|verbose_attr:'observation'|capfirst }} :</div>
    <div class="col-6 valeur">{{ object.observation|linebreaksbr }} {{ object|get_history:"observation"|safe  }}</div>
</div>
<div class="row mb-2 champ manif" id="activite">
    <div class="col-6 libelle"><i class="activite"></i>{{ object|verbose_attr:'activite'|capfirst }} :</div>
    <div class="col-6 valeur">{{ object.activite.discipline }}  {{ object|get_history:"discipline"|safe }} - {{ object.activite }} {{ object|get_history:"activite"|safe }}</div>
</div>
{% if object.cerfa.consultFederation and not object.dans_calendrier%}
    <div class="row mb-2 champ manif" id="avec_convention_fede">
        <div class="col-6 libelle">{{ object.cerfa|verbose_attr:'avec_convention_fede'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.cerfa.avec_convention_fede|iconic|safe }} {{ object|get_history:"avec_convention_fede"|safe }}</div>
    </div>
{% endif %}
{% if not object.dnm and not object.dnmc and not object.dvtm and not object.cerfa.avec_convention_fede %}
    <div class="row mb-2 champ manif" id="dans_calendrier">
        <div class="col-6 libelle"><i class="date"></i>{{ object|verbose_attr:'dans_calendrier'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.dans_calendrier|iconic|safe }} {{ object|get_history:"dans_calendrier"|safe }}</div>
    </div>
{% endif %}
<div class="row mb-2 champ manif" id="ville_depart">
    <div class="col-6 libelle"><i class="lieu"></i>{{ object|verbose_attr:'ville_depart'|capfirst }} :</div>
    <div class="col-6 valeur">{{ object.ville_depart|capfirst }} {{ object|get_history:"ville_depart"|safe }}</div>
</div>
{% if not object.dvtmcir %}
    <div class="row mb-2 champ manif" id="villes_traversees">
        <div class="col-6 libelle"><i class="lieu"></i>{{ object|verbose_attr:'villes_traversees'|capfirst }} :</div>
        <div class="col-6 valeur">
            {% for city in object.villes_traversees.all %}
                {% if forloop.last %}
                    {{ city }}.
                {% else %}
                    {{ city }},
                {% endif %}
            {% endfor %}  {{ object|get_history:"villes_traversees"|safe }}
        </div>
    </div>
    <div class="row mb-2 champ manif" id="departements_traverses">
        <div class="col-6 libelle">{{ object|verbose_attr:'departements_traverses'|capfirst }} :</div>
        <div class="col-6 valeur">
            {% for departement in object.departements_traverses.all %}
                {% if forloop.last %}
                    {{ departement }}.
                {% else %}
                    {{ departement }},
                {% endif %}
            {% endfor %}  {{ object|get_history:"departements_traverses"|safe }}
        </div>
    </div>
    {% include 'evenements/blocs/anomalie_commune_parcours.html' %}

{% endif %}
{% if object.ville_depart_interdep %}
    {% for ville in object.ville_depart_interdep %}
        <div class="row mb-2 champ manif" id="ville_depart_interdep_{{ ville.departement_pk }}">
            <div class="col-6 libelle"><i class="lieu"></i> Communes de départ pour le département {{ ville.departement_name }} :</div>
            <div class="col-6 valeur">{{ ville.commune_name }}
                {% get_history_pk object "ville_depart_interdep" pk=ville.departement_pk as txt %}{{ txt|safe }}</div>
        </div>
    {% endfor %}
{% endif %}
{% if object.departements_traverses.all %}
    <div class="row mb-2">
        <div class="col-6 text-end">Départements où ce dossier peut être pris en charge par cette plateforme :</div>
        <div class="col-6">
            {% for instance in object.instance_instruites.all %}
                {% if forloop.last %}
                    {{ instance.departement }}.
                {% else %}
                    {{ instance.departement }},
                {% endif %}
            {% endfor %}
            {#        TODO utile ? #}
        </div>
    </div>
    {% if object.get_departement_non_pris_en_charge %}
        <div class="row mb-2">
            <div class="col-6 text-end">Veuillez prendre contact avec le service instructeur des départements suivants
                afin de connaitre la démarche à suivre en dehors de cette plateforme :</div>
            <div class="col-6">
                {% for dep in object.get_departement_non_pris_en_charge %}{{ dep }}{% if not forloop.last %}, {% endif %}{% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}
<div class="row mb-2 champ manif" id="nb_participants">
    <div class="col-6 libelle">{{ object|verbose_attr:'nb_participants'|capfirst }} :</div>
    <div class="col-6 valeur">{{ object.nb_participants }} {{ object|get_history:"nb_participants"|safe }}</div>
</div>
<div class="row mb-2 champ manif" id="nb_spectateurs">
    <div class="col-6 libelle">{{ object|verbose_attr:'nb_spectateurs'|capfirst }} :</div>
    <div class="col-6 valeur">{{ object.nb_spectateurs }} {{ object|get_history:"nb_spectateurs"|safe }}</div>
</div>
<div class="row mb-2 champ manif" id="nb_organisateurs">
    <div class="col-6 libelle" id="lib_nb_organisateurs">{{ object|verbose_attr:'nb_organisateurs'|capfirst }} :</div>
    <div class="col-6 valeur" id="val_nb_organisateurs">{{ object.nb_organisateurs }} {{ object|get_history:"nb_organisateurs"|safe }}</div>
</div>
{% if object.dvtm.nb_personnes_pts_rassemblement %}
    <div class="row mb-2 champ manif" id="nb_personnes_pts_rassemblement">
        <div class="col-6 libelle">{{ object.dvtm|verbose_attr:'nb_personnes_pts_rassemblement'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.dvtm.nb_personnes_pts_rassemblement }} {{ object|get_history:"nb_personnes_pts_rassemblement"|safe }}</div>
    </div>
{% endif %}
{% if not object.dvtmcir %}
    <div class="row mb-2 champ manif" id="nb_vehicules_accompagnement">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'nb_vehicules_accompagnement'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.nb_vehicules_accompagnement }} {{ object|get_history:"nb_vehicules_accompagnement"|safe }}</div>
    </div>
{% endif %}
{% if object.dnm or object.dnmc or object.dcnm or object.dcnmc %}
    <div class="row mb-2 champ manif" id="depart_groupe">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'depart_groupe'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.depart_groupe|iconic|safe }} {{ object|get_history:"depart_groupe"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="circul_groupe">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'circul_groupe'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.circul_groupe|iconic|safe }} {{ object|get_history:"circul_groupe"|safe }}</div>
    </div>
{% endif %}
{% if object.cerfa.vehicules %}
    <div class="row mb-2 champ manif" id="vehicules">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'vehicules'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.vehicules }} {{ object|get_history:"vehicules"|safe }}</div>
    </div>
{% endif %}
<br>

<h2 class="desc_manif">Organisateur</h2>
<div class="row mb-2">
    <div class="col-6 text-end">Déclarant :</div>
    <div class="col-6">{{ object.declarant.get_full_name }}</div>
</div>
<div class="row mb-2">
    <div class="col-6 text-end">Structure :</div>
    <div class="col-6">{{ object.structure_organisatrice_fk|capfirst }} ({{ object.structure_organisatrice_fk.type_organisation_fk.nom_s }})</div>
</div>
<div class="row mb-2">
    <div class="col-6 text-end">Adresse :</div>
    <div class="col-6">{{ object.structure_organisatrice_fk.adresse_s }}, {{ object.structure_organisatrice_fk.commune_m2m.first.zip_code }} {{ object.structure_organisatrice_fk.commune_m2m.first|upper }}</div>
</div>
<div class="row mb-2">
    <div class="col-6 text-end">Numéro de téléphone :</div>
    <div class="col-6">{{ object.structure_organisatrice_fk.telephone_s }}</div>
</div>
<div class="row mb-2">
    <div class="col-6 text-end">E-mail :</div>
    <div class="col-6">{{ object.structure_organisatrice_fk.email_s }}</div>
</div>
<br>

{% if object.dnm or object.dnmc or object.dcnm or object.dcnmc %}
    <h2 class="desc_manif">Coordonnateur Sécurité</h2>
{% else %}
    <h2 class="desc_manif">Organisateur Technique</h2>
{% endif %}
<div class="row mb-2 champ manif" id="{% if object.get_cerfa.vehicules %}technique_nom{% else %}securite_nom{% endif %}">
    <div class="col-6 libelle">Nom :</div>
    <div class="col-6 valeur">{{ object.get_cerfa.technique_nom|capfirst }}{{ object.get_cerfa.securite_nom|capfirst }} {{ object|get_history:"technique_nom"|safe }}</div>
</div>
<div class="row mb-2 champ manif" id="{% if object.get_cerfa.vehicules %}technique_prenom{% else %}securite_prenom{% endif %}">
    <div class="col-6 libelle">Prénom :</div>
    <div class="col-6 valeur">{{ object.get_cerfa.technique_prenom|capfirst }}{{ object.get_cerfa.securite_prenom|capfirst }} {{ object|get_history:"technique_prenom"|safe }}</div>
</div>
<div class="row mb-2 champ manif" id="{% if object.get_cerfa.vehicules %}technique_tel{% else %}securite_tel{% endif %}">
    <div class="col-6 libelle">Numéro de téléphone :</div>
    <div class="col-6 valeur">{{ object.get_cerfa.technique_tel }}{{ object.get_cerfa.securite_tel }} {{ object|get_history:"technique_tel"|safe }} {{ object|get_history:"securite_tel"|safe }}</div>
</div>
<div class="row mb-2 champ manif" id="{% if object.get_cerfa.vehicules %}technique_email{% else %}securite_email{% endif %}">
    <div class="col-6 libelle">E-mail :</div>
    <div class="col-6 valeur">{{ object.get_cerfa.technique_email }}{{ object.get_cerfa.securite_email }} {{ object|get_history:"technique_email"|safe }} {{ object|get_history:"securite_email"|safe }}</div>
</div>
<br>

{% if object.dnm or object.dnmc or object.dcnm or object.dcnmc %}
    <h2 class="desc_manif">Régime de circulation publique</h2>
    {#  Partie non visible pour les Dcnmc PAS épreuve de masse #}
    {%  if object.is_not_dncmc_sans_masse %}
        <div class="row mb-2 champ manif" id="respect_code_route">
            <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'respect_code_route'|capfirst }} :</div>
            <div class="col-6 valeur">{{ object.get_cerfa.respect_code_route|iconic|safe }} {{ object|get_history:"respect_code_route"|safe }}</div>
        </div>
        <div class="row mb-2 champ manif" id="respect_code_route_detail">
            <div class="col-6 libelle">voies empruntées et horaires de passage <span class="mx-1">&#8629;</span> :</div>
            <div class="col-6 valeur">{{ object.get_cerfa.respect_code_route_detail }} {{ object|get_history:"respect_code_route_detail"|safe }}</div>
        </div>
        <div class="row mb-2 champ manif" id="priorite_passage">
            <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'priorite_passage'|capfirst }} :</div>
            <div class="col-6 valeur">{{ object.get_cerfa.priorite_passage|iconic|safe }} {{ object|get_history:"priorite_passage"|safe }}</div>
        </div>
        <div class="row mb-2 champ manif" id="priorite_passage_detail">
            <div class="col-6 libelle">voies empruntées et horaires de passage <span class="mx-1">&#8629;</span> :</div>
            <div class="col-6 valeur">{{ object.get_cerfa.priorite_passage_detail }} {{ object|get_history:"priorite_passage_detail"|safe }}</div>
        </div>
    {%  endif %}
    <div class="row mb-2 champ manif" id="usage_temporaire">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'usage_temporaire'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.usage_temporaire|iconic|safe }} {{ object|get_history:"usage_temporaire"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="usage_temporaire_detail">
        <div class="col-6 libelle">voies empruntées et horaires de passage <span class="mx-1">&#8629;</span> :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.usage_temporaire_detail }} {{ object|get_history:"usage_temporaire_detail"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="usage_privatif">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'usage_privatif'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.usage_privatif|iconic|safe }} {{ object|get_history:"usage_privatif"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="usage_privatif_detail">
        <div class="col-6 libelle">voies empruntées et horaires de passage <span class="mx-1">&#8629;</span> :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.usage_privatif_detail }} {{ object|get_history:"usage_privatif_detail"|safe }}</div>
    </div>
    <br>
{% endif %}

{% if object.dnm or object.dnmc or object.dcnm or object.dcnmc %}
    <h2 class="desc_manif">Dispositif de sécurité</h2>
    <div class="row mb-2 champ manif" id="vehicule_ouverture">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'vehicule_ouverture'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.vehicule_ouverture|iconic|safe }} {{ object|get_history:"vehicule_ouverture"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="vehicule_debut">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'vehicule_debut'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.vehicule_debut|iconic|safe }} {{ object|get_history:"vehicule_debut"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="vehicule_fin">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'vehicule_fin'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.vehicule_fin|iconic|safe }} {{ object|get_history:"vehicule_fin"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="vehicule_organisation">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'vehicule_organisation'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.vehicule_organisation|iconic|safe }} {{ object|get_history:"vehicule_organisation"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="nb_signaleurs">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'nb_signaleurs'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.nb_signaleurs }} {{ object|get_history:"nb_signaleurs"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="nb_signaleurs_fixes">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'nb_signaleurs_fixes' }} <span class="mx-1">&#8629;</span> :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.nb_signaleurs_fixes }} {{ object|get_history:"nb_signaleurs_fixes"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="nb_signaleurs_autos">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'nb_signaleurs_autos' }} <span class="mx-1">&#8629;</span> :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.nb_signaleurs_autos }} {{ object|get_history:"nb_signaleurs_autos"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="nb_signaleurs_motos">
        <div class="col-6 libelle">{{ object.get_cerfa|verbose_attr:'nb_signaleurs_motos'}} <span class="mx-1">&#8629;</span> :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.nb_signaleurs_motos }} {{ object|get_history:"nb_signaleurs_motos"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="police_municipale">
        <div class="col-6 libelle">Encadrement de la police municipale :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.police_municipale|iconic|safe }} {{ object|get_history:"police_municipale"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="detail_police_municipale">
        <div class="col-6 libelle">moyens affectés <span class="mx-1">&#8629;</span> :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.detail_police_municipale }} {{ object|get_history:"detail_police_municipale"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="police_nationale">
        <div class="col-6 libelle">Convention avec la police nationale ou la gendarmerie :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.police_nationale|iconic|safe }} {{ object|get_history:"police_nationale"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="detail_police_nationale">
        <div class="col-6 libelle">moyens affectés <span class="mx-1">&#8629;</span> :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.detail_police_nationale }} {{ object|get_history:"detail_police_nationale"|safe }}</div>
    </div>
    <br>
{% endif %}

{% if not object.dvtmcir %}
    <h2 class="desc_manif">Balisage</h2>
    <div class="row mb-2 champ manif" id="convention_balisage">
        <div class="col-6 libelle">Vous êtes signataire de la charte du balisage temporaire :</div>
        <div class="col-6 valeur">{{ object.convention_balisage|iconic|safe }} {{ object|get_history:"convention_balisage"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="balisage">
        <div class="col-6 libelle">Description du Balisage :</div>
        <div class="col-6 valeur">{{ object.get_cerfa.balisage }} {{ object|get_history:"balisage"|safe }}</div>
    </div>
    <br>

    <h2 class="desc_manif">Évaluation d'incidences Natura2000</h2>
    <div class="row mb-2 champ manif" id="gros_budget">
        <div class="col-6 libelle">{{ object|verbose_attr:'gros_budget'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.gros_budget|iconic|safe }} {{ object|get_history:"gros_budget"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="lucratif">
        <div class="col-6 libelle">{{ object|verbose_attr:'lucratif'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.lucratif|iconic|safe }} {{ object|get_history:"lucratif"|safe }}</div>
    </div>
    {% if not object.dnm and not object.dnmc %}
        <div class="row mb-2 champ manif" id="delivrance_titre">
            <div class="col-6 libelle">{{ object|verbose_attr:'delivrance_titre'|capfirst }} :</div>
            <div class="col-6 valeur">{{ object.delivrance_titre|iconic|safe }} {{ object|get_history:"delivrance_titre"|safe }}</div>
        </div>
    {% endif %}
    <div class="row mb-2 champ manif" id="vtm_hors_circulation">
        <div class="col-6 libelle">{{ object|verbose_attr:'vtm_hors_circulation'|capfirst }} :</div>
        <div class="col-6 valeur">{{ object.vtm_hors_circulation|iconic|safe }} {{ object|get_history:"vtm_hors_circulation"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="signature_charte_dispense_site_n2k">
        <div class="col-6 libelle">Signature d'une charte de dispense pour le site Natura 2000 :</div>
        <div class="col-6 valeur">{{ object.signature_charte_dispense_site_n2k|iconic|safe }} {{ object|get_history:"signature_charte_dispense_site_n2k"|safe }}</div>
    </div>
    <div class="row mb-2 champ manif" id="sites_natura2000">
        <div class="col-6 libelle">Sites Natura 2000 traversés par la manifestation :</div>
        <div class="col-6 valeur">
            {% for site in object.sites_natura2000.all %}
                {% if forloop.last %}
                    {{ site }}.
                {% else %}
                    {{ site }},
                {% endif %}
            {% endfor %} {{ object|get_history:"sites_natura2000"|safe }}
        </div>
    </div>
    <div class="row mb-2 champ manif" id="lieux_pdesi">
        <div class="col-6 libelle">Lieux inscrits dans le PDESI traversés par la manifestation :</div>
        <div class="col-6 valeur">
            {% for lieu in object.lieux_pdesi.all %}
                {% if forloop.last %}
                    {{ lieu }}.
                {% else %}
                    {{ lieu }},
                {% endif %}
            {% endfor %} {{ object|get_history:"lieux_pdesi"|safe }}
        </div>
    </div>
    <div class="row mb-2 champ manif" id="zones_rnr">
        <div class="col-6 libelle">Zones RNR traversées par la manifestation :</div>
        <div class="col-6 valeur">
            {% for zone in object.zones_rnr.all %}
                {% if forloop.last %}
                    {{ zone }}.
                {% else %}
                    {{ zone }},
                {% endif %}
            {% endfor %} {{ object|get_history:"zones_rnr"|safe }}
        </div>
    </div>
    {% if object.demande_homologation %}
        <div class="row mb-2 champ manif" id="demande_homologation">
            <div class="col-6 libelle">{{ object|verbose_attr:'demande_homologation'|capfirst }} :</div>
            <div class="col-6 valeur">{{ object.demande_homologation|iconic|safe }} {{ object|get_history:"demande_homologation"|safe }}</div>
        </div>
    {% endif %}
    <br>
{% endif %}

<h2 class="desc_manif">Personne à contacter sur place</h2>
<div class="row mb-2 champ manif" id="nom_contact">
    <div class="col-6 libelle">Nom :</div>
    <div class="col-6 valeur">{{ object.nom_contact|capfirst }} {{ object|get_history:"nom_contact"|safe }}</div>
</div>
<div class="row mb-2 champ manif" id="prenom_contact">
    <div class="col-6 libelle">Prénom :</div>
    <div class="col-6 valeur">{{ object.prenom_contact|capfirst }} {{ object|get_history:"prenom_contact"|safe }}</div>
</div>
<div class="row mb-2 champ manif" id="tel_contact">
    <div class="col-6 libelle">Téléphone :</div>
    <div class="col-6 valeur">{{ object.tel_contact }} {{ object|get_history:"tel_contact"|safe }}</div>
</div>

{% if service.is_structure_organisatrice and not object.en_cours_instruction %}
    <div class="text-end">
        <a href="{{ object.get_absolute_url }}delete/" class="btn btn-danger" role="button">
            <i class="supprimer"></i> Supprimer ce dossier
        </a>
    </div>
{% endif %}

<script>
    // Accès en lecture
    $('.acces').each(function () {
        $(this).children('.service').append('<span class="float-end del_acces" style="display:none;"><i class="fas fa-times"></i></span>');
        $(this).find('.del_acces').css("cursor", "pointer").attr({
            'data-bs-toggle': 'tooltip',
            'data-bs-original-title': 'Cliquez pour révoquer l\'accès en lecture'
        });
    });
    // Afficher au survol
    $('body').on('mouseover', '.acces', function () {
        $(this).find('span[class$=del_acces]').show('fast');
    });
    $('body').on('mouseleave', '.acces', function () {
        $(this).find('span[class$=del_acces]').hide('fast');
    });
    $('body').on('click', 'span[class$=del_acces]', function () {
        let id_acces = $(this).parents('.acces').attr('id').split('_')[1]
        $.ajax({
            url: "/instructions/acces/" + id_acces +"/remove/",
            type: 'POST',
            dataType: 'html'
        }).done(function () {window.location.reload(true)});
    });
</script>
