{% load static %}
{% load i18n file_tags thumbail_filter %}
<ul class="list-group mb-3">
    {% if object.date_creation %}
        <li class="list-group-item">Date de création du dossier
            : {{ object.date_creation }}</li>
    {% endif %}
    {% if object.instruction %}
        <li class="list-group-item">Date de dépot du dossier : {{ object.instruction.date_creation }}</li>
    {%  else %}
        <li class="list-group-item">Attention : ce dossier n'a pas été envoyé.</li>
    {% endif %}
</ul>

{% if user.organisateur %}
    <div class="card-body text-right">
        {% if not object.en_cours_instruction %}
            <a href="{{ object.get_absolute_url }}edit/?dept={{ object.get_departement_depart_nom }}"
               class="btn btn-primary" role="button"><i class="editer"></i> Modifier</a>
        {% endif %}
    </div>
{% endif %}
<ul class="list-group mb-3">
    {% if object.description %}
        <li class="list-group-item">Description :<br>{{ object.description|linebreaksbr }}</li>
    {% endif %}
    {% if object.observation %}
        <li class="list-group-item">Observations :<br>{{ object.observation|linebreaksbr }}</li>
    {% endif %}
</ul>
<ul class="list-group mb-3">
    {% block associated_process %}{% endblock %}
    <li class="list-group-item"><i class="date"></i>Début : {{ object.date_debut }}</li>
    <li class="list-group-item"><i class="date"></i>Fin : {{ object.date_fin }}</li>
    <li class="list-group-item"><i class="activite"></i> Activité : {{ object.activite.discipline }} - {{ object.activite }}</li>
    {% if object.dcnm %}
        <li class="list-group-item"> Affilié à la fédération délégataire de la discipline pratiquée : {{ object.dcnm.affiliation|yesno|title }}</li>
    {% endif %}
    <li class="list-group-item"><i class="date"></i>La manifestation est inscrite sur le calendrier de la fédération
        délégataire de la discipline : {{ object.dans_calendrier|yesno|title }}</li>
    <li class="list-group-item"><i class="lieu"></i> Commune de départ : {{ object.ville_depart|capfirst }}</li>
    <li class="list-group-item"><i class="lieu"></i> Communes traversées :
        {% for city in object.villes_traversees.all %}
            {% if forloop.last %}
                {{ city }}.
            {% else %}
                {{ city }},
            {% endif %}
        {% endfor %}
    </li>
    <li class="list-group-item">Autres départements traversés par la manifestation :
        {% for departement in object.departements_traverses.all %}
            {% if forloop.last %}
                {{ departement }}.
            {% else %}
                {{ departement }},
            {% endif %}
        {% endfor %}
    </li>
    <li class="list-group-item">Places spectateurs : {{ object.nb_spectateurs }}</li>
    <li class="list-group-item">Nombre de participants : {{ object.nb_participants }}</li>
    <li class="list-group-item">Nombre d'organisateurs : {{ object.nb_organisateurs }}</li>
    {% if object.dvtm.nb_personnes_pts_rassemblement %}
        <li class="list-group-item">Nombre de personnes aux points de rassemblement : {{ object.dvtm.nb_personnes_pts_rassemblement }}</li>
    {% endif %}
    {% if object.dnm or object.dnmc or object.dcnm or object.dcnmc %}
        <li class="list-group-item">Départ groupé des participants : {{ object.get_cerfa.depart_groupe|yesno|title }}</li>
        <li class="list-group-item">Circulation groupée des participants: {{ object.get_cerfa.circul_groupe|yesno|title }}</li>
    {% endif %}
    {% if not object.avtmcir %}
        <li class="list-group-item">Nombre de véhicules d'accompagnement : {{ object.get_cerfa.nb_vehicules_accompagnement }}</li>
    {% endif %}
    {% if object.avtmcir.type_support %}
        <li class="list-group-item">Type de support : {{ object.avtmcir.get_type_support_display }}</li>
        <li class="list-group-item">Circuit homologué : {{ object.avtmcir.circuit_homologue|yesno:"Oui,Non" }}</li>
    {% endif %}
    {% if object.cerfa.vehicules %}
        <li class="list-group-item">Nombre de véhicules : {{ object.get_cerfa.vehicules }}</li>
    {% endif %}
</ul>
<div class="card-header">
    <i class="organisateur"></i> Organisateur
</div>
<ul class="list-group mb-3">
    <li class="list-group-item">Déclarant : {{ object.structure.organisateur.user.get_full_name }}</li>
    <li class="list-group-item">Structure : {{ object.structure|capfirst }} ({{ object.structure.type_of_structure }})</li>
    <li class="list-group-item">Adresse : {{ object.structure.address }}, {{ object.structure.commune.zip_code }} {{ object.structure.commune|upper }}</li>
    <li class="list-group-item">Numéro de téléphone : {{ object.structure.phone }}</li>
    <li class="list-group-item">E-mail : {{ object.structure.organisateur.user.email }}</li>
</ul>
<div class="card-header">
    {% if object.dnm or object.dnmc or object.dcnm or object.dcnmc %}
        Coordonnateur Sécurité
    {% else %}
        Organisateur Technique
    {% endif %}
</div>
<ul class="list-group mb-3">
    <li class="list-group-item">Nom : {{ object.get_cerfa.technique_nom|capfirst }}{{ object.get_cerfa.securite_nom|capfirst }}</li>
    <li class="list-group-item">Prénom : {{ object.get_cerfa.technique_prenom|capfirst }}{{ object.get_cerfa.securite_prenom|capfirst }}</li>
    <li class="list-group-item">Numéro de téléphone : {{ object.get_cerfa.technique_tel }}{{ object.get_cerfa.securite_tel }}</li>
    <li class="list-group-item">E-mail : {{ object.get_cerfa.technique_email }}{{ object.get_cerfa.securite_email }}</li>
</ul>
{% if object.dnm or object.dnmc or object.dcnm or object.dcnmc %}
    <div class="card-header">
        Régime de circulation publique
    </div>
    <ul class="list-group mb-3">
        {% if object.get_cerfa.respect_code_route %}
            <li class="list-group-item">Respect du code de la route : {{ object.get_cerfa.respect_code_route|yesno|title }}</li>
            {% if object.get_cerfa.respect_code_route_detail != '' %}
                <li class="list-group-item">Voies empruntées et horaires de passage : {{ object.get_cerfa.respect_code_route_detail }}</li>
            {% endif %}
        {% endif %}
        {% if object.get_cerfa.priorite_passage %}
            <li class="list-group-item">Priorité de passage : {{ object.get_cerfa.priorite_passage|yesno|title }}</li>
            {% if object.get_cerfa.priorite_passage_detail != '' %}
                <li class="list-group-item">Voies empruntées et horaires de passage : {{ object.get_cerfa.priorite_passage_detail }}</li>
            {% endif %}
        {% endif %}
        {% if object.get_cerfa.usage_temporaire %}
            <li class="list-group-item">Usage exclusif temporaire de la chaussée : {{ object.get_cerfa.usage_temporaire|yesno|title }}</li>
            {% if object.get_cerfa.usage_temporaire_detail != '' %}
                <li class="list-group-item">Voies empruntées et horaires de passage : {{ object.get_cerfa.usage_temporaire_detail }}</li>
            {% endif %}
        {% endif %}
        {% if object.get_cerfa.usage_privatif %}
            <li class="list-group-item">Usage privatif de la chaussée : {{ object.get_cerfa.usage_privatif|yesno|title }}</li>
            {% if object.get_cerfa.usage_privatif_detail != '' %}
                <li class="list-group-item">Voies empruntées et horaires de passage : {{ object.get_cerfa.usage_privatif_detail }}</li>
            {% endif %}
        {% endif %}
    </ul>
{% endif %}
{% if object.dnm or object.dnmc or object.dcnm or object.dcnmc %}
    <div class="card-header">
        Dispositif de sécurité
    </div>
    <ul class="list-group mb-3">
            <li class="list-group-item">Présence d'un véhicule d'ouverture (véhicule "pilote") :
                {{ object.get_cerfa.vehicule_ouverture|yesno|title }}</li>
            <li class="list-group-item">Présence d'un véhicule de début de course (véhicule "tête de course") :
                {{ object.get_cerfa.vehicule_debut|yesno|title }}</li>
            <li class="list-group-item">Présence d'un véhicule de fin de course :
                {{ object.get_cerfa.vehicule_fin|yesno|title }}</li>
            <li class="list-group-item">Présence d'autres véhicules d'organisation (auto ou moto) :
                {{ object.get_cerfa.vehicule_organisation|yesno|title }}</li>
    </ul>
    <ul class="list-group mb-3">
        <li class="list-group-item">Nombre de signaleurs : {{ object.get_cerfa.nb_signaleurs }}</li>
        {% if object.get_cerfa.nb_signaleurs and object.get_cerfa.nb_signaleurs != 0 %}
            <li class="list-group-item">En postes fixes : {{ object.get_cerfa.nb_signaleurs_fixes }}</li>
            <li class="list-group-item">Mobiles en voitures : {{ object.get_cerfa.nb_signaleurs_autos }}</li>
            <li class="list-group-item">Mobiles en motos : {{ object.get_cerfa.nb_signaleurs_motos }}</li>
        {% endif %}
    </ul>
    <ul class="list-group mb-3">
            <li class="list-group-item">Encadrement de la police municipale : {{ object.get_cerfa.police_municipale|yesno|title }}</li>
            {% if object.get_cerfa.police_municipale %}
                <li class="list-group-item">Moyens affectés : {{ object.get_cerfa.detail_police_municipale }}</li>
            {% endif %}
            <li class="list-group-item">Convention avec la police nationale ou la gendarmerie : {{ object.get_cerfa.police_nationale|yesno|title }}</li>
            {% if object.get_cerfa.police_nationale %}
                <li class="list-group-item">Moyens affectés : {{ object.get_cerfa.detail_police_nationale }}</li>
            {% endif %}
    </ul>
{% endif %}

<div class="card-header">
    Balisage
</div>
<ul class="list-group mb-3">
    <li class="list-group-item">Vous êtes signataire de la charte du balisage temporaire : {{ object.convention_balisage|yesno|title }}</li>
    {% if object.balisage %}
        <li class="list-group-item">Description du Balisage : {{ object.get_cerfa.balisage }}</li>
    {% endif %}
</ul>
<div class="card-header">
    Évaluation d'incidences Natura2000
</div>
<ul class="list-group mb-3">
    {% if object.gros_budget %}
        <li class="list-group-item">Le budget de la manifestation excède 100 000 €</li>
    {% endif %}
    {% if object.lucratif %}
        <li class="list-group-item">Manifestation présentant un caractère lucratif et regroupant sur un même site plus de 1 500 personnes</li>
    {% endif %}
    {% if object.delivrance_titre %}
        <li class="list-group-item">Manifestation donnant lieu à la délivrance d'un titre national ou international</li>
    {% endif %}
    {% if object.vtm_hors_circulation %}
        <li class="list-group-item">Manifestation avec engagement de véhicules terrestres à moteur se déroulant en dehors des voies ouvertes à la circulation
        </li>
    {% endif %}
    {% if object.signature_charte_dispense_site_n2k %}
        <li class="list-group-item">Signature d'une charte de dispense pour le site Natura 2000</li>
    {% endif %}
    {% for site in object.sites_natura2000.all %}
        {% if forloop.first %}
            <li class="list-group-item">Sites Natura 2000 traversés par la manifestation :
            {{ site }},
         {% elif forloop.last %}
            {{ site }}.</li>
        {% else %}
            {{ site }},
        {% endif %}
    {% endfor %}
    {% for lieu in object.lieux_pdesi.all %}
        {% if forloop.first %}
            <li class="list-group-item">Lieux inscrits dans le PDESI traversés par la manifestation :
            {{ lieu }},
         {% elif forloop.last %}
            {{ lieu }}.</li>
        {% else %}
            {{ lieu }},
        {% endif %}
    {% endfor %}
    {% for lieu in object.zones_rnr.all %}
        {% if forloop.first %}
            <li class="list-group-item">Zones RNR traversées par la manifestation :
            {{ lieu }},
         {% elif forloop.last %}
            {{ lieu }}.</li>
        {% else %}
            {{ lieu }},
        {% endif %}
    {% endfor %}
    {% if object.demande_homologation %}
        <li class="list-group-item">Manifestation avec demande d'homologation d'un circuit de sports motorisés</li>
    {% endif %}
</ul>
{% if object.nom_contact %}
    <div class="card-header">
        <i class="telephone"></i> Personne à contacter sur place
    </div>
    <ul class="list-group mb-3">
        <li class="list-group-item">
            {{ object.prenom_contact|capfirst }} {{ object.nom_contact|capfirst }} - {{ object.tel_contact }}
        </li>
    </ul>
{% endif %}
{% if user.organisateur %}
        <a href="{{ object.get_absolute_url }}delete/"
           class="btn btn-danger float-right" role="button"><i class="supprimer"></i> Supprimer ce dossier</a>
{% endif %}
