{% load static thumbnail_filter file_tags %}

<ul class="list-group mb-4">
    {% if manif.get_type_manif == "avtm" %}
        <h2 class="alert alert-dark">
            Avis des autres départements
        </h2>
        <div id="accordion_prefecture">
        {% for instruction in manif.instruction.all %}
            {% if instruction.instruction_principale %}
                 {% include 'instructions/avis_prefecture_description.html'  with object=instruction.get_avis_prefecture %}
            {% endif %}
        {% endfor %}
        </div>
    {% else %}
        <h2 class="alert alert-dark">
            État des instructions dans tous les départements
        </h2>
        {% for instruction in manif.instruction.all %}
            <li class="list-group-item" style="display: flex; align-items: center;">
                Instruction du département {{ instruction.instance.departement }}
                {% if instruction.referent %}
                    ( instructeur : {{ instruction.referent.get_full_name }} )
                {% endif %}
                <div style="margin-left: auto;">
                    {% if instruction.etat == 'demandée' %}<i class="demandee fa-lg"></i>{% endif %}
                    {% if instruction.etat == 'distribuée' %}<i class="distribuee fa-lg"></i>{% endif %}
                    {% if instruction.etat == 'autorisée' %}<i class="autorisee fa-lg"></i>{% endif %}
                    {% if instruction.etat == 'interdite' %}<i class="interdite fa-lg"></i>{% endif %}
                    {% if instruction.etat == 'annulée' %}<i class="annulee fa-lg"></i>{% endif %}
                </div></li>
        {% endfor %}
    {% endif %}
</ul>