{% load static %}
<div id="webmail" >

</div>

    <script src="{% static 'portail/js/ajax-init-crsf.js' %}"></script>
    <script>


    $.get("{% url 'messagerie:messagerie' %}?manif={{ object.pk }}", function (data) {
        $('#webmail').html(data)


    })



    </script>