{% load i18n onglet_instruction %}
{% if not object.dvtmcir %}
<li class="nav-item"><button class="nav-link link_onglet" id="carto_onglet" data-bs-target="#descriptioncarto" data-bs-toggle="pill">
    <i class="carto"></i>Cartographie</button></li>
{% endif %}
{% if object.rnrevaluation %}
    <li class="nav-item"><button class="nav-link link_onglet " data-bs-target="#rnr" data-bs-toggle="pill">
        <i class="feuille"></i>EI simplifée RNR</button></li>
{% endif %}
{% if request.organisation.is_structure_organisatrice and object.n2kevaluation or not request.organisation.is_structure_organisatrice and object.n2kevaluation  %}
    <li class="nav-item">
        <button class="nav-link link_onglet" data-bs-target="#natura2000" data-bs-toggle="pill">
            <i class="feuille"></i>EI simplifiée Natura 2000
            {% if object.n2kevaluation and not object.n2kevaluation.conclusion_natura_2000 %}
                &nbsp;<i class="action-requise"></i>
            {% endif %}
        </button>
    </li>
{% endif %}
{% if service.is_structure_organisatrice or request.session.o_support   %}
    {% if not 'instruction' in request.path and not consult %}
        <li class="nav-item" id="pieceajoindreajax"><button class="nav-link link_onglet" id="pj_orga" data-bs-target="#pieceajoindre" data-bs-toggle="pill">
            <i class="pj"></i>Pièces jointes</button></li>
    {% else %}
        <li class="nav-item"><button class="nav-link link_onglet" data-bs-target="#piecejointe" id="pj_instru" data-bs-toggle="pill">
            <i class="pj"></i>Pièces jointes</button></li>
    {% endif %}
{% else %}
    <li class="nav-item"><button class="nav-link link_onglet" data-bs-target="#piecejointe" id="pj_instru" data-bs-toggle="pill">
        <i class="pj"></i>Pièces jointes</button></li>
{% endif %}
{% if object.get_doc_officiels %}
    <li class="nav-item"><button class="nav-link link_onglet" data-bs-target="#officialdata" data-bs-toggle="pill">
        <i class="arrete"></i> Documents officiels ({{object.count_doc_officiel}})</button></li>
{% endif %}
<li class="nav-item"><button class="nav-link link_onglet" id="link_mail" data-bs-target="#mail_de_manif" data-bs-toggle="pill">
    <i class="message"></i>Messagerie</button></li>

    <div class="modal" tabindex="-1" id="history_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Historique du champ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="history_modal_body">

      </div>
    </div>
  </div>
</div>

<script>

    // ici on met la manifestation et les info de son organisateur
    var manif="{{ object.pk }}";
    var orga = {
        pk : "{{ object.declarant.pk }}",
        nom: "{{ object.declarant }}"
    }
    if (window.location.hash){
        setTimeout(function (){
            $(`.link_onglet[data-bs-target="${window.location.hash}"]`).trigger('click')
            var triggerEl = document.querySelector(`.link_onglet[data-bs-target="${window.location.hash}"]`)
            var tab = new bootstrap.Tab(triggerEl)
            tab.show()
        },500)
    }


    $('.link_onglet').click(function (e) {
        if ($(this).attr('id')=='link_mail' || $(this).attr('id')=='pj_orga' || $(this).attr('id')=='pj_instru' || $(this).attr('id')=="carto_onglet"){
            $('#panneau_gauche').attr('class', 'col-sm-12');
            $('#panneau_droite').css('display','none');
            if($(this).attr('id')=="carto_onglet"){
                document.dispatchEvent(new CustomEvent("showApp"));
            }
        }
        else {
            $('#panneau_gauche').attr('class', 'col-sm-8');
            $('#panneau_droite').css('display', 'block');
        }
    })
 var myModal = new bootstrap.Modal(document.getElementById('history_modal'), {})
        $('body').on('click', '.history_link', async function (e){
            e.preventDefault()
            $('#history_modal_body').html(`<i class="spinner"></i>`)
            AfficherIcones();
            myModal.show()
            let data = await $.get($(this).attr('href'))
            $('#history_modal_body').html(data)
        })
</script>
