{% load i18n onglet_instruction %}

{% block event_description %}{% endblock %}
{% if not object.dvtmcir %}
<div id="descriptioncarto" class="card tab-pane fade">
    {% include './description_carto.html' with manif=object %}
</div>
{% endif %}
{% if object|onglet_instruction:request and request.organisation.is_structure_organisatrice  %}
    <div id="suiviinstruction" class="card tab-pane fade">
        {% include './instructions.html' with manif=object %}
    </div>
{% endif %}
{% if object.rnrevaluation %}
    <div id="rnr" class="card tab-pane fade">
        {% include 'evaluation_incidence/evaluationrnr_detail.html' with evaluation=object.rnrevaluation %}
    </div>
{% endif %}
{% if request.organisation.is_structure_organisatrice and object.n2kevaluation or not request.organisation.is_structure_organisatrice and object.n2kevaluation %}
    <div id="natura2000" class="card tab-pane fade">
        {% if not request.organisation.is_structure_organisatrice and not object.n2kevaluation.date_soumission and object.n2kevaluation.formulaire_n2k_complet and object.get_instruction %}
            <div class="card p-2">
                <div class="alert alert-info p-3 m-2">
                    En cours de rédaction par l'organisateur (actuellement en attente de validation et d'envoi)
                </div>
            </div>
        {% elif not request.organisation.is_structure_organisatrice and not object.n2kevaluation.date_soumission %}
            <div class="card p-2">
                <div class="alert alert-info p-3 m-2">
                En cours de rédaction par l'organisateur (actuellement incomplet)
                </div>
            </div>
        {% else %}
            {% include 'evaluation_incidence/evaluationn2k_detail.html' with evaluation=object.n2kevaluation %}
        {% endif %}
    </div>
{% endif %}
{% if service.is_structure_organisatrice or request.session.o_support  %}
    {% if  not 'instruction' in request.path and not consult   %}
        <div id="pieceajoindre" class="card tab-pane fade">
            <div class="pieceajoindre p-4"><i class="spinner"></i> chargement en cours...</div>
        </div>
    {% else %}
        <div id="piecejointe" class="tab-pane fade">
            {% include './piecejointe.html' %}
        </div>
    {% endif %}
{% else %}
    <div id="piecejointe" class="tab-pane fade">
        {% include './piecejointe.html' %}
    </div>
{% endif %}

{% if object.get_doc_officiels %}
    <div id="officialdata" class="tab-pane fade">
        {% include './documentofficiel_detail.html' %}
    </div>
{% endif %}
<div id="mail_de_manif" class="tab-pane fade">
    {% include 'evenements/panneaux/messagerie_manif.html' %}
</div>



