{% load i18n file_tags thumbail_filter %}
<ul class="list-group mb-3">
    {% if object.cartographie %}
        <li class="list-group-item"><a  href="{{ object.cartographie.url }}" target='_blank'>Cartographie</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.cartographie|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a class="ml-2" href="{{ object.cartographie.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;
        </li>
    {% endif %}
    {% if object.reglement_manifestation %}
        <li class="list-group-item"><a href="{{ object.reglement_manifestation.url }}" target='_blank'>Réglement de la manifestation</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.reglement_manifestation|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a class="ml-2" href="{{ object.reglement_manifestation.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;&nbsp;
        </li>
    {% endif %}
    {% if object.engagement_organisateur %}
        <li class="list-group-item"><a href="{{ object.engagement_organisateur.url }}" target='_blank'>Déclaration et engagement de l'organisateur</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.engagement_organisateur|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a class="ml-2" href="{{ object.engagement_organisateur.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;&nbsp;
        </li>
    {% endif %}
    {% if object.disposition_securite %}
        <li class="list-group-item"><a href="{{ object.disposition_securite.url }}" target='_blank'>Dispositions prises pour la sécurité</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.disposition_securite|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a class="ml-2" href="{{ object.disposition_securite.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;
        </li>
    {% endif %}
    {% if object.topo_securite %}
        <li class="list-group-item"><a href="{{ object.topo_securite.url }}" target='_blank'>Sécurisation des épreuves</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.topo_securite|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a class="ml-2" href="{{ object.topo_securite.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;&nbsp;
        </li>
    {% endif %}
    {% if object.presence_docteur %}
        <li class="list-group-item"><a href="{{ object.presence_docteur.url }}" target='_blank'>Attestation de présence de médecin(s)</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.presence_docteur|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a class="ml-2" href="{{ object.presence_docteur.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;
        </li>
    {% endif %}
    {% if object.certificat_assurance %}
        <li class="list-group-item"><a  href="{{ object.certificat_assurance.url }}" target='_blank'>Attestation d'assurance </a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.certificat_assurance|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
            <a class="ml-2" href="{{ object.certificat_assurance.url }}" target='_blank'><i class="telecharger"></i></a>
        </li>
    {% endif %}
    {% if object.docs_additionels %}
        <li class="list-group-item"><a href="{{ object.docs_additionels.url }}" target='_blank'>Documents complémentaires</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.docs_additionels|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a class="ml-2" href="{{ object.docs_additionels.url }}" target='_blank'><i class="telecharger"></i></a>
        </li>
    {% endif %}
    {% if object.charte_dispense_site_n2k %}
        <li class="list-group-item"><a href="{{ object.charte_dispense_site_n2k.url }}" target='_blank'>Charte de dispense Natura 2000</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.charte_dispense_site_n2k|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a class="ml-2" href="{{ object.charte_dispense_site_n2k.url }}" target='_blank'><i class="telecharger"></i></a>
        </li>
    {% endif %}
    {% if object.convention_police %}
        <li class="list-group-item"><a href="{{ object.convention_police.url }}" target='_blank'>Convention service d'ordre</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.convention_police|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a  class="ml-2" href="{{ object.convention_police.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;&nbsp;
        </li>
    {% endif %}
    {% if object.cerfa.carte_zone_public %}
        <li class="list-group-item"><a href="{{ object.cerfa.carte_zone_public.url }}" target='_blank'>Carte zone publique</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.cerfa.carte_zone_public|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a  class="ml-2" href="{{ object.cerfa.carte_zone_public.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;&nbsp;
        </li>
    {% endif %}
    {% if object.cerfa.commissaires %}
        <li class="list-group-item"><a href="{{ object.cerfa.commissaires.url }}" target='_blank'>Liste des postes commissaires</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.cerfa.commissaires|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a class="ml-2" href="{{ object.cerfa.commissaires.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;
        </li>
    {% endif %}
    {% if object.cerfa.certificat_organisateur_tech %}
        <li class="list-group-item"><a href="{{ object.cerfa.certificat_organisateur_tech.url }}" target='_blank'>Attestation organisateur technique</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.cerfa.certificat_organisateur_tech|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a class="ml-2" href="{{ object.cerfa.certificat_organisateur_tech.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;&nbsp;
        </li>
    {% endif %}
    {% if object.cerfa.itineraire_horaire %}
        <li class="list-group-item"><a href="{{ object.cerfa.itineraire_horaire.url }}" target='_blank'>Itinéraire horaire</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.cerfa.itineraire_horaire|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a  class="ml-2" href="{{ object.cerfa.itineraire_horaire.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;&nbsp;
        </li>
    {% endif %}
    {% if object.cerfa.participants %}
        <li class="list-group-item"><a href="{{ object.cerfa.participants.url }}" target='_blank'>Liste complète des participants</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.cerfa.participants|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a  class="ml-2" href="{{ object.cerfa.participants.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;&nbsp;
        </li>
    {% endif %}
    {% if object.cerfa.avis_federation_delegataire %}
        <li class="list-group-item"><a href="{{ object.cerfa.avis_federation_delegataire.url }}" target='_blank'>Avis fédération délégataire</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.cerfa.avis_federation_delegataire|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a  class="ml-2" href="{{ object.cerfa.avis_federation_delegataire.url }}" target='_blank'><i class="telecharger"></i></a>
        </li>
    {% endif %}
    {% if object.cerfa.plan_masse %}
        <li class="list-group-item"><a href="{{ object.cerfa.plan_masse.url }}" target='_blank'>Plan de masse</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.cerfa.plan_masse|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a  class="ml-2" href="{{ object.cerfa.plan_masse.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;&nbsp;
        </li>
    {% endif %}
    {% if object.cerfa.liste_signaleurs %}
        <li class="list-group-item"><a href="{{ object.cerfa.liste_signaleurs.url }}" target='_blank'>Liste des signaleurs</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.cerfa.liste_signaleurs|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a  class="ml-2" href="{{ object.cerfa.liste_signaleurs.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;
        </li>
    {% endif %}
    {% if object.cerfa.dossier_tech_cycl %}
        <li class="list-group-item"><a href="{{ object.cerfa.dossier_tech_cycl.url }}" target='_blank'>Dossier technique de manifestation cycliste</a>&nbsp;&nbsp;
            <span data-toggle="tooltip" data-placement="right" data-html="true" class="badge badge-info"
                  title="<img src='{{ object.cerfa.dossier_tech_cycl|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
            </span>
        <a  class="ml-2" href="{{ object.cerfa.dossier_tech_cycl.url }}" target='_blank'><i class="telecharger"></i></a>&nbsp;&nbsp;
        </li>
    {% endif %}
</ul>