{% load static i18n verbose_tags file_tags thumbnail_filter get_pj_instructeur instruction_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/css/jquery.dataTables.css' %}">

<script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/datetime-moment.js' %}"></script>

<table id="pj_table" class="table">
    <thead>
    <tr>
        <th>Type</th>
        <th>Nom</th>
        <th>Date limite de dépôt</th>
        <th>Date de dépôt</th>
        <th style="display: none"></th> {# colonne cachée utile pour le tri #}
        <th>Fichier</th>
        <th>État</th>
    </tr>
    </thead>
    <tbody>
    {% for piece in object|get_pj_instructeur:request %}
        <tr {% if piece.requise and not piece.retard and not piece.presque_retard %}style="background: #FDF0F0"{% endif %}
                {% if piece.retard %}
            style="color:red;{% if piece.requise %} background: #FDF0F0{% endif %}"
            data-bs-toggle="tooltip" data-placement="right"
            title="En retard de {{ piece.delta }} jours !"
                {% elif piece.presque_retard %}
            style="color: #ff7700;{% if piece.requise %} background: #FDF0F0{% endif %}"
            data-placement="right" data-bs-toggle="tooltip"
            title="Plus que  {{ piece.delta }} jours pour deposer le fichier"
                {% endif %}>
            {% include 'evenements/blocs/ligne_tableau_pj.html' with piece=piece %}
            <td>
                <span id="detail_{{ piece.pk }}">
                    {% if piece.document_attache and piece.scan_antivirus %}
                        <span data-bs-toggle="tooltip" data-placement="auto" data-html="true" class="ms-2 badge bg-info"
                              title="<img src='{{ piece.document_attache|thumbnail }}'>">
                            <i class="afficher no-right-margin text-white"></i>
                        </span>

                        <a class="ms-2" href="/media/{{ piece.document_attache }}" target="_blank"> <i class="telecharger"></i></a>
                        {% if piece.historique.all %}
                            <a class="ms-2 history_link" target="_blank"
                               href="{% url 'evenements:historique_popup' pk=piece.manif.pk %}?pj_pk={{ piece.pk }}">
                                <i class="far fa-history"></i></a>
                            {% endif %}
                    {% elif piece.document_attache %}
                        Traitement du fichier en cours
                    {% else %}
                        <span style="display: none">1</span>
                        Aucun fichier
                    {% endif %}
                </span>
            </td>
            <td style="width: 30%">
                {% if piece.document_attache %}
                    {% if not piece.validation_instructeur %}
                        <div>
                            <i class="pj_nonvalide me-2 "></i>
                            {% if  user_is_instructeur and not consult %}
                                <a href="#" id="val_{{ piece.pk }}" class="validation_pj ">Valider</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <div>
                        <i class="pj_valide me-2 "></i>
                        </div>
                    {% endif %}
                    {% if not consult %}
                        {% if not piece.a_modifier %}
                            <div>
                                {% if user_is_instructeur %}
                                    <i class=" fa fa-lock-open-alt fa-fw me-2"></i>
                                    <a data-bs-toggle="tooltip" data-bs-placement="right"
                                       title="Débloquer l'édition de ce fichier et demander sa modification par l'organisateur"
                                       href="#" id="dev_{{ piece.pk }}" class="devalidation_pj ">Déverrouiller </a>
                                {% endif %}
                            </div>
                        {% else %}
                            <div>
                                <i class=" fa fa-lock-alt fa-fw me-2"></i>
                                {% if user_is_instructeur %}
                                    <a data-bs-toggle="tooltip" data-bs-placement="right"
                                       title="Cliquez pour verrouiller ce fichier et annuler la demande de modification"
                                       href="#"  id="rev_{{ piece.pk }}" class="revalidation_pj ">Modification demandée le {{ piece.a_modifier }}</a>
                                {% endif %}
                            </div>

                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if not consult and instruction and not request.session.o_support %}
    <li class="list-group-item">
        {% with object|get_instruction:request as instruction %}
            <form method="post" id="formobj_supp" action="{% url 'instructions:demande_piece_complementaire' pk=instruction.pk %}">
                {% csrf_token %}
                <a class="btn btn-outline-primary mt-1  ajout_pj"
                   id="btnedit_supp" href="#">
                    <i class="pj"></i> Ajouter une demande de pièce jointe complémentaire
                </a>
                <div class="mt-2 mb-2" id="champ_supp" style="display: none">
                    <h2>Demande de pièce jointe complémentaire</h2>
                    {% if instruction.manif.instance_instruites.all.count > 1 %}
                        <div class="form-group my-3 switchToggle">
                            <input class="form-check-input checkboxinput" type="checkbox" id="portee_pj" name="portee">
                            <div class="span"></div>
                            <label class="form-check-label" for="portee_pj">Concerne votre département</label>
                        </div>
                    {% endif %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" maxlength="100" required  id="nom_pj" name="nom"
                               placeholder="Nom de la pièce" aria-label="Nom de la pièce" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" required  id="date" name="date" onfocus="(this.type='date')" onblur="(this.type='text')"
                               placeholder="Date limite de dépot" aria-label="Date limite de dépot"  aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <textarea class="form-control" required maxlength="300"  id="aide" name="aide" placeholder="Raison de la demande"></textarea>
                    </div>

                    <input class="btn_submit_pj btn btn-primary" id="btnsubmit_supp" type="submit" value="Envoyer">
                </div>
            </form>
        {% endwith %}
        <div id="alert_erreurs"></div>
    </li>
{% endif %}
<script>
    var texte_erreur = "Erreur lors du traitement de votre demande";
    $(function(){
        $('#pj_table').DataTable({
            "paging": false,
            "info": false,
            order : [[4, "asc"], [3, "desc"], [0, "asc"]]
        });
        $('.dataTables_filter').hide();
        $('#pj_table').css('width', '100%');

        setTimeout(function (){
            $('#aide').unbind() {# supprimer l'event de redimensionnemnt du textarea lors de la frappe (autogrow) #}
        },1000);
    })
    {% if not consult and instruction  and not request.session.o_support %}
        {% with instruction_user=object|get_instruction:request %}
            var url_validation = "{% url 'instructions:valider_documents' pk=instruction_user.pk %}"
        {% endwith %}
    {% else %}
        var url_validation = ""
    {% endif %}
    $('body').on('click','.validation_pj',function (e){
        e.preventDefault()
        let id = $(this).attr('id').substr(4)
        $.post(`${url_validation}?pk=${id}&valider=1`, {}, function (data){
            if (data==='ok'){
                window.location.href = window.location.origin+window.location.pathname+"#piecejointe"
                window.location.reload()
            }
            else{
                $('#alert_erreurs').html(`<p class="alert alert-danger">${texte_erreur}</p>`).show()
            }
        })
    })

    $('body').on('click', '.devalidation_pj',function (e){
        e.preventDefault()
        let id = $(this).attr('id').substr(4)
        $.post(`${url_validation}?pk=${id}&valider=0`, {}, function (data){
            if (data==='ok'){
                window.location.href= window.location.origin+window.location.pathname+"#piecejointe"
                window.location.reload()
            }
            else{
                $('#alert_erreurs').html(`<p class="alert alert-danger">${texte_erreur}</p>`).show()
            }
        })
    })

     $('body').on('click', '.revalidation_pj',function (e){
        e.preventDefault()
        let id = $(this).attr('id').substr(4)
        $.post(`${url_validation}?pk=${id}&revalider=1`, {}, function (data){
            if (data==='ok'){
                window.location.href= window.location.origin+window.location.pathname+"#piecejointe"
                window.location.reload()
            }
            else{
                $('#alert_erreurs').html(`<p class="alert alert-danger">${texte_erreur}</p>`).show()
            }
        })
    })

    $('#btnedit_supp').click(function (e){
        e.preventDefault()
        $(this).hide()
        $('#champ_supp').show()
    })

    $("#formobj_supp").submit(function (e){
        e.preventDefault()
        var form = $(`#formobj_supp`)[0]
        var data = new FormData(form)
        $.ajax({
            url: $(`#formobj_supp`).attr('action'),
            type: 'POST',
            enctype: 'multipart/form-data',
            processData: false,  // Important!
            contentType: false,
            cache: false,
            data: data,
        }).done(function (data, textStatus, xhr) {
            console.log(xhr)
            if (xhr.responseText.search("ok")===-1){
                $('#alert_erreurs').html(`<p class="alert alert-danger">${texte_erreur} : ${data}</p>`).show()
            }
            else{
                window.location.reload()
            }
        }).fail(function (data, textStatus, xhr) {
            $('#alert_erreurs').html(`<p class="alert alert-danger">${texte_erreur}</p>`).show()
        })
    })

</script>