<div class="card liste-actions mb-3">
    <div class="card-header bg-primary">
        <i class="action"></i> Actions disponibles
    </div>
    <div class="card-body">

        {% if rendu_message and service == object.service_consulte_origine_fk %}
            <div>
                <a href="{% url 'instructions:avis_relance' pk=object.pk %}" role="button">
                    <i class="{% if not is_preavi %}avis{% else %}preavis{% endif %}"></i>
                    Créer et rendre  {% if not is_preavi %}un nouvel avis{% else %}un nouveau préavis{% endif %}</a> <i class="ctx-help-avis_recreation"></i>
            </div>
        {% endif %}

        <a href="#" class="formconsult_btn" role="button" class="d-block">
            <i class="consulter"></i> Octroyer un accès en lecture
        </a> <i class="ctx-help-aide_octroyer_acces_consultation"></i>
        <div style="display: none; margin-top:0.5em;" id="consult_div">
            <button class="btn btn-secondary formconsult" id="simple">
                <i class="detail"></i> Dossier organisateur uniquement
            </button><br>
            <button class="btn btn-secondary formconsult mt-2" id="complet">
                <i class="detail"></i>+&nbsp;&nbsp;<i class="avis"></i>Dossier avec avis et préavis
            </button>
        </div>

        <!-- BOF Assignation -->
        {% if not historique and service.is_service_instructeur %}
            <div>
                <a href="#" id="a_assigner" role="button" class="d-block"><i class="instructeur"></i> Assigner le dossier</a>
                <div id="a_assigner_div" style="display: none">
                    <a class="btn btn-primary" id="self_assigner"
                       href="{% url 'instructions:assigner' pk=object.get_last_avis.pk %}?type_dossier=avis&pk_user={{ request.user.pk }}">Me l'assigner</a>
                    <a class="autre_assigner btn btn-secondary" id="requis_assigner" href="#">L'assigner à un autre agent</a>
                    <a class=" btn btn-danger" id="a_assigner_annule" href="#">Annuler</a>
                    <div id="requis_assigner_div" class="mt-2" style="display: none"></div>
                </div>
            </div>
        {% endif %}
        <!-- EOF Assignation -->

        <!-- BOF Exportation -->
        <a href="#" id="divexport" role="button" class="d-block"><i class="telecharger"></i> Exporter cette manifestation</a>
        <div id="divexport_content" style="display: none;">
            <p class="ms-4 mb-1">Rappel : votre responsabilité est engagée en cas de divulgation d'informations (notamment des données personnelles).</p>
            <a class="export_lien ms-4 d-block" href="{% url 'evenements:export_manif_agent' pk=object.pk %}?zip=1" role="button"><i
                    class="archive"></i>Exporter en archive ZIP (recommandé)</a>
            <a class="export_lien ms-4 d-block" href="{% url 'evenements:export_manif_agent' pk=object.pk %}?avis=1&zip=1" role="button"><i
                    class="archive"></i>Exporter en archive ZIP <strong>avec avis et préavis</strong></a>
            <a class="export_lien ms-4 d-block" href="{% url 'evenements:export_manif_agent' pk=object.pk %}" role="button"><i class="pdf"></i>Exporter
                en fichier PDF</a>
            <a class="export_lien ms-4 d-block" href="{% url 'evenements:export_manif_agent' pk=object.pk %}?avis=1" role="button"><i class="pdf"></i>Exporter
                en fichier PDF <strong>avec avis et préavis</strong></a>
            <div id="export_lien_attente" class="ms-4 alert alert-info" style="display: none"><i class="spinner"></i>Votre fichier est en cours de préparation.<br> Vous serez informé avec une <i class="msg_suivi"></i><em>Information
                de suivi</em> dans votre messagerie dès qu'il sera prêt.</div>
        </div>
        <!-- EOF Exportation -->

    </div>
</div>