<div class="card border-danger liste-actions mb-3 side">
    <div class="card-header bg-danger text-white">
        <i class="action-requise-blanc"></i> Actions requises
    </div>
    <div class="card-body">
        {% if historique and not rendu_message %}
            {{ str_avis.avis|capfirst }} en cours d'instruction aucune action nécessaire
        {% endif %}
        {% if rendre_avis or adresser_avis or mandater_avis or interroger_avis or rendre_preavis%}
            <i class="ctx-help-avis_vs_preavis float-end" data-bs-original-title="" title=""></i>
        {% endif %}

        <!-- BOF Gestion de l'avis -->
        {% if rendre_avis or adresser_avis or mandater_avis %}
            <strong class="d-block"><i class="avis"></i>Gestion de l'avis</strong>
            <div>
                <a href="{% url 'instructions:avis_rediger' pk=object.get_last_avis.pk %}" role="button" class="ms-3">
                    <i class="rediger-avis"></i>Rédiger {{ str_avis.l|safe }}
                </a> <i class="ctx-help-rediger_avis_preavis"></i>
            </div>

            {% if object.etat == "brouillon" %}
                {% if rendre_avis %}
                    <div>
                        <a id="rendre_avis_link" href="#" class="ms-3">
                            <i class="rendre-avis"></i><strong>Valider et rendre {{ str_avis.l|safe }}</strong>
                        </a> <i class="ctx-help-rendre_avis_preavis"></i>
                    </div>
                    <span style="display: none" id="span_valide_rendre_avis">
                               <span class="col-6 my-2 ms-4 d-flex">
                                   <a href="{% url 'instructions:avis_rendre' pk=object.get_last_avis.pk initiateur=False %}" class="test-btn-valider">
                                   <span style="width: 70px; height: 30px; line-height: 1;"
                                         class="btn btn-success me-2 d-flex justify-content-center">
                                        <i style="color: white" class="fas fa-check p-0 m-0" aria-hidden="true"></i>
                                   </span>
                                   </a>
                                   <span id="dismis_rendre_avis_link" style="width: 70px; height: 30px; line-height: 1;"
                                         class="btn btn-danger me-2 d-flex justify-content-center">
                                        <i style="color: white" class="fas fa-times p-0 m-0" aria-hidden="true"></i>
                                   </span>
                               </span>
                           </span>
                {% endif %}
                {% if adresser_avis %}
                    <div>
                        <a id="btn-adresser-avis" href="{% url 'instructions:avis_adresser' pk=object.get_last_avis.pk %}" role="button" class="ms-3 btn-get-form">
                            <i class="adresser-avis"></i> Adresser {{ str_avis.l|safe }}
                        </a> <i class="ctx-help-adresser_avis"></i>
                        <div class="form-container" style="height: 0"></div>
                    </div>
                {% endif %}
            {% endif %}
            {% if mandater_avis %}
                <a href="{% url 'instructions:avis_mandater' pk=object.get_last_avis.pk %}" role="button" class="d-block ms-3 btn-get-form">
                    <i class="mandater-avis-droit"></i> Mandater {{ str_avis.l|safe }}
                </a>
                <div class="form-container" style="height: 0"></div>
            {% endif %}
            <hr>
        {% endif %}
        <!-- EOF Gestion de l'avis -->

        <!-- BOF Gestion des préavis -->
        {% if interroger_avis or rendre_preavis %}
            <strong class="d-block"><i class="preavis"></i>Gestion des préavis</strong>
        {% endif %}
        {% if interroger_avis %}
            <div class="position-relative">
                <a class="btn-get-form ms-3" href="{% url 'instructions:avis_interroger' pk=object.get_last_avis.pk %}" role="button">
                    <i class="ajouter"></i>Envoyer une demande de préavis aux services internes
                </a> <i class="ctx-help-aide_envoyer_demande_preavis position-absolute mt-2"></i>
                <div class="form-container" style="height: 0"></div>
            </div>
        {% endif %}
        {% if rendre_preavis %}
            <div>
                <a href="{% url 'instructions:avis_rediger' pk=object.get_last_avis.pk %}" role="button" class="ms-3">
                    <i class="rediger-preavis"></i>Rédiger le préavis
                </a> <i class="ctx-help-rediger_avis_preavis"></i>
            </div>

            {% if object.etat == "brouillon" %}
                <div>
                    <a href="#" id="rendre_preavis_link" role="button" class="ms-3">
                        <i class="rendre-preavis"></i><strong>Valider et rendre le préavis</strong>
                    </a> <i class="ctx-help-rendre_avis_preavis"></i>
                </div>
                <span style="display: none" id="span_valide_rendre_avis">
                   <span class="col-6 ms-2 d-flex">
                       <a href="{% url 'instructions:avis_rendre' pk=object.get_last_avis.pk initiateur=False %}" class="d-block ms-3 test-btn-valider">
                       <span style="width: 70px; height: 30px; line-height: 1;"
                             class="btn btn-success me-2 d-flex justify-content-center">
                            <i style="color: white" class="fas fa-check p-0 m-0" aria-hidden="true"></i>
                       </span>
                       </a>
                       <span id="dismis_rendre_preavis_link" style="width: 70px; height: 30px; line-height: 1;"
                             class="btn btn-danger me-2 d-flex justify-content-center">
                            <i style="color: white" class="fas fa-times p-0 m-0" aria-hidden="true"></i>
                       </span>
                   </span>
                </span>

                {% if service.autorise_rendre_preavis_a_service_avis_b %}
                    <a href="#" id="rendre_direct_preavis_link" class="d-block ms-3">
                        <i class="rendre-preavis"></i>
                        Rendre le préavis directement au service en charge de l'avis</a>
                    <span style="display: none" id="span_valide_rendre_direct_preavis">
                                   <span class="col-6 ms-2 d-flex">
                                       <a href="{% url 'instructions:avis_rendre' pk=object.get_last_avis.pk initiateur=True %}">
                                       <span style="width: 70px; height: 30px; line-height: 1;"
                                             class="btn btn-success me-2 d-flex justify-content-center">
                                            <i style="color: white" class="fas fa-check p-0 m-0" aria-hidden="true"></i>
                                       </span>
                                       </a>
                                       <span id="dismis_rendre_direct_preavis_link" style="width: 70px; height: 30px; line-height: 1;"
                                             class="btn btn-danger me-2 d-flex justify-content-center">
                                            <i style="color: white" class="fas fa-times p-0 m-0" aria-hidden="true"></i>
                                       </span>
                                   </span>
                               </span>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if interroger_avis or rendre_preavis %}
            <hr>
        {% endif %}
        <!-- EOF Gestion des préavis -->

        <!-- BOF Calendrier fédéral -->
        {% if confirmation == "calendrier" %}
            <a id="confirmer_calendrier_btn" href="#" role="button">
                <i class="valider"></i> Confirmer l'inscription dans le calendrier
            </a>
            <div style="display: none; margin-top: 0.5em;" id="confirmer_calendrier_div">
                <a href="{% url 'instructions:avis_confirme' pk=object.pk %}?obj=calendrier&confirme=1" class="test_valider_calendrier d-block">
                    <button style="width: 130px;" class="btn btn-success"><i class="btn-ok"></i>Confirmer</button>
                </a>
                <a href="{% url 'instructions:avis_confirme' pk=object.pk %}?obj=calendrier&confirme=" class="test_invalider_calendrier d-block">
                    <button style="width: 130px; color:white;" class="btn btn-warning"><i class="btn-pas-ok"></i>Infirmer</button>
                </a>
            </div>
        {% endif %}
        <!-- EOF Calendrier fédéral -->

        <!-- BOF Convention -->
        {% if confirmation == "convention" %}
            <a id="confirmer_convention_btn" href="#" role="button">
                <i class="valider"></i> Confirmer l'existance d'une convention
            </a>
            <div style="display: none; margin-top: 0.5em;" id="confirmer_convention_div">
                <a href="{% url 'instructions:avis_confirme' pk=object.pk %}?obj=convention&confirme=1" class="test_valider_convention d-block">
                    <button style="width: 130px;" class="btn btn-success"><i class="btn-ok"></i>Confirmer</button>
                </a>
                <a href="{% url 'instructions:avis_confirme' pk=object.pk %}?obj=convention&confirme=" class="test_invalider_convention d-block">
                    <button style="width: 130px; color:white;" class="btn btn-warning"><i class="btn-pas-ok"></i>Infirmer</button>
                </a>
            </div>
        {% endif %}
        <!-- EOF Convention -->

        <!-- BOF Rien à faire -->
        {% if depasse %}
            <p> Manifestation terminée, aucune action nécessaire.</p>
        {% elif rendu_message %}
            {% if is_preavi %}
                <p>Préavis rendu, aucune action nécessaire. <i class="ctx-help-preavis_redemande"></i></p>
            {% else %}
                <p> Avis rendu, aucune action nécessaire.</p>
            {% endif %}
        {% endif %}
        <!-- EOF Rien à faire -->

        <!-- BOF Alerte -->
        {% if notifier %}
            <div class="alert alert-info">À présent, les notifications s'effectuent avec l'octroi d'accès en lecture disponible ci-dessous <i class="consulter"></i>.</div>
        {% endif %}
        <!-- EOF Alerte -->

    </div>
</div>

<script>
    $(document).ready(function () {
        // Changer la couleur de la carte "Actions requises" si pas d'actions
        if ($('.card.side .card-body').text().match('aucune action nécessaire')) {
            $('.card.side .card-header').removeClass('bd-danger').addClass('bg-primary');
            $('.card.side').removeClass('border-danger');
        }
    })
    // Récupere les formulaires mandater/adresser au clique sur le btn
    $(".btn-get-form").click(function(e){
        e.preventDefault()
        var url = $(this).attr('href')
        var container = $(this).siblings('.form-container')
        if(container.is(':empty')){
            $.get({
            url: url,
            success :
            function (reponse) {
                if (container.is(':empty')) {
                    container.append(reponse)
                    $(".chosen-select").chosen({width: "100%"})
                    container.animate({height: 150}, 500)
                }
            }
        })
        }

    })
    // Fermes les formulaires mandater/adresser
    $(document).on('click', '#dismis_form', function (){
        var container = $(this).closest('.form-container')
        container.animate({height: 0}, 500)
        setTimeout(function (){container.empty()}, 499)
    })

    // Verifie qu'au moins un service est séléctionné
    $(document).on('click', '.submit-inline-avis-form', function (e){
        e.preventDefault()
        var form = $(this).closest('form')
        var select = form.find('select')
        if(!form.find('.erreur-inline-avis-form').length && select.val().length === 0){
            form.prepend('<strong class="text-danger erreur-inline-avis-form" >Ce champ est obligatoire.</strong>')
        }
        else if(select.val().length !== 0) {
            form.submit()
        }
    })

</script>