{% load pluralizero %}

{% if object.avis_origine.get_precedent_avis %}
    <div class="p-2">
        <h3><i class="{% if object.avis_parent_fk %}preavis{% else %}avis{% endif %}"></i> {{ str_avis.avis|capfirst }} précédent{{ object.avis_origine.get_precedent_avis|pluralizero }}</h3>
        <div id="accordion{{ object.avis_origine.pk }}">
            {% for avis in object.avis_origine.get_precedent_avis %}
                {% with recursive=True %}
                    {% include 'instructions/avis_description.html' with object=avis accordion=object.avis_origine.pk %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endif %}
{% if object.get_old_preavis_list %}
    <div class="p-2">
        <h3>{{ str_avis.avis|capfirst }} précédent{{ object.get_old_preavis_list|pluralizero }}</h3>
        <div id="accordion{{ object.avis_origine.pk }}">
            {% for avis in  object.get_old_preavis_list %}
                {% with recursive=True %}
                    {% include 'instructions/avis_description.html' with object=avis accordion=object.avis_origine.pk %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endif %}