<div class="card bg-white mt-3">
    <div class="card-header">
        <i class="editer"></i>Contenu {% if not object.avis_parent_fk %}de l'avis{% else %}du préavis{% endif %}
    </div>
    <div class="card-body row">
        <div class="col-5 p-3">
            {% if object.favorable %}
                <i class="ok-avis fa-border fa-2x"></i>
                <span class="span-reponse-avis my-auto mt-4">{% if not object.avis_parent_fk %}Avis{% else %}Préavis{% endif %} favorable</span>
            {% elif not object.favorable %}
                <i class="pas-ok-avis fa-border fa-2x my-auto"></i>
                <span class="span-reponse-avis my-auto">{% if not object.avis_parent_fk %}Avis{% else %}Préavis{% endif %} défavorable</span>
            {% endif %}
        </div>
        <div class="col-7 p-3">
            <i class="fas fa-quote-left fa-pull-left me-2"></i>
            {{ object.prescriptions|linebreaks }}
            <i class="fas fa-quote-right float-end"></i>
        </div>
    </div>
</div>