{% load file_tags thumbnail_filter %}

<div class="card bg-white mt-3">
    <div class="card-header">
        <i class="pj"></i>Pièce(s) jointe(s)
    </div>
    <div class="card-body">
        {% if object.docs.all %}
            <ul class="mb-2 ps-0">
                {% for doc in object.docs.all %}
                    <li class="list-no-style my-3">
                        {% if doc.scan_antivirus %}
                            <a href="{{ doc.fichier.url }}" target="_blank">{{ doc.fichier|basename }}</a>&nbsp;&nbsp;
                            <span data-bs-toggle="tooltip" data-placement="auto" data-html="true" class="badge bg-info"
                                  title="<img src='{{ doc.fichier|thumbnail }}'>"><i class="afficher no-right-margin text-white"></i> </span>
                            {% if not recursive %}
                                {%  if not doc.exist_piece_jointe and not object.avis_parent_fk and service == object.avis_parent_fk.service_consulte_fk %}
                                    <a href="{% url 'instructions:avis_prefecture_ajout_pj' pk=object.pk %}?doc={{ doc.pk }}" class="btn btn-primary float-end " role="button" id="T{{ doc.pk }}">
                                        <i class="suivi"></i> Transférer le document sur l'avis
                                    </a>
                                {% elif not doc.exist_piece_jointe and object.avis_parent_fk and service == object.avis_parent_fk.service_consulte_fk and not recursive %}
                                <a href="{% url 'instructions:avis_ajout_fichier' pk=object.pk %}?doc={{ doc.pk }}" class="btn btn-primary float-end " role="button" id="{{ doc.pk }}">
                                    <i class="suivi"></i> Transférer le document sur l'avis
                                </a>

                                {%  endif %}
                                {%  if not doc.exist_document_officiel and object.etat == 'rendu' and not object.avis_parent_fk and autoriser_transfert_pj %}
                                    <a href="#" class="btn btn-primary float-end bt-transf-pj-vers-doc-officiel" role="button" id="{{ doc.pk }}">
                                        <i class="arrete"></i> Transférer en document officiel
                                    </a>
                                    <div id="form-transf-pj-vers-doc-officiel{{ doc.pk }}"></div>
                                {%  endif %}
                            {% endif %}
                        {% else %}
                            Traitement du fichier en cours...
                        {% endif %}
                    </li>
                {% endfor %}
        </ul>
        {% else %}
            {% if service == object.service_consulte_fk and object.get_etat == 'demandé' or service in object.service_consulte_history_m2m.all %}
                Vous pourrez ajouter des pièces jointes après avoir commencé à rédiger {% if not object.avis_parent_fk %}l'avis{% else %}le préavis{% endif %}.
            {% else %}
                Aucune pièce jointe
            {% endif %}
        {% endif %}
        {% if not recursive %}
            {% if service == object.service_consulte_fk and object.get_etat != 'demandé' or service in object.service_consulte_history_m2m.all %}
                <div class="btn btn-primary btn_doc float-end" id="btn_{{ object.get_last_avis.pk }}"><i class="pj"></i> Ajouter une pièce jointe</div>
                <div class="form_ajout_doc" id="form_ajout_doc{{ object.get_last_avis.pk }}" style="display: none;">
                    <form style="display: flex; flex-direction: column; margin-top:.5em;"
                          action="{% url 'instructions:avis_ajout_fichier' pk=object.get_last_avis.pk %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p><i class="attention"></i> Vos pièces jointes ne doivent pas aller à l'encontre {{ str_avis.de_l|safe }} rédigé !</p>
                        <input type="file" required name="fichier">
                        <div><input type="submit" class="btn btn-primary" style="margin-top:0.5em; width: 100%;" value="Envoyer"></div>
                    </form>
                </div>
            {% endif %}
        {% endif %}
    </div>

</div>