{% load instruction_tags %}
{#{% load static %}#}

<div class="card bg-white">
    <div class="card-header" title="{{ object.etat }}">
        <i class="{% if object.avis_parent_fk %}preavis{% else %}avis{% endif %}"></i>État {% if not object.avis_parent_fk %}de l'avis{% else %}du préavis{% endif %}
    </div>
    <div class="card-body row">

        <!-- BOF Ré édition avis/préavis -->
        {% if object.raison_redemande %}
        <div class="col-12">
            <div class="alert alert-secondary py-2 mb-0 text-center">
                <p class="mb-2"><strong>Ré édition {% if not object.avis_parent_fk %}de l'avis{% else %}du préavis{% endif %}</strong> car</p>
                <p><em>{{ object.raison_redemande }}</em></p>
            </div>
        </div>
        {% endif %}
        <!-- EOF Multiple avis/préavis -->

        <!-- BOF État -->
        <div class="col-lg-6 col-12 d-flex flex-wrap p-lg-3 p-2">
            <div class="col-12">
                {% if not object.etat == "rendu" and service == object.service_consulte_fk or not object.etat == "rendu" and service == object.service_demandeur_fk or not object.etat == "rendu" and object.service_consulte_fk.is_federation %}
                    <!-- Si je n'ai pas rendu l'avis et que j'en suis en charge ou que j'en suis le demandeur -->
                    {% if object.etat == "demandé" %}
                        {% if object.avis_parent_fk %}
                            <i class="interroger-preavis ico_double my-auto"></i>
                        {% else %}
                            <i class="recevoir-avis ico_double my-auto"></i>
                        {% endif %}
                        <span class="span-reponse-avis">À rédiger</span>
                    {% elif object.etat == "distribué" %}
                        {% if object.avis_parent_fk %}
                            <i class="interroger-preavis ico_double my-auto"></i>
                        {% else %}
                            <i class="distribuee ico_double my-auto"></i>
                        {% endif %}
                        <span class="span-reponse-avis">À rédiger</span>
                    {% elif object.etat == "brouillon" %}
                        <i class="editer ico_double my-auto"></i>
                        <span class="span-reponse-avis">En cours de rédaction</span>
                    {% else %}
                        <i class="attente-avis my-auto"></i>
                        <span class="span-reponse-avis">En cours</span>
                    {% endif %}
                {% elif object.etat == "rendu" or service in object.service_consulte_history_m2m.all %}
                    <!-- Si j'ai rendu l'avis ou que j'en ai été en charge -->
                    <i class="travail-terminer ico_double my-auto"></i>
                    <span class="span-reponse-avis">
                        {% if object.etat == "rendu" %}
                            {% if object.avis_parent_fk %}
                                Le préavis a été rendu au service demandeur de la famille.
                            {% else %}
                                L'avis a été rendu au service instructeur.
                            {% endif %}
                        {% else %}
                            Vous avez transmis l'avis à un autre service de la famille, mais il n'est pas encore rendu au service instructeur.
                        {% endif %}
                    </span>
                {% endif %}
            </div>
            {% if  not in_avis %}
                <div class="col-12">
                    {% if tous_preavis_rendu %}
                         <i class="preavis"></i>les préavis demandés aux services internes ont été rendus
                    {% elif preavis_envoyes%}
                         <i class="attente"></i>en attente de retour préavis demandés aux services internes
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <!-- EOF État -->

        <!-- BOF Dates -->
        <div class="col-lg-6 col-12 d-flex flex-wrap p-lg-3 p-2">
            <div class="col-6 text-end pe-1 ">
                Date de demande {% if object.avis_parent_fk %}du préavis{% else %}de l'avis{% endif %} :
            </div>
            <div class="col-6 ps-1">
                {{ object.date_demande }}
                <!-- Historique de l'avis/préavis -->
                {% if object.historique_circuit_json %}
                    <a href="#" data-bs-toggle="tooltip" data-html="true" style="float: right; margin-left: 1em;"
                       title="{{ object.historique_circuit_json|historique_circuit_json_avis }}">
                        <i class="fa-solid fa-clock-rotate-left"></i></a>
                {% endif %}
            </div>
        {% if not object.date_reponse %}
            <div class="col-6 text-end pe-1">
                {% if object.avis_parent_fk %}Préavis{% else %}Avis{% endif %} attendu avant le :
            </div>
            <div class="col-6 ps-1 date_rendu_avis">
                {{ object.date_limite_reponse_dt|date }} <i class="ctx-help-date_limite_avis"></i>
                {% if avis_description and not recursive %}
                <!-- Modifier la date limite de réponse de l'avis/préavis -->
                <!-- Button modal -->
                    <div class="btn-date-form float-end" data-bs-toggle="modal" data-bs-target="#formDate"
                         data-titre="Changer la date limite de réponse"
                         data-url-form-pk="{% url 'instructions:date_limite_reponse_edit' pk=object.pk %}">
                        <i data-bs-toggle="tooltip" data-bs-original-title="Modifier la date limite du rendu d'avis"
                           aria-label="Modifier la date limite du rendu d'avis"
                           data-url-form-pk="{% url 'instructions:date_limite_reponse_edit' pk=object.pk %}"
                           class="fas fa-pen interaction-icon float-end"></i>
                    </div>
                {% endif %}
            </div>
        {% endif %}
            <div class="col-6 text-end pe-1">
                Date de rendu {% if object.avis_parent_fk %}du préavis{% else %}de l'avis{% endif %}  :
            </div>
            <div class="col-6 ps-1">
                {% if object.date_reponse and object.etat != "demandé" %}
                    {{ object.date_reponse }}
                {% else %}Pas encore rendu{% endif %}
            </div>
            {% if object.agent %}
                <div class="col-6 text-end pe-1 ">
                    Par :
                </div>
                <div class="col-6 ps-1">
                    {{ object.agent.get_full_name }}
                </div>
            {% endif %}
        </div>
        <!-- EOF Dates -->

        <!-- BOF Alerte "pas terminé" -->
        {% if alerte_avis_pas_termine and not in_avis %}
            <div class="col-12">
                <div class="alert alert-warning mx-2 mb-0" role="alert">
                    <i class="attention"></i> Le traitement {% if object.avis_parent_fk %}du préavis{% else %}de l'avis{% endif %} n'est pas terminé.
                    Le bloc des actions requises vous oriente sur la suite à réaliser.
                </div>
            </div>
        {% endif %}
        <!-- EOF Alerte "pas terminé" -->
        {% if presentation and not object.is_avis_cdsr %}
            <div class="col-12">
            {% if confirmation_cdsr %}
                <div class="alert alert-light mx-2 mb-0" role="alert">
                    <i class="ok"></i> Vous avez confirmer votre présence à la réunion CDSR du
                    {{ presentation.reunion_cdsr_fk.date|date:"Y/m/d" }} à {{ presentation.heure|date:"H\hi" }}
                </div>
            {% else %}
                <div class="alert alert-warning mx-2 mb-0" role="alert">
                    <a href="{% url 'structure:presentationcdsr_confirmer' pk=presentation.pk %}?membre={{ request.organisation.pk }}"
                       role="button" class="btn btn-primary float-end">
                        <i class="ok-blanc"></i>Confirmer votre présence
                    </a>
                    <i class="attention"></i> cet avis doit être présenté à la réunion CDSR du
                    {{ presentation.reunion_cdsr_fk.date|date:"Y/m/d" }} à {{ presentation.heure|date:"H\hi" }}<br>
                    Veuillez confirmer votre présence à cette réunion.
                </div>
            {% endif %}
            </div>
        {% endif %}
    </div>
</div>

{#<script src='{% static "instructions/date_limite.js" %}' type="text/javascript"></script>#}