{% if object.avis_enfant.all %}
    <hr class="my-4">
    {% if object.avis_enfant.all.count == 1 %}
        <h3><i class="preavis"></i> Préavis demandé au service interne :</h3>
    {% else %}
        <h3><i class="preavis"></i> Préavis demandés aux services internes :</h3>
    {% endif %}
    <div id="accordion" class="mt-3">
        {% for preavis in avis.avis_enfant.all %}
            {% if preavis == preavis.get_last_avis %}
                {% with in_avis=True %}
                    {% include 'instructions/avis_description.html' with object=preavis.get_last_avis %}
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}