<div class=" col-sm-12">
    <div class="alert alert-danger">
        <b>Dossier organisateur incomplet :</b>
        <ul style="list-style-type: circle">
            {% if formulaire_manquant %}
                <li>Formulaire incomplet</li>{% endif %}
            {% if n2k_manquant %}
                <li>Évaluation natura2000 incomplete</li>{% endif %}
            {% if rnrevaluation %}
                <li>Évaluation rnr incomplete</li>{% endif %}
            {% if carto_manquant %}
                <li>Cartographie incomplete</li>{% endif %}
            {% if manquants %}
                <li>Fichiers manquants</li>{% endif %}
        </ul>
    </div>
</div>