<!-- Modal date  -->
<div class="modal fade" id="formDate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-date-title" id="exampleModalLabel">Modal Date</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body-date" id="modal-body-date"><i class="spinner"></i></div>
        </div>
    </div>
</div>
