<!--bof instructions/blocs/notification_topic_open_forum.html-->
{% for forum, value in forums_dict.items %}
        <a class="btn btn-outline-primary me-4" href="{% url 'forum:forum' forum.slug forum.id %}?dep={{ request.user.default_instance.pk }}#ouvert">
            <span class="" style="font-weight: bold">
                {{ value.total_post }}
            </span>
            <span class="ms-2 me-2">
                {{ forum.get_forum_name }}
            </span>
        </a>
{% endfor %}
<!-- eof instructions/blocs/notification_topic_open_forum.html-->