{% extends 'board_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load forum_conversation_tags %}
{% load forum_member_tags %}

{% block head_title %}{% if forms %}Gérer mes abonnements{% else %}S'abonner à des sujets sur le forum {{ forum }}{% endif %}{% endblock %}

{% block sub-title %}{% if forms %}Gérer mes abonnements{% else %}S'abonner à des sujets sur le forum {{ forum }}{% endif %}{% endblock sub-title %}

{% block content %}
    {% if forms %}
        {% for form in forms %}
            <div class="container-fluid mb-5">
                {% crispy form %}
            </div>
        {% endfor %}
    {% elif form%}
        {% crispy form %}
    {% else %}
        <div class="alert alert-warning" role="alert">
            Vous n'avez aucun abonnements, rendez vous sur un <a href="{% url 'forum:index' %}">forum</a> afin d'en créer
        </div>
    {% endif %}

    <style>
        {% for theme in themes_all %}
            #div_id_themes .chosen-container-multi .chosen-choices li.search-choice[data-value='{{ theme.pk }}']{
                background-color: {{ theme.color }};
                border: 1px solid {{ theme.color }};
            }

        {% endfor %}
        #div_id_themes .chosen-container-multi .chosen-choices li.search-choice span{
            font-weight: bolder;
            color: white;
            margin-right: 0.3rem;
        }

    </style>

    <script>
        $('.switchToggle').each(function (){
            var id = $(this).find('.checkboxinput').attr('data-id')
            $(this).find('.checkboxinput').attr('id', 'id_tout_'+id)
            $(this).find('label').attr('for', 'id_tout_'+id)
        })
        $('.checkboxinput').change(function (){
            var id = $(this).attr('data-id')
            console.log(id)
            if ($(this).is(':checked')){
                $('#collapse_abonnements_'+id).collapse('hide')
            }
            else {
                $('#collapse_abonnements_'+id).collapse('show')
                $(".chosen-container").css('width', '100%')
            }
        })
    </script>
{% endblock content %}