{% extends 'board_base.html' %}
{% load i18n %}
{% load forum_conversation_tags %}
{% load forum_member_tags %}
{% load role_tags %}

{% block sub_title %}{% trans "Post a reply" %}{% endblock sub_title %}
{% block sub-title %}{{ topic.subject }}{% endblock sub-title %}
{% block content %}

    {% if preview %}
        {% include "forum_conversation/post_preview.html" %}
    {% endif %}
    <div class="row">
        <div class="col-12">
            <div class="card post-edit">
                <div class="card-header">
                    <h3 class="m-0 h5 card-title">{% if demande_assistance %}<i class="fa-solid fa-truck-tow me-2"></i>Demander une assistance{% else %}{% trans "Post a reply" %}{% endif %}</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="." class="form" enctype="multipart/form-data" novalidate>{% csrf_token %}
                        {% include "forum_conversation/partials/post_form.html" %}
                        <div class="form-actions ms-1 mt-4 float-end">
                            <input type="submit" id="submit_form" class="btn btn-large btn-primary" value="{% trans "Submit" %}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 row">
        <div class="col-12" id="preview">

            <div class="card-header">
                <h3 class="m-0 h5 card-title">{% trans "Topic review" %}&nbsp;&ndash;&nbsp;{{ topic.subject }}</h3>
            </div>

            {% for post in previous_posts %}

                <div class="card post preview-post" >
                    <div class="card-body">
                        <div class="row post-review">
                            <div class="col-md-10 post-content-wrapper">
                                <h4 class="subject">{{ post.subject }}</h4>
                                <p><small class="text-muted">
                                    {% spaceless %}
                                        <i class="fa fa-clock"></i>
                                        {% if post.poster %}
                                            Par {% if post.poster.is_superuser %}
                                            Manifestation Sportive
                                        {% else %}
                                            {{ post.poster|forum_member_display_name }}
                                        {% endif %}
                                            le {{ post.created }}

                                        {% else %}
                                            {% blocktrans trimmed with poster_username=post.username creation_date=post.created %}
                                                By: {{ poster_username }} on {{ creation_date }}
                                            {% endblocktrans %}
                                        {% endif %}
                                    {% endspaceless %}
                                </small></p>
                                <div class="post-content">
                                    {{ post.content|safe }}
                                </div>
                                {% include "forum_conversation/forum_attachments/attachments_detail.html" %}
                            </div>
                            <div class="col-md-2 post-sidebar">
                                <div class="username">{% include "partials/avatar.html" with profile=post.poster show_placeholder=True %}
                                         {% if post.poster.is_superuser %}
                                            Manifestation Sportive
                                        {% else %}
                                            {{ post.poster|forum_member_display_name }}
                                        {% endif %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
    <style>

        #preview:first-child{
            margin-top: 0% !important;
        }
        .preview-post{
            margin-top: 2%;
        }
    </style>
{% endblock content %}

{% block onbodyload %}
    machina.attachment.init();
{% endblock onbodyload %}

{% block extra_css %}
    {{ post_form.media.css }}
{% endblock extra_css %}

{% block extra_js %}
    {{ post_form.media.js }}
{% endblock extra_js %}
