{% extends 'board_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load forum_conversation_tags %}
{% load forum_member_tags %}
{% block sub-title %}{{ topic.subject }}{% endblock sub-title %}

{% block content %}
    {% if user_a_signale %}
        <div class="jumbotron">
            <h1>Vous avez déja signaler ce post..</h1>
            <a class="btn btn-primary float-end mt-3" href="{% url 'forum_conversation:topic' forum.slug forum.pk topic.slug topic.pk %}" role="button">Retour au Topic</a>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12">
                <div class="card post-edit">
                    <div class="card-header">
                        <h3 class="m-0 h5 card-title float-left" style="width: 50%">Signaler un post</h3>
                                                <a class="btn btn-secondary float-end" href="{% url 'forum_conversation:topic' forum.slug forum.pk topic.slug topic.pk %}" role="button">Retour au Topic</a>

                    </div>
                    <div class="card-body">
                       {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}