{% load i18n urlmanif %}
{% load static %}
{% load forum_conversation_tags %}
{% load forum_member_tags %}
{% load forum_tracking_tags %}
{% load verbose_tags %}
{% load role_tags %}


{% if topics or not hide_if_empty %}
    <div class="row">
        <div class="col-12">
            <div class="card topiclist">
                <div class="p-0 card-header">
                    <div class="row m-0 px-3 py-2">
                        <div class="ps-0 col-md-8 col-sm-9 col-12 topic-name-col"><h3 class="m-0 card-title h5 text-dark">{% if  announcements %}<i class="fas fa-bullhorn"></i>{% else %}<i class="fas fa-comment"></i>{% endif %} {% trans topic_list_title %}</h3></div>
                        <div class="col-md-1 d-none d-md-block text-center text-nowrap topic-count-col">{% if not announcements %}<a class="sort" id="nombre_post "data-sort="nombre_post"><i id="nombre_post_fleche" class="fas fa-sort text-muted"></i>{% trans "Replies" %}</a>{% else %}{% trans "Replies" %}{% endif %}</div>
                        <div class="col-md-1 d-none d-md-block text-center text-nowrap topic-count-col">{% if not announcements %}<a class="sort" id="vue" data-sort="vue"><i id="vue_fleche" class="fas fa-sort text-muted"></i>{% trans "Views" %}{% else %}{% trans "Views" %}{% endif %}</a></div>
                        <div class="pe-0 col-md-2 col-sm-3 d-none d-sm-block text-nowrap topic-last-post-col">{% if not announcements %}<a class="sort" id="vue" data-sort="last_message"><i id="vue_fleche" class="fas fa-sort text-muted"></i>{% trans "Last post" %}{% else %}{% trans "Last post" %}{% endif %}</a></div>
                    </div>
                </div>
                <div class="p-0 card-body">{% if not force_all_unread and unread_topics == None %}{% get_unread_topics topics request.user as unread_topics %}{% endif %}

                    <ul class="list list-group">
                        {% for topic in topics %}
                            {% if not topic.is_locked or user == topic.poster or user.is_agent_service_instructeur or user.is_superuser or user|hasgroup:"_support" %}
                                <li class="item list-group-item">

                                <div class="row m-0 px-0 ">
                                    <div class="ps-0 col-md-8 col-sm-9 col-xs-11 topic-name">
                                        <table class="topic-data-table" style="width: 100%">
                                            <tr>
                                                <td class="pt-1 pe-3 align-top topic-icon col-1 {% if topic in unread_topics or force_all_unread %}unread{% endif %}">
                                                    {% if topic.is_sticky %}
                                                        <i class="fas fa-2x fa-lightbulb" data-bs-toggle="tooltip" title="Sujet épinglé"></i>
                                                    {% elif topic.is_clot %}
                                                        <i class="fas fa-2x fa-check text-success" data-bs-toggle="tooltip" title="Sujet clôt"></i>
                                                    {% elif topic.is_announce %}
                                                        <i class="fas fa-2x fa-info" data-bs-toggle="tooltip" title="Annonce"></i>
                                                    {% elif topic.is_locked %}
                                                        <i class="fas fa-2x fa-eye-slash" data-bs-toggle="tooltip" title="Ce sujet a été rendu confidentiel."></i>
                                                    {% else %}
                                                        <i class="fas fa-2x fa-bullseye"></i>
                                                    {% endif %}


                                                </td>
                                                <td class="align-top topic-name">
                                                    <h6>{% if topic.is_locked and not user == topic.poster and not user.is_agent_service_instructeur and not user.is_superuser and not user|hasgroup:"_support"%}{{ topic.subject }}{% else %}<a class="topic_link sujet topic-name-link" href="{% url 'forum_conversation:topic' topic.forum.slug topic.forum.pk topic.slug topic.pk %}">{{ topic.subject }} </a>{% endif %}</h6>
                                                    <div>
                                                        {% if force_all_unread %}
                                                        <a href="{% url 'forum:forum' topic.forum.slug topic.forum.id %}" class="text-dark">{{ topic.forum.name }}</a><br>
                                                        {% endif %}
                                                        {% if topic.dossier and service %}
                                                            <a href="{% if  request.session.o_support and topic.dossier.get_instruction %}{{ topic.dossier.get_instruction.get_absolute_url }}{% else %}{{ topic.dossier|urlmanif:service }}{% endif %}">
                                                                <span class="dossier"><i class="fas fa-folder-open" aria-hidden="true"></i>{{ topic.dossier }}</span>
                                                            </a>
                                                            <br>
                                                            <span><i class="fa fa-flag-checkered" aria-hidden="true"></i><span class="activite">{{ topic.dossier.activite }}</span></span>
                                                            <span class="departement">{{ topic.dossier.ville_depart.get_instance.departement }}</span>
                                                        {% endif %}
                                                        <span class="statut" data-statut="{{  topic.is_clot }}"></span>
                                                        <span class="service" data-service="{{  topic.poster.get_service }}"></span>
                                                        <span class="departement_user" data-departement_user="{{  topic.poster.default_instance.pk }}"></span>
                                                        <span class="theme" data-theme="{% for theme in topic.theme.all %}{{  theme.pk }},{% endfor %}"></span>

                                                    </div>
                                                    <div class="pt-1">
                                                        {% for theme in topic.theme.all %}
                                                            <span class="badge me-1 mb-1 badge-pill" style="background-color: {{ theme.color }}; font-size: 12px;">{{ theme }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </td>
                                            </tr>

                                        </table>

                                    </div>
                                    <div class="py-2 col-md-1 d-none d-md-block text-center topic-count"><span class="nombre_post">{{topic.posts_count|add:"-1" }}</span></div>
                                    <div class="py-2 col-md-1 d-none d-md-block text-center topic-count"><span class="vue">{{topic.views_count }}</span></div>
                                    <div class="py-2 col-md-2 col-sm-3 d-none d-sm-block topic-last-post">
                                        {% with last_post=topic.last_post %}
                                            {% if last_post.poster %}

                                                {% if last_post.poster.is_superuser %}
                                                    Manifestation Sportive
                                                {% else %}
                                                    Par: <span>{{ last_post.poster|forum_member_display_name }} ({% if last_post.poster.get_departement %}{{ last_post.poster.get_departement.name }}{% else %} National {% endif %})</span>
                                                {% endif %}
                                            {% else %}
                                                Par: {{ last_post.poster|forum_member_display_name }}
                                            {% endif %}
                                            {% if not topic.is_locked or user == topic.poster or user.is_agent_service_instructeur or user.is_superuser or user|hasgroup:"_support" %}
                                                <a href="{% url 'forum_conversation:topic' topic.forum.slug topic.forum.pk topic.slug topic.pk %}?post={{ last_post.pk }}#{{ last_post.pk }}"><i class="fas fa-arrow-circle-right "></i></a>
                                            {% endif %}
                                            <br />
                                            <small><span class="last_message" data-last-message="{{ last_post.created|date:"U" }}">{{ last_post.created }}</span></small>
                                        {% endwith %}
                                    </div>
                                </div>
                            {% endif %}

                        </li>

                        {% endfor %}
                    </ul>
                </div>
            </div>
            <ul id ="pagination" class="pagination justify-content-center"></ul>
        </div>

    </div>
{% endif %}
{% block extra_js %}
    <script src='{% static "libs/list.min.js" %}' type="text/javascript"></script>
    <script src="{% static "forum_conversation/js/liste_topic.js" %}" type="text/javascript"></script>
    <script src="{% static "portail/js/sort_button.js" %}" type="text/javascript"></script>
{% endblock %}
<style>
    .page-link{
        padding: 0.5rem;
    }
    .pagination{
        margin-top: 0.5rem;
    }
    a:after {
        display: none !important;
    }
    .list-group-item:hover{
        background-color: #fafafa;
    }
    .active a{
        background-color: white !important;
        color: #015A70 !important;
        border: 1px solid #dee2e6 !important;
    }
    .page-link:hover{
        color: #015A70 !important;;
    }
</style>

