{% extends 'board_base.html' %}
{% load i18n urlmanif %}
{% load forum_conversation_tags %}
{% load forum_member_tags %}
{% load role_tags %}
{% load forum_permission_tags %}

{% block head_title %}
    {{ topic.subject }}
{% endblock %}
{% block sub-title %}
    {% if topic.is_locked %}<i class="fas fa-eye-slash me-3" data-bs-toggle="tooltip" data-bs-original-title="Ce sujet a été rendu confidentiel." aria-label="Ce sujet a été rendu confidentiel." title="Ce sujet a été rendu confidentiel."></i>
    {% elif topic.is_clot %}<i class="fas fa-check me-3" data-bs-toggle="tooltip" data-bs-original-title="Ce sujet a été clôturé." aria-label="Ce sujet a été clôturé." title="Ce sujet a été clôturé."></i>
    {% endif %}
    {{ topic.subject }}
    {% endblock sub-title %}
{% block content %}
    {% if topic.is_locked and not user == topic.poster and not user.is_agent_service_instructeur and not user.is_superuser and not user|hasgroup:"_support" %}
        <div class="jumbotron">
            <div class="row"><div class="col-12"><h1>Ce sujet a été rendu confidentiel par l'administration</h1></div></div>
            <a class="btn btn-primary float-end mt-3" href="{% url 'forum:forum' forum.slug forum.id %}" role="button">Retour au forum</a>
        </div>
    {% else %}
        <div>
            {% if topic.theme %}
                <div class="mb-2">
                    {% for theme in topic.theme.all %}
                        <span class="badge me-1 badge-pill" style="background-color: {{ theme.color }}; font-size: 12px;">{{ theme }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if topic.dossier %}  <a href="{% if  request.session.o_support and topic.dossier.get_instruction %}{{ topic.dossier.get_instruction.get_absolute_url }}{% else %}{{ topic.dossier|urlmanif:service }}{% endif %}"><i class="fas fa-folder-open ms-2 mt-1" aria-hidden="true"></i> {{ topic.dossier }}</a>{% endif %}
            {% if topic.activite %} <i class="fa fa-flag-checkered" aria-hidden="true"></i> {{ topic.activite }}{% endif %}
        </div>
        <div class="row">
            <div class="col-12">
                {% for post in posts %}
                    {% if forloop.first and post.is_topic_head and poll %}
                        {% include "forum_conversation/forum_polls/poll_detail.html" %}
                    {% endif %}
                    <div id="{{ post.id }}" class="my-3 card post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10 post-content-wrapper">
                                    <div class="float-end post-controls">
                                        {% get_permission 'can_edit_post' post request.user as user_can_edit_post %}
                                        {% if user_can_edit_post %}
                                            <a href="{% if post.is_topic_head %}{% url 'forum_conversation:topic_update' forum.slug forum.pk topic.slug topic.pk %}{% else %}{% url 'forum_conversation:post_update' forum.slug forum.pk topic.slug topic.pk post.pk %}{% endif %}" class="btn btn-warning btn-sm" title="{% trans "Edit" %}"><i class="fas fa-edit"></i>&nbsp;{% trans "Edit" %}</a>
                                        {% endif %}
                                        {% get_permission 'can_delete_post' post request.user as user_can_delete_post %}
                                        {% if user_can_delete_post %}
                                            <a href="{% url 'forum_conversation:post_delete' forum.slug forum.pk topic.slug topic.pk post.pk %}" class="btn btn-danger btn-sm" title="{% trans "Delete" %}"><i class="me-0 fas fa-times"></i></a>
                                        {% elif forum.slug == "forum-organisateurs" and not request.user.is_new and not request.user == post.poster %}
                                            <a href="{% url 'forum_conversation:signal_create' forum.slug forum.pk topic.slug topic.pk post.pk %}" class="btn btn-danger btn-sm py-1" title="Signaler ce post">Signaler</a>
                                        {% endif %}
                                    </div>
                                    {% spaceless %}
                                        <h5 class="m-0 mb-2 subject">
                                            {% if post.demande_assistance %}<i class="fa-solid fa-truck-tow me-2 fa-xs"></i>{% endif %}{{post.subject}}
                                            <span class="post_lien_span"
                                                  style="display: none; font-size: 0.8rem"
                                                  data-bs-toggle="tooltip"
                                                  title="Cliquez pour copier le lien vers cette réponse"
                                                  data-bs-original-title="Cliquer pour copier le lien vers cette réponse">

                                                <a class="post_lien" href="{% url 'forum_conversation:topic' post.topic.forum.slug post.topic.forum.pk post.topic.slug post.topic.pk %}?post={{ post.pk }}#{{ post.pk }}">
                                                    <i class="lien fas fa-link fa-fw"></i>
                                                </a>

                                            </span>
                                        </h5>

                                    {% endspaceless %}
                                    <div class="mb-3">
                                        <small class="text-muted">
                                            {% spaceless %}
                                                <i class="fas fa-clock"></i>&nbsp;
                                                {% if post.poster.is_superuser %}
                                                    Par: Manifestation Sportive le {{ post.created }}
                                                {% elif post.poster %}
                                                    {% url 'forum_member:profile' post.poster_id as poster_url %}
                                                    {% blocktrans trimmed with poster_url=poster_url username=post.poster|forum_member_display_name creation_date=post.created %}
                                                        Par: {{ username }} le {{ creation_date }}
                                                    {% endblocktrans %}
                                                {% else %}
                                                    {% blocktrans trimmed with poster_username=post.username creation_date=post.created %}
                                                        Par: {{ poster_username }} le {{ creation_date }}
                                                    {% endblocktrans %}
                                                {% endif %}
                                            {% endspaceless %}
                                        </small>
                                        {% if post.updates_count %}
                                            <div class="edit-info">
                                                <small class="text-muted">
                                                    <i class="fas fa-edit"></i>
                                                    {% if post.updated_by %}{% trans "Last edited by:" %}&nbsp;
                                                        {% if post.poster.is_superuser %}
                                                            Manifestation Sportive
                                                        {% else %}
                                                            {{ post.updated_by|forum_member_display_name }}&nbsp;
                                                        {% endif %}
                                                    {% else %}
                                                        {% trans "Updated" %}
                                                     {% endif %}
                                                     {% trans "on" %} {{ post.updated }}, {% blocktrans count counter=post.updates_count %}edited {{counter }} time in total.{% plural %}edited {{counter }} times in total.{% endblocktrans %}
                                                </small>
                                                {% if post.update_reason %}
                                                    <br />
                                                    <small class="text-muted">
                                                        <b>{% trans "Reason:" %}</b>&nbsp;{{ post.update_reason }}
                                                    </small>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="post-content">
                                        {{ post.content|safe}}
                                    </div>
                                    {% include "forum_conversation/forum_attachments/attachments_detail.html" %}
                                    {% if post.enable_signature and post.poster.forum_profile.signature %}
                                        <div class="post-signature">
                                            {{ post.poster.forum_profile.signature.rendered }}
                                        </div>
                                    {% endif %}

                                </div>
                                <div class="col-md-2 d-none d-md-block post-sidebar">
                                    <div class="username">
                                        {% include "partials/avatar.html" with profile=post.poster topic=True %}
                                        {% if post.poster.is_superuser %}
                                            Manifestation Sportive
                                        {% elif request.user|hasgroup:"_support" or request.user|hasgroup:"Administrateurs d'instance"%}
                                            <a href="{% url "profile_publique" post.poster.pk %}">
                                            {{post.poster|forum_member_display_name}}
                                            ({% if post.poster.get_departement %}{{ post.poster.get_departement.name }}{% else %} National {% endif %})
                                            </a>
                                        {% else %}
                                            {{post.poster|forum_member_display_name}}
                                            ({% if post.poster.get_departement %}{{ post.poster.get_departement.name }}{% else %} National {% endif %})
                                        {% endif %}

                                    </div>
                                    {% if not post.poster.organisateur and post.poster.get_service %}
                                        <div class="user_service">{{ post.poster.get_service }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-6 topic-actions-block">
                {% include "forum_conversation/partials/topic_detail_actions.html" %}
            </div>
            <div class="col-6 topic-actions-block">
                {% if not abonne %}
                    <button id="add-abonnement-sujet" class="float-end btn btn-secondary btn-sm"><i class="fas fa-plus fa-lg"></i>S'abonner à ce sujet</button>
                    <button id="supp-abonnement-sujet" class="float-end btn btn-secondary btn-sm d-none"><i class="fas fa-minus"></i>Se désabonner de ce sujet</button>
                {% else %}
                    <button id="add-abonnement-sujet" class="float-end btn btn-secondary btn-sm d-none"><i class="fas fa-plus fa-lg"></i>S'abonner à ce sujet</button>
                    <button id="supp-abonnement-sujet" class="float-end btn btn-secondary btn-sm"><i class="fas fa-minus"></i>Se désabonner de ce sujet</button>
                {% endif %}
            </div>
            <div class="col-12 col-md-8">
                {% with "pagination-sm justify-content-end" as pagination_size %}
                    {% include "partials/pagination.html" %}
                {% endwith %}
            </div>
        </div>

    {% endif %}
    <style>
        .post-content-wrapper h1{
            color: black;
        }
        .post-content-wrapper h2{
            color: black;
        }
        .avatar-icone{
            font-size: 1.5vw;
        }
    </style>
    <script>
        if(window.location.hash) {
            var id = window.location.hash.substring(1);
            $(`#${id}`).css('background-color', ' #efffef')
        }
        $("#add-abonnement-sujet").click(function (){
            abonnmentSujet('ajout')
        })
        $("#supp-abonnement-sujet").click(function (){
            abonnmentSujet('supprime')
        })

        function abonnmentSujet(ajout){
            $.get({
                url: '{% url "forum_conversation:abonnement_sujet" topic.forum.slug topic.forum.pk %}',
                data: {
                    'topic': {{topic.pk}},
                    'forum':  {{topic.forum.pk}},
                    'operation': ajout,
                },
                success :
                    function (reponse){
                        console.log(reponse)
                        if(reponse==="True"){
                            if(ajout==='ajout'){
                                $("#add-abonnement-sujet").addClass('d-none')
                                $("#supp-abonnement-sujet").removeClass('d-none')
                            }
                            else {
                                $("#add-abonnement-sujet").removeClass('d-none')
                                $("#supp-abonnement-sujet").addClass('d-none')
                            }
                        }
                        else {
                            alert(reponse)
                        }
                    }
            })
        }

        // Affiche l'icone 'lien' à coter des titres au survol
        $('body').on('mouseover', '.subject', function () {
             $(this).find('span[class$=post_lien_span]').show('fast');
        });
        $('body').on('mouseleave', '.subject', function () {
             $(this).find('span[class$=post_lien_span]').hide('fast');
        });
        // Copie le lien du message lors d'un clique sur l'icone
        $(".post_lien").click(function (e){
            e.preventDefault()
            navigator.clipboard.writeText(location.origin +  $(this).attr('href'))
        })
    </script>
{% endblock content %}
