{% extends 'board_base.html' %}
{% load i18n %}

{% block sub_title %}Liste des sujets épinglés{% endblock sub_title %}

{% block content %}
    <div class="row"><div class="col-12"><h1>Liste des sujets épinglés</h1></div></div>
    <div class="row">
        <div class="col-12 col-md-4 topic-actions-block">
            {% if paginator.count > 0 %}
                <p class="text-muted">
                    {% blocktrans trimmed count topic_length=paginator.count %}
                        {% plural %}{{ topic_length }} sujets épinglés trouvés
                    {% endblocktrans %}
                </p>
            {% endif %}
        </div>
        <div class="col-12 col-md-8 pagination-block">
            {% with "pagination-sm justify-content-end" as pagination_size %}
                {% include "partials/pagination.html" %}
            {% endwith %}
        </div>
    </div>
    <div id="hacker-list">
    <div class="navbar-filtre d-flex mb-2">
        <input class="search filtre-item w-25 h-100 form-control" id="input-search-forum-sticky" placeholder="Recherche"/>
    </div>


    {% trans "There are no unread topics." as empty_message %}
    {% with topic_list_title="Topics" empty_message=empty_message force_all_unread=True %}
        {% include "forum_conversation/topic_list.html" %}
    {% endwith %}
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 pagination-block">
            {% with "pagination-sm" as pagination_size %}
                {% include "partials/pagination.html" %}
            {% endwith %}
        </div>
    </div>
{% endblock content %}
