<template>
  <div class="import-tracks space-y-8">
    <div class="import-tracks-container">
      <div class="import-tracks-list-conainter">
        <div class="import-tracks-list-title">
          Liste des parcours
        </div>
        <perfect-scrollbar class="import-tracks-list-items">
          <draggable v-model="loaded" @change="onOrderChange" :disabled="type !== 'fusion'">
            <track-item
                v-for="track in loaded"
                :key="track.id"
                :type="type"
                :item="track"
                @toggle="toggleItem(track.id)"
                @inverse="inverseTrack"
            />
          </draggable>
        </perfect-scrollbar>
      </div>
      <div id="map-preview" class="import-preview"/>
    </div>
    <div class="import-tracks-actions space-y-4">
      <simple-button v-if="type === 'import'" @click="setAllColor" id="btn-gpx-track-color">
        Définir des couleurs pour chaque parcours
      </simple-button>
      <simple-button v-if="type === 'import'" @click="importTracks" id="btn-import-gpx">
        Importer les parcours selectionnés
      </simple-button>
      <simple-button v-if="type === 'fusion'" @click="importTracks" id="btn-fusion-gpx">
        Fusionné les parcours sélectionnés
      </simple-button>
      <div class="alert alert-warning" v-if="type === 'fusion'">Si des POI sont attacher a un parcours, veuillez
        verifier leur positionnement apres la fusion.
      </div>
    </div>
  </div>
</template>

<script>
import SimpleButton from "@/components/buttons/SimpleButton";
import TrackItem from "@/components/popup/importGpx/TrackItem";
import _ from 'lodash';
import CircleLoader from "@/components/loaders/CircleLoader";

export default {
  name: 'ImportTracks',
  components: {CircleLoader, TrackItem, SimpleButton},
  props: {
    type: {
      type: String,
      default: 'import',
    },
    traces: {
      type: Array,
      default: () => [],
    },
    waypoints: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      loaded: [],
      totalLoaded: 0,
      fusionItem: null,
    }
  },
  mounted() {
    setTimeout(() => {
      this.map = L.map('map-preview').setView([51.505, -0.09], 13)
      L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        subdomains: ['a', 'b', 'c'],
      }).addTo(this.map)

      this.createItem()
    }, 100)
  },
  methods: {
    createItem() {
      this.$emit('loading', true)
      this.traces.forEach((geojson) => {
        const item = {
          id: geojson.properties.id,
          loaded: true,
          geojson,
          ...this.createGeojsonLayer(geojson, geojson.geometry.coordinates, geojson.properties)
        }
        this.loaded.push(item)
        // on charge par defaut les parcours dans la preview
        this.addToMap(item)
      })
      this.$emit('loading', false)
    },
    toggleItem(id) {
      const index = this.loaded.findIndex(el => el.id === id)
      this.loaded[index].loaded = !this.loaded[index].loaded
      if (this.loaded[index].loaded) {
        this.addToMap(this.loaded[index])
      } else {
        this.removeFromMap(this.loaded[index])
      }
    },
    addToMap(item) {
      if (this.type === 'fusion') {
        let fitBounds
        if (!this.fusionItem) {
          fitBounds = true
          this.fusionItem = {
            content: [],
          }
        }
        this.fusionItem.content = this.loaded.filter(item => item.loaded)
        this.displayFusion()
        if (fitBounds) {
          this.updateMapBounds()
        }
      } else {
        item.layer.addTo(this.map)
        item.direction.addTo(this.map)
        item.start.addTo(this.map)
        item.end.addTo(this.map)
        this.totalLoaded += 1
        this.updateMapBounds()
      }
    },
    removeFromMap(item) {
      if (this.type === 'fusion') {
        this.fusionItem.content.forEach((item) => {
          item.start.remove()
          item.end.remove()
        })
        this.fusionItem.content = this.fusionItem.content.filter(el => el.id !== item.id)
        this.displayFusion()
      } else {
        item.layer.remove()
        item.direction.remove()
        item.start.remove()
        item.end.remove()
      }
      this.totalLoaded -= 1
    },
    updateMapBounds() {
      const bounds = this.loaded.reduce((cumul, track) => {
        if (track.loaded) {
          return cumul.extend(track.layer.getBounds())
        }
        return cumul
      }, new L.LatLngBounds())
      if (bounds.isValid()) {
        this.map.fitBounds(bounds)
      }
    },
    createGeojsonLayer(geojson, latlngs, options) {
      const startIcon = (id) => {
        return L.divIcon({
          className: 'preview-icon',
          html: `<div class="gpx-preview start">${id}</div>`,
          iconAnchor: [12, 12],
        })
      }
      const endIcon = (id) => {
        return L.divIcon({
          className: 'preview-icon',
          html: `<div class="gpx-preview end">${id}</div>`,
          iconAnchor: [0, 0],
        })
      }
      const arrowPattern = (color, weight) => {
        return {
          offset: '50px',
          repeat: '150px',
          symbol: new L.Symbol.ArrowHead({
            pixelSize: 6,
            polygon: true,
            pathOptions: {
              stroke: true,
              color,
              fillColor: color,
              fillOpacity: 1,
              opacity: 1,
              weight: 4
            },
          }),
        }
      }
      const layer = L.geoJSON(geojson, {
        style: {
          color: options.shape.stroke_color,
          weight: options.shape.stroke_width,
        },
      })
      const direction = L.polylineDecorator(
          layer.getLayers()[0].getLatLngs(),
          {patterns: [arrowPattern('#000', options.shape.stroke_width)]}
      )
      const start = L.marker([latlngs[0][1], latlngs[0][0]], {
        icon: startIcon(options.id),
      })
      const end = L.marker([
        latlngs[latlngs.length - 1][1],
        latlngs[latlngs.length - 1][0]
      ], {
        icon: endIcon(options.id),
      })
      return {
        layer,
        direction,
        start,
        end,
      }
    },
    setAllColor() {
      this.loaded.forEach((item, index) => {
        const color = editorSettings.colors[index % editorSettings.colors.length]
        item.geojson.properties.shape.stroke_color = color
        item.layer.setStyle({color})
      })
    },
    inverseTrack(id) {
      const index = this.loaded.findIndex(el => el.id === id)
      const {layer, geojson, direction, start, end} = this.loaded[index]
      geojson.geometry.coordinates.reverse()
      layer.clearLayers()
      layer.addData(geojson)
      direction.setPaths(layer.getLayers()[0].getLatLngs())
      start.setLatLng([
        geojson.geometry.coordinates[0][1],
        geojson.geometry.coordinates[0][0]
      ])
      end.setLatLng([
        geojson.geometry.coordinates[geojson.geometry.coordinates.length - 1][1],
        geojson.geometry.coordinates[geojson.geometry.coordinates.length - 1][0]
      ])
      if (this.type === 'fusion') {
        this.displayFusion()
      }
    },
    importTracks() {
      const toImport = {}
      this.$emit('loading', true)
      // customizer utiliser pour concatener les tableaux entre eux lors d'un merge d'objet
      setTimeout(() => {
        const customizer = (objValue, srcValue) => {
          if (_.isArray(objValue)) {
            return objValue.concat(srcValue);
          }
        }
        const toLoad = this.loaded.filter(track => track.loaded)
        if (this.type === 'fusion') {
          toImport.traces = toLoad.reduce((cumul, track, idx) => {
            cumul.properties = _.mergeWith(cumul.properties, track.geojson.properties, customizer)
            cumul.geometry.coordinates = cumul.geometry.coordinates.concat(track.geojson.geometry.coordinates)
            return cumul
          }, {
            type: 'Feature',
            properties: {},
            geometry: {
              type: 'LineString',
              coordinates: []
            }
          })
        } else {
          toImport.traces = toLoad.map(track => track.geojson)
        }
        if (toLoad.length === 1 || this.type === 'fusion') {
          // add waypoints
          toImport.waypoints = this.waypoints
        }
        this.$emit('loading', false)
        this.$emit('import', toImport)
      }, 100)
    },
    onOrderChange() {
      if (this.type === 'fusion') {
        if (this.fusionItem) {
          const ids = this.fusionItem.content.map(item => item.id)
          this.fusionItem.content = this.loaded.filter(item => ids.includes(item.id))
          if (this.fusionItem.content.length > 0) {
            this.displayFusion()
          }
        }
      }
    },
    displayFusion() {
      if (this.fusionItem.layer) {
        this.fusionItem.layer.remove()
        this.fusionItem.direction.remove()
      }
      if (this.fusionItem.content.length !== 0) {
        const latlngs = this.fusionItem.content.reduce((cumul, item) => cumul.concat(item.geojson.geometry.coordinates), [])
        const {
          layer,
          direction
        } = this.createGeojsonLayer({
          type: 'Feature',
          geometry: {
            type: 'LineString',
            coordinates: latlngs
          },
          properties: {},
        }, latlngs, this.fusionItem.content[0].geojson.properties)
        this.fusionItem.layer = layer
        this.fusionItem.direction = direction
        this.fusionItem.layer.addTo(this.map)
        this.fusionItem.direction.addTo(this.map)
        this.fusionItem.content.forEach((item) => {
          item.start.addTo(this.map)
          item.end.addTo(this.map)
        })
      }
    }
  },
}
</script>

<style scoped>
.import-preview {
  flex-grow: 1;
  min-width: 200px;
}

.sortable-ghost {
  background-color: grey;
}

.preview-icon {
  background-color: transparent;
  border: none;
}

.import-tracks {
  /*flex flex-grow flex-col w-full space-y-8*/
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

.import-tracks-actions {
  /*flex flex-col space-y-4*/
  display: flex;
  flex-direction: column;
}


.import-tracks-container {
  /*flex justify-evenly w-full h-96*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.import-tracks-list-conainter {
  /*flex flex-col bg-gray-3 rounded-3xl*/
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 10px 0 0 10px;
}

.import-tracks-list-title {
  /*flex px-4 text-gray-brown text-xl border-b border-gray-2*/
  display: flex;
  padding: 0 10px;
  color: gray;
  font-size: 1.25em;
  border-bottom: 1px solid gray;
}

.import-tracks-list-items {
  height: 250px;
  max-width: 250px;
}
</style>
<style>
.gpx-preview {
  /*bg-green rounded-full w-4 h-4 flex justify-center items-center*/
  border-radius: 9999px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpx-preview.start {
  background-color: green;
}

.gpx-preview.end {
  background-color: red;
}
</style>
