<template>
  <div class="select-import-type space-y-8">
    <simple-button id="btn-select-import" @click="$emit('type', 'import')">
      Importer chaque parcours
    </simple-button>
    <simple-button id="btn-select-fusion" @click="$emit('type', 'fusion')">
      Fusionner des parcours
    </simple-button>
  </div>
</template>

<script>
import SimpleButton from "@/components/buttons/SimpleButton";
export default {
  name: 'SelectImportType',
  components: {SimpleButton},
}
</script>

<style scoped>
  .select-import-type {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
  }
</style>