<template>
  <div class="upload-file-card space-y-4">
    <drop-file-input v-model="files" />
    <div class="alert alert-info">
      L'importation de fichiers gpx peut prendre un temps plus ou moins long selon la rapidité de votre connexion internet et les performances de votre ordinateur.
    </div>
    <simple-button id="btn-gpx-to-geojson" :disabled="files.length === 0" @click="importFiles">
      Traiter les fichiers
    </simple-button>
  </div>
</template>

<script>
import {fromGpx} from "@/modules/utils/FromGpx";
import DropFileInput from "@/components/forms/DropFileInput";
import SimpleButton from "@/components/buttons/SimpleButton";

export default {
  name: 'UploadFileCard',
  components: {SimpleButton, DropFileInput},
  data() {
    return {
      files: [],
    }
  },
  methods: {
    importFiles() {
      this.$emit('loading', true)
      fromGpx(this.files).then((traceShape) => {
        this.$emit('loading', false)
        this.$emit('loaded', traceShape)
      }).catch((err) => {
        this.$emit('loading', false)
        console.error(err)
        // todo : erreur de convertion
      })
    }
  }
}
</script>

<style scoped>
.upload-file-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
