<div class="container mb-4">
    <div class="row mb-3">
        <div class="col-sm">
            <div class="card">
                <div class="card-header" style="color: #6c757d;">
                    <h4>Informations g&eacute;n&eacute;rales</h4>
                </div>

                <div class="card-body">
                    <p><a href="/aide/presentation-plateforme">Pr&eacute;sentation de la plateforme <span
                            class="badge badge-info ml-1"><i class="deplier no-right-margin text-white"></i></span></a>
                        <a class="ml-3"
                           href="/media/uploads/2020/01/12/2020-01-10_doc_presentation_approfondie_manif_sportive.pdf"
                           target="_blank"><i class="telecharger"></i><small>Version PDF</small></a> <span
                                style="float: right;"> <a href="/aide/legende" target="_blank">L&eacute;gende &amp; pictogrammes</a> <span
                                class="pipe_separator">|</span> <a href="/aide/sigles" target="_blank">Sigles</a> <span
                                class="pipe_separator">|</span> <a href="/aide/technique">Espace technique</a> </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm">
            <div class="card text-center">
                <div class="card-header" style="color: #6c757d;"><i class="organisateur display-4"></i>

                    <h4>Organisateurs</h4>
                </div>

                <div class="card-body"><a class="btn btn-primary d-block mb-2" href="/aide/FAQ-organisateurs"><i
                        class="aide"></i> Aide</a> <a class="d-block"
                                                      href="/media/uploads/2020/01/02/tutoplateformev3_org_2019.pdf">Tutoriel
                    PDF</a></div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card text-center">
                <div class="card-header" style="color: #6c757d;"><i class="instructeur display-4"></i>

                    <h4>Instructeurs</h4>
                </div>

                <div class="card-body"><a class="btn btn-primary d-block mb-2" href="/aide/FAQ-instructeurs"><i
                        class="aide"></i> Aide</a> <a class="d-block"
                                                      href="/media/uploads/2019/03/06/tutorielplateformev3_si_mairies_2019.pdf">Tutoriel
                    PDF</a></div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card text-center">
                <div class="card-header" style="color: #6c757d;"><i class="agent-departemental display-4"></i>

                    <h4>Services consult&eacute;s</h4>
                </div>

                <div class="card-body"><a class="btn btn-primary d-block mb-2" href="/aide/FAQ-services-consultes"><i
                        class="aide"></i> Aide</a> <a class="d-block"
                                                      href="/media/uploads/2020/01/02/tutorielplateformev3_sc_2019_HTNhai8.pdf">Tutoriel
                    PDF</a></div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm">
            <div class="card">
                <div class="card-header" style="color: #6c757d;">
                    <h4>Aides contextuelles</h4>
                </div>

                <div class="card-body">
                    <p>Laissez-vous guider et obtenez des pr&eacute;cisions en passant votre souris sur les bulles d&#39;informations
                        <i class="aide-contextuelle no-right-margin"></i> pr&eacute;sentes un peu partout.<br/>
                        Exemple :<br/>
                        <img alt="" src="/media/uploads/2020/02/03/2020-02-03-bulle-daide.jpg"
                             style="border-width: 1px; border-style: solid; width: 650px; height: 198px;"/></p>
                </div>
            </div>
        </div>
    </div>
</div>
