<template>
  <div :style="{color: color}" :class="classes">{{ text }}</div>
</template>

<script>
export default {
  name: "ColoredText",
  props: {
    classes: {
      type: String,
      default: "",
    },
    color: {
      type: String,
      default: "#000000",
    },
    text: {
      type: String,
      default: "",
    },
  },
};
</script>

<style scoped>

</style>
