<div class="col col-6" {% if obj.nb_user_actif == 0 or obj.relation == 0 %}style="color: red !important;"{% endif %}>
&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
&nbsp;&nbsp;&nbsp;&nbsp;{{ obj }}
</div>
<div class="col col-3">
    <a class="button-collapse text-decoration-none" data-toggle="collapse" href="#{{ label }}{{ lnb }}{{ obj.id }}" role="button"
       aria-expanded="false" {% if obj.nb_user_actif == 0 %}style="color: red !important;"{% endif %}>
        {{ obj.nb_user_actif }}
        agent{{ obj.nb_user_actif|pluralize }}
        actif{{ obj.nb_user_actif|pluralize }}
        {% if obj.nb_user_nonactif %}
            , {{ obj.nb_user_nonactif }}
            non actif{{ obj.nb_user_nonactif|pluralize }}
        {% endif %}
    </a>
    <div class="d-flex justify-content-start">
        <div class="collapse border-left pb-2 pl-4" id="{{ label }}{{ lnb }}{{ obj.id }}">
        {% if obj.nb_user_actif > 0 %}
            <p class="mb-0 mt-2">Agents actifs :</p>
            <ul class="mb-0">
            {%  for agent in obj.get_service_users %}
                {% if agent.is_active and not agent.agent.cgsuperieuragent %}
                    <li><a href="{% url 'profile_publique' pk=agent.pk%}">{{ agent.get_full_name }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
        {% if obj.nb_user_nonactif > 0 %}
            <p class="mb-0 mt-2">Agents inactifs :</p>
            <ul class="mb-0">
            {%  for agent in obj.get_service_users %}
                {% if not agent.is_active and not agent.agent.cgsuperieuragent %}
                    <li><a href="{% url 'profile_publique' pk=agent.pk%}">{{ agent.get_full_name }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>
</div>
