{% extends "base.html" %}
{% load verbose_tags %}
{% load i18n index_tags %}

{% block page_title %}
    <h1>Liste des services</h1>
{% endblock %}

{% block content %}
    <div>
        Voici la liste synthétique et exhaustive de tous les services configurés dans votre département {% if dept_user %}({{ dept_user }}){% endif %}
        avec le nombre d'agents (actifs et non actifs) qui leur sont rattachés,<br>
        ainsi que le nombre de services rattachés pour la gestion des pré_avis.<br>
        <strong>Les lignes en <span style="color: red">rouge</span> requièrent votre attention</strong>
        car aucun agent actif n'est présent dans la plateforme ou aucun services n'est rattaché pour la gestion des pré-avis,<br>
        ce qui peut aboutir à une demande d'avis jamais traitée (par exemple).
    </div>
    <div class="d-flex flex-row justify-content-end">
        {% if not dept_user %}
            <div class="mr-4"><h2>Voir les services pour un département :</h2></div>
            <form class="form-inline chosen-mod" action="/administration/services/" method="get">
                <div class="form-group h-100 mr-4">
                    <select class="form-control" id="dept" name="dept">
                        <option value=""> ----- </option>
                        {% for nb, dept in liste_dept %}
                            {% if nb == request.GET.dept %}
                                <option selected value="{{ nb }}">{{ dept }}</option>
                            {% else %}
                                <option value="{{ nb }}">{{ dept }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </form>
        {% endif %}
    </div>

    <div class="row mt-4">
        <div class="tab-list col-sm-12">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#prefectures" data-toggle="pill">Préfecture</a></li>
                <li class="nav-item"><a class="nav-link" href="#mairies" data-toggle="pill">Mairies</a></li>
                <li class="nav-item"><a class="nav-link" href="#services" data-toggle="pill">Services consultés</a></li>
                <li class="nav-item"><a class="nav-link" href="#federations" data-toggle="pill">Fédérations</a></li>
                <li class="nav-item"><a class="nav-link" href="#zones" data-toggle="pill">Zones protégées</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content help-page">
        <!-- Préfectures -->
        <div id="prefectures" class="tab-pane fade show active">
            <div><h2 class="pl-3">Préfectures</h2></div>
            <div class="row">
                {% for prefecture in prefectures %}
                    {% include 'administration/include_line.html' with obj=prefecture label="pref" %}
                {% endfor %}
            </div>
        </div>
        <!-- Mairies -->
        <div id="mairies" class="tab-pane fade">
            <div><h2 class="pl-3">Mairies</h2></div>
            <div class="row">
                {% if mairies %}
                    {% for mairie in mairies %}
                        {% include 'administration/include_line.html' with obj=mairie label="comm" %}
                    {% endfor %}
                {% else %}
                    La liste est trop longue à afficher, veuillez sélectionner un département
                {% endif %}
            </div>
        </div>
        <!-- Fédération -->
        <div id="federations" class="tab-pane fade">
            <div class="alert alert-secondary">
                Vous pouvez également consulter la <a href="{% url 'sports:disciplines_federations' %}">
                liste des fédérations configurées par discipline</a>.
            </div>
            {% for groupe in groupes_federations %}
                <div><h2 class="pl-3">{{ groupe }}</h2></div>
                <div class="row">
                    {% for federation in federations %}
                        {% if groupe == 'Nationales' and federation.is_national %}
                            {% include 'administration/include_line.html' with obj=federation label="fede" %}
                        {% endif %}
                        {% if groupe == 'Régionales' and federation.is_regional %}
                            {% include 'administration/include_line.html' with obj=federation label="fede" %}
                        {% endif %}
                        {% if groupe == 'Départementales' and federation.is_departemental %}
                            {% include 'administration/include_line.html' with obj=federation label="fede" %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <!-- Services -->
        <div id="services" class="tab-pane fade">
            {% for groupe in groupes_services %}
                {% if groupe %}
                    <div><h2 class="pl-3">{{ groupe }}</h2></div>
                    <div class="row">
                        {% for service in services|index:forloop.counter0 %}
                            <!-- CD n+1 -->
                            {% if groupe == 'CD' %}
                                <div class="col col-6" {% if service.nb_usersup_actif == 0 or service.relation == 0 %}style="color: red"{% endif %}>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ service }} n+1
                                </div>
                                <div class="col col-3">
                                    <a class="button-collapse text-decoration-none" data-toggle="collapse" href="#serv0{{ service.id }}" role="button"
                                       aria-expanded="false" {% if service.nb_usersup_actif == 0 %}style="color: red !important;"{% endif %}>
                                        {{ service.nb_usersup_actif }}
                                        agent{{ service.nb_usersup_actif|pluralize }}
                                        actif{{ service.nb_usersup_actif|pluralize }}
                                        {% if service.nb_usersup_nonactif %}
                                            , {{ service.nb_usersup_nonactif }}
                                            non actif{{ service.nb_usersup_nonactif|pluralize }}
                                        {% endif %}
                                    </a>
                                    <div class="d-flex justify-content-start">
                                        <div class="collapse border-left pb-2 pl-4" id="serv0{{ service.id }}">
                                        {% if service.nb_usersup_actif > 0 %}
                                            <p class="mb-0 mt-2">Agents actifs :</p>
                                                <ul class="mb-0">
                                                {%  for agent in  service.get_service_users_superieur %}
                                                    {% if agent.is_active %}
                                                        <a href="{% url 'profile_publique' pk=agent.pk%}"><li>{{ agent.get_full_name }}</li></a>
                                                    {% endif %}
                                                {% endfor %}
                                                </ul>
                                        {% endif %}
                                        {% if service.nb_usersup_nonactif > 0 %}
                                            <p class="mb-0 mt-2">Agents inactifs :</p>
                                                <ul class="mb-0">
                                                {%  for agent in  service.get_service_users_superieur %}
                                                {% if agent.is_active == False %}
                                                    <a href="{% url 'profile_publique' pk=agent.pk%}"><li>{{ agent.get_full_name }}</li></a>
                                                {% endif %}
                                                {% endfor %}
                                                 </ul>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <!-- Cas général -->
                            {% if groupe == 'EDSR' and service.departement.instance.workflow_ggd != 1 or groupe != 'EDSR' %}
                                {% include 'administration/include_line.html' with obj=service label="serv" lnb=forloop.parentloop.counter %}

                                {% if service.relation >= 0 %}
                                    <!-- Suivant le WF_GGD, c'est le GGD ou le EDSR qui distribue les pré-avis -->
                                    {% if groupe == 'GGD' and service.departement.instance.workflow_ggd == 1 or groupe == 'EDSR' and service.departement.instance.workflow_ggd != 1 or groupe != 'GGD' and groupe != 'EDSR' %}
                                        <div class="col col-3" {% if service.relation == 0 %}style="color: red !important;"{% endif %}>
                                            {% if service.relation == 0 %}
                                                aucun services en relation
                                            {% else %}
                                                {{ service.relation }} service{{ service.relation|pluralize }} en relation
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            <!-- EDSR local -->
                            {% if groupe == 'EDSR' and service.departement.instance.workflow_ggd == 1 %}
                                <div class="col col-6" {% if service.nb_localuser_actif == 0 %}style="color: red !important;"{% endif %}>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ service }} local
                                </div>
                                <div class="col col-3">
                                    <a class="button-collapse text-decoration-none" data-toggle="collapse" href="#serv{{ forloop.parentloop.counter }}{{ service.id }}"
                                       role="button" aria-expanded="false" {% if service.nb_localuser_actif == 0 %}style="color: red !important;"{% endif %}>
                                        {{ service.nb_localuser_actif }}
                                        agent{{ service.nb_localuser_actif|pluralize }}
                                        actif{{ service.nb_localuser_actif|pluralize }}
                                        {% if service.nb_localuser_nonactif %}
                                            , {{ service.nb_localuser_nonactif }}
                                            non actif{{ service.nb_localuser_nonactif|pluralize }}
                                        {% endif %}
                                    </a>
                                    <div class="d-flex justify-content-start">
                                        <div class="collapse border-left pb-2 pl-4" id="serv{{ forloop.parentloop.counter }}{{ service.id }}">
                                        {% if service.nb_localuser_actif > 0 %}
                                            <p class="mb-0 mt-2">Agents actifs :</p>
                                                <ul class="mb-0">
                                                {%  for agent in  service.get_service_users %}
                                                    {% if agent.is_active %}
                                                        <a href="{% url 'profile_publique' pk=agent.pk%}"><li>{{ agent.get_full_name }}</li></a>
                                                    {% endif %}
                                                {% endfor %}
                                                </ul>
                                        {% endif %}
                                        {% if service.nb_localuser_nonactif > 0 %}
                                            <p class="mb-0 mt-2">Agents inactifs :</p>
                                                <ul class="mb-0">
                                                {%  for agent in  service.get_service_users %}
                                                {% if agent.is_active == False %}
                                                    <a href="{% url 'profile_publique' pk=agent.pk%}"><li>{{ agent.get_full_name }}</li></a>
                                                {% endif %}
                                                {% endfor %}
                                                 </ul>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- Zones protégées -->
        <div id="zones" class="tab-pane fade">
            <div><h2 class="pl-3">Zones Natura2000</h2></div>
            <div class="row">
                {% for zone in n2k %}
                    <div class="col col-7" {% if zone.admin == 0 %}style="color: red !important;"{% endif %}>
                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                        &nbsp;&nbsp;&nbsp;&nbsp;{{ zone }}
                    </div>
                    <div class="col col-3" {% if zone.admin == 0 %}style="color: red !important;"{% endif %}>
                        {% if zone.admin %}
                            {{ zone.admin }} administrateur
                        {% else %}
                            pas d'administrateur
                        {% endif %}
                    </div><br/>
                {% endfor %}
            </div>
            <div><h2 class="pl-3">Zones RNR</h2></div>
            <div class="row">
                {% for zone in rnr %}
                    <div class="col col-7" {% if zone.admin == 0 %}style="color: red !important;"{% endif %}>
                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#015a70;"></i>
                        &nbsp;&nbsp;&nbsp;&nbsp;{{ zone }}
                    </div>
                    <div class="col col-3" {% if zone.admin == 0 %}style="color: red !important;"{% endif %}>
                        {% if zone.admin %}
                            {{ zone.admin }} administrateur
                        {% else %}
                            pas d'administrateur
                        {% endif %}
                    </div><br/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
