{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}
    <h1>Administration des services</h1>
{% endblock %}
{% block head_title %}Administration des services{% endblock %}

{% block content %}
    <!-- bof structure/administration_des_services.html -->
    <div class="alert alert-info" role="alert">
        <p class="mb-1">Les services consultés sont rassemblés par <strong><em>catégorie</em></strong> (menu de gauche sur fond vert).</p>
        <p>Chaque service peut être autonome et indépendant pour recevoir, traiter et rendre un avis (anciens services simples), <br>
        ou bien faire partie d'une <strong><em>famille</em></strong> (anciens services complexes) où :
        <ul>
            <li>les sous-entités peuvent répondre à des demandes de préavis<i class="ctx-help-avis_vs_preavis"></i>,</li>
            <li>les sous-entités sont rattachées à un service parent afin de former une arborescence et faciliter/déléguer la gestion des agents,</li>
            <li>les interactions entre les entités peuvent être personnalisées afin de déterminer le rôle de chaque service dans le traitement des dossiers.</li>
        </ul></p>
    </div>

    <div id="administration-services-container" class="d-flex flex-wrap">
        <div class="col-lg-6 col-12 card">
            {% include "structure/selecteur_de_service.html" with instances=instances %}
        </div>
        <div class="col-lg-6 col-12 card" id="service_selectionne">
            {% if user_selected %}
                {% include "structure/user_detail.html" with user=user_selected organisation=service_selected cpt_msg=cpt_msg%}
            {% elif service_selected %}
                {% include "structure/organisation_detail.html" with organisation=service_selected user_organisation=user_organisation service_edit_action_form=service_edit_action_form%}
            {% endif %}
        </div>
        <div class="modal fade" id="create_service_form_modal" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                </div>
            </div>
        </div>
        {% if is_admin or is_admin_instance %}
        <div>
            <a target="_blank" href="{% url "structure:liste_user_sans_service" %}" class="btn btn-primary float-end mt-3">
                <i class="fa-solid fa-users-gear"></i> Utilisateurs sans service
            </a>
        </div>
        {% endif %}
    </div>
    <!-- Modal Historique -->
    <div class="modal fade" id="modal-historique" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Historique</h5>
                    <button type="button" id="close-modal-historique" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-historique-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var ajout = ""
        var categories = []
        var url_list = "{% url 'structure:service_list' %}"
        var url_agent = "{% url 'structure:agent_list' %}"
        var url_action = "{% url 'structure:organisation_detail' %}"
        var url_detail_user = "{% url 'structure:user_detail' %}"
        var url_categorie = "{% url 'structure:categorie_list' %}"
        var url_delete_interaction = "{% url 'structure:delete_interaction' %}"
        var action = "administration"
        var user_organisation_id = {{ user_organisation.id }}
        var object_id = ""
        {% if service_selected  %}
            var secteur = "instance_{{ service_selected.instance_fk.pk }}"

        {% else %}
            var secteur = "instance_{{ user_organisation.instance_fk.pk }}"
        {% endif %}
        var modal_title = "Envoyer une demande d'avis"
        var avertissement = "Aucun résultat trouvé avec les filtres sélectionnés. (Les services et mairies ayant déjà " +
            "fait l'objet d'une demande d'avis n'apparaissent pas dans cette liste)"
        var show_old = false
        var selecteur_multiple = false
        var selecteur_radio = false
        var show_agent = false
        var show_sous_service = false
        var manif
        var is_admin = "{{ is_admin|yesno:"true,false" }}"
        $("#select-instances-modal").val(secteur).trigger('chosen:updated')

        {% if categorie_selected %}
            setTimeout(function(){
                init_selecteur("{{ categorie_selected }}");
                $(".chosen-select").chosen({width: "100%"})
            }, 100)
            setTimeout(function(){
                $("#modal-categorie-selecteur").find(`[data-categorie='{{ categorie_selected }}']`).addClass('selected')
            }, 500)
        {% else %}
            init_selecteur()
        {% endif %}
    </script>
    <script src='{% static "structure/administration_des_services.js" %}' type="text/javascript"></script>
    <script src='{% static "structure/afficher_habilitations_avancees.js" %}' type="text/javascript"></script>
    <script src='{% static "structure/invitation.js" %}' type="text/javascript"></script>
    <!-- eof structure/administration_des_services.html -->

{% endblock %}