{% extends "base_form.html" %}

{% load i18n crispy_forms_tags %}
{% load static %}

{% block head_title %}
    Convoquer en CDSR
{% endblock %}

{% block page_title %}
    <h1>
        Envoyer les convocations CDSR
    </h1>
{% endblock %}


{% block content %}

    <div class="col-xs-12 col-md-12">
        {% block form %}
            {{ form.media }}
            {% crispy form %}
        {% endblock %}
    </div>

{% endblock %}


