{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block page_title %}
    <h1>
        Édition des interactions entre les services de la famille {{ nom_famille }}
    <span class="badge bg-warning"><i class="fa-solid fa-sparkles me-1"></i>
 Béta (en test)
    </span>
    </h1>
{% endblock %}
{% block head_title %}
    Édition des interactions entre les services de la famille {{ nom_famille }}
{% endblock %}


{% block content %}
    <p class="inline-help">Les interactions entre les services <i class="ctx-help-liste_interactions"></i> définissent le rôle des uns vis-à-vis des autres dans le cadre du traitement des demandes d'avis émis par le service instructeur et des préavis émis entre les entités d'une même famille.<br>
Elles permettent de construire sur mesure une "chaîne" d'analyse des dossiers et de validation des avis & préavis<i class="ctx-help-avis_vs_preavis"></i>.</p>
<script src="{% static '/graph/graph-app.umd.js' %}"></script>
<script src='{% static "structure/afficher_habilitations_avancees.js" %}' type="text/javascript"></script>
<link href="{% static '/graph/style.css' %}" rel="stylesheet">
    <style>
    #app {
        width: 100%;
        height: 650px;
        position: relative;
    }
    </style>
    <div id="app"></div>
    <script defer>
    const api = '{{ api|safe }}'
    const data = {{ data|safe }};
    setTimeout(() => {
          let network = new openscopNetwork.Network('#app', data)
    }, 500)
    </script>
{% endblock %}