{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block page_title %}
    <h1>Fusion et suppression de services</h1>
{% endblock %}
{% block head_title %}Fusion et suppression de services{% endblock %}

{% block content %}
{% if success %}
<div class="alert alert-info">Fusion et suppression effectuées.<br>
    <a href="{% url 'structure:fiche_organisation' pk=organisation_cible.pk %}">{{ organisation_cible }}</a></div>
{% elif not organisation_cible %}
    <div class="d-flex">
    <div class="card p-2 col-6">
        <h2>À supprimer : {{ organisation_afusion }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Type : {{ organisation_afusion.get_type_s }}</li>
        <li class="list-group-item">Portée territoriale : {{ organisation_afusion.get_niveau_geographique_str }}
        <br>{% for geo in organisation_afusion.get_objets_geographique_qs %} {{ geo }}{% endfor %}</li>
    </ul>
    </div>
    <div class="card p-2 col-6">
    <p class="mt-1 mb-1">Saisir le pk du service cible.</p>
    <input class="input-group mt-1 mb-1" type="text" id="pk_cible">
    <button id="valider_cible" class="btn btn-success">Valider</button>
    </div>
    </div>
    {% elif incoherence %}
    <div class="alert alert-danger">{{ organisation_afusion }} ne peut être fusionnée avec {{ organisation_cible }} car :
    <br> {{ incoherence }}</div>
    {% else %}
    <div class="d-flex">
    <div class="card p-2 col-6">
        <h2>À supprimer : {{ organisation_afusion }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Type : {{ organisation_afusion.get_type_s }}</li>
        <li class="list-group-item">Portée territoriale : {{ organisation_afusion.get_niveau_geographique_str }}
        <br>{% for geo in organisation_afusion.get_objets_geographique_qs %} {{ geo }}{% endfor %}</li>
    </ul>
    </div>
    <div class="card p-2 col-6">
        <h2>Cible de la fusion : {{ organisation_cible }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Type : {{ organisation_cible.get_type_s }}</li>
        <li class="list-group-item">Portée territoriale : {{ organisation_cible.get_niveau_geographique_str }}
        <br>{% for geo in organisation_cible.get_objets_geographique_qs %} {{ geo }}{% endfor %}</li>
    </ul>
    </div>
    </div>

    <div>
        <h2>Ces objets seront transférés dans l'organisation cible</h2>
        <ul class="list-group transfert_obj">
            {% if users %}
                <li class="list-group-item titre_obj" data="users_obj">Utilisateurs ({{ users.count }})</li>
                {% for user in users %}
                    <li class="list-group-item users_obj" style="display: none;">{{ user.get_full_name }}</li>
                {% endfor %}
            {% endif %}
            {% if acces %}
                <li class="list-group-item titre_obj" data="acces_obj">Accès en consultation reçus ({{ acces.count }})</li>
                {% for acce in acces %}
                    <li class="list-group-item acces_obj" style="display: none;">{{ acce }}</li>
                {% endfor %}
            {% endif %}
            {% if acces_donne %}
                <li class="list-group-item titre_obj" data="acces_donne_obj">Accès en consultation accordés ({{ acces_donne.count }})</li>
                {% for acce in acces_donne %}
                    <li class="list-group-item acces_donne_obj" style="display: none;">{{ acce }}</li>
                {% endfor %}
            {% endif %}
            {% if avis %}
                <li class="list-group-item titre_obj" data="avis_obj">Avis reçus ({{ avis.count }})</li>
                {% for avi in avis %}
                    <li class="list-group-item avis_obj" style="display: none;">{{ avi }}</li>
                {% endfor %}
            {% endif %}
            {% if avis_demande %}
                <li class="list-group-item titre_obj" data="avis_demande_obj">Avis demandés ({{ avis_demande.count }})</li>
                {% for avi in avis_demande %}
                    <li class="list-group-item avis_demande_obj" style="display: none;">{{ avi }}</li>
                {% endfor %}
            {% endif %}
            {% if manifs %}
                <li class="list-group-item titre_obj" data="manifs_obj">Manifestations ({{ manifs.count }})</li>
                {% for manif in manifs %}
                    <li class="list-group-item manifs_obj" style="display: none;">{{ manif }}</li>
                {% endfor %}
            {% endif %}



        </ul>
        <form action="{% url 'structure:fusion_service' pk_afusion=organisation_afusion.pk %}?pk_cible={{ organisation_cible.pk }}" method="post">
            {% csrf_token %}
            <div class="alert alert-danger mt-2 mb-2">Attention action irréversible</div>
            <input type="submit" class="btn btn-danger" value="Fusionner">
        </form>
    </div>
    {% endif %}

<style>
.titre_obj{
    font-weight: bold;
}
.titre_obj:hover{
    cursor: pointer;
    text-decoration: underline;
}
</style>
<script>
    $('#valider_cible').click(function (e){
        e.preventDefault()
        let pk = $('#pk_cible').val()
        if (pk){
            document.location.href = `${document.location.href}?pk_cible=${pk}`
        }
    })

    $('.titre_obj').click(function (e){
        e.preventDefault()
        let data = $(this).attr('data')
        $(`.${data}`).toggle()
    })
</script>
{% endblock %}