{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% if user_selected %}
        Ajouter une organisation à l'utilisateur {{ user_selected }}
    {% else %}
        Ajouter un membre permanent au service CDSR : {{ cdsr_selected }}
    {% endif %}
{% endblock %}
{% block page_title %}
    {% if user_selected %}
        <h1>Ajouter une organisation à l'utilisateur {{ user_selected }}</h1>
    {% else %}
        <h1>Ajouter un membre permanent au service CDSR : {{ cdsr_selected }}</h1>
    {% endif %}
{% endblock %}
{% block content %}
    <!-- bof structure/gerer-user-organisation.html -->

    <style>
        #modal-categorie-selecteur{
            min-height: 35vw;
        }
    </style>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        Une fois l'opération réalisée, veuillez fermer cette fenêtre et actualiser la page.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    {% include "structure/selecteur_de_service.html" with categories=categories instances=instances %}

    <script>
        {% if user_selected %}
            var object_id = "{{ user_selected.pk }}"
            var secteur = "instance_{{ user_selected.default_instance.pk }}"
            var url_action = "{% url 'structure:add_user_organisation' %}"
            var user_id = "{{ user_selected.pk }}"
            var action = "gestion-organisation-utilisateur"
        {% else %}
            var object_id = "{{ cdsr_selected.pk }}"
            var secteur = "instance_{{ cdsr_selected.instance_fk.pk }}"
            var url_action = "{% url 'structure:ajouter_membre_cdsr_ajax' pk=cdsr_selected.pk %}"
            var user_id = "{{ cdsr_selected.pk }}"
            var action = "gestion-membre-cdsr"
        {% endif %}
        var ajout = ""
        var categories = []
        var url_list = "{% url 'structure:service_list' %}"
        var url_agent = "{% url 'structure:agent_list' %}"
        var url_detail_user = "{% url 'structure:user_detail' %}"
        var url_categorie = "{% url 'structure:categorie_list' %}"
        var url_delete_interaction = "{% url 'structure:delete_interaction' %}"
        var modal_title = ""
        var avertissement = "Aucun résultat trouvé avec les filtres sélectionnés. (Les services et mairies ayant déjà " +
            "fait l'objet d'une demande d'avis n'apparaissent pas dans cette liste)"
        var show_old = true
        var selecteur_multiple = false
        var selecteur_radio = false
        var show_agent = false
        var show_sous_service = false
        var manif
        var is_admin = "{{ is_admin }}"
        $("#select-instances-modal").val(secteur).trigger('chosen:updated')

        init_selecteur()


    </script>
    <script src='{% static "structure/administration_des_services.js" %}' type="text/javascript"></script>
    <!-- eof structure/gerer-user-organisation.html -->

{% endblock %}