{% load static  file_tags thumbnail_filter get_history %}

<div id="historique-list">
    <input type="text" class="fuzzy-search form-control search" autocomplete="off" placeholder="Recherche..."/>
    <span class="p-1 d-flex">
       <span class="me-3">Trier par:</span>
        <a href="#" class="sort me-3" data-sort="date">Date</a>
        <a href="#" class="sort me-3" data-sort="champ">Champs</a>
    </span>

    <ul class="list list-group">
        {% for ligne in data %}
            <li class="list-group-item ligne-historique">
                Le <span class="date" data-timestamp="{{ ligne.date_timestamp }}">{{ ligne.date|date_history }}</span>
                par <span class="name">{{ ligne.user }}</span> <br>
                <span class="champ me-1">
                <strong>{{ ligne.champ_verbose }} : </strong>
                </span>
                {% if ligne.olddata and ligne.newdata %}
                    {{ ligne.olddata }} <i class="fa-solid fa-arrow-right"></i> {{ ligne.newdata }}
                {% elif not ligne.olddata %}
                    donnée ajoutée - {{ ligne.newdata }}
                {% elif not ligne.newdata %}
                    donnée supprimée - {{ ligne.olddata }}
                {% endif %}
        {% endfor %}
    </ul>
</div>
<script>
    var historiqueList = new List('historique-list', {
        valueNames: ['name', 'champ', {attr: 'data-timestamp', name: 'date'}]
    });
    historiqueList.sort('date', { order: "desc" })
</script>
