<!-- bof structure/modal_selecteur_de_service.html -->
<div class="modal fade" id="demandeAvisModal" tabindex="-1" aria-labelledby="demandeAvisModal" aria-hidden="true">
    <div class="modal-lg modal-dialog" >
        <div class="modal-content" style="max-height: 800px">
            <div class="modal-header flex-wrap bg-secondary text-white">
                <h5 class="modal-title col-11" id="modal-title-selecteur"></h5>
                <button id="btn-close-modal-avis" type="button" class="col-1 btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                <br>
            </div>
            {% include "structure/selecteur_de_service.html" with categories=categories instances=instances %}
            <div class="modal-footer" id="modal-footer-selecteur">
                <button type="button" class="btn btn-primary disabled d-none" id="send_multiple">Valider</button>
            </div>
        </div>
    </div>
</div>
<!-- eof structure/modal_selecteur_de_service.html -->
