{% load static crispy_forms_tags %}
<!-- bof structure/organisation_detail.html -->
<div class="card-header" id="selectionne_card_header">
    <div class="d-flex">
        <div class="col-11">
            <h2 class="text-center mb-0"><i class="fas fa-building fa-fw"></i>{{ organisation.nom_s }}</h2>
        </div>
        <div class="col-1 text-end">
            <a href="{% url "structure:historique_organisation" pk=organisation.pk %}" data-service="{{ organisation.pk }}" class="history_organisation_link" data-bs-toggle="tooltip" data-bs-original-title="Historique de l'organisation" aria-label="Historique de l'organisation">
                <i class="historique" ></i>
            </a>
        </div>

    </div>
</div>
<div id="detail-container">

    <ul class="nav nav-tabs">
        {% if organisation.is_service_consulte or organisation.is_service_cdsr %}
            <li class="nav-item">
                <a class="nav-link {% if tab != 'info'%} active {% endif %}" href="#interactions-tab" data-bs-toggle="tab" role="tab" aria-controls="interactions-tab"
                   aria-selected="false"><i class="fa-solid fa-list-tree fa-fw"></i>Interactions</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link {% if organisation.is_structure_organisatrice and tab != 'info' or organisation.is_federation %} active{% endif %}"
               href="#services-agent-tab" data-bs-toggle="tab" role="tab" aria-controls="services-agent-tab"
               aria-selected="false">
                {% if organisation.is_structure_organisatrice %}<i class="organisateur"></i>Organisateurs
                {% elif organisation.is_service_cdsr %}<i class="fa-duotone fa-sitemap"></i>Membres
                {% else %}<i class="agent-local"></i>Agents
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tab == 'info'%} active {% endif %}" href="#details-tab" data-bs-toggle="tab" role="tab" aria-controls="details-tab"
               aria-selected="false"><i class="structure"></i>Informations</a>
        </li>
        {% if organisation.is_structure_organisatrice %}
            <li class="nav-item">
                <a class="nav-link" href="#manifestations-tab" data-bs-toggle="tab" role="tab" aria-controls="manifestations-tab"
                   aria-selected="false"><i class="dossier"></i>Manifestions</a>
            </li>
        {% endif %}
    </ul>

    {% if is_admin %}
        <!--Formulaire-->
        <div class="modal fade" id="modal-form" tabindex="-1" aria-labelledby="modal-form" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter une interaction a ce service</h5>
                        <button type="button" class="btn-close" id="close-modal-interaction" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="modal-form-body">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="card-body">
        <div class="tab-content border-0 p-0" id="ex1-content">
            {% if organisation.is_service_consulte or organisation.is_service_cdsr %}
                <div id="interactions-tab" class="tab-pane fade {% if tab != 'info'%} show active {% endif %}" role="tabpanel" aria-labelledby="ex1-tab-1">
                    {% include "structure/panneaux/interactions.html" with organisation=organisation is_admin=is_admin %}
                </div>
            {% endif %}
            <div id="services-agent-tab" class="tab-pane fade {% if organisation.is_structure_organisatrice and tab != 'info' or organisation.is_federation %}show active{% endif %}"
                 role="tabpanel" aria-labelledby="ex1-tab-1">
                {% include "structure/panneaux/utilisateurs_liste.html" with organisation=organisation invitation=True %}
            </div>
            <div id="details-tab" class="tab-pane fade {% if tab == 'info'%} show active {% endif %}" role="tabpanel">
                {% include "structure/panneaux/informations.html" with organisation=organisation %}
            </div>
            {% if organisation.is_structure_organisatrice %}
                <div id="manifestations-tab" class="tab-pane fade" role="tabpanel">
                    {% include "structure/panneaux/resume-manifestation.html" with organisation=organisation user_organisation=user_organisation %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(".chosen-select").chosen({width: "100%"});
    $(document).ready(function (){
        InvitationRevoquer();
        AfficherIcones();

        // Affiche la modal de sélection des services
        $('.btn-modal-service-cdsr').click(function (e){
            alert("service");
        })
    })
</script>


<!-- eof structure/organisation_detail.html -->





