{% extends "base.html" %}

{% load i18n static %}

{% block head_title %}
    Comptes dormants
{% endblock %}

{% block page_title %}
    <h1>Comptes dormants</h1>
{% endblock %}

{% block content %}
    <!-- bof structure/page_comptes_dormants.html-->
    <div id="user-list">
        {#  Liste déroulante permettant de sélectionner la période d'inactivité d'un compte  #}
        <div class="col-12 modal-header card-header">
            <label for="selectionner-delais-comptes-dormants">Un compte est dormant à partir d'une période sans connexion supérieure à : </label>
            <select class="w-25" name="Délais" id="select_delais_comptes_dormants">
                <option value="365" selected="selected">1 an</option>
                <option value="730">2 ans</option>
                <option value="1095">3 ans</option>
                <option value="1460">4 ans</option>
                <option value="1825">5 ans</option>
                <option value="2190">6 ans</option>
                <option value="2555">7 ans</option>
                <option value="2920">8 ans</option>
            </select>
        </div>
        <div class="col-12 modal-header card-header">
            <label for="instances">Département :</label>
            <select  id="select-instance" name="instance">
                <option value="" disabled>Sélectionnez une instance</option>
                {% for instance in instances %}
                    <option value="{{ instance.id }}" {% if instance == request.user.default_instance %} selected {% endif %}>{{ instance }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="tab_comptes_dormants_container">
            {% include 'structure/tableau_comptes_dormants.html' %}
        </div>
    </div>
    <script src='{% static "libs/list.min.js" %}' type="text/javascript"></script>
    <script src="{% static "portail/js/sort_button.js" %}" type="text/javascript"></script>
    <script>
        $(window).ready(function (){
            // A la modification du délai, reload le tableau via ajax
            $('select').on('change', function (){
                $("#tab_comptes_dormants_container").html(html_chargement_en_cours())
                $.ajax({
                    type: 'GET',
                    url: '/accounts/profile/comptes_dormants',
                    data: {
                        'request':  'ajax',
                        'delais_sans_connexion': $('#select_delais_comptes_dormants').val(),
                        'instance_pk': $('#select-instance').val(),
                    },
                    success : function (result){
                            $("#tab_comptes_dormants_container").html(result)
                    },
                    error : function (result){
                        $('#tab_comptes_dormants_container').html('<div class="alert-danger">nok</div>')
                    }
                })
            })
        })
    </script>
    <!-- eof structure/page_comptes_dormants.html-->
{% endblock %}