{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}
    <h1>{{ titre }}</h1>
{% endblock %}
{% block head_title %}{{ titre }}{% endblock %}

{% block content %}
    <!-- bof structure/page_user_tableau.html-->
    <div id="user-list">
        <div class="col-12 modal-header card-header flex-wrap">
            <div class="col-lg-3">
                <input type="text" class="form-control search col-lg-4" autocomplete="off" placeholder="Recherche..."/>
            </div>
            {% if type_user_list == "compte_dormant"  %}
                <label for="selectionner-delais-comptes-dormants">Durée sans connexion supérieure à : </label>
                <select class="col-2" name="Délais" id="select_delais_comptes_dormants">
                    <option value="365" selected="selected">1 an</option>
                    <option value="730">2 ans</option>
                    <option value="1095">3 ans</option>
                    <option value="1460">4 ans</option>
                    <option value="1825">5 ans</option>
                    <option value="2190">6 ans</option>
                    <option value="2555">7 ans</option>
                    <option value="2920">8 ans</option>
                </select>
            {% endif %}
            <div class="d-flex flex-wrap justify-content-end">
                <label for="instances" class="pt-1 me-3" >Département :</label>
                <select id="select-instance" name="instance">
                    <option value="" disabled>Sélectionnez un secteur</option>
                    {% for instance in instances %}
                        <option value="{{ instance.id }}" {% if instance == request.user.default_instance %} selected {% endif %}>{{ instance }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="tab_page_user_sans_service">
            {% include 'structure/panneaux/tableau_user_list.html' %}
        </div>
    </div>
    <script src='{% static "libs/list.min.js" %}' type="text/javascript"></script>
    <script src="{% static "portail/js/sort_button.js" %}" type="text/javascript"></script>
    <script>

        $('select').on('change', function (){
            {% if type_user_list == "user_sans_service"  %}
                var url = '/structure/liste_user_sans_service/'
                var data = { 'request':  'ajax',
                    'instance_pk': $('#select-instance').val()}
            {% else %}
                var url = '/structure/comptes_dormants/'
                var data = { 'request':  'ajax',
                    'delais_sans_connexion': $('#select_delais_comptes_dormants').val(),
                    'instance_pk': $('#select-instance').val(),}
            {% endif %}
            $('.search').val('')
            $("#no-result").remove()
            $("#tab_page_user_sans_service").html(html_chargement_en_cours())
            $.get({
                url: url,
                data: data,
                success :
                    function (reponse){
                        $("#tab_page_user_sans_service").html(reponse)
                    },
                error : function (result){
                    $('#user-list').append("<div id=\"no-result\" class=\"alert alert-danger container text-center\">Un problème est survenue..</div>\n")
                }
            })
        })
    </script>
    <!-- eof structure/page_user_tableau.html-->
{% endblock %}