{% load static %}
<div class="accordion" id="accordion_{{ reunion.pk }}">
    {% for presentation in presentations %}
        <div class="accordion-item">
            <div class="accordion-header" id="heading{{ presentation.pk }}">
                <button class="accordion-button collapsed row g-0" type="button"
                        aria-expanded="false" aria-controls="collapse{{ presentation.pk }}"
                        data-bs-toggle="collapse" data-bs-target="#collapse{{ presentation.pk }}">
                    <div class="col-5">
                        {{ presentation.instruction_fk }}
                        <span data-bs-toggle="collapse" data-bs-target="" class="ms-2">
                            <a data-href="{% url 'instructions:instruction_detail' pk=presentation.instruction_fk.pk %}"
                               href="#" class="ouvrir_dossier"
                               data-bs-toggle="tooltip" title="Ouvrir le dossier d'instruction">
                                <i class="rechercher"></i>
                            </a>
                        </span>
                    </div>
                    <div class="col-3">
                        heure de présentation :
                        {% if presentation.heure %}{{ presentation.heure|date:"H\hi" }}
                        {% else %}à définir
                        {% endif %}
                        {% if presentation.reunion_cdsr_fk.date %}
                            {% if not presentation.convocations_envoyes %}
                                <span data-bs-toggle="collapse" data-bs-target>
                                    <span class="btn-date-form ms-3" data-bs-toggle="modal" data-bs-target="#formDate"
                                          data-titre="Définir un horaire pour la présentation"
                                          data-url-form-pk="{% url 'structure:presentationcdsr_set_heure' pk=presentation.pk %}">
                                        <i data-bs-toggle="tooltip" data-bs-original-title="Définir un horaire pour la présentation"
                                           aria-label="Définir un horaire pour la présentation"
                                           data-url-form-pk="{% url 'structure:presentationcdsr_set_heure' pk=presentation.pk %}"
                                           class="fas fa-pen interaction-icon"></i>
                                    </span>
                                </span>
                            {% endif %}
                        {% else %}
                            <span data-bs-toggle="collapse" data-bs-target>
                                <i class="action-requise" data-titre="Editer la réunion afin de définir sa date<br>
                                Vous pourrez ensuite choisir l'heure de présentation"></i>
                            </span>
                        {% endif %}
                    </div>
                </button>
            </div>
            <div id="collapse{{ presentation.pk }}" class="accordion-collapse collapse"
                 aria-labelledby="heading{{ presentation.pk }}" data-bs-parent="#accordion_{{ reunion.pk }}">
                <div class="accordion-body">
                    {% include 'structure/panneaux/presentationCDSR_description.html' with obj=presentation %}
                </div>
            </div>
        </div>
    {% empty %}
        <div>
            Pas de dossier à présenter pour cette réunion.
        </div>
    {% endfor %}
    {% if reunion.editer %}
        <a href="#" class="btn btn-primary btn-date-form mt-2 float-end" data-bs-toggle="modal" data-bs-target="#formDate"
              data-titre="Editer la réunion CDSR"
              data-url-form-pk="{% url 'structure:reunionCDSR_update' pk=reunion.pk %}">
            <i class="editer"></i>Editer la réunion
        </a>
    {% endif %}
    {% if not reunion.presentations.all %}
        <a class="btn btn-danger mt-3" href="{% url 'structure:reunionCDSR_delete' pk=reunion.pk %}">
            <i class="supprimer"></i> Supprimer la réunion
        </a>
    {% else %}
        {% if reunion.envoi_convocation_possible %}
            <a href="{% url 'structure:reunionCDSR_convoquer' pk=reunion.pk %}"
               class="btn btn-primary envoyer_convocation_cdsr mt-2"><i class="envoyer"></i>Envoyer la convocation des membres permanents</a>
        {% endif %}
    {% endif %}
</div>
<script>
    AfficherIcones()
    $('.annulation_cdsr').click(function (e) {
        e.preventDefault();
        $(this).hide();
        $(this).siblings("a.confirmer_annulation_cdsr").show();
    });
    $('.accordion-header').click(function (e) {
        $('.annulation_cdsr').show();
        $('.confirmer_annulation_cdsr').hide();
    })
</script>




