{% extends "base.html" %}
{% load static cdsr_tags %}

{% block head_title %}Liste des réunions CDSR{% endblock %}

{% block page_title %}
    <h1>Liste des réunions CDSR</h1>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        {% for reunion in reunions %}
            <li class="nav-item">
                <a class="link_tab nav-link bg-{{ reunion.color }} {% if activ_tab == reunion.pk %}active{% endif %}"
                href="#tab_{{ reunion|slugify }}" role="tab" data-bs-toggle="tab">{{ reunion }}
                {% if reunion.history_json %}
                    <span class="ms-2" data-bs-toggle="tooltip" data-html="true"
                    title="{{ reunion.history_json|historique_json_reunionCDSR }}">
                        <i class="fa-solid fa-clock-rotate-left"></i></span>
                {% endif %}
                </a>
            </li>
        {% endfor %}
        <li class="nav-item ms-auto">
            <a href="#" class="btn btn-date-form" data-bs-toggle="modal" data-bs-target="#formDate"
                  data-titre="Créer une nouvelle réunion CDSR"
                  data-url-form-pk="{% url 'structure:reunionCDSR_create' %}">
                <i data-bs-toggle="tooltip" data-bs-original-title="Créer une nouvelle réunion CDSR"
                   aria-label="Créer une nouvelle réunion CDSR"
                   data-url-form-pk="{% url 'structure:reunionCDSR_create' %}"
                   class="far fa-plus-hexagon"></i>Ajouter une réunion
            </a>
        </li>
    </ul>
    <div class="tab-content pt-3">
        {% for reunion in reunions %}
            <div pk="{{ reunion.pk }}" role="tabpanel" class="tab-pane {% if activ_tab == reunion.pk %}active{% endif %}" id="tab_{{ reunion|slugify }}">
                <!-- bof Panels -->
                <div class="panel-group" id="accordion_{{ reunion|slugify }}" role="tablist" aria-multiselectable="true">
                <i class="spinner"></i>
                </div>
                <!-- eof Panels -->
            </div>
        {% endfor %}
    </div>
    {% include 'instructions/blocs/modal_date.html' %}
    <!--Modal--->
    {% include "structure/modal_selecteur_de_service.html" %}

<script src='{% static "instructions/date_limite.js" %}' type="text/javascript"></script>
<script>
    var ajout = ""
    var categories = []
    var url_list = "{% url 'structure:service_list' %}"
    var url_agent = "{% url 'structure:agent_list' %}"
    var url_categorie = "{% url 'structure:categorie_list' %}"
    var action = "demande_avis"
    var secteur_initial = secteur
    var modal_title = "Envoyer une demande d'avis"
    var avertissement = "Aucun résultat trouvé avec les filtres sélectionnés. (Les services et mairies ayant déjà " +
        "fait l'objet d'une demande d'avis n'apparaissent pas dans cette liste)"
    var show_old = true
    var selecteur_multiple = false
    var selecteur_radio = false
    var show_agent = false
    var show_sous_service = false
    var secteur = "instance_{{ request.organisation.instance_fk.id }}"
    var manif
    $( document ).ready(function() {
        if(!$('.tab-pane.active').length){
             $('.tab-pane').first().addClass('active')
             $('.link_tab').first().addClass('active')
        }
        function charge_panels(){
            let pk = $('.tab-pane.active').attr('pk')
            let id = $('.tab-pane.active').attr('id').split("_")[1]
            let url = `/structure/CDSR/${pk}/`
            $.get(url, function (e){
                $(`#tab_${id}`).html(e)
            })
        }
        charge_panels()

        $(".link_tab").click(function (e){
           charge_panels();
        })
        $('body').on('click', '.ouvrir_dossier', function (e) {
            e.stopPropagation();
            window.open ($(this).data("href"), '_blank').focus();
        });
        $(document).on('click', '.delete-member-cdsr', function(){
            $('.tooltip').tooltip("hide");
            $(this).addClass('d-none');
            $(this).siblings('span').removeClass('d-none');
            AfficherIcones()
        })
        $(document).on('click', '.dismis-delete', function(){
            $('.tooltip').tooltip("hide");
            $(this).parent().addClass('d-none');
            $(this).parent().siblings('i').removeClass('d-none');
            AfficherIcones()
        })
        // Retire une organisation invitée à une présentation cdsr
        $(document).on('click', '.valide-delete-member-cdsr', function(){
            $.get({
                url: $(this).attr('data-url'),
                data:{'membre_id': $(this).attr('id')}
            });
            $(this).closest('li').remove();
            $('.tooltip').tooltip("hide");
        })
       $(document).on('click', '.btn-modal-presentation-cdsr', function (e){
            show_sous_service = false
            url_action = url_invite_cdsr
            action = "ajouter_invite"
            modal_title = "Inviter un service à la présentation"
            selecteur_multiple = false
            $("#modal-title-selecteur").text("Inviter un service à la présentation")
            $('#select-instances-modal').val('{{ object.instance.pk }}').change()
            $('#modal-instance-selecteur').addClass('d-none')
            $("#modal-categorie-selecteur").removeClass('d-none')
            $('#demandeAvisModal').modal('show');
        })
    });
</script>

{% endblock %}
