{% load static %}
<!-- bof structure/selecteur_de_service.html -->
{% if instances %}
    <div class="col-12 modal-header card-header" id="modal-instance-selecteur">
        <label for="instances" style="font-size: 1rem">Département :</label>
        <select id="select-instances-modal" name="instance">
            <option value="" disabled selected>Sélectionnez un secteur</option>
            <optgroup label="Départements">
                {% for instance in instances %}
                    <option value="instance_{{ instance.id }}">{{ instance }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="Régions">
                {% for region in regions %}
                    <option value="region_{{ region.id }}">{{ region.nom }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="National">
                <option value="national"><strong>National</strong></option>
            </optgroup>
        </select>
    </div>
{% endif %}

<div id="services" class="modal-body p-0 d-flex mt-2">
    <ul class="col-lg-3 col-4 m-0 p-0" id="modal-categorie-selecteur">
        {% for key, value in categories %}
            <li data-categorie="{{ key }}" class="categorie px-3 py-2">{{ value }}</li>
        {% endfor %}
    </ul>
    <div class="col-lg-9 col-8 m-0">
        <div class="d-flex">
            <div class="col-12" id="input-search-container">
                <div class="float-start d-none" id="container_tout_deplier">
                    <a href="#">
                        <i data-bs-toggle="tooltip" data-bs-original-title="Tout déplier" aria-label="Tout déplier" class="fa-solid fa-folder-tree tout_deplier ms-2 mt-1 pt-2 px-1 text-secondary"></i>
                    </a>
                </div>
                <input autocomplete="off" id="service-search" type="text" class="form-control d-none ms-2 search" placeholder="Rechercher un service" style="width: 95%">
            </div>
        </div>
        <div id="filtre-list" class="d-flex">
            <a href="#" id="select-all-button" class="ms-auto mt-1 me-4 d-none">Sélectionner tout</a>
            <a href="#" id="deselect-all-button" class="ms-auto mt-1 me-4 d-none">Désélectionner tout</a>
        </div>
        <div id="no-result" class="alert alert-warning text-center m-3 d-none"></div>
        <ul id="service-liste" class="mt-2 list list-group list-group-flush">

        </ul>
    </div>
</div>

<script src='{% static "libs/list.min.js" %}' type="text/javascript"></script>
<script src='{% static "structure/selecteur_de_service.js" %}' type="text/javascript"></script>
<!-- eof structure/selecteur_de_service.html -->
