{% extends "base.html" %}

{% block page_title %}
    <h1>Liste des types de service par catégorie</h1>
{% endblock %}

{% block content %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for categorie in object_list %}
            <div class="panel ">
                <div class="panel-heading" role="tab" id="heading{{ categorie.pk }}">
                    <h4 class="panel-title">
                        <a role="button"
                           data-bs-toggle="collapse"
                           href="#collapse{{ categorie.pk }}"
                           aria-expanded="true" aria-controls="collapse{{ categorie.pk }}">
                            <i class="fas fa-plus"></i> {{ categorie }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ categorie.pk }}"
                     class="panel-collapse collapse{% if focus == categorie.pk %} show {% endif %}"
                     role="tabpanel"
                     data-bs-parent="#accordion"
                     aria-labelledby="heading{{ categorie.pk }}">
                    <div class="panel-body">
                        {% for typeservice in categorie.typeservice_set.all %}
                            {{ typeservice }}<br/>
                        {% endfor %}
                     </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
