{% load crispy_forms_tags %}
{% load pluralizero %}
<!-- bof structure/user_detail.html -->

<div class="card-header d-flex" id="selectionne_card_header">
    <div class="col-1 pt-2">
        {% if organisation %}
            <a href="#{{ organisation.pk }}" class="service-list-item"><i class="fas fa-arrow-alt-left"></i></a>
        {% endif %}
    </div>
    <h2 class="text-center col-10"><i class="fas fa-user fa-fw"></i>{{ user.get_full_name }}</h2>
    <div class="col-1 pt-2">
        <a href="{% url "structure:historique_user" pk=user.pk %}" data-service="{{ organisation.pk }}" class="history_organisation_link" data-bs-toggle="tooltip" data-bs-original-title="Historique de l'utilisateur" aria-label="Historique de l'utilisateur">
            <i class="historique" ></i>
        </a>
    </div>
</div>
<div id="detail-container" class="position-relative">

    <div class="card-body">
        <div class="cadre border-0 p-0" id="ex1-content">

            <div id="user-detail-tab" class="tab-pane fade show active" role="tabpanel" aria-labelledby="user-detail-tab">
                <h6>Détail de l'utilisateur {% if request.session.o_support %}<a href="/admin/core/user/{{ user.pk }}/change/" target="_blank"><i class="configurer float-end"></i></a> {% endif %}</h6>

                {% include "structure/panneaux/user_information.html" %}
                <h6 class="mt-3">{% if user.is_organisateur %}Structure{% else %}Service{% endif %}{{ user.organisation_m2m.all.count|pluralizero }}  de l'utilisateur</h6>

                <ul class="list-group" id="user-organisation-list">
                    {% for organisation in user.organisation_m2m.all %}
                        <li class="list-group-item d-flex">
                            <div class="col-10">
                                <a href="#{{ organisation.pk }}" class="service-list-item user-organisation-list-item">{{ organisation.nom_s }}</a>
                            </div>
                            {% if is_admin_instance or is_admin or is_admin_subalterne %}
                                <div class="col-2 text-end">
                                    <i data-bs-toggle="tooltip" data-bs-original-title="Retirer l'utilisateur {% if user.is_organisateur %}de la structure{% else %}du service{% endif %}"
                                       aria-label="Retirer l'utilisateur {% if user.is_organisateur %}de la structure{% else %}du service{% endif %}"
                                       class="fas fa-times interaction-icon delete-user-organisation">
                                    </i>
                                    <span class="button-span div_service ms-auto d-flex d-none">
                                        <span id="{{ organisation.pk }}" data-user="{{ user.pk }}" data-switch="user"
                                              data-url="{% url "structure:remove_user_from_organisation" %}"
                                              style="width: 40px; height: 25px; line-height: 1;"
                                              class="btn btn-success me-2 valide-delete-organisation d-flex justify-content-center">
                                            <i style="color: white" class="fas fa-check m-0" aria-hidden="true"></i>
                                        </span>
                                        <span style="width: 40px; height: 25px; line-height: 1;"
                                              class="btn btn-danger me-2 dismis-delete d-flex justify-content-center">
                                            <i style="color: white" class="fas fa-times m-0" aria-hidden="true"></i>
                                        </span>
                                    </span>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                    {% if is_admin_instance or is_admin_subalterne or is_admin %}
                        <li class="list-group-item">
                            <button class="btn-primary btn" id="btn-ajouter-service">
                                <i class="fas fa-plus"></i>Ajouter{% if user.is_organisateur %} une structure rattachée{% else %} un service rattaché{% endif %}
                            </button>
                            <div id="alert-gestion-service" class="alert alert-info alert-dismissible fade d-none show" role="alert">
                                <p class="my-3"><span class="pt-1"><strong>1 - </strong>Ouvrez la page de gestion des services :</span>
                                    <button class="btn-primary btn float-end">
                                        <a class="text-white" target="_blank" href="{% url "structure:gerer-user-organisation" pk=user.pk %}">Gestion des services</a>
                                    </button>
                                </p>
                                <p class="my-3"><span class="pt-1"><strong>2 - </strong>Sélectionnez le service à ajouter à l'utilisateur. </span></p>
                                <p class="my-3"><span class="pt-1"><strong>3 - </strong>Fermez la page de gestion des services et rafraîchissez celle-ci.</span>
                                    <button class="btn-primary btn float-end" onClick="window.location.reload();">
                                        <a class="text-white" href="#">
                                            <i class="fa-solid fa-arrow-rotate-right"></i>Rafraichir</a>
                                    </button>
                                </p>

                            </div>


                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- eof structure/user_detail.html -->
