{% extends 'board_base.html' %}
{% load i18n %}
{% load forum_tags %}
{% load forum_conversation_tags %}
{% load forum_permission_tags %}
{% load forum_tracking_tags %}
{% load verbose_tags %}
{% block head_title %}{{ forum.name }}{% endblock %}
{% block sub-title %}{{ forum.name }}{% endblock sub-title %}

{% block content %}
    {% if forum.is_forum %}

        <div id="hacker-list">
        <div class="mt-4 mb-3  mb-2">
            <div class="forum-actions-block d-flex">
                {% get_permission 'can_add_topic' forum request.user as user_can_add_topic %}
                {% if user_can_add_topic %}
                    {% if not request.user.is_new %}
                        <a href="{% url 'forum_conversation:topic_create' forum.slug forum.pk %}" class="btn btn-primary btn-sm"><i class="fa fa-comments fa-lg"></i>Nouveau Sujet</a>
                    {% else %}
                        <a  class="btn btn-primary btn-sm" onclick="alert('Vous devez être inscrit depuis plus de 24h pour poster un message.')">
                            <i class="fa fa-comments fa-lg"></i>Nouveau Sujet</a>
                    {% endif %}
                <input class="filtre-item w-25 h-100 form-control ms-3" id="input-search-forum" placeholder="Recherche"/>
                    {% if not forum_abonnement %}
                        <a href="{% url 'forum_conversation:forum_abonnement' forum.slug forum.pk %}" class="ms-auto btn btn-secondary btn-sm"><i class="fas fa-plus fa-lg"></i>S'abonner à des sujets</a>
                    {% else %}
                        <a href="{% url 'forum_conversation:gerer_forum_abonnement' forum.slug forum.pk forum_abonnement.pk False%}" class="ms-auto float-end btn btn-secondary btn-sm"><i class="fas fa-sliders-h"></i>Gérer mes abonnements</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {% trans "Announcements" as announcements_title_trans %}
        {% with topic_list_title=announcements_title_trans topics=announces hide_if_empty=True unread_topics=unread_topics announcements=True%}
            {% include "forum_conversation/topic_list.html" %}
        {% endwith %}


            <div>
                <div class="d-flex flex-wrap pb-1">
                    <div class="col-1">
                        <p>Filtrer par : </p>
                    </div>
                    <div class="d-flex flex-wrap pb-1 col-11">
                        <div class="filtre-item me-3 mb-2" id="filtre-theme-forum">
                            <select name="statut" id="statut" class="select-filter selectpicker mt-sm-1" data-live-search="true">
                                <option selected="selected" value="">Statut</option>
                                <option value="False"> Ouvert </option>
                                <option value="True"> Clôturer </option>
                            </select>
                        </div>
                        {% if activites %}
                            <div class="filtre-item me-3">
                                <select name="activite" id="activite" class="select-filter selectpicker mt-sm-1" data-live-search="true">
                                    <option selected="selected" value="">Activité</option>
                                    {% for activite in activites %}
                                        <option value="{{ activite }}"> {{ activite.discipline }} / {{ activite }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        {% if departements %}
                            <div class="filtre-item me-3">
                                <select name="departement" id="departement" class="select-filter selectpicker mt-sm-1" data-live-search="true">
                                    <option selected="selected" value="">Département</option>
                                    {% for departement in departements %}
                                        <option value="{{ departement }}"> {{ departement }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        {% if services %}
                            <div class="filtre-item me-3">
                                <select name="service" id="service" class="select-filter selectpicker mt-sm-1" data-live-search="true">
                                    <option selected="selected" value="">Service de l'auteur</option>
                                    {% for service in services %}
                                        <option value="{{ service.pk }}"> {{ service.nom_s }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        {% if departements_user %}
                            <div class="filtre-item me-3">
                                <select name="departement_user" id="departement_user" class="select-filter selectpicker mt-sm-1" data-live-search="true">
                                    <option selected="selected" value="">Département de l'auteur</option>
                                    {% for departement in departements_user %}
                                        <option value="{{ departement.pk }}"> {{ departement }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="d-flex pb-2">

                <div class="col-12 d-flex flex-wrap">
                    {% for theme in themes %}
                        <span class="badge sort me-1 mb-1 badge-pill theme-sort" data-theme="{{ theme.pk }}" style="background-color: {{ theme.color }}; font-size: 12px;">{{ theme }}</span>
                    {% endfor %}
                </div>
            </div>




            {% trans "Topics" as topics_title_trans %}
            {% with topic_list_title=topics_title_trans unread_topics=unread_topics %}

                {% include "forum_conversation/topic_list.html" %}
                </div>
            {% endwith %}
        <div class="mt-3 mb-5 row">
            <div class="col-6 col-md-4 forum-actions-block">
                {% if user_can_add_topic %}
                    <a href="{% url 'forum_conversation:topic_create' forum.slug forum.pk %}" class="btn btn-primary btn-sm"><i class="fa fa-comments fa-lg"></i>Nouveau Sujet</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
