{% extends 'board_base.html' %}
{% load i18n %}
{% load forum_tags %}

{% block sub_title %}{% trans "Index" %}{% endblock sub_title %}

{% block content %}
<div class="mt-3 row">
  <div class="forumlist-top-controls col-12 d-flex">
    {% if request.user.is_authenticated %}
    <div class="col-6">
        <a href="{% url 'forum_tracking:mark_all_forums_read' %}" class="d-inline-block"><i class="fas fa-check-circle">&nbsp;</i>{% trans "Mark forums read" %}</a><br>
        <a href="{% url 'forum_tracking:unread_topics' %}" class="d-inline-block">Voir les sujets non lus</a>
    </div>
    <div class="col-6 test-end">

        <a href="{% url 'forum:suivi_sujet' %}" class="btn btn-secondary float-end">
            <i class="fa-sharp fa-solid fa-bullseye-pointer"></i>Suivi des sujets non clos
        </a>
    </div>
    {% endif %}
  </div>
</div>
{% forum_list forums %}
<div class="my-4 row">
  <div class="forum-page-statistics col-12">
    <h4 class="page-header">{% trans "Statistics" %}</h4>
    <p class="statistics">Nombre total de réponse&nbsp;<b>{{ total_posts_count }}</b>&nbsp;&#8226;&nbsp;Nombre total de sujet&nbsp;<b>{{ total_topics_count }}</b>&nbsp;</p>
  </div>
</div>
{% endblock content %}
