{% extends 'board_base.html' %}
{% load i18n %}

{% block head_title %}Suivi des sujets non clos{% endblock %}

{% block sub-title %}Suivi des sujets non clos{% endblock sub-title %}

{% block content %}
    <!--bof forum/page_suivi_non_clos.html-->
    <div class="col-12 modal-header card-header">
        <label for="instances" style="font-size: 1rem">Département :</label>
        <select  id="select-instance" name="instance">
            <option value="" disabled>Sélectionnez un secteur</option>
            {% for instance in instances %}
                <option value="{{ instance.id }}" {% if instance == request.user.default_instance %} selected {% endif %}>{{ instance }}</option>
            {% endfor %}
        </select>
        <label for="instances" style="font-size: 1rem">Réponse au sujet :</label>
        <select id="select-reponse-topic" name="reponse">
            <option value="tout" selected>Tout les sujets non clos</option>
            <option value="sans_reponse">Sans réponse</option>
            <option value="avec_reponse">Avec réponses</option>
            <option value="demande_assistance">Demande d'assistance</option>
        </select>
    </div>
    <div id="tab_topic_non_clos_container">
        {% include 'forum/tableau_topic_non_clos.html' %}
    </div>
    <script>
        $(window).ready(function (){
            $('.chosen-container').css('width', '25%')
            // A la modification d'un filtre, reload le tableau via ajax
            $('select').on('change', function (){
                $("#tab_topic_non_clos_container").html(html_chargement_en_cours())
                $.get({
                    url: '/forum/suivi/',
                    data: {
                        'request':  'ajax',
                        'instance_pk': $('#select-instance').val(),
                        'reponse_filter': $('#select-reponse-topic').val(),
                    },
                    success :
                        function (reponse){
                            $("#tab_topic_non_clos_container").html(reponse)
                        }
                })
            })
        })
    </script>
    <!--eof forum/page_suivi_non_clos.html-->
{% endblock content %}