<!--bof forum/tableau_topic_non_clos.html-->
<table class="table rounded-top">
    <thead>
    <tr style="background: #869200; color: white;">
        {% for forum, value in forums_dict.items %}
            <th scope="col" class="py-3" style="border-right: 1px solid #6c757d">
                {{ forum.get_forum_name|title }}
                <a class="link_to_filtered_forum" href="{% url 'forum:forum' forum.slug forum.id %}?dep={{ instance_selected_pk }}#ouvert">
                    <span class="badge bg-secondary ms-2" style="font-size: 0.8rem;">{{ value.total_post }}</span>
                </a>
            </th>
        {% endfor %}
        {% if forums_departemental_dict %}
            <th scope="col" class="py-3" style="border-right: 1px solid #6c757d">
                Administrateur D'Instance Départemental
                <span class="badge bg-secondary ms-2" style="font-size: 0.8rem;">{{ forum_departemental_total }}</span>
            </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for forum, value in forums_dict.items %}
        <th scope="col" style="border: 0.5px solid #6c757d; border-top: none !important;">
            {% for theme, value in value.themes.items %}
                <a href="{% url 'forum:forum' forum.slug forum.id %}?dep={{ instance_selected_pk }}#{{ theme.pk }}" class="link_to_filtered_forum">
                    <span class="badge text-white my-1" style="background-color: {{ theme.color }}; font-size: 0.78rem"><span class="me-2">{{ value }}</span>{{ theme }}</span>
                </a>
                <br>
            {% endfor %}
        </th>
    {% endfor %}
    {% if forums_departemental_dict %}
        <th scope="col" style="border: 0.5px solid #6c757d; border-top: none !important;">
            {% for forum, value in forums_departemental_dict.items %}
                <a href="{% url 'forum:forum' forum.slug forum.id %}#ouvert">
                    <span class="badge my-1" style="background-color:  #a8b6bf; font-size: 0.78rem"><span class="me-2 d-inline-block" style="color: #3b3b3b; min-width: 18px">{{ value }}</span>{{ forum.departement }}</span>
                </a>
                <br>
            {% endfor %}
        </th>
    {% endif %}
    </tbody>
</table>
<!-- eof forum/tableau_topic_non_clos.html-->