{% extends "base.html" %}

{% block page_title %}
    <h1>Liste des activités par discipline</h1>
{% endblock %}

{% block content %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for discipline in object_list %}
            <div class="panel ">
                <div class="panel-heading" role="tab" id="heading{{ discipline.pk }}">
                    <h4 class="panel-title">
                        <a role="button"
                           data-bs-toggle="collapse"
                           href="#collapse{{ discipline.pk }}"
                           aria-expanded="true" aria-controls="collapse{{ discipline.pk }}">
                            <i class="fas fa-plus"></i> {{ discipline }} {% if discipline.motorise %}
                            <i class="vtm icone-small"></i>{% endif %}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ discipline.pk }}"
                     class="panel-collapse collapse{% if focus == discipline.pk %} show {% endif %}"
                     role="tabpanel"
                     data-bs-parent="#accordion"
                     aria-labelledby="heading{{ discipline.pk }}">
                    <div class="panel-body">
                        {% for activite in discipline.activites.all %}
                            {{ activite }}<br/>
                        {% endfor %}
                     </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
