<template>
  <div class="editor-container">
    <div id="openrunner-app" class="or-flex or-nowrap"
         :style="{width: `${getEditorSize.width}%`, height: `${getEditorSize.height}px`}">
      <div class="selecteur">
        <selecteur v-if="editor" @toggle-fullscreen="handleFullscreen"/>
      </div>
    </div>
  </div>
</template>

<script>
import Selecteur from "@/components/selecteur/Selecteur";
import {Events} from "@/modules/events/Events";
import {mapActions, mapGetters} from "vuex";
import {generateRandomId} from "@/modules/utils/Number.Utils";
import OActions from "@/components/bars/OActions";
import {convertDataToTrace} from "@/modules/utils/FromGpx";

export default {
  name: "Editor",
  components: {
    OActions,
    Selecteur,
  },
  data() {
    return {
      actions: [
        {id: 'btn-editor-fullscreen', text: 'Plein écran', action: 'Fullscreen', disabled: false},
      ],
      editor: null,
      printScreen: null,
    };
  },
  computed: {
    ...mapGetters(["getEditorSize", "isInit", "isModeEdition"]),
    ...mapGetters('traces', ["activeTrace", "isTraceChanged"]),
  },
  methods: {
    ...mapActions('pois', ["setPois"]),
    ...mapActions("traces", [
        "setActive", "updateActive", "setChanged", "addTrace", "removeTrace", "updateTrace", "unloadTrace",
      "setAModifier", "addLoadingTrace", "removeLoadingTrace", "loadTrace", "setTraces"]),
    ...mapActions(["completedInit"]),
    async initEditor() {
      if (this.editor) {
        return;
      }

      this.setPois(editorSettings.pois)
      let pois = editorSettings.pois

      const builder = new OpenRunner.EditorBuilder()
          .setMode(editorSettings.mode)
        .setContainer(editorSettings.container)
        .setAppId(editorSettings.appId)
        .setDefaultLayer('com.openrunner.osm-plan.com.openrunner.osm.openrunner')
          .setMapOptions(editorSettings.mapSettings)
          .setEditorOptions(editorSettings.editorSettings)
          .setTraceOptions(editorSettings.traceSettings)
          .setIcons(pois)
          .setColors(editorSettings.colors)
          .setPoiColors(editorSettings.poisColors)
          .setLayers(editorSettings.tile_providers)
          .setPassServiceOptions(editorSettings.passesService)
          .setRoutingServiceOptions(editorSettings.routingService)
          .setOverlaysServiceOptions(editorSettings.overlaysService)
          .setTranslations(editorSettings.translations)
          .setGoogleSdk(editorSettings.googleSdk)
          .setLanguage('fr')
          .setUser(user);

      this.editor = builder.build();
      this.initEditorListener();
      this.initVueListener();
      this.initTraces();
      this.completedInit();
    },
    initVueListener() {
      this.$emitter.on(Events.LOAD_TRACE, async trace => {
        const loadedTrace = await this.editor.loadTrace(trace);
        if (!loadedTrace) {
          console.error("erreur chargement parcours");
        } else {
          this.setActive(loadedTrace.id)
        }
        if (trace && trace.id > 0) {
          this.removeLoadingTrace(loadedTrace.id)
        }
      });
      this.$emitter.on(Events.LOAD_OLD_TRACE, async trace => {
        trace.id = generateRandomId();
        trace.manif = manifPk;
        const loadedTrace = await this.editor.loadTrace(trace, true, true);
        if (!loadedTrace) {
          console.error("erreur chargement parcours");
        }
      });
      this.$emitter.on(Events.LOAD_GPX, async data => {
        for (const trace of convertDataToTrace(data)) {
          const loadedTrace = await this.editor.loadTrace(trace, true, true, true);
        }
      });
      this.$emitter.on(Events.FUSION_TRACES, ids => {
        const newTrace = this.editor.fusionneTraces(ids);
        this.loadTrace(newTrace)
        if (!newTrace) {
          console.error("erreur fusion parcours");
        }
      });
      this.$emitter.on(Events.SELECT_TRACE, id => {
          this.editor.selectTrace(id, true, true)
      });
      this.$emitter.on(Events.REMOVE_TRACE, ({id, deleted}) => {
        this.editor.deleteTrace(id);
        let action
        if(deleted || (!deleted && id < 0)) {
            action = this.removeTrace(id)
        } else {
            action = this.unloadTrace(id)
        }
      });
      this.$emitter.on(Events.SAVE_TRACE, ({id, name, description, discipline = null, activity = null, finalize = false}) => {
        const trace = this.editor.saveTrace(id);
        if (trace === false) {
          console.error("erreur sauvegarde");
        } else {
          this.addLoadingTrace(trace.id)
          trace.name = name;
          trace.description = description;
          trace.manif = manifPk;
          trace.discipline = discipline;
          trace.activity = activity;
          if (trace.id < 0) {
            this.$api.createTrace(trace)
                .then(res => {
                  trace.id = res;
                  const updatedTrace = this.editor.updateTrace(id, trace);
                  this.removeLoadingTrace(trace.id);
                  if (updatedTrace !== false) {
                    return updatedTrace;
                  }
                  throw new Error("Erreur de mise a jour du parcours")
                })
                .then((updatedTrace) => this.updateTrace({
                  oldId: id,
                  trace: trace,
                  updatedTrace: updatedTrace,
                }))
                .catch(err => {
                  console.error("erreur save : ", err);
                })
          } else {
            this.$api.updateTrace(trace, finalize)
                .then(() => {
                  const updatedTrace = this.editor.updateTrace(id, trace);
                  this.removeLoadingTrace(trace.id);
                  if (updatedTrace !== false) {
                    if(finalize) {
                      this.setAModifier({id, status: false})
                    }
                    return updatedTrace;
                  }
                  throw new Error("Erreur de mise a jour du parcours")
                })
                .catch(err => {
                  console.error("erreur save : ", err);
                })
          }
        }
      });

      this.$emitter.on(Events.SAVE_ARCHIVED_TRACE, ({id}) => {
          this.addLoadingTrace(id)
          this.$api.finaliseTrace(id)
              .then(() => {
                this.removeLoadingTrace(id);
                this.setAModifier({ id, status: false })
              })
              .catch(err => {
                console.error("erreur save : ", err);
              })
      });
      this.$emitter.on(Events.DUPLICATE_TRACE, id => {
        const newTrace = this.editor.duplicateTrace(id);
        if (!newTrace) {
          console.error("erreur duplication");
        }
      });
      this.$emitter.on(Events.CENTER_ON_TRACE, id => {
        this.editor.centerOnBounds(id)
      });
      this.$emitter.on(Events.UPDATE_USER, user => {
        this.editor.updateUser(user);
      });
      this.$emitter.on(Events.TOGGLE_TRACE, ({traceId, show}) => {
        this.editor.toggleTrace(traceId, show);
      });
    },
    initEditorListener() {
      this.editor.on(OpenRunner.EVENT.TRACE_OPTIONS_UPDATED, (event) => {
        this.setChanged(event.trace);
      });
      this.editor.on(OpenRunner.EVENT.TRACE_ADDED, (event) => {
        // on ajoute le parcours au store
        this.loadTrace(event.trace)
      });
      this.editor.on(OpenRunner.EVENT.TRACE_SELECTED, (event) => {
        this.updateActive(event?.id)
      });
      this.editor.on(OpenRunner.EVENT.PRINT_START, (event) => {
        if (this.printScreen == null || this.printScreen.closed) {
          this.printScreen = window.open(printUrl, "carto_print",
              "scrollbars=yes,dependent=yes,dialog=yes,location=no,innerHeight=1000,innerWidth=750");
          this.printScreen.printOptions = event.options
          this.printScreen.printTraces = event.routes
        } else {
          this.printScreen.focus();
          this.printScreen.printOptions = event.options
          this.printScreen.printTraces = event.traces
        }
      });
      this.editor.on(OpenRunner.EVENT.FULLSCREEN_START, () => {
        const fullscreenElement = document.querySelector("#openrunner-app");
        if (!document.fullscreenElement) {
          fullscreenElement.requestFullscreen();
        }
      });
      this.editor.on(OpenRunner.EVENT.FULLSCREEN_STOP, () => {
        if (document.fullscreenElement) {
          document.exitFullscreen();
        }
      });
      this.editor.on(OpenRunner.EVENT.OPEN_POPUP, (event) => {
        console.log("open popup for : ", event.popup_type, " => for : ", event.capability);
      });
    },
    initTraces() {
      this.$api.loadManifParcours(manifPk).then(res => {
        return res;
      }).then(async traces => {
        await this.setTraces(traces)
      })
    },
    handleActions(action) {
      this[`handle${action}`]();
    },
    handleFullscreen() {
      this.editor.toggleFullscreen();
    },
  },
  mounted() {
    this.$emitter.on(Events.UPDATE_USER, () => {
      this.initEditor();
    });
    document.addEventListener("showApp", () => {
      if (this.editor) {
        // correctif bug d'affichage
        setTimeout(() => {
          // on force la map a se redessiner
          this.editor.resize();
          // si en mode edition on centre sur le parcours actif sinon en centre sur tous les parcours pour avoir une vue d'ensemble
          if (this.isModeEdition) {
            this.editor.centerOnBounds(this.activeTrace)
          } else {
            this.editor.centerOnBounds()
          }
        }, 200);
      }
    });
  },
};
</script>

<style>
.editor-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#openrunner-app {
  display: flex;
  flex-direction: row-reverse;
}

#openrunner-app * {
  box-sizing: border-box;
}

.selecteur {
  display: flex;
  flex-grow: 1;
  max-width: 250px;
  min-width: 250px;
  width: 250px;
  background-color: #fff;
}
</style>
