{% load instruction_tags %}

{% setvar True as afficher %}
{% for acces in acces_consult %}
    {% if acces.get_categorie == acces_cat or acces_cat == "all" %}
        <div class="row ms-1 mb-2 acces" id="acces_{{ acces.id }}">
            <div class="col-4">{% if afficher %}<i class="consulter"></i>Accès en lecture octroyé à :{% endif %}</div>
            <div class="col-6" data-bs-toggle="tooltip"
                 title="Créé par {{ acces.createur.get_full_name }}
                    {% if acces.date_creation %} le {{ acces.date_creation|date:'d/m/Y' }}{%  endif %}
                    : {{ acces.get_nature }}">
                {% if not acces.organisation.get_users_actif_qs %}<i class="attention"></i>{% endif %}{{ acces.organisation }}
                <a data-bs-toggle="tooltip" data-bs-original-title="Détails du service" aria-label="Détails du service"
                   target="_blank" href="{% url "structure:fiche_organisation" pk=acces.organisation.pk %}">
                    <i class="ms-2 pt-1 fa-regular fa-xs fa-magnifying-glass"></i>
                </a>
                {% if not acces.organisation.get_users_actif_qs %}
                    <span class="badge bg-danger" style="font-weight: normal">
                        {% if not acces.organisation.get_users_qs %}
                            Pas de compte agent dans ce service
                         {% else %}
                             Pas de compte agent actif dans ce service.
                             <br>Nous avons trouvé
                             {{ acces.organisation.get_users_inactif_qs.count }}
                             compte{{ acces.organisation.get_users_inactif_qs| pluralizero }}
                             agent{{ acces.organisation.get_users_inactif_qs| pluralizero }}
                             inactif{{ acces.organisation.get_users_inactif_qs| pluralizero }}
                         {% endif %}
                        <br>Veuillez prendre leur contact afin de solliciter la
                        <a href='https://www.manifestationsportive.fr/aide/FAQ-services-consultes/339?tab=39))))'
                           target='_blank' style="color: #ddddff">
                            création d'un compte agent
                        </a>
                    </span>
                {% endif %}
            </div>
            <div class="col-2 service"></div>
        </div>
        {% setvar False as afficher %}
    {% endif %}
{% endfor %}