{% extends "base_form.html" %}

{% load i18n %}

{% block head_title %}
    {% if preavis %}
        Rédiger le préavis
    {% else %}
        Rédiger l'avis
    {% endif %}
{% endblock %}

{% block page_title %}
    <h1>
    {% if preavis %}
        <i class="preavis"></i></i>Rédiger le préavis
    {% else %}
        <i class="avis"></i> Rédiger l'avis
    {% endif %}
        : {{ object.instruction.manif|capfirst }}
    </h1>
{% endblock %}

{% block content %}
    {% if remplir_preavis %}
        <button id="getpreavis" class="btn btn-secondary d-block mt-5 text-left"><i class="automatic"></i> Pré-remplir avec l'ensemble<br> des préavis</button>
    {% endif %}
    {% if remplir_avis %}
        <button id="getavis" class="btn btn-secondary d-block mt-5 text-left"><i class="automatic"></i> Pré-remplir avec l'ensemble<br> des avis des membres permanents</button>
    {% endif %}
    {{ block.super }}
    {% if not dispatch and not pass %}
        <p><i class="astuce"></i> Vous pouvez ajouter des pièces jointes depuis l'onglet "Suivi de l'instruction".</p>
        {% if not cis and not brigade and not dispatch and not pass and not format and not object.etat == "brouillon" %}
            <div class="alert alert-warning"><i class="attention"></i>N'oubliez pas de rendre {% if preavis %}le préavis{% else %}l'avis{% endif %} une fois celui-ci rédigé.</div>
        {% endif %}
    {% endif %}
    <script>
        $(document).ready(function () {
            $("#div_id_prescriptions label").append($("#getpreavis")); // déplace les boutons au bon emplacement dans le formulaire
            $("#div_id_prescriptions label").append($("#getavis"));

            $('#getpreavis').on('click', function (e) {
                e.preventDefault();
                $.get("{% url 'instructions:avis_get_preavis' pk=object.pk %}", function (data) {
                    $('#id_prescriptions').val(data);
                });
            });
            $('#getavis').on('click', function (e) {
                e.preventDefault();
                $.get("{% url 'instructions:avis_get_avis' pk=object.pk %}", function (data) {
                    data = data.replace(/^\n+/g, '');  // Supprimer les sauts de ligne générés par le template
                    $('#id_prescriptions').val(data);
                });
            });
            $('body').on('click', '#record', function () {
                $('#id_save').val('True');
                $('form').submit();
            });
        });
    </script>
{% endblock %}
