{% extends "base_form.html" %}

{% load i18n %}

{% block head_title %}
    {% if dispatch %}
        Envoyer les demandes de pré-avis
    {% elif pass %}
        Passer l'avis à un EDSR
    {% elif format %}
        Mettre en forme l'avis
    {% else %}
        Rendre l'avis
    {% endif %}
{% endblock %}

{% block page_title %}
    <h1>
        {% if dispatch %}
            <i class="envoyer"></i> Envoyer les demandes de pré-avis
        {% elif pass %}
            <i class="avis"></i> Passer l'avis à un EDSR
        {% elif format %}
            <i class="editer"></i> Mettre en forme l'avis
        {% else %}
            <i class="avis"></i> Rendre l'avis
        {% endif %}
        : {{ object.instruction.manif|capfirst }}
        {% if dispatch %}
            <i class="preavis left-margin"></i>
        {% elif format %}
            <i class="preavis left-margin"></i>
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    {% if remplir %}
        <button id="getpreavis" class="btn btn-secondary d-block mt-5 text-left"><i class="automatic"></i> Pré-remplir avec l'ensemble<br> des pré-avis</button>
    {% endif %}
    {{ block.super }}
    {% if not dispatch and not pass %}
        <p> Vous pouvez ajouter une ou plusieurs pièces jointes dans le détail de l'avis.</p>
    {% endif %}
    <script>
        $(document).ready(function () {
            $("#div_id_prescriptions label").append($("#getpreavis")); // déplace le bouton au bon emplacement dans le formulaire

            $('#getpreavis').on('click', function (e) {
                e.preventDefault();
                $.get("{% url 'instructions:avis_get_preavis' pk=object.pk %}", function (data) {
                    $('#id_prescriptions').val(data);
                });
            });
        });
    </script>
{% endblock %}
