{% load i18n file_tags thumbnail_filter instruction_tags pluralizero%}
{# BOF Header de l'avis #}
<div class="card bg-light" id="card_{{ object.service_consulte_fk.pk }}">
    <div data-bs-toggle="collapse" data-bs-target="#collapse{{ object.pk }}" data-bs-parent="#accordion{{ accordion }}"
         aria-expanded="false" aria-controls="collapse{{ object.pk }}" class="card-header cursor-pointer hover-dark" id="heading{{ object.pk }}{% if recursive %}_{{ object.avis_origine.pk }}{% endif %}">
        {% if not object.service_consulte_fk.get_users_actif_qs %}<i class="attention"></i>{% endif %}{{ object }}
        <a data-bs-toggle="tooltip" data-bs-original-title="Détails du service" aria-label="Détails du service"
           target="_blank" href="{% url "structure:fiche_organisation" pk=object.service_consulte_fk.pk %}">
            <i class="ms-2 pt-1 fa-regular fa-xs fa-magnifying-glass"></i>
        </a>
        {% if recursive %} du {{ object.date_demande }} {% endif %}
        <span class="float-end">
            {% if object.service_consulte_fk.is_service_cdsr or object.service_consulte_fk in object.instruction.presentations.last.get_tous_membres %}
                <a href="#" data-bs-toggle="collapse" data-bs-target>
                    <i class="cdsr left-margin" data-titre="Cliquer pour voir uniquement les avis CDSR"></i>
                </a>
            {% endif %}
            {% if object.date_reponse and object.etat != "demandé" %}
                {% if object.favorable %} <i class="ok-avis-minus left-margin"></i>
                {% endif %}
                {% if not object.favorable  %}
                    <i class="pas-ok-avis-minus left-margin"></i> {% endif %}
                {% if object.prescriptions %} <i class="commentaire"></i> {% endif %}
                {% if object.docs.all %} <i class="pj"></i> {% endif %}
            {% else %}
                <i class="attente left-margin"></i>
            {% endif %}
        </span>
    </div>
    {# EOF Header de l'avis #}
    <div id="collapse{{ object.pk }}" class="collapse collapse-avis p-2 bg-white" aria-labelledby="heading{{ object.pk }}{% if recursive %}_{{ object.avis_origine.pk }}{% endif %}"
         data-bs-parent="#accordion{% if recursive %}_{{ object.avis_origine.pk }}{% endif %}">
        <div>
        {% if not object.service_consulte_fk.get_users_actif_qs %}
            <div class="card bg-white">
                <div class="card-header alert-danger">
                     {% if not object.service_consulte_fk.get_users_qs %}
                        Pas de compte agent dans ce service
                     {% else %}
                         Pas de compte agent actif dans ce service.
                         Nous avons trouvé
                         {{ object.service_consulte_fk.get_users_inactif_qs.count }}
                         compte{{ object.service_consulte_fk.get_users_inactif_qs| pluralizero }}
                         agent{{ object.service_consulte_fk.get_users_inactif_qs| pluralizero }}
                         inactif{{ object.service_consulte_fk.get_users_inactif_qs| pluralizero }}
                     {% endif %}
                </div>
                <div class="card-body">
                    <p>
                        Ce service ne peut pas traité cette demande d'avis, car aucun compte agent actif n'y est rattaché.<br>
                        Veuillez prendre leur contact afin de solliciter la
                        <a href="https://www.manifestationsportive.fr/aide/FAQ-services-consultes/339?tab=39))))" target="_blank">
                            création d'un compte agent
                        </a>
                    </p>
                </div>
            </div>
        {% else %}
            {% with avis_description=True %}
                {% include 'instructions/blocs/avis_etat.html' %}
            {% endwith %}
            {% if object.etat == "rendu" %}
                {% include 'instructions/blocs/avis_contenu.html' %}
                {% include 'instructions/blocs/avis_pj.html' %}
            {% endif %}
            {# BOF Liste des préavis #}
            <div class="mt-3 mb-2 ">
                <ul class="list-group">
                {% if not service.is_service_instructeur %}
                    {% if object.avis_enfant.all %}
                        <li class="list-group-item">Le (ou les) préavis ont été demandé(s) au(s) service(s) interne(s) :</li>
                        <div id="accordio">
                            {% for preavis in object.avis_enfant.all %}
                                {% if preavis == preavis.get_last_avis %}
                                    {% with in_avis=True %}
                                        {% include 'instructions/avis_description.html' with object=preavis.get_last_avis accordion=preavis.get_last_avis.pk %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
                </ul>
            </div>
            {# EOF Liste des préavis #}
            {# BOF Boutons de gestion des avis/préavis par le supérieur #}
            {% if object.instruction.etat != 'autorisée' and object.instruction.etat != 'annulée' and not consult and not recursive %}
                <span class="m-2 mt-3">
                        {% if  object.etat != 'rendu' %}
                            <a class="btn btn-warning float-end ms-2" href="{% url 'instructions:avis_resend' pk=object.pk %}" role="button">
                                <i class="envoyer"></i>Relancer cette demande {% if object.avis_parent_fk %}de préavis{% else %}d'avis{% endif %} non reçue</a>
                        {% elif object.etat == 'rendu' and object.pk == object.get_last_avis.pk %}
                            <a class="btn btn-warning float-end ms-2" href="{% url 'instructions:redemande_avis' pk=object.instruction.pk %}?pk_avis={{ object.pk }}" role="button">
                                <i class="envoyer"></i>Redemander {% if object.avis_parent_fk %}le préavis{% else %}l'avis{% endif %}</a>
                        {% endif %}
                    {% if  object.etat == 'demandé' %}
                        <a class="btn confirmer_annulation btn-danger float-end ms-2" style="display: none;"
                           href="{% url 'instructions:avis_remove' pk=object.pk %}">Confirmer l'annulation</a>
                        <a class="btn annulation btn-outline-danger float-end ms-2" style="float: right;"
                           href="#">Annuler cette demande {% if object.avis_parent_fk %}de préavis{% else %}d'avis{% endif %}</a>
                    {% endif %}
                    </span>
            {% endif %}
            {# EOF Boutons de gestion des avis/préavis par le supérieur #}
            {# BOF listes des avis précédants #}
            {% if object.avis_origine.get_precedent_avis and not recursive %}
                <div class="p-2">
                    <h3>{% if object.avis_parent_fk %}Préavis{% else %}Avis{% endif %} précédents</h3>
                    <div id="accordion{{ object.avis_origine.pk }}">
                        {% for avis in object.avis_origine.get_precedent_avis %}
                            {% with recursive=True %}
                                {% include 'instructions/avis_description.html' with object=avis accordion=object.avis_origine.pk%}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {# EOF listes des avis précédants #}
        {% endif %}
        </div>
    </div>
</div>