{% load i18n file_tags thumbnail_filter %}

<div class="card bg-light">
    <div class="card-header cursor-pointer hover-dark">
        <div class="" data-bs-toggle="collapse" data-bs-target="#collapse{{ object.pk }}"
             aria-expanded="false" aria-controls="collapse{{ object.pk }}">
            <i class="avis"></i> {{ object.instruction.instance.get_departement }}
            <span class="float-end">
                    {% if object.instruction.etat == "demandée" or object.instruction.etat == "distribuée" %}
                        <i class="attente left-margin"></i>
                    {% else %}
                        {% if object.instruction.etat == "autorisée" %}
                            <i class="ok left-margin"></i>
                        {% else %}
                            <i class="pas-ok left-margin"></i>
                        {% endif %}
                        {% if object.prescriptions %} <i class="commentaire"></i> {% endif %}
                        {% if object.docs.all %} <i class="pj"></i> {% endif %}
                    {% endif %}
            </span>
        </div>
    </div>
    <div id="collapse{{ object.pk }}" class="collapse"
         data-bs-parent="#accordion_prefecture">
        <div class="card-body">
            <ul class="list-group">
                {% if object.instruction.referent %}
                    <li class="list-group-item">
                    Dernier intervenant : {{ object.instruction.referent.get_full_name }}
                {% endif %}
                {% if object.instruction.etat == "demandée" or object.instruction.etat == "distribuée"%}
                    <li class="list-group-item">L'avis est en cours de finalisation</li>
                {% else %}
                    <li class="list-group-item">
                        Favorable :
                        {% if object.instruction.etat == "autorisée" %}
                            oui
                        {% else %}
                            non
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        Contenu de l'avis : {{ object.prescriptions|linebreaks }}
                    </li>
                    {% if object.docs.all %}
                        <div class="mt-2 mb-2">Pièces jointes :</div>
                    {% endif %}
                    {% for doc in object.docs.all %}
                        <li class="list-group-item">
                        {% if doc.scan_antivirus %}
                            <a href="{{ doc.fichier.url }}" target="_blank">{{ doc.fichier|basename }}</a>&nbsp;&nbsp;
                            <span data-bs-toggle="tooltip" data-placement="auto" data-html="true" class="badge bg-info"
                                  title="<img src='{{ doc.fichier|thumbnail }}'>"><i class="afficher no-right-margin text-white"></i>
                            </span>
                        {%  if not doc.exist_document_officiel %}
                            <a href="#" class="btn btn-primary float-end bt-transf-pj-vers-doc-officiel" role="button" id="{{ doc.pk }}">
                                <i class="arrete"></i> Transférer en document officiel
                            </a>
                            <div id="form-transf-pj-vers-doc-officiel{{ doc.pk }}"></div>
                        {%  endif %}
                        {% else %}
                        Traitement du fichier en cours...
                        {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>