{% extends "base.html" %}
{% load i18n file_tags thumbnail_filter instruction_tags %}
{% load static %}

{% block head_title %}
    {{ str_avis.avis|capfirst }} : {{ object.instruction.manif.nom }}
{% endblock %}

{% block resume %}
    {% include 'evenements/blocs/bandeau_resume.html' with manif=object.instruction.manif service=service %}
    {% if object.etat == 'demandé' %}
        <br>
        {% include 'evenements/blocs/bandeau_delai_avis.html' with avis=object %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">

        <!-- BOF Message dossier incomplet -->
        {% if not object.instruction.manif.dossier_complet %}
            {% include 'instructions/blocs/dossier_incomplet.html' %}
        {% endif %}
        <!-- EOF Message dossier incomplet -->

        <!-- BOF Affichage des onglets -->
        <div class="tab-list col-sm-12">
            <ul class="nav nav-pills">
                <li class="nav-item"><button class="nav-link active link_onglet" data-bs-target="#agreement" data-bs-toggle="pill">
                    <i class="suivi"></i> Suivi de l'instruction</button></li>
                <li class="nav-item"><button class="nav-link link_onglet" data-bs-target="#event" data-bs-toggle="pill">
                    <i class="detail"></i> Détail de la manifestation</button></li>
                {% include 'evenements/panneaux/onglets.html' with object=object.instruction.manif %}
            </ul>
        </div>
        <!-- EOF Affichage des onglets -->

        <!-- BOF Panneau principal (gauche) -->
        <div class="col-sm-8" id="panneau_gauche">
            <div class="tab-content">
                <div id="agreement" class="tab-pane fade show active">
                    {% if object.service_consulte_fk in object.instruction.presentations.last.get_tous_membres %}
                        <div class="card-header text-center border border-2 border-secondary">
                            <i class="cdsr float-start"></i>
                            <strong>Avis CDSR</strong>
                            <i class="cdsr float-end"></i>
                        </div>
                    {% endif %}
                    <!-- BOF État de l'avis / préavis -->
                    {% include 'instructions/blocs/avis_etat.html' %}
                    {% include 'instructions/blocs/modal_date.html' %}
                    <!-- EOF Détail de l'avis / préavis -->

                    <!-- BOF Contenu de l'avis / préavis -->
                    {% if object.etat == "rendu" or object.etat == "brouillon" %}
                        {% include 'instructions/blocs/avis_contenu.html' %}
                    {% endif %}
                    <!-- EOF Contenu de l'avis / préavis -->

                    <!-- BOF Pièces jointes -->
                    {% include 'instructions/blocs/avis_pj.html' %}
                    <!-- EOF Pièces jointes -->

                    <!-- BOF Liste des préavis -->
                    {% include 'instructions/blocs/avis_liste_preavis.html' %}
                    <!-- EOF Liste des préavis -->

                    <!-- BOF Liste des octrois en lecture seul -->
                    {% if acces_consult %}
                        <hr class="mt-5">
                        {% include 'instructions/access_detail.html' with acces_cat=object.get_categorie %}
                    {% endif %}
                    <!-- EOF Liste des octrois en lecture seul -->

                    <!-- BOF Précédent avis/préavis -->
                    {% include 'instructions/blocs/avis_liste_precedent.html' %}
                    <!-- EOF Précédent avis/préavis -->
                </div>
                {% include 'evenements/panneaux/instructeur.html' with object=object.instruction.manif %}
            </div>
        </div>
        <!-- EOF Panneau principal (gauche) -->

        <!-- BOF Panneau des actions (droite) -->
        <div class="col-sm-4" id="panneau_droite">
            <!-- BOF Accès en lecture seul -->
            {% if consult %}
                {% include 'evenements/blocs/acces_lecture_seule.html' %}
            <!-- EOF Accès en lecture seul -->
            {% else %}
                {% include 'instructions/blocs/actions_requises.html' %}

                {% include 'instructions/blocs/actions_disponibles.html' %}

                <a href="{% url 'instructions:tableaudebord' %}" class="btn btn-outline-secondary btn-fill" role="button" class="d-block">
                    <i class="retour"></i> Revenir au tableau de bord <i class="tableau-de-bord left-margin"></i>
                </a>
            {% endif %}
        </div>
        <!-- EOF Panneau des actions (droite) -->

    </div>
    <!--AJAX date limite pour préavis--->
    <script src='{% static "instructions/date_limite.js" %}' type="text/javascript"></script>

    <!--Modal--->
    {% include "structure/modal_selecteur_de_service.html" with categories=categories %}
    <script>
        var ajout = ""
        var categories = []
        var url_list = "{% url 'structure:service_list' %}"
        var url_agent = "{% url 'structure:agent_list' %}"
        var url_action = "{% url "instructions:acces_create" pk=object.id %}"
        var url_categorie = "{% url 'structure:categorie_list' %}"
        var action = "consultation"
        var object_id = "{{ object.instruction.id }}"
        var secteur = "instance_{{ object.instruction.instance.id }}"
        var secteur_initial = secteur
        var modal_title = "Sélectionner le service qui pourra consulter le dossier"
        var avertissement = "Aucun résultat trouvé avec les filtres sélectionnés. (Les services et mairies ayant déjà " +
            "fait l'objet d'une demande d'avis n'apparaissent pas dans cette liste)"
        var show_old = true
        var selecteur_multiple = false
        var selecteur_radio = false
        var show_agent = false
        var show_sous_service = false
    </script>
    <script>
        $(document).ready(function () {

            $('.annulation').click(function (e) {
                e.preventDefault();
                $('.annulation').hide();
                $('.confirmer_annulation').show();
            });
            $('.card-header').click(function (e) {
                $('.annulation').show();
                $('.confirmer_annulation').hide();
            })

            $('ul:empty').hide()
            $('.card-item:empty').hide()


            // On bind l'événement click sur body venant de la partie concernée
            // Cette syntaxe permet de lier un événement sur une partie non visible au chargement de la page
            var text_wait = "<div class=\"alert alert-warning m-3\"><i class=\"far fa-spinner fa-spin\"></i>Recherche des informations en cours. Veuillez patienter...</div>";

            // Affichage du formulaire d'ajout de pièce jointe
            $('.btn_doc').click(function (e) {
                let id='#form_ajout_doc'+$(this).attr('id').split('_')[1];
                $(id).fadeIn();
                $(e.target).fadeOut();
            });
            $('#divexport').on('click', function (e) {
                e.preventDefault();
                $('#divexport_content').toggle("slow");
            });

            $('#confirmer_convention_btn').on('click', function (e) {
                e.preventDefault();
                $('#confirmer_convention_div').toggle("fast");
            });

            $('#confirmer_calendrier_btn').on('click', function (e) {
                e.preventDefault();
                $('#confirmer_calendrier_div').toggle("fast");
            });

            // blocage des liens
            var export_lien_disabled = false
            $('.export_lien').click(function (e) {
                e.preventDefault();
                if (export_lien_disabled){
                }
                else {
                    export_lien_disabled = true
                    $('#export_lien_attente').show()
                    $.get($(this).attr('href'), function (e){})
                    setTimeout(function () {
                        export_lien_disabled = false
                        $('#export_lien_attente').hide()
                    }, 20000)
                }
            })
            $('.formconsult_btn').on('click', function (e) {
                e.preventDefault();
                $('#consult_div').toggle('slow');
            });

            $('.formconsult').on('click', function (event) {
                ajout = $(this).attr('id');
                modal_title = "Sélectionner le service qui pourra consulter le dossier"
                show_sous_service = false
                url_action = "{% url "instructions:acces_create" pk=object.id %}"
                action = "consultation"
                selecteur_multiple = false
                $("#modal-title-selecteur").text("Sélectionner le service qui pourra consulter le dossier")
                $('#consult_div').toggle('slow');
                $("#modal-categorie-selecteur").addClass('d-none')
                $('#modal-instance-selecteur').removeClass('d-none')
                $('#demandeAvisModal').modal('show');
            });

            $('#demandeAvisModal').on('hidden.bs.modal', function () {
                $('#service-liste').empty()
                $('.selected').removeClass('selected')
                $("#no-result").addClass('d-none')
                $("#service-search").addClass('d-none')
                $('#select-instances-modal').val('').trigger('chosen:updated');
            })

        });
        $('#a_assigner').on('click', function(e) {
          e.preventDefault()
          $('#a_assigner_div').fadeIn()
          $('#a_assigner').fadeOut()
        })
        $('#a_assigner_annule').on('click', function(e){
            e.preventDefault()
          $('#a_assigner_div').fadeOut()
          $('#a_assigner').fadeIn()
        })
         $('#self_assigner').on('click', function (e){
            e.preventDefault()
            $.post($(this).attr('href'), {}, function (e){
                console.log(e)
                window.location.reload()
            })
        })
        $('.autre_assigner').on('click', async function (e){
            e.preventDefault()
            let id = $(this).attr('id')
            let data = await $.get("{% url 'instructions:assigner' pk=object.get_last_avis.pk %}?type_dossier=avis")
            data = JSON.parse(data)
            let html = `<select id="assigner_select" class="chosen-select">`
            for (let i=0; i<data.length; i++){
                html += `<option value="${data[i][0]}">${data[i][2]} - ${data[i][1]}</option>`
            }
            html += `</select><input class="btn btn-primary mt-1" type="submit" value="Assigner" id="assigner_submit">`
            $(`#${id}_div`).html(html)
            $('#assigner_select').chosen({width: '100%'})
        })
        $('body').on('click', '#assigner_submit', function (e){
            e.preventDefault()
            let val = $('#assigner_select').val()
            $.post(`{% url 'instructions:assigner' pk=object.get_last_avis.pk %}?type_dossier=avis&pk_user=${val}`, {}, function(e){
                window.location.reload()
            })
        })
        $('#rendre_avis_link').click(function (){
            $("#span_valide_rendre_avis").fadeIn()
        })
        $('#dismis_rendre_avis_link').on('click', function(e){
            $("#span_valide_rendre_avis").fadeOut()
        })

        $('#rendre_preavis_link').click(function (){
            $("#span_valide_rendre_avis").fadeIn()
        })
        $('#dismis_rendre_preavis_link').on('click', function(e){
            $("#span_valide_rendre_avis").fadeOut()
        })

        $('#rendre_direct_preavis_link').click(function (){
            $("#span_valide_rendre_direct_preavis").fadeIn()
        })
        $('#dismis_rendre_direct_preavis_link').on('click', function(e){
            $("#span_valide_rendre_direct_preavis").fadeOut()
        })
    </script>
{% endblock %}

