{% extends "base_form.html" %}

{% load i18n %}
{% load static crispy_forms_tags thumbnail_filter %}

{% block head_title %}
        Rendre l'avis
{% endblock %}

{% block page_title %}
    <h1>
            <i class="avis"></i> Rendre l'avis
        : {{ object.instruction.manif|capfirst }}
    </h1>
{% endblock %}

{% block content %}
    <div id="error_avis_cdsr_form" class="alert alert-danger" style="display: none"></div>
                                <form method="post" action="{% url 'instructions:avis_prefecture' pk=object.pk %}" id="avis_cdsr_form" class="form-control">
                                    {% crispy form %}

                                </form>

        <p> Vous pouvez ajouter une ou plusieurs pièces jointes dans le détail de l'avis.</p>

{% endblock %}
