
<div class="d-flex justify-content-around">
    <div><i class="declaration"></i> {{ data.declaration }}</div>
    <div><i class="autorisation"></i> {{ data.autorisation }}</div>
</div>
<div class="d-flex justify-content-around">
    <div><i class="competition"></i> {{ data.competition }}</div>
    <div><i class="sans-competition"></i> {{ data.noncompetition }}</div>
</div>
<div class="d-flex justify-content-around">
    <div><i class="vtm"></i> {{ data.motorise }}</div>
    <div><i class="sans-vtm"></i> {{ data.nonmotorise }}</div>
</div>
<div class="d-flex justify-content-around">
    <div><i class="circuit-homologue"></i> {{ data.circuit }}</div>
    <div><i class="cyclisme"></i> {{ data.velo }}</div>
</div>

