{% extends "base_form.html" %}

{% load i18n crispy_forms_tags %}
{% load static %}

{% block head_title %}
    {% if publier %}
        Ajout du document officiel
    {% elif creer %}
        Demander l'instruction
    {% else %}
        Instruction de manifestation sportive
    {% endif %}
{% endblock %}

{% block page_title %}
    <h1>
        {% if publier %}
            Ajout du document officiel pour la manifestation
        {% elif creer %}
            <i class="envoyer"></i>Demander l'instruction
        {% else %}
            <i class="autorisation"></i>Instruction de manifestation sportive
        {% endif %}
        : {{ object.manif|capfirst }}
    </h1>
{% endblock %}


{% block content %}

    <div class="col-xs-12 col-md-12">

        {% if creer %}

            <div class="alert alert-warning"><strong>Rappel du code du sport :</strong> - Article R331-17-2. Modifié par Décret n°2017-1279 du 9
                août 2017 - art. 8<br><br>
                Le fait d'organiser sans la déclaration prévue à l'article R. 331-6 une manifestation sportive est puni des peines prévues pour
                les contraventions de la cinquième classe.<br><br>
                Est puni des peines prévues pour les contraventions de la cinquième classe le fait, par l'organisateur, de fournir de faux
                renseignements lors de la déclaration ou, le cas échéant, de ne pas respecter les mesures complémentaires prescrites en
                application de l'article R. 331-11.<br><br>
                Est puni de l'amende prévue pour les contraventions de la troisième classe le fait de participer sciemment à une manifestation
                sportive non déclarée alors qu'elle était soumise à déclaration en application de l'article R. 331-6.
                <div class="alert alert-light mt-2 mb-0" id="engagement">
                    <div><input class="mx-2" type="checkbox" name="dispos" id="dispos">
                        Je m'engage à respecter les dispositions des réglementations en vigueur à ce jour.</div>
                    <div><input class="mx-2" type="checkbox" name="pieces" id="pieces">
                        Je m'engage à fournir les pièces jointes suivantes dans les délais réglementaires :
                        <ul class="ms-2 my-2">
                            {% for pj in pjs %}
                                <li>{{ pj.nom }}, avant le {{ pj.date_limite|date:"d/m/Y" }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div><input class="mx-2" type="checkbox" name="arretes" id="arretes">
                        Je m'engage à veiller à obtenir auprès des autorités administratives compétentes les arrêtés de circulation nécessaires.</div>
                    <div><input class="mx-2" type="checkbox" name="exact" id="exact">
                        Je certifie l’exactitude des renseignements concernant cette manifestation.</div>
                </div>
            </div>

            {% include 'evenements/blocs/anomalie_commune_parcours.html' with object=manif %}


            <p>Veuillez vérifier avec vigilance les éléments déclarés suivant :</p>
            <ul>
                <li class="mb-2">Nombre de participants : {{ manif.nb_participants }}</li>

                <li class="mb-2">Liste des communes concernées :
                    {% for communes in manif.get_villes_traversees %}
                        {{ communes }}{% if not forloop.last %}, {% else %}.{% endif %}
                    {% endfor %} <i class="ctx-help-avertissement_liste_commune"></i>
                </li>

                {% if poi_secours != -1 or poi_signaleur_permi != -1 %}
                    <li>Cartographie de parcours :
                        <ul>
                            {% if poi_secours == 0 %}
                                <li>Le positionnement de POI <strong>poste de secours</strong> ou <strong>zones réservées aux secours</strong> est obligatoire pour la bonne instruction de votre dossier.<i class="ctx-help-avertissement_poi_secours"></i></li>
                            {% elif not poi_secours == -1 %}
                                <li>Nous avons détecté {{ poi_secours }} POI "secours" pour indiquer vos dispositions de sécurité. <i
                                        class="ctx-help-avertissement_poi_secours"></i></li>
                            {% endif %}

                            {% if poi_signaleur_permi == 0 %}
                                <li>Le positionnement de POI <strong>signaleurs avec permis</strong> ou <strong>postes commissaires </strong> est obligatoire pour la bonne instruction de votre dossier.<i class="ctx-help-avertissement_poi_signaleur"></i></li>
                            {% elif not poi_signaleur_permi == -1 %}
                                <li>Nous avons détecté {{ poi_signaleur_permi }} POI "signaleur avec permis". <i
                                        class="ctx-help-avertissement_poi_signaleur"></i></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
            {% if manif.departements_traverses %} <p>
                Votre dossier ne va être transmis qu'au service instructeur des départements : <i class="ctx-help-info_interdep"></i><br>
                {% for instance in manif.instance_instruites.all %}<span class='ms-3 me-2'>&#8250;</span>{{ instance.get_departement }}{% if not forloop.last %},<br>{% endif %}{% endfor %}.
                {% if manif.get_departement_non_pris_en_charge %}
                    <br>Veuillez prendre contact avec le service instructeur des départements
                    {% for dep in manif.get_departement_non_pris_en_charge %}{{ dep }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    afin de connaitre la démarche à suivre en dehors de cette plateforme.
                {% endif %}
            </p>
            {% endif %}

            {% if federation %} <p>  {{ federation|safe }} </p> {% endif %}
        {% endif %}
        {% if not publier %}
            {% if not instructible_mairie %}
                <div class="alert alert-danger" role="alert">
                    <p class="mb-2"><strong><em>Instruction du dossier en mairie</em></strong></p>
                    <p>Votre dossier doit être instruit en mairie, hors la mairie concernée n'est pas en mesure de l'instruire.<br>
                        La préfecture de votre arrondissement sera avertie.<br>
                        N'hésitez pas à prendre contact avec votre mairie.</p>
                </div>
            {% endif %}
            <div>
                <p class="mb-2"><strong><em>Dépôt et envoi du dossier au service instructeur</em></strong></p>
                <p>Un accusé de réception va vous être envoyé par courriel.
                    Si vous ne le recevez pas dans la prochaine heure,
                    veuillez consulter votre tableau de bord puis éventuellement prendre
                    contact avec votre service instructeur.<br>
                    Une fois votre dossier transmis vous serez redirigé sur une page
                    qui affichera l'état d'avancement de votre dossier.
                    L'étape "Demande envoyée" doit apparaître en vert.</p>
            </div>
        {% endif %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Attention : </strong>Certains champs sont obligatoires et doivent être renseignés<br/>
                <ul>
                    {% if form.non_field_errors %}
                        <li>{{ form.non_field_errors }}</li>
                    {% endif %}
                    {% for field in form %}
                        {% if field.errors %}
                            <li><strong>{{ field.label }}</strong> : {{ field.errors.0 }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% block form %}
            {{ form.media }}
            {% crispy form %}
        {% endblock %}
    </div>
    {% if publier %}
    <script>
        $("#id_nature").change(function (){
             $("#etat-courant").text('{% if object.etat == "distribuée" %}en consultation{% else %}{{ object.etat }}{% endif %}')
             $("#file-nature").text($( "#id_nature option:selected" ).text())
             var nature_doc = $(this).val()
             var new_etat = ""
             if(nature_doc !== "9") {
                 // Notice Rd ou Autre documment Ou Arrêté de circulation -> pas de modification
                 if (nature_doc === "5" || nature_doc === "6" || nature_doc === "2") {
                     $("#modification-etat").css('display', 'none')
                     $("#changement-action").css('display', 'none')
                     $("#pas-modification-etat").css('display', 'unset')
                 } else {
                     // Arreté d'interdiction
                     if (nature_doc === "0") {
                         new_etat = "interdite"
                     }
                     // Arrêté d'autorisation ou Récépissé de déclaration
                     else if (nature_doc === "1" || nature_doc === "3") {
                         new_etat = "autorisée"
                     }
                     // Déclaration d'annulation
                     else if (nature_doc === "4") {
                         new_etat = "annulée"
                     }
                     // Si le nouvel état correspond a l'état actuel -> pas de modification
                     if(new_etat === '{{ object.etat }}'){
                         $("#modification-etat").css('display', 'none')
                         $("#changement-action").css('display', 'none')
                         $("#pas-modification-etat").css('display', 'unset')
                     }
                     else {
                        $("#nouveau-etat").text(new_etat)
                        $("#changement-action").css('display', 'unset')
                        $("#modification-etat").css('display', 'unset')
                        $("#pas-modification-etat").css('display', 'none')
                     }
                 }
             }
        })

        // Modifie le nom du fichier
        $("#id_fichier").change(function (){
            $("#file-name").text($("#id_fichier").get(0).files[0].name)
        })

        // Affiche la double verification
        $("#btn-valider-doc").click(function (){
            // Ajoute des erreur si champs non rensseigné
            if($("#id_nature").val() === "9" || $("#id_fichier").get(0).files.length === 0){
                if($("#id_nature").val() !== "9" && !$("#error_1_id_nature").length){
                    $("#div_id_fichier").find('.col-sm-6').append(
                        '<span id="error_1_id_nature" class="text-danger"><strong>Vous devez ajouter un document officiel</strong></span>'
                    )
                }
                else if($("#id_fichier").get(0).files.length !== 0 && !$("#error_1_id_file").length){
                    $("#div_id_nature").find('.col-sm-6').append(
                        '<span id="error_1_id_file" class="text-danger"><strong>Vous devez spécifier la nature du document officiel</strong></span>'
                    )
                }
                else if(!$("#error_1_id_file").length && !$("#error_1_id_nature").length) {
                    $("#div_id_nature").find('.col-sm-6').append(
                        '<span id="error_1_id_nature" class="text-danger"><strong>Vous devez spécifier la nature du document officiel</strong></span>'
                    )
                    $("#div_id_fichier").find('.col-sm-6').append(
                        '<span id="error_1_id_file" class="text-danger"><strong>Vous devez ajouter un document officiel</strong></span>'
                    )
                }
            }
            // Affiche la double verification
            if($("#id_nature").val() !== "9" && $("#id_fichier").get(0).files.length !== 0){
                $("#manif-name").text('{{ object.manif|capfirst }}')
                $("#user-name").text('{{ object.manif.declarant}}')
                $("#etat-courant").text('{% if object.etat == "distribuée" %}en consultation{% else %}{{ object.etat }}{% endif %}')
                $("#double-verification").fadeIn()
                $(this).fadeOut()
            }
        })

        // Cache la double vérification
        $("#dismiss").click(function (){
            $("#double-verification").fadeOut()
            $("#btn-valider-doc").fadeIn()
        })

    </script>
    {% elif creer %}
    <script>
        // S'il s'agit d'un envoie de dossier en instruction, vérifie que toutes les checkboxes sont coché
        $(document).ready(function () {
            $('#submit-id-save').attr('disabled', true);
            $('form').css('cursor', 'not-allowed');
            $('body').on('click', '#engagement', (function (e) {
                if ($('[name="dispos"]').is(':checked') && $('[name="pieces"]').is(':checked') && $('[name="arretes"]').is(':checked') && $('[name="exact"]').is(':checked')) {
                    if ($('[name="confirme_anomalie"]').is(':checked') || !$('[name="confirme_anomalie"]').length){
                      $('#submit-id-save').attr('disabled', false);
                      $('form').css('cursor', 'default');
                    }
                } else {
                    $('#submit-id-save').attr('disabled', true);
                    $('form').css('cursor', 'not-allowed');
                };
            }));
             $('body').on('click', '#confirme_anomalie', (function (e) {
                if ($('[name="dispos"]').is(':checked') && $('[name="pieces"]').is(':checked') && $('[name="arretes"]').is(':checked') && $('[name="exact"]').is(':checked') && $('[name="confirme_anomalie"]').is(':checked')) {
                      $('#submit-id-save').attr('disabled', false);
                } else {
                    $('#submit-id-save').attr('disabled', true);
                    $('form').css('cursor', 'not-allowed');
                };
            }));
        });
    </script>
    {% endif %}

{% endblock %}


