{% extends "base.html" %}
{% load static %}

<script src='{% static "libs/clever-selects.js" %}' type="text/javascript"></script>

{# load url from future #}
{% load i18n file_tags %}

{% block head_title %}
    Instruction de manifestation
{% endblock %}

{% block resume %}
    {% include 'evenements/blocs/bandeau_resume.html' with manif=object.manif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="tab-list col-sm-12">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link link_onglet active" href="#authorization" data-toggle="pill">
                    <i class="suivi"></i> Suivi de l'instruction</a></li>
                <li class="nav-item"><a class="nav-link link_onglet" href="#event" data-toggle="pill">
                    <i class="detail"></i> Détail de la manifestation</a></li>
                {% include 'evenements/panneaux/onglets.html' with object=object.manif %}
            </ul>
        </div>
        <div class="col-sm-8" id="panneau_gauche">
            <div class="tab-content">
                <div id="authorization" class="card tab-pane fade show active">
                <div id="demandeavis" class="card d-none mb-3">
                        <div class="card-header bg-primary">
                            Envoyer les demandes d'avis
                        </div>
                        <div id="demandeavis_content" class="card-body"></div>
                    </div>
                    {% if object.avis.all %}
                        <h2 class="alert alert-dark">Liste des avis demandés <i class="ctx-help-tb_instructeur_avis"></i></h2>
                        <div class="text-right">
                            <span class="ctx-help-legende_icone_avis">Légende</span><i class="ctx-help-legende_icone_avis"></i>
                        </div>
                    {% else %}
                        Aucune demande d'avis envoyée.<br><br><br>
                    {% endif %}
                    <div id="accordion">
                        {% for object in object.avis.all %}
                            {% include 'instructions/avis_description.html' %}
                        {% endfor %}
                    </div>
                </div>
                {% include 'evenements/panneaux/instructeur.html' with object=object.manif %}
            </div>
        </div>
        <div class="col-sm-4" id="panneau_droite">
            {% if not en_lecture %}
                <div class="card border-danger liste-actions mb-3">
                    <div class="card-header bg-danger text-white">
                        <i class="action-requise-blanc"></i>Actions requises
                    </div>
                    <div class="card-body">
                        <p>Retrouvez ici toutes les actions requises pour cette manifestation</p>
                        <ul class="list-no-style">
                            {% if object.etat != 'autorisée' %}
                                <li>
                                    <a id="valider_doc_btn" href="#"  role="button">
                                        <i class="valider"></i> Valider la complétude des pièces jointes
                                        <!--<i class="dossier-annexe left-margin"></i>-->
                                    </a>
                                </li>
                                <p style="display: none; margin-top: 0.5em;" id="valider_doc_div">
                                    <a href="{% url 'instructions:valider_documents' pk=object.id %}" class="test_valider_doc"><button style="width: 130px;" class="btn btn-success"><i class="btn-ok"></i>Valider</button></a>
                                    <a href="{% url 'instructions:invalider_documents' pk=object.id %}"><button style="width: 130px; color:white;" class="btn btn-warning"><i class="btn-pas-ok"></i>Invalider</button></a>
                                    <i class="ctx-help-valider_completude"></i>
                                </p>
                            {% endif %}
                            {% if object.etat == 'demandée' and object.manif.get_cerfa.consultServices != 0 %}
                                <li>
                                    <a href="{% url 'instructions:instruction_update' pk=object.id %}" class="formavis" role="button">
                                        <i class="envoyer"></i> Envoyer les demandes d'avis
                                        <i class="avis left-margin"></i>
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'instructions:instruction_publish' pk=object.id %}"  role="button">
                                    <i class="arrete"></i> Ajouter un document officiel
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="card liste-actions mb-3">
                <div class="card-header bg-primary">
                    <i class="action"></i> Actions disponibles
                </div>
                <div class="card-body">
                    {% if en_lecture %}
                        <p>
                            Cette manifestation n'est pas dans votre arrondissement d'instruction<br>
                            La configuration de votre département ne permet que la <strong>consultation</strong>
                            des instructions des manifestations des arrondissements voisins
                        </p>
                    {% else %}
                        <p>Retrouvez ici toutes les actions disponibles liées à cette manifestation</p>
                        <ul class="list-no-style">
                            <li>
                                <a href="{% url 'evenements:demander_doc_complementaire' manif_pk=object.manif.id %}"  role="button">
                                    <i class="ajouter"></i> Demander un document complémentaire
                                </a>
                            </li>
                            {# Option cachée : l'organisateur n'a pas la possibilité de remplir l'évaluation après envoi #}
                            {% if not object.manif.n2kevaluation and False %}
                                <li>
                                    <a href="#" class="formeval" role="button">
                                        <i class="ajouter"></i> Demander une évaluation Natura 2000
                                    </a>
                                </li>
                            {% endif %}
                            {% if object.manif.get_cerfa.consultServices != 0 %}
                                {% if object.etat == 'distribuée' or object.etat == 'interdite' %}
                                    <li>
                                        <a href="#" class="formavis" role="button">
                                            <i class="ajouter"></i> Ajouter des demandes d'avis
                                            <!--<i class="avis left-margin"></i>-->
                                        </a>
                                    </li>
                                    {% if not get_nb_avis_non_rendus %}
                                        <li>
                                            <a id="relance_avis_btn" href="#" class="" role="button">
                                                <i class="envoyer"></i> Relancer les demandes d'avis non reçues
                                            </a>
                                            <i class="ctx-help-aide_relance_avis"></i>
                                        </li>
                                        <p style="display: none; margin-top:0.5em;" id="relance_avis_div">
                                            <a href="{% url 'instructions:relance_avis'  pk=object.pk %}"><button style="width: 150px" class="btn btn-success" ><i class="btn-ok"></i></button></a>
                                            <button style="width: 150px" class="btn btn-danger" id="relance_avis_annul"><i class="btn-pas-ok"></i></button>
                                        </p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <li>
                                <a href="{% url 'evenements:manifestation_instructeur' pk=object.manif.id %}"  role="button">
                                    <i class="date"></i> Modifier l'affichage dans le calendrier public
                                </a>
                            </li>
                            <li><a href="#" id="divexport" role="button"><i class="telecharger"></i>Exporter cette manifestation</a></li>
                            <div id="divexport_content" style="display: none;">
                                <li class="ml-4">Rappel : votre responsabilité est engagée en cas de divulgation d'informations (notamment des données personnelles).
                                    <i class="ctx-help-msg_export"></i></li>
                                <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_instructeur' pk=object.manif.pk %}" role="button"><i class="pdf"></i>Exporter en fichier PDF</a></li>
                                <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_instructeur' pk=object.manif.pk %}?avis=1" role="button"><i class="pdf"></i>Exporter en fichier PDF <strong>avec les avis</strong></a></li>
                                <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_instructeur' pk=object.manif.pk %}?zip=1" role="button"><i class="archive"></i>Exporter en archive ZIP</a></li>
                                <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_instructeur' pk=object.manif.pk %}?avis=1&zip=1" role="button"><i class="archive"></i>Exporter en archive ZIP <strong>avec les avis</strong></a></li>
                                <li id="export_lien_attente" class="ml-4" style="display: none"><i class="spinner"></i>Veuillez patientez, la plateforme est en train de créer votre fichier</li>
                            </div>
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div id="demandeeval" class="card d-none mb-3">
                <div class="card-header bg-primary">
                    Demander une évaluation Natura 2000
                </div>
                <div id="demandeeval_content" class="card-body"></div>
            </div>
            {% if user.instructeur %}
                <a href="{% url 'instructions:tableaudebord' %}?filtre_specifique=instructionmairie" class="btn btn-outline-secondary btn-fill mb-3" role="button">
                    <i class="retour"></i> Tableau de bord des instructions en mairie
                    <i class="tableau-de-bord left-margin"></i></a>
                <a href="{% url 'instructions:tableaudebord' %}" class="btn btn-outline-secondary btn-fill" role="button">
                    <i class="retour"></i> Revenir au tableau de bord
                    <i class="tableau-de-bord left-margin"></i></a>
            {% elif user.agent.mairieagent %}
                <a href="{% url 'instructions:tableaudebord' %}?filtre_specifique=instructionmairie" class="btn btn-outline-secondary btn-fill" role="button">
                    <i class="retour"></i> Revenir au tableau de bord
                    <i class="tableau-de-bord left-margin"></i></a>
            {% else %}
                <a href="#" class="btn btn-outline-secondary btn-fill" role="button">
                    <i class="retour"></i> Inactif
                    <i class="tableau-de-bord left-margin"></i></a>
            {% endif %}
        </div>
    </div>
    {#    TODO : voir pour la production si la partie csrftoken est utile : en dev, ça marche sans #}
    <script src="{% static 'portail/js/ajax-init-crsf.js' %}"></script>
    <script>
        $(document).ready(function () {


            $('.formeval').on('click', function (event) {
                event.preventDefault();
                if ($('#demandeeval_content').html() != "") {
                    $('#demandeeval_content').empty();
                    $('#demandeeval').addClass("d-none");
                } else {
                    // Charger le formulaire des demandes d'avis
                    $('#demandeeval_content').html("Chargement ... <i class=\"far fa-spinner fa-spin\">");
                    $('#demandeeval').removeClass("d-none").slideDown("slow");
                    $.get( "{% url 'evaluation_incidence:ajaxn2keval_add' manif_pk=object.manif.id %}", function (data) {
                        $('#demandeeval_content').html(data);
                    });
                }
            });

            $('.formavis').on('click', function (event) {
                event.preventDefault();

                if ($('#demandeavis_content').html() != "" && $('.link_onglet[href="#authorization"]')[0].classList.contains('active')) {
                    $('#demandeavis_content').empty();
                    $('#demandeavis').addClass("d-none");
                } else {
                    // Charger le formulaire des demandes d'avis
                    $('#demandeavis_content').empty();
                    $('#demandeavis').addClass("d-none");
                    $('.link_onglet[href="#authorization"]').trigger('click');
                    $('#demandeavis_content').html("Chargement ... <i class=\"far fa-spinner fa-spin\">");
                    $('#demandeavis').removeClass("d-none").slideDown("slow");
                    // Pour eviter que chosen n'affiche les selects en petit on laisse le temps de se charger
                    setTimeout(function () {
                        $.get( "{% url 'instructions:instruction_update' pk=object.id %}", function (data) {
                            $('#demandeavis_content').html(data);
                            // Cacher et remplir le champ département
                            $('#div_id_departements_concernes').hide();
                            var dept = {{ object.manif.ville_depart.get_departement.id }}
                                $('#id_departements_concernes').val(dept).trigger('chosen:updated');
                            // Activer clever-select pour remplir les champs dépendants
                            $('#id_departements_concernes').addClass('chained-parent-field');
                            $('#id_departements_concernes').attr('chained_ids', "id_villes_concernees,id_services_concernes");
                            $('#id_departements_concernes').loadAllChainedChoices();
                        });
                    },500)
                }
            });

            $('.bt-transf-pj-vers-doc-officiel').on('click', function (evt) {
                evt.preventDefault();
                let id_pj = $(this).attr('id');
                var div_remplir='#form-transf-pj-vers-doc-officiel'+id_pj;
                if ($(div_remplir).html() != "") {
                    $(div_remplir).empty();
                }
                else {
                    $.get("{% url 'instructions:instruction_transfert_pj_vers_doc_officiel' pk=object.id %}?pj="+id_pj, function (data) {
                        $(div_remplir).html(data);
                        AfficherIcones();
                    })
                }
            })

            // On bind l'événement click sur body venant de la partie concernée
            // Cette syntaxe permet de lier un événement sur une partie non visible au chargement de la page
            var text_wait = "<div class=\"alert alert-warning m-3\"><i class=\"far fa-spinner fa-spin\"></i>Recherche des informations en cours. Veuillez patienter...</div>";

            // Chargement de l'historique actions
            $('body').on('click', '#headinghisto1', function (event) {
                event.preventDefault();
                var cont_action = $.trim($('.histo-actions').text());
                if (cont_action == "") {
                    $('.histo-actions').html(text_wait).slideDown("fast");
                    $.get( "{% url 'notifications:actions_list' pk=object.manif.id path='instruction' pko=object.id %}", function (data) {
                        $('.histo-actions').html(data);
                    });
                }
            });
            // Chargement de l'historique notifications
            $('body').on('click', '#headinghisto2', function (event) {
                event.preventDefault();
                var cont_notif = $.trim($('.histo-notifications').text());
                if (cont_notif == "") {
                    $('.histo-notifications').html(text_wait).slideDown("fast");
                    $.get( "{% url 'notifications:notifications_list' pk=object.manif.id path='instruction' pko=object.id %}", function (data) {
                        $('.histo-notifications').html(data);
                    });
                }
            });
            // Envoi des avis demandés
            $('body').on('submit', '#envoyeravis', function(event){

                $(this).find("input[type='submit']").attr("disabled", true)
                $(this).find("input[type='submit']").attr("value","Action en cours. Veuillez patienter...");
                $(this).find("input[type='submit']").css("width", "80%")
                $(this).find("input[type='submit']").after("<i id='prevent_sub_spinner' class=\"prevent_sub_spinner  far fa-spinner fa-2x fa-spin\" style=\"position: relative; top: 6px; margin-left: 9px; color: #015A70; \"></i>");

                event.preventDefault();
                // Récupérer les données du formulaire
                var donnees = $('#envoyeravis').serialize();
                // console.log(donnees);
                $.post("{% url 'instructions:instruction_update' pk=object.id %}", donnees).done(function (data) {
                    window.location.reload(true);
                });
            });
            // Envoi de la demande d'évalualtion
            $('body').on('submit', '#demandereval', function(event){
                event.preventDefault();
                $('#demandereval').after( "<div class=\"alert alert-info\" role=\"alert\"><i class=\"far fa-spinner fa-spin\"></i> Demande en cours d'envoi. Veuillez patienter...</div>" );
                // Récupérer les données du formulaire
                var donnees = $('#demandereval').serialize();
                // console.log(donnees);
                $.post("{% url 'evaluation_incidence:ajaxn2keval_add' manif_pk=object.manif.id %}", donnees).done(function (data) {
                    window.location.reload(true);
                });
            });

            $('#divexport').on('click', function (e) {
                e.preventDefault();
                $('#divexport_content').toggle("slow");
            });

            $('#valider_doc_btn').on('click', function (e) {
                e.preventDefault();
                $('#valider_doc_div').fadeIn();
            });

            $('#relance_avis_btn').on('click', function (e) {
                e.preventDefault();
                $('#relance_avis_div').fadeIn();
            });
            $('#relance_avis_annul').on('click', function (e) {
                e.preventDefault();
                $('#relance_avis_div').fadeOut();
            });

            //blocage des liens
            var export_lien_disabled = false
            $('.export_lien').click(function (e) {
                if (export_lien_disabled){
                    e.preventDefault();
                }
                else {
                    export_lien_disabled = true
                    $('#export_lien_attente').show()
                    setTimeout(function () {
                        export_lien_disabled = false
                        $('#export_lien_attente').hide()
                    }, 20000)
                }
            })
        });
    </script>
{% endblock %}
