{% extends "base.html" %}
{% load static crispy_forms_tags thumbnail_filter %}

<script src='{% static "libs/clever-selects.js" %}' type="text/javascript"></script>

{# load url from future #}
{% load i18n file_tags onglet_instruction %}

{% block head_title %}
    Instruction : {{ object.manif.nom }}
{% endblock %}

{% block resume %}
    {% include 'evenements/blocs/bandeau_resume.html' with manif=object.manif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="tab-list col-sm-12">
        {% if dossier_incomplet %}
            <div class="alert alert-danger">
                <b>Dossier organisateur incomplet :</b>
                <ul style="list-style-type: circle">
                    {% if formulaire_manquant %}<li>Formulaire incomplet</li>{% endif %}
                    {% if n2k_manquant %}<li>Évaluation natura2000 incomplete</li>{% endif %}
                    {% if rnrevaluation %}<li>Évaluation rnr incomplete</li>{% endif %}
                    {% if carto_manquant %}<li>Cartographie incomplete</li>{% endif %}
                    {% if manquants %}<li>Fichiers manquants</li>{% endif %}
                </ul>
            </div>
        {% endif %}
            <ul class="nav nav-pills">
                <li class="nav-item"><button class="nav-link link_onglet active"  data-bs-target="#authorization" data-bs-toggle="pill">
                    <i class="suivi"></i> Suivi de l'instruction</button></li>
                <li class="nav-item"><button class="nav-link link_onglet"  data-bs-target="#event" data-bs-toggle="pill">
                    <i class="detail"></i> Détail de la manifestation</button></li>
                {% include 'evenements/panneaux/onglets.html' with object=object.manif %}
            </ul>
        </div>
        <div class="col-sm-8" id="panneau_gauche">
            <div class="tab-content">
                <div id="authorization" class="card tab-pane fade show active">
                    {% if object.manif|onglet_instruction:request %}

                        {% include 'evenements/panneaux/instructions.html' with manif=object.manif %}
                    {% endif %}
                    {% if instruction_avis %}
                        <div class="card-body">
                            {% if not object.etat == "demandée" and not object.etat == "distribuée" %}
                                <h1 class="mb-3">Avis de la Préfecture rendu</h1>
                                <ul id="avis_cdrs_rendu">
                                    {% if object.etat == "autorisée" %}
                                        <li>État : Favorable <i class="autorisee"></i></li>
                                    {% else %}
                                        <li>État: Défavorable <i class="interdite"></i></li>
                                    {% endif %}
                                    <li> Commentaires : {{ object.get_avis_prefecture.prescriptions }}</li>
                                    {% for doc in object.get_avis_prefecture.docs.all %}
                                        <li class="list-group-item" style="margin-bottom: 0">
                                            {% if doc.scan_antivirus %}
                                            <a href="{{ doc.fichier.url }}" target="_blank">{{ doc.fichier|basename }}</a>&nbsp;&nbsp;
                                            <span data-bs-toggle="tooltip" data-placement="auto" data-html="true" class="ms-2 badge bg-info"
                                                  title="<img src='{{ doc.fichier|thumbnail }}'>"><i class="afficher no-right-margin text-white"></i></span>
                                            {% else %}
                                            Traitement du fichier en cours...
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    <li class="list-group-item">
                                        <div class="btn btn-primary btn_doc" id="btn_{{ object.get_avis_prefecture.pk }}" style="margin-top: 1em; width: 100%;">Ajouter une pièce jointe</div>
                                        <div class="form_ajout_doc" id="form_ajout_doc{{ object.get_avis_prefecture.pk }}" style="display: none;">
                                            <form style="display: flex; flex-direction: column; margin-top:.5em;" action="{% url 'instructions:avis_prefecture_pj' pk=object.pk %}" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <p>Attention : vos pièces jointes ne doivent pas aller à l'encontre de l'avis rendu !</p>
                                                <input type="file" required name="fichier">
                                                <div><input type="submit"  class="btn btn-primary" style="margin-top:0.5em; width: 100%;" value="Envoyer"></div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            {% else %}
                                <div class="alert alert-info">Vous n'avez pas encore rendu votre avis à la préfécture de départ : {{ object.manif.instance.get_departement }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if acces_pref %}
                        <h3 class="text-center mb-3">Préfecture</h3>
                    {% endif %}
                    {% include 'instructions/access_detail.html' with acces_cat='Service préfectoral' %}
                    {% if object.get_tous_avis or sans_avis_fede %}
                        <h2 class="alert alert-dark">Liste des avis demandés <i class="ctx-help-tb_instructeur_avis"></i></h2>
                        <div class="text-end">
                            <span class="ctx-help-legende_icone_avis">Légende</span><i class="ctx-help-legende_icone_avis"></i>
                        </div>
                        {% if object.get_avis_cdsr %}
                            {% include 'structure/panneaux/presentationCDSR.html' with object=object.get_avis_cdsr presentation=object.get_avis_cdsr.presentation %}
                            <br>
                        {% endif %}
                        {% if sans_avis_fede %}
                            {% include 'evenements/blocs/sans_avis_fede.html' %}
                        {% endif %}
                    {% else %}
                        Aucune demande d'avis envoyée.<br><br><br>
                    {% endif %}

                    <div id="accordion">
                        {% for categorie in service_categories %}
                            <h3 class="text-center mb-3">{{ categorie }}</h3>
                            {% for avi in object.get_tous_avis_sans_cdsr %}
                                {% if avi.get_categorie == categorie and avi == avi.get_last_avis %}
                                    {% include 'instructions/avis_description.html' with object=avi.get_last_avis %}
                                {% endif %}
                            {% endfor %}
                            {% include 'instructions/access_detail.html' with acces_cat=categorie %}
                        {% endfor %}
                        {% include 'instructions/blocs/modal_date.html' %}
                    </div>
                    {% if acces_struc %}
                        <h3 class="text-center mb-3">Organisateur</h3>
                    {% endif %}
                    {% include 'instructions/access_detail.html' with acces_cat='StructureOrganisatrice' %}
                </div>
                {% include 'evenements/panneaux/instructeur.html' with object=object.manif %}
            </div>
        </div>
        <div class="col-sm-4" id="panneau_droite">
            {% if not consult %}
                <div class="card border-danger liste-actions mb-3">
                    <div class="card-header bg-danger text-white">
                        <i class="action-requise-blanc"></i>Actions requises
                    </div>
                    <div class="card-body">
                        <p>Retrouvez ici toutes les actions requises pour cette manifestation</p>
                        <ul class="list-no-style">
                            {% if  assigner %}
                                <li>
                                <a href="#" id="a_assigner" role="button"><i class="instructeur"></i> Changer l'assignation</a>
                                <div id="a_assigner_div" style="display: none">
                                <a class="btn btn-primary" id="self_assigner" href="{% url 'instructions:assigner' pk=object.pk %}?type_dossier=instruction&pk_user={{ request.user.pk }}">Me l'assigner</a>
                                <a class="autre_assigner btn btn-secondary" id="requis_assigner" href="#">L'assigner à un autre</a>
                                <a class=" btn btn-danger" id="a_assigner_annule" href="#">Annuler</a>
                                <div id="requis_assigner_div" class="mt-2" style="display: none"></div>
                                </div>
                                </li>
                            {% endif %}
                                {% if not object.doc_verif %}
                                    <li>
                                        <a href="#piecejointe" data-trigger="tab" role="button">
                                            <i class="valider"></i> Valider les pièces jointes
                                        </a>
                                    </li>
                                {% endif %}
                                {% if object.etat == 'demandée' and object.manif.get_cerfa.consultServices != 0 %}
                                    <li>
                                        <a href="#" class="btn-modal-demande-avis" role="button">
                                            <i class="avis"></i> Envoyer une demande d'avis
                                        </a> <i class="ctx-help-aide_envoyer_demande_avis"></i>
                                    </li>
                                    <li>
                                        <a href="#" id="btn-envoyer-avis-communes" role="button">
                                            <i class="fa-solid fa-grid-2-plus fa-fw" style="color: purple"></i> Envoyer une demande d'avis aux communes traversées
                                            <i class="ctx-help-aide_envoyer_demande_avis_mairies"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if not instruction_avis %}
                                    <li>
                                        <a href="{% url 'instructions:instruction_publish' pk=object.id %}"  role="button">
                                            <i class="arrete"></i> Ajouter un document officiel
                                        </a>
                                    </li>
                                {% elif instruction.etat == "demandée" or instruction.etat == "distribuée" %}
                                    <a href="{% url 'instructions:avis_prefecture' pk=object.id %}" role="button">
                                        <i class="avis"></i> Rendre l'avis
                                    </a>
                                {% endif %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if consult %}
            <!-- BOF Accès en lecture seul -->
                {% include 'evenements/blocs/acces_lecture_seule.html' %}
            <!-- EOF Accès en lecture seul -->
            {% else %}
            <div class="card liste-actions mb-3">
                <div class="card-header bg-primary">
                    <i class="action"></i> Actions disponibles
                </div>
                <div class="card-body">

                        <p>Retrouvez ici toutes les actions disponibles liées à cette manifestation</p>
                        <ul class="list-no-style">
                            {# Option cachée : l'organisateur n'a pas la possibilité de remplir l'évaluation après envoi #}
                            {% if not object.manif.n2kevaluation %}
                                <li>
                                    <a href="#" class="formeval" role="button">
                                        <i class="ajouter"></i> Demander une évaluation Natura2000
                                    </a>
                                </li>
                            {% endif %}
                            {% if object.manif.get_cerfa.consultServices != 0 %}
                                {% if object.etat == 'distribuée' or object.etat == 'interdite' %}
                                    <li>
                                        <a href="#" class="btn-modal-demande-avis" role="button">
                                            <i class="avis"></i> Envoyer une demande d'avis
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" id="btn-envoyer-avis-communes" role="button">
                                            <i class="fa-solid fa-grid-2-plus fa-fw" style="color: purple"></i> Envoyer une demande d'avis aux communes traversées
                                            <i class="ctx-help-aide_envoyer_demande_avis_mairies"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if presenter_cdsr %}
                                    <li>
                                        <a href="{% url 'instructions:ajouter_cdsr_ajax' pk=object.pk %}?array_id[]={{ cdsr.pk }}" class="btn-modal-demande-cdsr" role="button">
                                            <i class="cdsr"></i> Présenter en CDSR
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            <li>
                                <a href="#" class="formconsult_btn" role="button">
                                    <i class="consulter"></i> Octroyer un accès en lecture
                                </a>  <i class="ctx-help-aide_octroyer_acces_consultation"></i>
                            </li>
                            <p style="display: none; margin-top:0.5em;" id="consult_div">
                                <button class="btn btn-secondary formconsult" id="simple" data-bs-target="#demandeAvisModal"><i class="detail"></i>Dossier organisateur uniquement</button><br>
                                <button class="btn btn-secondary formconsult mt-2" id="complet" data-bs-target="#demandeAvisModal"><i class="detail"></i>+&nbsp;&nbsp;<i class="avis"></i>Dossier avec avis</button>
                            </p>
                            {% if object.manif.get_cerfa.consultServices != 0 %}
                                {% if object.etat == 'distribuée' or object.etat == 'interdite' %}
                                    {% if not get_nb_avis_non_rendus %}
                                        <li>
                                            <a id="relance_avis_btn" href="#" class="" role="button">
                                                <i class="envoyer"></i> Relancer les demandes d'avis non reçues
                                            </a>
                                            <i class="ctx-help-aide_relance_avis"></i>
                                        </li>
                                        <p style="display: none; margin-top:0.5em;" id="relance_avis_div">
                                            <a href="{% url 'instructions:relance_avis'  pk=object.pk %}"><button style="width: 150px" class="btn btn-success" ><i class="btn-ok"></i></button></a>
                                            <button style="width: 150px" class="btn btn-danger" id="relance_avis_annul"><i class="btn-pas-ok"></i></button>
                                        </p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if object.referent and object.referent == request.user%}
                                <li>
                                    <a href="#" id="a_assigner" role="button"><i class="instructeur"></i> Changer l'assignation</a>
                                    <div id="a_assigner_div" style="display: none">
                                        <a class="autre_assigner btn btn-secondary" id="refaire_assigner" href="#">Assigner ce dossier à un autre utilisateur</a>
                                        <a class=" btn btn-danger" id="a_assigner_annule" href="#">Annuler</a>
                                        <div id="refaire_assigner_div" class="mt-2"></div>
                                    </div>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'evenements:manifestation_instructeur' pk=object.manif.id %}"  role="button">
                                    <i class="date"></i> Modifier l'affichage dans le calendrier public
                                </a>
                            </li>
                            <li><a href="#" id="divexport" role="button"><i class="telecharger"></i> Exporter cette manifestation</a></li>
                            <div id="divexport_content" style="display: none;">
                                <li class="ms-4">Rappel : votre responsabilité est engagée en cas de divulgation d'informations (notamment des données personnelles).
                                    <i class="ctx-help-msg_export"></i></li>
                                <li class="ms-4"><a class="export_lien" href="{% url 'evenements:export_manif_instructeur' pk=object.manif.pk %}?zip=1" role="button"><i class="archive"></i>Exporter en archive ZIP (recommandé)</a></li>
                                <li class="ms-4"><a class="export_lien" href="{% url 'evenements:export_manif_instructeur' pk=object.manif.pk %}?avis=1&zip=1" role="button"><i class="archive"></i>Exporter en archive ZIP <strong>avec les avis</strong></a></li>
                                <li class="ms-4"><a class="export_lien" href="{% url 'evenements:export_manif_instructeur' pk=object.manif.pk %}" role="button"><i class="pdf"></i>Exporter en fichier PDF</a></li>
                                <li class="ms-4"><a class="export_lien" href="{% url 'evenements:export_manif_instructeur' pk=object.manif.pk %}?avis=1" role="button"><i class="pdf"></i>Exporter en fichier PDF <strong>avec les avis</strong></a></li>
                                <li id="export_lien_attente" class="ms-4" style="display: none">Votre fichier est en cours de préparation.<br> Vous serez informé avec une <i>Information de suivi</i> dans votre messagerie dès qu'il sera prêt.</li>
                            </div>
                        </ul>

                </div>
            </div>
            {% endif %}
            <div id="demandeeval" class="card d-none mb-3">
                <div class="card-header bg-primary">
                    Demander une évaluation Natura2000
                </div>
                <div id="demandeeval_content" class="card-body"></div>
            </div>
            {% if service.is_mairie %}
                <a href="{% url 'instructions:tableaudebord' %}?filtre_specifique=instructionmairie" class="btn btn-outline-secondary btn-fill" role="button">
                    <i class="retour"></i> Revenir au tableau de bord
                    <i class="tableau-de-bord left-margin"></i></a>
            {% elif service.is_service_instructeur %}
                <a href="{% url 'instructions:tableaudebord' %}?filtre_specifique=instructionmairie" class="btn btn-outline-secondary btn-fill mb-3" role="button">
                    <i class="retour"></i> Tableau de bord des instructions en mairie
                    <i class="tableau-de-bord left-margin"></i></a>
                <a href="{% url 'instructions:tableaudebord' %}" class="btn btn-outline-secondary btn-fill" role="button">
                    <i class="retour"></i> Revenir au tableau de bord
                    <i class="tableau-de-bord left-margin"></i></a>
            {% else %}
                <a href="#" class="btn btn-outline-secondary btn-fill" role="button">
                    <i class="retour"></i> Inactif
                    <i class="tableau-de-bord left-margin"></i></a>
            {% endif %}
        </div>
    </div>

    <!--AJAX date limite--->
     <script src='{% static "instructions/date_limite.js" %}' type="text/javascript"></script>

    <!--Modal--->
    {% include "structure/modal_selecteur_de_service.html" with categories=categories instances=instances%}

    <script>
        var ajout = ""
        var categories = []
        var url_list = "{% url 'structure:service_list' %}"
        var url_agent = "{% url 'structure:agent_list' %}"
        var url_action = "{% url "instructions:ajouter_avis_ajax" pk=object.id %}"
        var url_categorie = "{% url 'structure:categorie_list' %}"
        var action = "demande_avis"
        var object_id = "{{ object.id }}"
        {% if object.get_avis_cdsr and object.get_avis_cdsr.presentation.pk %}
            url_set_date_cdsr = "{% url 'structure:presentationcdsr_set_date' pk=object.get_avis_cdsr.presentation.pk %}";
            url_invite_cdsr = "{% url 'structure:ajouter_invite_ajax' pk=object.get_avis_cdsr.presentation.pk %}";
        {% endif %}
        var secteur = "instance_{{ object.instance.id }}"
        var secteur_initial = secteur
        var modal_title = "Envoyer une demande d'avis"
        var avertissement = "Aucun résultat trouvé avec les filtres sélectionnés. (Les services et mairies ayant déjà " +
            "fait l'objet d'une demande d'avis n'apparaissent pas dans cette liste)"
        var show_old = true
        var selecteur_multiple = false
        var selecteur_radio = false
        var show_agent = false
        var show_sous_service = false
    </script>

    <script src="{% static 'portail/js/ajax-init-crsf.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.select_reunion').chosen('destroy');
            $('body').on('click', '.cdsr', function (e){
                $('h3.text-center').toggle();
                $('div.card.bg-light').each(function () {
                    if ($(this).find("i.cdsr").length < 1) {
                        $(this).toggle();
                    };
                });
            });
            $(document).on('click', '.delete-member-cdsr', function(){
                $('.tooltip').tooltip("hide");
                $(this).addClass('d-none');
                $(this).siblings('span').removeClass('d-none');
                AfficherIcones()
            })
            $(document).on('click', '.dismis-delete', function(){
                $('.tooltip').tooltip("hide");
                $(this).parent().addClass('d-none');
                $(this).parent().siblings('i').removeClass('d-none');
                AfficherIcones()
            })
            // Retire une organisation invitée à une présentation cdsr
            $(document).on('click', '.valide-delete-member-cdsr', function(){
                $.get({
                    url: $(this).attr('data-url'),
                    data:{'membre_id': $(this).attr('id')}
                });
                $(this).closest('li').remove();
                $('.tooltip').tooltip("hide");
            })
            $('.annulation').click(function (e) {
                e.preventDefault();
                $('.annulation').hide();
                $('.confirmer_annulation').show();
            });
            $('.annulation_cdsr').click(function (e) {
                e.preventDefault();
                $('.annulation_cdsr').hide();
                $('.confirmer_annulation_cdsr').show();
            });
            $('.card-header').click(function (e) {
                $('.annulation').show();
                $('.confirmer_annulation').hide();
                $('.annulation_cdsr').show();
                $('.confirmer_annulation_cdsr').hide();
            })

            $('ul:empty').hide()
            $('.card-item:empty').hide()

            // Permet de changer d'onglet en dehors de <ul> nav-tabs
            $( '[data-trigger="tab"]' ).click( function( e ) {
                var href = $( this ).attr( 'href' );
                e.preventDefault();
                $('.nav-link[data-bs-target="'+href+'"]').click()
            } );

            $('.formeval').on('click', function (event) {
                event.preventDefault();
                if ($('#demandeeval_content').html() != "") {
                    $('#demandeeval_content').empty();
                    $('#demandeeval').addClass("d-none");
                } else {
                    // Charger le formulaire des demandes d'avis
                    $('#demandeeval_content').html("Chargement ... <i class=\"far fa-spinner fa-spin\">");
                    $('#demandeeval').removeClass("d-none").slideDown("slow");
                    $.get( "{% url 'evaluation_incidence:ajaxn2keval_add' manif_pk=object.manif.id %}", function (data) {
                        $('#demandeeval_content').html(data);
                    });
                }
            });

            $('.formconsult_btn').on('click', function (e) {
                e.preventDefault();
                $('#consult_div').toggle('slow');
            });

        {% if object.get_avis_cdsr %}
            $('#reunion').on('change', function () {
                let pk = $(this).val();
                let parametres = window.location.search;
                $('#select-date-result').html("").hide();
                if (pk !== "") {
                    if (parametres.indexOf('?') !== -1) {
                        parametres += "&reunion=" + pk;
                    } else {
                        parametres += "?reunion=" + pk;
                    }
                    $.get(url_set_date_cdsr+parametres)
                        .done(function () {
                            window.location.reload();
                        })
                        .fail(function (response) {
                            $('#select-date-result').html(response.responseText).show();
                        });
                }
            });

            $('.btn-modal-presentation-cdsr').click(function (e){
                show_sous_service = false
                url_action = url_invite_cdsr
                action = "ajouter_invite"
                modal_title = "Inviter un service à la présentation"
                selecteur_multiple = false
                $("#modal-title-selecteur").text("Inviter un service à la présentation")
                $('#select-instances-modal').val('{{ object.instance.pk }}').change()
                $('#modal-instance-selecteur').addClass('d-none')
                $("#modal-categorie-selecteur").removeClass('d-none')
                $('#demandeAvisModal').modal('show');
            })
        {% endif %}

            $('.btn-modal-demande-avis').click(function (e){
                show_sous_service = false
                url_action = "{% url "instructions:ajouter_avis_ajax" pk=object.id %}"
                action = "demande_avis"
                modal_title = "Envoyer une demande d'avis"
                selecteur_multiple = false
                $("#modal-title-selecteur").text("Envoyer une demande d'avis")
                $('#select-instances-modal').val('{{ object.instance.pk }}').change()
                $('#modal-instance-selecteur').addClass('d-none')
                $("#modal-categorie-selecteur").removeClass('d-none')
                $('#demandeAvisModal').modal('show');
            })

            $('.formconsult').on('click', function (event) {
                ajout = $(this).attr('id');
                modal_title = "Sélectionner le service qui pourra consulter le dossier"
                show_sous_service = false
                url_action = "{% url "instructions:acces_create" pk=object.id %}"
                action = "consultation"
                selecteur_multiple = false
                $("#modal-title-selecteur").text("Sélectionner le service qui pourra consulter le dossier")
                $('#consult_div').toggle('slow');
                $("#modal-categorie-selecteur").addClass('d-none')
                $('#modal-instance-selecteur').removeClass('d-none')
                $('#demandeAvisModal').modal('show');
            });

            $('#demandeAvisModal').on('hidden.bs.modal', function () {
                $('#service-liste').empty()
                $('.selected').removeClass('selected')
                $("#no-result").addClass('d-none')
                $("#service-search").addClass('d-none')
                $("#send_multiple").unbind()
                $('.btn-action-selecteur').unbind()
                $('.categorie').unbind()
                $('#select-instances-modal').chosen('destroy');
                $('#select-instances-modal').prop("selectedIndex", -1);
                $('#select-instances-modal').chosen({placeholder_text_single: "Sélectionnez un département",});
            })

            $('.bt-transf-pj-vers-doc-officiel').on('click', function (evt) {
                evt.preventDefault();
                let id_pj = $(this).attr('id');
                var div_remplir='#form-transf-pj-vers-doc-officiel'+id_pj;
                if ($(div_remplir).html() != "") {
                    $(div_remplir).empty();
                }
                else {
                    $.get("{% url 'instructions:instruction_transfert_pj_vers_doc_officiel' pk=object.id %}?pj="+id_pj, function (data) {
                        $(div_remplir).html(data);
                        AfficherIcones();
                    })
                }
            })

            // On bind l'événement click sur body venant de la partie concernée
            // Cette syntaxe permet de lier un événement sur une partie non visible au chargement de la page
            var text_wait = "<div class=\"alert alert-warning m-3\"><i class=\"far fa-spinner fa-spin\"></i>Recherche des informations en cours. Veuillez patienter...</div>";

            // Envoi de la demande d'évalualtion
            $('body').on('submit', '#demandereval', function(event){
                event.preventDefault();
                $('#demandereval').after( "<div class=\"alert alert-info\" role=\"alert\"><i class=\"far fa-spinner fa-spin\"></i> Demande en cours d'envoi. Veuillez patienter...</div>" );
                // Récupérer les données du formulaire
                var donnees = $('#demandereval').serialize();
                $.post("{% url 'evaluation_incidence:ajaxn2keval_add' manif_pk=object.manif.id %}", donnees).done(function (data) {
                    window.location.reload(true);
                });
            });

            $('#divexport').on('click', function (e) {
                e.preventDefault();
                $('#divexport_content').toggle("slow");
            });

            $('#relance_avis_btn').on('click', function (e) {
                e.preventDefault();
                $('#relance_avis_div').fadeIn();
            });
            $('#relance_avis_annul').on('click', function (e) {
                e.preventDefault();
                $('#relance_avis_div').fadeOut();
            });

            //blocage des liens
            var export_lien_disabled = false
            $('.export_lien').click(function (e) {
                e.preventDefault()
                if (export_lien_disabled){
                }
                else {
                    export_lien_disabled = true
                    $('#export_lien_attente').show()
                    $.get($(this).attr('href'), function (e){})
                    setTimeout(function () {
                        export_lien_disabled = false
                        $('#export_lien_attente').hide()
                    }, 20000)
                }
            })

            // Envoie une demande d'avis à toutes les communes traversées de son département
            $("#btn-envoyer-avis-communes").click(function (){
                 $.get({
                    url: '{% url "instructions:ajouter_avis_ajax" pk=object.id %}',
                    data: {
                        'all_mairies': true
                    },
                    success :
                        function (reponse){
                           console.log(reponse)
                           window.location.reload()
                        }
                })
            })
        });

        $('#a_assigner').on('click', function(e) {
          e.preventDefault()
          $('#a_assigner_div').fadeIn()
          $('#a_assigner').fadeOut()
        })
        $('#a_assigner_annule').on('click', function(e){
            e.preventDefault()
          $('#a_assigner_div').fadeOut()
          $('#a_assigner').fadeIn()
        })

        $('body').on('click', '#self_assigner', function (e){
            e.preventDefault()
            $.post($(this).attr('href'), {}, function (e){
                window.location.reload()
            })
        })
        $('body').on('click', '.autre_assigner', async function (e){
            e.preventDefault()
            let id = $(this).attr('id')
            let data = await $.get("{% url 'instructions:assigner' pk=object.pk %}?type_dossier=instruction")
            data = JSON.parse(data)
            let html = `<select id="assigner_select" class="chosen-select">`
            for (let i=0; i<data.length; i++){
                html += `<option value="${data[i][0]}">${data[i][2]} - ${data[i][1]}</option>`
            }
            html += `</select><input class="btn btn-primary mt-1" type="submit" value="Assigner" id="assigner_submit">`
            $(`#${id}_div`).html(html)
            $('#assigner_select').chosen({width: '100%'})
            $('#requis_assigner_div').fadeIn()
        })
        $('body').on('click', '#assigner_submit', function (e){
            e.preventDefault()
            let val = $('#assigner_select').val()
            $.post(`{% url 'instructions:assigner' pk=object.pk %}?type_dossier=instruction&pk_user=${val}`, {}, function(e){
                window.location.reload()
            })
        })

        // Affichage du formulaire d'ajout de pièce jointe
        $('.btn_doc').click(function (e) {
            let id='#form_ajout_doc'+$(this).attr('id').split('_')[1];
            $(id).fadeIn();
            $(e.target).fadeOut();
        });

        // Marquer les champs à modifier
        let liste_champ = '{{ champ|safe }}';
        liste_champ = liste_champ ? JSON.parse(liste_champ) : [];
        let liste_champ_form = [];
        let liste_champ_champ = [];
        let liste_champ_date = [];
        liste_champ.forEach(arr => {
            liste_champ_form.push(arr[0]);
            liste_champ_champ.push(arr[1]);
            liste_champ_date.push(arr[2]);
        });
        $('.champ').each(function () {
            if (liste_champ_champ.indexOf($(this).attr('id')) >= 0 && $(this).hasClass(liste_champ_form[liste_champ_champ.indexOf($(this).attr('id'))])) {
                let date = liste_champ_date[liste_champ_champ.indexOf($(this).attr('id'))]
                $(this).addClass('bg-warning gx-3 py-2');
                $(this).children('.valeur').append('<span class="float-end verrouille" style="display:none;"><i class="fas fa-lock-alt"></i></span>');
                $(this).find('.verrouille').css("cursor", "pointer").attr({
                    'data-bs-toggle': 'tooltip',
                    'data-bs-original-title': 'Cliquez pour verrouiller ce champ et annuler la demande de modification'
                });
                $(this).attr({
                    'data-bs-toggle': 'tooltip',
                    'data-bs-original-title': '<i class="fas fa-lock-open-alt"></i>Modification demandée le ' + date.slice(0, 10)
                });
            } else {
                $(this).children('.valeur').append('<span class="float-end deverrouille" style="display:none;"><i class="fas fa-lock-open-alt"></i></span>');
                $(this).find('.deverrouille').css("cursor", "pointer").attr({
                    'data-bs-toggle': 'tooltip',
                    'data-bs-original-title': 'Cliquez pour débloquer l\'édition de ce champ et demander sa modification par l\'organisateur'
                });
            }
        });
        // Afficher le cadenas au survol
        $('body').on('mouseover', '.champ', function () {
            $(this).find('span[class$=verrouille]').show('fast');
        });
        $('body').on('mouseleave', '.champ', function () {
            $(this).find('span[class$=verrouille]').hide('fast');
        });

        // Demande de modification de champ
        $('body').on('click', 'span[class$=verrouille]', function () {
            let div_champ = $(this).parents('.champ')
            let div_valeur = $(this).parent('.valeur')
            let div_libelle = div_valeur.siblings('.libelle')
            let champ = div_champ.attr('id');
            let libelle = div_libelle.text()
            if(!div_libelle.length){
                libelle = "Nom de la manifestation"
            }
            let data = 'champ=' + champ;
            if (div_champ.hasClass('n2k')) {
                data += '&form=champ_n2k';
            }
            if (div_champ.hasClass('rnr')) {
                data += '&form=champ_rnr';
            }
            $(this).tooltip('dispose');
            if ($(this).hasClass('verrouille')) {
                let ok = confirm('Annuler la demande et bloquer le champ suivant.\n\n' + libelle);
                if (ok == true) {
                    data += '&annule=1';
                    div_champ.removeClass('bg-warning gx-3 py-2');
                    div_valeur.find('span').remove();
                    div_champ.tooltip('dispose');
                    div_valeur.append('<span class="float-end deverrouille" style="display:none;"><i class="fas fa-lock-open-alt"></i></span>');
                    div_valeur.find('.deverrouille').css("cursor", "pointer").attr({
                        'data-bs-toggle': 'tooltip',
                        'data-bs-original-title': 'Cliquez pour débloquer l\'édition de ce champ et demander sa modification par l\'organisateur'
                    });
                    $('span[data-bs-toggle="tooltip"]').tooltip();
                    $.ajax({
                        url: "/evenement/" + {{ object.manif.pk }} +"/modification/",
                        type: 'GET',
                        data: data,
                        dataType: 'html'
                    });
                }
            } else {
                let ok = confirm('Demander la modification du champ suivant.\n\n' + libelle);
                if (ok == true) {
                    div_champ.addClass('bg-warning gx-3 py-2');
                    div_champ.attr({
                        'data-bs-toggle': 'tooltip',
                        'data-bs-original-title': '<i class="fas fa-lock-open-alt"></i>Modification demandée aujourd\'hui'
                    });
                    AfficherIcones();
                    div_champ.tooltip();
                    div_valeur.find('span').remove();
                    div_valeur.append('<span class="float-end verrouille"><i class="fas fa-lock-alt"></i></span>');
                    div_valeur.find('.verrouille').css("cursor", "pointer").attr({
                        'data-bs-toggle': 'tooltip',
                        'data-bs-original-title': 'Cliquez pour verrouiller ce champ et annuler la demande de modification'
                    });
                    $('span[data-bs-toggle="tooltip"]').tooltip();
                    $.ajax({
                        url: "/evenement/" + {{ object.manif.pk }} +"/modification/",
                        type: 'GET',
                        data: data,
                        dataType: 'html'
                    });
                }
            }
        });

    </script>

{% endblock %}
