{% extends "base.html" %}

{% load i18n file_tags instruction_tags %}

{% block head_title %}{% endblock %}

{% block resume %}
    {% include 'evenements/blocs/bandeau_resume.html' with manif=object.avis.instruction.manif %}

    {% ifequal object.etat 'demandé' %}
        <br>
        {% include 'evenements/blocs/bandeau_delai_avis.html' with avis=object.avis %}
    {% endifequal %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="tab-list col-sm-12">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active link_onglet" href="#subagreement" data-toggle="pill">
                    <i class="preavis"></i>Pré-avis</a></li>
                <li class="nav-item"><a class="nav-link" href="#event" data-toggle="pill">
                    <i class="dossier"></i> Détail de la manifestation</a></li>
                {% include 'evenements/panneaux/onglets.html' with object=object.avis.instruction.manif %}
            </ul>
        </div>
        <div class="col-sm-8" id="panneau_gauche">
            <div class="tab-content">
                <div id="subagreement" class="tab-pane fade show active">
                    <ul class="list-group mb-3">
                        <li class="list-group-item">Date de création du dossier : {{ object.avis.instruction.manif.date_creation }}</li>
                        <li class="list-group-item">Date d'envoi de la demande d'autorisation : {{ object.avis.instruction.date_creation }}</li>
                        <li class="list-group-item">Date de demande du pré-avis : {{ object.date_demande }}</li>
                        {% if object.etat == 'notifié' and object.agentlocal %}
                            <li class="list-group-item">La (ou les) notification(s) ont été envoyée(s){% if object.content_type.name == "CGD" %} aux brigades{% endif %}</li>
                        {% endif %}
                        {% if object.etat == 'rendu' %}
                            <li class="list-group-item">Date de rendu du pré-avis : {{ object.date_reponse|default_if_none:"Pas encore rendu" }}</li>
                            <li class="list-group-item">Favorable : {{ object.favorable|yesno|title }}</li>
                            <li class="list-group-item">Contenu du pré-avis: {{ object.prescriptions|linebreaks }}</li>
                        {% endif %}
                        <div class="mt-2 mb-2">Pièces jointes :</div>
                        {% if not object.docs.all %}
                            {% if object.etat == 'rendu' %}
                                <li class="list-group-item">Aucune</li>
                            {% else %}
                                <li class="list-group-item">Vous pourrez ajouter une ou plusieurs pièces jointes une fois le préavis rendu</li>
                            {% endif %}
                        {% endif %}
                        {% for doc in object.docs.all %}
                            <li class="list-group-item">
                                <a href="{{ doc.fichier.url }}" target="_blank">{{ doc.fichier|basename }}</a>
                            </li>
                        {% endfor %}
                        {% if object.etat == 'rendu' %}
                            <li class="list-group-item">
                                <div class="btn btn-primary btn_doc" id="btn_{{ object.pk }}" style="margin-top: 1em; width: 100%;">Ajouter une pièce jointe</div>
                                <div class="form_ajout_doc" id="form_ajout_doc{{ object.pk }}" style="display: none;">
                                    <form style="display: flex; flex-direction: column; margin-top:.5em;" action="{% url 'instructions:preavis_ajout_fichier' pk=object.pk %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <p>Attention : vos pièces jointes ne doivent pas aller à l'encontre du préavis rendu !</p>
                                        <input type="file" required name="fichier">
                                        <div><input type="submit"  class="btn btn-primary" style="margin-top:0.5em; width: 100%;" value="Envoyer"></div>
                                    </form>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {% include 'evenements/panneaux/instructeur.html' with object=object.avis.instruction.manif %}
            </div>
        </div>
        <div class="col-sm-4" id="panneau_droite">
            <div class="card border-danger liste-actions mb-3 side">
                <div class="card-header bg-danger text-white">
                    <i class="action-requise-blanc"></i> Actions requises
                </div>
                <div class="card-body">
                    <p>Actions requises relatives à cette manifestation :</p>
                    <hr>
                    <ul class="list-no-style">
                        <li>
                            {% if rendre_preavis %}
                                <a href="{% url 'instructions:preavis_acknowledge' pk=object.id %}" role="button">
                                    <i class="preavis"></i> Rendre le pré-avis
                                </a>
                            {% endif %}
                            {% if informer_brigades %}
                                <a href="{% url 'instructions:notifier_brigades' pk=object.id %}" role="button">
                                    <i class="envoyer"></i> Informer les brigades concernées
                                </a>
                            {% endif %}
                            {% if informer_cis %}
                                <a href="{% url 'instructions:notifier_cis' pk=object.id %}" role="button">
                                    <i class="envoyer"></i> Informer les CIS concernés
                                </a>
                            {% endif %}
                            {% if depasse %}
                                Manifestation passée, aucune action nécessaire
                            {% elif rendu_message %}
                                Pré-avis rendu, aucune action nécessaire
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card liste-actions mb-3">
                <div class="card-header bg-primary">
                    <i class="action"></i> Actions disponibles
                </div>
                <div class="card-body">
                    <ul class="list-no-style">
                        <li><a href="#" id="divexport" role="button"><i class="telecharger"></i>Exporter cette manifestation</a></li>
                        <div id="divexport_content" style="display: none;">
                            <li class="ml-4">Rappel : votre responsabilité est engagée en cas de divulgation d'informations (notamment des données personnelles).
                            <i class="ctx-help-msg_export"></i></li>
                            <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_agentlocal' pk=object.pk %}" role="button"><i class="pdf"></i>Exporter en fichier PDF</a></li>
                            <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_agentlocal' pk=object.pk %}?avis=1" role="button"><i class="pdf"></i>Exporter en fichier PDF <strong>avec préavis</strong></a></li>
                            <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_agentlocal' pk=object.pk %}?zip=1" role="button"><i class="archive"></i>Exporter en archive ZIP </a></li>
                            <li class="ml-4"><a class="export_lien" href="{% url 'evenements:export_manif_agentlocal' pk=object.pk %}?avis=1&zip=1" role="button"><i class="archive"></i>Exporter en archive ZIP <strong>avec préavis</strong></a></li>
                            <li id="export_lien_attente" class="ml-4" style="display: none"><i class="spinner"></i>Veuillez patientez, la plateforme est en train de créer votre fichier</li>
                        </div>
                    </ul>
                </div>
            </div>

            <a href="{% url 'instructions:tableaudebord' %}" class="btn btn-outline-secondary btn-fill" role="button">
                <i class="retour"></i> Revenir au tableau de bord <i class="tableau-de-bord left-margin"></i>
            </a>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            // Changer la couleur de la carte "Actions requises" si pas d'actions
            if($('.card.side .card-body').text().match('aucune action nécessaire')) {
                $('.card.side .card-header').removeClass('bd-danger').addClass('bg-primary');
                $('.card.side').removeClass('border-danger');
            }

            // On bind l'événement click sur body venant de la partie concernée
            // Cette syntaxe permet de lier un événement sur une partie non visible au chargement de la page
            var text_wait = "<div class=\"alert alert-warning m-3\"><i class=\"far fa-spinner fa-spin\"></i>Recherche des informations en cours. Veuillez patienter...</div>";

            // Chargement de l'historique actions
            $('body').on('click', '#headinghisto1', function (event) {
                event.preventDefault();
                var cont_action = $.trim($('.histo-actions').text());
                if (cont_action == "") {
                    $('.histo-actions').html(text_wait).slideDown("fast");
                    $.get( "{% url 'notifications:actions_list' pk=object.avis.instruction.manif.id path='preavis' pko=object.id %}", function (data) {
                        $('.histo-actions').html(data);
                    });
                }
            });
            // Chargement de l'historique notifications
            $('body').on('click', '#headinghisto2', function (event) {
                event.preventDefault();
                var cont_notif = $.trim($('.histo-notifications').text());
                if (cont_notif == "") {
                    $('.histo-notifications').html(text_wait).slideDown("fast");
                    $.get( "{% url 'notifications:notifications_list' pk=object.avis.instruction.manif.id path='preavis' pko=object.id %}", function (data) {
                        $('.histo-notifications').html(data);
                    });
                }
            });
            $('#divexport').on('click', function (e) {
                e.preventDefault();
                $('#divexport_content').toggle("slow");
            });

            // Affichage du formulaire d'ajout de fichier
            $('.btn_doc').click(function (e) {
                let id='#form_ajout_doc'+$(this).attr('id').split('_')[1];
                $(e.target).hide();
                $(id).fadeIn();
            });
            // blocage des liens
            var export_lien_disabled = false
            $('.export_lien').click(function (e) {
                if (export_lien_disabled){
                    e.preventDefault();
                }
                else {
                    export_lien_disabled = true
                    $('#export_lien_attente').show()
                    setTimeout(function () {
                        export_lien_disabled = false
                        $('#export_lien_attente').hide()
                    }, 20000)
                }
            })
        });
    </script>
{% endblock %}
