{% extends "base_form.html" %}

{% load i18n %}

{% block head_title %}
    {% if avis and is_preavis %}
        Réinitialisation du préavis
    {% elif is_preavis %}
        Nouvelle demande de préavis
    {% elif avis %}
        Réinitialisation de l'avis
    {% else %}
        Nouvelle demande d'avis
    {% endif %}
{% endblock %}

{% block page_title %}
    <h1>
        {% if avis and is_preavis %}
            <i class="preavis"></i> Réinitialisation du préavis
        {% elif is_preavis %}
            <i class="preavis"></i> Nouvelle demande de préavis
        {% elif avis %}
            <i class="avis"></i> Réinitialisation de l'avis
        {% else %}
            <i class="avis"></i> Nouvelle demande d'avis
        {% endif %}
        : {{ manif|capfirst }}
    </h1>
{% endblock %}

{% block content %}
    <form method="post">
        <input type="hidden" name="avis_pk" value="{{ avis_pk }}">
        {% csrf_token %}
        <p>Donner la raison
             {% if avis and is_preavis %}
                 pour laquelle vous souhaitez rendre un nouveau préavis
            {%  elif is_preavis %}
                pour laquelle vous souhaitez reconsulter ce service interne
            {% elif avis %}
                pour laquelle vous souhaitez rendre un nouvel avis
            {% else %}
                pour laquelle vous souhaitez reconsulter ce service
            {% endif %} : <br>
            (Nb : la raison ci-dessous n'est pas le contenu du nouvel avis)</p>
        <textarea name="raison" class="textarea form-control" cols="30" rows="10" required maxlength="450"></textarea>
        <input type="submit" class="btn btn-primary mt-3" value="Envoyer">
    </form>
{% endblock %}
