{% extends "base.html" %}

{# load url from future #}
{% load i18n pluralizero static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/css/jquery.dataTables.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/datetime-moment.js' %}"></script>
{% endblock %}

{% block head_title %}
    Tableau de bord : {{ service.nom_s }}
{% endblock %}

{% block page_title %}
    <h1>
        {% if instruction_mairie %}    {# instructeur mairie   (filtre_specifique== 'instructionmairie')  #}
            {% if not archive %}
                <i class="tableau-de-bord"></i> Tableau de bord des instructions en mairie - {{ service }}
                {% if not service.is_mairie %}
                    <a href="{% url 'portail:stat' %}" class="float-end btn btn-primary btn-sm" style="margin-left: 15px;">
                        <i class="statistiques"></i></a>
                {% endif %}

            {% else %}
                <i class="tableau-de-bord"></i> Archives des instructions en mairie - {{ service }}
            {% endif %}
        {% elif service.is_service_instructeur %}   {# instructeur préfecture  #}
            {% if not archive %}
                <i class="tableau-de-bord"></i> Tableau de bord des instructions - {{ service }}
                <a href="{% url 'portail:stat' %}" class="float-end btn btn-primary btn-sm" style="margin-left: 15px;">
                    <i class="statistiques"></i>
                </a>
            {% else %}
                <i class="tableau-de-bord"></i> Archives des instructions - {{ service }}
            {% endif %}
        {% else %}   {# service consulté  #}
            {% if not archive %}
                <i class="tableau-de-bord"></i> Tableau de bord des consultations - {{ service }}
            {% else %}
                <i class="tableau-de-bord"></i> Archives des avis / préavis - {{ service }}
            {% endif %}
        {% endif %}
    </h1>
{% endblock %}

{% block content %}

    <div class="cadre bg-light">
        {% if request.user.is_agent_service_instructeur %}
            <div class="row mt-1 mb-2">
                <div class="col" style="border-right: 1px solid rgba(0,0,0,.125);">
                    <div class="d-flex justify-content-center"> Messagerie - Non lus :</div>
                    <div class="d-flex flex-wrap justify-content-center mb-2 mt-1 btn_msg_tbd">
                        {% if cpt.convocation > 0 %}
                <a class="btn-lg btn-outline-primary me-4"  href='{% url "messagerie:boite_principale" %}?cpt=convocation'><i class='far fa-calendar-star fa-sm msg_convocation'></i><span class="ms-2 me-2" style="font-weight: bold">{{ cpt.convocation }}</span> convocation{{ cpt.convocation| pluralizero }}</a>
            {% endif %}
            {% if cpt.action > 0 %}
                <a class="btn btn-outline-primary me-4" href='{% url "messagerie:boite_principale" %}?cpt=action'><i class='far fa-digging fa-sm msg_action'></i><span class="ms-2 me-2" style="font-weight: bold">{{  cpt.action }}</span> demande{{ cpt.action| pluralizero }} d'action</a>
            {% endif %}
            {% if cpt.info_suivi > 0 %}
                <a class="btn btn-outline-primary me-4" href='{% url "messagerie:boite_principale" %}?cpt=suivi'><i class='far fa-bell  fa-sm msg_suivi'></i><span class="ms-2 me-2" style="font-weight: bold">{{ cpt.info_suivi }}</span> information{{ cpt.info_suivi| pluralizero }} de suivi</a>
            {% endif %}
            {% if cpt.conversation > 0 %}
                <a class="btn btn-outline-primary me-4" href='{% url "messagerie:boite_principale" %}?cpt=conversation'><i class='far fa-comment-alt-smile fa-sm msg_conversation'></i><span class="ms-2 me-2" style="font-weight: bold">{{ cpt.conversation }}</span> conversation{{ cpt.conversation| pluralizero }}</a>
            {% endif %}
            {% if cpt.news > 0 %}
                <a class="btn btn-outline-primary me-4" href='{% url "messagerie:boite_principale" %}?cpt=nouveaute'><i class='far fa-bullhorn  fa-sm nouveaute'></i><span class="ms-2 me-2" style="font-weight: bold">{{ cpt.news }}</span> actualité{{ cpt.news| pluralizero }}</a>
            {% endif %}
            {% if cpt.forum > 0 %}
                <a class="btn btn-outline-primary me-4" href='{% url "messagerie:boite_principale" %}?cpt=forum'><i class='far fa-comments fa-sm msg_forum'></i><span class="ms-2 me-2" style="font-weight: bold">{{ cpt.forum }}</span> forum{{ cpt.forum| pluralizero }}</a>
            {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center"> Forum - Sujets ouverts :</div>
                    <div id="topic_open_forum" class="d-flex mb-2 mt-1 justify-content-center btn_msg_tbd" data-bs-toggle="tooltip" title="Sujet non clôturé dans votre département">
                    </div>
                </div>
            </div>
        {% else %}
            <div class="d-flex mb-4 mt-2 justify-content-center btn_msg_tbd">
                {% if cpt.convocation > 0 %}
                <a class="btn-lg btn-outline-primary me-4 p-3" href='{% url "messagerie:boite_principale" %}?cpt=convocation'><i class='far fa-calendar-star fa-sm msg_convocation'></i><span class="ms-2 me-2" style="font-weight: bold">{{ cpt.convocation }}</span> convocation{{ cpt.convocation| pluralizero }}</a>
            {% endif %}
            {% if cpt.action > 0 %}
                <a class="btn-lg btn-outline-primary me-4 p-3" href='{% url "messagerie:boite_principale" %}?cpt=action'><i class='far fa-digging fa-sm msg_action'></i><span class="ms-2 me-2" style="font-weight: bold">{{  cpt.action }}</span> demande{{ cpt.action| pluralizero }} d'action</a>
            {% endif %}
            {% if cpt.info_suivi > 0 %}
                <a class="btn-lg btn-outline-primary me-4 p-3" href='{% url "messagerie:boite_principale" %}?cpt=suivi'><i class='far fa-bell  fa-sm msg_suivi'></i><span class="ms-2 me-2" style="font-weight: bold">{{ cpt.info_suivi }}</span> information{{ cpt.info_suivi| pluralizero }} de suivi</a>
            {% endif %}
            {% if cpt.conversation > 0 %}
                <a class="btn-lg btn-outline-primary me-4 p-3" href='{% url "messagerie:boite_principale" %}?cpt=conversation'><i class='far fa-comment-alt-smile fa-sm msg_conversation'></i><span class="ms-2 me-2" style="font-weight: bold">{{ cpt.conversation }}</span> conversation{{ cpt.conversation| pluralizero }}</a>
            {% endif %}
            {% if cpt.news > 0 %}
                <a class="btn-lg btn-outline-primary me-4 p-3" href='{% url "messagerie:boite_principale" %}?cpt=nouveaute'><i class='far fa-bullhorn  fa-sm nouveaute'></i><span class="ms-2 me-2" style="font-weight: bold">{{ cpt.news }}</span> actualité{{ cpt.news| pluralizero }}</a>
            {% endif %}
            {% if cpt.forum > 0 %}
                <a class="btn-lg btn-outline-primary me-4 p-3" href='{% url "messagerie:boite_principale" %}?cpt=forum'><i class='far fa-comments fa-sm msg_forum'></i><span class="ms-2 me-2" style="font-weight: bold">{{ cpt.forum }}</span> forum{{ cpt.forum| pluralizero }}</a>
            {% endif %}
            </div>
        {% endif %}

        <div class="d-flex  mb-3 mt-2 justify-content-center align-items-center">
            {% if reunions %}
                <div class="align-middle me-2">Réunions CDSR : </div>
                {% for reunion in reunions %}
                    <a href="{% url 'structure:reunionCDSR_list' %}?reunion_id={{ reunion.pk }}"
                       class="btn btn-{{ reunion.color }} me-2" id="btn_reunion{{ reunion.pk }}" target="_blank"
                       data-bs-toggle="tooltip" data-bs-offset="0,10" title="Nombre de dossiers presentés">
                        {{ reunion }} <span class="badge bg-primary ms-1">{{ reunion.nb_dossier_i }}</span> </a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="d-flex  mb-1 mt-2 justify-content-center">
            {% if consultation %}
                <a style="display: none;" href="#" class="btn btn-outline-primary me-2" id="btn_consult" data-bs-toggle="tooltip" data-bs-offset="0,10"
                   title="Les dossiers pour lesquels un accès en lecture m'a été octroyé"><i class="consulter"></i> Lecture seule <span
                        class="badge bg-primary ms-1">{{ consultation }}</span> </a>
            {% endif %}
            <a style="display: none;" href="#" class="btn btn-outline-primary me-2" id="btn_autre_instru" data-bs-toggle="tooltip" data-bs-offset="0,10" title=""></a>

        </div>
    </div>


    <div class="d-flex justify-content-center pb-3">
        {% if archive %}
            <div class="col-12">
                Seléctionnez l'année à consulter :
                <select id="annee" style="width: 80px;">
                    <option value="" disabled {% if not annee %} selected{% endif %}>-</option>
                    {% for year in liste_annee_archives %}
                        <option value="{{ year }}" {% if year == annee %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
                <div id="block_tableaubord_liste" class="mt-3"></div>
            </div>

        {% endif %}


    </div>

    {% if not archive or annee %}


        <div class="cadre bg-light">
            <div id="block_tableaubord_consult" style="display: none"></div>
            <div id="block_tableaubord_body" class="">
                {% if not archive or annee %}
                    <div class="d-flex justify-content-center pb-3">
                    {% if onglet %}
                        <div class="pt-2 me-2">Arrondissements <i class="ctx-help-tb_instructeur_arron"></i> : </div>
                        <div class="btn-group btn-group-toggle" data-bs-toggle="buttons">
                            {% for arrondis in liste_arrondis %}
                                <label class="arron btn btn-outline-primary text-dark border
                            {% if INSTANCE.acces_arrondissement == 2 %}test_ecriture{% else %}{% if actual_arrondis == arrondis.code %}test_ecriture{% else %}test_lecture{% endif %}{% endif %} {% if actual_arrondis == arrondis.code %} active{% endif %}" id="arron_{{arrondis.code}}">
                                    <input type="radio" name="arron" autocomplete="off"  class="btn-check" {% if actual_arrondis == arrondis.code %}checked{% endif %}>
                                    {% if user_arrondis == arrondis.code %}<i class="fas fa-star text-secondary"></i>{% endif %}
                                    {{ arrondis.name }}
                                </label>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if onglet_service %}
                        <div class="pt-2 me-3">Départements :</div>
                        <div class="btn-group btn-group-toggle" data-bs-toggle="buttons">
                            {% for dept in liste_dept %}
                                <label class="dept btn btn-secondary {% if actual_dept == dept.name %}active{% endif %}" id="dept_{{dept.name}}">
                                    <input type="radio" name="dept"  class="btn-check" autocomplete="off" checked>
                                    {{ dept }}

                                </label>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
                </div>
                <div class="row" id="btn_etat_row">
                    <div class="col-lg text-center btn_etat_block">
                        <span class="d-block mb-3 mt-lg-0 mt-2 table_afaire" style="font-size: larger; font-weight: bold;">à traiter</span>
                        <div id="btn_etat_demande" data="atraiter" class="btn btn-outline-warning btn_etat_1">
                            <div class="btn_etat_icone"><i class="demandee jaune"></i></div>
                            <div class="btn_etat_chiffre jaune test_nb_atraiter">{{ atraiter }}</div>
                            <div class="btn_etat_leg jaune"> nouvelle{{ atraiter| pluralizero }}</div>
                        </div>
                    </div>
                    {% if afficher_encours %}
                        <div class="col-lg text-center">
                            <span class="d-block mb-3 mt-lg-0 mt-2 table_encours" style="font-size: larger; font-weight: bold;">en cours</span>
                            <div class="d-flex flex-column justify-content-between mx-auto btn_etat btn_etat_block">
                                <div id="btn_etat_demarre" data="demarre" class="btn btn-outline-primary btn_etat_2 mb-2">
                                    <div style="font-size: 40px;">
                                        <i class="demarree"></i><span class="test_nb_demarre">{{ demarre }}</span>
                                        <span style="font-size: 20px"> demarrée{{ demarre| pluralizero }}</span>
                                    </div>
                                </div>
                                <div id="btn_etat_encours" data="encours" class="btn btn-outline-primary btn_etat_2 mb-2">
                                    <div style="font-size: 40px;">
                                        <i class="distribuee"></i> <span class="test_nb_encours">{{ encours }}</span>
                                        <span style="font-size: 20px"> en consultation</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg text-center btn_etat_block">
                            <span class="d-block mb-3 mt-lg-0 mt-2 table_afaire" style="font-size: larger; font-weight: bold;">demarrée</span>
                            <div id="btn_etat_demarre" data="demarree" class="btn btn-outline-primary btn_etat_1">
                                <div class="btn_etat_icone"><i class="demarree"></i></div>
                                <div class="btn_etat_chiffre test_nb_encours">{{ demarre }}</div>
                                <div class="btn_etat_leg"> demarrée{{ demarre| pluralizero }}</div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-lg text-center">
                        <span class="d-block mb-3 mt-lg-0 mt-2 table_termine" style="font-size: larger; font-weight: bold;">terminés</span>
                        <div class="d-flex flex-column justify-content-between mx-auto btn_etat btn_etat_block">
                            {% if not user_is_instructeur %}
                                <div id="btn_etat_rendu" data="rendu" class="btn btn-outline-secondary btn_etat_2 mb-2">
                                    <div {% if annule %}style="font-size: 20px;"{% else %}style="font-size: 40px;"{% endif %}>
                                        <i class="encours"></i><span class="test_nb_rendu">{{ rendu }}</span>
                                        <span style="font-size: 20px"> en cours</span>
                                    </div>
                                </div>
                            {% endif %}
                            <div id="btn_etat_autorise" data="autorise" class="btn btn-outline-success btn_etat_2 mb-2">
                                <div {% if annule and not user_is_instructeur %}style="font-size: 20px;"{% else %}style="font-size: 40px;"{% endif %}>
                                    <i class="autorisee"></i><span class="test_nb_auto">{{ autorise }}</span>
                                    <span style="font-size: 20px"> autorisée{{ autorise| pluralizero }}</span>
                                </div>
                            </div>
                            <div id="btn_etat_interdite" data="interdit" class="btn btn-outline-danger btn_etat_2">
                                <div {% if annule and not user_is_instructeur %}style="font-size: 20px;"{% else %}style="font-size: 40px;"{% endif %}>
                                    <i class="interdite"></i><span class="test_nb_inter">{{ interdit }}</span>
                                    <span style="font-size: 20px"> interdite{{ interdit| pluralizero }}</span>
                                </div>
                            </div>
                            {% if annule %}
                                <div id="btn_etat_annule" data="annule" class="btn btn-outline-secondary btn_etat_2 mt-2">
                                    <div {% if not user_is_instructeur %}style="font-size: 20px;"{% else %}style="font-size: 40px;"{% endif %}>
                                        <i class="annulee"></i><span class="test_nb_annul">{{ annule }}</span>
                                        <span style="font-size: 20px"> annulée{{ annule| pluralizero }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                    </div>

                    <div class="d-flex mt-4 justify-content-center btn_option">
                        <a href="{% url 'instructions:tableaudebord' service_pk=request.session.service_pk %}" class="btn btn-outline-primary me-2"
                           id="btn_etat_me" data-bs-toggle="tooltip" data-bs-offset="0,10" title="Tous les dossiers qui me sont assignés"><i
                                class="dossier"></i> Toutes mes manifestations</a>
                        {% if not onglet and not onglet_service or instruction_mairie %}
                            <a href="{% url 'instructions:tableaudebord' service_pk=request.session.service_pk %}" class="btn btn-outline-primary me-2"
                               id="btn_etat_all" data-bs-toggle="tooltip" data-bs-offset="0,10" title=""><i class="dossier"></i> Tous</a>{% endif %}
                        {% if onglet and not instruction_mairie %}<a href="{% url 'instructions:tableaudebord' service_pk=request.session.service_pk %}"
                                                                     class="btn btn-outline-primary me-2 me-2" id="btn_etat_all" id="btn_etat_all"
                                                                     data-bs-toggle="tooltip" data-bs-offset="0,10" title="Tous les dossiers de l'arrondissement sélectionné"><i
                                class="dossier"></i> Tout l'arrondissement</a>{% endif %}
                        {% if onglet_service and not instruction_mairie %}
                            <a href="{% url 'instructions:tableaudebord' service_pk=request.session.service_pk %}" class="btn btn-outline-primary me-2"
                               id="btn_etat_all" id="btn_etat_all" data-bs-toggle="tooltip" data-bs-offset="0,10" title="Tous les dossiers du département"><i
                                    class="dossier"></i> Tout le département</a>{% endif %}
                        {% if onglet  and not instruction_mairie %}
                            <a href="#" class="btn btn-outline-primary me-2" id="btn_etat_all_arrond" id="btn_etat_all" data-bs-toggle="tooltip"
                               data-bs-offset="0,10" title="Tous les dossiers du département"><i class="dossier"></i> Tous les arrondissements</a>{% endif %}
                        {% if onglet_service and not instruction_mairie %}
                            <a href="#" class="btn btn-outline-primary me-2" id="btn_etat_all_dep" id="btn_etat_all" data-bs-toggle="tooltip"
                               data-bs-offset="0,10" title="Tous les dossiers sur tous les départements"><i class="dossier"></i> Tous les départements</a>{% endif %}
                        {% if not pref_en_instruction_mairie and service.is_service_instructeur and not service.is_mairie %}
                            <a href="{% url 'instructions:tableaudebord' service_pk=request.session.service_pk %}?filtre_specifique=instructionmairie"
                               class="btn btn-outline-primary me-2" data-bs-toggle="tooltip"
                               data-bs-offset="0,10" title="Les dossiers instruits dans les mairies"><i class="agent-local"></i> En mairie</a>{% endif %}
                        {% if not archive %}
                            <a href="{% url 'instructions:tableaudebord' service_pk=request.session.service_pk %}?temporalite=archive{% if pref_en_instruction_mairie and service.is_service_instructeur and not service.is_mairie %}&filtre_specifique=instructionmairie{% elif service.is_mairie and not instruction_mairie %}&filtre_specifique=serviceconsulte{% endif %}"
                               class="btn btn-outline-primary me-2" id="btn_archive" data-bs-toggle="tooltip" data-bs-offset="0,10"
                               title="Les manifestations terminées"><i class="archive"></i> Archives</a>{% endif %}
                    </div>
                </div>
                <div class="row">
                    <div id="block_tableaubord_liste" class="mt-3"></div>

                </div>

            </div>

        </div>
    {% endif %}
    <script>
        const url_consultation_liste = "{% url 'evenements:consultation_manif' pk=request.user.pk %}";
        const url_tableaurdebord = "{% url 'instructions:tableaudebordliste' service_pk=request.session.service_pk %}";
        const url_tableaudebordajax = "{% url 'instructions:tableaudebordajax' service_pk=request.session.service_pk %}"
        const service_is_service_instructeur = {% if service.is_service_instructeur %}true{% else %}false{% endif %}
    </script>
    <script src="{% static 'instructions/tableaudebord.js' %}"></script>

    <style>
        .btn_msg_tbd>a{
            border: none !important;
        }
        .btn_msg_tbd>a:hover{
            text-decoration: none !important;
        }
        .btn_option>a{
            border: none !important;
        }
        .btn_option>a:hover{
            text-decoration: none !important;
        }
        .div_detail {
            display: none;
            border: solid darkgrey 1px;
            border-radius: 15px;
            margin-left: 4.5em;
            margin-top: 0.1em;
            padding: 0.5em;
            position: absolute;
            z-index: 1000;
            background: #f2f2f2;
            width: 150px;
            color: black;
            top: 100%;
        }
        .btn_etat_2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            position: relative;
            height: 100%;
            border-width: 3px;
            background-color: white;
        }

        .btn_etat_1{
            height: 250px;
            width: 300px;
            border-width: 3px;
            background-color: white;
        }
        .btn_etat{
            height: 250px;
            width: 300px;
        }

        .btn_etat_block>.btn-outline-warning{
            color:black;
        }
        .btn_etat_block>.btn-outline-warning>.btn_etat_txt>.btn_etat_chiffre{
            color:#ffc107;
        }
        .btn_etat_block>.btn-outline-warning:hover{
            background-color: #ffeeba;
            color: inherit;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-primary:hover{
            background-color: #bee5eb;
            color: #007bff;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-secondary:hover{
            background-color: #c8cbcf;
            color: #6c757d;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-success:hover{
            background-color: #c3e6cb;
            color: #28a745;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-danger:hover{
            background-color: #f5c6cb;
            color: #dc3545;
            cursor: pointer;
        }
        .btn_etat_icone{
            font-size: 50px;
        }
        .btn_etat_txt{
            display: flex;
        }
        .btn_etat_icone{
            font-size: 50px;
        }
        .bleu{
            color: #007bff !important;
        }
        .jaune{
            color: #ffc107 !important;
        }
        .btn_etat_chiffre{
            font-size: 80px;
        }
        .btn_etat_leg{
            font-size: 20px;
        }
        .bg-light .active {
            background-color: #e0e67b;
            color: #000000;
        }
    </style>

{% endblock %}
