{% extends "base.html" %}

{# load url from future #}
{% load i18n instruction_tags static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/css/jquery.dataTables.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/datetime-moment.js' %}"></script>
{% endblock %}

{% block head_title %}
Tableau de bord
{% endblock %}

{% block page_title %}
    <h1>
        {% if instruction_mairie %}    {# instructeur mairie   (filtre_specifique== 'instructionmairie')  #}
            {% if not archive %}
                <i class="tableau-de-bord"></i> Tableau de bord instructeur en mairie
                {% if role == 'instructeur' %}
                    <a href="{% url 'portail:stat_instructeur' %}" class="float-right btn btn-primary btn-sm" style="margin-left: 15px;">
                    <i class="statistiques"></i>
                </a>
                    <a href="{% url 'instructions:tableaudebord' %}{{ role }}">
                        <span class="float-right btn btn-primary btn-sm ml-3">&nbsp;<i class="retour"></i></span></a>
                {% endif %}
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}?temporalite=archive&filtre_specifique=instructionmairie">
                    <span class="float-right btn btn-primary btn-sm attendre-archive ml-3"><i class="archive"></i>Archives</span></a>
            {% else %}
                <i class="tableau-de-bord"></i> Archives des instructions en mairie
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}?filtre_specifique=instructionmairie">
                    <span class="float-right btn btn-primary btn-sm ml-3">&nbsp;<i class="retour"></i></span></a>
            {% endif %}
            <a href="{% url 'declarations:dashboard' %}">
                <span class="float-right btn btn-primary btn-sm"><i class="historique"></i>Ancienne réglementation</span></a>
        {% elif role == 'instructeur' %}   {# instructeur préfecture  #}
            {% if not archive %}

                <i class="tableau-de-bord"></i> Tableau de bord instructeur
                <a href="{% url 'portail:stat_instructeur' %}" class="float-right btn btn-primary btn-sm" style="margin-left: 15px;">
                    <i class="statistiques"></i>
                </a>
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}?temporalite=archive">
                    <span class="float-right btn btn-primary btn-sm attendre-archive ml-3"><i class="archive"></i>Archives</span></a>
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}?filtre_specifique=instructionmairie">
                    <span class="float-right btn btn-primary btn-sm ml-3"><i class="agent-local"></i>Instruction mairie</span></a>
            {% else %}
                <i class="tableau-de-bord"></i> Archives des instructions
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}">
                    <span class="float-right btn btn-primary btn-sm ml-3">&nbsp;<i class="retour"></i></span></a>
            {% endif %}
            <a href="{% url 'authorizations:dashboard' %}">
                <span class="float-right btn btn-primary btn-sm"><i class="historique"></i>Ancienne réglementation</span></a>
        {% else %}   {# service consulté  #}
            {% if not archive %}
                <i class="tableau-de-bord"></i> Tableau de bord (service consulté)
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}?temporalite=archive">
                    <span class="float-right btn btn-primary btn-sm attendre-archive ml-3"><i class="archive"></i>Archives</span></a>
            {% else %}
                <i class="tableau-de-bord"></i> Archives des avis / pré-avis
                <a href="{% url 'instructions:tableaudebord' %}{{ role }}">
                    <span class="float-right btn btn-primary btn-sm ml-3">&nbsp;<i class="retour"></i></span></a>
            {% endif %}
            {% if user.agent %}
                <a href="{% url 'agreements:dashboard' %}">
            {% else %}
                <a href="{% url 'sub_agreements:dashboard' %}">
            {% endif %}
        <span class="float-right btn btn-primary btn-sm"><i class="historique"></i>Ancienne réglementation</span></a>
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center pt-2 pb-4">
        {% if archive %}
            <div class="col-12">
                Seléctionnez l'année à consulter :
                <select id="annee" style="width: 80px;">
                    <option value="" disabled {% if not annee %} selected{% endif %}>-</option>
                    {% for year in liste_annee_archives %}
                        <option value="{{ year }}" {% if year == annee %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% if not archive or annee %}
        {% if onglet %}
            <div class="pt-2 mr-2">Arrondissements <i class="ctx-help-tb_instructeur_arron"></i> : </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% for arrondis in liste_arrondis %}
                    <label class="arron btn btn-light {% if INSTANCE.acces_arrondissement == 2 %}test_ecriture{% else %}{% if actual_arrondis == arrondis.code %}test_ecriture{% else %}test_lecture{% endif %}{% endif %} {% if actual_arrondis == arrondis.code %} active{% endif %}" id="arron_{{arrondis.code}}">
                        <input type="radio" name="arron" autocomplete="off" {% if actual_arrondis == arrondis.code %}checked{% endif %}>
                        {% if user_arrondis == arrondis.code %}<i class="fas fa-star text-secondary"></i>{% endif %}
                        {{ arrondis.name }}
                    </label>
                {% endfor %}
            </div>
        {% endif %}
        {% if onglet_service %}
            <div class="pt-2 mr-3">Departements </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% for dept in liste_dept %}
                    <label class="dept btn btn-secondary {% if actual_dept == dept.name %}active{% endif %}" id="dept_{{dept.name}}">
                        <input type="radio" name="dept" autocomplete="off" checked>
                        {{ dept }}

                    </label>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-12 alert alert-secondary text-center font-weight-bold" role="alert" style="font-size: larger;"><a href="#" id="btn_etat_all">Mes dossiers</a></div>

{% if not user.agent.cisagent and not user.agent.codisagent %}
    {% if afficher_atraiter %}
        <div class="col-lg text-center btn_etat_block">
            <span class="d-block mb-3 table_afaire" style="font-size: larger; font-weight: bold;">à traiter</span>
            <div id="btn_etat_demande" data="atraiter" class="btn btn-outline-warning btn_etat_1">
                <div class="btn_etat_icone"><i class="demandee jaune"></i></div>
                <div class="btn_etat_chiffre jaune test_nb_atraiter">{{ atraiter }}</div>
                <div class="btn_etat_leg jaune"> à traiter</div>
                <div id="div_etat_demande" class="div_detail">
                    {% include 'instructions/bloc_tooltip.html' with data=atraiter_tab %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if afficher_encours %}
        <div class="col-lg text-center btn_etat_block">
            <span class="d-block mb-3 table_encours" style="font-size: larger; font-weight: bold;">en cours</span>
            <div id="btn_etat_encours" data="encours" class="btn btn-outline-primary btn_etat_1">
                <div class="btn_etat_icone"><i class="distribuee bleu"></i></div>
                <div class="btn_etat_chiffre test_nb_encours">{{ encours }}</div>
                <div class="btn_etat_leg"> en cours d'instruction</div>
                <div id="div_etat_encours" class="div_detail">
                    {% include 'instructions/bloc_tooltip.html' with data=encours_tab %}
                </div>
            </div>
        </div>
    {% endif %}
        <div class="col-lg text-center">
            <span class="d-block mb-3 table_termine" style="font-size: larger; font-weight: bold;">terminés</span>
            <div class="d-flex flex-column justify-content-between mx-auto btn_etat btn_etat_block">
            {% if not user_is_instructeur %}
                <div id="btn_etat_rendu" data="rendu" class="btn btn-outline-secondary btn_etat_2 mb-2">
                    <div {% if annule %}style="font-size: 20px;"{% else %}style="font-size: 40px;"{% endif %}>
                        <i class="encours"></i><span class="test_nb_rendu">{{ rendu }}</span>
                        <span style="font-size: 20px"> en cours</span>
                    </div>
                    <div id="div_etat_rendu" class="div_detail">
                        {% include 'instructions/bloc_tooltip.html' with data=rendu_tab %}
                    </div>
                </div>
            {% endif %}
                <div id="btn_etat_autorise" data="autorise" class="btn btn-outline-success btn_etat_2 mb-2">
                    <div {% if annule and not user_is_instructeur %}style="font-size: 20px;"{% else %}style="font-size: 40px;"{% endif %}>
                        <i class="autorisee"></i><span class="test_nb_auto">{{ autorise }}</span>
                        <span style="font-size: 20px"> autorisées</span>
                    </div>
                    <div id="div_etat_autorise" class="div_detail">
                        {% include 'instructions/bloc_tooltip.html' with data=autorise_tab %}
                    </div>
                </div>
                <div id="btn_etat_interdite" data="interdit" class="btn btn-outline-danger btn_etat_2">
                    <div {% if annule and not user_is_instructeur %}style="font-size: 20px;"{% else %}style="font-size: 40px;"{% endif %}>
                        <i class="interdite"></i><span class="test_nb_inter">{{ interdit }}</span>
                        <span style="font-size: 20px"> interdites</span>
                    </div>
                    <div id="div_etat_interdite" class="div_detail">
                        {% include 'instructions/bloc_tooltip.html' with data=interdit_tab %}
                    </div>
                </div>
            {% if annule %}
                <div id="btn_etat_annule" data="annule" class="btn btn-outline-secondary btn_etat_2 mt-2">
                    <div {% if not user_is_instructeur %}style="font-size: 20px;"{% else %}style="font-size: 40px;"{% endif %}>
                        <i class="annulee"></i><span class="test_nb_annul">{{ annule }}</span>
                        <span style="font-size: 20px"> annulées</span>
                    </div>
                    <div id="div_etat_annule" class="div_detail">
                        {% include 'instructions/bloc_tooltip.html' with data=annule_tab %}
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
{% else %}
        <div class="col-lg text-center btn_etat_block">
            <span class="d-block mb-3" style="font-size: larger; font-weight: bold;">en cours</span>
            <div id="btn_etat_rendu" data="rendu" class="btn btn-outline-secondary btn_etat_1" style="width: 250px">
                <div class="btn_etat_icone"><i class="encours"></i></div>
                <div class="btn_etat_chiffre test_nb_rendu">{{ rendu }}</div>
                <div class="btn_etat_leg"> instructions en cours</div>
                <div id="div_etat_rendu" class="div_detail" style="margin-left: 2.5em;">
                    {% include 'instructions/bloc_tooltip.html' with data=rendu_tab %}
                </div>
            </div>
        </div>
        <div class="col-lg text-center btn_etat_block">
            <span class="d-block mb-3" style="font-size: larger; font-weight: bold;">autorisés</span>
            <div id="btn_etat_autorise" data="autorise" class="btn btn-outline-success btn_etat_1" style="width: 250px">
                <div class="btn_etat_icone"><i class="autorisee"></i></div>
                <div class="btn_etat_chiffre test_nb_auto">{{ autorise }}</div>
                <div class="btn_etat_leg"> manif. autorisées</div>
                <div id="div_etat_autorise" class="div_detail" style="margin-left: 2.5em;">
                    {% include 'instructions/bloc_tooltip.html' with data=autorise_tab %}
                </div>
            </div>
        </div>
        <div class="col-lg text-center btn_etat_block">
            <span class="d-block mb-3" style="font-size: larger; font-weight: bold;">interdits</span>
            <div id="btn_etat_interdite" data="interdit" class="btn btn-outline-danger btn_etat_1" style="width: 250px">
                <div class="btn_etat_icone"><i class="interdite"></i></div>
                <div class="btn_etat_chiffre test_nb_inter">{{ interdit }}</div>
                <div class="btn_etat_leg"> manif. interdites</div>
                <div id="div_etat_interdite" class="div_detail" style="margin-left: 2.5em;">
                    {% include 'instructions/bloc_tooltip.html' with data=interdit_tab %}
                </div>
            </div>
        </div>
    {% if annule %}
        <div class="col-lg text-center btn_etat_block">
            <span class="d-block mb-3" style="font-size: larger; font-weight: bold;">annulés</span>
            <div id="btn_etat_annule" data="annule" class="btn btn-outline-secondary btn_etat_1" style="width: 250px">
                <div class="btn_etat_icone"><i class="annulee"></i></div>
                <div class="btn_etat_chiffre test_nb_annul">{{ annule }}</div>
                <div class="btn_etat_leg"> manif. annulées</div>
                <div id="div_etat_annule" class="div_detail" style="margin-left: 2.5em;">
                    {% include 'instructions/bloc_tooltip.html' with data=annule_tab %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
    </div>
{% endif %}
    <div id="block_tableaubord_liste" class="mt-3"></div>

    <script src="{% static 'instructions/tableaudebord.js' %}"></script>

    <style>
        .div_detail {
            display: none;
            border: solid darkgrey 1px;
            border-radius: 15px;
            margin-left: 4.5em;
            margin-top: 0.1em;
            padding: 0.5em;
            position: absolute;
            z-index: 1000;
            background: #f2f2f2;
            width: 150px;
            color: black;
            top: 100%;
        }
        .btn_etat_2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            position: relative;
            height: 100%;
            border-width: 3px;
            background-color: white;
        }

        .btn_etat_1{
            height: 250px;
            width: 300px;
            border-width: 3px;
            background-color: white;
        }
        .btn_etat{
            height: 250px;
            width: 300px;
        }

        .btn_etat_block>.btn-outline-warning{
            color:black;
        }
        .btn_etat_block>.btn-outline-warning>.btn_etat_txt>.btn_etat_chiffre{
            color:#ffc107;
        }
        .btn_etat_block>.btn-outline-warning:hover{
            background-color: #ffeeba;
            color: inherit;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-primary:hover{
            background-color: #bee5eb;
            color: #007bff;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-secondary:hover{
            background-color: #c8cbcf;
            color: #6c757d;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-success:hover{
            background-color: #c3e6cb;
            color: #28a745;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-danger:hover{
            background-color: #f5c6cb;
            color: #dc3545;
            cursor: pointer;
        }
        .btn_etat_icone{
            font-size: 50px;
        }
        .btn_etat_txt{
            display: flex;
        }
        .btn_etat_icone{
            font-size: 50px;
        }
        .bleu{
            color: #007bff !important;
        }
        .jaune{
            color: #ffc107 !important;
        }
        .btn_etat_chiffre{
            font-size: 80px;
        }
        .btn_etat_leg{
            font-size: 20px;
        }
    </style>

{% endblock %}
