{% load i18n instruction_tags LastMsg static %}

<div class="card card-primary">
    <div class="card-header">
        <h2 class="card-title"><i class="dossier"></i> {{ titre }} <i class="ctx-help-tdb_legende_couleur"></i>
            <input class="form-control float-end w-25" id="search" placeholder="Rechercher">
            <button class="btn btn-primary btn-xs btn-filter float-end" id="etape"><i class="far fa-filter"></i> Filtrer</button></h2>
    </div>
    <div class="text-center inline-help my-1"><small>Les dossiers s'ouvrent dans de nouveaux onglets de votre navigateur web afin de conserver la liste ci-dessous intacte.</small></div>
    <table id="instruction-table" class="">
        <thead>
        <tr>
            <th>Formulaire</th>
            <th>Date</th>
            <th>Délai</th>
            <th>Nom</th>
            <th>Départ de</th>
            {% if agent_avis %}<th>Interaction</th>{% endif %}
            <th>État</th>
            <th>Complétude</th>
            {% if user_is_instructeur %}<th>Instructeur</th>{% endif %}
            <th>Dernière action</th>
        </tr>
        </thead>
        <tbody>
        {% for instruction in instructions %}
            {# onclick dans le <tr> ne marche pas avec bootstrap-table, voir script main. On passe l'url avec data-href #}
            {% if user_is_instructeur and not agent_avis %}
                <tr class="{% if instruction.css %}
                                {{ instruction.css }}
                            {% elif instruction.etat == 'distribuée' %}
                                table_encours
                            {% elif instruction.etat == 'demandée' %}
                                table_afaire
                            {% else %}
                                table_termine
                            {% endif %} clickligne"  data-href='{{ instruction.get_absolute_url }}'>
                    {% elif agent_avis %}
                    {% with avis=instruction|avis:service %}
                        <tr class="{{ instruction.css }} clickligne"  data-href='{{ avis.get_absolute_url }}'>
                    {% endwith %}
            {% endif %}
        <td>
            {% include 'evenements/pictos/type_evenement.html' with manif=instruction.manif %}
        </td>
        <td ><span data-bs-toggle="tooltip" data-placement="top" title="{{ instruction.manif.date_debut|date:"l j F Y" }}"><span hidden>{{ instruction.manif.date_debut|date:"Y/m/d" }}</span>{{ instruction.manif.date_debut|date:"d/m/Y" }}</span> </td>
        <td>{% if instruction.manif.get_type_manif %}
            {% include 'evenements/pictos/delai.html' with manif=instruction.manif %}
        {% endif %}
        </td>
        <td>
            <span data-bs-toggle="tooltip" data-placement="top" title="Activité : {{ instruction.manif.activite.discipline }} ➝ {{ instruction.manif.activite }}<br>Organisateur : {{ instruction.manif.structure_organisatrice_fk }}">
                {{ instruction.manif.nom }}
            </span>
            <span hidden>
                {{ instruction.manif.nom }}
            </span>
            {% if instruction.manif.a_modifier %}
                <i class="editer fa-lg ms-2" data-titre="Modifications demandées : <br> {{ instruction.manif.a_modifier_verbal }}" data-selection="Modification {{ instruction.manif.a_modifier }}"></i>
            {% endif %}
        </td>
        <td>{{ instruction.manif.ville_depart }}
            {% if INSTANCE.get_instruction_mode %}
                ({{ instruction.manif.ville_depart.arrondissement }})
            {% endif %}
            {% if instruction.manif.instance_instruites.all.count > 1 %}
                <i class="interdep float-end"></i>
            {% endif %}
        </td>
        {% if agent_avis %}
            {% with avis=instruction|avis:service %}
                <td>
                    {{ avis|interaction:request|safe }}
                    {% if avis.service_consulte_fk in avis.instruction.presentations.last.get_tous_membres %}
                        <i class="cdsr ico_double float-end" data-titre="Avis CDSR"></i>
                    {% endif %}
                </td>
            {% endwith %}
        {% endif %}

        <td class="text-center">
            {% include 'evenements/pictos/etat.html' with manif=instruction.manif service=service%}
        </td>
        <td>{% if instruction.manif.get_cerfa.dossier_complet %}
            {% if instruction.doc_verif %}
                <i class="dossier-complet-verifie" data-nb_jour='{{ instruction.manif.get_cerfa.delai_en_cours }}'></i>
            {% else %}
                <i class="dossier-complet-non-verifie" data-nb_jour='{{ instruction.manif.get_cerfa.delai_en_cours }}'></i>
            {% endif %}
        {% else %}
            <i class="dossier-incomplet" data-nb_jour='{{ instruction.manif.get_cerfa.delai_en_cours }}'></i>
        {% endif %}
        </td>
        {% if user_is_instructeur %}
            <td>{{instruction.referent.get_full_name}}</td>
        {% endif %}
        <td>{{ instruction.manif|LastMsg|date:"d/m/Y H:i" }}</td>
        </tr>
        {% empty %}

            <tr>
                {% if user_is_instructeur %}
                    {% if not archive %}
                        <td colspan="7" class="text-center">Aucune instruction à gérer</td>
                    {% else %}
                        <td colspan="7" class="text-center">Aucune instruction archivée</td>
                    {% endif %}
                {% elif service.is_service_avis%}
                    {% if not archive %}
                        <td colspan="7" class="text-center">Aucun avis à gérer</td>
                    {% else %}
                        <td colspan="7" class="text-center">Aucun avis archivé</td>
                    {% endif %}
                {% else %}
                    {% if not archive %}
                        <td colspan="7" class="text-center">Aucune demande de préavis à traiter</td>
                    {% else %}
                        <td colspan="7" class="text-center">Aucun préavis archivé</td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {


        //  @summary Add a filter input on each DataTable columns
        //  @name DataTables Filters v0.1
        //  @author [Angelo Boursin] (https://github.com/aboursin/datatables.filters)
        //  Modifié pour afficher le titre de la colonne
        //  BOF

        $.fn.dataTable.Api.register( 'filtersOn()', function () {

            var dataTable = this;
            var id = $(dataTable.context[0].nTable).attr('id');
            var state = dataTable.state.loaded();

            // Create the filter header row
            $('#' + id + ' thead').after(
                $('<thead />').addClass('filter').append($('<tr />'))
            );

            // Populate the filter header
            $('#' + id + ' thead th').each( function (index) {
                var searchable = dataTable.context[0].aoColumns[index].bSearchable;
                var searchtype = dataTable.context[0].aoColumns[index].searchtype;
                var tablabel = [];
                // Add input only if current column is searchable
                if(searchable){

                    if(searchtype == "select"){

                        // Select input
                        // "<span class=\"badge bg-light icone delai-30j\" title=\"\" data-bs-toggle=\"tooltip\" data-original-title=\"Au delà de 30 jours avant le début de la manifestation\"> <i class=\"far fa-stopwatch\"></i> +30j&nbsp; <i class=\"fas fa-signal-alt text-info\"></i> </span>"
                        var select = $('<select ></select>').addClass('form-select form-select-md input-sm');
                        select.append('<option value="">' + dataTable.context[0].aoColumns[index].sTitle + '</option>');
                        dataTable.column(index).data().unique().sort().each( function ( d, j ) {

                            /*
                            if (/^<./.test(d) === true) {
                                if (/bg-light/.test(d) === true) {
                                    d = d.substring(d.indexOf('/i>') + 3, d.indexOf('&'));
                                } else {
                                    d = d.substring(d.lastIndexOf('badge'), d.lastIndexOf('j')+1);
                                }
                            }
                            */

                            if (/^<./.test(d) === true) {
                                label = $(d).find('span[hidden]').text();
                                if (label == "") {
                                    label = $(d).siblings('span[hidden]').text();
                                }
                            } else {
                                label = d;
                            }
                            let found = tablabel.find(function (element) {
                                return label===element
                            })

                            if (!found){
                                select.append( '<option value="' + label + '">' + label + '</option>' )
                                tablabel.push(label);
                            }
                        });

                        $('#' + id + ' .filter tr').append($('<th>').append(select));
                    } else {
                        // Text input
                        $('#' + id + ' .filter tr').append($('<th>').append($('<input type="text"/>').addClass('form-control input-sm form-select')));
                    }
                } else {
                    $('#' + id + ' .filter tr').append($('<th>'));
                }
            });

            // Restore filter (only if stateSave)
            if (state) {
                console.log("stateSave:true > Restoring filters...");
                dataTable.columns().eq(0).each( function (index) {
                    var colSearch = state.columns[index].search;
                    if (colSearch.search) {
                        // Restore input value
                        $('#' + id + ' .filter input').get(index).value = colSearch.search;
                    }
                });
            }

            // Filter input event : filter matching column
            $('#' + id +' .filter input, #' + id +' .filter select').each( function (index) {
                $(this).on( 'keyup change', function () {
                    dataTable.column(index).search(this.value).draw();
                });
            });

            return dataTable;

        });

        $.fn.dataTable.Api.register( 'filtersClear()', function () {

            var dataTable = this;
            var id = $(dataTable.context[0].nTable).attr('id');
            var state = dataTable.state.loaded();

            // Clean filters (only if stateSave)
            if (state) {
                console.log("stateSave:true > Clearing filters...");
                $('#' + id +' .filter input, #' + id +' .filter select').each( function (index) {
                    // Clear input value
                    this.value = '';
                    // Clear column filter
                    dataTable.column(index).search('');
                });

                // Re-draw datatable
                dataTable.draw();
            }

        });
        //  EOF

        $.fn.dataTable.moment( 'DD/MM/YYYY' );
        $.fn.dataTable.moment( 'DD/MM/YYYY HH:mm');
        let colones = [];
        colonnes = [{"targets": [0,1,2,3,4,5,6,7,8], "searchtype": "select"},
            {"targets": [0], "width": 100},
            {"targets": [1], "width": 60},
            {"targets": [2], "width": 80},
            {"targets": [3], "width": 185},
            {"targets": [4], "width": 70},
            {"targets": [5], "width": 70},
            {"targets": [6], "width": 75},
            {"targets": [7], "width": 70},
            {"targets": [8], "width": 100}];
        $('#instruction-table').DataTable({
            "paging": false,
            "info": false,
            "columnDefs" : colonnes,
            fixedColumns: true,
            order : [[1, "asc"]]
        }).filtersOn();
        // L'option "scrollY" et "scrollCollapse" n'est pas possinle sinon la ligne des filtres disparait à la première utilisation
        // L'option "searching": false n'est pas possible sinon les filtres ne marchent plus donc on cache avec jquery
        $('.dataTables_filter').hide();
        $('#instruction-table th.sorting').css('padding', '4px 0 4px 9px');

        $('thead.filter').hide();
        $('.btn-filter').click(function(){
            $('thead.filter').toggle();
            $('thead:first-child').toggle();
            // $('select').chosen();
        });


        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#instruction-table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    });
</script>
<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>