{% extends "base.html" %}

{# load url from future #}
{% load i18n static %}


{% block head_title %}
    Mes tableaux de bord
{% endblock %}

{% block page_title %}
    <h1>
       Sélection du tableau de bord
    </h1>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center flex-wrap" id='div_btn_choix'>
{% for organisation in user.organisation_m2m.all %}
                                {% if organisation.type_service_fk.categorie_fk.nom_s == "_Support" %}
                                {% elif organisation.type_organisation_fk %}
                                    {# Menu pour les organisateurs #}
                                    <a class="btn btn-success me-4 mt-3 p-2" href="{% url 'evenements:tableau-de-bord-organisateur' pk=organisation.pk %}">
                                        <i class="organisateur"></i> Organisateur<br>
                                            {{ organisation|capfirst }}</a>
                                {% else %}

                                    {% if organisation.is_mairie %}
                                        {# Menu pour les agent de mairie #}
                                       <a class="btn btn-success me-4 mt-3 p-2" href="{% url 'instructions:tableaudebord' service_pk=organisation.pk %}">
                                            <i class="instructeur"></i> Instructeur<br>
                                            {{ organisation|capfirst }}</a>
                                            <a class="btn btn-success me-4 mt-3 p-2" href="{% url 'instructions:tableaudebord' service_pk=organisation.pk %}?filtre_specifique=serviceconsulte">
                                                    <i class="agent-local">
                                                </i> Service consulté<br>
                                            {{ organisation|capfirst }}</a>
                                       
                                    {% elif organisation.is_service_instructeur %}
                                        {# Menu pour les instructeurs #}
                                       <a class="btn btn-success me-4 mt-3 p-2" href="{% url 'instructions:tableaudebord' service_pk=organisation.pk %}">
                                            <i class="instructeur"></i> Instructeur <br>
                                            {{ organisation|capfirst }}</a>

                                    {% else %}
                                            <a class="btn btn-success me-4 mt-3 p-2" href="{% url 'instructions:tableaudebord' service_pk=organisation.pk %}">
                                                <i class="agent-local"></i> Service consulté<br>
                                            {{ organisation|capfirst }}</a>
                                        
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

</div>

    <style>

    #div_btn_choix>a{
        background: #8e9900;
        width: 200px;
        border-color: #8e9900;
    }

    </style>
{% endblock %}
