<template>
    <div :class="{parcours: true, border, draggable, background, hover}">
      <slot v-bind:item="item">
        <span :style="{color: item.options ? item.options.color : 'black'}">{{ item.name }}</span>
        <span v-if="closable" @click.stop.prevent="$emit('remove', item)" class="close fas fa-times"></span>
      </slot>
    </div>
</template>

<script>
export default {
  name: "ParcoursItem",
  props: {
    item: { type: [Object, File], required: true},
    border: {type: Boolean, default: false},
    background: {type: Boolean, default: false},
    hover: {type: Boolean, default: false},
    closable: {type: Boolean, default: false},
    draggable: {type: Boolean, default: false},
  },
};
</script>

<style scoped>
.parcours{
  display: flex;
  padding: 0.25em;
  justify-content: space-between;
}
.parcours.background{
  background-color: var(--white);
}
.parcours.hover:hover{
  background-color: var(--grey-lighter);
}
.border{
  border: 1px solid var(--grey-lighter);
  border-radius: 2px;
}
.draggable{
  cursor: move;
}

.close{
  cursor: pointer;
  border-radius: 50%;
}
.close:hover{
  background-color: var(--grey-lighter);
}
</style>
