{% load static clever_selects_extras i18n webpush_notifications %}

{% load role_tags %}
<!doctype html>
<html lang="fr">
<head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="icon" href="/static/portail/img/favicon.ico" />

    <link rel="stylesheet" href="{% static 'libs/bootstrap-table/dist/bootstrap-table.min.css' %}">
    <link href="{% static 'portail/css/jquery-jvectormap-2.0.3.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/jquery-ui/jquery-ui.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/chosen/chosen.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/fontawesome-pro/css/all.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'portail/scss/bootstrap_custom.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'portail/css/default.css' %}" rel='stylesheet' type='text/css'>

    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'libs/moment/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-table/dist/bootstrap-table.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-table/dist/bootstrap-table-locale-all.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery.submitProtection.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery-jvectormap-2.0.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery-jvectormap-fr-merc.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/common.js' %}" type="text/javascript"></script>

    <script src="{% static 'libs/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/icone.js' %}" type="text/javascript"></script>
    <link href="{% static 'libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}" type="text/css" media="all" rel="stylesheet">
    <link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
    <script type="text/javascript" src="{% static 'libs/moment/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>


    <script type="text/javascript">
        var dep_number = "{{ INSTANCE.get_departement_name }}";
        var url_cpt = "/messagerie/cpt/";  // impossible d'utiliser l'url django vu que le salt doit être changé dynamiquement
        var url_global_msg= "{% url 'messagerie:boite_principale' %}"

        var is_log = "{{ user.is_authenticated }}"
        var cpt_time_refresh = "{{ MESSAGERIE_CPT_TIME_REFRESH }}"

        var TESTS_IN_PROGRESS = {{ TESTS_IN_PROGRESS|lower }}

    </script>
    {#    <script src="{% static 'portail/js/ajax-init-crsf.js' %}"></script>#}
    <script src="{% static "messagerie/js/compteurnonlu.js" %}" type="text/javascript"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
    <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
    <![endif]-->
    {% block custom_head %}{% endblock %}
    <!-- Bof Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setCookieDomain", "*.www.manifestationsportive.fr"]);
      _paq.push(["setExcludedQueryParams", ["http:\/\/localhost\/","http:\/\/127.0.0.1\/","http:\/\/localhost:8000\/","http:\/\/127.0.0.1:8000\/","https:\/\/localhost\/","https:\/\/127.0.0.1\/","https:\/\/localhost:8000\/","https:\/\/127.0.0.1:8000\/"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://openscop.icu/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://openscop.icu/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- Eof Matomo -->
</head>
<body class="{{ request.resolver_match.url_name }}">
<nav class='navbar navbar-expand-lg navbar-dark navbar-inverse fixed-top' role='navigation'>
    <div class='container'>
        <a class='navbar-brand' href="{% url 'portail:home_page' %}">
            <img alt='Logo Manifestations sportives'
                 src="{% static 'portail/img/Logo_Manifestation_Sportive_260x70.png' %}" height="55">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class='collapse navbar-collapse flex-row-reverse' id="navbarNavDropdown">
            <ul class='navbar-nav'>
                {% if user.is_authenticated %}
                    {# Les utilisateurs peuvent cumuler plusieurs rôles et donc plusieurs menus dédiés #}
                        {% if user.organisation_m2m.count > 2 %}
                            <li class="nav-item"><a href="{% url 'instructions:tableaudebord_choix' %}">
                                         <i class="tableau-de-bord"></i>Mes tableaux de bord</a></li>
                            {% else %}
                            {% for organisation in user.organisation_m2m.all %}
                                {% if organisation.type_service_fk.categorie_fk.nom_s == "_Support" %}
                                {% elif organisation.type_organisation_fk %}
                                    {# Menu pour les organisateurs #}
                                    <li class="nav-item"><a href="{% url 'evenements:tableau-de-bord-organisateur' pk=organisation.pk %}" title="Organisateur :<br>{{ organisation }}" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                        <i class="tableau-de-bord"></i>Tableau de bord<br>
                                        <i class="organisateur"></i> {{ organisation|truncatechars:25 }}</a>
                                    </li>
                                {% else %}

                                    {% if organisation.is_mairie %}
                                        {# Menu pour les agent de mairie #}
                                        <li class="nav-item"><a href="{% url 'instructions:tableaudebord' service_pk=organisation.pk %}">
                                            <i class="tableau-de-bord"></i>Tableau de bord<br>
                                            <i class="instructeur"></i> Instructeur</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'instructions:tableaudebord' service_pk=organisation.pk %}?filtre_specifique=serviceconsulte">
                                                <i class="tableau-de-bord"></i>Tableau de bord<br>
                                                    <i class="agent-local"></i> Service consulté</a>
                                        </li>
                                    {% elif organisation.is_service_instructeur %}
                                        {# Menu pour les instructeurs #}
                                        <li class="nav-item">
                                            <a href="{% url 'instructions:tableaudebord' service_pk=organisation.pk %}" title="Service instructeur :<br>{{ organisation }}" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                                <i class="tableau-de-bord"></i>Tableau de bord<br>
                                                <i class="instructeur"></i> {{ organisation|truncatechars:25 }}</a>
                                        </li>
                                    {% else %}
                                        {# Menu pour les agent service consulté #}
                                        <li class="nav-item">
                                            <a href="{% url 'instructions:tableaudebord' service_pk=organisation.pk %}" title="Service consulté :<br>{{ organisation.nom_s }}" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                                <i class="tableau-de-bord"></i>Tableau de bord<br>
                                                <i class="agent-local"></i> {{ organisation|truncatechars:25 }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    {# Menu pour tous les utilisateurs #}
                    <li class="nav-item">
                        <a href="{% url 'messagerie:boite_principale' %}" title="Accès à la messagerie générale" data-bs-toggle="tooltip" data-bs-placement="bottom" class="text-lg-center">
                            <i class="message"></i>Messagerie</a> <div id="cpt_msg_nav" class="px-1 mx-2"></div>
                    </li>
                    <li class="nav-item"><a href="{% url 'aide:aide-sommaire' %}" target="_blank">
                        <i class="aide"></i>Aide</a>
                    </li>
                    <div class="row">
                        <div class="col">

                            <div class="row">
                                <div class="col">
                                    <li class="nav-item"><a href="{% url 'profile' %}" class="menu-element" title="Profil utilisateur" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                        <i class="utilisateur"></i></i>{{ user.get_full_name }}</a>
                                    </li>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    {# Menu d'administration pour les superutilisateurs #}
                                    {% if user.is_staff and user|hasgroup:"Administrateurs d'instance" or user.is_staff and user|hasgroup:"_support"%}
                                            <li class="nav-item d-inline">
                                                <a href="/aide/accueil-admin-instance" class="menu-element d-inline" title="Administrateur d'instance" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                                    <i class="configurer"></i></a>
                                            </li>
                                    {% endif %}
                                    <li class="nav-item d-inline"><a href="{% url 'account_logout' %}" class="menu-element d-inline" title="Déconnexion" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                        <i class="deconnecter"></i></a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>


                {% else %}
                    <li class="nav-item active">
                        <a href="{% url 'account_login' %}"><i class="connecter"></i>Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block body %}
    <div class='container' id="main-content">
    {% if user.has_email_failed %}
        <div class="alert alert-danger my-2">
            <p style="font-size:15px">{{ user.get_email_failed_message|safe }}</p>
        </div>
    {% endif %}
        <div class='row hearder-notification'>
            <div id="nav_obselete" style="display: none">
                <div class="">
                    <h5 class="" id="">Navigateur obsolète</h5>
                </div>
                <div class="">
                    Vous utilisez un navigateur trop ancien. Il ne répond plus aux standards et normes de sécurité requis pour utiliser cette plateforme.<br>
                    Ainsi, l'utilisation de cette plateforme avec ce navigateur n'est pas recommandée voire même impossible.<br>
                    Veuillez utiliser un navigateur, à jour, tel que Mozilla Firefox ou Chromium recommandé dans le <a
                        href="https://sill.etalab.gouv.fr/fr/software" target="_blank">SILL de
                    l'État</a>.
                </div>
            </div>
            {% if messages %}
                <br>
                <div class="col-xs-12 col-md-12">
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable">
                            <strong>{{ message }}</strong>
                            <button type='button' class='btn-close float-end' data-bs-dismiss='alert' aria-hidden='true'></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if user.get_instance.get_message %}
                <br>
                <div class="col-xs-12 col-md-12">
                    {% for message in user.get_instance.get_message %}
                        <div class="alert alert-info">
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div id='page-header'>{% block page_title %}{% endblock %}</div>
                <div class='resume'>{% block resume %}{% endblock %}</div>
                {% block fil_ariane %}{% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
{% endblock %}
<div id="container-footer">
    <footer role='contentinfo'>
        <div class="container">
            <div class="summary d-none d-sm-block">
                Plateforme web simplifiant considérablement les démarches entre les organisateurs d'événements sportifs,
                l'État et l'ensemble des services consultés
                pour avis.
            </div>
            <div id="footer-info" class='text-center'>
                <a href="#">V {{ request.version }}</a><span class="pipe_separator">|</span>
                <a href="/mentions-legales/">Mentions légales</a><span class="pipe_separator">|</span>
                <a href="/CGU/">Conditions Générales d'Utilisation</a><span class="pipe_separator">|</span>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_agent_service_instructeur %}
                        <a href="/forum/forum-instructeurs-3/">Assistance</a>
                    {% elif request.user.is_agent_service_consulte %}
                        <a href="/forum/forum-services-consultés-6/">Assistance</a>
                    {% elif request.user.is_organisateur %}
                        <a href="/forum/forum-organisateurs-1/">Assistance</a>
                    {% else %}
                        <a href="/forum/">Assistance</a>
                    {% endif %}
                {% else %}
                    <a href="/aide/contact">Contact</a>
                {% endif %}
            </div>
        </div>
    </footer>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div id="scrollToTop">
    <a href="#"><i class="haut-de-page"></i></a>
</div>

<div class="modal fade" id="nom_prenom_modal" tabindex="-1" role="dialog" aria-labelledby="nom_prenom_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p><strong>Votre nom et votre prénom ne sont pas renseignés</strong> dans votre profil utilisateur.<br>
                    Ils sont nécessaires pour de futures fonctionnalités.<br>
                    Pour rappel, les comptes sont nominatifs.<br><br>
                    Nous vous proposons de les renseigner dès à présent ci-dessous.<br>
                </p>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Nom</span>
                    </div>
                    <input type="text" style="height: 38px;" class="form-control" id="nom" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon4">Prénom</span>
                    </div>
                    <input type="text" style="height: 38px;" class="form-control" id="prenom" aria-describedby="basic-addon4">
                </div>
                <button id="btn_submit_nom_prenom" style="float: none" class="btn btn-primary btn-action">Enregistrer</button>
            </div>
        </div>
    </div>
</div>

<!-- TODO à supprimer  -->
{% if user.last_name == 'à renseigner' or user.first_name == 'à renseigner' %}
    {% if 'profile_publique/' not in request.path %}
        <script>
            var url_nom_prenom_change = "{% url "nom_prenom_change" %}";
        </script>
        <script src="{% static 'portail/js/nomprenomchange.js' %}"></script>
    {% endif %}
{% endif %}

{% block extra_js %}{% endblock %}

{% if request.contexthelps %}
    <script type="text/javascript">
        // Insertion dynamique d'icône d'aide
        function showcontexthelps() {
            {% for help in request.contexthelps %}
                if (!$('[class^=ctx-help-{{ help.name }}]').length) { // si l'icône n'existe pas
                    var help_icon = '<i class="ctx-help-{{ help.name }}"></i>';
                    {% for inserts in help.position_as_list %}
                        {% if inserts.typeinsert == 'after' %}
                            $('{{ inserts.selecteur }}').after(help_icon); // l'insérer après
                        {% else %}
                            $('{{ inserts.selecteur }}').append(help_icon);  // l'insérer dedans
                        {% endif %}
                    {% endfor %}
                    $('[class^=ctx-help-{{ help.name }}]').tooltip({  // et activer la tooltip
                        title: retrieveData,
                        html: true,
                        container: 'body',
                        trigger: 'click',
                        placement: 'top',
                    });
                }
            {% endfor %}
        }
        $(function() { showcontexthelps(); });
    </script>
{% else %}
    <script>
        function showcontexthelps() {}
    </script>
{% endif %}

<script>
    function nav_obselete(){

        let ua = navigator.userAgent
        let is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;
        if (is_ie){
            return false
        }
        let ok = true
        if (ua.search('Firefox/')!==-1){
            ok = ua.split('Firefox/')[1] >= 60
        }
        else if (ua.search('Chrome/')!==-1){
            ok = ua.split('Chrome/')[1].split('.')[0] >= 60
        }
        return ok
    }

    /* Create an alert to show if the browser is IE or not */
    if (!nav_obselete()){
        console.log('nan')
        let a = document.getElementById('nav_obselete')
        a.style.display = null
    }


    if (typeof CKEDITOR!=="undefined"){
        CKEDITOR.dtd.$removeEmpty['span'] = false;
        CKEDITOR.dtd.$removeEmpty['i'] = false;
    }</script>
<script src='{% static "libs/clever-selects.js" %}' type="text/javascript"></script>
<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
</body>
</html>
