{% extends "base.html" %}
{% load i18n file_tags thumbnail_filter instruction_tags %}

{% block head_title %}
    Compteur des instructions en mairie impossible
{% endblock %}
{% block sub-title %}
    Compteur des instructions en mairie impossible
{% endblock sub-title %}
{% block page_title %}
    <h1>Compteur des instructions en mairie impossible</h1>
{% endblock %}
{% block content %}
    <div class="d-flex mt-2">
        <div class="col-6 modal-header card-header" id="modal-instance-selecteur">
            {% if instances %}
                <label for="instances" style="font-size: 1rem">Département :</label>
                <select id="select-instances-modal" name="instance">
                    <option value="" disabled selected>Sélectionnez un département</option>
                    {% for instance in instances %}
                        <option value="{{ instance.id }}">{{ instance }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <label for="instances" style="font-size: 1rem">{{ request.user.default_instance }}</label>
            {% endif %}
        </div>
        <div class="col-6 modal-header card-header" id="modal-instance-selecteur">
            <label for="annee" style="font-size: 1rem">Année :</label>
            <select id="annee">
                <option value="" disabled {% if not annee %} selected{% endif %}>Sélectionnez l'année à consulter :</option>
                {% for year in liste_annee_archives %}
                    <option value="{{ year }}" {% if year == annee %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-5 libelle">Message envoyé :</div>
                <div class="col-7 valeur" id="message_envoie_count">{{  message_envoie_count}}</div>
            </div>
            <div class="row mb-2">
                <div class="col-5 libelle">Pas de compte agent :</div>
                <div class="col-7 valeur" id="message_pas_agent_count">{{  message_pas_agent_count}}</div>
            </div>
            <div class="row mb-2">
                <div class="col-5 libelle">Pas de compte agent actif :</div>
                <div class="col-7 valeur" id="message_pas_agent_actif_count">{{  message_pas_agent_actif_count}}</div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function (){
            $('select').change(function (){
                var instance = ""
                var annee = ""
                if($('#annee').val()){
                    annee = $('#annee').val()
                }
                if($('#select-instances-modal').val()){
                    instance = $('#select-instances-modal').val()
                }
                $.get({
                    url: '{% url "portail:compteur_absence_instruction_mairie"%}',
                    data: {
                        'annee': annee,
                        'instance':  instance,
                    },
                    success :
                        function (reponse){
                            $("#message_envoie_count").text(reponse['message_envoie_count'])
                            $("#message_pas_agent_count").text(reponse['message_pas_agent_count'])
                            $("#message_pas_agent_actif_count").text(reponse['message_pas_agent_actif_count'])
                        }
                })
            })
        })
    </script>
{% endblock %}