{% extends "base.html" %}

{% load i18n %}

{% block head_title %}
    Statistiques Instructeurs
{% endblock %}

{% block page_title %}
    <h1>Statistiques Instructeurs {% if dept %}{{ dept }}{% endif %}</h1>
{% endblock %}

{% block content %}
    <p>
        Périmètre d'analyse :
        <select class="form-control" id="dept" name="dept" style="width: 200px;">
            {% if user.is_superuser %}
                {% for nb, dept in liste_dept %}
                    {% if nb == request.GET.dept or dept == user.get_departement %}
                        <option selected value="{{ nb }}">{{ dept }}</option>
                    {% else %}
                        <option value="{{ nb }}">{{ dept }}</option>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for nb, dept in liste_dept %}
                    {% if dept == user.get_departement %}
                        {% if nb == request.GET.dept %}
                            <option selected value="{{ nb }}">{{ dept }}</option>
                        {% else %}
                            <option value="{{ nb }}">{{ dept }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <option value="nationale" {% if request.GET.dept == "nationale" %} selected  {% endif %}> Nationale</option>
        </select>

        <span id="chargement" style="width: 100%;"></span>

        <a class="btn btn-primary text-white mb-2 float-right" onclick='window.location.assign("/stat/")'>
            <i class="statistiques"></i> Consulter les statistiques générales</a>
    </p>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th colspan="2">
               Nombre d'instructions :
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>en cours</td>
            <td class="table-info text-right">{{ instruction_en_cours }}</td>
        </tr>
        <tr>
            <td>terminées</td>
            <td class="table-info text-right">{{ instruction_terminée }}</td>
        </tr>
        <tr>
            <td>avec demandes d'avis pas encore envoyées</td>
            <td class="table-info text-right">{{ instruction_demande }}</td>
        </tr>
        <tr>
            <td>avec demandes d'avis envoyées</td>
            <td class="table-info text-right">{{ instruction_commence }}</td>
        </tr>
        <tr>
            <td>en attente de décision tandis que tous les avis sont reçus</td>
            <td class="table-info text-right">{{ instruction_attente_decision }}</td>
        </tr>
        <tr>
            <td>en attente d'avis tandis que tous les préavis sont reçus (concerne les services "complexes")</td>
            <td class="table-info text-right">{{ instruction_en_attente_avis }}</td>
        </tr>
        <tr>
            <td>en attente de préavis (concerne les services "complexes")</td>
            <td class="table-info text-right">{{ instruction_en_attente_preavis }}</td>
        </tr>
        </tbody>
    </table>


    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th colspan="5">
                Délai de réponse moyen en jour
            </th>
        </tr>
        <tr>
            <td></td>
            {% for y in stat.annees %}
                <th class="text-center">{{ y }}</th>
            {% endfor %}
            <th class="text-center table-info">Moyenne</th>
        </tr>
        </thead>
        <tbody>
        <tr class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <td>
                <a role="button"
                    data-toggle="collapse"
                    href="#delai-avis-par-service"
                    aria-expanded="true" aria-controls="delai-avis-par-service" id="delai-service-avis">
                    <i class="fas fa-plus"></i>des services émetteurs d'avis<i class="delai-service"></i>
                </a>
            </td>
            {% for key, value in stat.delai_avis_moyen_par_annee.items %}
                <td class="text-right">{{ value }}</td>
            {% endfor %}
            <td class="text-right table-info">{{ stat.delai_avis_moyen }}</td>
        </tr>

        {% for service in stat.delai_avis_par_service %}
            {% if service.delai_avis_moyen %}
                <tr id="delai-avis-par-service"
                 class="panel-collapse"
                 role="tabpanel"
                 data-parent="#accordion"
                 aria-labelledby="heading">
                    <td class="pl-5"><i class="fas fa-minus" style="color:#9aa400;"></i> {{ service.nom }}</td>
                    {% for key, value in service.delai_avis_moyen_par_annee.items %}
                    <td class="text-right">{{ value }}</td>
                    {% endfor %}
                    <td class="text-right table-info">{{ service.delai_avis_moyen }}</td>
                </tr>
            {% endif %}
        {% endfor %}


        <tr class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <td>
                <a role="button"
                    data-toggle="collapse"
                    href="#delai-preavis-par-service"
                    aria-expanded="true" aria-controls="collapse" id="delai-service-preavis">
                    <i class="fas fa-plus"></i>des services émetteurs de préavis<i class="delai-service"></i>
                </a>
            </td>
            {% for key, value in stat.delai_preavis_moyen_par_annee.items %}
                <td class="text-right">{{ value }}</td>
            {% endfor %}
            <td class="text-right table-info">{{ stat.delai_preavis_moyen }}</td>
        </tr>{{ stat.services }}

        {% for service in stat.delai_preavis_par_service %}
            {% if service.delai_preavis_moyen %}
                <tr id="delai-preavis-par-service"
                 class="panel-collapse"
                 role="tabpanel"
                 data-parent="#accordion"
                 aria-labelledby="heading">
                    <td class="pl-5"><i class="fas fa-minus" style="color:#9aa400;"></i> {{ service.nom }}</td>
                    {% for key, value in service.delai_preavis_moyen_par_annee.items %}
                    <td class="text-right">{{ value }}</td>
                    {% endfor %}
                    <td class="text-right table-info">{{ service.delai_preavis_moyen }}</td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function(){
            $('#dept').on('change', function () {
                $('#chargement').prepend('<span class="attendre"><i class="spinner"></i> Chargement</span>');
                AfficherIcones();
                $('.attendre').animate({
                    width: '100px'
                }, 500, "linear");
                $('td').each(function () {
                    $(this).empty();
                });
                let pk = $('#dept').val();
                if(pk !== '') {
                    window.location.assign("/stat_instructeur/?dept=" + pk);
                } else {
                    window.location.assign("/stat_instructeur/");
                }
            });
        })
    </script>
{% endblock %}