{% extends "base.html" %}

{% load i18n humanize %}

{% block head_title %}
    Statistiques
{% endblock %}

{% block page_title %}
    <h1>Statistiques de la plateformes Manifestations Sportives {% if request.GET.dept %}{{ dept }}{% endif %}</h1>
{% endblock %}

{% block content %}
    <p>
        Périmètre d'analyse :
        <select class="form-control" id="dept" name="dept" style="width: 200px;">
            {% if user.is_superuser %}
                {% for nb, dept in liste_dept %}
                    {% if nb == request.GET.dept or dept == user.get_departement %}
                        <option selected value="{{ nb }}">{{ dept }}</option>
                    {% else %}
                        <option value="{{ nb }}">{{ dept }}</option>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for nb, dept in liste_dept %}
                    {% if dept == user.get_departement %}
                        {% if nb == request.GET.dept %}
                            <option selected value="{{ nb }}">{{ dept }}</option>
                        {% else %}
                            <option value="{{ nb }}">{{ dept }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <option value="nationale" {% if request.GET.dept == "nationale" %} selected  {% endif %}> Nationale</option>
        </select>

    <span id="chargement" style="width: 100%;"></span>

    {% if user.instructeur %}
        <a class="btn btn-primary text-white mb-2 float-right" onclick='window.location.assign("/stat_instructeur/")'>
            <i class="statistiques"></i> Consulter les statistiques instructeurs</a>
    {% endif %}
    </p>

    <table class="table table-hover table-bordered w-50">
        <tbody>
        <tr>
            <th>Nombre de sessions en cours</th>
            <td class="table-info text-center">{{ stat.connected_user|intcomma }}</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <td class="text-right">Année du début de la manifestation :</td>
            {% for y in stat.annees %}
                <th class="text-center">{{ y }}</th>
            {% endfor %}
            <th class="table-info text-center">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Nombre de manifestations</th>
            {% for key, value in stat.nb_dossier_par_annee.items %}
                <td class="py-2 text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_dossier|intcomma }}</td>
        </tr>


        <tr>
            <th class="pl-5 py-2">Ancienne réglementation</th>
            {% for key, value in stat.ancien_par_annee.items %}
            <td class="py-2 text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_dossier_anciens|intcomma }}</td>
        </tr>
        <tr>
            <th class="pl-5 py-2">DNM <i class="declaration"></i><i class="sans-vtm"></i><i class="voie-publique"></i><i class="sans-competition"></i></th>
            {% for key, value in stat.dnm_par_annee.items %}
            <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_cerfa_dnm|intcomma }}<br><small>{{ stat.pourcentage_cerfa_dnm }} %</small></td>
        </tr>
        <tr>
            <th class="pl-5 py-2">DNMC <i class="declaration"></i><i class="sans-vtm"></i><i class="voie-publique"></i><i class="sans-competition"></i><i class="cyclisme"></i></th>
            {% for key, value in stat.dnmc_par_annee.items %}
            <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_cerfa_dnmc|intcomma }}<br><small>{{ stat.pourcentage_cerfa_dnmc }} %</small></td>
        </tr>
        <tr>
            <th class="pl-5 py-2">DCNM <i class="declaration"></i><i class="sans-vtm"></i><i class="voie-publique"></i><i class="competition"></i></th>
            {% for key, value in stat.dcnm_par_annee.items %}
            <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_cerfa_dcnm|intcomma }}<br><small>{{ stat.pourcentage_cerfa_dcnm }} %</small></td>
        </tr>
        <tr>
            <th class="pl-5 py-2">DCNMC <i class="declaration"></i><i class="sans-vtm"></i><i class="voie-publique"></i><i class="competition"></i><i class="cyclisme"></i></th>
            {% for key, value in stat.dcnmc_par_annee.items %}
            <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_cerfa_dcnmc|intcomma }}<br><small>{{ stat.pourcentage_cerfa_dcnmc }} %</small></td>
        </tr>
        <tr>
            <th class="pl-5 py-2">DVTM <i class="declaration"></i><i class="vtm"></i><i class="voie-publique"></i><i class="sans-competition"></i></th>
            {% for key, value in stat.dvtm_par_annee.items %}
            <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_cerfa_dvtm|intcomma }}<br><small>{{ stat.pourcentage_cerfa_dvtm }} %</small></td>
        </tr>
        <tr>
            <th class="pl-5 py-2">AVTM <i class="autorisation"></i><i class="vtm"></i><i class="voie-publique"></i><i class="sans-competition"></i></th>
            {% for key, value in stat.avtm_par_annee.items %}
            <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_cerfa_avtm|intcomma }}<br><small>{{ stat.pourcentage_cerfa_avtm }} %</small></td>
        </tr>
        <tr>
            <th class="pl-5 py-2">AVTMCIR <i class="declaration"></i><i class="vtm"></i><i class="hors-voie-publique"></i><i class="sans-competition"></i><i class="circuit-homologue"></i></th>
            {% for key, value in stat.avtmcir_par_annee.items %}
            <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_cerfa_avtmcir|intcomma }}<br><small>{{ stat.pourcentage_cerfa_avtmcir }} %</small></td>
        </tr>

        {# Séparateur #}
        <tr class="table-secondary">
            <td class="pb-1 border-0"></td>
            {% for key, value in stat.nb_manif_crees_par_annee.items %}
                <td class="pb-1 border-0"></td>
            {% endfor %}
            <td class="pb-1 border-0"></td>
        </tr>

        <tr>
            <th><i class="sans-vtm"></i> Manifestations non motorisées dans l'année</th>
            {% for key, value in stat.manif_non_motorisees_par_annee.items %}
                <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_manif_non_motorisees|intcomma }}<br><small>{{ stat.pourcentage_manif_non_motorisees }} %</small></td>
        </tr>
        <tr>
            <th><i class="vtm"></i> Manifestations motorisées dans l'année</th>
            {% for key, value in stat.manif_motorisees_par_annee.items %}
                <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_manif_motorisees|intcomma }}<br><small>{{ stat.pourcentage_manif_motorisees }} %</small></td>
        </tr>
        <tr>
            <th><i class="date"></i>Manifestations ajoutées au calendrier</th>
            {% for key, value in stat.manif_dans_calendrier_par_annee.items %}
                <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_manif_dans_calendrier|intcomma }}<br><small>{{ stat.pourcentage_manif_dans_calendrier }} %</small></td>
        </tr>

        <tr>
            <th><i class="ville"></i>Manifestations ne restant que sur une seule commune</th>
            {% for key, value in stat.manif_une_commune_par_annee.items %}
                <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_manif_une_commune|intcomma }}<br><small>{{ stat.pourcentage_manif_une_commune }} %</small></td>
        </tr>

        {# Séparateur #}
        <tr class="table-secondary">
            <td class="pb-1 border-0"></td>
            {% for key, value in stat.nb_manif_crees_par_annee.items %}
                <td class="pb-1 border-0"></td>
            {% endfor %}
            <td class="pb-1 border-0"></td>
        </tr>
        <tr>
            <th class=""><i class="feuille-verte"></i>Evaluations simplifiées Natura 2000 dans l'année</th>
            {% for key, value in stat.nb_eval_n2k_par_annee.items %}
                <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_eval_n2k|intcomma }}<br><small>{{ stat.pourcentage_eval_n2k }} %</small></td>
        </tr>
        <tr>
            <th class=""><i class="feuille-verte"></i>Evaluations simplifiées RNR dans l'année</th>
            {% for key, value in stat.nb_eval_rnr_par_annee.items %}
                <td class="py-2 text-right">{{ value.0 }}<br><small>{{ value.1 }} %</small></td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_eval_rnr|intcomma }}<br><small>{{ stat.pourcentage_eval_rnr }} %</small></td>
        </tr>
        {# Séparateur #}
        <tr class="table-secondary">
            <td class="pb-1 border-0"></td>
            {% for key, value in stat.nb_manif_crees_par_annee.items %}
                <td class="pb-1 border-0"></td>
            {% endfor %}
            <td class="pb-1 border-0"></td>
        </tr>
        <tr>
            <th class=""><i class="dossier"></i>Dossiers créés dans l'année</th>
            {% for key, value in stat.nb_manif_crees_par_annee.items %}
                <td class="py-2 text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_manif_crees }}<br></td>
        </tr>
        {# Séparateur #}
        <tr class="table-secondary">
            <td class="pb-1 border-0"></td>
            {% for key, value in stat.nb_manif_crees_par_annee.items %}
                <td class="pb-1 border-0"></td>
            {% endfor %}
            <td class="pb-1 border-0"></td>
        </tr>

        <tr>
            <th><i class="utilisateur"></i>Utilisateurs</th>
            {% for key, value in stat.nb_utilisateur_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_utilisateur|intcomma }}</td>
        </tr>
        <tr>
            <th><i class="organisateur"></i>Organisateurs</th>
            {% for key, value in stat.nb_organisateur_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_organisateur|intcomma }}</td>
        </tr>
        <tr>
            <th><i class="instructeur"></i>Instructeurs</th>
            {% for key, value in stat.nb_instructeur_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_instructeur|intcomma }}</td>
        </tr>
        <tr>
            <th><i class="instructeur"></i>Agents mairie</th>
            {% for key, value in stat.nb_agentmairie_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_agentmairie|intcomma }}</td>
        </tr>
        <tr>
            <th><i class="agent-departemental"></i>Agents des services consultés "simples" (mairies incluses)</th>
            {% for key, value in stat.nb_agent_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_agent|intcomma }}</td>
        </tr>
        <tr>
            <th><i class="agent-local"></i>Agents locaux des services consultés "complexes"</th>
            {% for key, value in stat.nb_agentlocaux_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_agentlocaux|intcomma }}</td>
        </tr>
        {# Séparateur #}
        <tr class="table-secondary">
            <td class="pb-1 border-0"></td>
            {% for key, value in stat.nb_manif_crees_par_annee.items %}
                <td class="pb-1 border-0"></td>
            {% endfor %}
            <td class="pb-1 border-0"></td>
        </tr>
        <tr>
            <th><i class="avis"></i>Avis demandés</th>
            {% for key, value in stat.nb_avis_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_avis|intcomma }}</td>
        </tr>
        <tr>
            <th><i class="preavis"></i>Pré-avis demandés</th>
            {% for key, value in stat.nb_preavis_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_preavis|intcomma }}</td>
        </tr>
        <tr>
            <th><i class="action"></i>Actions majeures réalisées par les utilisateurs</th>
            {% for key, value in stat.nb_action_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_action|intcomma }}</td>
        </tr>
        <tr>
            <th><i class="notifier"></i>Notifications envoyées par la plateforme</th>
            {% for key, value in stat.nb_notification_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_notification|intcomma }}</td>
        </tr>
        {# Séparateur #}
        <tr class="table-secondary">
            <td class="pb-1 border-0"></td>
            {% for key, value in stat.nb_manif_crees_par_annee.items %}
                <td class="pb-1 border-0"></td>
            {% endfor %}
            <td class="pb-1 border-0"></td>
        </tr>
        <tr>
            <th><i class="msg_conversation"></i>Conversations envoyées</th>
            {% for key, value in stat.nb_msg_conversation_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_msg_conversation|intcomma }}</td>
        </tr>
        <tr>
            <th><i class="msg_action"></i>Demandes d'action envoyées</th>
            {% for key, value in stat.nb_msg_action_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_msg_action }}</td>
        </tr>
        <tr>
            <th><i class="msg_suivi"></i>Informations de suivi envoyées</th>
            {% for key, value in stat.nb_msg_info_suivi_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_msg_info_suivi|intcomma }}</td>
        </tr>
        <tr>
            <th><i class="actualite"></i>Actualités de la plateforme envoyées</th>
            {% for key, value in stat.nb_msg_news_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_msg_news|intcomma }}</td>
        </tr>
        <tr>
            <th><i class="msg_tracabilite"></i>Traçabilités envoyées</th>
            {% for key, value in stat.nb_msg_tracabilite_par_annee.items %}
                <td class="text-right">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-right">{{ stat.nb_msg_tracabilite|intcomma }}</td>
        </tr>

        </tbody>
    </table>

{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function(){
            $('#dept').on('change', function () {
                $('#chargement').prepend('<span class="attendre"><i class="spinner"></i> Chargement</span>');
                AfficherIcones();
                $('.attendre').animate({
                    width: '100px'
                }, 500, "linear");
                $('td').each(function () {
                    $(this).empty();
                });
                let pk = $('#dept').val();
                if(pk !== '') {
                    window.location.assign("/stat/?dept=" + pk);
                } else {
                    window.location.assign("/stat/");
                }
            });
        })
    </script>
{% endblock %}