.orange {
    color: #ffc107
}

.violet {
    color: #DB37D0;
}

@font-face {
    font-family: 'openscop-icon';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("/static/e92c38e5d45080594c8fc11d57743492/libs/fontawesome-pro/webfonts/fa-solid-900.woff2") format("woff2"), url("/static/e92c38e5d45080594c8fc11d57743492/libs/fontawesome-pro/webfonts/fa-solid-900.ttf") format("truetype");
}

#network {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

#graph {
    display: flex;
    min-width: 0;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    background-color: #fbfbfb;
    position: relative;
}

#services {
    user-select: none;
    display: flex;
    flex-direction: column;
    width: 200px;
    min-width: 200px;
    height: 100%;
    overflow: auto;
}

.services-header {
    padding: 5px;
}

.item-service {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 10px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
}

.no-service {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 5px;
}

.item-service:not(.item-service ~ .item-service) {
    border-top: 1px solid #ddd;
}

.item-service-name {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    items-align: center;
}

.toastify.success {
    color: #ffffff;
    background: -webkit-linear-gradient(315deg, #198754, #198754) !important;
    background: linear-gradient(135deg, #198754, #198754) !important;
}

.toastify.warning {
    color: #ffffff;
    background: -webkit-linear-gradient(315deg, #ffc107, #ffc107) !important;
    background: linear-gradient(135deg, #ffc107, #ffc107) !important;
}

.toastify.danger {
    color: #ffffff;
    background: -webkit-linear-gradient(315deg, #dc3545, #dc3545) !important;
    background: linear-gradient(135deg, #dc3545, #dc3545) !important;
}

.toastify.info {
    color: #ffffff;
    background: -webkit-linear-gradient(315deg, #17a2b8, #17a2b8) !important;
    background: linear-gradient(135deg, #17a2b8, #17a2b8) !important;
}