.toolbar {
    position: absolute;
    display: flex;
    background-color: transparent;
    border-radius: 0 0 5px 0;
    padding: 5px;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.toolbar.edges {
    background-color: white;
    left: 0;
    top: 0;
}

.toolbar-element {
    display: flex;
    flex-direction: column;
}

.toolbar-label.flex {
    display: flex;
    align-items: center;
}

.toolbar-actions {
    display: flex;
    padding: 0;
    margin: 0;
}

.toolbar-actions .toolbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 10px;
    border: 1px solid #ddd;
}

.toolbar-actions.images .toolbar-item {
    width: 100px;
    height: 30px;
}

.toolbar-actions.images .toolbar-item > img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.toolbar-actions.images .toolbar-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.toolbar-actions.images .toolbar-item.active {
    transform: scale(1.1);
    box-shadow: 0 0 6px 0 #767f00;
    -webkit-box-shadow: 0 0 6px 0 #767f00;
}

.toolbar-label .toolbar-actions {
    margin-bottom: 5px;
}

.toolbar-actions.icones {
    justify-content: flex-end;
}

.toolbar-actions.icones .toolbar-item {
    width: 30px;
    height: 30px;
    margin: 0;
}
.toolbar-actions.icones  .toolbar-item:last-child {
    margin-left: 5px !important;
}

.toolbar-actions.icones .toolbar-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.toolbar-actions.icones .toolbar-item.active {
    transform: scale(1.1);
    box-shadow: 0 0 5px 0 #767f00;
    -webkit-box-shadow: 0 0 5px 0 #767f00;
}


.toolbar.legend {
    bottom: 5px;
    right: 5px;
    border-bottom: none !important;
}

.toolbar.legend .fab {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 1px 1px 3px black;
    background-color: rgba(14, 97, 110);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: help;
    z-index: 10;
}

.toolbar.legend .fab:hover, .toolbar.legend.active .fab {
    transform: scale(1.15);
    box-shadow: 1px 1px 3px black;
    background-color: rgba(14, 97, 110, 0.3);
}

.toolbar.legend .legend-items {
    list-style-type: none;
    position: absolute;
    bottom: 50px;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s linear;
}

.toolbar.legend .fab:hover ~ .legend-items, .toolbar.legend.active .legend-items {
    max-height: 600px;
}

.toolbar.legend .legend-item {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    transition: all;
}

.toolbar.legend .item-label {
    padding: 2px 5px;
    align-self: center;
    user-select: none;
    background-color: black;
    color: white;
    border-radius: 3px 0 0 3px;
    box-shadow: 1px 1px 1px #aaaaaa;
    white-space: nowrap;
}

.toolbar.legend .item-icon {
    width: 30px;
    background-color: white;
    padding: 3px;
    border-radius: 0 3px 3px 0;
    box-shadow: 1px 1px 1px #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}