.openscop-tooltip {
    background-color: whitesmoke;
    position: absolute;
    top: 50px !important;
    left: 50px !important;
    right: 50px !important;
    bottom: 50px !important;
    z-index: 50;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.tooltip-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    overflow: auto;
}

.tooltip-close {
    cursor: pointer;
    position: absolute;
    line-height: normal;
    right: 5px;
    top: 5px;
    display: flex;
    padding: 4px 6px;
    color: #fff;
    border-radius: 4px;
    background-color: #015a70;
    justify-content: center;
    align-items: center;
}