{% extends "admin/base.html" %}
{% load static i18n clever_selects_extras %}

{% block title %}{{ title }} | Administration de la plateforme Manifestation Sportive{% endblock %}

{% block branding %}
<h1 id="site-name">Administration Manifestation Sportive</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
    <link rel="icon" href="/static/portail/img/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="{% static 'portail/css/admin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "portail/css/foldable_admin.css" %}" />

    <!-- Bof bugfix
    Contournement de bug JS provoqué par la mise à jour 2.2 de Django à cause de l'ordre de chargement des fichiers JS...
    en attendant sa résolution dans les librairies officielles !
    Problème rencontré avec la librairie django-import-export   https://github.com/django-import-export/django-import-export
    Impacte également django-ajax-select   https://github.com/crucialfelix/django-ajax-selects/issues/248 : le
    chargement de jQueryUI est nécessaire ici car désactivé dans settings.AJAX_SELECT_BOOTSTRAP
    Todo : à retirer dès que possible
    -->
    <link href="{% static 'libs/jquery-ui/jquery-ui.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/fontawesome-pro/css/all.css' %}" rel="stylesheet" typeof="text/css">
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/foldable_admin.js' %}"></script>
    <!-- Eof bugfix  -->
{% endblock %}

{% block footer %}
    <div id="footer"></div>
    {% clever_selects_js_import %}

    <script>
        // bof : ajouter / supprimer des utilisateurs à un groupe
        // Est exploité sur la page /admin/core/user/
        var $ = django.jQuery;

        let select = $("select[name='nomGroupe']")
        if (select != "undefined") {
            select.parent().hide()
        }
        $("select[name='action']").change(function (e) {
            if ($(this).val() === "ajouter_utilisateur_a_un_groupe" || $(this).val() === "supprimer_utilisateur_a_un_groupe") {
                select.parent().show();
            }
        })
        // eof : ajouter / supprimer des utilisateurs à un groupe
    </script>
    <script>
    if (typeof CKEDITOR!=="undefined"){
    CKEDITOR.dtd.$removeEmpty['span'] = false;
    CKEDITOR.dtd.$removeEmpty['i'] = false;
    }</script>
    <script src="{% static 'portail/js/icone.js' %}"></script>
    <script>AfficherIcones()</script>

{% endblock %}