<div class="card liste-actions mb-3">
    <div class="card-header bg-primary">
        <i class="consulter"></i> Accès en lecture seule
    </div>
    <div class="card-body">
        <p>Octroyé le {{ consult.date_creation|date:'d/m/Y' }},<br>
            par {{ consult.createur.get_full_name }}<br>
            de {{ consult.organisation_origine_fk }}
        </p>
        {% if btn_autoriser_depot %}
            <ul class="list-no-style">
                <li>
                    <a href="#" class="formdepot" role="button">
                        <i class="valider"></i> Autoriser le dépôt hors délai
                    </a>
                </li>
            </ul>
            <div id="horsdepot" class="mb-3 mt-2" style="display: none;">
                <div id="horsdepot_content" style="display: none;"></div>
            </div>
        {% else %}
            <p>Aucune action possible sur ce dossier.</p>
        {% endif %}
        <p><i class="astuce"></i>La messagerie est disponible pour converser.</p>
    </div>
</div>