{% if object.get_anomalie_commune_parcours_cerfa or object.get_anomalie_departement_parcours_cerfa %}
    <div class="alert alert-warning p-1 rounded">
        <div class="mb-2">
            <i class="attention"></i><strong>Des incohérences sont détectées entre <i class="detail ms-3"></i> Détail de la manifestation <span class="ms-3">et</span> <i class="carto ms-3"></i> Cartographie :</strong>
        </div>
        {% if object.get_anomalie_departement_parcours_cerfa.departements_en_trop %}
            <div class="row mb-2">
                <div class="col-6 libelle">
                    Département <strong>présent</strong> dans le détail de la manifestation et<br> <strong>non présent</strong> dans la cartographie :
                </div>
                <div class="col-6 valeur">
                    {% for dep in object.get_anomalie_departement_parcours_cerfa.departements_en_trop %}
                        {% if forloop.last %}
                            {{ dep }}.
                        {% else %}
                            {{ dep }},
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if object.get_anomalie_departement_parcours_cerfa.departements_en_moins %}
            <div class="row mb-2">
                <div class="col-6 libelle">
                    Département <strong>non présent</strong> dans le détail de la manifestation et<br> <strong>présent</strong> dans la cartographie :
                </div>
                <div class="col-6 valeur">

                    {% for dep in object.get_anomalie_departement_parcours_cerfa.departements_en_moins %}
                        {% if forloop.last %}
                            {{ dep }}.
                        {% else %}
                            {{ dep }},
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        {% endif %}
        {% if object.get_anomalie_commune_parcours_cerfa.communes_en_trop %}
            <div class="row mb-2">
                <div class="col-6 libelle">
                    Communes <strong>présentes</strong> dans le détail de la manifestation et<br> <strong>non présentes</strong> dans la cartographie :
                </div>
                <div class="col-6 valeur">
                    {% for commune in object.get_anomalie_commune_parcours_cerfa.communes_en_trop %}
                        {% if forloop.last %}
                            {{ commune.zip_code }} - {{ commune }}.
                        {% else %}
                            {{ commune.zip_code }} - {{ commune }},
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if object.get_anomalie_commune_parcours_cerfa.communes_en_moins %}
            <div class="row mb-2">
                <div class="col-6 libelle">
                    Communes <strong>non présentes</strong> dans le détail de la manifestation et<br> <strong>présentes</strong> dans la cartographie :
                </div>
                <div class="col-6 valeur">

                    {% for commune in object.get_anomalie_commune_parcours_cerfa.communes_en_moins %}
                        {% if forloop.last %}
                            {{ commune.zip_code }} - {{ commune }}.
                        {% else %}
                            {{ commune.zip_code }} - {{ commune }},
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        {% endif %}
    {% if creer %}
        <div>
            <input class="mx-2" type="checkbox" name="confirme_anomalie" id="confirme_anomalie">J'ai pris connaissance de ces anomalies et confirme qu'elles sont volontaires</div>
        </div>
    {% endif %}
    </div>
{% endif %}