{% load i18n %}
{% load humanize %}

{% if not object.delai_depasse %}
    {% if object.deux_semaines_restantes %}
        <div class="alert alert-danger">
            <p><strong>Attention ! </strong>
                {{ object.get_date_limite|naturaltime|capfirst }}, il sera trop tard pour déclarer la manifestation en préfecture ou demander son autorisation
            </p>
        </div>
    {% else %}
        <div class="alert alert-warning">
            <p><strong>Attention ! </strong>
                Vous avez jusqu'au {{ object.get_date_limite.date|date|capfirst }},
                pour déclarer la manifestation en préfecture ou pour demander son autorisation
            </p>
        </div>
    {% endif %}
{% else %}
    {% if object.autorisation_hors_delai_json and not object.date_depassee %}
        <div class="alert alert-danger">
            <p><strong>Attention ! </strong>
                Vous avez obtenu l'autorisation de déposer votre dossier hors délai.
            </p>
        </div>
    {% else %}
        <div class="alert alert-danger">
            <p><strong>Attention ! </strong>
                Il est maintenant trop tard pour déclarer votre manifestation ou demander son autorisation sur cette plateforme.<br/>
                Veuillez contacter la préfecture pour plus de détails
            </p>
        </div>
    {% endif %}
{% endif %}
