{% load i18n %}

<div class="row" style="font-size: 0.9rem;">
    <div class="col-sm-5">
        <span title="Nom de la manifestation" data-bs-toggle="tooltip"><i class="dossier no-tooltip"></i>
        <strong>{{ manif|truncatechars:60|capfirst }}</strong></span><br>
        <a target="_blank" class="text-white" href="{% url "structure:fiche_organisation" pk=manif.structure_organisatrice_fk.pk %}"><span title="Nom de la structure organisatrice" data-bs-toggle="tooltip"><i class="structure no-tooltip"></i>{{ manif.structure_organisatrice_fk.precision_nom_s|truncatechars:60|capfirst }}</span></a><br>
        <span title="Discipline ➝ activitée" data-bs-toggle="tooltip"><i class="activite no-tooltip"></i> {{ manif.activite.discipline }} ➝ {{ manif.activite }}</span><br>
        <span title="Date de début de la manifestation" data-bs-toggle="tooltip"><i class="date no-tooltip"></i>
        {{ manif.date_debut|date:"D j F Y" }}</span><br>
        <span title="Commune de départ" data-bs-toggle="tooltip" class=""><i class="ville no-tooltip"></i>
        {{ manif.ville_depart }} ({{ manif.instance.departement }})</span><br>
        {% if manif.get_arrondissement_traverse_parcours %}
        <span title="Arrondissement traversés" data-bs-toggle="tooltip" class=""><i class="fa-solid fa-map-location-dot"></i>
        {% for arrondissement in manif.get_arrondissement_traverse_parcours %}{% if forloop.last %}{{ arrondissement }}. {% else %}{{ arrondissement }}, {% endif %}{% endfor %}</span><br>
        {% endif %}
        {% if manif.instance_instruites.all.count > 1 %}
        <span title="Autres départements traversés" data-bs-toggle="tooltip"><i class="interdep no-tooltip"></i>{% for dep in manif.departements_traverses.all %}{{ dep }}{% if not forloop.last %}, {% else %}.<br>{% endif %}{% endfor %}</span>
        {% endif %}
    </div>
    <div class="col-sm-3">
        {% include 'evenements/pictos/type_evenement.html' %}<br>
        <small>{{ manif.get_cerfa.refCerfa|capfirst }} <em>({{ manif.get_type_manif }})</em></small>
        <div class="">
            Nombre d'utilisateur sur le dossier : {{ manif.get_nbr_ppl }}
            {% if referent %}<i class="instructeur"></i> Instructeur : {{ referent }} {% endif %} <br>
            <i class="historique"></i> Dernière action : {{ last_action.date|date:"d N G:i" }}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row h-75 justify-content-end">
            {% if not manif.date_depassee %}
                <div class="col-sm-4 text-center">
                    Délai <br>
                    <div class="mt-3">{% include 'evenements/pictos/delai.html' %}</div>
                </div>
            {% endif %}
            <div class="col-sm-4 text-center">
                Complétude <br>
                <div class="mt-3">
                    {% if manif.get_cerfa.dossier_complet %}
                        {% if manif.get_instruction.doc_verif %}
                            <i class="dossier-complet-verifie" data-nb_jour='{{ manif.get_cerfa.delai_en_cours }}'></i>
                        {% else %}
                            <i class="dossier-complet-non-verifie"
                               data-nb_jour='{{ manif.get_cerfa.delai_en_cours }}'></i>
                        {% endif %}
                    {% else %}
                        <i class="dossier-incomplet" data-nb_jour='{{ manif.get_cerfa.delai_en_cours }}'></i>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4 text-center">
                État <br>
                <div class="mt-3">
                    {% include 'evenements/pictos/etat.html' with service=service%}
                </div>
            </div>
        </div>
    </div>
</div>
