
{% load i18n %}

<td style="width: 10%">
    {{ piece.nature }}
</td>
<td style="width: 30%">{{ piece.nom }}
    {% if piece.champ_cerfa and "demande_instructeur" not in piece.champ_cerfa %}
        <i class="ctx-help-manif_form_{{ piece.champ_cerfa }} float-end d-block"></i>
    {% else %}
        {% if piece.info %}
            <i class="fas fa-info-circle float-end d-block" style="color: #9AA400" data-bs-toggle="tooltip"
               title="{{ piece.info|linebreaks }}{% if piece.date_demande %},<br> demandée le {{ piece.date_demande }}{% endif %}"></i>
        {% endif %}
    {% endif %}
</td>
<td style="width: 10%">
    {% if piece.date_limite %}
        <span hidden>{{ piece.date_limite|date:"Y/m/d" }}</span>{{ piece.date_limite|date:"d/m/Y" }}
    {% else %}
        Aucune
    {% endif %}
</td>
<td style="width: 10%;">
    {% if piece.date_televersement %}
        <span hidden>{{ piece.date_televersement|date:"Y/m/d" }}</span>
        {{ piece.date_televersement|date:"d/m/Y" }}
    {% endif %}
</td>
<td style="display: none">{% if piece.document_attache %}1{% else %}2{% endif %}</td>
