{% load i18n %}

<div id="accordion_fede">
    <div class="card bg-light mb-3">
        <div class="card-header cursor-pointer hover-dark" id="heading_fede">
            <div class="" data-bs-toggle="collapse" data-bs-target="#collapse_fede" aria-expanded="false" aria-controls="collapse_fede">
                <i class="avis"></i> <i class="attention"></i>Pas d'avis fédéral !
            </div>
        </div>
        <div id="collapse_fede" class="collapse" aria-labelledby="heading_fede"
             data-parent="#accordion_fede">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                    {% if sans_avis_fede == "sans_fede" %}
                        Information préalable : L’activité proposée dans le cadre de votre manifestation ne relève du champ de compétence
                        d’aucune fédération sportive délégataire.
                        Aucune fédération ne pouvant rendre l’avis prévus aux articles R.331-9 et R.331-22-1 du code du sport,
                        votre dossier de déclaration sera transmis uniquement à la préfecture territorialement compétente.
                    {% elif sans_avis_fede == "avtm_autres" %}
                        Information préalable : L’activité proposée dans le cadre de votre manifestation ne relève du champ de compétence
                        d’aucune fédération sportive délégataire.
                        Afin d’assurer la sécurité des pratiquants et du public, se référer aux annexes III-22 et suivantes du code du sport :
                        <ul>
                            <li>
                                courses de tracteurs, de moissonneuses-batteuses ou autres engins motorisés,
                                quel que soit le nombre de roues ou de mode de propulsion (annexe III-22),
                            </li>
                            <li>
                                épreuves de véhicules automobiles dans lesquelles le contact entre véhicules est autorisé,
                                telles que les courses de stock-cars par exemple (annexe III-23),
                            </li>
                            <li>
                                épreuves d’acrobatie avec motocycles, telles que les épreuves de stunt par exemple (annexe III-24),
                            </li>
                            <li>
                                autres épreuves avec engins terrestres à moteur non réglementées dans les annexes précédentes,
                                tels que les épreuves de tracteur-pulling par exemple (annexe III-25).
                            </li>
                        </ul>
                    {% elif sans_avis_fede == "cdsr" %}
                        Pas d'avis fédéral sur la plateforme car le dossier est traité directement en CDSR.
                    {% elif sans_avis_fede == "calendrier" %}
                        Pas d'avis fédéral sur la plateforme car la manifestation est inscrite au calendrier de la fédération délégataire.
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
