{% extends "base.html" %}

{# load url from future #}
{% load i18n %}

{% block head_title %}
    Tableau de Bord
{% endblock %}

{% block page_title %}
    <h1>Nouveauté de la plateforme</h1>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <h2>
            {{ nouveaute.title }}
        </h2>
        <p>
        <div class="post-date">
            <span class="post-date-day">{{ nouveaute.creation|date:"d" }}</span>
            <span class="post-date-month">{{ nouveaute.creation|date:"F" }}</span>
            <span class="post-date-year">{{ nouveaute.creation|date:"Y" }}</span>
        </div>
        {{ nouveaute.get_html }}
        </p>

    </div>
{% endblock %}
