{% load forum_member_tags %}
{% load role_tags %}
{% load static %}
{% if topic %}
    <span class="avatar empty" data-service="{{ profile.get_service }}">
   {% if profile.is_superuser %}
       <img class="py-1" src="{% static "portail/img/Logo_vert.png"%}" width="90%"><br>
   {% elif profile.organisateur %}
       <i class="organisateur avatar-icone mr-2 fas fa-user-ninja fa-fw" title="" data-bs-toggle="tooltip"
          data-bs-original-title="{{ profile.get_service }} <br> Nombre de contribution : {{ profile.forum_profile.posts_count }}" aria-label="{{ profile.forum_profile.posts_count }}"></i>

   {% elif profile.is_agent_service_instructeur %}
       <i class="instructeur avatar-icone mr-2 fas fa-user-secret fa-fw" title="" data-bs-toggle="tooltip"
          data-bs-original-title="{{ profile.get_service }} <br> Nombre de contribution : {{ profile.forum_profile.posts_count }}" aria-label="{{ profile.forum_profile.posts_count }}"></i>
   {% elif profile.is_agent_service_consulte %}
       <i class="agent-departemental avatar-icone mr-2 fas fa-user-tie fa-fw" title="" data-bs-toggle="tooltip"
          data-bs-original-title="{{ profile.get_service }} <br> Nombre de contribution : {{ profile.forum_profile.posts_count }}" aria-label="{{ profile.forum_profile.posts_count }}"></i>
   {% else %}
       <i class="utilisateur avatar-icone mr-2"></i>
   {% endif %}
</span>
{% endif %}
