{% load i18n %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-1 ms-2">
    <li class="breadcrumb-item"><a href="{% url 'forum:index' %}"><i class="fas fa-home">&nbsp;</i>{% trans "Forum index" %}</a></li>
    {% if forum %}
    {% for ancestor in forum.get_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'forum:forum' ancestor.slug ancestor.id %}">{{ ancestor.name }}</a></li>
    {% endfor %}
    <li class="breadcrumb-item"><a href="{% url 'forum:forum' forum.slug forum.id %}">{{ forum.name }}</a></li>
    {% endif %}
    {% if topic %}
    <li class="breadcrumb-item"><a href="{% url 'forum_conversation:topic' forum.slug forum.id topic.slug topic.id %}">{{ topic.subject }}</a></li>
    {% endif %}
    {% if abonnement %}
    <li class="breadcrumb-item"><a href="">Abonnements</a></li>
    {% endif %}
  </ol>
</nav>
