{% load i18n %}
{% load widget_tweaks %}
<div id="div_id_{{ field.html_name }}" class="form-group{% if field.errors %} has-error{% endif %}">
    <div class="controls">
        {% if field.label and not field.name == "demande_assistance" %}<label class="control-label ms-1" for="{{ field.auto_id }}">{{ field.label }}
            {% if not field.field.required %}
                <span class="text-muted">
                {% if field.name == "dossier"%}
                    (permet d'accélérer le traitement de la demande)
                {% else %}
                    {% trans "(optional)" %}
                {% endif %}
                </span>
            {% endif %}{% if not field.name == "subject" and demande_assistance %} : {% endif %}</label>
        {% endif %}
        <div class="mb-2 mt-1">
            {{ field|add_class:'form-control' }}
        </div>
        {% if field.help_text %}<p class="help-block text-muted"><small>{{ field.help_text }}</small></p>{% endif %}
        {% for error in field.errors %}<p class="text-danger error">{{ error }}</p>{% endfor %}
    </div>
</div>
