<div id="messages">
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} {% if 'error' in message.tags %} alert-danger{% endif %} alert-dismissible fade show">
  {{ message }}
  <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
</div>
