<template>
  <div class="o-actions-bar">
    <simple-button v-for="action in actions" classes="mx-1" :id="action.id" :disabled="action.disabled" :key="action.action" @click="handleClick(action.action)">
      {{ action.text }}
    </simple-button>
  </div>
</template>

<script>
import SimpleButton from "@/components/buttons/SimpleButton";
export default {
  name: "OActions",
  components: {SimpleButton},
  props: {
    actions: {
      type: Array,
      required: true,
    },
  },
  methods: {
    handleClick(action) {
      this.$emit('action', action)
    },
  },
}
</script>

<style scoped>
.o-actions-bar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
</style>