<template>
  <div id="openrunner-container">
    <editor/>
  </div>
</template>

<script>
import Editor from "@/components/editor/Editor";
import ScrollableTabs from "@/components/selecteur/ScrollableTabs";
import Selecteur from "@/components/selecteur/Selecteur";
import {mapActions} from "vuex";
import Openrunner from "@/mixins/Openrunner";

export default {
  name: "App",
  mixins: [Openrunner],
  components: {
    ScrollableTabs,
    Editor,
    Selecteur,
  },
  methods: {
    ...mapActions(["setUser", "setMode", "setIsInstructeur", "setIsInInstruction"]),
    ready() {
      console.log('resources loaded must be overrided so the init actions are triggered')
      this.$api.baseUrl = vuejsAppBaseUrl;
      this.setMode(editorSettings.mode);
      this.setUser(user);
      this.setIsInstructeur(isInstructeur)
      this.setIsInInstruction(isInInstruction)
    },
  },
};
</script>

<style>
#openrunner-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  column-gap: 1em;
}

.or-editor {
  z-index: 0 !important;
}

.or-editor .or-btn-save {
  display: none !important;
  margin-right: 0 !important;
}

.or-editor .or-btn-settings > i {
  margin-right: 0 !important;
}

.or-editor .vs__search {
  width: auto !important;
  border: none !important;
}

.or-editor .tooltip {
  display: block !important;
  z-index: 9999 !important;
}

.carto-tooltip {
  display: block !important;
  z-index: -1 !important;
}

.or-editor .tooltip .tooltip-inner {
  color: white;
  padding: 5px 10px 4px;
  z-index: 9999 !important;
}

.or-editor .tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
}

.or-editor .tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.or-editor .tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.or-editor .tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.or-editor .tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.or-editor .tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.or-editor .tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.or-editor .tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.or-editor .tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.or-editor .tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.or-editor .tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}

.or-editor .popup-tooltip {
  z-index: 99999 !important;
}

.or-editor .or-btn-settings {
  background-color: #015A70 !important;
}

.or-editor .or-btn-settings:hover {
  background-color: #0b5ed7 !important;
}

.or-editor .or-close-icon {
  position: absolute !important;
  display: flex !important;
  padding: 4px 6px !important;
  color: white !important;
  border-radius: 4px !important;
  background-color: #015A70 !important;
}

.or-editor .or-popup-tabs {
  margin: 15px 35px 0 20px;
}

.or-editor .or-close-icon:hover {
  color: white !important;
  cursor: pointer !important;
  background-color: #0b5ed7 !important;
}

#openrunner-container i {
  margin-right: 0 !important;
}

#openrunner-container a:hover {
  text-decoration: none !important;
}

.or-editor .or-close-icon > i {
  margin: 0 !important;
}

.ps .ps__rail-y {
  opacity: 1 !important;
}

#or-controls-pane .ps__thumb-y, .ps__thumb-x {
  background-color: white !important;
}

.or-editor .or-popup-edit-btn {
  background-color: #015A70 !important;
  color: white !important;
}

.or-editor .or-popup-edit-btn:hover {
  background-color: #0b5ed7 !important;
  color: white !important;
}

.or-editor .or-popup-edit-btn, .or-popup-zone-delete-btn {
  line-height: 20px !important;
}

.or-editor .or-popup-delete-btn {
  margin: 0 auto;
  line-height: 20px !important;
}

.or-editor .or-sub-menu-poi-help {
  margin-right: 50px !important;
}

.or-editor .or-routing-element {
  padding: 0 11px 0 0!important;
}

.space-y-0 > * + * {
  margin-top: 0;
  margin-bottom: 0;
}

.space-y-1 > * + * {
  margin-top: 1px;
  margin-bottom: 1px;
}

.space-y-2 > * + * {
  margin-top: 2px;
  margin-bottom: 2px;
}

.space-y-3 > * + * {
  margin-top: 3px;
  margin-bottom: 3px;
}

.space-y-4 > * + * {
  margin-top: 4px;
  margin-bottom: 4px;
}

.space-y-5 > * + * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.space-y-6 > * + * {
  margin-top: 6px;
  margin-bottom: 6px;
}

.space-y-7 > * + * {
  margin-top: 7px;
  margin-bottom: 7px;
}

.space-y-8 > * + * {
  margin-top: 8px;
  margin-bottom: 8px;
}

.space-y-9 > * + * {
  margin-top: 9px;
  margin-bottom: 9px;
}

.space-y-10 > * + * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.space-x-0 > * + * {
  margin-left: 0;
  margin-right: 0;
}

.space-x-1 > * + * {
  margin-left: 1px;
  margin-right: 1px;
}

.space-x-2 > * + * {
  margin-left: 2px;
  margin-right: 2px;
}

.space-x-3 > * + * {
  margin-left: 3px;
  margin-right: 3px;
}

.space-x-4 > * + * {
  margin-left: 4px;
  margin-right: 4px;
}

.space-x-5 > * + * {
  margin-left: 5px;
  margin-right: 5px;
}

.space-x-6 > * + * {
  margin-left: 6px;
  margin-right: 6px;
}

.space-x-7 > * + * {
  margin-left: 7px;
  margin-right: 7px;
}

.space-x-8 > * + * {
  margin-left: 8px;
  margin-right: 8px;
}

.space-x-9 > * + * {
  margin-left: 9px;
  margin-right: 9px;
}

.space-x-10 > * + * {
  margin-left: 10px;
  margin-right: 10px;
}

</style>
