<template>
</template>

<script>
import Openrunner from "@/mixins/Openrunner";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "ConflictsApp",
  mixins: [Openrunner],
  methods: {
    ready() {
      this.initEditor(window.editorSettings, window.user)
    },
    async initEditor(settings, user) {
      let pois = editorSettings.pois

      window.editor = new window.OpenRunner.EditorBuilder()
          .setMode(settings.mode)
          .setContainer(settings.container)
          .setAppId(settings.appId)
          .setDefaultLayer('com.openrunner.osm-plan.com.openrunner.osm.openrunner')
          .setMapOptions(settings.mapSettings)
          .setEditorOptions(settings.editorSettings)
          .setTraceOptions(settings.traceSettings)
          .setIcons(pois)
          .setColors(settings.colors)
          .setPoiColors(settings.poisColors)
          .setLayers(settings.tile_providers)
          .setPassServiceOptions(settings.passesService)
          .setRoutingServiceOptions(settings.routingService)
          .setOverlaysServiceOptions(settings.overlaysService)
          .setTranslations(settings.translations)
          .setUser(user)
          .build()

      window.editor.on(window.OpenRunner.EVENT.PRINT_START, (event) => {
        if (window.printWindow == null || window.printWindow.closed) {
          window.printWindow = window.open(window.printUrl, "carto_print",
              "scrollbars=yes,dependent=yes,dialog=yes,location=no,innerHeight=1000,innerWidth=750");
          window.printWindow.printOptions = event.options
          window.printWindow.printTraces = window.traces
        } else {
          window.printWindow.printOptions = event.options
          window.printWindow.printTraces = window.traces
          window.printWindow.focus();
        }
      })

      this.loadTraces()
    },
    loadTraces() {
      $.get(`${location.origin}/carto/parcours/conflit_parcours/?pk=${manifPk}`).done((data) => {
        data.forEach((manif, index) => {
          const color = window.colorArray[index]
          manif.parcours.forEach((parcours) => {
            parcours.shape.stroke_color = color
            selecteurContainer.append(createSelecteurElement(manif.manif_pk, manif.manif_name, parcours, color))
            window.editor.loadTrace(parcours);
            window.traces.push(parcours);
          })
        })
        window.editor.centerOnBounds()
        this.initTooltip()
        window.loader.classList.add('hide')
      })
    },
    initTooltip() {
      const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      tooltipTriggerList.forEach((tooltipTriggerEl) => {
        new bootstrap.Tooltip(tooltipTriggerEl)
      })
    },
  },
}
</script>