<template>
</template>

<script>
import Openrunner from "@/mixins/Openrunner";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "HistoriqueApp",
  mixins: [Openrunner],
  methods: {
    ready() {
      this.initEditor(window.editorSettings,window.user)
      this.loadTraces(window.traces)
    },
    async initEditor(settings, user) {
      let pois = editorSettings.pois
      window.editor = new OpenRunner.EditorBuilder()
          .setMode(settings.mode)
          .setContainer(settings.container)
          .setAppId(settings.appId)
          .setDefaultLayer('com.openrunner.osm-plan.com.openrunner.osm.openrunner')
          .setMapOptions(settings.mapSettings)
          .setEditorOptions(settings.editorSettings)
          .setTraceOptions(settings.traceSettings)
          .setIcons(pois)
          .setColors(settings.colors)
          .setPoiColors(settings.poisColors)
          .setLayers(settings.tile_providers)
          .setPassServiceOptions(settings.passesService)
          .setRoutingServiceOptions(settings.routingService)
          .setOverlaysServiceOptions(settings.overlaysService)
          .setTranslations(settings.translations)
          .setUser(user)
          .build();

      window.editor.on(OpenRunner.EVENT.TRACE_SELECTED, (e) => {
        Array.from(document.querySelectorAll('.selecteur-item')).forEach(element => {
          const id = parseInt(element.getAttribute('data-id'))
          if (id === e.id) {
            element.setAttribute('data-selected', 'true')
            element.querySelectorAll(`[data-id="${e.id}"]`).forEach(el => el.setAttribute('data-selected', 'true'))
          } else {
            element.setAttribute('data-selected', 'false')
            element.querySelectorAll(`[data-id="${e.id}"]`).forEach(el => el.setAttribute('data-selected', 'false'))
          }
          toggleStyleSelected(element)
        })
      })

      window.editor.on(OpenRunner.EVENT.TRACE_OPTIONS_UPDATED, (e) => {
        let showItem = e.trace.show
        Array.from(document.querySelectorAll('.selecteur-item')).forEach(element => {
          const id = parseInt(element.getAttribute('data-id'))
          if (id === e.trace.id) {
            element.setAttribute('data-toggled', showItem)
            element.querySelectorAll(`[data-id="${e.trace.id}"]`).forEach(el => el.setAttribute('data-toggled', showItem))
            updatecolor(element, e.trace.options.color)
          }
          toggleStyleVisible(element)
        })
      })
    },
    loadTraces(traces){
      traces.forEach((trace, idx) => {
                trace.id += idx
                trace.shape.stroke_color = window.editorSettings.colors[idx % window.editorSettings.colors.length]
                window.selecteur.append(renderSelecteurElement(trace))
                if(traces.length === 1) {
                    window.editor.loadTrace(trace, true, true);
                } else {
                    window.editor.loadTrace(trace);
                }
            });
            window.editor.centerOnBounds();
    },
  }
}
</script>