<template>
</template>

<script>
import Openrunner from "@/mixins/Openrunner";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "PrintApp",
  mixins: [Openrunner],
  data() {
    return {
      editor: null,
      editorContainer: null,
    }
  },
  methods: {
    async ready() {
      this.editorContainer = document.querySelector('#print-editor');
      await this.initEditor(window.printOptions, window.editorSettings, window.user)
      this.loadTraces(window.printTraces)
    },
    async initEditor(options, settings, user) {
      let pois = editorSettings.pois
      if (options.format === 'portrait') {
        this.editorContainer.classList.remove('print-landscape')
        this.editorContainer.classList.add('print-portrait')
      } else {
        this.editorContainer.classList.remove('print-portrait')
        this.editorContainer.classList.add('print-landscape')
      }

      this.editor = new OpenRunner.EditorBuilder()
          .setMode(settings.mode)
          .setContainer(settings.container)
          .setAppId(settings.appId)
          .setDefaultLayer('com.openrunner.osm-plan.com.openrunner.osm.openrunner')
          .setMapOptions(settings.mapSettings)
          .setEditorOptions(settings.editorSettings)
          .setTraceOptions(settings.traceSettings)
          .setIcons(pois)
          .setColors(settings.colors)
          .setPoiColors(settings.poisColors)
          .setLayers(settings.tile_providers)
          .setPassServiceOptions(settings.passesService)
          .setRoutingServiceOptions(settings.routingService)
          .setOverlaysServiceOptions(settings.overlaysService)
          .setTranslations(settings.translations)
          .setUser(user)
          .build();
    },
    loadTraces(traces) {
      traces.forEach((trace) => {
        if (traces.length === 1) {
          this.editor.loadTrace(trace, true, true);
        } else {
          this.editor.loadTrace(trace);
        }
      });
      this.editor.centerOnBounds();
      if (traces.length === 1) {
        this.editor.toggleElevation(window.printOptions.showElevation);
        this.editor.toggleDetail(window.printOptions.showDetail);
      }
    },
  },
}
</script>