{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{{ organisation.nom_s }}{% endblock %}

{% block content %}
    <!-- bof structure/panneaux/fiche-organisation.html -->
    <div class="card">
    <div class="card-header bg-primary"><i class="structure"></i>{{ organisation.nom_s }}</div>
        <div class="d-flex card-body">
            <div class="d-flex card-body flex-wrap">
                {% include "structure/panneaux/fiche-organisation-detail.html" %}
            </div>
        </div>
    </div>
    <!-- eof structure/panneaux/fiche-organisation.html -->
{% endblock %}