<div class="col-3 card-body">
    {% include "structure/panneaux/informations.html" with organisation=organisation %}
</div>
<div class="{% if organisation.is_service_consulte %}col-3{% else %}col-4{% endif %} card-body">
    {% include "structure/panneaux/utilisateurs_liste.html" with organisation=organisation invitation=True %}
</div>
{% if organisation.is_service_consulte %}
    <div class="col-5 card-body px-0">
        {% include "structure/panneaux/interactions.html" with organisation=organisation %}
    </div>
{% endif %}
{% if organisation.get_email_failed %}
    <div class="col-12">
        <legend class="mt-3 legend text-danger"><i class="attention"></i>Erreur de délivrance de mail</legend>
        {% include "core/list_logs.html" with detail=True logs=organisation.get_email_failed %}
    </div>
{% endif %}
<script>
    {% if user_organisation.is_service_instructeur or request.session.o_support or request.organisation in organisation.get_services_administrateurs %}
        $('.organisation_user').click(function (e){
            e.preventDefault()
            if($(this).hasClass('own-profil')){
                window.location.href = `/accounts/profile/`;
            }
            else {
                window.location.href = `/profile/${$(this).attr('href').split('#')[1]}/`;
            }
        })
    {% endif %}
</script>