{% load i18n %}
{% load crispy_forms_tags %}
{% if organisation.is_service_consulte %}
    <!-- bof structure/panneaux/informations.html -->
    <legend class="legend"><i class="structure"></i>Informations</legend>
    <div class="row mb-2">
        <div class="col-5 libelle">Status :</div>
        <div class="col-7 valeur">
            {% if organisation.is_active_b %}
                <i id="icone-user-etat" class="fa-solid fa-circle-check pt-1 text-success"></i><strong id="user-etat" class="text-success">Actif</strong>
            {% else %}
                <i id="icone-user-etat" class="fa-solid fa-hexagon-xmark pt-1 text-danger"></i><strong class="text-danger">Inactif</strong>
            {% endif %}
            {% if is_admin %}
                <i data-bs-toggle="tooltip" data-bs-original-title="Modifier l'état du service"
                   aria-label="Modifier l'état du service"
                   data-service="{{ organisation.pk }}"
                   data-agent-count="{{ organisation.get_users_qs.count }}"
                   data-url="{% url "structure:update_service_consulte_active" pk=organisation.pk %}"
                   class="fas fa-pen interaction-icon edit_service_active float-end"></i>
            {% endif %}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5 libelle">Nom du service :</div>
        <div class="col-7 valeur">
            {{ organisation.nom_s }}
            {% if is_admin %}
                <i data-bs-toggle="tooltip" data-bs-original-title="Éditer le nom"
                   aria-label="Éditer le nom"
                   data-url="{%  url "structure:update_service_consulte_nom" pk=organisation.pk %}"
                   data-service="{{ organisation.pk }}" class="fas fa-pen interaction-icon edit-service-nom float-end"></i>
            {% endif %}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5 libelle">Catégorie :</div>
        <div class="col-7 valeur">{{ organisation.type_service_fk.categorie_fk }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-5 libelle">Type :</div>
        <div class="col-7 valeur">
            {{ organisation.type_service_fk }}
            {% if is_admin %}
                <i data-bs-toggle="tooltip" data-bs-original-title="Éditer le type"
                   aria-label="Éditer le service parent"
                        {% comment %} Todo : à corriger {%  endcomment %}
                   data-url="{%  url "structure:update_service_consulte_type" pk=organisation.pk %}"
                   data-service="{{ organisation.pk }}" class="fas fa-pen interaction-icon edit-service-type float-end"></i>
            {% endif %}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5 libelle">Portée territoriale :</div>
        <div class="col-7 valeur">{{ organisation.get_niveau_geographique_str }}</div>
    </div>
    {% if not organisation.get_niveau_geographique_str == "National" %}
        <div class="row mb-2">
            <div class="col-5 libelle">Secteurs :</div>
            <div class="col-7 valeur">
                <span id="secteur-value">
                {% for secteur in organisation.get_objets_geographique_qs %}
                    {% if forloop.first %}
                        <span></span>
                    {% endif %}
                    <span>{{ secteur }}{% if not forloop.last %} {% endif %}</span>
                {% endfor %}
                </span>
                {% if is_admin  %}
                    {% if not is_support and organisation.departement_m2m.all.count > 1 or not is_support and organisation.region_m2m.all.count > 1 %}
                        <i class="ctx-help-modif_par_equipe_support float-end"></i>
                    {% else %}
                        <i data-bs-toggle="tooltip" data-bs-original-title="Gérer les secteurs"
                           aria-label="Gérer les secteurs"
                           data-service="{{ organisation.pk }}" class="fas fa-pen interaction-icon gerer-secteur-service float-end"></i>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if organisation.is_mairie %}
        <div class="row mb-2">
            <div class="col-5 libelle">Arrondissement :</div>
            <div class="col-7 valeur">
                <span id="secteur-value">
                        {{ organisation.commune_m2m.first.arrondissement }}
                </span>
            </div>
        </div>
    {% endif %}
    <div class="row mb-2">
        <div class="col-5 libelle">Service parent :</div>
        <div class="col-7 valeur">{% if organisation.service_parent_fk %}
            {{ organisation.service_parent_fk }}
        {% else %}
            Aucun
        {% endif %}
            {% if is_admin %}
                <i data-bs-toggle="tooltip" data-bs-original-title="Éditer le service parent"
                   aria-label="Éditer le service parent"
                   data-url="{%  url "structure:update_service_consulte_parent" pk=organisation.pk %}"
                   data-service="{{ organisation.pk }}" class="fas fa-pen interaction-icon edit-service-parent float-end"></i>
            {% endif %}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-5 libelle">Délai de rendu d'avis :</div>
        <div class="col-7 valeur">{{ organisation.delai_jour_avis_int }}
            {% if is_admin %}
                <i data-bs-toggle="tooltip" data-bs-original-title="Éditer le délai de rendu d'avis"
                   aria-label="Éditer le délai de rendu d'avis"
                   data-url="{%  url "structure:update_service_consulte_delai_avis" pk=organisation.pk %}"
                   data-service="{{ organisation.pk }}" class="fas fa-pen interaction-icon edit-delai-avis float-end"></i>
            {% endif %}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-5 libelle">Délai de rendu de préavis :</div>
        <div class="col-7 valeur">{{ organisation.delai_jour_preavis_int }}
            {% if is_admin %}
                <i data-bs-toggle="tooltip" data-bs-original-title="Éditer le délai de rendu de préavis"
                   aria-label="Éditer le délai de rendu de préavis"
                   data-url="{%  url "structure:update_service_consulte_delai_preavis" pk=organisation.pk %}"
                   data-service="{{ organisation.pk }}" class="fas fa-pen interaction-icon edit-delai-preavis float-end"></i>
            {% endif %}
        </div>
    </div>

    <div class="row mb-4 border-top pt-2">
        <div class="col-5 libelle">Nombre d'avis reçus :</div>
        <div class="col-7 valeur">{{ organisation.get_nombre_avis }}</div>
    </div>
{% endif %}
{% if is_admin %}
    <legend class="legend"><i class="fa-solid fa-address-book fa-fw"></i>Coordonnées</legend>

    <div class="row mb-2">
        <div class="col-5 libelle">E-mail :</div>
        <div class="col-7 valeur">
            {% if  organisation.email_s %}
                {{ organisation.email_s }}
            {% else %}
                Non renseigné
            {% endif %}
            {% if is_admin %}
                <i data-bs-toggle="tooltip" data-bs-original-title="Éditer l'adresse e-mail"
                   aria-label="Éditer l'adresse e-mail"
                   data-url="{%  url "structure:update_service_consulte_email" pk=organisation.pk %}"
                   data-service="{{ organisation.pk }}" class="fas fa-pen interaction-icon edit-service-email float-end"></i>
            {% endif %}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-5 libelle">Téléphone :</div>
        <div class="col-7 valeur">
            {% if  organisation.telephone_s %}
                {{ organisation.telephone_s }}
            {% else %}
                Non renseigné
            {% endif %}
            {% if is_admin %}
                <i data-bs-toggle="tooltip" data-bs-original-title="Éditer le téléphone"
                   aria-label="Éditer le téléphone"
                   data-url="{%  url "structure:update_service_consulte_telephone" pk=organisation.pk %}"
                   data-service="{{ organisation.pk }}" class="fas fa-pen interaction-icon edit-service-telephone float-end"></i>
            {% endif %}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-5 libelle">Adresse :</div>
        <div class="col-7 valeur">
            {% if organisation.adresse_s %}
                {{ organisation.adresse_s|linebreaks }}
            {% else %}
                Non renseigné
            {% endif %}
            {% if is_admin %}
                <i data-bs-toggle="tooltip" data-bs-original-title="Éditer l'adresse"
                   aria-label="Éditer l'adresse"
                   data-url="{%  url "structure:update_service_consulte_adresse" pk=organisation.pk %}"
                   data-service="{{ organisation.pk }}" class="fas fa-pen interaction-icon edit-service-adresse float-end"></i>
            {% endif %}
        </div>
    </div>

    {% if organisation.is_structure_organisatrice %}
        <div class="row mb-2">
            <div class="col-5 libelle">Commune :</div>
            <div class="col-7 valeur">
                {{organisation.commune_m2m.first.zip_code }} - {{ organisation.commune_m2m.first }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-5 libelle">Type de structure :</div>
            <div class="col-7 valeur">
                {{ organisation.type_organisation_fk }}
            </div>
        </div>
    {% endif %}

    <div class="row mb-2">
        <div class="col-5 libelle">Instance départementale :</div>
        <div class="col-7 valeur">
            {{ organisation.instance_fk }}
            {% if is_support %}
                <i data-bs-toggle="tooltip" data-bs-original-title="Éditer l'instance départementale"
                   aria-label="Éditer l'instance départementale"
                   data-url="{%  url "structure:update_service_consulte_instance" pk=organisation.pk %}"
                   data-service="{{ organisation.pk }}" class="fas fa-pen interaction-icon edit-service-instance float-end"></i>
            {% endif %}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-5 libelle">Site internet :</div>
        <div class="col-7 valeur">
            {% if  organisation.site_web_s %}
                {{ organisation.site_web_s }}
            {% else %}
                Non renseigné
            {% endif %}
            {% if is_admin %}
                <i data-bs-toggle="tooltip" data-bs-original-title="Éditer le site internet"
                   aria-label="Éditer le site internet"
                   data-url="{%  url "structure:update_service_consulte_site" pk=organisation.pk %}"
                   data-service="{{ organisation.pk }}" class="fas fa-pen interaction-icon edit-service-site float-end"></i>
            {% endif %}
        </div>
    </div>




    <script>
        // Remplie la span "le nom sera..." a l'ouverture
        var myModal = new bootstrap.Modal(document.getElementById('modal-form'))

        $('#modal-form').on('shown.bs.modal', function () {
            console.log('show')
            $('#type-result-name').text('{{ organisation.type_service_fk.abreviation_s }}')
            if($("#id_precision_nom_s").val()){
                $('#precision-result-name').text(` ${$("#id_precision_nom_s").val()}`)
            }
            {% if not organisation.get_niveau_geographique_str == "National"  and not organisation.get_niveau_geographique_str == "Départemental"%}
                $('#territoire-result-name').text("("+$("#secteur-value").text().replaceAll(' ','')+")")
                $('#territoire-result-name').text().replaceAll('&nbsp;','')
            {% elif organisation.get_niveau_geographique_str == "Départemental" %}
                $('#territoire-result-name').text(`(${$("#secteur-value").text().split('-')[0].replace(/\s/g,'')})`)
            {% endif %}
        })

    </script>
{% else %}
    {% if organisation.email_s or organisation.adresse_s or organisation.telephone_s or organisation.site_web_s%}
        <legend class="legend">Coordonnées</legend>
        {% if organisation.email_s %}
            <div class="row mb-2">
                <div class="col-3 libelle">E-mail :</div>
                <div class="col-9 valeur">{{ organisation.email_s }}</div>
            </div>
        {% endif %}
        {% if organisation.adresse_s %}
            <div class="row mb-2">
                <div class="col-3 libelle">Adresse :</div>
                <div class="col-9 valeur">{{ organisation.adresse_s }}</div>
            </div>
        {% endif %}
        {% if organisation.telephone_s %}
            <div class="row mb-2">
                <div class="col-3 libelle">Téléphone :</div>
                <div class="col-9 valeur">{{ organisation.telephone_s }}</div>
            </div>
        {% endif %}
        {% if organisation.site_web_s %}
            <div class="row mb-2">
                <div class="col-3 libelle">Site internet : </div>
                <div class="col-9 valeur">{{ organisation.site_web_s }}</div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
<!-- eof structure/panneaux/informations.html -->
