{% load i18n %}
{% load crispy_forms_tags %}
<!-- bof structure/panneaux/interactions.html -->
{% if organisation.verification_integrite_circuit_avis %}
    <div class="alert alert-danger">
        {% for probleme in organisation.verification_integrite_circuit_avis %}
            Les avis envoyés au service {{ probleme.service_entrant_bloque }} ne peuvent aboutir car l'avis sera bloqué au service {{ probleme.service_sortant_bloquant }}<br>
        {% endfor %}

    </div>
{% endif %}
{% if is_admin and not is_profil%}
    <!--Formulaire service-->
    <div class="px-2" id="edit-structure-form">
        {% crispy service_edit_action_form %}
    </div>
{% else %}
    {% include "structure/panneaux/service-actions.html" %}
{% endif %}

{% if organisation.is_membre_famille %}
<legend class="mt-3 legend"><i class="fa-solid fa-arrow-right"></i>Interactions avec les autres services de la famille</legend>

<p class="inline-help">Les interactions entre les services <i class="ctx-help-liste_interactions"></i> définissent le rôle des uns vis-à-vis des autres dans le cadre du traitement des demandes d'avis émis par le service instructeur et des préavis émis entre les entités d'une même famille.<br>
Elles permettent de construire sur mesure une "chaîne" d'analyse des dossiers et de validation des avis & préavis<i class="ctx-help-avis_vs_preavis"></i>.</p>

<ul class="list-group">
    {% for interaction in organisation.get_interactions %}
        <li class="list-group-item pb-3 d-flex">
            <a href="#{{ interaction.service_entrant_fk.pk }}" class="{% if is_admin %}col-3{% else %}col-4{% endif %} pt-2 text-start service-list-item">{{ interaction.service_entrant_fk }}</a>
            <div class="col-4 text-center" style="font-size: 0.75rem;"><a href="#">{{ interaction.get_type_lien_s_display }}</a>
                <br>
                {% if interaction.type_lien_s == "interroger" %}
                    <i class="fleche-interaction-interroge"></i>
                {% elif interaction.type_lien_s == "adresser" %}
                    {% if interaction.service_entrant_fk.is_service_avis_and_preavis %}
                        <i class="fleche-interaction-adresse-avis-preavis"></i>
                    {% elif interaction.service_entrant_fk.is_service_avis %}
                        <i class="fleche-interaction-adresse-avis"></i>
                    {% else %}
                        <i class="fleche-interaction-adresse-preavis"></i>
                    {% endif %}
                {% elif interaction.type_lien_s == "mandater" %}
                    <i class="fleche-interaction-mandate"></i>

                {% endif %}
            </div>
            <a href="#{{ interaction.service_sortant_fk.pk }}" class="col-4 pt-2 {% if is_admin %}pe-3{% endif %} text-end service-list-item">{{ interaction.service_sortant_fk }}</a>
            {% if is_admin %}
                <div class="col-1 pt-2 text-end">

                    <i id="{{ interaction.pk }}"
                       data-bs-toggle="tooltip" data-bs-original-title="Éditer cette interaction"
                       aria-label="Éditer cette interaction"
                       data-service="{{ organisation.pk }}"
                       data-url="{% url "structure:update_interaction" service_id=organisation.pk pk=interaction.pk %}"
                       class="fas fa-pen interaction-icon edit-interaction"></i>
                    <i id="{{ interaction.pk }}"
                       data-bs-toggle="tooltip" data-bs-original-title="Supprimer cette interaction"
                       aria-label="Supprimer cette interaction"
                       class="fas fa-times interaction-icon delete-interaction"></i>

                </div>
            {% endif %}
        </li>
    {% endfor %}
    {% if is_admin %}
        <li class="list-group-item d-flex">
            <button data-service="{{ organisation.pk }}" data-url="{% url "structure:create_interaction" service_id=organisation.pk %}" class="btn-primary btn add-interaction"><i class="fas fa-plus"></i>Ajouter une interation</button>
            <a target="_blank" href="{% url "structure:edition_organisation" pk_organisation=organisation.pk %}" class="btn-primary btn ms-auto"><i class="fas fa-pen"></i>Éditeur graphique</a>
        </li>
    {% endif %}
</ul>
{% endif %}
<!-- eof structure/panneaux/interactions.html -->
