<ul class="list-group list-group-flush">
    {% for invit in organisation.get_invitation %}
        <li class="list-group-item invitation" id="invit_{{ invit.id }}" data-service="{{ organisation.pk }}">
            {% if invit.est_delivree %}<i class="ok" data-titre="Invitation délivrée"></i>
            {% else %}<i class="envoyer text-warning" data-titre="Invitation envoyée"></i>
            {% endif %}
            {{ invit.date_creation|date:'d/m/Y' }} : {{ invit }}
        </li>
    {% empty %}
        Aucune invitation proposée
    {% endfor %}
</ul>
