{% load i18n file_tags thumbnail_filter instruction_tags pluralizero%}
{# BOF Header de l'avis #}
<div class="card bg-light" id="card_{{ object.service_consulte_fk.pk }}">
    <div data-bs-toggle="collapse" data-bs-target="#collapse{{ object.pk }}" data-bs-parent="#accordion{{ accordion }}"
         aria-expanded="false" aria-controls="collapse{{ object.pk }}" class="card-header cursor-pointer hover-dark" id="heading{{ object.pk }}{% if recursive %}_{{ object.avis_origine.pk }}{% endif %}">
        {% if not object.service_consulte_fk.get_users_actif_qs %}<i class="attention"></i>{% endif %}{{ object }}
        <a data-bs-toggle="tooltip" data-bs-original-title="Détails du service" aria-label="Détails du service"
           target="_blank" href="{% url "structure:fiche_organisation" pk=object.service_consulte_fk.pk %}">
            <i class="ms-2 pt-1 fa-regular fa-xs fa-magnifying-glass"></i>
        </a>
        {% if recursive %} du {{ presentation.reunion_cdsr_fk.date }} {% endif %}
        <span class="float-end">
            {% if object.service_consulte_fk.is_service_cdsr or object.service_consulte_fk.is_membre_cdsr %}
                <a href="#" data-bs-toggle="collapse" data-bs-target>
                    <i class="cdsr left-margin" data-titre="Cliquer pour voir uniquement les avis CDSR"></i>
                </a>
            {% endif %}
            {% if object.date_reponse and object.etat != "demandé" %}
                {% if object.favorable %} <i class="ok-avis-minus left-margin"></i>
                {% endif %}
                {% if not object.favorable  %}
                    <i class="pas-ok-avis-minus left-margin"></i> {% endif %}
                {% if object.prescriptions %} <i class="commentaire"></i> {% endif %}
                {% if object.docs.all %} <i class="pj"></i> {% endif %}
            {% else %}
                <i class="attente left-margin"></i>
            {% endif %}
        </span>
    </div>
    {# EOF Header de l'avis #}
    <div id="collapse{{ object.pk }}" class="collapse collapse-avis p-2 bg-white" aria-labelledby="heading{{ object.pk }}{% if recursive %}_{{ object.avis_origine.pk }}{% endif %}"
         data-bs-parent="#accordion{% if recursive %}_{{ object.avis_origine.pk }}{% endif %}">
        <div>
            {% include 'structure/panneaux/presentationCDSR_description.html' with obj=presentation %}
            {% include 'instructions/blocs/avis_etat.html' %}
            {% if object.etat == "rendu" or object.etat == "brouillon" %}
                {% include 'instructions/blocs/avis_contenu.html' %}
            {% endif %}
            {% if object.docs.all %}
                {% include 'instructions/blocs/avis_pj.html' %}
            {% endif %}
            <div class="card bg-white">
                <div class="card-body">
                {% if object.etat != "rendu" and presentation.convocations_envoyes and presentation.reunion_cdsr_fk.convocations_envoyes %}
                    <a href="{% url 'instructions:avis_rediger' pk=object.get_last_avis.pk %}"
                       role="button" class="btn btn-primary">
                    <i class="editer"></i>Rédiger l'avis synthétique
                    </a>
                    {% if object.etat == "brouillon" %}
                        <a href="{% url 'instructions:avis_rendre' pk=object.get_last_avis.pk initiateur=False %}"
                           role="button" class="btn btn-outline-danger ms-3">
                        <i class="valider"></i>Valider et rendre l'avis synthétique
                    </a>
                    {% endif %}
                {% endif %}
                {% if  not recursive %}
                    {% if object.instruction.etat != 'autorisée' and object.instruction.etat != 'annulée' %}
                        {% if object.etat == 'rendu' and presentation.pk == presentation.get_last_presentation.pk %}
                            <a class="btn btn-warning" href="{% url 'instructions:redemande_avis' pk=object.instruction.pk %}?pk_avis={{ object.pk }}" role="button">
                                <i class="envoyer"></i>Redemander {% if object.avis_parent_fk %}le préavis{% else %}l'avis{% endif %}</a>
                        {% endif %}
                    {% endif %}
                    {% if presentation.convocations_envoyes and presentation.reunion_cdsr_fk.convocations_envoyes %}
                        <div class="btn btn-primary btn_doc float-end" id="btn_{{ object.get_last_avis.pk }}"><i class="pj"></i> Ajouter une pièce jointe</div>
                        <div class="form_ajout_doc" id="form_ajout_doc{{ object.get_last_avis.pk }}" style="display: none;">
                            <form style="display: flex; flex-direction: column; margin-top:.5em;"
                                  action="{% url 'instructions:avis_ajout_fichier' pk=object.get_last_avis.pk %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p><i class="attention"></i> Vos pièces jointes ne doivent pas aller à l'encontre {{ str_avis.de_l|safe }} rédigé !</p>
                                <input type="file" required name="fichier">
                                <div><input type="submit" class="btn btn-primary" style="margin-top:0.5em; width: 100%;" value="Envoyer"></div>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
                </div>
            </div>
            {# BOF listes des avis précédants #}
            {% if presentation.presentation_origine_fk.get_precedente_presentation and not recursive %}
                <div class="p-2">
                    <h3>Présentations précédentes</h3>
                    <div id="accordion{{ presentation.presentation_origine_fk.pk }}">
                        {% for old in presentation.presentation_origine_fk.get_precedente_presentation %}
                            {% with recursive=True %}
                                {% include 'structure/panneaux/presentationCDSR.html' with object=old.avis_o2o presentation=old accordion=presentation.presentation_origine_fk.pk%}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {# EOF listes des avis précédants #}
        </div>
    </div>
</div>