<div class="card bg-white">
    <div class="card-body border-bottom">
        <!-- BOF Ré édition avis/préavis -->
        {% if obj.raison_nouvelle_presentation %}
            <div class="alert alert-secondary py-2 mb-3 text-center">
                <p class="mb-2"><strong>Ré édition de la présentation</strong> car</p>
                <p><em>{{ obj.raison_nouvelle_presentation }}</em></p>
            </div>
        {% endif %}
        <!-- EOF Multiple avis/préavis -->
        {% if not obj.convocations_envoyes and obj.pk %}
            <a class="btn confirmer_annulation_cdsr btn-danger float-end ms-2" style="display: none;"
               href="{% url 'structure:presentationcdsr_remove' pk=obj.pk %}">Confirmer l'annulation</a>
            <a class="btn annulation_cdsr btn-outline-danger float-end ms-2" style="float: right;"
               href="#">Annuler la présentation</a>
        {% endif %}
        {%  if obj.reunion_cdsr_fk.date %}
            Date de la réunion CDSR : {{ obj.reunion_cdsr_fk.date }}
        {% else %}
            Nom de la réunion CDSR : {{ obj.reunion_cdsr_fk.nom_s }}
        {% endif %}
        {% if not obj.reunion_cdsr_fk %}
            {% if liste_cdsr %}
                <select class="select_reunion" id="reunion" name="reunion">
                <option value="" selected disabled>Choisissez une réunion CDSR</option>
                    {% for reunion in liste_cdsr %}
                        <option value="{{ reunion.pk }}">{% if reunion.date %}{{ reunion.date }}{% else %}{{ reunion.nom_s }}{% endif %}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <span class="btn-date-form ms-3" data-bs-toggle="modal" data-bs-target="#formDate"
                  data-titre="Créer une nouvelle réunion CDSR"
                  data-url-form-pk="{% url 'structure:reunionCDSR_create' %}">
                <i data-bs-toggle="tooltip" data-bs-original-title="Créer une nouvelle réunion CDSR"
                   aria-label="Créer une nouvelle réunion CDSR"
                   data-url-form-pk="{% url 'structure:reunionCDSR_create' %}"
                   class="fas fa-pen interaction-icon"></i>
            </span>
            <div class="alert-danger mt-1 p-1" role="alert" id="select-date-result" style="display: none"></div>
        {% else %}
            {% if not obj.convocations_envoyes %}
                <a href="{% url 'structure:presentationcdsr_reset_date' pk=obj.pk %}"><i class="supprimer ms-2"></i></a>
            {% endif %}
        {% endif %}
        <i class="ctx-help-choisir_reunion_cdsr ms-2"></i>
        {%  if obj.heure %}
            <br>
            présentation à {{ obj.heure|date:"H\hi" }}
        {% endif %}
    </div>
    <div class="card-body row d-flex membres_permanents">
        <div class="col-6">
            Liste des membres permanents :
            <ul>
            {% if obj.reunion_cdsr_fk %}
                {% for membre in obj.reunion_cdsr_fk.aff_membres_permanents %}
                    <li>{{ membre.0 }} {% if membre.1 %}<i class="ok ms-3" data-titre="convocation confirmée"></i>{% endif %}</li>
                {% endfor %}
            {% else %}
                <p class="inline-help">remplie automatiquement<br>lors de la sélection de la réunion</p>
            {% endif %}
            </ul>
        </div>
        <div class="col-6 membres_invites">
            Liste des membres invités :
            <ul>
            {% for membre in obj.aff_membres_invites %}
                <li class="position-relative">
                    {{ membre.0 }} {% if membre.1 %}<i class="ok ms-3" data-titre="convocation confirmée"></i>{% endif %}
                {% if not obj.convocations_envoyes and not membre.0.is_structure_organisatrice%}
                    <span class="position-absolute top-0 end-0">
                        <i data-bs-toggle="tooltip" data-bs-original-title="Retirer ce membre invité de la présentation CDSR"
                           aria-label="Retirer ce membre invité de la présentation CDSR"
                           class="fas fa-times interaction-icon delete-member-cdsr ms-auto mt-1">
                        </i>
                        <span class="button-span div_service ms-auto d-flex d-none">
                            <span id="{{ membre.0.pk }}" data-user="{{ obj.pk }}" data-switch="cdsr"
                                  data-url="{% url "structure:retirer_invite_ajax" pk=obj.pk %}"
                                  style="width: 40px; height: 25px; line-height: 1;"
                                  class="btn btn-success me-2 valide-delete-member-cdsr d-flex justify-content-center">
                                <i style="color: white" class="fas fa-check m-0" aria-hidden="true"></i>
                            </span>
                            <span style="width: 40px; height: 25px; line-height: 1;"
                                  class="btn btn-danger me-2 dismis-delete d-flex justify-content-center">
                                <i style="color: white" class="fas fa-times m-0" aria-hidden="true"></i>
                            </span>
                        </span>
                    </span>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
            <div class="text-end d-flex align-items-end justify-content-end">
                {% if not obj.convocations_envoyes %}
                    <a href="#" class="btn-modal-presentation-cdsr" role="button">
                        <i class="ajouter"></i> Ajouter un invité
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if obj.heure and obj.reunion_cdsr_fk.date  %}
        <div class="card-body border-top">
            {% if not obj.convocations_envoyes %}
                <a href="{% url 'structure:presentationcdsr_convoquer' pk=obj.pk %}?path={{ request.path }}"
                   class="btn envoyer_convocation_cdsr btn-primary"><i class="envoyer"></i>Envoyer la convocation des membres invités</a>
            {% else %}
                <p>La convocation des membres invités a été envoyée le {{ obj.convocations_envoyes }} :
                    <a href="/media/{{ obj.get_pj }}" target="_blank">Ordre du jour</a></p>
            {% endif %}
            {% if obj.reunion_cdsr_fk.convocations_envoyes %}
                <p>La convocation des membres permanents a été envoyée le {{ obj.reunion_cdsr_fk.convocations_envoyes }} :
                    <a href="/media/{{ obj.reunion_cdsr_fk.get_pj }}" target="_blank">Ordre du jour</a></p>
            {% endif %}
        </div>
    {% endif %}
</div>
<script>
    var object_id = "{{ obj.pk }}"
    {% if obj.pk  %}
    var url_set_date_cdsr = "{% url 'structure:presentationcdsr_set_date' pk=obj.pk %}";
    var url_invite_cdsr = "{% url 'structure:ajouter_invite_ajax' pk=obj.pk %}";
    {% endif %}
    var secteur = "instance_{{ obj.instruction_fk.instance.id }}"
</script>
