{% load i18n urlmanif %}
{% if organisation.manifs.all %}
     <!-- bof structure/panneaux/resume-manifestation.html -->

    <legend class="legend">Manifestations</legend>
    <ul class="list-group">
        {% for manif in organisation.manifs.all %}
            <li class="list-group-item"><a target="_blank" href="{% if  request.session.o_support and manif.get_instruction %}{{ manif.get_instruction.get_absolute_url }}{% else %}{{ manif|urlmanif:user_organisation }}{% endif %}">{{ manif }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <div class="alert alert-warning" role="alert">
        Aucune manifestations.
    </div>
{% endif %}
     <!-- eof structure/panneaux/resume-manifestation.html -->
