<!-- bof structure/panneaux/service-actions.html -->
<style>
    #service_action .switchToggle label {
        cursor: not-allowed !important;
        padding-left: 70px !important;
        font-size: 0.82rem;
    }
    .form-check-label:not(.offset_remove) {
        width: unset !important;
    }
</style>
<div id="service_action">
    <legend><i class="fa-solid fa-network-wired"></i>Habilitations de ce service</legend>

<p class="inline-help">Associés aux interactions, ces réglages affinent le rôle du service au sein d'une famille de services.<br>
    Dans le cas où le service serait indépendant et autonome, les réglages initiaux sont recommandés.<br>
    <strong>Consultez les documentations</strong> via les icônes d'aide<i class="ctx-help-ex_aide_context"></i>.</p>

{% if organisation.is_membre_famille %}
    <div class="mb-3 form-group  switchToggle ">
        <input type="checkbox" class="checkboxinput form-check-input" {% if organisation.admin_service_famille_b %}checked{% endif %}>
        <div class="span">

        </div>
        <label for="id_admin_service_famille_b" class="form-check-label col-10">
            <span>
                 Service administrateur de tous les services de la famille <i class="ctx-help-admin_service_famille"></i>
            </span>
        </label>
        <span class="col-1 ms-auto text-end">
    <i class="admin-famille"></i>
</span>
    </div>
{% endif %}

    <div class="mb-3 form-group  switchToggle ">
        <input type="checkbox" class="checkboxinput form-check-input" {% if organisation.admin_utilisateurs_subalternes_b %}checked{% endif %}>
        <div class="span">

        </div>
        <label for="id_admin_utilisateurs_subalternes_b" class="form-check-label">
                <span>
                Service administrateur de ses agents subalternes <i class="ctx-help-admin_utilisateurs_subalternes"></i>
            </span>
        </label>
        <span class="col-1 ms-auto text-end">
    <i class="admin-subaltern"></i>
</span>
    </div>


    <div class="mb-3 form-group  switchToggle ">
        <input type="checkbox" class="checkboxinput form-check-input" {% if organisation.porte_entree_avis_b %}checked{% endif %}>
        <div class="span">

        </div>
        <label for="id_porte_entree_avis_b" class="form-check-label col-10">
             <span>
                    Recevoir des demandes d'avis du service instructeur<i class="ctx-help-porte_entree_avis"></i>
            </span>
        </label>
        <span class="col-1 ms-auto text-end">
    <i class="recevoir-avis"></i>
</span>

    </div>

    <div class="mb-3 form-group  switchToggle ">
        <input type="checkbox" class="checkboxinput form-check-input" {% if organisation.autorise_rendre_avis_b %}checked{% endif %}>
        <div class="span">

        </div>
        <label for="id_autorise_rendre_avis_b" class="form-check-label col-1">
            <span>
                Rendre les avis au service instructeur <i class="ctx-help-autorise_rendre_avis"></i>
            </span>
        </label>
        <span class="col-1 ms-auto text-end">
<i class="rendre-avis"></i>
</span>
    </div>

{% if organisation.is_membre_famille %}
    <div class="mb-3 form-group  switchToggle ">
        <input type="checkbox" class="checkboxinput form-check-input" {% if organisation.autorise_rendre_preavis_a_service_avis_b %}checked{% endif %}>
        <div class="span">

        </div>
        <label for="id_autorise_rendre_preavis_a_service_avis_b" class="form-check-label col-10">
            <span>
                Autorisé à rendre les préavis au service interrogateur <i class="ctx-help-autorise_rendre_preavis_a_service_avis"></i>
            </span>
        </label>
        <span class="col-1 ms-auto text-end">
<i class="rendre-preavis"></i>
</span>
    </div>
{% endif %}

{% if organisation.is_membre_famille %}
    <div class="mb-3 form-group  switchToggle ">
        <input type="checkbox" class="checkboxinput form-check-input" {% if organisation.autorise_mandater_avis_famille_b %}checked{% endif %}>
        <div class="span">

        </div>

        <label for="id_autorise_mandater_avis_famille_b" class="form-check-label col-10">
            <span>
                Mandater un membre de la famille à traiter une demande d'avis <i class="ctx-help-autorise_mandater_avis_famille"></i>
            </span>
        </label>
        <span class="col-1 ms-auto text-end">
                   <i class="mandater-avis-droit"></i>
                </span>

    </div>
{% endif %}

{% if organisation.is_membre_famille %}
    <div class="mb-3 form-group  switchToggle ">
        <input type="checkbox" class="checkboxinput form-check-input" {% if organisation.autorise_interroge_preavis_famille_b %}checked{% endif %}>
        <div class="span">

        </div>
        <label for="id_autorise_interroge_preavis_famille_b" class="form-check-label col-10">
            <span>
                Interroger un membre de la famille avec un préavis <i class="ctx-help-autorise_interroge_preavis_famille"></i>
            </span>

        </label>
        <span class="col-1 ms-auto text-end">
                    <i class="interroge-preavis-droit"></i>
                </span>
    </div>
{% endif %}

    <div class="mb-3 form-group  switchToggle ">
        <input type="checkbox" class="checkboxinput form-check-input" {% if organisation.autorise_acces_consult_organisateur_b %}checked{% endif %}>
        <div class="span">

        </div>
        <label for="id_autorise_acces_consult_organisateur_b" class="form-check-label col-10">
            <span>
                Autoriser les organisateurs à octroyer un accès en lecture à ce service <i class="ctx-help-autorise_acces_consult_organisateur"></i>
            </span>
        </label>
        <span class="col-1 ms-auto text-end">
<i class="consultation-organisateur "></i>
</span>
    </div>
</div>
<script>
    AfficherIcones()
</script>
<!-- eof structure/panneaux/service-actions.html -->