{% load verbose_tags %}
<!-- bof structure/panneaux/tableau_user_list.html-->
<table class="table">
    <thead>
    <tr>
        <th scope="col"></th>
        <th class="sort" data-sort="last_name" scope="col"><i class="fas fa-sort text-muted"></i>Nom</th>
        <th class="sort" data-sort="first_name" scope="col"><i class="fas fa-sort text-muted"></i>Prénom</th>
        <th class="sort" data-sort="email" scope="col"><i class="fas fa-sort text-muted"></i>Mail</th>
        <th class="sort" data-sort="date_signup" scope="col"><i class="fas fa-sort text-muted"></i>Date d'inscription</th>
        <th class="sort" data-sort="date_last_visit" scope="col"><i class="fas fa-sort text-muted"></i>Dernière connexion</th>
        {% if type_user_list == "user_sans_service"  %}
            <th class="sort" data-sort="actif" scope="col"><i class="fas fa-sort text-muted"></i>État</th>
        {% else %}
            <th class="sort" data-sort="service_type" scope="col"><i class="fas fa-sort text-muted"></i>Type de service</th>
            <th class="sort" data-sort="service_name" scope="col"><i class="fas fa-sort text-muted"></i>Nom de service</th>
        {% endif %}
    </tr>
    </thead>
    <tbody class="test-center list">
    {#  On boucle dans le tableau des comptes récupérés #}
    {% for compte in user_list %}
        <tr class="item">
            <td><a target="_blank" href="{% if type_user_list == "user_sans_service" %}{% url 'structure:administration_des_services' %}?user_id={{ compte.id }}{% else %}/profile/{{ compte.pk }}/{% endif %}">
                                            <i class="fa-solid fa-magnifying-glass"></i></a>
            </td>
            <td class="last_name">{{ compte.last_name }}</td>
            <td class="first_name">{{ compte.first_name }}</td>
            <td class="email">{{ compte.email }}</td>
            <td class="date_signup" data-timestamp="{{ compte.date_joined|date:"U" }}">{{ compte.date_joined }}</td>
            <td class="date_last_visit" data-timestamp="{{ compte.last_visit|date:"U" }}">{% if compte.last_visit %}{{ compte.last_visit }}{% else %}<span class="text-danger">Aucune connexion</span>{% endif %}</td>
            {% if type_user_list == "user_sans_service"  %}
                <td class="actif">
                    {% if compte.is_active %}
                        <i id="icone-user-etat" class="fa-solid fa-circle-check pt-1 text-success"></i><strong id="user-etat" class="text-success">Actif</strong>
                    {% else %}
                        <i id="icone-user-etat" class="fa-solid fa-hexagon-xmark pt-1 text-danger"></i><strong class="text-danger">Inactif</strong>
                    {% endif %}
                </td>
            {% else %}
                <td class="service_type">
                    {% if compte.organisation_m2m.all %}
                        {% for organisation in compte.organisation_m2m.all %}
                            <span> {{ organisation|verbose_name|capfirst }} </span>
                        {% endfor %}
                    {% else %}
                        <span>Pas de service</span>
                    {% endif %}
                </td>
                <td class="service_name">
                    {% if compte.organisation_m2m.all %}
                        {% for organisation in compte.organisation_m2m.all %}
                            <span> {{ organisation.nom_s }} </span>
                        {% endfor %}
                    {% else %}
                        <span>Pas de service</span>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<ul id ="pagination" class="pagination justify-content-center"></ul>
<script>
    $(document).ready(function (){
        {% if user_list %}
            $("#no-result").remove()
            {% if type_user_list == "user_sans_service"  %}
                var filtreValue = ['last_name', 'first_name', 'email', 'actif', {attr: 'data-timestamp', name: 'date_signup'}, {attr: 'data-timestamp', name: 'date_last_visit'}]
            {% else %}
                var filtreValue = ['last_name', 'first_name', 'email', 'service_type', 'service_name', {attr: 'data-timestamp', name: 'date_signup'}, {attr: 'data-timestamp', name: 'date_last_visit'}]
            {% endif %}
            var userList = new List('user-list', {
                valueNames: filtreValue,
                page: 30,
                pagination: [{
                    item: "<li class=\"page-item\"><a class=\"page page-link btn-primary\" href=\"#\" ></a></li>",
                    outerWindow: 1,
                    innerWindow: 4,
                }]
            });
            if(userList.visibleItems.length < 1){
                $('#user-list').append("<div id=\"no-result\" class=\"alert alert-warning container text-center\">Aucun résultat trouvé avec les filtres sélectionnés. Veuillez renouveler votre recherche.</div>\n")
            }
            userList.on('searchComplete', function (){
                if(userList.visibleItems.length < 1 && !$("#no-result").length){
                    $('#user-list').append("<div id=\"no-result\" class=\"alert alert-warning container text-center\">Aucun résultat trouvé avec les filtres sélectionnés. Veuillez renouveler votre recherche.</div>\n")
                }
                else if(userList.visibleItems.length > 0) {
                    $("#no-result").remove()
                }
            })
        {% else %}
            if( !$("#no-result").length) {
                $('#user-list').append("<div id=\"no-result\" class=\"alert alert-warning container text-center\">Aucun résultat trouvé avec les filtres sélectionnés. Veuillez renouveler votre recherche.</div>\n")
            }
        {% endif %}
    })
</script>
<!-- eof structure/panneaux/tableau_user_list.html-->