{% load crispy_forms_tags %}
{% load pluralizero %}
<!-- bof structure/panneaux/user_information.html -->
                <div class="row mb-2">
                    <div class="col-5 libelle">Status :</div>
                    <div class="col-7 valeur">
                        {% if user.is_active %}
                            <i id="icone-user-etat" class="fa-solid fa-circle-check pt-1 text-success"></i><strong id="user-etat" class="text-success">Actif</strong>
                        {% else %}
                            <i id="icone-user-etat" class="fa-solid fa-hexagon-xmark pt-1 text-danger"></i><strong class="text-danger">Inactif</strong>
                        {% endif %}
                        {% if is_admin and not user_is_owner or is_admin_subalterne %}
                            <i data-bs-toggle="tooltip"
                               {% if not user.emailaddress_set.first.verified and not user.is_active %}
                                   data-bs-original-title="Vous devez renseigner une adresse e-mail, et la faire validée, avant de pouvoir activé cet utilisateur"
                                   aria-label="Vous devez renseigner une adresse e-mail, et la faire validée, avant de pouvoir activé cet utilisateur"
                                   class="fas fa-pen interaction-icon float-end disabled"
                               {% else %}
                                   data-bs-original-title="Modifier l'état de l'utilisateur"
                                   aria-label="Modifier l'état de l'utilisateur"
                                   data-service="{{ organisation.pk }}"
                                   data-url="{% url "structure:update_user_active" pk=user.pk %}"
                                   class="fas fa-pen interaction-icon edit_user_active float-end"
                               {% endif %}
                               >
                            </i>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-5 libelle">Nom :</div>
                    <div class="col-7 valeur">{{ user.last_name|title }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-5 libelle">Prénom :</div>
                    <div class="col-7 valeur">{{ user.first_name|title }}</div>
                </div>
                {% if is_admin or request.user == user %}
                    <div class="row mb-2">
                        <div class="col-5 libelle">Pseudo :</div>
                        <div class="col-7 valeur">{{ user.username }}</div>
                    </div>
                {% endif %}
                {% if is_admin or is_admin_subalterne or request.user == user or organisation in request.user.organisation_m2m.all %}
                    <div class="row mb-2">
                        <div class="col-5 libelle">E-mail :</div>
                        <div class="col-7 valeur">
                            {% if not user.email %}
                                <span class="text-primary edit_user_email interaction-icon"
                                      data-url="{% url "structure:update_user_email" pk=user.pk %}"
                                      data-service="{{ organisation.pk }}" >
                                            Ajouter une adresse e-mail
                                </span>
                            {% else %}
                                {{ user.email }}
                                {% if user.emailaddress_set.first.verified %}<span data-bs-toggle="tooltip" title="Adresse validée"><i class="ok"></i></span>
                                {% else %}<span data-bs-toggle="tooltip" title="Adresse non validée"><i class="incertain"></i></span> {% endif %}
                                {% if is_admin or user_is_owner or is_admin_subalterne  %}

                                    <i data-bs-toggle="tooltip"
                                       class="fas fa-pen float-end interaction-icon edit_user_email"
                                       data-bs-original-title="Modifier l'adresse e-amail"
                                       aria-label="Modifier l'adresse e-amail"
                                       data-url="{% url "structure:update_user_email" pk=user.pk %}"
                                       data-service="{{ organisation.pk }}"></i>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% if not user.is_active and user.email %}
                        <div class="row mb-2">
                            <div class="col-5 libelle"></div>
                            <div id="delete_user_email"
                                 data-user="{{ user.pk }}"
                                 data-service="{{ organisation.pk }}"
                                 class="col-7 valeur text-danger interaction-icon">Supprimer l'adresse e-mail</div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="row mb-2">
                    <!-- Todo  Permettre édition -->
                    <div class="col-5 libelle">Instance départementale :</div>
                    <div class="col-7 valeur">{{ user.get_instance }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-5 libelle">Dernière connexion :</div>
                    <div class="col-7 valeur">{{ user.last_login }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-5 libelle">Date d'inscription :</div>
                    <div class="col-7 valeur">{{ user.date_joined }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-5 libelle">Messages en attente :</div>
                    <div class="col-7 valeur">
                        <p class="badge bg-light text-dark no_external border mb-0 me-2" data-placement="top" title="" data-bs-toggle="tooltip" data-bs-original-title="Convocation"><i class="far fa-calendar-star fa-sm msg_conversation"></i><span>{{ cpt_msg.convocation }}</span></p>
                        <p class="badge bg-light text-dark no_external border mb-0 me-2" title="" data-placement="top" data-bs-toggle="tooltip" data-bs-original-title="Demande d'action"><i class="far fa-digging fa-sm msg_action"></i><span>{{  cpt_msg.action }}</span></p>
                        <p class="badge bg-light text-dark no_external border mb-0 me-2" data-placement="top" data-bs-toggle="tooltip" data-bs-original-title="Information de suivi"><i class="far fa-bell  fa-sm msg_suivi"></i><span>{{ cpt_msg.info_suivi }}</span></p>
                        <p class="badge bg-light text-dark no_external border mb-0 me-2" data-placement="top" title="" data-bs-toggle="tooltip" data-bs-original-title="Conversation"><i class="far fa-comment-alt-smile fa-sm msg_conversation"></i><span>{{ cpt_msg.conversation }}</span></p>
                        <p class="badge bg-light text-dark no_external border mb-0 me-2"  title="" data-placement="top" data-bs-toggle="tooltip" data-bs-original-title="Actualité de la plateforme"><i class="far fa-bullhorn  fa-sm nouveaute"></i><span>{{ cpt_msg.news }}</span></p>
                        <p class="badge bg-light text-dark no_external border mb-0 me-2"  title="" data-placement="top" data-bs-toggle="tooltip" data-bs-original-title="Forum"><i class="far fa-comments fa-sm msg_forum"></i><span>{{ cpt_msg.forum }}</span></p>
                    </div>
                </div>

                <!--Formulaire user-->
                <div class="modal fade" id="modal-form" tabindex="-1" aria-labelledby="modal-user-organisation-form" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div id="modal-form-body">
                            </div>
                        </div>
                    </div>
                </div>




<!-- eof structure/panneaux/user_information.html -->