{% load pluralizero %}
<!-- bof structure/panneaux/utilisateurs-liste.html -->
<legend class="legend">
{% if organisation.is_structure_organisatrice %}
    <i class="organisateur"></i>Utilisateur{{ organisation.get_users_qs.count|pluralizero }} de la structure
{% elif organisation.is_service_cdsr %}
    <i class="fa-duotone fa-sitemap"></i>Membre{{ organisation.membres_permanents_m2m.count|pluralizero }} permanent{{ organisation.membres_permanents_m2m.count|pluralizero }} de la structure
{% else %}
    <i class="agent-local"></i>Agent{{  organisation.get_users_qs.count|pluralizero }} du service
{% endif %}</legend>

{% if organisation.is_service_cdsr %}
    {% if organisation.membres_permanents_m2m.all %}
        <ul class="list-group">
            {% for membre in organisation.membres_permanents_m2m.all %}
                <li class="list-group-item d-flex">
                    <div class="col-10">
                        {{ membre }}
                    </div>
                    {% if is_admin %}
                        <div class="col-2 text-end">
                            <i data-bs-toggle="tooltip" data-bs-original-title="Retirer ce membre du service CDSR"
                               aria-label="Retirer ce membre du service CDSR"
                               class="fas fa-times interaction-icon delete-user-organisation">
                            </i>
                            <span class="button-span div_service ms-auto d-flex d-none">
                                <span id="{{ membre.pk }}" data-user="{{ organisation.pk }}" data-switch="cdsr"
                                      data-url="{% url "structure:retirer_membre_cdsr_ajax" pk=organisation.pk %}"
                                      style="width: 40px; height: 25px; line-height: 1;"
                                      class="btn btn-success me-2 valide-delete-organisation d-flex justify-content-center">
                                    <i style="color: white" class="fas fa-check m-0" aria-hidden="true"></i>
                                </span>
                                <span style="width: 40px; height: 25px; line-height: 1;"
                                      class="btn btn-danger me-2 dismis-delete d-flex justify-content-center">
                                    <i style="color: white" class="fas fa-times m-0" aria-hidden="true"></i>
                                </span>
                            </span>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-exclamation-triangle fa-2x"></i> <strong>Aucun service membre rattaché à ce service. </strong>
        </div>
    {% endif %}
    {% if is_admin %}
        <button class="btn-primary btn float-end" id="btn-ajouter-service">
            <i class="fas fa-plus"></i>Ajouter un membre permanent
        </button>
        <div id="alert-gestion-service" class="alert alert-info alert-dismissible fade d-none show" role="alert">
            <p class="my-3"><span class="pt-1"><strong>1 - </strong>Ouvrez la page de gestion des services :</span>
                <button class="btn-primary btn float-end">
                    <a class="text-white" target="_blank" href="{% url "structure:gerer-membre-cdsr" pk=organisation.pk %}">Gestion des services</a>
                </button>
            </p>
            <p class="my-3"><span class="pt-1"><strong>2 - </strong>Sélectionnez le service à ajouter au service CDSR. </span></p>
            <p class="my-3"><span class="pt-1"><strong>3 - </strong>Fermez la page de gestion des services et rafraîchissez celle-ci.</span>
                <button class="btn-primary btn float-end" onClick="window.location.reload();">
                    <a class="text-white" href="#">
                        <i class="fa-solid fa-arrow-rotate-right"></i>Rafraichir</a>
                </button>
            </p>

        </div>
    {% endif %}
{% else %}
    {% if organisation.get_users_qs %}
        <ul class="list-group">
            {% for user in organisation.get_users_qs %}
                <li class="list-group-item">
                    <a href="#{{ user.pk }}" data-service="{{ organisation.pk }}"
                       class="{% if user == request.user %} own-profil {% endif %}service-list-item organisation_user {% if not user.is_active %} text-danger {% endif %}">
                        {{ user.get_full_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-exclamation-triangle fa-2x"></i> <strong>Aucun utilisateur rattaché à ce service. </strong>
            <br><br>
            <p>Personne ne peut se connecter à la plateforme.</p>
            <p>Les demandes d'avis ne peuvent pas être traités.</p>
        </div>
    {% endif %}
    <div class="fs-6 ms-5 mt-2 mb-1" style="border-bottom: 1px solid #869200;">
        Invitations d'inscription
        {% if organisation.is_structure_organisatrice %}à la structure{% else %}au service{% endif %}
    <i class="ctx-help-invitation_service"></i>
    </div>
    {% if invitation  %}
        {% if not organisation.type_service_fk.categorie_fk.nom_s == "_Support" %}
            {% if organisation.get_service_administrateur in request.user.organisation_m2m.all or is_admin %}
                <div class="w-100 text-end invitation_btn">
                    <button class="btn btn-primary ajouter-invitation" id="#{{ organisation.id }}" role="button">
                        <i class="fas fa-plus"></i>Ajouter une invitation
                    </button>
                </div>
                <div class="w-100 text-end ms-5 invitation_input" style="display: none">
                    <form class="row" action="/structure/ajax/invitation/" id="invit-form" method="post">
                        <input type="hidden" name="service_id" value="{{ organisation.id }}" />
                        <div class="col-9"><div class="input-group mb-3">
                            <input type="email" class="form-control" name="email" maxlength="150" id="invit-email"
                               placeholder="Saisir l'adresse email de l'invité">
                            <button class="btn btn-primary" type="submit" id="invit-send">Ajouter</button>
                        </div></div>
                        <div class="col-2">
                            <button class="btn btn btn-danger invit-quit" style="padding-right: 7px;:hover ">
                                <i class="fas fa-times fa-lg text-white"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="w-100 invitation-erreur mt-1 text-danger"></div>
            {% endif %}
        {% endif %}
    {% endif %}
    <div class="w-100 invitation-liste mt-1">
        {% include "structure/panneaux/invitation.html" with organisation=organisation %}
    </div>
{% endif %}
<!-- eof structure/panneaux/utilisateurs-liste.html -->