{% load i18n %}
{% load forum_permission_tags thumbnail_filter %}

{% get_permission 'can_download_files' post.topic.forum request.user as user_can_download_files %}
{% if post.attachments.exists and user_can_download_files %}
    <div class="row attachments">
        <div class="col-md-12">
            <span class="text-muted attachments-title"><i class="fa fa-files-o"></i>&nbsp;{% trans "Attachments" %}</span>
        </div>
        {% for attachment in post.attachments.all %}
            <div class="col-md-12 attachment">
                {% if attachment.scan_antivirus %}
                    <a href="{% url 'forum_conversation:attachment' pk=attachment.id %}"><i class="fa fa-file"></i>&nbsp;{{ attachment.filename }}</a>
                    <span data-bs-toggle="tooltip" data-placement="auto" data-html="true" class="ms-2 badge bg-info"
                          title="<img src='{{ attachment.file|thumbnail }}'>">
                            <i class="afficher no-right-margin text-white"></i>
                        </span>
                    {% if attachment.comment %}
                        <p class="text-muted"><em>{{ attachment.comment }}</em></p>
                    {% endif %}
                {% else %}
                    <p><i class="pj_nonvalide"></i> Traitement du fichier en cours</p>
                    {% if attachment.comment %}
                        <p class="text-muted"><em>{{ attachment.comment }}</em></p>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}