{% load i18n %}

{{ attachment_formset.management_form }}
{% for form in attachment_formset.forms %}
    <div class="attachment-form row">
        {% for field in form.visible_fields %}
            <div class="col-md-4">
                {% if forloop.first %}
                    {{ form.id }}
                {% endif %}
                {% if field.html_name in form.files.keys %}
                    {% for key, file in form.files.items %}
                        {% if key == field.html_name %}
                            <p class="initial"><i class="fa fa-file"></i>&nbsp;&nbsp;{{ file.name }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if field.name == 'DELETE' %}
                    <div class="checkbox">
                        <label for="{{ field.auto_id }}">
                            {{ field }}
                            {{ field.label }}
                        </label>
                    </div>
                {% elif field.name == 'file' %}
                    <div id="div_id_{{ field.html_name }}" class="form-group{% if field.errors %} has-error{% endif %}">
                        <div class="controls">
                            {% if field.label %}<label class="control-label" for="{{ field.auto_id }}">{{ field.label }}{% if not field.field.required %} <span class="text-muted">{% trans "(optional)" %}</span>{% endif %}</label>{% endif %}
                            {{ field }}
                            {% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
                            {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
                        </div>
                    </div>
                {% else %}
                    {% include "partials/form_field.html" with field=field %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endfor %}
<span id="add_more_attachment" class="btn btn-sm btn-info text-white"><i class="ajouter"></i>&nbsp;{% trans "Add another file" %}</span>
<script>

    function cloneFormset(selector, type) {
        var new_element = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();

        new_element.find(':input').each(function() {
            // update the name and id of the input field
            var new_name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            $(this).attr('name', new_name);
            var new_id = $(this).attr('id').replace('-' + (total-1) + '-','-' + total + '-');
            $(this).attr('id', new_id);
            $(this).parent('label').attr('for', new_id);
            $(this).prev('label').attr('for', new_id);
            if ($(this).is(':checkbox')) {
                $(this).attr('checked', false);
            }
            else {
                $(this).attr('value', '');
                $(this).val('');
            }
        });
        new_element.find('.initial').remove();
        $('#id_' + type + '-TOTAL_FORMS').val(parseInt(total)+1);
        $(selector).after(new_element);
    }




    $('#add_more_poll_option').click(function(ev) {
        ev.preventDefault();
        cloneFormset('#poll_formset div.poll-option-form:last', 'poll');
    });




    $('#add_more_attachment').click(function(ev) {
        ev.preventDefault();
        cloneFormset('#attachment_formset div.attachment-form:last', 'attachment');
    });



</script>