{% load static %}
<div class="card" id="logs_list">
    <div class="p-0 card-header">
        <div class="row m-0 px-3 py-2">
            <div class="col-2"><a href="#" class="sort" data-sort="email"><i class="fas fa-sort text-muted"></i>Email</a></div>
            <div class="col-2"><a href="#" class="sort" data-sort="user"><i class="fas fa-sort text-muted"></i>Utilisateur</a></div>
            <div class="col-2"><a href="#" class="sort" data-sort="service"><i class="fas fa-sort text-muted"></i>Service</a></div>
            <div class="col-2"><a href="#" class="sort" data-sort="date"><i class="fas fa-sort text-muted"></i>Date</a></div>
            <div class="col-2"><a href="#" class="sort" data-sort="date"><i class="fas fa-sort text-muted"></i>Type d'erreur</a></div>
        </div>
    </div>
    <div class="p-0 card-body">
        <ul class="list list-group">
            {% for log in logs %}
                <li class="item list-group-item">
                    <div class="row m-0 px-0 ">
                        <div class="col-2"><span class="email">{{ log.email }}</span></div>
                        <div class="col-2"><span class="user">{{ log.user }}</span></div>
                        <div class="col-2"><span class="service">{{ log.service }}</span></div>
                        <div class="col-2"><span class="date" data-timestamp="{{ log.date|date:"U" }}">{{ log.date }}</span></div>
                        <div class="col-2"><span class="type">{{ log.get_type_erreur_display }}</span></div>
                        {% if not detail %}
                            <div class="col-2">
                                <span>
                                    <a href="{% url 'detail_log' log.pk %}">Voir les logs</a>
                                    <a href="{% url 'resolution_log' log.pk %}" class="btn btn-primary ms-2">Résoudre</a>
                                </span>
                            </div>
                        {% endif %}
                    </div>
                </li>
                {% if detail and forloop.last and is_admin %}
                    </ul>
                    </div>
                    <div class="card-footer">
                        <div class="row m-0 p-0">
                            <div class="col-10">
                                <p class="my-3"><a href="{% url 'list_logs' %}">Retour à la liste</a></p>
                            </div>
                            <div class="col-2">
                                    <span class="col-8 float-end">
                                        <a href="{% url 'resolution_log' log.pk %}" class="btn btn-primary mt-2">Résoudre</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                {% elif forloop.last %}
                    </ul>
                    </div>
                {% endif %}

            {% endfor %}

</div>
<script src='{% static "libs/list.min.js" %}' type="text/javascript"></script>
<script>
    var logList = new List('logs_list', {
        valueNames: ['user', 'service', 'email', 'type',{attr: 'data-timestamp', name: 'date'}]
    });
</script>
<script src="{% static "portail/js/sort_button.js" %}" type="text/javascript"></script>

