{% extends "base.html" %}
{% load crispy_forms_tags i18n static webpush_notifications %}


{% load i18n %}

{% block head_title %}
    Profil
{% endblock %}

{% block page_title %}
    <h1>Profil de {{ request.user.get_full_name }}</h1>
{% endblock %}

{% block content %}
    {% webpush_header %}
    <form method="post" action="{% url 'parametre_notification_messagerie' %}">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.source.errors }}
        {{ form.source }}

        <table class="table">
            <thead>
            <tr>
                <td ></td>
                <td colspan="3" style="border-left: 1px solid #dee2e6"><b>Type de notification</b></td>
            </tr>
            <tr>
                <th scope="col">Type de message</th>
                <th scope="col" style="border-left: 1px solid #dee2e6">Message en gras dans la messagerie</th>
                <th scope="col">Envoi immédiat d'un mail de notification<i class="ctx-help-messagerie_option_notif_mail"></i></th>
                <th scope="col">Apparition d'une notification push<i class="ctx-help-messagerie_option_notif_push"></i></th>

            </tr>
            </thead>

            <tbody>
            <tr>
                <th scope="row">Conversation</th>
                <td style="border-left: 1px solid #dee2e6"><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox"  {% if form.conversation_msg.value %}checked{% endif %} name="{{ form.conversation_msg.name }}"><span></span></label></div>
                </td>
                <td><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if form.conversation_mail.value %}checked{% endif %} name="{{ form.conversation_mail.name }}"><span></span></label></div>
                </td>
                <td><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if form.conversation_push.value %}checked{% endif %} name="{{ form.conversation_push.name }}"><span></span></label></div>
                </td>
            </tr>
            <tr>
                <th scope="row">Demande d'action</th>
                <td style="border-left: 1px solid #dee2e6"><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if form.action_msg.value %}checked{% endif %} name="{{ form.action_msg.name }}"><span></span></label></div>
                </td>
                <td><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if form.action_mail.value %}checked{% endif %} name="{{ form.action_mail.name }}"><span></span></label></div>
                </td>
                <td><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if form.action_push.value %}checked{% endif %} name="{{ form.action_push.name }}"><span></span></label></div>
                </td>
            </tr>
            <tr>
                <th scope="row">Information de suivi</th>
                <td style="border-left: 1px solid #dee2e6"><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox"  {% if form.notification_msg.value %}checked{% endif %} name="{{ form.notification_msg.name }}"><span></span></label></div>
                </td>
                <td><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if form.notification_mail.value %}checked{% endif %} name="{{ form.notification_mail.name }}"><span></span></label></div>
                </td>
                <td><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if form.notification_push.value %}checked{% endif %} name="{{ form.notification_push.name }}"><span></span></label></div>
                </td>
            </tr>
            <tr>
                <th scope="row">Actualité de la plateforme</th>
                <td style="border-left: 1px solid #dee2e6"><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if form.nouveaute_msg.value %}checked{% endif %} name="{{ form.nouveaute_msg.name }}"><span></span></label></div>
                </td>
                <td><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if form.nouveaute_mail.value %}checked{% endif %} name="{{ form.nouveaute_mail.name }}"><span></span></label></div>
                </td>
                <td><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if form.nouveaute_push.value %}checked{% endif %} name="{{ form.nouveaute_push.name }}"><span></span></label></div>
                </td>
            </tr>

            <tr>
                <th scope="row">Traçabilité</th>
                <td style="border-left: 1px solid #dee2e6"><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox"  {% if form.tracabilite_msg.value %}checked{% endif %} name="{{ form.tracabilite_msg.name }}"><span></span></label></div>
                </td>
                <td><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if form.tracabilite_mail.value %}checked{% endif %} name="{{ form.tracabilite_mail.name }}"><span></span></label></div>
                </td>
                <td><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if form.tracabilite_push.value %}checked{% endif %} name="{{ form.tracabilite_push.name }}"><span></span></label></div>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td style="border-left: 1px solid #dee2e6"></td>
                <td><div class="checkbox checkbox-slider--a"><label><input class="filter_bar" type="checkbox" {% if request.user.recap %}checked{% endif %} name="recap"><span class="ml-2">  Mail recapitulatif (1 par jour)</span></label><i class="ctx-help-messagerie_option_notif_recap"></i><a href="{% url "messagerie:envoimessagerecap" %}"  class="btn btn-primary btn-action btn-sm" value="Sauvegarder">Envoyer maintenant.</a></div>
            </td>
                <td><div id="alert_notif_push"></div>{% webpush_button %}</td>
            </tr>
            </tbody>
        </table>

        <input type="submit" class="btn btn-primary btn-action btn-sm" value="Sauvegarder">

    </form>

    <script>

        $(function () {
            var active = {{ pushactif }};
            var end = `{{ end|safe }}`;
            var endpoints = JSON.parse(end);
            var serviceWorker = document.querySelector('meta[name="service-worker-js"]').content;
            navigator.serviceWorker.register(serviceWorker)
                .then(
                    function(reg) {
                        registration = reg;
                        var navpoint;
                        registration.pushManager.getSubscription().then(function (nav) {
                            let ok =0;
                            if (nav){
                                navpoint=  nav.endpoint;
                                if (active === 1){
                                    for (let i=0; i<endpoints.point.length; i++){
                                        if (endpoints.point[i]===navpoint){
                                            ok=1;
                                        }
                                    }
                                }
                            }
                            if (ok===1){
                                var subBtn = document.getElementById('webpush-subscribe-button');
                                subBtn.textContent = 'Se désabonner des notifications Push';
                                subBtn.disabled = false;
                                isPushEnabled = true;
                            }
                            else{
                                $('#alert_notif_push').html('<div class="alert alert-warning">Attention, les notifications push sont actuellement désactivées sur ce navigateur.<br>' +
                                    'Veuillez les activer pour que votre paramètrage soit opérationnel.</div>');
                                $('#webpush-subscribe-button').removeClass('btn-primary').addClass("btn-danger");
                            }
                        })
                    }
                );

            $('#webpush-subscribe-button').addClass('btn btn-primary btn-action btn-sm')
                .css('float', 'none')
        });

    </script>
{% endblock %}