{% extends "base.html" %}
{% load crispy_forms_tags i18n static webpush_notifications %}


{% load i18n %}

{% block head_title %}
    Profil
{% endblock %}

{% block page_title %}
    <h1>Paramètres de notifications de messagerie pour {{ request.user.get_full_name }}</h1>
{% endblock %}

{% block content %}
    {% webpush_header %}
    <form method="post" action="{% url 'parametre_notification_messagerie' %}">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.source.errors }}
        {{ form.source }}

        <p><a href="/aide/messagerie" class="btn btn-secondary"><i class="aide"></i>Consulter la page de présentation de la messagerie</a></p>

        <p>Il y a 3 moyens d'être informé (3 canaux de notification) lorsque vous recevez un nouveau message au sein de la plateforme :</p>

        <ul>
            <li><strong>message en gras dans la messagerie de la plateforme :</strong>

                <ul>
                    <li>dans le flux de la messagerie, les nouveaux messages apparaissent en gras. Le 'gras' disparait dès que le message est
                        ouvert.
                    </li>
                    <li>en permanence en haut de l'écran, des petites icônes affichent le nombre de messages en gras (non lus) selon leur type. 1 clic
                        sur une des icônes permet d'y accéder directement.<br>
                        &nbsp;
                    </li>
                </ul>
            </li>
            <li><strong>par email</strong> :
                <ul>
                    <li>à chaque nouveau message, un courriel de notification peut vous être envoyé à l'adresse email indiqué dans votre profil. Ce
                        couriel vous informe que vos nouveaux messages sont consultables sur la plateforme.
                    </li>
                    <li>et/ou via un email récapitulatif envoyé une fois par jour si nécessaire.</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><strong>par notification sur votre bureau (notification push)</strong> : il s'agit du canal de notification le plus moderne et le plus
                simple pour les personnes qui utilisent leur ordinateur en permanence.
            </li>
        </ul>

        <p>Vous pouvez personnaliser les canaux de notification <strong>pour chaque type de message</strong>. Par exemple, vous pouvez choisir de
            recevoir les 'Conversations' et les 'Informations de suivi' par notification push et recevoir un email pour toutes les 'Demandes
            d'action'.<br></p>
        <hr>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Type de message</th>
                <th scope="col" style="border-left: 1px solid #dee2e6">Message en gras dans la messagerie</th>
                <th scope="col">Envoi d'un mail de notification<i class="ctx-help-messagerie_option_notif_mail"></i></th>
                <th scope="col">Apparition d'une notification push<i class="ctx-help-messagerie_option_notif_push"></i></th>

            </tr>
            </thead>

            <tbody>
            <tr class="bg-light" style="cursor: not-allowed">
                <th scope="row">Convocation</th>
                <td style="border-left: 1px solid #dee2e6">
                    <div class="checkbox switchToggle" style="cursor: not-allowed"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox" checked disabled>
                        <div class="span"></div>
                    </label></div>
                    <div class="non_dispo">non modifiable</div>
                </td>
                <td>
                    <div class="checkbox switchToggle" style="cursor: not-allowed"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox" checked disabled>
                        <div class="span"></div>
                    </label></div>
                    <div class="non_dispo">non modifiable</div>
                </td>
                <td>
                    <div class="checkbox switchToggle" style="cursor: not-allowed"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox" checked disabled>
                        <div class="span"></div>
                    </label></div>
                    <div class="non_dispo">non modifiable</div>
                </td>
            </tr>
            <tr>
                <th scope="row">Conversation</th>
                <td style="border-left: 1px solid #dee2e6">
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.conversation_msg.value %}checked{% endif %}
                                                                                       name="{{ form.conversation_msg.name }}">
                        <div class="span"></div>
                    </label></div>
                </td>
                <td>
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.conversation_mail.value %}checked{% endif %}
                                                                                       name="{{ form.conversation_mail.name }}">
                        <div class="span"></div>
                    </label></div>
                {% if not request.C.mail_conversation %} <div class="non_dispo">Option non disponible</div> {% endif %}
                </td>
                <td>
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.conversation_push.value %}checked{% endif %}
                                                                                       name="{{ form.conversation_push.name }}">
                        <div class="span"></div>
                    </label></div>
                </td>
            </tr>
            <tr>
                <th scope="row">Demande d'action</th>
                <td style="border-left: 1px solid #dee2e6">
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.action_msg.value %}checked{% endif %}
                                                                                       name="{{ form.action_msg.name }}">
                        <div class="span"></div>
                    </label></div>
                </td>
                <td>
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.action_mail.value %}checked{% endif %}
                                                                                       name="{{ form.action_mail.name }}">
                        <div class="span"></div>
                    </label></div>{% if not request.C.mail_action %} <div class="non_dispo">Option non disponible</div> {% endif %}
                </td>
                <td>
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.action_push.value %}checked{% endif %}
                                                                                       name="{{ form.action_push.name }}">
                        <div class="span"></div>
                    </label></div>
                </td>
            </tr>
            <tr>
                <th scope="row">Information de suivi</th>
                <td style="border-left: 1px solid #dee2e6">
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.notification_msg.value %}checked{% endif %}
                                                                                       name="{{ form.notification_msg.name }}">
                        <div class="span"></div>
                    </label></div>
                </td>
                <td>
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.notification_mail.value %}checked{% endif %}
                                                                                       name="{{ form.notification_mail.name }}">
                        <div class="span"></div>
                    </label></div>{% if not request.C.mail_suivi %} <div class="non_dispo">Option non disponible</div> {% endif %}
                </td>
                <td>
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.notification_push.value %}checked{% endif %}
                                                                                       name="{{ form.notification_push.name }}">
                        <div class="span"></div>
                    </label></div>
                </td>
            </tr>
            <tr>
                <th scope="row">Actualité de la plateforme</th>
                <td style="border-left: 1px solid #dee2e6">
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.nouveaute_msg.value %}checked{% endif %}
                                                                                       name="{{ form.nouveaute_msg.name }}">
                        <div class="span"></div>
                    </label></div>
                </td>
                <td>
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.nouveaute_mail.value %}checked{% endif %}
                                                                                       name="{{ form.nouveaute_mail.name }}">
                        <div class="span"></div>
                    </label></div>{% if not request.C.mail_actualite %} <div class="non_dispo">Option non disponible</div> {% endif %}
                </td>
                <td>
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.nouveaute_push.value %}checked{% endif %}
                                                                                       name="{{ form.nouveaute_push.name }}">
                        <div class="span"></div>
                    </label></div>
                </td>
            </tr>

            <tr>
                <th scope="row">Traçabilité</th>
                <td style="border-left: 1px solid #dee2e6">
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.tracabilite_msg.value %}checked{% endif %}
                                                                                       name="{{ form.tracabilite_msg.name }}">
                        <div class="span"></div>
                    </label></div>
                </td>
                <td>
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.tracabilite_mail.value %}checked{% endif %}
                                                                                       name="{{ form.tracabilite_mail.name }}">
                        <div class="span"></div>
                    </label></div>{% if not request.C.mail_tracabilite %} <div class="non_dispo">Option non disponible</div> {% endif %}
                </td>
                <td>
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.tracabilite_push.value %}checked{% endif %}
                                                                                       name="{{ form.tracabilite_push.name }}">
                        <div class="span"></div>
                    </label></div>
                </td>
            </tr>
            <tr>
                <th scope="row">Forum</th>
                <td style="border-left: 1px solid #dee2e6">
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.forum_msg.value %}checked{% endif %}
                                                                                       name="{{ form.forum_msg.name }}">
                        <div class="span"></div>
                    </label></div>
                </td>
                <td>
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.forum_mail.value %}checked{% endif %}
                                                                                       name="{{ form.forum_mail.name }}">
                        <div class="span"></div>
                    </label></div>{% if not request.C.mail_forum %} <div class="non_dispo">Option non disponible</div> {% endif %}
                </td>
                <td>
                    <div class="checkbox switchToggle"><label class="ps-0 mb-4"><input class="filter_bar" type="checkbox"
                                                                                       {% if form.forum_push.value %}checked{% endif %}
                                                                                       name="{{ form.forum_push.name }}">
                        <div class="span"></div>
                    </label></div>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td style="border-left: 1px solid #dee2e6"></td>
                <td>
                    <div class="checkbox d-inline switchToggle"><label class="ps-0 mb-2"><input class="filter_bar me-5" type="checkbox"
                                                                                                {% if request.user.recap %}checked{% endif %}
                                                                                                name="recap">
                        <div class="span"></div>
                        <span class="ms-5 ps-3 d-block">  Mail recapitulatif (1 par jour)</span></label><i
                            class="ctx-help-messagerie_option_notif_recap"></i><br><a href="{% url "messagerie:envoimessagerecap" %}"
                                                                                      class="btn btn-light btn-sm" value="Sauvegarder">Envoyer un
                        email de test maintenant</a></div>
                    <div class="mt-3 alert alert-warning">Si vous ne sélectionnez rien dans cette colonne, vous ne recevrez aucun email.</div>
                </td>
                <td>
                    <div id="alert_notif_push"></div>
                    {% webpush_button %}</td>
            </tr>
            </tbody>
        </table>

        <input type="submit" class="btn btn-primary btn-action" value="Sauvegarder" style="width: 100%;">

    </form>

    <style>
    .non_dispo{
        color:#dc3545;
    }
    </style>

    <script>

        $(function () {
            var active = {{ pushactif }};
            var end = `{{ end|safe }}`;
            var endpoints = JSON.parse(end);
            var serviceWorker = document.querySelector('meta[name="service-worker-js"]').content;
            navigator.serviceWorker.register(serviceWorker)
                .then(
                    function (reg) {
                        registration = reg;
                        var navpoint;
                        registration.pushManager.getSubscription().then(function (nav) {
                            let ok = 0;
                            if (nav) {
                                navpoint = nav.endpoint;
                                if (active === 1) {
                                    for (let i = 0; i < endpoints.point.length; i++) {
                                        if (endpoints.point[i] === navpoint) {
                                            ok = 1;
                                        }
                                    }
                                }
                            }
                            if (ok === 1) {
                                var subBtn = document.getElementById('webpush-subscribe-button');
                                subBtn.textContent = 'Se désabonner des notifications Push';
                                subBtn.disabled = false;
                                isPushEnabled = true;
                            } else {
                                $('#alert_notif_push').html('<div class="alert alert-warning">Attention, les notifications push sont actuellement désactivées sur ce navigateur.<br>' +
                                    'Veuillez les activer pour que votre paramètrage soit opérationnel.</div>');
                                $('#webpush-subscribe-button').removeClass('btn-primary').addClass("btn-danger");
                            }
                        })
                    }
                );

            $('#webpush-subscribe-button').addClass('btn btn-primary btn-action btn-sm')
                .css('float', 'none')
        });

    </script>
{% endblock %}