{% extends "base.html" %}


{% load i18n %}

{% block head_title %}
    Mot de passe expiré
{% endblock %}

{% block page_title %}
    <h1>Mot de passe expiré</h1>
{% endblock %}

{% block content %}
    <div class="alert-danger alert">Votre mot de passe a expiré.<br>
        Un email vous a été envoyé pour vous expliquer comment le changer.<br>
        Veuillez consulter votre boite email et suivre les instructions transmises.</div>
{% endblock %}
