{% extends "base.html" %}

{% load i18n %}
{% load verbose_tags %}
{% block head_title %}
    Profil
{% endblock %}

{% block page_title %}
    <h1>Profil de {{ object.get_full_name }} <i class="ctx-help-profil"></i></h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class=" col-md-6">
            <div class="card">
                <div class="card-header bg-primary"><i class="utilisateur"></i>Utilisateur</div>
                <div class="card-body">
                    <ul class="list-group mb-3">
                        <li class="list-group-item">Nom : {{ object.last_name|title }}</li>
                        <li class="list-group-item">Prénom : {{ object.first_name|title }}</li>
                    {% if user_is_admin %}
                        <li class="list-group-item">Pseudo : {{ object.username }}</li>
                        <li class="list-group-item">E-mail : {{ object.email }}
                            {% if user_is_owner %}
                                <br>
                                <a class="float-right" href="{% url 'account_email' %}"><i class="editer"></i>Modifier mon adresse email</a>
                            {% endif %}
                        </li>
                    {% endif %}
                        <li class="list-group-item">Département : {{ object.get_instance }}</li>
                        <li class="list-group-item">Rôle : {{ role|verbose_name }}</li>
                    {% if user_is_owner %}
                        <li class="list-group-item">Dernier changement de mot de passe : {{ object.last_change_password }}<br>
                            <a class="float-right" href="{% url 'account_change_password' %}"><i class="editer"></i>Modifier mon mot de passe</a>
                        </li>
                    {% endif %}
                    {% if user_is_admin %}
                        <li class="list-group-item">Dernière connexion : {{ object.last_login }}</li>
                    {% endif %}
                        <li class="list-group-item">Date d'inscription : {{ object.date_joined }}</li>
                    {% if user_is_admin and not user_is_owner %}
                        <li class="list-group-item">
                            Message en attente :
                            <p class="badge badge-light no_external border mb-0 mr-2 ml-2" data-placement="top" title="Conversation" data-toggle="tooltip"><i class='far fa-comment fa-sm msg_conversation'></i>{{ cpt_msg.conversation }} </p>
                            <p class="badge badge-light no_external border mb-0 mr-2" title="Demande d'action" data-placement="top" data-toggle="tooltip"><i class='far fa-digging fa-sm msg_action'></i>{{  cpt_msg.action }}&nbsp;</p>
                            <p class="badge badge-light no_external border mb-0 mr-2" title="Information de suivi" data-placement="top" data-toggle="tooltip"><i class='far fa-bell  fa-sm msg_suivi'></i>{{ cpt_msg.info_suivi }}&nbsp;&nbsp;</p>
                            <p class="badge badge-light no_external border mb-0 mr-2" title="Actualité de la plateforme" data-placement="top" data-toggle="tooltip"><i class='far fa-bullhorn  fa-sm nouveaute'></i>{{ cpt_msg.news }}</p>
                        </li>
                    {% endif %}
                    </ul>
                    {% if user_is_owner %}
                        <a class="btn btn-primary btn-action btn-sm" href="{% url 'profile_edit' %}" role="button"><i class="editer"></i>Modifier</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
        {% if object.organisateur.structure %}
            <div class="card mb-5">
                <div class="card-header bg-primary"><i class="structure"></i>Structure</div>
                <div class="card-body">
                    <ul class="list-group mb-3">
                        <li class="list-group-item">Nom de la structure : {{ object.organisateur.structure.name }} </li>
                        <li class="list-group-item">Type de structure : {{ object.organisateur.structure.type_of_structure }}</li>
                        <li class="list-group-item">Adresse : {{ object.organisateur.structure.address|title }},
                            {{ object.organisateur.structure.commune.zip_code }} {{ object.organisateur.structure.commune }}</li>
                        <li class="list-group-item">Département : {{ object.organisateur.structure.get_departement }}</li>
                        <li class="list-group-item">Numéro de téléphone : {{ object.organisateur.structure.phone }}</li>
                    {% if object.organisateur.structure.website %}
                        <li class="list-group-item">Site web :
                            <a href="{{ object.organisateur.structure.website }}" target="_blank">{{ object.organisateur.structure.website }}</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if object.agent or object.agentlocal or object.instructeur%}
            <div class="card mb-5">
                <div class="card-header bg-primary"><i class="structure"></i>Service</div>
                <div class="card-body">
                    <ul class="list-group mb-3">
                        <li class="list-group-item">Nom du service : {{ object.get_service }}</li>
                        <li class="list-group-item">Nature du service : {{ object.get_service|verbose_name }} </li>
                        {% if object.get_service.email  %}
                            <li class="list-group-item">E-mail : {{ object.get_service.email }} </li>
                        {% endif %}
                        {% if object.get_service.number  %}
                            <li class="list-group-item">Numéro de compagnie : {{ object.get_service.number }}</li>
                        {% endif %}
                        {% if object.get_service.kind  %}
                            <li class="list-group-item">Type de brigade : {{ object.get_service.kind|upper }}</li>
                        {% endif %}
                        {% if object.get_service.service_type  %}
                            <li class="list-group-item">Type de service : {{ object.get_service.get_service_type_display }}</li>
                        {% endif %}
                        {% if object.get_service.cgd  %}
                            <li class="list-group-item">Compagnie de rattachement : {{ object.get_service.cgd }}</li>
                        {% endif %}
                        {% if object.get_service.compagnie  %}
                            <li class="list-group-item">Compagnie de rattachement : {{ object.get_service.compagnie }}</li>
                        {% endif %}
                        {% if object.get_service.commune  %}
                            <li class="list-group-item">Commune de rattachement : {{ object.get_service.commune }}</li>
                        {% endif %}
                        {% if object.get_service.get_service_users|length > 1 %}
                            {% if user_is_admin  %}
                                <li class="list-group-item">
                                    <ul class="list-group mb-3">
                                        <p>Liste des agents du service :</p>
                                        {% for agent in object.get_service.get_service_users %}
                                            {% if agent.get_full_name != object.get_full_name  %}
                                                {% if agent.is_active %}
                                                    <li class="list-group-item">
                                                        <a href="{% url 'profile_publique' pk=agent.pk%}" class="text-decoration-none">
                                                            {{ agent.get_full_name }}</a><span class="float-right">{{ agent.email }}</span>
                                                    </li>
                                                {% else %}
                                                    <li class="list-group-item" style="color: red !important;">
                                                        <a href="{% url 'profile_publique' pk=agent.pk%}" class="text-decoration-none" style="color: red !important;">
                                                            {{ agent.get_full_name }} </a><span class="float-right">{{ agent.email }}</span>
                                                            <span class="float-right" style="color: red">(utilisateur inactif)</span>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="list-group-item">Nombre d'agents : {{ nb_actif }}
                                    agent{{ nb_actif|pluralize }}
                                    actif{{ nb_actif|pluralize }}
                                    {% if nb_inactif > 0 %}
                                        , {{ nb_inactif }}
                                        non actif{{ nb_inactif|pluralize }}
                                    {% endif %}</li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if user_is_owner %}
            <div class="card">
                <div class="card-header bg-primary"><i class="fas fa-wrench"></i>Paramètres</div>
                <div class="card-body">
                    <p><i class="message"></i>Messagerie :
                        <a href="{% url 'parametre_notification_messagerie' %}" class="btn btn-primary float-right">
                            <i class="editer"></i>Modifier vos options de notifications
                        </a>
                    </p>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
