{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load verbose_tags %}
{% block head_title %}
    Profil
{% endblock %}

{% block page_title %}
    <h1>Profil de {{ object.get_full_name }}  {% if user_is_owner %}<i class="ctx-help-profil"></i>{% endif %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class=" col-md-6">
            <div class="card position-relative">
                <div class="card-header bg-primary"><i class="utilisateur"></i>Utilisateur</div>
                <div class="card-body">
                    {% include "structure/panneaux/user_information.html" with user=object %}
                    <div class="row mb-2">
                        <div class="col-5 libelle">Dernier changement de mot de passe :</div>
                        <div class="col-7 valeur">{{ object.last_change_password }}
                            {% if user_is_owner %}
                                <a class="float-end" href="{% url 'account_change_password' %}"><i class="editer"></i>Modifier mon mot de passe</a>
                            {% endif %}
                        </div>
                    </div>

                    {% if user_is_owner %}
                        <a class="btn btn-primary btn-action btn-sm" href="{% url 'profile_edit' %}" role="button"><i class="editer"></i>Modifier</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6 h-100">
            {% if user_is_owner %}
                <div class="card">
                    <div class="card-header bg-primary"><i class="fas fa-wrench"></i>Paramètres</div>
                    <div class="card-body">
                        <p class="mb-4"><i class="msg_forum"></i>Forum :
                            <a href="{% url 'gerer_mes_abonnements' %}" class="btn btn-primary float-end">
                                <i class="editer"></i>Modifier vos abonnements
                            </a>
                        </p>
                        <p><i class="message"></i>Messagerie :
                            <a href="{% url 'parametre_notification_messagerie' %}" class="btn btn-primary float-end">
                                <i class="editer"></i>Modifier vos options de notifications
                            </a>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-header bg-primary"><i class="structure"></i>Organisations</div>
                <ul class="nav nav-tabs card-header">
                    {% for organisation in object.organisation_m2m.all %}
                        <li class="nav-item">
                            <a class="nav-link {% if forloop.first %}active{% endif %}"
                               href="#organisation-tab-{{ organisation.pk }}"
                               data-bs-toggle="tab" role="tab"
                               aria-controls="organisation-tab-{{ organisation.pk }}"
                               aria-selected="false">{{ organisation.nom_s }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="cadre tab-content border-0 p-0" id="ex1-content">
                    {% for organisation in object.organisation_m2m.all %}
                        <div id="organisation-tab-{{ organisation.pk }}"
                             class="tab-pane fade  {% if forloop.first %}show active{% endif %}"
                             role="tabpanel" aria-labelledby="ex1-tab-1">
                            <div class="card">
                                <div class="d-flex card-body flex-wrap">
                                    {% include "structure/panneaux/fiche-organisation-detail.html" %}
                                </div>
                                <div class="card-footer text-center p-3">
                                    {% if organisation.is_structure_organisatrice %}
                                        <a href="{% url 'structure:update_structure_organisatrice' pk=organisation.pk %}" class="btn btn-primary">
                                            <i class="editer"></i>Modifier cette structure
                                        </a>
                                    {% else %}
                                        {% if request.organisation in organisation.get_services_administrateurs or is_admin %}
                                            <a href="{% url 'structure:administration_des_services' %}?service_id={{ organisation.pk }}"
                                               class="btn btn-danger">
                                                <i class="admin-famille"></i>Administrer la famille
                                            </a>
                                        {% elif organisation.get_services_administrateurs and not organisation.is_service_instructeur %}
                                            <a href="{% url 'structure:fiche_organisation' pk=organisation.get_services_administrateurs.first.pk %}"
                                               target="_blank"
                                               class="btn btn-primary">
                                                <i class="admin-famille"></i>Voir le service administrateur de la famille
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        var user_organisation_id = {{ user_organisation.id }};
        var is_admin = "{{ is_admin|yesno:"true,false" }}";
        if(is_admin === "true") {
            is_admin = true;
        } else {
            is_admin = false;
        }
    </script>
    <script src='{% static "structure/invitation.js" %}' type="text/javascript"></script>
    <script src='{% static "structure/administration_des_services.js" %}' type="text/javascript"></script>
{% endblock %}
