{% extends "base.html" %}


{% load i18n %}

{% block head_title %}Réserves Naturelles Régionales{% endblock %}
{% block page_title %}
    <h1>Réserves naturelles régionales</h1>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Administrateur</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Conservateur</th>
                <th>Téléphone</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            {% for reserve in object_list %}
                <tr>
                    <td>{{ reserve.code }}</td>
                    <td>{{ reserve.name }}</td>
                    <td>{{ reserve.administrateurrnr.short_name }}</td>
                    <td>{{ reserve.administrateurrnr.name }}</td>
                    <td>{{ reserve.administrateurrnr.address.first }}</td>
                    <td>{{ reserve.administrateurrnr.conservator.first }}</td>
                    <td>{{ reserve.administrateurrnr.conservator.first.phone }}</td>
                    <td>{{ reserve.administrateurrnr.email|urlize }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
