{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load forum_permission_tags %}

{% block head_title %} Forum &mdash; {% block sub_title %}{% endblock sub_title %}{% endblock head_title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/machina.board_theme.vendor.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/machina.board_theme.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" />
{% endblock css %}

{% block body %}
    {% block header %}

    {% endblock header %}

    <div class="my-5 container" id="main_container">
    <div class="row">
            <div class="col-12">
                {% block breadcrumb %}{% include "partials/breadcrumb.html" %}{% endblock breadcrumb %}
            </div>
        </div>


        <div id="page-header" class="mt-0">
            <h1>
                {% block sub-title %}{% endblock sub-title %}
            </h1>
        </div>



        {% block messages %}{% include "partials/messages.html" %}{% endblock messages %}

        {% block content %}
        {% endblock content %}
    </div>
{% endblock body %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/machina.packages.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/machina.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            machina.init();
            {% block onbodyload %}{% endblock onbodyload %}
        });
    </script>
{% endblock js %}
{% block extra_js %}
{% endblock extra_js %}
