{% load i18n %}

{% for option in poll.options.all %}
<div class="mb-3 row">
    <div class="col-12">
        <b>{{ option.text }}</b>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ option.percentage|floatformat }}" aria-valuemin="0" aria-valuemax="100" style="width: 0" data-pourcentage="{{ option.percentage|stringformat:"f" }}%">
                {{ option.percentage|floatformat }}%
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% trans "Total votes:" %}&nbsp;{{ poll.votes|length }}
<script>
    $(document).ready(function (){
        $('.progress-bar').each(function (){
            $(this).animate({width: $(this).attr('data-pourcentage')}, 200)
        })
    })
</script>
