{% load i18n %}

<form method="post" action="{% url 'forum_conversation:topic_poll_vote' poll.pk %}" class="form" novalidate>
    {% csrf_token %}

    {% for option in poll_form.options.field.queryset %}
        {% if forloop.first or not forloop.counter|divisibleby:2 %}
            <div class="row">
        {% endif %}
    <div class="col-12">
        <div class="well well-sm">
            {% if poll.max_options == 1 %}
                <div class="radio m-2 form-check">
                    <input type="radio" name="options" id="{{ option.id }}" value="{{ option.id }}" class="form-check-input">
                    <label class="form-check-label offset_remove" for="{{ option.id }}">
                        {{ option.text }}
                    </label>
                </div>
            {% else %}
                <div class="checkbox m-2 form-check">
                    <input class="form-check-input" type="checkbox" name="options"  id="{{ option.id }}" value="{{ option.id }}">
                    <label class="form-check-label offset_remove" for="{{ option.id }}">
                        {{ option.text }}
                    </label>
                </div>
            {% endif %}
        </div>
    </div>
    {% if forloop.last or forloop.counter|divisibleby:2 %}
        </div>
    {% endif %}
    {% endfor %}

    <div class="form-actions">
        <input type="submit" class="btn btn-sm btn-info" value="{% trans "Submit" %}" />
        <a href="{% if change_vote_action %}.{% else %}?view_results=true{% endif %}" class="btn btn-link">{% trans "View results" %}</a>
    </div>
</form>
