<template>
  <div class="drag-container" @dragover.prevent="dragOver" @drop.prevent="handleFileDrop">
    <input
      id="fileinput"
      ref="input"
      type="file"
      name="file"
      multiple
      @change="handleFileInput"
    >
    <label for="fileinput" class="drop">
      <span v-if="files.length === 0" class="no-file">
        <span>
          Cliquer déposer vos fichiers ici pour les ajouter
        </span>
      </span>
      <div v-else class="import-file-container">
        <file-item v-for="file in files" :key="file.name" :item="file" @delete="removeFile" />
      </div>
      <span v-if="error" class="error">{{ error }}</span>
    </label>
  </div>
</template>

<script>
import FileItem from "@/components/popup/importGpx/FileItem";
export default {
  name: 'DropFileInput',
  components: {FileItem},
  props: {
    value: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      files: this.value,
      error: null,
    }
  },
  methods: {
    dragOver(e) {
      e.dataTransfer.dropEffect = 'copy'
    },
    handleFileDrop(e) {
      const droppedFiles = e.dataTransfer.files
      if (!droppedFiles) { return }
      ([...droppedFiles]).forEach((f) => {
        if (this.files.length < 5) {
          if (!this.files.find(file => file.name === f.name)) {
            this.files.push(f)
          }
        }
      })
      this.$emit('input', this.files)
    },
    handleFileInput(e) {
      const files = e.target.files
      if (!files) { return }
      ([...files]).forEach((f) => {
        if (this.files.length < 5) {
          if (!this.files.find(file => file.name === f.name)) {
            this.files.push(f)
          }
        }
      })
      this.$refs.input.value = ''
      this.$emit('input', this.files)
    },
    removeFile(file) {
      this.files = this.files.filter((f) => {
        return f !== file
      })
      this.$emit('input', this.files)
    },
  },
}
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 2px;
  margin-bottom: 1px;
}
.header .title{
  font-size: 1.25em;
  font-weight: bolder;
}
.header .subtitle{
  font-size: 0.75em;
  color: gray;
}
.content {
  display: flex;
  flex-direction: column;
}
.content-element {
  display: flex;
  justify-content: center;
  padding: 0 1px;
}

.drag-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input{
  display: none;
}
.drop{
  @apply flex flex-col items-center rounded-lg border-2 border-gray-3 p-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 2px solid grey;
  padding: 2px;
  width: 500px;
  height: 200px;
}
.drop:hover{
  /*cursor: shadow;*/
}

.list{
  /*@apply w-11/12 flex-grow;*/
  flex-grow: 1;
}
.no-file{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  font-size: 1.5em;
  font-weight: 900;
}
.error{
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  color: var(--red);
  font-size: 1.5em;
  font-weight: 900;
}
.help{
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey-light);
}

.upload{
  display: flex;
  padding: 0.5em;
  align-self: center;
  border-radius: 5px;
  border: 1px solid var(--red);
  cursor: pointer;
}
.upload:disabled{
  border-color: var(--grey-light);
  color: var(--grey-light);
  cursor: not-allowed;
}
.upload:hover{
  border: 1px solid #008000;
}

.import-file-container {
  /*flex flex-col w-full*/
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}
</style>
