<template>
  <label :class="{'text-input': true, focus: focus}" :for="id">
    <div class="icon"><i :class="icon"></i></div>
    <div class="content">
      <div class="label" >{{ label }}</div>
      <textarea v-if="inputType === 'textarea'" class="input" :id="id" :value="value" :required="required" @focus="focus = true" @blur="focus = false" @input.stop="input"></textarea>
      <input v-else class="input" :id="id" :type="inputType" :value="value" :maxlength="maxlength" :required="required" @focus="focus = true" @blur="focus = false" @input.stop="input">
    </div>
  </label>
</template>

<script>
export default {
  name: "TextInput",
  props: {
    inputType: {
      type: String,
      default: "text",
    },
    id: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      default: "",
    },
    required: {
      type: Boolean,
      default: false,
    },
    icon: {type: String, default: "fas fa-user-alt"},
    maxlength: { type: String, default: null }
  },
  data(){
    return {
      focus: false,
    }
  },
  methods: {
    input(event){
      this.$emit("input", event);
    }
  },
};
</script>

<style scoped>
.text-input{
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #676767;
  border-radius: 25px;
  border: 1px solid #d6d6d6;
}
.text-input.focus{
  border-color: #000000;
 }
.icon{
  padding: 15px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}
.label{
  font-size: 15px;
}
.input{
  color: #000000;
  border: none;
  font-size: 20px;
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  margin-right: 20px;
  width: 90%;
}
.input:focus{
  border: none;
  outline: none;
}
</style>
