<template>
  <div
      class="archived-element"
      :id="`archived-item-${item.id}`"
      @click.stop="toggleActive"
  >
    <div v-if="isLoading" class="loading-trace">
      <parcours-loader />
    </div>
    <div class="archived-title">
      <div class="archived-actions">
        <div
            v-if="isLoaded"
            :id="`icon-unload-${item.id}`"
            class="icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Décharger le parcours de mon navigateur pour améliorer les performances"
            @click.stop="unload"
            ref="unloadBtn"
        >
          <i class="far fa-minus-octagon fa-fw"/>
        </div>
      </div>
      <div class="archived-name">
        <div
            class="name"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            :title="item.id >= 0 ? `${item.description} (${item.id})` : ''">
          {{ item.name }}
        </div>
      </div>
      <div class="archive-actions">
        <div
            :id="`icon-save-parcours-${item.id}`"
            v-if="isEditable && isLoaded"
            @click.stop="$refs.save.open()"
            class="icon save-parcours"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Enregistrer le parcours"
        >
          <i class="far fa-save fa-fw"></i>
        </div>
        <div
            v-if="isEditable"
            :id="`icon-unarchived-${item.id}`"
            @click.stop="toggleArchived"
            class="icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Désarchiver ce parcours"
        >
          <i class="far fa-upload fa-fw"></i>
        </div>
      </div>
    </div>
    <div class="selecteur-content">
        <save-parcours-modal ref="save" :item="item"/>
        <confirm-unload-popup ref="unload" :item="item"/>
      </div>
  </div>
</template>

<script>
import _clone from "lodash-es/cloneDeep";
import {mapActions, mapGetters} from "vuex";
import ParcoursLoader from "../loaders/ParcoursLoader";
import SaveParcoursModal from "../popup/SaveParcoursModal";
import ConfirmUnloadPopup from "../popup/ConfirmUnloadPopup";
import {Events} from "@/modules/events/Events";

export default {
  name: "ArchivedItem",
  components: {ConfirmUnloadPopup, SaveParcoursModal, ParcoursLoader},
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters("traces", [
      "isTraceAModifier",
      "isLoadingTrace",
        "isLoadedTrace",
        "isTraceAModifier",
    ]),
    ...mapGetters([
      "isModeEdition",
      "isInstructeur",
      "isInInstruction",
    ]),
    isLoading() {
      return this.isLoadingTrace(this.item.id)
    },
    isLoaded() {
      return this.isLoadedTrace(this.item.id)
    },
    isWaitingForModification() {
      return this.item.id > 0 && this.isTraceAModifier(this.item.id) && this.isInstructeur && this.isInInstruction
    },
    isEditable() {
      return this.isInInstruction && this.isTraceAModifier(this.item.id) && !this.isInstructeur
    },
  },
  methods: {
    ...mapActions("traces", ["setActive", "setArchived", 'addLoadingTrace', 'removeLoadingTrace']),
    unload() {
      const tooltip = bootstrap.Tooltip.getInstance(document.querySelector(`#icon-unload-${this.item.id}`))
      if(tooltip) {
        tooltip.hide()
      }
      this.$emitter.emit(Events.REMOVE_TRACE, { id: this.item.id, deleted: false })
    },
    toggleActive() {
      if (this.isLoaded) {
        this.setActive(this.item.id);
      } else {
        this.addLoadingTrace(this.item.id)
        this.$api.loadParcours(this.item.id).then(res => {
          this.$emitter.emit(Events.LOAD_TRACE, res)
        })
      }
    },
    toggleArchived() {
      this.addLoadingTrace(this.item.id)
      const trace = _clone(this.item)
      trace.is_archived = !trace.is_archived
      this.$api.archive(trace.id, trace.is_archived)
          .then(() => {
            this.removeLoadingTrace(trace.id);
            this.setArchived({id: trace.id, status: trace.is_archived})
            return true;
          })
          .catch(err => {
            console.error("erreur save : ", err);
          })
    },
  },
  updated() {
    $('[data-bs-toggle="tooltip"]').tooltip()
  }
}
</script>

<style scoped>
.archived-element {
  flex-grow: 1;
  cursor: pointer;
  padding: 5px;
  min-width: 0;
}

.archived-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}

.archived-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
}

.archive-actions {
  display: flex;
}
</style>