<template>
  <div
      :class="{'selecteur-element': true}"
      :id="`selecteur-item-${item.id}`"
      :style="`border-left: 12px solid ${item.shape.stroke_color};`"
  >
    <div class="loading-trace"><parcours-loader /></div>
    <div class="selecteur-title">
      <div class="selecteur-name">
        <div
            class="name"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            :title="item.id >= 0 ? `${item.description} (${item.id})` : ''">
          {{ item.name }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Modal from "@/components/popup/Modal";
import SaveParcoursModal from "@/components/popup/SaveParcoursModal";
import Tooltip from "@/components/popup/Tooltip";
import ColoredText from "@/components/text/ColoredText";
import ConfirmDeletePopup from "@/components/popup/ConfirmDeletePopup";
import CircleLoader from "../loaders/CircleLoader";
import ParcoursLoader from "@/components/loaders/ParcoursLoader";

export default {
  name: "LoadingItem",
  components: {
    ParcoursLoader,
    CircleLoader,
    ConfirmDeletePopup,
    SaveParcoursModal,
    ColoredText,
    Tooltip,
    Modal,
  },
  props: {
    item: {
      type: Object,
      required: true,
      default: () => null,
    },
  },
  updated() {
    $('[data-bs-toggle="tooltip"]').tooltip()
  }
};
</script>

<style scoped>
.selecteur-element {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 0.5em;
  padding: 10px 5px 10px 10px;
  cursor: pointer;
  border-bottom: 1px solid #e9ecef;
  min-width: 0;
}

.selecteur-title {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.selecteur-action {
  display: flex;
  align-items: center;
  min-width: 0;
  flex-grow: 1;
  justify-content: space-between;
}

.selecteur-element.active {
  box-shadow: none;
  font-weight: bold;
}

.selecteur-element.editable {
  background-color: rgba(255, 125, 125, 0.5);
}
.selecteur-element.editing {
  background-color: rgba(255, 255, 125, 0.5);
}

.selecteur-element:hover {
  border: 1px solid darkgray;
}

.selecteur-name {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-grow: 1;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 1em;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.name.editable {
  color: red;
}

.icons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.icon {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 5px 5px 5px;
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
  background-color: var(--grey-lighter);
}

.icon.save-parcours {
  background-color: #fcfc71;
}

.save-parcours {
  opacity: 1;
  animation: saveColor 1s linear infinite;
}

@keyframes saveColor {
  0% {
    color: red;
  }
  50% {
    color: inherit;
  }
  100% {
    color: red;
  }
}

.selecteur-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  column-gap: 0.5em;
}

.selecteur-content > * {
  width: 1em;
  height: 1em;
  text-align: center;
  padding: 0.25em;
  border-radius: 50%;
}

.selecteur-content > *:hover {
  cursor: pointer;
  background-color: var(--grey-lighter);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-size: 1.25em;
  font-weight: 800;
  padding: 1em;
}

.modal-close {
  padding: 0.5em;
}

.editable-separator {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
</style>
