<template>
  <div class="scrollable">
    <div :class="{slide: true, disabled: !scrollUp, hidden: !scrollUp }" @click.stop="goUp"><i
        class="fas fa-chevron-up"></i></div>
    <transition-group name="fade" tag="div" class="tabs" :duration="100"
                      v-on:after-enter="afterEnter"
                      v-on:before-enter="beforeEnter"
                      ref="scrollElement"
    >
      <h3 v-if="getTraces.length > 0" key="label-loaded" class="p-2">Parcours associés :</h3>
      <div v-if="getTraces.length > 0" class="tab" v-for="trace in getTraces" :key="trace.id">
        <selecteur-item :item="trace"/>
      </div>
      <h3 v-if="getArchivedTraces.length > 0" key="label-archived" class="p-2">Parcours archivés :</h3>
      <div v-if="getArchivedTraces.length > 0" class="tab" v-for="trace in getArchivedTraces" :key="trace.id">
        <archived-item :item="trace"/>
      </div>
    </transition-group>
    <div :class="{slide: true, disabled: !scrollDown, hidden: !scrollDown }" @click.stop="goDown"><i
        class="fas fa-chevron-down"></i></div>
  </div>
</template>

<script>
import SelecteurItem from "@/components/selecteur/SelecteurItem";
import {mapGetters, mapState} from "vuex";
import throttle from "lodash-es/throttle";
import LoadingItem from "@/components/selecteur/LoadingItem";
import ArchivedItem from "./ArchivedItem";

export default {
  name: "ScrollableTabs",
  components: {ArchivedItem, LoadingItem, SelecteurItem},
  data() {
    return {
      scrollPosition: 0,
      scrollableHeight: 0,
    }
  },
  computed: {
    ...mapGetters('traces', ["getTraces", "getArchivedTraces"]),
    ...mapGetters(["isModeEdition", "getEditorSize"]),
    scrollUp() {
      return this.scrollPosition > 0;
    },
    scrollDown() {
      return this.scrollPosition < this.scrollableHeight;
    },
  },
  methods: {
    beforeEnter(el) {
      el.style.height = 0;
    },
    afterEnter(el) {
      el.style.height = null;
      this.scrollPosition = this.$refs.scrollElement.$el.scrollTop;
      this.scrollableHeight = this.$refs.scrollElement.$el.scrollHeight - this.$refs.scrollElement.$el.offsetHeight;
      if (this.scrollDown) {

        setTimeout(() => {
          this.goToLast();
        }, 100);
      }
    },
    scrollUpdate(event) {
      this.scrollPosition = event.target.scrollTop;
      this.scrollableHeight = event.target.scrollHeight - event.target.offsetHeight;
    },
    goToLast() {
      this.$refs.scrollElement.$el.scrollTo({behavior: "smooth", top: this.$refs.scrollElement.$el.scrollHeight});
    },
    goDown() {
      this.$refs.scrollElement.$el.scrollBy({top: 80, behavior: "smooth"});
    },
    goUp() {
      this.$refs.scrollElement.$el.scrollBy({top: -80, behavior: "smooth"});
    },
  },
  mounted() {
    this.$nextTick(() => {
      const scrollableContent = this.$refs.scrollElement;
      this.scrollPosition = scrollableContent.$el.scrollTop;
      this.scrollableHeight = scrollableContent.$el.scrollHeight - scrollableContent.$el.offsetHeight;
      scrollableContent.$el.addEventListener("scroll", throttle(this.scrollUpdate));
    });
  }
};
</script>

<style scoped>
.scrollable {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid var(--grey-lighter);
  background-color: #ffffff;
  flex-shrink: 0;
}

.slide.disabled {
  pointer-events: none;
  color: var(--grey-lighter);
}

.slide:hover {
  cursor: pointer;
  background-color: var(--grey-lighter);
}

.tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 1;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  overflow: hidden;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  transition: all 0.1s ease;
}

.hidden {
  display: none;
}


</style>
