<template>
    <div id="btn-open-add-parcours-popup" @click.stop="$refs.add.open()" class="selecteur-element btn btn-primary">
      <div class="selecteur-add-icon"><i class="fas fa-plus-hexagon"></i></div>
      <div class="selecteur-add-text">Créer un nouveau parcours</div>
      <add-parcours-modal ref="add" />
    </div>
</template>

<script>
import OBigButton from "@/components/buttons/OBigButton";
import AddParcoursModal from "@/components/popup/AddParcoursModal";
import Modal from "@/components/popup/Modal";

export default {
  name: "SelecteurAddNew",
  components: {
    AddParcoursModal,
    OBigButton,
    Modal
  },
};
</script>

<style scoped>
.selecteur-element {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  row-gap: 1em;
  column-gap: 1em;
  height: 80px;
  align-items: center;
  border: 1px solid #EFEFEF;
  color: #ffffff;
  cursor: pointer;
}

.selecteur-add-icon {
  width: 3em;
  text-align: center;
}

.selecteur-add-text {
  flex-grow: 1;
}

</style>
