<template>
  <div
      :class="{'selecteur-element': true, active: active, editable: isEditable, editing: isWaitingForModification, loaded: isLoaded}"
      :id="`selecteur-item-${item.id}`"
      :style="`border-left: 12px solid ${getColor}; ${active ? `border-top: 2px solid ${getColor}; border-right: 2px solid ${getColor}; border-bottom: 2px solid ${getColor};` : ''}`"
      @click.stop="toggleActive"
  >
    <div v-if="isLoading" class="loading-trace"><parcours-loader /></div>
    <div class="selecteur-title">
      <div class="selecteur-name">
        <div
            v-if="isEditable"
            class="name editable"
        >
          Ce parcours est modifiable
        </div>
        <div
            v-if="isWaitingForModification"
            class="name editable"
        >
          Demande de modification en cours
        </div>
        <hr v-if="isEditable || isWaitingForModification" class="editable-separator">
          <div
              class="name"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              :title="item.id >= 0 ? `${item.description} (${item.id})` : ''">
            {{ item.name }}
          </div>
      </div>
      <div class="selecteur-content">
        <save-parcours-modal ref="save" :item="item"/>
        <confirm-delete-popup ref="delete" :item="item"/>
        <confirm-unload-popup ref="unload" :item="item"/>
      </div>
    </div>
    <div class="selecteur-action">
      <div class="icons">
        <div
            v-if="isShow"
            :id="`icon-hide-parcours-${item.id}`"
            @click.stop="toggleTrace"
            class="icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Masquer le parcours"
        >
          <i class="far fa-eye fa-fw"/>
        </div>
        <div
            v-if="!isShow"
            :id="`icon-show-parcours-${item.id}`"
            @click.stop="toggleTrace"
            class="icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="afficher le parcours"
        >
          <i class="far fa-eye-slash fa-fw"/>
        </div>
        <div
            v-if="isBig"
            :id="`icon-warning-big-${item.id}`"
            class="icon bg-warning text-danger"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Le parcours contient un grand nombre de waypoints, les performances de la cartographie peuvent en être dégradé"
        >
          <i class="far fa-exclamation-triangle fa-fw"/>
        </div>
        <div
            v-if="isLoaded"
            :id="`icon-unload-${item.id}`"
            class="icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Décharger le parcours de mon navigateur pour améliorer les performances"
            @click.stop="unload"
            ref="unloadBtn"
        >
          <i class="far fa-minus-octagon fa-fw"/>
        </div>
      </div>
      <div class="icons" v-if="isLoaded">
        <div
            :id="`icon-save-parcours-${item.id}`"
            v-if="isSavable"
            @click.stop="$refs.save.open()"
            class="icon save-parcours"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Enregistrer le parcours"
        >
          <i class="far fa-save fa-fw"></i>
        </div>
        <div
            :id="`icon-delete-parcours-${item.id}`"
            v-if="isDeletable"
            @click.stop="$refs.delete.open()"
            class="icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Supprimer le parcours"
        >
          <i class="far fa-trash-alt fa-fw"></i>
        </div>
        <div
            :id="`icon-download-gpx-${item.id}`"
            v-if="isDownloadable"
            @click.stop="downloadGpx"
            class="icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Télécharger le gpx"
        >
          <i class="far fa-file-download fa-fw"></i>
        </div>
        <div
            :id="`icon-modif-${item.id}`"
            v-if="isUnlockable"
            @click.stop="unclockItem"
            class="icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Cliquez pour débloquer l'édition de ce champ et demander sa modification par l'organisateur"
        >
          <i class="far fa-lock-open-alt fa-fw"></i>
        </div>
        <div
            :id="`icon-histo-${item.id}`"
            v-if="hasHistorique(this.item.id)"
            @click.stop="showHistorique"
            class="icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Afficher l'historique des versions du parcours"
        >
          <i class="far fa-history fa-fw"></i>
        </div>
        <div
            :id="`icon-archived-${item.id}`"
            @click.stop="toggleArchived"
            v-show="isEditable"
            class="icon"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Archiver ce parcours (il restera accessible ci-dessous)"
        >
          <i class="far fa-box-open fa-fw"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Modal from "@/components/popup/Modal";
import SaveParcoursModal from "@/components/popup/SaveParcoursModal";
import Tooltip from "@/components/popup/Tooltip";
import ColoredText from "@/components/text/ColoredText";
import {Events} from "@/modules/events/Events";
import {mapActions, mapGetters} from "vuex";
import ConfirmDeletePopup from "@/components/popup/ConfirmDeletePopup";
import CircleLoader from "../loaders/CircleLoader";
import ParcoursLoader from "@/components/loaders/ParcoursLoader";
import ConfirmUnloadPopup from "@/components/popup/ConfirmUnloadPopup";
import _clone from 'lodash-es/cloneDeep.js'
// decharger le parcours de mon navigateur pour ameliorer les performances => minus-octagon

export default {
  name: "SelecteurItem",
  components: {
    ConfirmUnloadPopup,
    ParcoursLoader,
    CircleLoader,
    ConfirmDeletePopup,
    SaveParcoursModal,
    ColoredText,
    Tooltip,
    Modal,
  },
  props: {
    item: {
      type: Object,
      required: true,
      default: () => null,
    },
  },
  data() {
    return {
      historiqueScreen: null,
      optionsOpen: false,
      editName: false,
      loading: false,
    };
  },
  computed: {
    ...mapGetters("traces", [
      "isTraceActive",
      "isTraceChanged",
        "isTraceAModifier",
        "hasHistorique",
        "isLoadingTrace",
        "getTraceColor",
        "isLoadedTrace",
        "isTraceVisible",
        "isBigTrace",
    ]),
    ...mapGetters([
      "isModeEdition",
      "isInstructeur",
      "isInInstruction",
    ]),
    isLoading() {
      return this.isLoadingTrace(this.item.id)
    },
    active() {
      return this.isTraceActive(this.item.id);
    },
    changed() {
      return this.isTraceChanged(this.item.id);
    },
    isDeletable() {
      return !this.isInInstruction;
    },
    isSavable() {
      return ((this.changed || this.item.id < 0) && !this.isInInstruction) || (this.changed && this.isEditable) || (this.isModeEdition && this.item.id < 0 && this.changed)
    },
    isEditable() {
      return this.isInInstruction && this.isTraceAModifier(this.item.id) && !this.isInstructeur
    },
    isUnlockable() {
      return this.item.id > 0 && !this.isTraceAModifier(this.item.id) && this.isInstructeur && this.isInInstruction
    },
    isWaitingForModification() {
      return this.item.id > 0 && this.isTraceAModifier(this.item.id) && this.isInstructeur && this.isInInstruction
    },
    isDownloadable() {
      return this.item.id > 0
    },
    isLoaded() {
      return this.isLoadedTrace(this.item.id)
    },
    getColor() {
      return this.getTraceColor(this.item.id)
    },
    isShow() {
      return this.isTraceVisible(this.item.id)
    },
    isBig() {
      return this.isBigTrace(this.item.id)
    },
  },
  methods: {
    ...mapActions("traces", ["setActive", "removeTrace", "setAModifier", "setArchived", 'loadTrace', 'addLoadingTrace', 'removeLoadingTrace']),
    ...mapActions(["setLoading"]),
    toggleActive() {
      if (this.isLoaded) {
        this.setActive(this.item.id);
      } else {
        this.addLoadingTrace(this.item.id)
        this.$api.loadParcours(this.item.id).then(res => {
          this.$emitter.emit(Events.LOAD_TRACE, res)
        })
      }
    },
    closeTrace() {
      this.setLoading(true);
      this.$emitter.emit(Events.REMOVE_TRACE, { id: this.item.id, deleted: false });
    },
    downloadGpx() {
      if (this.item.id > 0) {
        this.$api.exportGpx(this.item.id).then(this.download)
      }
    },
    download({filename, blob}) {
      const a = document.createElement("a");
      a.href = URL.createObjectURL(blob);
      a.setAttribute("download", filename);
      a.click();
    },
    toggleTrace() {
      if(this.isLoaded) {
        this.$emitter.emit(Events.TOGGLE_TRACE, {traceId: this.item.id, show: !this.isShow});
      } else {
        this.addLoadingTrace(this.item.id)
        this.$api.loadParcours(this.item.id).then(res => {
          this.$emitter.emit(Events.LOAD_TRACE, res)
        })
      }
    },
    unclockItem() {
      const tooltip = bootstrap.Tooltip.getInstance(document.querySelector(`#icon-modif-${this.item.id}`))
      tooltip.hide()
      this.$api.unlockItem(this.item.id).then(() => {
        this.setAModifier({ id: this.item.id, status: true })
      })
    },
    stopModifying() {},
    showHistorique() {
          this.$api.getHistorique(this.item.id).then(res => {
            this.showHistoriquePopup(res)
          })
    },
    showHistoriquePopup(traces) {
      if(this.historiqueScreen == null || this.historiqueScreen.closed) {
            this.historiqueScreen = window.open(historiqueUrl, "carto_historique",
                   "scrollbars=no,dependent=yes,dialog=yes,location=no,fullscreen");
            this.historiqueScreen.traces = traces
        } else {
          this.historiqueScreen.focus();
          this.historiqueScreen.traces = traces
        }
    },
    unload() {
      if(this.isSavable) {
        this.$refs.unload.open()
      } else {
        const tooltip = bootstrap.Tooltip.getInstance(document.querySelector(`#icon-unload-${this.item.id}`))
        if(tooltip) {
          tooltip.hide()
        }
        this.$emitter.emit(Events.REMOVE_TRACE, { id: this.item.id, deleted: false })
      }
    },
    toggleArchived() {
      if(this.isEditable) {
        this.addLoadingTrace(this.item.id)
        const trace = _clone(this.item)
        trace.is_archived = !trace.is_archived
        this.$api.archive(trace.id, trace.is_archived)
            .then(() => {
              this.removeLoadingTrace(trace.id);
              this.setArchived({id: trace.id, status: trace.is_archived})
              return true;
            })
            .catch(err => {
              console.error("erreur save : ", err);
            })
      }
    },
  },
  updated() {
    $('[data-bs-toggle="tooltip"]').tooltip()
  }
};
</script>

<style scoped>
.selecteur-element {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 0.5em;
  padding: 10px 5px 10px 10px;
  cursor: pointer;
  border-bottom: 1px solid #e9ecef;
  min-width: 0;
}
.selecteur-element.active {
  box-shadow: none;
  font-weight: bold;
}
.selecteur-element.editable {
  background-color: rgba(255, 125, 125, 0.5);
}
.selecteur-element.editing {
  background-color: rgba(255, 255, 125, 0.5);
}
.selecteur-element:not(.loaded) {
  background-color: rgba(0, 0, 0, 0.2);
}

.selecteur-title {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.selecteur-action {
  display: flex;
  align-items: center;
  min-width: 0;
  flex-grow: 1;
  justify-content: space-between;
}

.selecteur-element:hover {
  border: 1px solid darkgray;
}

.selecteur-name {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-grow: 1;
  min-width: 0;
}

.name-container {
  min-width: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.name.editable {
  color: red;
}

.icons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.icon {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 5px 5px 5px;
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
  background-color: var(--grey-lighter);
}

.icon.save-parcours {
  background-color: #fcfc71;
}

.save-parcours {
  opacity: 1;
  animation: saveColor 1s linear infinite;
}

@keyframes saveColor {
  0% {
    color: red;
  }
  50% {
    color: inherit;
  }
  100% {
    color: red;
  }
}

.selecteur-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  column-gap: 0.5em;
}

.selecteur-content > * {
  width: 1em;
  height: 1em;
  text-align: center;
  padding: 0.25em;
  border-radius: 50%;
}

.selecteur-content > *:hover {
  cursor: pointer;
  background-color: var(--grey-lighter);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-size: 1.25em;
  font-weight: 800;
  padding: 1em;
}

.modal-close {
  padding: 0.5em;
}

.editable-separator {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
</style>
