<template>
  <div class="selecteur">
    <button id="btn-editor-fullscreen" type="button" class="btn btn-primary pl-3 text-left mx-3 mb-1" @click="$emit('toggle-fullscreen')">
      <i class="fal fa-expand-arrows" aria-hidden="true"></i>
      Plein écran
    </button>
    <button v-if="isModeEdition" id="btn-selecteur-add-parcours" type="button" class="btn btn-primary pl-3 mx-3 text-left" @click="$refs.add.open()">
      <i data-v-3514a68d="" class="fas fa-plus-hexagon" aria-hidden="true"></i>
      Créer un nouveau parcours
    </button>
    <div class="selecteur-items">
      <scrollable-tabs/>
    </div>
    <add-parcours-modal ref="add" />
  </div>
</template>

<script>
import ScrollableTabs from "@/components/selecteur/ScrollableTabs";
import SelecteurAddNew from "@/components/selecteur/SelecteurAddNew";
import SelecteurItem from "@/components/selecteur/SelecteurItem";
import {mapGetters, mapState} from "vuex";
import AddParcoursModal from "@/components/popup/AddParcoursModal";

export default {
  name: "Selecteur",
  components: {
    AddParcoursModal,
    ScrollableTabs,
    SelecteurAddNew,
    SelecteurItem,
  },
  computed: {
    ...mapGetters(["isModeEdition", "isInstructeur"]),
  },
};
</script>

<style scoped>
.selecteur {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.selecteur-items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-grow: 1;
}
</style>
