{% extends 'board_base.html' %}
{% load i18n %}
{% load forum_conversation_tags %}

{% block sub_title %}{% trans "Unsubscribe from topic" %}{% endblock sub_title %}

{% block content %}
{% if topic__in == user.topic %}
<div class="row">
  <div class="col-12">
    <div class="card post-delete">
      <div class="card-header">
        <h3 class="m-0 card-title h5">Supprimer la souscription au sujet.</h3>
      </div>
      <div class="card-body">
        <div class="mb-3 warning-message">Voudriez-vous supprimer la souscription à ce sujet ?</div>
        <form action="" method="post">{% csrf_token %}
          <input type="hidden" name="post" value="yes" />
          <button role="submit" class="btn btn-warning">{% trans "Yes, I'm sure" %}</button>
          <a href="{% url 'messagerie:boite_principale' %}" class="btn btn-secondary">{% trans "No, take me back" %}</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
    <h1>rien</h1>
{% endif %}
{% endblock content %}
