{% load i18n humanize %}
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <td class="text-end">Année d'inscription :</td>
        {% for y in stat.annees %}
            <th class="text-center">{{ y }}</th>
        {% endfor %}
        <th class="table-info text-center">Total</th>
    </tr>
    </thead>

    <tr>
        <th><i class="utilisateur"></i>Utilisateurs</th>
        {% for key, value in stat.nb_utilisateur_par_annee.items %}
            <td class="text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_utilisateur|intcomma }}</td>
    </tr>
    <tr>
        <th><i class="organisateur"></i>Organisateurs</th>
        {% for key, value in stat.nb_organisateur_par_annee.items %}
            <td class="text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_organisateur|intcomma }}</td>
    </tr>
    <tr>
        <th><i class="instructeur"></i>Instructeurs</th>
        {% for key, value in stat.nb_instructeur_par_annee.items %}
            <td class="text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_instructeur|intcomma }}</td>
    </tr>

    {% for x in stat.nb_pll_categorie %}
        <tr>
            <th>
                <i class="instructeur"></i> {{ x.nom }}
            </th>
            {% for key, value in x.nb_par_annee.items %}
                <td class="text-end">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-end">{{ x.nb|intcomma }}</td>
        </tr>
    {% endfor %}

</table>