{% extends "base.html" %}

{% load i18n humanize %}

{% block head_title %}
    Statistiques
{% endblock %}

{% block page_title %}
    <h1>Statistiques de la plateforme Manifestations Sportives</h1>
{% endblock %}

{% block content %}
    <table class="table table-hover table-bordered w-50">
        <tbody>
        <tr>
            <th>Nombre de sessions en cours</th>
            <td class="table-info text-center">{{ connected_user|intcomma }}</td>
        </tr>
        </tbody>
    </table>
    <div id="btn_unique_div">
        <div class="d-flex justify-content-around">
            <div><label class="form-label" for="dept">Périmètre d'analyse :</label>
                <select class="form-control go_get_panel me-1" id="dept" name="dept" style="width: 200px;">
                    {% for instance in instances %}
                        <option {% if instance == instance_def %}selected="selected"{% endif %}
                                value="{{ instance.pk }}">{% if instance.is_master %}Nationale{% else %}
                            {{ instance }}{% endif %}</option>
                    {% endfor %}
                </select></div>

            <div><label class="form-label" for="annee">Année de départ :</label>
                <select class="form-control go_get_panel me-1" id="annee" name="annee" style="width: 200px;">
                    {% for annee in annee_dispo %}
                        <option value="{{ annee }}">{{ annee }}</option>
                    {% endfor %}
                </select></div>
            <div><a class="btn btn-primary me-1" href="#" id="btn_double_btn">Comparer avec un autre périmètre</a></div>
        </div>
    </div>
    <div id="btn_double_div" style="display: none">
        <div class="d-flex justify-content-around">
            <div><label class="form-label" for="dept_d">Périmètre n°1 :</label>
                <select class="form-control go_get_panel me-1" id="dept_d" name="dept_d" style="width: 200px;">
                    {% for instance in instances %}
                        <option {% if instance == instance_def %}selected="selected"{% endif %}
                                value="{{ instance.pk }}">{% if instance.is_master %}Nationale{% else %}
                            {{ instance }}{% endif %}</option>
                    {% endfor %}
                </select></div>

            <div><label class="form-label" for="dept_d_s"> Périmètre n°2 :</label>
                <select class="form-control go_get_panel me-1" id="dept_d_s" name="dept_d_s" style="width: 200px;">
                    {% for instance in instances %}
                        <option {% if instance == instance_def %}selected="selected"{% endif %}
                                value="{{ instance.pk }}">{% if instance.is_master %}Nationale{% else %}
                            {{ instance }}{% endif %}</option>
                    {% endfor %}
                </select></div>

            <div><label class="form-label" for="anneeu">Année :</label>
                <select class="form-control go_get_panel me-1" id="anneeu" name="anneeu" style="width: 200px;">
                    {% for annee in annee_dispo %}
                        <option value="{{ annee }}"
                                {% if forloop.first %}selected="selected"{% endif %}>{{ annee }}</option>
                    {% endfor %}
                </select></div>


            <div><a class="btn btn-primary me-1" href="#" id="btn_unique_btn">Quitter la comparaison</a></div>
        </div>
    </div>
    <span id="chargement" style="width: 100%;"></span>


    <div class="tab-list col-sm-12">
        <ul class="nav nav-pills" id="onglet" role="tablist">
            <li class="nav-item">
                <button class="nav-link link_onglet active " data-bs-target="#manif" data-bs-toggle="pill">
                    Manifestations
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link link_onglet " data-bs-target="#utilisateur" data-bs-toggle="pill">
                    Utilisateurs
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link link_onglet " data-bs-target="#instruction" data-bs-toggle="pill">
                    Instructions
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link link_onglet " data-bs-target="#delai" data-bs-toggle="pill">
                    Délais de consultation
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link link_onglet " data-bs-target="#messagerie" data-bs-toggle="pill">
                    Messagerie
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link link_onglet " data-bs-target="#forum" data-bs-toggle="pill">
                    Forum
                </button>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="manif" class="tab-pane fade show active"></div>
        <div id="utilisateur" class="tab-pane fade"></div>
        <div id="instruction" class="tab-pane fade"></div>
        <div id="delai" class="tab-pane fade"></div>
        <div id="messagerie" class="tab-pane fade"></div>
        <div id="forum" class="tab-pane fade"></div>
    </div>
    <script>
        const url = "{% url 'portail:stat_ajax' %}"
        let onglet = "#manif"
        let type_de_stat = "unique"
        $('#btn_unique_btn').click(function (e) {
            e.preventDefault()
            $('#btn_unique_div').show()
            $('#btn_double_div').hide()
            type_de_stat = "unique"
            get_panel()
        })
        $('#btn_double_btn').click(function (e) {
            e.preventDefault()
            $('#btn_double_div').show()
            $('#btn_unique_div').hide()
            type_de_stat = "double"
            get_panel()
        })

        async function get_panel() {
            if (type_de_stat === "unique") {
                let instance = $('#dept').val()
                let annee = $('#annee').val()
                $(onglet).html(`<i class="spinner"></i> Calcul des statistiques en cours...`)
                AfficherIcones()
                let response = await $.get(`${url}?id=${onglet.replace('#', '')}&instance=${instance}&annee=${annee}`,)
                $(onglet).html(response)
                AfficherIcones()
            } else {
                let instance_d = $('#dept_d').val()
                let instance_s = $('#dept_d_s').val()
                let anneeu = $('#anneeu').val()
                $(onglet).html(`<i class="spinner"></i> Calcul des statistiques en cours...`)
                AfficherIcones()
                let responseu_promise = $.get(`${url}?id=${onglet.replace('#', '')}&instance=${instance_d}&annee_unique=${anneeu}`,)
                let responsed_promise = $.get(`${url}?id=${onglet.replace('#', '')}&instance=${instance_s}&annee_unique=${anneeu}`,)
                let [reponseu, responsed] = await Promise.all([responseu_promise, responsed_promise])
                $(onglet).html(`<div class="row">
                    <div class="col-6"><h2>${$('#dept_d option:selected').text()}</h2>${reponseu}</div><div class="col-6"><h2>${$('#dept_d_s option:selected').text()}</h2>${responsed}</div><div>`)
                AfficherIcones()
            }


        }

        $('.link_onglet').click(function (e) {
            onglet = $(this).attr('data-bs-target')
            get_panel()
        })
        $('.go_get_panel').on('change', function (e) {
            get_panel()
        })
        get_panel()
    </script>
    <style>
    #dept_d_s_chosen{
        width: 200px !important;
    }
    #dept_d_chosen{
        width: 200px !important;
    }
    </style>
{% endblock %}