{% load i18n humanize %}
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <td class="text-end">Année :</td>
        {% for y in stat.annees %}
            <th class="text-center">{{ y }}</th>
        {% endfor %}
        <th class="table-info text-center">Total</th>
    </tr>
    </thead>
    <tr class="table-light">
        <td class="pb-1 border-0"></td>
        {% for key in stat.annees %}
            <td class="pb-1 border-0"></td>
        {% endfor %}
        <td class="pb-1 border-0"></td>
    </tr>
    <tr>
        <th><i class="msg_conversation"></i>Conversations envoyées</th>
        {% for key, value in stat.nb_msg_conversation_par_annee.items %}
            <td class="text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_msg_conversation|intcomma }}</td>
    </tr>
    <tr>
        <th><i class="msg_action"></i>Demandes d'action envoyées</th>
        {% for key, value in stat.nb_msg_action_par_annee.items %}
            <td class="text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_msg_action|intcomma }}</td>
    </tr>
    <tr>
        <th><i class="msg_suivi"></i>Informations de suivi envoyées</th>
        {% for key, value in stat.nb_msg_info_suivi_par_annee.items %}
            <td class="text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_msg_info_suivi|intcomma }}</td>
    </tr>
    <tr>
        <th><i class="actualite"></i>Actualités de la plateforme envoyées</th>
        {% for key, value in stat.nb_msg_news_par_annee.items %}
            <td class="text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_msg_news|intcomma }}</td>
    </tr>
    <tr>
        <th><i class="msg_tracabilite"></i>Traçabilités envoyées</th>
        {% for key, value in stat.nb_msg_tracabilite_par_annee.items %}
            <td class="text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_msg_tracabilite|intcomma }}</td>
    </tr>
    <tr>
        <th><i class="msg_forum"></i>Notification du forum envoyées</th>
        {% for key, value in stat.nb_msg_forum_par_annee.items %}
            <td class="text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_msg_forum|intcomma }}</td>
    </tr>
    <tr class="table-light">
        <td class="pb-1 border-0"></td>
        {% for key in stat.annees %}
            <td class="pb-1 border-0"></td>
        {% endfor %}
        <td class="pb-1 border-0"></td>
    </tr>

    <tr>
        <th><i class="message"></i>Email envoyés par la plateforme</th>
        {% for key, value in stat.nb_email_par_annee.items %}
            <td class="text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_email|intcomma }}</td>
    </tr>
</table>