{% load i18n humanize %}
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <td class="text-end">Année du début de la manifestation :</td>
        {% for y in stat.annees %}
            <th class="text-center">{{ y }}</th>
        {% endfor %}
        <th class="table-info text-center">Total</th>
    </tr>
    </thead>
    <tr>
        <th>Nombre de manifestations</th>
        {% for key, value in stat.nb_dossier_par_annee.items %}
            <td class="py-2 text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_dossier|intcomma }}</td>
    </tr>
    <tr>
        <th class="ps-5 py-2">DNM <i class="declaration"></i><i class="sans-vtm"></i><i class="voie-publique"></i><i
                class="sans-competition"></i></th>
        {% for key, value in stat.dnm_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_cerfa_dnm|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_cerfa_dnm }} %</div>
        </td>
    </tr>
    <tr>
        <th class="ps-5 py-2">DNMC <i class="declaration"></i><i class="sans-vtm"></i><i class="voie-publique"></i><i
                class="sans-competition"></i><i class="cyclisme"></i></th>
        {% for key, value in stat.dnmc_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_cerfa_dnmc|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_cerfa_dnmc }} %</div>
        </td>
    </tr>
    <tr>
        <th class="ps-5 py-2">DCNM <i class="declaration"></i><i class="sans-vtm"></i><i class="voie-publique"></i><i
                class="competition"></i></th>
        {% for key, value in stat.dcnm_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_cerfa_dcnm|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_cerfa_dcnm }} %</div>
        </td>
    </tr>
    <tr>
        <th class="ps-5 py-2">DCNMC <i class="declaration"></i><i class="sans-vtm"></i><i class="voie-publique"></i><i
                class="competition"></i><i class="cyclisme"></i></th>
        {% for key, value in stat.dcnmc_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_cerfa_dcnmc|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_cerfa_dcnmc }} %</div>
        </td>
    </tr>
    <tr>
        <th class="ps-5 py-2">DVTM <i class="declaration"></i><i class="vtm"></i><i class="voie-publique"></i><i
                class="sans-competition"></i></th>
        {% for key, value in stat.dvtm_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_cerfa_dvtm|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_cerfa_dvtm }} %</div>
        </td>
    </tr>
    <tr>
        <th class="ps-5 py-2">AVTM <i class="autorisation"></i><i class="vtm"></i><i class="voie-publique"></i><i
                class="sans-competition"></i></th>
        {% for key, value in stat.avtm_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_cerfa_avtm|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_cerfa_avtm }} %</div>
        </td>
    </tr>
    <tr>
        <th class="ps-5 py-2">DVTMCIR <i class="declaration"></i><i class="vtm"></i><i class="hors-voie-publique"></i><i
                class="sans-competition"></i><i class="circuit-homologue"></i></th>
        {% for key, value in stat.dvtmcir_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_cerfa_dvtmcir|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_cerfa_dvtmcir }} %</div>
        </td>
    </tr>

    <tr>
        <th><i class="sans-vtm"></i> Manifestations non motorisées dans l'année</th>
        {% for key, value in stat.manif_non_motorisees_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_manif_non_motorisees|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_manif_non_motorisees }} %</div>
        </td>
    </tr>
    <tr>
        <th><i class="vtm"></i> Manifestations motorisées dans l'année</th>
        {% for key, value in stat.manif_motorisees_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_manif_motorisees|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_manif_motorisees }} %</div>
        </td>
    </tr>
    <tr>
        <th><i class="date"></i>Manifestations ajoutées au calendrier</th>
        {% for key, value in stat.manif_dans_calendrier_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_manif_dans_calendrier|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_manif_dans_calendrier }} %</div>
        </td>
    </tr>

    <tr>
        <th><i class="ville"></i>Manifestations ne restant que sur une seule commune</th>
        {% for key, value in stat.manif_une_commune_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_manif_une_commune|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_manif_une_commune }} %</div>
        </td>
    </tr>

    {# Séparateur #}
    <tr class="table-light">
        <td class="pb-1 border-0"></td>
        {% for key, value in stat.nb_manif_crees_par_annee.items %}
            <td class="pb-1 border-0"></td>
        {% endfor %}
        <td class="pb-1 border-0"></td>
    </tr>
    <tr>
        <td class="text-end">Année du début de la manifestation :</td>
        {% for y in stat.annees %}
            <th class="text-center">{{ y }}</th>
        {% endfor %}
        <th class="table-info text-center">Total</th>
    </tr>
    <tr>
        <th class=""><i class="feuille-verte"></i>Evaluations simplifiées Natura 2000 dans l'année</th>
        {% for key, value in stat.nb_eval_n2k_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_eval_n2k|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_eval_n2k }} %</div>
        </td>
    </tr>
    <tr>
        <th class=""><i class="feuille-verte"></i>Evaluations simplifiées RNR dans l'année</th>
        {% for key, value in stat.nb_eval_rnr_par_annee.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }} %</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_eval_rnr|intcomma }}
            <div class="mini-text ms-4">{{ stat.pourcentage_eval_rnr }} %</div>
        </td>
    </tr>
    <tr>
        <th class=""><i class="feuille-verte"></i>Total du nombre de parcours créés dans l'année
            <div class="mini-text ms-4">Moyenne par dossier</div>
        </th>
        {% for key, value in stat.nb_parcours_par_annee.items %}
            <td class="py-2 text-end">{{ value.0|intcomma }}
                <div class="mini-text ms-4">{{ value.1|intcomma }}</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_parcours|intcomma }}
            <div class="mini-text ms-4">{{ stat.moyenne_nb_parcours|intcomma }}</div>
        </td>
    </tr>
    <tr>
        <th class=""><i class="feuille-verte"></i>Nombre de manifestations inter départementales créées dans l'année
        </th>
        {% for key, value in stat.nb_interdep_par_annee.items %}
            <td class="py-2 text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_interdep|intcomma }}</td>
    </tr>
    {# Séparateur #}
    <tr class="table-light">
        <td class="pb-1 border-0"></td>
        {% for key, value in stat.nb_manif_crees_par_annee.items %}
            <td class="pb-1 border-0"></td>
        {% endfor %}
        <td class="pb-1 border-0"></td>
    </tr>
    <tr>
        <th class=""><i class="dossier"></i>Dossiers créés dans l'année</th>
        {% for key, value in stat.nb_manif_crees_par_annee.items %}
            <td class="py-2 text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_manif_crees }}<br></td>
    </tr>
    {# Séparateur #}
    <tr class="table-light">
        <td class="pb-1 border-0"></td>
        {% for key, value in stat.nb_manif_crees_par_annee.items %}
            <td class="pb-1 border-0"></td>
        {% endfor %}
        <td class="pb-1 border-0"></td>
    </tr>
    <tr>
        <th class=""><i class="organisateur"></i>Total du nombre de participants dans l'année</th>
        {% for key, value in stat.nb_participant_par_annee.items %}
            <td class="py-2 text-end">
                {% if value.nb_participants__sum %}{{ value.nb_participants__sum|intcomma }}{% else %}0{% endif %}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{% if stat.nb_participant.nb_participants__sum %}
            {{ stat.nb_participant.nb_participants__sum|intcomma }}{% else %}0{% endif %}</td>
    </tr>
    <tr>
        <th class=""><i class="organisateur"></i>Total du nombre de spectateurs dans l'année</th>
        {% for key, value in stat.nb_spectateur_par_annee.items %}
            <td class="py-2 text-end">
                {% if value.nb_spectateurs__sum %}{{ value.nb_spectateurs__sum|intcomma }}{% else %}0{% endif %}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{% if stat.nb_spectateur.nb_spectateurs__sum %}
            {{ stat.nb_spectateur.nb_spectateurs__sum|intcomma }}{% else %}0{% endif %}</td>
    </tr>
    {# Séparateur #}
    <tr class="table-light">
        <td class="pb-1 border-0"></td>
        {% for key, value in stat.nb_manif_crees_par_annee.items %}
            <td class="pb-1 border-0"></td>
        {% endfor %}
        <td class="pb-1 border-0"></td>
    </tr>

    <tr>
        <th class=""><i class="editer"></i> Nombre de dossier dont a été demandé la modification</th>
        {% for key, value in stat.nb_dossier_modif_par_annee.items %}
            <td class="py-2 text-end">{{ value }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_dossier_modif|intcomma }}</td>
    </tr>
    <tr>
        <th class=""><i class="editer"></i> Nombre de modifications demandées
            <div class="mini-text ms-4">Moyenne par dossier</div>
        </th>
        {% for key, value in stat.nb_dossier_modif_par_annee_count.items %}
            <td class="py-2 text-end">{{ value.0 }}
                <div class="mini-text ms-4">{{ value.1 }}</div>
            </td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_dossier_modif_count|intcomma }}
            <div class="mini-text ms-4">{{ stat.moyenne_dossier_count }}</div>
        </td>
    </tr>


</table>