{% load i18n humanize %}

<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <td class="">{% if stat.delai_avis_moyen_national %}Délai en jours dans le département<div class="mini-text">(comparaison national)</div>{% else %}Délai en jours{% endif %}</td>
        {% for y in stat.annees %}
            <th class="text-center">{{ y }}</th>
        {% endfor %}
        <th class="table-info text-center">Moyenne</th>
    </tr>
    </thead>
    <tr class="table-secondary">
        <td class="pb-1 border-0"></td>
        {% for key in stat.annees %}
            <td class="pb-1 border-0"></td>
        {% endfor %}
        <td class="pb-1 border-0"></td>
    </tr>
<tr class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <td>
                <a role="button"
                    data-bs-toggle="collapse"
                    href="#delai-avis-par-service"
                    aria-expanded="true" aria-controls="delai-avis-par-service" id="delai-service-avis">
                    <i class="fas fa-plus"></i>des services émetteurs d'avis<i class="delai-service"></i>
                </a>
            </td>
            {% for key, value in stat.delai_avis_moyen_par_annee.items %}
                <td class="text-end">{% if stat.delai_avis_moyen_national %}{{ value.0 }} {% if value.1 %}<div class="mini-text">({{ value.1 }})</div>{% endif %}{% else %}{{ value }}{% endif %}</td>
            {% endfor %}
    <td class="text-end table-info">{{ stat.delai_avis_moyen }} {% if stat.delai_avis_moyen_national %}<div class="mini-text">({{ stat.delai_avis_moyen_national }})</div>{% endif %}</td>
        </tr>

{% for categorie in stat.delai_avis_moyen_categorie %}
            {% if categorie.nb %}
                <tr id="delai-avis-par-service"
                 class="panel-collapse"
                 role="tabpanel"
                 data-bs-parent="#accordion"
                 aria-labelledby="heading">
                    <td class="ps-5"><i class="fas fa-minus" style="color:#9aa400;"></i> {{ categorie.nom }}</td>
                    {% for key, value in categorie.nb_par_annee.items %}
                    <td class="text-end">{% if stat.delai_avis_moyen_national %}{{ value.0 }} {% if value.1 %}<div class="mini-text">({{ value.1 }})</div>{% endif %}{% else %}{{ value }}{% endif %}</td>
                    {% endfor %}
                    <td class="text-end table-info">{{ categorie.nb }}{% if categorie.nb_national %} <div class="mini-text">({{ categorie.nb_national }})</div>{% endif %}</td>
                </tr>
            {% endif %}
        {% endfor %}

<tr class="panel-group" id="accordion_preavis" role="tablist" aria-multiselectable="true">
            <td>
                <a role="button"
                    data-bs-toggle="collapse"
                    href="#delai-preavis-par-service"
                    aria-expanded="true" aria-controls="delai-preavis-par-servic" id="delai-service-preavis">
                    <i class="fas fa-plus"></i>des services émetteurs de préavis<i class="delai-service"></i>
                </a>
            </td>
            {% for key, value in stat.delai_preavis_moyen_par_annee.items %}
                <td class="text-end">{% if stat.delai_avis_moyen_national %}{{ value.0 }} {% if value.1 %}<div class="mini-text">({{ value.1 }})</div>{% endif %}{% else %}{{ value }}{% endif %}</td>
            {% endfor %}
            <td class="text-end table-info">{{ stat.delai_preavis_moyen }} {% if stat.delai_preavis_moyen %}<div class="mini-text">({{ stat.delai_preavis_moyen }})</div>{% endif %}</td>
        </tr>

{% for categorie in stat.delai_preavis_moyen_categorie %}
            {% if categorie.nb %}
                <tr id="delai-preavis-par-service"
                 class="panel-collapse"
                 role="tabpanel"
                 data-bs-parent="#accordion_preavis"
                 aria-labelledby="heading">
                    <td class="ps-5"><i class="fas fa-minus" style="color:#9aa400;"></i> {{ categorie.nom }}</td>
                    {% for key, value in categorie.nb_par_annee.items %}
                    <td class="text-end">{% if stat.delai_avis_moyen_national %}{{ value.0 }} {% if value.1 %}<div class="mini-text">({{ value.1 }})</div>{% endif %}{% else %}{{ value }}{% endif %}</td>
                    {% endfor %}
                    <td class="text-end table-info">{{ categorie.nb }}{% if categorie.nb_national %} <div class="mini-text">({{ categorie.nb_national }})</div>{% endif %}</td>
                </tr>
            {% endif %}
        {% endfor %}
</table>