{% load i18n humanize %}
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <td class="text-end">Année :</td>
        {% for y in stat.annees %}
            <th class="text-center">{{ y }}</th>
        {% endfor %}
        <th class="table-info text-center">Total</th>
    </tr>
    </thead>
    <tr class="table-light">
        <td class="pb-1 border-0"></td>
        {% for key in stat.annees %}
            <td class="pb-1 border-0"></td>
        {% endfor %}
        <td class="pb-1 border-0"></td>
    </tr>
    {% for forum, value in stat.forums.items %}
        <tr>
            <th><i class="msg_conversation"></i>{{ forum }}<br> <div class="mini-text"> sujet  (réponse)</div></th>
            {% for key, value in value.items %}
                <td class="text-end">  {{ value.1 }} ({{ value.0 }})  </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>