{% load i18n humanize %}

 <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th colspan="2">
               Nombre d'instructions actuellement :
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="ps-5"><i class="fas fa-minus" style="color:#9aa400;"></i> en cours</td>
            <td class="table-info text-end">{{ instruction_en_cours }}</td>
        </tr>
        <tr>
            <td class="ps-5"><i class="fas fa-minus" style="color:#9aa400;"></i> terminées</td>
            <td class="table-info text-end">{{ instruction_terminée }}</td>
        </tr>
        <tr>
            <td class="ps-5"><i class="fas fa-minus" style="color:#9aa400;"></i> avec demandes d'avis pas encore envoyées</td>
            <td class="table-info text-end">{{ instruction_demande }}</td>
        </tr>
        <tr>
            <td class="ps-5"><i class="fas fa-minus" style="color:#9aa400;"></i> avec demandes d'avis envoyées</td>
            <td class="table-info text-end">{{ instruction_commence }}</td>
        </tr>
        <tr>
            <td class="ps-5"><i class="fas fa-minus" style="color:#9aa400;"></i> en attente de décision tandis que tous les avis sont reçus</td>
            <td class="table-info text-end">{{ instruction_attente_decision }}</td>
        </tr>
        <tr>
            <td class="ps-5"><i class="fas fa-minus" style="color:#9aa400;"></i> en attente d'avis tandis que tous les préavis sont reçus (concerne les services "complexes")</td>
            <td class="table-info text-end">{{ instruction_en_attente_avis }}</td>
        </tr>
        <tr>
            <td class="ps-5"><i class="fas fa-minus" style="color:#9aa400;"></i> en attente de préavis (concerne les services "complexes")</td>
            <td class="table-info text-end">{{ instruction_en_attente_preavis }}</td>
        </tr>
        </tbody>
    </table>


<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <td class="text-end">Année :</td>
        {% for y in stat.annees %}
            <th class="text-center">{{ y }}</th>
        {% endfor %}
        <th class="table-info text-center">Total</th>
    </tr>
    </thead>
    <tr>
        <th class="table-secondary">Nombre total d'avis envoyés</th>
        {% for key, value in stat.nb_avis_par_annee.items %}
            <td class="table-secondary py-2 text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_avis|intcomma }}</td>
    </tr>

    {% for x in stat.nb_avis_categorie %}
        <tr>
            <td class="ps-5">
                <i class="fas fa-minus" style="color:#9aa400;"></i> vers un service de : {{ x.nom }} 
            </td>
            {% for key, value in x.nb_par_annee.items %}
                <td class="text-end">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-end">{{ x.nb|intcomma }}</td>
        </tr>
    {% endfor %}
    <tr class="table-light">
        <td class="pb-1 border-0"></td>
        {% for key in stat.annees %}
            <td class="pb-1 border-0"></td>
        {% endfor %}
        <td class="pb-1 border-0"></td>
    </tr>
    <tr>
    <tr>
        <td class="text-end">Année :</td>
        {% for y in stat.annees %}
            <th class="text-center">{{ y }}</th>
        {% endfor %}
        <th class="table-info text-center">Total</th>
    </tr>

    <th class="table-secondary">Nombre total de préavis envoyés</th>
    {% for key, value in stat.nb_preavis_par_annee.items %}
        <td class="table-secondary py-2 text-end">{{ value|intcomma }}</td>
    {% endfor %}
    <td class="table-info py-2 text-end">{{ stat.nb_preavis|intcomma }}</td>
    </tr>

    {% for x in stat.nb_preavis_categorie %}
        <tr>
            <td class="ps-5">
                <i class="fas fa-minus" style="color:#9aa400;"></i>  vers un service de : {{ x.nom }}
            </td>
            {% for key, value in x.nb_par_annee.items %}
                <td class="text-end">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-end">{{ x.nb|intcomma }}</td>
        </tr>
    {% endfor %}

    <tr class="table-light">
        <td class="pb-1 border-0"></td>
        {% for key in stat.annees %}
            <td class="pb-1 border-0"></td>
        {% endfor %}
        <td class="pb-1 border-0"></td>
    </tr>
    <tr>
    <tr>
        <td class="text-end">Année :</td>
        {% for y in stat.annees %}
            <th class="text-center">{{ y }}</th>
        {% endfor %}
        <th class="table-info text-center">Total</th>
    </tr>

    <th class="table-secondary">Nombre total d'accès en consultation octroyé</th>
    {% for key, value in stat.nb_consultation_par_annee.items %}
        <td class="table-secondary py-2 text-end">{{ value|intcomma }}</td>
    {% endfor %}
    <td class="table-info py-2 text-end">{{ stat.nb_consultation|intcomma }}</td>
    </tr>

    <tr>
        <td class="ps-5"><i class="fas fa-minus" style="color:#9aa400;"></i> vers un organisateur</td>
        {% for key, value in stat.nb_consultation_orga_par_annee.items %}
            <td class="py-2 text-end">{{ value|intcomma }}</td>
        {% endfor %}
        <td class="table-info py-2 text-end">{{ stat.nb_consultation_orga|intcomma }}</td>
    </tr>

    {% for x in stat.nb_consultation_categorie %}
        <tr>
            <td class="ps-5">
                <i class="fas fa-minus" style="color:#9aa400;"></i> vers un service de : {{ x.nom }}
            </td>
            {% for key, value in x.nb_par_annee.items %}
                <td class="text-end">{{ value|intcomma }}</td>
            {% endfor %}
            <td class="table-info py-2 text-end">{{ x.nb|intcomma }}</td>
        </tr>
    {% endfor %}
</table>