{% extends "base_form.html" %}

{% load i18n static %}

{% block head_title %}Formulaire d'EI simplifiée Natura2000{% endblock %}
{% block page_title %}
    <h1>Formulaire d'évaluation d'incidence simplifiée Natura2000</h1>
{% endblock %}

{% block fil_ariane %}
      <div class="alert alert-info">Natura 2000 désigne un milieu naturel sensible qui abrite des habitats et des espèces fragiles.<br>
          Il vous appartient de renseigner ce formulaire évaluation simplifié des incidences Natura 2000 qui permettra d'évaluer
          les impacts potentiels de votre manifestation sur ces milieux et les mesures que vous proposez de mettre en œuvre pour les limiter.<br>
          Seules les manifestations qui n'auront pas d'impact significatif sur le réseau N 2000 pourront être autorisées.
      </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        // Insertion dynamique de div d'aide
        $(function () {
            $('.offset_remove input[type="checkbox"]').each(function () {
                let titre = $(this).attr('name').slice(0,-1);
                $('#div_id_'+titre+'_').addClass("ms-5");
                $('#div_id_mesures_'+titre).before(
                    '<div class="mb-3 ms-5 fw-bold pt-3 mt-3" id="titre_' + titre +
                    '" style="border-top: 2px dotted #869200; font-size: 16px;">' + $('#div_id_'+titre+'_').text() + '</div>')
                $('label[for=id_' + titre + '_').text('sans objet / non concerné')
            });
            let page_help = '';
            let champ = '';
            {% for help in contexthelps %}
                {% spaceless %}
                    page_help = "{{ help.name }}";
                    // Supprimer le préfixe des pages contexthelp destinée à l'évaluation n2k
                    champ = page_help.split('_').splice(1, 10).join('_');
                if ($('[name^="'+champ+'"]').length) {
                    if (champ.startsWith('mesures')) {
                        $('#div_id_'+champ).before(
                            '<div class="btn_' + champ + ' ms-5 mb-3 text-center" data-champ=' + champ +'>' +
                            '<button class="btn btn-outline-primary">' +
                            '<i class="feuille"></i> Consulter des mesures de réduction envisageables</button></div>');
                        $('.btn_'+champ).after('<div class="' + champ + '_ctx-help ms-5">{{ help.text|safe|escapejs }}</div>');
                    } else {
                        $('#titre_'+champ).after('<div class="' + champ + '_ctx-help ms-5">{{ help.text|safe|escapejs }}</div>');
                    }
                }
                {% endspaceless %}
            {% endfor %}
        })
    </script>
    <script>
        let impact = {{ impact }};
    </script>

    <script src='{% static 'libs/autogrow/jquery.ns-autogrow.min.js' %}' type="text/javascript"></script>
    <script src='{% static 'evaluation_incidence/js/evaluation-form.js' %}' type="text/javascript"></script>
{% endblock %}
