{% load i18n verbose_tags description get_history %}

{% if request.organisation == object.structure_organisatrice_fk %}
    {% if not evaluation.conclusion_natura_2000 %}
        <div class="alert alert-warning text-left">
            Vous avez déclaré ne pas conclure à l'absence d'incidence significative,<br>
            veuillez donc prendre contact avec la DDT ou la DREAL de votre département pour prendre connaissance de la suite de la procédure.
            Cette démarche n'est pas bloquante pour l'envoi de votre dossier mais elle sera demandée ultérieurement par le service instructeur.
            Merci de l'anticiper.
        </div>
    {% endif %}
    {% if not object.n2kevaluation.date_soumission %}
        <div class="card-body text-end">
            <a href="{% url 'evaluation_incidence:n2keval_update' object.n2kevaluation.pk %}"
               class="btn btn-primary" role="button "><i class="editer"></i> Modifier
            </a>
        </div>
    {% endif %}
{% endif %}

<h2 class="desc_manif">Information générales</h2>
{% if evaluation.pourquoi_instructeur or evaluation.pourquoi_organisateur %}
<div class="row mb-2" id="pourquoi_organisateur">
    {% if evaluation.pourquoi_instructeur %}
        <div class="col-6 text-end">Motivation de l'instructeur :</div>
        <div class="col-6">{{ evaluation.pourquoi_instructeur|capfirst }} {{ evaluation|get_history:"pourquoi_instructeur"|safe }}</div>
    {% endif %}
    {% if evaluation.pourquoi_organisateur %}
        <div class="col-6 libelle">Motivation de l'organisateur :</div>
        <div class="col-6 valeur">{{ evaluation.pourquoi_organisateur|capfirst }} {{ evaluation|get_history:"pourquoi_organisateur"|safe }}</div>
    {% endif %}
</div>
{% endif %}
<div class="row mb-2 champ n2k" id="diurne">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'diurne'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.diurne|iconic|safe }} {{ evaluation|get_history:"diurne"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="nocturne">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'nocturne'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.nocturne|iconic|safe }} {{ evaluation|get_history:"nocturne"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="annuel">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'annuel'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.annuel|iconic|safe }} {{ evaluation|get_history:"annuel"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="premiere_edition">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'premiere_edition'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.premiere_edition|iconic|safe }} {{ evaluation|get_history:"premiere_edition"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="autre_frequence">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'autre_frequence'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.autre_frequence|capfirst }} {{ evaluation|get_history:"autre_frequence"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="cout">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'cout'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.get_cout_display }} {{ evaluation|get_history:"get_cout_display"|safe }}</div>
</div>
<br>

<h2 class="desc_manif"><i class="carto"></i> Localisation de la manifestation par rapport aux sites Natura 2000</h2>
<div class="row mb-2 champ n2k" id="terrestre">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'terrestre'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.terrestre|iconic|safe }} {{ evaluation|get_history:"terrestre"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="nautique">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'nautique'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.nautique|iconic|safe }} {{ evaluation|get_history:"nautique"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="aerien">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'aerien'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.aerien|iconic|safe }} {{ evaluation|get_history:"aerien"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="sensibilite">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'sensibilite'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.sensibilite|iconic|safe }} {{ evaluation|get_history:"sensibilite"|safe }}</div>
</div>
{% if object.sites_natura2000.first %}
    <div class="row mb-2" id="liste_site">
        <div class="col-6 text-end">Sites natura 2000 concernés :</div>
        <div class="col-6">
            {% for site in object.sites_natura2000.all %}
                {{ site }}
                <a class='float-end' role='button' href='#collapse{{ site.id }}' data-bs-toggle='collapse' data-bs-target='#collapse{{ site.id }}'
                   aria-expanded='false' aria-controls='collapse{{ site.id }}'>&nbsp;&nbsp;&nbsp;<i class='rechercher'></i> voir l'opérateur</a><br>
            {% endfor %} {{ evaluation|get_history:"sites_natura2000"|safe }}
        </div>
        <div class="col-12">
        {% for site in object.sites_natura2000.all %}
            <table class='collapse w-100 mb-3' id='collapse{{ site.id }}' aria-labelledby='zone_{{ site.id }}' data-parent='#liste_site'>
                <thead><tr class='table-secondary'>
                    <th>Administrateur</th><th>Adresse</th><th>Commune</th><th>Opérateur(s)</th><th>E-mail</th></tr></thead>
                <tbody><tr class='table-active'>
                    <td>{{ site.operateursiten2k.nom }}</td><td>{{ site.operateursiten2k.adresse|default:'' }}</td>
                    <td>{{ site.operateursiten2k.commune|default:'' }}</td><td>{{ site.operateursiten2k.contacts|linebreaksbr }}</td>
                    <td>{{ site.operateursiten2k.email|urlize }}</td></tr>
                </tbody>
            </table>
        {% endfor %}
        </div>
    </div>
{% endif %}
<div class="row mb-2 champ n2k" id="distance_site">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'distance_site'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.distance_site }} km {{ evaluation|get_history:"distance_site"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="lieu">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'lieu'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.lieu|capfirst }} {{ evaluation|get_history:"lieu"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="Longueur_totale_parcours">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'Longueur_totale_parcours'|capfirst }} en zone Natura 2000 :</div>
    <div class="col-6 valeur">{{ evaluation.Longueur_totale_parcours }} km {{ evaluation|get_history:"Longueur_totale_parcours"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="precision">
    <div class="col-6 libelle">Informations complémentaires à propos des parcours :</div>
    <div class="col-6 valeur">{{ evaluation.precision }} {{ evaluation|get_history:"precision"|safe }}</div>
</div>
<br>

<h2 class="desc_manif">Incidences potentielles sur Natura 2000</h2>
<div class="row mb-2 champ n2k" id="pietinement">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'pietinement'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.pietinement|iconic|safe }} {{ evaluation|get_history:"pietinement"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_pietinement">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_pietinement|safe|linebreaks }} {{ evaluation|get_history:"mesures_pietinement"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="emissions_sonores">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'emissions_sonores'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.emissions_sonores|iconic|safe }} {{ evaluation|get_history:"emissions_sonores"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_emissions_sonores">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_emissions_sonores|safe|linebreaks }} {{ evaluation|get_history:"mesures_emissions_sonores"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="emissions_lumiere">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'emissions_lumiere'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.emissions_lumiere|iconic|safe }} {{ evaluation|get_history:"emissions_lumiere"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_emissions_lumiere">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_emissions_lumiere|safe|linebreaks }} {{ evaluation|get_history:"mesures_emissions_lumiere"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="pollution_eau">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'pollution_eau'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.pollution_eau|iconic|safe }} {{ evaluation|get_history:"pollution_eau"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_pollution_eau">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_pollution_eau|safe|linebreaks }} {{ evaluation|get_history:"mesures_pollution_eau"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="cours_eau">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'cours_eau'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.cours_eau|iconic|safe }} {{ evaluation|get_history:"cours_eau"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_cours_eau">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_cours_eau|safe|linebreaks }} {{ evaluation|get_history:"mesures_cours_eau"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="pollution_terre">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'pollution_terre'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.pollution_terre|iconic|safe }} {{ evaluation|get_history:"pollution_terre"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_pollution_terre">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_pollution_terre|safe|linebreaks }} {{ evaluation|get_history:"mesures_pollution_terre"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="ravitaillement">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'ravitaillement'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.ravitaillement|iconic|safe }} {{ evaluation|get_history:"ravitaillement"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_ravitaillement">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_ravitaillement|safe|linebreaks }} {{ evaluation|get_history:"mesures_ravitaillement"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="balisage">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'balisage'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.balisage|iconic|safe }} {{ evaluation|get_history:"balisage"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_balisage">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_balisage|safe|linebreaks }} {{ evaluation|get_history:"mesures_balisage"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="sensibilisation">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'sensibilisation'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.sensibilisation|iconic|safe }} {{ evaluation|get_history:"sensibilisation"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_sensibilisation">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_sensibilisation|safe|linebreaks }} {{ evaluation|get_history:"mesures_sensibilisation"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="emprise_amenagement">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'emprise_amenagement'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.emprise_amenagement|iconic|safe }} {{ evaluation|get_history:"emprise_amenagement"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_emprise_amenagement">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_emprise_amenagement|safe|linebreaks }} {{ evaluation|get_history:"mesures_emprise_amenagement"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="public">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'public'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.public|iconic|safe }} {{ evaluation|get_history:"public"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_public">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_public|safe|linebreaks }} {{ evaluation|get_history:"mesures_public"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="parking">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'parking'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.parking|iconic|safe }} {{ evaluation|get_history:"parking"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_parking">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_parking|safe|linebreaks }} {{ evaluation|get_history:"mesures_parking"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="engins_aeriens">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'engins_aeriens'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.engins_aeriens|iconic|safe }} {{ evaluation|get_history:"engins_aeriens"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="mesures_engins_aeriens">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.mesures_engins_aeriens|safe|linebreaks }} {{ evaluation|get_history:"datmesures_engins_aeriense_debut"|safe }}</div>
</div>
<br>

<h2 class="desc_manif">Conclusions</h2>
<div class="row mb-2 champ n2k" id="impact_estime">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'impact_estime'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.impact_estime|capfirst }} {{ evaluation|get_history:"impact_estime"|safe }}</div>
</div>
<div class="row mb-2 champ n2k" id="conclusion_natura_2000">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'conclusion_natura_2000'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.conclusion_natura_2000|iconic|safe }} {{ evaluation|get_history:"conclusion_natura_2000"|safe }}</div>
</div>
