{% extends "base_form.html" %}

{% load i18n static %}

{% block head_title %}Formulaire d'EI simplifiée RNR{% endblock %}
{% block page_title %}
    <h1>Formulaire d'évaluation d'incidence simplifiée RNR</h1>
{% endblock %}

{% block extra_js %}
    <script src='{% static 'libs/autogrow/jquery.ns-autogrow.min.js' %}' type="text/javascript"></script>
    <script src='{% static 'evaluation_incidence/js/evaluation-form.js' %}' type="text/javascript"></script>
{% endblock %}
