{% load i18n verbose_tags %}

    {% if request.organisation == manif.structure_organisatrice_fk and not manif.en_cours_instruction %}
        <div class="card-body text-end">
            <a href="{% url 'evaluation_incidence:rnreval_update' evaluation.pk %}"
               class="btn btn-primary" role="button"><i class="editer"></i> Modifier
            </a>
        </div>
    {% endif %}

<div class="card-header">
    Information générales
</div>
<ul class="list-group mb-3">
    <li class="list-group-item">Fréquence de la manifestation :
        <div class="card-body py-1">
            {% if evaluation.annuel %}
                {{ evaluation|verbose_attr:'annuel'|capfirst }}<br>
            {% endif %}
            {% if evaluation.premiere_edition %}
                {{ evaluation|verbose_attr:'premiere_edition'|capfirst }}<br>
            {% endif %}
            {% if evaluation.autre_frequence %}
                {{ evaluation|verbose_attr:'autre_frequence'|capfirst }} : {{ evaluation.autre_frequence|capfirst }}<br>
            {% endif %}
            {{ evaluation|verbose_attr:'duree'|capfirst }} : {{ evaluation.get_duree_display|capfirst }}
        </div>
    </li>
    <li class="list-group-item">Fréquentation :
        <div class="card-body py-1">
            {{ evaluation|verbose_attr:'participants'|capfirst }} : {{ evaluation.participants }} Personnes<br>
            {{ evaluation|verbose_attr:'spectateurs'|capfirst }} : {{ evaluation.spectateurs }} Personnes
        </div>
    </li>
    <li class="list-group-item">{{ evaluation|verbose_attr:'cout'|capfirst }} : {{ evaluation.get_cout_display }}</li>
</ul>

<div class="card-header">
    <i class="carto"></i> Localisation de la manifestation  par rapport aux zones RNR
</div>
<ul class="list-group mb-3" id="liste_zone">
{% if manif.zones_rnr.first %}
    <li class="list-group-item">Zones RNR concernées :
    <div class="card-body py-1">
        {% for zone in manif.zones_rnr.all %}
            {{ zone }}
            <a class='float-end' role='button' href='#collapse{{ zone.id }}' data-bs-toggle='collapse' data-bs-target='#collapse{{ zone.id }}'
               aria-expanded='false' aria-controls='collapse{{ zone.id }}'>&nbsp;&nbsp;&nbsp;<i class='rechercher'></i> voir l'opérateur</a><br>
        {% endfor %}
    </div></li>
    {% for zone in manif.zones_rnr.all %}
        <table class='collapse w-100 mb-3' id='collapse{{ zone.id }}' aria-labelledby='zone_{{ zone.id }}' data-parent='#liste_zone'>
            <thead><tr class='table-secondary'>
                <th>Administrateur</th><th>Adresse</th><th>Commune</th><th>Conservateur</th><th>E-mail</th></tr></thead>
            <tbody><tr class='table-active'>
                <td>{{ zone.administrateurrnr.nom }}</td><td>{{ zone.administrateurrnr.adresse|default:'' }}</td>
                <td>{{ zone.administrateurrnr.commune|default:'' }}</td><td>{{ zone.administrateurrnr.contacts|linebreaksbr }}</td>
                <td>{{ zone.administrateurrnr.email|urlize }}</td></tr>
            </tbody>
        </table>
    {% endfor %}
{% endif %}
    {% if evaluation.lieu %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'lieu'|capfirst }} : {{ evaluation.lieu|capfirst }}</li>
    {% endif %}
    <li class="list-group-item">{{ evaluation|verbose_attr:'Longueur_totale_parcours'|capfirst }}  en zone RNR : {{ evaluation.Longueur_totale_parcours }}</li>
    {% if evaluation.precision %}
        <li class="list-group-item">Informations complémentaires à propos des parcours : {{ evaluation.precision }}</li>
    {% endif %}
</ul>

<div class="card-header">
    Prise en compte de l'environnement
</div>
<ul class="list-group mb-3">
    <li class="list-group-item">{{ evaluation|verbose_attr:'date_contact_administrateur'|capfirst }} : {{ evaluation.date_contact_administrateur }}</li>
    <li class="list-group-item">{{ evaluation|verbose_attr:'sensibilisation'|capfirst }} : {{ evaluation.sensibilisation|capfirst }}</li>
    <li class="list-group-item">{{ evaluation|verbose_attr:'canalisation_public'|capfirst }} : {{ evaluation.canalisation_public }}</li>
    <li class="list-group-item">{{ evaluation|verbose_attr:'presence_administrateur'|capfirst }} : {{ evaluation.presence_administrateur|yesno|title }}</li>
</ul>

<div class="card-header">
    Présence d'aménagements connexes
</div>
<ul class="list-group mb-3">
    {% if evaluation.eclairage_nocturne %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'eclairage_nocturne'|capfirst }}
        {% if evaluation.description_eclairage_nocturne %}
            <div class="card-body py-1">
                mesures engagées : {{ evaluation.description_eclairage_nocturne|safe|linebreaks }}
            </div>
        {% endif %}
        </li>
    {% endif %}
    {% if evaluation.balisage %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'balisage'|capfirst }}
        {% if evaluation.description_balisage %}
            <div class="card-body py-1">
                mesures engagées : {{ evaluation.description_balisage|safe|linebreaks }}
            </div>
        {% endif %}
        </li>
    {% endif %}
    {% if evaluation.autre_amenagement %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'autre_amenagement'|capfirst }}
        {% if evaluation.description_autre_amenagement %}
            <div class="card-body py-1">
                mesures engagées : {{ evaluation.description_autre_amenagement|safe|linebreaks }}
            </div>
        {% endif %}
        </li>
    {% endif %}
</ul>

<div class="card-header">
    Incidences potentielles sur RNR
</div>
<ul class="list-group mb-3">
    {% if evaluation.emissions_sonores %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'emissions_sonores'|capfirst }}</li>
    {% endif %}
    {% if evaluation.gestion_dechets %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'gestion_dechets'|capfirst }}
        {% if evaluation.description_gestion_dechets %}
            <div class="card-body py-1">
                mesures engagées : {{ evaluation.description_gestion_dechets|safe|linebreaks }}
            </div>
        {% endif %}
        </li>
    {% endif %}
    {% if evaluation.prise_conscience %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'prise_conscience'|capfirst }}</li>
    {% endif %}
    {% if evaluation.reduction_impact %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'reduction_impact'|capfirst }}
        {% if evaluation.description_reduction_impact %}
            <div class="card-body py-1">
                mesures engagées : {{ evaluation.description_reduction_impact|safe|linebreaks }}
            </div>
        {% endif %}
        </li>
    {% endif %}
    {% if evaluation.engins_aeriens %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'engins_aeriens'|capfirst }}
        {% if evaluation.description_engins %}
            <div class="card-body py-1">
                mesures engagées : {{ evaluation.description_engins|safe|linebreaks }}
            </div>
        {% endif %}
        </li>
    {% endif %}
    {% if evaluation.pietinement %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'pietinement'|capfirst }}
        {% if evaluation.description_pietinement %}
            <div class="card-body py-1">
                mesures engagées : {{ evaluation.description_pietinement|safe|linebreaks }}
            </div>
        {% endif %}
        </li>
    {% endif %}
    {% if evaluation.gestion_balisage %}
        <li class="list-group-item">{{ evaluation|verbose_attr:'gestion_balisage'|capfirst }}
        {% if evaluation.description_gestion_balisage %}
            <div class="card-body py-1">
                mesures engagées : {{ evaluation.description_gestion_balisage|safe|linebreaks }}
            </div>
        {% endif %}
        </li>
    {% endif %}
</ul>

<div class="card-header">
    Conclusions
</div>
<ul class="list-group mb-3">
    <li class="list-group-item">{{ evaluation|verbose_attr:'impact_estime'|capfirst }} : {{ evaluation.impact_estime|capfirst }}</li>
    <li class="list-group-item">{{ evaluation|verbose_attr:'respect_reglement'|capfirst }} : {{ evaluation.respect_reglement|yesno|title }}</li>
    <li class="list-group-item">{{ evaluation|verbose_attr:'conclusion_rnr'|capfirst }} : {{ evaluation.conclusion_rnr|yesno|title }}</li>
</ul>