{% load i18n verbose_tags description get_history %}


{% if user == object.structure.organisateur.user and not object.en_cours_instruction %}
    <div class="card-body text-end">
        <a href="{% url 'evaluation_incidence:rnreval_update' evaluation.pk %}"
           class="btn btn-primary" role="button"><i class="editer"></i> Modifier
        </a>
    </div>
{% endif %}


<h2 class="desc_manif">Information générales</h2>
<div class="row mb-2 champ rnr" id="annuel">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'annuel'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.annuel|iconic|safe }} {{ evaluation|get_history:"annuel"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="premiere_edition">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'premiere_edition'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.premiere_edition|iconic|safe }} {{ evaluation|get_history:"premiere_edition"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="autre_frequence">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'autre_frequence'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.autre_frequence|capfirst }} {{ evaluation|get_history:"autre_frequence"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="duree">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'duree'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.get_duree_display|capfirst }} {{ evaluation|get_history:"get_duree_display"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="participants">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'participants'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.participants }} Personnes {{ evaluation|get_history:"participants"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="spectateurs">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'spectateurs'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.spectateurs }} Personnes {{ evaluation|get_history:"spectateurs"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="cout">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'cout'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.get_cout_display }} {{ evaluation|get_history:"get_cout_display"|safe }}</div>
</div>
<br>

<h2 class="desc_manif"><i class="carto"></i> Localisation de la manifestation par rapport aux zones RNR</h2>
{% if object.zones_rnr.first %}
    <div class="row mb-2" id="liste_zone">
        <div class="col-6 text-end">Zones RNR concernées :</div>
        <div class="col-6">
            {% for zone in object.zones_rnr.all %}
                {{ zone }}
                <a class='float-end' role='button' href='#collapse{{ zone.id }}' data-bs-toggle='collapse' data-bs-target='#collapse{{ zone.id }}'
                   aria-expanded='false' aria-controls='collapse{{ zone.id }}'>&nbsp;&nbsp;&nbsp;<i class='rechercher'></i> voir l'opérateur</a><br>
            {% endfor %} {{ evaluation|get_history:"zones_rnr"|safe }}
        </div>
        <div class="col-12">
            {% for zone in object.zones_rnr.all %}
                <table class='collapse w-100 mb-3' id='collapse{{ zone.id }}' aria-labelledby='zone_{{ zone.id }}' data-parent='#liste_zone'>
                    <thead><tr class='table-secondary'>
                        <th>Administrateur</th><th>Adresse</th><th>Commune</th><th>Conservateur</th><th>E-mail</th></tr></thead>
                    <tbody><tr class='table-active'>
                        <td>{{ zone.administrateurrnr.nom }}</td><td>{{ zone.administrateurrnr.adresse|default:'' }}</td>
                        <td>{{ zone.administrateurrnr.commune|default:'' }}</td><td>{{ zone.administrateurrnr.contacts|linebreaksbr }}</td>
                        <td>{{ zone.administrateurrnr.email|urlize }}</td></tr>
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{% endif %}
<div class="row mb-2 champ rnr" id="lieu">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'lieu'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.lieu|capfirst }} {{ evaluation|get_history:"lieu"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="Longueur_totale_parcours">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'Longueur_totale_parcours'|capfirst }} en zone RNR :</div>
    <div class="col-6 valeur">{{ evaluation.Longueur_totale_parcours }} km {{ evaluation|get_history:"Longueur_totale_parcours"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="precision">
    <div class="col-6 libelle">Informations complémentaires à propos des parcours :</div>
    <div class="col-6 valeur">{{ evaluation.precision }} {{ evaluation|get_history:"precision"|safe }}</div>
</div>
<br>

<h2 class="desc_manif">Prise en compte de l'environnement</h2>
<div class="row mb-2 champ rnr" id="date_contact_administrateur">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'date_contact_administrateur'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.date_contact_administrateur }} {{ evaluation|get_history:"date_contact_administrateur"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="sensibilisation">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'sensibilisation'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.sensibilisation|capfirst }} {{ evaluation|get_history:"sensibilisation"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="canalisation_public">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'canalisation_public'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.canalisation_public }} {{ evaluation|get_history:"canalisation_public"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="presence_administrateur">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'presence_administrateur'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.presence_administrateur|iconic|safe }} {{ evaluation|get_history:"presence_administrateur"|safe }}</div>
</div>
<br>

<h2 class="desc_manif">Présence d'aménagements connexes</h2>
<div class="row mb-2 champ rnr" id="eclairage_nocturne">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'eclairage_nocturne'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.eclairage_nocturne|iconic|safe }} {{ evaluation|get_history:"eclairage_nocturne"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="description_eclairage_nocturne">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.description_eclairage_nocturne|safe|linebreaks }} {{ evaluation|get_history:"description_eclairage_nocturne"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="balisage">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'balisage'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.balisage|iconic|safe }} {{ evaluation|get_history:"balisage"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="description_balisage">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.description_balisage|safe|linebreaks }} {{ evaluation|get_history:"description_balisage"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="autre_amenagement">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'autre_amenagement'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.autre_amenagement|iconic|safe }} {{ evaluation|get_history:"autre_amenagement"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="description_autre_amenagement">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.description_autre_amenagement|safe|linebreaks }} {{ evaluation|get_history:"description_autre_amenagement"|safe }}</div>
</div>
<br>

<h2 class="desc_manif">Incidences potentielles sur RNR</h2>
<div class="row mb-2 champ rnr" id="emissions_sonores">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'emissions_sonores'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.emissions_sonores|iconic|safe }} {{ evaluation|get_history:"emissions_sonores"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="gestion_dechets">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'gestion_dechets'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.gestion_dechets|iconic|safe }} {{ evaluation|get_history:"gestion_dechets"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="description_gestion_dechets">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.description_gestion_dechets|safe|linebreaks }} {{ evaluation|get_history:"description_gestion_dechets"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="prise_conscience">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'prise_conscience'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.prise_conscience|iconic|safe }} {{ evaluation|get_history:"prise_conscience"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="reduction_impact">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'reduction_impact'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.reduction_impact|iconic|safe }} {{ evaluation|get_history:"reduction_impact"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="description_reduction_impact">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.description_reduction_impact|safe|linebreaks }} {{ evaluation|get_history:"description_reduction_impact"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="engins_aeriens">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'engins_aeriens'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.engins_aeriens|iconic|safe }} {{ evaluation|get_history:"engins_aeriens"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="description_engins">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.description_engins|safe|linebreaks }} {{ evaluation|get_history:"description_engins"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="pietinement">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'pietinement'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.pietinement|iconic|safe }} {{ evaluation|get_history:"pietinement"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="description_pietinement">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.description_pietinement|safe|linebreaks }} {{ evaluation|get_history:"description_pietinement"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="gestion_balisage">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'gestion_balisage'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.gestion_balisage|iconic|safe }} {{ evaluation|get_history:"gestion_balisage"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="description_gestion_balisage">
    <div class="col-6 libelle">mesures engagées <span class="mx-1">&#8629;</span> :</div>
    <div class="col-6 valeur">{{ evaluation.description_gestion_balisage|safe|linebreaks }} {{ evaluation|get_history:"description_gestion_balisage"|safe }}</div>
</div>
<br>

<h2 class="desc_manif">Conclusions</h2>
<div class="row mb-2 champ rnr" id="impact_estime">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'impact_estime'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.impact_estime|capfirst }} {{ evaluation|get_history:"impact_estime"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="respect_reglement">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'respect_reglement'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.respect_reglement|iconic|safe }} {{ evaluation|get_history:"respect_reglement"|safe }}</div>
</div>
<div class="row mb-2 champ rnr" id="conclusion_rnr">
    <div class="col-6 libelle">{{ evaluation|verbose_attr:'conclusion_rnr'|capfirst }} :</div>
    <div class="col-6 valeur">{{ evaluation.conclusion_natura_2000|iconic|safe }} {{ evaluation|get_history:"conclusion_natura_2000"|safe }}</div>
</div>
