{% extends "base_form.html" %}

{% load i18n static %}

{% block head_title %}Formulaire d'EI simplifiée Natura 2000{% endblock %}
{% block page_title %}
    <h1>Formulaire d'évaluation d'incidence simplifiée Natura 2000</h1>
{% endblock %}

{% block fil_ariane %}
      <div class="alert alert-info">Vous organisez une manifestation sportive qui traverse un site Natura 2000. C'est un milieu naturel sensible qui abrite des habitats et des espèces fragiles.<br>
Il vous appartient de renseigner ce formulaire évaluation des incidences simplifié N 2000 qui permettra d'évaluer les impacts potentiels de votre manifestation sur ces milieux et les mesures que vous proposez de mettre en œuvre pour les limiter.<br>
Seules les manifestations qui n'auront pas d'impact significatif sur le réseau N 2000 pourront être autorisées.</div>
{% endblock %}

{% block extra_js %}
    {% if contexthelps %}
        <script type="text/javascript">
            // Insertion dynamique de div d'aide
            $(function () {
                let page_help = '';
                let champ = '';
                {% for help in contexthelps %}
                    {% spaceless %}
                        page_help = "{{ help.name }}";
                        // Supprimer le préfixe des pages contexthelp destinée à l'évaluation n2k
                        champ = page_help.split('_').splice(1, 10).join('_');
                    if ($('[name="'+champ+'"]').length) {
                        $('[name="'+champ+'"]').parents('.form-group').after('<div class="' + champ + '_ctx-help ml-5">{{ help.text|safe|escapejs }}</div>');
                    }
                    {% endspaceless %}
                {% endfor %}
            })
        </script>
    {% endif %}
    <script>
        let impact = {{ impact }};
    </script>

    <script src='{% static 'libs/autogrow/jquery.ns-autogrow.min.js' %}' type="text/javascript"></script>
    <script src='{% static 'evaluation_incidence/js/evaluation-form.js' %}' type="text/javascript"></script>
{% endblock %}
