{% extends "base.html" %}


{% load i18n %}

{% block head_title %}Sites natura 2000{% endblock %}
{% block page_title %}
    <h1>Sites natura 2000</h1>
{% endblock %}

{% block content %}
    <div class="float-right mb-4">
        Département :
        <select class="form-control" id="departement" name="departement">
            {% if current_departement == "0" %}
                <option selected value="0"> National </option>
            {% else %}
                <option value="0"> National </option>
            {% endif %}
            {% for departement in departements %}
                {% if departement.name == current_departement  %}
                    <option selected value="{{ departement.name }}">{{ departement }}</option>>
                {% else %}
                    <option value="{{ departement.name }}">{{ departement }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th>Fiche</th>
                <th>Type</th>
                <th>Nom</th>
                <th>Opérateur</th>
            </tr>
        </thead>
        <tbody>
            {% for reserve in object_list %}
                <tr>
                    <td>{{ reserve.index }}</td>
                    <td>{{ reserve.get_site_type_display }}</td>
                    <td>{{ reserve.nom }}</td>
                    <td>{{ reserve.operateursiten2k.nom }}
                        {% if reserve.operateursiten2k.nom %}
                            <a role="button"
                               data-toggle="collapse"
                               href="#collapse{{ reserve.id }}"
                               aria-expanded="false"
                               aria-controls="collapse{{ reserve.id }}">
                                &nbsp;&nbsp;&nbsp;<i class="rechercher"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="py-0 px-5 text-center">
                        <table class="collapse w-100 " id="collapse{{ reserve.id }}">
                            <thead>
                                <tr class="table-secondary">
                                    <th>Opérateur</th>
                                    <th>Adresse</th>
                                    <th>Commune</th>
                                    <th>Conservateur</th>
                                    <th>E-mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-active">
                                    <td>{{ reserve.operateursiten2k.nom }}</td>
                                    <td>{{ reserve.operateursiten2k.adresse|default:"" }}</td>
                                    <td>{{ reserve.operateursiten2k.commune|default:"" }}</td>
                                    <td>{{ reserve.operateursiten2k.contacts|linebreaksbr }}</td>
                                    <td>{{ reserve.operateursiten2k.email|urlize }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_js %}
    <script>
        $('#id_departement').trigger("chosen:updated");
        $('#departement').on('change', function () {
            $('tbody').html('chargement...');
            let url = "{% url 'evaluation_incidence:siten2k_liste_all' %}";
            let nb = $(this).val();
            window.location.assign(window.location.origin+url+nb+'/');
        })
    </script>
{% endblock %}
