{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div class="{% if 'form-horizontal' in form_class %}row{% endif %}">
        {% if label_class %}
            <div class="{% for offset in bootstrap_checkbox_offsets %}{{ offset|slice:"7:14" }}{{ offset|slice:"4:7" }}{{ offset|slice:"14:16" }} {% endfor %}{{ field_class }}">
        {% endif %}
    {% endif %}
{#<{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" class="{% if not field|is_checkbox %}mb-3{% if 'form-horizontal' in form_class %} row{% endif %}{% else %}switchToggle{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">#}
<{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" class="mb-3 form-group {% if 'form-horizontal' in form_class and not  field|is_checkbox %} row{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}{% if field|is_checkbox %} switchToggle {% endif %}">

    {% if field.label and not field|is_checkbox and form_show_labels %}
        <label {% if field.id_for_label %}for="{{ field.id_for_label }}"{% endif %} class="{% if 'form-horizontal' in form_class %}col-form-label{% else %}form-label{% endif %}{% if label_class %} {{ label_class }}{% endif %}{% if field.field.required %} requiredField{% endif %}">
            {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
        </label>
    {% endif %}

    {% if field|is_checkboxselectmultiple %}
        {% include 'bootstrap5/layout/checkboxselectmultiple.html' %}
    {% endif %}

    {% if field|is_radioselect %}
        {% include 'bootstrap5/layout/radioselect.html' %}
    {% endif %}

    {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
        {% if field|is_checkbox and form_show_labels %}
            {% if field.errors %}
                {% crispy_field field 'class' 'form-check-input is-invalid' %}
            {% else %}
                {% crispy_field field 'class' 'form-check-input' %}
            {% endif %}
            <div class="span"></div>
            <label for="{{ field.id_for_label }}" class="form-check-label{% if field.field.required %} requiredField{% endif %}"><span>
                {{ field.label|safe }}{% if field.field.required %}</span><span class="asteriskField">*</span>{% endif %}
            </label>
            {% include 'bootstrap5/layout/help_text_and_errors.html' %}
        {% else %}
            {% if field_class %}<div class="{{ field_class }}">{% endif %}
        {% if field|is_file and field|is_clearable_file %}
            {# clearable files are more complex, potentially need a checkbox -- let Django render these for now #}
            {% crispy_field field %}
        {% elif field|is_select %}
            {% if field.errors %}
                {% crispy_field field 'class' 'form-select is-invalid' %}
            {% else %}
                {% crispy_field field 'class' 'form-select' %}
            {% endif %}
        {% elif field.errors %}
            {% crispy_field field 'class' 'form-control is-invalid' %}
        {% else %}
            {% crispy_field field 'class' 'form-control' %}
        {% endif %}
        {% include 'bootstrap5/layout/help_text_and_errors.html' %}
        {% if field_class %}</div>{% endif %}
        {% endif %}
    {% endif %}
</{% if tag %}{{ tag }}{% else %}div{% endif %}>
{% if field|is_checkbox %}
    {% if label_class %}
        </div>
    {% endif %}
    </div>
{% endif %}
{% endif %}