{% extends "base.html" %}

{% load static i18n %}

{% block head_title %}Calendrier{% endblock %}

{% block custom_head %}
    <link href='{% static 'libs/fullcalendar/main.css' %}' rel='stylesheet'/>
    <script src='{% static 'libs/fullcalendar/main.js' %}'></script>
    <script src='{% static 'libs/fullcalendar/fr.js' %}'></script>

{% endblock %}

{% block page_title %}
    {% if dep_actuel %}
        <h1>Manifestations sportives à venir dans le département {{ dep_actuel }}</h1>
    {% else %}
        <h1>Veuillez choisir votre département :</h1>
    {% endif %}
{% endblock %}

{% block content %}
    {% if dep_actuel is None %}
        <div class="container d-flex justify-content-center">
            <div id="carte-fr" style="height: 35vw; width: 35vw;" ></div>
        </div>

    {% else %}
        <div class="d-flex flex-wrap mt-0 mb-4">
            <div class="d-flex flex-column ms-auto ms-md-0" id="choix-activite">
                <label for="activite">Activité :</label>
                <select class="form-control" id="activite" name="activite">
                    <option value=""> Toutes </option>
                    {% for activite in activities %}
                        {% if activite.pk == current_activite  %}
                            <option selected value="{{ activite.pk }}">{{ activite }}</option>>
                        {% else %}
                            <option value="{{ activite.pk }}">{{ activite }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-column ms-auto"  id="choix-departement">
                <label for="departement">Département :</label>
                <select class="form-control" id="departement" name="departement">
                    {% for departement in dep %}
                        {% if departement == dep_actuel %}
                            <option value="{{ departement.pk }}" selected>{{ departement }}</option>
                        {% else %}
                            <option value="{{ departement.pk }}">{{ departement }}</option>
                        {% endif %}

                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-column ms-auto"  id="choix-commune">
                <label for="commune">Commune :</label>
                <select class="form-control" id="commune" name="commune">
                    <option value="0"> Toutes </option>
                    {% for com in comm %}
                        {% if com.pk == com_actuel %}
                            <option value="{{ com.pk }}" selected>{{ com }}</option>
                        {% else %}
                            <option value="{{ com.pk }}">{{ com }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex flex-column ms-auto" id="choix-date">
                <label for="date">Date :</label>
                {% for field in form %}
                    {{ field }}
                {% endfor %}
                {{ form.media }}
            </div>
        </div>
        <div id='calendar'></div>
        <div class="mt-3"><small>Ce calendrier affiche toutes les manifestations sportives dont le dossier a été déposé par l'organisateur auprès du service instructeur par l'intermédiaire de cette plateforme.<br>
            Les manifestations affichées peuvent être en cours d'instruction.<br>
            Les manifestations interdites ou annulées ne sont pas affichées.
        </small></div>
    {% endif %}
{% endblock %}

{% block extra_js %}

    <script>
        {% if dep_actuel is not None %}
            let events = [];
            function getRandomColor() {
                let colors = [
                    '#89949C','#495057','#015a70','#004570','#99A300','#0078B4',
                    '#00355D', '#6c757d','#a0acb4','#a4874d','#33687D','#A4874D'
                ];
                return colors[Math.floor(Math.random() * 12)];
            }

            {% for manif in object_list %}
                var color = getRandomColor();
                var event = {
                    title: "{{ manif.nom|safe|capfirst|escapejs }}",
                    departure: "{{ manif.ville_depart.name }}",
                    start: "{{ manif.date_debut|date:'c' }}",
                    end: "{{ manif.date_fin|date:'c' }}",
                    url: "/evenement/" + {{ manif.id }} + "/",
                    activite: "{{ manif.activite }}",
                    dep: "{{ manif.ville_depart.get_departement.name }}",
                    backgroundColor: color,
                    borderColor: color,
                    icone_dossier: '<i class="dossier"></i>',
                    icone_depart: '<i class="ville"></i>',
                    icone_activite: '<i class="activite"></i>',
                    icone_instruction: '',
                    {% if not request.user.is_anonymous %}
                        icone_dossier: '<i class="dossier" data-titre="Pas d\'instruction pour cet événement"></i>',
                        {% if manif.get_instruction.etat == 'autorisée' %}
                            icone_instruction: '<i class="autorisee"></i>',
                        {% elif manif.get_instruction.etat == 'demandée' %}
                            icone_instruction: '<i class="demandee"></i>',
                        {% elif manif.get_instruction.etat == 'distribuée' %}
                            icone_instruction: '<i class="distribuee" data-titre="Instruction en cours par les services"></i>',
                        {% endif %}
                    {% endif %}
                };
                events.push(event);
            {% endfor %}

            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    events: events,
                    weekends: true,
                    weekNumbers: false,
                    navLinks: true,
                    eventDisplay: 'block',
                    views: {
                        dayGrid : {
                            dayMaxEventRows : 3,
                            displayEventTime: false,
                        },
                        timeGrid : {
                            slotMinTime : "06:00:00",
                            slotMaxTime: "20:00:00",
                            displayEventTime: true,
                            timeGridEventMinHeight: 50,
                        },
                    },
                    eventLimitText: 'cliquez pour voir',
                    columnHeaderFormat: { weekday: 'long' },
                    locale: 'fr',
                    headerToolbar: {
                        left: 'today prev,next',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay listMonth'
                    },
                    buttonText: {
                        listMonth: 'Liste mensuelle',
                    },
                    height: 'auto',
                    titleFormat: { year: 'numeric', month: 'long', day: 'numeric' },

                    eventContent: function(info) {
                        let html;
                        if (info.event.extendedProps.icone_instruction){
                            html = '<div>' + info.event.extendedProps.icone_instruction;
                        }
                        else {
                            html = '<div>' + info.event.extendedProps.icone_dossier;
                        }
                        html += info.event._def.title + '<br>' +
                            info.event.extendedProps.icone_depart {% if not dep_actuel or dep_actuel == "0"  %} +
                                info.event.extendedProps.dep+" "{% endif %} + info.event.extendedProps.departure {% if not current_activite %} +
                                '<br>'+info.event.extendedProps.icone_activite+info.event.extendedProps.activite{% endif %}+'</div>';
                        return {html: html};
                    },
                    eventDidMount: function(){
                        AfficherIcones();
                    }
                });
                calendar.render();

                $('input[name="date"]').on('dp.change', function (e) {
                    let date = e.date.format("YYYY-MM-DD");
                    calendar.changeView('timeGridDay', date);
                });

                $('#activite').on('change', function () {
                    let pk = $('#activite').val();
                    if(pk !== '') {
                        if (window.location.search){
                            window.location.assign("/calendar/" + pk + "/"+window.location.search);
                        }
                        else{
                            window.location.assign("/calendar/" + pk + "/");
                        }

                    } else {
                        if (window.location.search){
                            window.location.assign("/calendar/"+window.location.search);
                        }
                        else {
                            window.location.assign("/calendar/");
                        }

                    }
                });

                $('#departement').on('change', function () {
                    let pk = $(this).val();
                    let actual = window.location.origin+window.location.pathname;
                    window.location.assign(actual+'?dep='+pk);
                });

                $('#commune').on('change', function () {
                    let pk = $(this).val();
                    let pk_dep = $('#departement').val();
                    let actual = window.location.origin+window.location.pathname;
                    if (pk != '0') {
                        window.location.assign(actual + '?dep=' + pk_dep + '&com=' + pk);
                    } else {
                        window.location.assign(actual + '?dep=' + pk_dep);
                    }
                });

                // Adapter la forme du select_chosen à celle du boostrap_datepicker
                $('.chosen-single').css('height', '38px').css('line-height', '38px');
                $('.chosen-single div').css('top', '5px')});

        {% else %}
            try {
                map = new jvm.Map({
                    container: $('#carte-fr'),
                    map: 'fr_merc',
                    backgroundColor: '#015a70',
                    regionsSelectable: true,
                    regionStyle: {

                        hover: {
                            fill: '#9aa400'
                        },
                        selected: {
                            fill: '#9aa400'
                        },
                    },
                    onRegionClick: function (e, code) {
                        let departement = code.substring(3)

                        console.log(departement)

                        $.get("{% url 'portail:calendar_ajax' %}?dep=" + departement, function (reponse) {
                            if (reponse['pk'] !== 0 && reponse['pk'] !== undefined) {
                                window.location.href = "{% url 'portail:calendar' %}?dep=" + reponse['pk']
                            } else {
                                var departement = map.mapData.paths[code].name;
                                var myModal = new bootstrap.Modal(document.getElementById('myModal'), {
                                    keyboard: false
                                })
                                $('#myModal .modal-header').text(departement);
                                $('#myModal .modal-body').html("Le calendrier ne peut être affiché car ce département ne propose pas la dématérialisation des demandes sur cette plateforme.<br>" +
                                    "Nous vous invitons à vous inscrire pour nous permettre de vous tenir informé dès que la situation évolue...");
                                myModal.show();
                            }
                        })
                    }
                });
                if (dep_number != "NATIONALE") {
                    map.setSelectedRegions("FR-" + dep_number);
                }

            } catch (e) {

            }
        {% endif %}
    </script>
{% endblock %}
