{% extends "base.html" %}

{% load static %}
{% load i18n humanize %}


{% block head_title %} Manifestations Sportives | Plateforme {{ INSTANCE.get_departement_friendly_name }}
{% endblock %}

{% block custom_head %}
    <link href="{% static 'portail/css/index.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
    {% block content %}
        {# Le commentaire HTML ci-dessous doit être conservé !! #}
        <!-- Sous-domaine {{ INSTANCE.name }} -->

        <!-- bof contenu -->
        <div class='container'>

            <div class="row" style="background-color: #015A70;">
                <h1 class="cadre-blanc background-contrast text-center mt-3 h1_stat">- Déclaration et demande d'autorisation de manifestations sportives -
                    <div style="font-size: 18px; letter-spacing: 0;">
                        Plateforme simplifiant les démarches entre les organisateurs d'événements sportifs, l'État et l'ensemble des services consultés pour avis.
                    </div>
                </h1>

                <div class="col-md-12 div_stat_accueil  background-contrast d-flex justify-content-around" data-bs-toggle="tooltip" title="Chiffres calculés sur les 12 derniers mois" data-bs-placement="right">
                    <div class="stat">
                        <i class="feuille ico_double"></i><br>
                        <span class="stat_result" data-end="{{ C.stat_cache_nb_feuille_eco }}" data-start="{% widthratio C.stat_cache_nb_feuille_eco 3 1 %}"></span>
                        <br><span class="mt-5">feuilles A4 économisées</span></div>
                    <div class="stat">
                        <i class="far fa-folder ico_double"></i><br>
                        <span class="stat_result" data-end="{{ C.stat_cache_nb_instruction }}" data-start="{% widthratio C.stat_cache_nb_instruction 3 1 %}"></span>
                        <br>instructions de dossiers</div>
                    <div class="stat">
                        <i class="far fa-user-ninja ico_double"></i><br>
                        <span class="stat_result" data-end="{{ C.stat_cache_nb_participant }}" data-start="{% widthratio C.stat_cache_nb_participant 3 1  %}"></span>
                        <br>participants</div>
                    <div class="stat">
                        <i class="carto ico_double"></i><br>
                        <span class="stat_result" data-end="{{ C.stat_cache_nb_km_parcouru }}" data-start="{% widthratio C.stat_cache_nb_km_parcouru 3 1 %}"></span>
                        <br>km de parcours</div>
                    <style>
                        .stat{
                            padding: 0.2em;
                            font-size: 21px;
                            text-align: center;
                            line-height: 2.5rem;
                        }
                        .h1_stat{
                            font-size: 1.5rem;
                            border: none;
                            line-height: 2.5rem;
                        }
                        .div_stat_accueil{
                            border-bottom: #857865 1px solid;
                            padding-bottom: 2rem;
                        }
                    </style>
                </div>

                <!-- bof 1e colonne -->
                <div class="col-md-4 background-contrast">

                    <div id="carte-fr"></div>

                    <script type="text/javascript">
                        var instances = {};
                        {% for instance in INSTANCES %}
                            // Todo : la ligne suivante est désactivée car request.META.SERVER_NAME renvoie l'ip du serveur applicatif à la place du nom de domaine
                            // instances["FR-{{ instance.get_departement.name }}"] = "{{ request.is_secure|yesno:"https,http" }}://{{ instance.get_departement.name }}.{{ request.META.SERVER_NAME }}:{{ request.META.SERVER_PORT }}";
                            instances["FR-{{ instance.get_departement.name }}"] = "http://{{ instance.get_departement.name }}.manifestationsportive.fr";
                            instances["FR-{{ instance.get_departement.name }}-etat"] = "{{ instance.etat_s }}"
                        {% endfor %}
                    </script>

                </div>
                <!-- eof 1e colonne -->

                <!-- bof 2e colonne -->
                <div class="col-md-8">

                    <!-- bof ligne de boutons dynamiques -->
                    <div class="row mt-5 pt-5">
                        <div class="col-lg button-home position-relative">
                            {% if not IS_MASTER %}
                                <a href="{% url 'portail:calendar' %}" class="btn btn-block" role="button">
                                    <i class="date"></i>
                                    <h2 class="text-center h2-home">Calendrier</h2>
                                    <span class="">Les manifestations sportives sur le département<br>
                                    {% if INSTANCE.departement %}{{ INSTANCE.departement }}{% endif %}
                                    </span>
                                </a>
                            {%  else %}
                                <a href="{% url 'portail:calendar' %}?dep=master" class="btn btn-block" role="button">
                                    <i class="date"></i>
                                    <h2 class="text-center h2-home">Calendrier</h2>
                                    <span class="">Les manifestations sportives dans chaque département</span>
                                </a>
                            {% endif %}
                        </div>
                        {% if not user.is_authenticated %}
                            <div class="col-lg  button-home position-relative">
                                <a href="{% url 'inscription_organisateur' %}" class="btn btn-block" role="button">
                                    <i class="sincrire"></i>
                                    <h2 class="text-center h2-home">Inscription</h2>
                                    <span class="">Organisateurs d'évenements sportifs, inscrivez-vous !</span>
                                </a>
                            </div>
                        {% endif %}
                        <div class="col-lg button-home position-relative">
                            <a href="{% url "aide:page-aide" path="sommaire" %}" class="btn btn-block" role="button">
                                <i class="aide"></i>
                                <h2 class="text-center h2-home">Aide & infos</h2>
                                <span class="text-center">Espace dédié aux organisateurs, fédérations et services instructeurs</span>
                            </a>
                        </div>
                    </div>
                    <!-- bof ligne de boutons dynamiques -->

                    <!-- bof ligne de titre -->
                    <div class="row mt-5">

                        <div class="col-md-12 d-none d-md-block">
                            <div class="cadre-blanc cadre-rf p-3 text-center">
                                <img alt="Logo République Française" style="height: 60px" class="me-1"
                                     src="{% static 'portail/img/logo_ministre_des_sports.png' %}">
                                <img alt="Financé par l'union européenne" style="height: 50px"
                                     src="{% static 'portail/img/finance_par_union_europeenne.png' %}">
                                <img alt="Logo France Relance" style="height: 60px" class="my-2"
                                     src="{% static 'portail/img/Logo_France_Relance.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <!-- eof ligne de titre -->

                </div>
                <!-- bof 2e colonne -->

            </div>
        </div>
        <!-- bof contenu -->


        <script src="{% static 'portail/js/homepage.js' %}" type="text/javascript"></script>

    {% endblock %}
{% endblock %}
