{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% block head_title %}
    Tentatives de connexion excédées
{% endblock %}

{% block content %}
    <div id="page-header" class="mt-0">
        <h1>Tentatives de connexion excédées</h1>
    </div>
    <p>Vous avez dépassé le nombre de {{ failure_limit }} tentatives autorisées. Veuillez réessayer dans 10mn.</p>
{% endblock %}