{% extends "sub_agreements/preavis_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' %}
        <a href="{% url 'sub_agreements:edsr_subagreement_acknowledge' pk=object.id %}" class="btn" role="button">
            <i class="preavis"></i> Rendre le pré-avis
        </a>
    {% endif %}
{% endblock %}
