{% extends "sub_agreements/preavis_form.html" %}

{% load i18n %}

{% block head_title %}Choisissez les brigades concernées{% endblock %}
{% block page_title %}
    <h1><i class="envoyer"></i> Choisissez les brigades concernées : {{ object.avis.authorization.manifestation|capfirst }}</h1>
{% endblock %}
