{% extends "base.html" %}

{# load url from future #}
{% load i18n %}

{% block head_title %}
    Tableau de bord
{% endblock %}

{% block page_title %}
    <h1><i class="tableau-de-bord"></i> Tableau de bord des archives<a href="{% url 'agreements:dashboard' %}">
        <span class="float-right badge badge-primary">&nbsp;<i class="retour"></i></span></a></h1>
{% endblock %}

{% block content %}
        <div class="col-sm-6">
            <h3><i class="avis"></i> Avis demandés</h3>
            <div class="card ">
                <div class="list-group">
                    {% for avis in object_list %}
                        <a class="list-group-item list-group-item-action
                            {% if avis.state == 'acknowledged' %}
                                list-group-item-success
                            {% elif avis.state == 'dispatched' %}
                                list-group-item-warning
                            {% elif avis.state == 'formatted' %}
                                list-group-item-warning
                            {% elif avis.state == 'created' %}
                                {% if request.user.agent.ggdagent and avis.concerned_edsr %}
                                    list-group-item-warning
                                {% else %}
                                    list-group-item-danger
                                {% endif %}
                            {% endif %}
                            "
                        {% block agreement_item %}{% endblock %}>
                        {{ avis.authorization.manifestation.begin_date|date:"d/m/Y" }} : {{ avis.authorization.manifestation }}
                        {% if avis.get_days_left_before_deadline.days > 0 and not avis.state == 'acknowledged' %}
                            <span class="badge badge-secondary float-right">Délai : {{ avis.get_days_left_before_deadline.days }} jours</span>
                        {% endif %}
                        {% if avis.get_pending_preavis_count > 0 %}
                            <span class="badge badge-secondary float-right">{{ avis.get_pending_preavis_count }} préavis manquants</span>
                        {% endif %}
                        </a>
                    {% empty %}
                        <a class="list-group-item disabled">Aucun avis à gérer</a>
                    {% endfor %}
                </div>
            </div>

        </div>
{% endblock %}
