{% extends "base.html" %}
{% load i18n %}

{% block title %}Mauvaise requête{% endblock %}

{% block content %}

    <h2>Mauvaise requête !</h2>

    <div class="jumbotron">
        <h1 class="display-4">Oups, c'est plutôt embêtant !</h1>
        <p class="lead">τὰ ἱεργαγλυφικά ταer ράμμ hiká ?</p>
        <hr class="my-4">
        <p>Je n'ai pas compris votre demande mais je l'ai envoyée par email à l'équipe technique afin de m'aider.</p>
        <p>({{ message }})</p>
        <a class="btn btn-primary btn-lg" href="{% url 'portail:home_page' %}" role="button">Retour à l'accueil...</a>
    </div>

{% endblock %}
