{% extends "base.html" %}
{% load i18n %}

{% block title %}Page introuvable{% endblock %}

{% block content %}

    <h2>Page introuvable</h2>

    <div class="jumbotron">
        <h1 class="display-4">Voie sans issue !</h1>
        <p class="lead">La page demandée n'existe pas.</p>
        <hr class="my-4">
        <p>Soit le lien que vous avez utilisé est erroné, soit la page a changé d'adresse....</p>
        <p>({{ message }})</p>
        <a class="btn btn-primary btn-lg" href="{% url 'portail:home_page' %}" role="button">Retour à l'accueil...</a>
    </div>

{% endblock %}
