{% comment %}
    Ce template centralise l'affichage des icônes liées au délai d'un dossier.
    À utiliser ainsi :
             {% with object.manif as manif %}
                 {% include 'evenements/pictos/delai.html' %}
             {% endwith %}
{% endcomment %}


{% load i18n verbose_tags %}

{% if manif %}
    {% if manif.get_cerfa.delai_cours == '0' %}<i class="delai-6-0j"></i>
    {% elif manif.get_cerfa.delai_cours == '6' %}<i class="delai-21-6j"></i>
    {% elif manif.get_cerfa.delai_cours == '90-21' %}<i class="delai-90-21j"></i>
    {% elif manif.get_cerfa.delai_cours == '60-21' %}<i class="delai-60-21j"></i>
    {% elif manif.get_cerfa.delai_cours == '30-21' %}<i class="delai-30-21j"></i>
    {% elif manif.get_cerfa.delai_cours == '30' %}<i class="delai-30j"></i>
    {% elif manif.get_cerfa.delai_cours == '60' %}<i class="delai-60j"></i>
    {% elif manif.get_cerfa.delai_cours == '90' %}<i class="delai-90j"></i>
    {% else %}<i class="delai-6-0j"></i>{% endif %}
{% endif %}