{% comment %}
    Ce template centralise l'affichage des icônes liées à l'état d'un dossier.
    À utiliser ainsi :
             {% with object.manif as manif %}
                 {% include 'evenements/pictos/etat.html' %}
             {% endwith %}
{% endcomment %}


{% load i18n verbose_tags instruction_tags %}

{% with instruction=manif|get_instruction:request %}
{% if user_is_instructeur %}

        {% if instruction.etat == 'demandée' and not instruction.referent %}<i class="demandee fa-lg ico_double"></i>{% endif %}
        {% if instruction.etat == 'demandée' and  instruction.referent %}<i class="demarree fa-lg ico_double"></i>{% endif %}
        {% if instruction.etat == 'distribuée' %}<i class="distribuee fa-lg ico_double"></i>{% endif %}
        {% if instruction.etat == 'autorisée' %}<i class="autorisee fa-lg ico_double"></i>{% endif %}
        {% if instruction.etat == 'interdite' %}<i class="interdite fa-lg ico_double"></i>{% endif %}
        {% if instruction.etat == 'annulée' %}<i class="annulee fa-lg ico_double"></i>{% endif %}
        {% if not instruction.etat == 'demandée' %}
            {% if not instruction.avis_tous_rendus %}
                <br>
                <span class="badge bg-secondary">{{ instruction.get_nb_avis_non_rendus }}&nbsp; avis manquants</span>
            {% endif %}
        {% endif %}

{% elif service.is_service_consulte or service.is_federation %}
    {% with avis=instruction|avis:service %}
        {% if instruction.etat != 'interdite' and instruction.etat != 'annulée' %}
            {% if avis.get_etat == 'rendu' and avis.get_last_avis.favorable %}
                <i class="ok-avis ico_double" data-titre="Avis favorable rendu"
                   data-selection="Avis favorable"></i>{% endif %}
            {% if avis.get_etat == 'rendu' and not avis.get_last_avis.favorable %}
                <i class="pas-ok-avis ico_double" data-titre="Avis défavorable rendu"
                   data-selection="Avis défavorable"></i>{% endif %}
            {% if avis.get_etat == 'transmis' %}<i class="envoyer ico_double" data-titre="Avis transmis à l'EDSR"
                                               data-selection="Avis transmis"></i>{% endif %}
            {% if avis.get_etat == 'formaté' %}
                <i class="editer ico_double" data-titre="Avis soumis" data-selection="Avis soumis"></i>
            {% endif %}
            {% if avis.get_etat == 'distribué' %}
                <i class="distribuee ico_double" data-titre="Demandes de préavis envoyées"
                   data-selection="Avis distribué"></i>{% endif %}
            {% if avis.get_etat == 'demandé' and not avis.agent %}
                <i class="demandee ico_double" data-titre="Avis demandé par l'instructeur"
                   data-selection="Avis demandé"></i>{% endif %}
            {% if avis.agent %}
                {% if avis.get_etat == 'demandé' or avis.get_etat == 'brouillon' %}
                    <i class="demarree ico_double" data-titre="Avis demandé par l'instructeur"
                       data-selection="Avis demandé"></i>{% endif %}
            {% endif %}
            {% if avis.get_last_avis.get_jours_restants_avant_limite.days > 0 and not avis.get_last_avis.etat == 'rendu' %}
                <br>
                <span class="badge bg-secondary">Délai : {{ avis.get_last_avis.get_jours_restants_avant_limite.days }} jours</span>
            {% endif %}
            {% if avis.get_last_avis.get_nb_preavis_a_rendre  %}
                <br>
                <span class="badge bg-secondary">{{ avis.get_last_avis.get_nb_preavis_a_rendre }} préavis manquants</span>
            {% endif %}
        {% elif instruction.etat == 'interdite' %}
            <i class="interdite ico_double" data-titre="Manifestation interdite" data-selection="Manifestation interdite"></i>
        {% else %}
            <i class="annulee ico_double" data-titre="Manifestation annulée" data-selection="Manifestation annulée"></i>
        {% endif %}
    {% endwith %}
{% elif service.is_structure_organisatrice %}
        {% if not instruction %}<i class="en-edition fa-lg text-warning ico_double"></i>{% endif %}
        {% if instruction.manif.get_etat == 'demandée' %}<i class="demandee fa-lg text-info ico_double"></i>{% endif %}
        {% if instruction.manif.get_etat  == 'distribuée' %}<i class="distribuee fa-lg ico_double"></i>{% endif %}
        {% if instruction.manif.get_etat  == 'autorisée' %}<i class="autorisee fa-lg ico_double"></i>{% endif %}
         {% if instruction.manif.get_etat  == 'multiple' %}<i class="multiple fa-lg ico_double"></i>{% endif %}
        {% if instruction.manif.get_etat  == 'interdite' %}<i class="interdite fa-lg ico_double"></i>{% endif %}
        {% if instruction.manif.get_etat  == 'annulée' %}<i class="annulee fa-lg ico_double"></i>{% endif %}
{% else %}
        {% if not instruction %}<i class="en-edition fa-lg ico_double"></i>{% endif %}
        {% if instruction.etat == 'demandée' %}<i class="demandee fa-lg ico_double"></i>{% endif %}
        {% if instruction.etat == 'distribuée' %}<i class="distribuee fa-lg ico_double"></i>{% endif %}
        {% if instruction.etat == 'autorisée' %}<i class="autorisee fa-lg ico_double"></i>{% endif %}
        {% if instruction.etat == 'interdite' %}<i class="interdite fa-lg ico_double"></i>{% endif %}
        {% if instruction.etat == 'annulée' %}<i class="annulee fa-lg ico_double"></i>{% endif %}
{% endif %}

{% endwith %}
