{% load i18n %}
{% if object.afficher_panneau_eval_rnr %}
    <div class="card-header">
        <i class="feuille"></i>
        <a href="{% url 'evaluation_incidence:rnreval_add' manif_pk=object.id %}" role="button">
            Effectuer une évaluation RNR
        </a>
    </div>
    <div class="card-body pt-2">
        <div class="alert alert-warning mb-0">
            <strong>Attention ! </strong> Avant de remplir ce formulaire, vous DEVEZ contacter l'administrateur de la
                zone RNR concernée :
            <a href="{% url 'evaluation_incidence:rnr_liste' dept=object.ville_depart.get_departement.name %}"
               target="_blank">
                <i class="feuille"></i>Liste des zones RNR et de leurs administrateurs
            </a>
        </div>
    </div>
{% endif %}

{% if object.afficher_panneau_eval_n2000 %}
    <div class="card-header">
        <i class="feuille"></i>
        <a href="{% url 'evaluation_incidence:n2keval_add' manif_pk=object.id %}" role="button">
            Effectuer une évaluation Natura2000
        </a>
    </div>
    <div class="card-body pt-2">
        Critères déclencheurs :<ul><li>{{ cause }}</li></ul>
        <div class="alert alert-warning mb-0">
            <strong>Attention ! </strong> Avant de remplir ce formulaire, vous DEVEZ contacter l'opérateur du ou des
                sites Natura2000 concernés :
            <a href="{% url 'evaluation_incidence:siten2k_liste' dept=object.ville_depart.get_departement.name %}"
               target="_blank"><i class="feuille"></i>Liste des opérateurs de sites Natura2000
            </a>
        </div>
    </div>
{% endif %}

{% if object.n2kevaluation and not object.n2kevaluation.date_soumission and object.n2kevaluation.formulaire_n2k_complet and object.get_instruction %}
    <div class="card-header">
        <i class="feuille"></i>
        <a href="#" role="button" class="valider_n2keval">
            Valider et envoyer votre évaluation Natura2000
        </a>
    </div>
    <span style="display: none" id="span_valider_n2keval">
       <span class="d-flex justify-content-center mt-1 mb-2">
           <span id="n2keval_{{ object.n2kevaluation.id }}" style="width: 70px; height: 30px; line-height: 1;"
                 class="btn btn-success me-5 d-flex justify-content-center valider_n2keval_link">
                <i style="color: white" class="fas fa-check p-0 m-0" aria-hidden="true"></i>
           </span>
           <span id="dismis_valider_n2keval_link" style="width: 70px; height: 30px; line-height: 1;"
                 class="btn btn-danger d-flex justify-content-center">
                <i style="color: white" class="fas fa-times p-0 m-0" aria-hidden="true"></i>
           </span>
       </span>
    </span>
{% endif %}
