{% load static i18n l10n LastMsg %}

<div class="card card-primary">
    <div class="card-header">
        <h2><i class="dossier"></i> Mes manifestations   <i class="ctx-help-mes_manifestations"></i>
            <input class="form-control float-end w-25" id="search" placeholder="Rechercher"></h2>
    </div>
    <table id="manif-table" class="">
        <thead>
        <tr>
            <th>Formulaire</th>
            <th>Date de début</th>
            <th>Nom</th>
            <th>Départ de</th>
            <th>Délai</th>
            <th>État</th>
            <th>Complétude</th>
            <th>Dernière action</th>
        </tr>
        </thead>
        <tbody>
        {% for manif in manifs %}
            {# onclick dans le <tr> ne marche pas avec bootstrap-table, voir script main. On passe l'url avec data-href #}
            <tr class="{% if manif.get_cerfa.get_instruction %}
                                {% if manif.get_etat == 'interdite' %}
                                    table_interdite
                                {% elif manif.get_etat == 'autorisée' %}
                                    table_autorise
                                {% elif manif.get_etat == 'annulée' %}
                                    table_termine
                                {% elif manif.get_etat == 'multiple' %}
                                    table_afaire
                                {% else %}
                                    table_encours
                                {% endif %}
                            {% else %}
                                table_afaire
                            {% endif %} clickligne"
                data-href='{% if consult %}{{ manif.href }}{% else %}{{ manif.get_cerfa.get_absolute_url }}{% endif %}'>
                <td>{% include 'evenements/pictos/type_evenement.html' %}</td>
                <td ><span hidden>{{ manif.date_debut|date:"Y/m/d" }}</span>{{ manif.date_debut| date:"d/m/Y" }}</td>
                <td>
                    {{ manif.nom }}
                    {% if manif.a_modifier %}
                        <i class="editer fa-lg ms-2" data-titre="Modifications demandées : <br> {{ manif.a_modifier_verbal }}" data-selection="Modification {{ manif.a_modifier }}"></i>
                    {% endif %}
                </td>
                <td>{{ manif.ville_depart }}
                    {% if manif.instance_instruites.all.count > 1 %}
                        <i class="interdep float-end"></i>
                    {% endif %}</td>
                <td>{% if manif.get_type_manif %}
                    {% include 'evenements/pictos/delai.html' %}
                {% endif %}
                </td>
                <td class="text-center">
                    {% include 'evenements/pictos/etat.html' %}
                </td>
                <td>{% if manif.get_type_manif %}
                    {% if manif.get_cerfa.dossier_complet %}
                        {% if manif.get_instruction.doc_verif %}
                            <i class="dossier-complet-verifie" data-nb_jour='{{ manif.get_cerfa.delai_en_cours }}'></i>
                        {% else %}
                            <i class="dossier-complet-non-verifie" data-nb_jour='{{ manif.get_cerfa.delai_en_cours }}'></i>
                        {% endif %}
                    {% else %}
                        <i class="dossier-incomplet" data-nb_jour='{{ manif.get_cerfa.delai_en_cours }}'></i>
                    {% endif %}
                {% endif %}
                </td>
                {% if manif|LastMsg %}
                    <td>{{ manif|LastMsg|date:"d/m/Y H:i" }}</td>
                {% else %}
                    <td>Aucune action effectuée pour le moment</td>
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td></td>
                <td>Aucune manifestation déclarée pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>

    $('body').on('click', 'tr.clickligne', function (event) {
        // Prendre en compte l'execution des tests qui nécessite de ne pas ouvrir les dossiers dans un nouvel onglet
        if (! TESTS_IN_PROGRESS) {
            window.open($(this).data("href"), '_blank').focus();
        } else {
            window.location=$(this).data("href");
        }
    });

    $(document).ready(function () {
        $.fn.dataTable.moment( 'DD/MM/YYYY' );
        $.fn.dataTable.moment( 'DD/MM/YYYY HH:mm');
        $('#manif-table').DataTable({
            "paging": false,
            "info": false,
            order : [[1, "asc"]]
        });
        $('.dataTables_filter').hide();

        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#manif-table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>