{% extends "base.html" %}

{% load i18n static pluralizero %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/css/jquery.dataTables.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/datetime-moment.js' %}"></script>
{% endblock %}

{% block head_title %}
    Tableau de bord
{% endblock %}

{% block page_title %}
    <h1>
        {% if not archive %}
            <i class="tableau-de-bord left-margin"></i> Tableau de bord organisateur
            <a href="{% url 'evenements:tableau-de-bord-organisateur' pk=structure.pk %}?temporalite=archive">
                <span class="float-end btn btn-primary btn-sm attendre-archive ms-3"><i class="archive"></i>Archives</span></a>
        {% else %}
            <i class="tableau-de-bord"></i> Archives des manifestations
            <a href="{% url 'evenements:tableau-de-bord-organisateur' pk=structure.pk %}">
                <span class="float-end btn btn-primary btn-sm ms-3">&nbsp;<i class="retour"></i></span></a>
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    {% if structure %}
        <div class="row">
            {% if archive %}
                <p class="pt-0 pb-1">
                    Seléctionnez l'année à consulter :
                    <select id="annee" style="width: 80px;">
                        <option value="" disabled {% if not annee %} selected{% endif %}>-</option>
                        {% for year in liste_annee_archives %}
                            <option value="{{ year }}" {% if year == annee %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </p>
                <div id="block_tableaubord_liste" class="mt-3"></div>
            {% else %}
                <p>
                    <a href="{% url 'evenements:creation_evenement' %}" class="btn btn-primary" role="button">
                    <i class="ajouter"></i> Déclarer ou demander l'autorisation pour une nouvelle manifestation</a>
                </p>
            {% endif %}
            {% if not archive or annee %}
                {% if consultation %}
                    <ul class="nav nav-pills text-center mb-3" role="tablist" style="font-size: larger;">
                        <li class="nav-item w-50"><a class="nav-link active link_onglet btn_instruc" href="#block_tableaubord_body" data-bs-toggle="pill">
                            Mes dossiers ({{ nb_dossiers }})</a></li>
                        <li class="nav-item w-50"><a class="nav-link link_onglet btn_consult" href="#block_tableaubord_consult" data-bs-toggle="pill">
                            Autre dossier en lecture ({{ consultation }})</a></li>
                    </ul>
                {% endif %}
            {% endif %}

            {% if not archive or annee %}
                <div class="cadre">
                    <div id="block_tableaubord_consult" class="tab-pane fade"></div>
                    <div id="block_tableaubord_body" class="tab-pane fade show active">
                        <div class="row">
                            <div class="col-lg-4 text-center btn_etat_block">
                                <span class="d-block mb-3 table_afaire" style="font-size: larger; font-weight: bold;">à envoyer</span>
                                <div id="btn_etat_attente" class="btn btn-outline-warning btn_etat_1">
                                    <div class="btn_etat_icone"> <i class="editer jaune"></i></div>
                                    <div class="btn_etat_chiffre jaune test_nb_atraiter">{{ non_envoye }}</div>
                                    <div class="btn_etat_leg jaune"> brouillon{{ non_envoye| pluralizero }}</div>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center btn_etat_block">
                                <span class="d-block mb-3 table_encours" style="font-size: larger; font-weight: bold;">en cours</span>
                                <div id="btn_etat_demande" class="btn btn-outline-primary btn_etat_1">
                                    <div class="btn_etat_icone"> <i class="demandee bleu"></i></div>
                                    <div class="btn_etat_chiffre test_nb_encours">{{ en_cours }}</div>
                                    <div class="btn_etat_leg"> en cours d'instruction</div>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center">
                                <span class="d-block mb-3 table_termine" style="font-size: larger; font-weight: bold;">traités</span>
                                <div class="d-flex flex-column justify-content-between mx-auto btn_etat btn_etat_block">
                                    <div id="btn_etat_autorise" class="btn btn-outline-success btn_etat_2 mb-2">
                                        <div style="font-size: 40px;">
                                            <i class="autorisee"></i><span class="test_nb_auto">{{ autorise }}</span>
                                            <span style="font-size: 20px"> autorisée{{ autorise| pluralizero }}</span>
                                        </div>
                                    </div>
                                {% if multiple %}
                                    <div id="btn_etat_multiple" class="btn btn-outline-warning btn_etat_2  mb-2">
                                        <div style="font-size: 40px;" class="jaune">
                                            <i class="multiple"></i><span class="test_nb_inter">{{ multiple }}</span>
                                            <span style="font-size: 20px"> multiple</span>
                                        </div>
                                    </div>
                                {% endif %}
                                    <div id="btn_etat_interdite" class="btn btn-outline-danger btn_etat_2">
                                        <div style="font-size: 40px;">
                                            <i class="interdite"></i><span class="test_nb_inter">{{ interdite }}</span>
                                            <span style="font-size: 20px"> interdite{{ interdite| pluralizero }}</span>
                                        </div>
                                    </div>
                                {% if annule %}
                                    <div id="btn_etat_annule" class="btn btn-outline-secondary btn_etat_2 mt-2">
                                        <div style="font-size: 40px;">
                                            <i class="annulee"></i><span class="test_nb_annul">{{ annule }}</span>
                                            <span style="font-size: 20px"> annulée{{ annule| pluralizero }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                                </div>
                            </div>

                            <div id="block_tableaubord_liste" class="mt-3"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="well">
            <p>Dans un premier temps, veuillez renseigner les informations relatives à la structure organisatrice de la manifestation sportive</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'events:structure_add' %}" class="btn btn-primary" role="button">
                    Accéder au formulaire de renseignement sur la structure organisatrice
                </a>
            </div>
        </div>
    {% endif %}
    <script>
        const url_tableau_organisateur_liste = "{% url 'evenements:tableau_organisateur_liste' pk=structure.pk %}";
        const url_consultation_liste = "{% url 'evenements:consultation_manif' pk=request.user.pk %}";
        $(document).ready(function () {
            $.fn.dataTable.moment( 'DD/MM/YYYY' );
            $.fn.dataTable.moment( 'DD/MM/YYYY HH:mm');
            $('#manif-table').DataTable({
                "paging": false,
                "info": false,
            });
            $('.dataTables_filter').hide();

            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#manif-table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script src="{% static 'evenements/js/tableaudebord_orga.js' %}"></script>

    <style>
        .btn_etat_2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            height: 100%;
            border-width: 3px;
            background-color: white;
        }

        .btn_etat_1{
            height: 250px;
            width: 300px;
            border-width: 3px;
            background-color: white;
        }
        .btn_etat{
            height: 250px;
            width: 300px;
        }
        .btn_etat_block>.btn-outline-warning{
            color:black;
        }
        .btn_etat_block>.btn-outline-warning>.btn_etat_txt>.btn_etat_chiffre{
            color:#ffc107;
        }
        .btn_etat_block>.btn-outline-warning:hover{
            background-color: #ffeeba;
            color: inherit;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-primary:hover{
            background-color: #bee5eb;
            color: #007bff;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-success:hover{
            background-color: #c3e6cb;
            color: #28a745;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-danger:hover{
            background-color: #f5c6cb;
            color: #dc3545;
            cursor: pointer;
        }
        .btn_etat_block>.btn-outline-secondary:hover{
            background-color: #d6d8db;
            color: #6c757d;
            cursor: pointer;
        }
        .btn_etat_icone{
            font-size: 50px;
        }
        .bleu{
            color: #007bff !important;
        }
        .jaune{
            color: #ffc107 !important;
        }
        .btn_etat_chiffre{
            font-size: 80px;
        }
        .btn_etat_leg{
            font-size: 20px;
        }
    </style>
{% endblock %}
