{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% if manif %}
        Demande de complément d'information pour la manifestation "{{ manif }}"
    {% else %}
        Envoi de complément d'information pour la manifestation "{{ object.manif }}"
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if manif %}
        <h1>Demande de complément d'information pour la manifestation "{{ manif }}"</h1>
    {% else %}
        <h1>Envoi des documents suivants : <small>{{ object.information_requise }}</small></h1>
    {% endif %}
{% endblock %}
