{% load static clever_selects_extras file_tags thumbail_filter i18n %}
<h5>Liste des documents complémentaires demandés :</h5>

<form class="form-horizontal" id="form_doc_compl" action="{% url 'evenements:repondre_doc_complementaire' pk=pk %}"
      enctype="multipart/form-data" method="post">
    {{ forms.management_form }}
    {% csrf_token %}
    <ul class="list-group">
        {% for form in forms %}
            <li class="list-group-item" style="margin-bottom: 1em;">

                {% for field in form %}

                    {% if field.field.widget.input_type == textarea %}
                        Demande{% if form.instance.date_demande %}, le {{ form.instance.date_demande|date:"d/m/Y H:i" }}{% endif %} :
                        <blockquote>
                            {% if form.instance.document_attache %}<i class="ok "></i>
                            {% else %}<i class="action-requise "></i>{% endif %}
                            {{ field.value|linebreaksbr }}</blockquote>
                        <div style="display: none">{{ field }}</div>
                    {% elif field.field.widget.input_type == 'hidden' %}
                        {{ field }}
                    {% else %}
                        {% if form.instance.document_attache %}
                            Réponse{% if form.instance.date_demande %}, le {{ form.instance.date_depot|date:"d/m/Y H:i" }}{% endif %} :
                            <a href="{{ form.instance.document_attache.url }}">{{ form.instance.document_attache.name|basename }}</a>&nbsp;&nbsp;
                            <span data-toggle="tooltip" data-placement="auto" data-html="true" class="badge badge-info"
                                  title="<img src='{{ form.instance.document_attache|thumbnail }}'>"><i class="deplier no-right-margin text-white"></i>
                            </span>
                        {% else %}
                            <div>{{ field }}</div>
                        {% endif %}
                    {% endif %}

                {% endfor %}

            </li>
        {% endfor %}
    </ul>
    {% if not done %}
        <input type="submit" class="btn btn-primary" value="Enregistrer">
    {% endif %}
</form>

<script src="{% static 'portail/js/icone.js' %}" type="text/javascript"></script>
