{% extends "base.html" %}
{% load i18n %}

{% block head_title %}Erreur de l'exportation en pdf{% endblock %}
{% block page_title %}
    <h1>Erreur de l'exportation en pdf</h1>
{% endblock %}

{% block content %}
    <p>{{ message|safe }}</p>
    <p><a href="{% url "home_page" %}" class="btn btn-primary" role="button">Retour à la page d'accueil</a></p>
{% endblock %}
