{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}
    Suppression d'une manifestation
{% endblock %}

{% block page_title %}
    <h1>Suppression d'une manifestation</h1>
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        <p>Veuillez confirmer la suppression de la manifestation : <br>
            <strong><em>{{ object.nom }}</em></strong> prévue pour le {{ object.date_debut }} <br>
            Tous les pièces jointes seront également supprimés. Cette action est <u>irréversible</u> !
        </p>
        <input class="btn btn-primary" type="submit" value="Je confirme la suppression">
    </form>
{% endblock %}
