{% extends "base.html" %}
{% load static onglet_instruction %}

{% load i18n file_tags %}

{% block head_title %}
    {% if type == 'dnm' %}Manifestation sans Véhicules Terrestres à Moteur Soumise à Déclaration{% endif %}
    {% if type == 'dnmc' %}Manifestation de Cyclisme sans Véhicules Terrestres à Moteur Soumise à Déclaration{% endif %}
    {% if type == 'dcnm' %}Manifestation Compétitive sans Véhicules Terrestres à Moteur Soumise à Déclaration{% endif %}
    {% if type == 'dcnmc' %}Manifestation Compétitive de Cyclisme sans Véhicules Terrestres à Moteur Soumise à Déclaration{% endif %}
    {% if type == 'dvtm' %}Concentration de Véhicules Terrestres à Moteur{% endif %}
    {% if type == 'avtm' %}Manifestation Avec Véhicules Terrestres à Moteur{% endif %}
    {% if type == 'dvtmcir' %}Manifestation sur Circuit permanent{% endif %}
{% endblock %}

{% block resume %}
    {% include 'evenements/blocs/bandeau_resume.html' with manif=object %}
{% endblock %}

{% block fil_ariane %}
    <div class='page-header'>
        <p class="text-muted"> Ce fil d'Ariane représente l'avancement de votre dossier.</p>
        <ul class="breadcrumb">
            {% for breadcrumb, done, href in object.get_breadcrumbs %}
                {% if done %}
                    <li>
                        {% if "Natura 2000" in breadcrumb %}
                            {% if object.n2kevaluation and not object.n2kevaluation.conclusion_natura_2000 %}
                                <div class="btn btn-warning center" data-bs-toggle-quick="tooltip" data-bs-placement="bottom" title="Vous avez déclaré ne pas conclure à l'absence d'incidence significative, veuillez donc prendre contact avec la DDT de votre département ou la DREA L(région) pour prendre connaissance de la suite de la procédure. Cette démarche n'est pas bloquante pour l'envoi de votre dossier, mais elle sera demandée ultérieurement par le service instructeur. Merci de l'anticiper.
">&nbsp;{{ breadcrumb|capfirst|safe }}<br>
                                    <i class="action-requise-blanc"></i>
                                </div>
                            {%  else %}
                                <div class="btn btn-success center" >&nbsp;{{ breadcrumb|capfirst|safe }}<br>
                                    <span class="badge bg-light text-dark"><i class="ok-blanc no-right-margin"></i></span>
                                </div>
                            {% endif %}
                        {%  else %}
                            <div class="btn btn-success center" >&nbsp;{{ breadcrumb|capfirst|safe }}<br>
                                <span class="badge bg-light text-dark"><i class="ok-blanc no-right-margin"></i></span>
                                {% if "Envoi" in breadcrumb %}
                                    <small style="margin-left: 10px;">{{ object.get_instruction.date_creation|date:"d/m/Y" }}</small>
                                {% endif %}
                            </div>
                        {% endif %}
                    </li>
                {% else %}
                    {% if href %}
                        <a href="{{ href }}" {% if '#' in href %}data-trigger="tab"{% endif %}>
                    {% endif %}
                <li><div class="btn btn-danger center" >
                    {{ breadcrumb|capfirst|safe }}<br>
                    <i class="action-requise-blanc"></i>
                </div></li>
                {% if href %}</a>{% endif %}
                {% endif %}
                {% if not forloop.last %}
                    <li class="vertical-align me-0"><i class="suivant"></i></li>
                {% endif %}
            {% endfor %}
            {% if object.en_cours_instruction %}
                <li class="vertical-align me-0"><i class="suivant"></i></li>
                {% if object.get_docs_complementaires_manquants.exists %}
                    <a href="#pieceajoindre" data-trigger="tab">
                        <li><div class="btn btn-danger" >
                            <i class="info-compl"></i>Informations complémentaires<br>
                            <i class="action-requise-blanc"></i>
                        </div></li>
                    </a>
                    <li class="vertical-align me-0"><i class="suivant"></i></li>
                {% endif %}
                {% if object.get_instruction.etat == 'autorisée' %}
                    <li><div class="btn btn-success">
                        <i class="ok-blanc float-start"></i>&nbsp;Demande acceptée<br>
                        <span class="badge bg-light text-dark"><i class="ok-blanc no-right-margin"></i></span>
                    </div></li>
                {% elif object.get_instruction.etat == 'interdite' %}
                    <li><div class="btn btn-danger" >
                        <i class="pas-ok-blanc float-start"></i>&nbsp;Demande rejetée<br>
                        <i class="action-requise-blanc"></i>
                    </div></li>
                {% elif object.get_instruction.etat == 'annulée' %}
                    <li><div class="btn btn-danger" >
                        <i class="annulee float-start"></i>&nbsp;Demande annulée<br>
                        <i class="action-requise-blanc"></i>
                    </div></li>
                {% else %}
                    <li><div class="btn instruction  h-100 text-white" >
                        <i class="attente-blanc "></i>Instruction en cours <br/>
                        <div class="progress bg-white">
                            <div class="progress-bar bg-success" role="progressbar" style="width:{{ progres }}%; color: white;" aria-valuenow="{{ progres }}" aria-valuemin="0" aria-valuemax="100">&nbsp;{{ progres }}%</div>
                        </div></div></li>
                {% endif %}
                {% if object.get_instruction.documents.exists %}
                    <a href="#officialdata" data-trigger="tab" style="margin-left: auto; margin-right: 0">
                        <li><div class="btn btn-outline-secondary official bg-dark text-white">
                            Documents officiels publiés<br/><i class="{{ object.get_instruction.documents.last.get_nature_icon }}"></i> {{ object.get_instruction.documents.last.get_nature_nom }}
                        </div></li>
                    </a>
                {% endif %}
            {% endif %}
        </ul>
        {% if not object.get_instruction.id %}
            {% include 'evenements/blocs/bandeau_delai_manif.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="tab-list col-sm-12">
            <ul class="nav nav-pills" id="onglet" role="tablist">
                    {% if object|onglet_instruction:request and request.organisation.is_structure_organisatrice%}
                        <li class="nav-item"><button class="nav-link link_onglet" id="suivi_instru" data-bs-target="#suiviinstruction" data-bs-toggle="pill">
                            <i class="suivi"></i> Suivi de l'instruction</button></li>
                    {% endif %}
                <li class="nav-item"><button class="nav-link link_onglet active" data-bs-target="#event" data-bs-toggle="pill">
                    <i class="detail"></i> Détail de la manifestation</button></li>
                {% include 'evenements/panneaux/onglets.html' %}
            </ul>
        </div>
        <div class="col-sm-8" id="panneau_gauche">
            <div class="tab-content">
                {% include 'evenements/panneaux/organisateur.html' %}
            </div>
        </div>
        <div class="col-sm-4" id="panneau_droite">
        {% if consult %}
            {% include 'evenements/blocs/acces_lecture_seule.html' %}
        {% else %}
            <div class="card border-danger mb-3 side">
                <div class="card-header bg-danger text-white">
                    <i class="action-requise-blanc"></i>Actions requises
                </div>
                {% include 'evenements/side_bar/evaluations_environnementales.html' %}

                {% if modif %}
                    <ul class="list-group">
                        {% if "pièce jointe" in modif %}
                            <li class="list-group-item">
                                <a href="#pieceajoindre" data-trigger="tab"><i class="pj"></i>Modification de pièce jointe demandée</a>
                            </li>
                        {% endif %}
                        {% if "parcours" in modif %}
                            <li class="list-group-item">
                                <a href="#descriptioncarto" data-trigger="tab"><i class="carto"></i>Modification de parcours demandée</a>
                            </li>
                        {% endif %}
                        {% if "formulaire n2k" in modif %}
                            <li class="list-group-item">
                                <a href="#natura2000" data-trigger="tab"><i class="feuille"></i>Modification de l'évaluation Natura2000 demandée</a>
                            </li>
                        {% endif %}
                        {% if "formulaire rnr" in modif %}
                            <li class="list-group-item">
                                <a href="#rnr" data-trigger="tab"><i class="feuille"></i>Modification de l'évaluation rnr demandée</a>
                            </li>
                        {% endif %}
                        {% if "formulaire manifestation" in modif %}
                            <li class="list-group-item">
                                <a href="#event" data-trigger="tab"><i class="detail"></i>Modification de formulaire demandée</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
                {% if declarer %}
                    <div class="card-header">
                            <a href="{% url 'instructions:instruction_add' manif_pk=object.id %}" class="btn" role="button">
                                <i class="envoyer"></i> Envoyer la demande
                            </a>
                    </div>
                {% endif %}
                {% if formulaire_manquant %}
                    <div class="card-header mb-2">
                        <i class="detail"></i>
                        <a href="{{ object.get_absolute_url }}edit/?dept={{ object.get_departement_depart_nom }}">Le détail de la manifestation est incomplet</a>
                    </div>
                {% endif %}
                {% if carto_complet is not True %}
                    <div class="card-header">
                        <i class="carto"></i>
                        <a href="#descriptioncarto" class="carto_update" data-trigger="tab">{{ carto_complet.type }}</a>
                        <div class="card-body pt-2">
                            {{ carto_complet.message|safe }}
                        </div>
                    </div>
                {% endif %}


                {% if rnr_manquant %}
                    <div class="card-header mb-2">
                        <i class="feuille"></i>
                        <a href="{% url 'evaluation_incidence:rnreval_update' pk=object.rnrevaluation.pk %}">Formulaire EI RNR incomplet</a>
                    </div>
                {% endif %}

                {% if n2k_manquant %}
                    <div class="card-header mb-2">
                        <i class="feuille"></i>
                        <a href="{% url 'evaluation_incidence:n2keval_update' pk=object.n2kevaluation.pk %}">Formulaire EI Natura 2000 incomplet</a>
                    </div>
                {% endif %}

                {% if manquants %}
                    <div class="card-header">
                        <i class="pj"></i>Des pièces jointes manquent au dossier
                    </div>
                    <div class="card-body pt-2">
                        <p>Liste des pièces jointes manquantes<br>
                            {% if not object.date_depassee %}
                                {% if delta %}
                                    <p style="color: red;">Vous êtes en retard de {{ delta }} jours !<br>
                                        Vous risquez un arrêté d'interdiction.</p>
                                {% else %}
                                    avant le {{ object.date_limite_etape_en_cours|date:"l j F Y"}} :
                                {% endif %}
                            {% endif %}
                        </p>
                        <ul>
                            {% for fichier in object.liste_manquants %}
                                <li><a href="#pieceajoindre" data-trigger="tab">{{ fichier }}</a></li>
                            {% endfor %}
                        </ul>
                        {% if not object.get_instruction.id %}
                            Une fois ces pièces jointes au dossier, vous serez en mesure d'envoyer votre demande.
                        {% endif %}
                    </div>
                {% endif %}
                {% if toutbon and not modif %}
                    <div class="card-body">
                        <p>Pas d'actions requises</p>
                    </div>
                {% endif %}
                {% if object.get_docs_complementaires_manquants.exists %}
                    <div class="card-header">
                        <i class="pj"></i>Des informations complémentaires sont requises par le service instructeur du dossier
                    </div>
                    <div class="card-body pt-2">
                        <p>Veuillez fournir les documents dont la liste est affichée ci-dessous pour que l'instruction de votre dossier puisse continuer</p>
                        <ul class="list-group">
                            {% for additional_data in object.get_docs_complementaires_manquants %}
                                <li class="list-group-item">
                                    <a href="#pieceajoindre" data-trigger="tab">{{ additional_data }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                {% endif %}
            </div>
            <div class="card liste-actions mb-3">
                <div class="card-header bg-primary">
                    <i class="action"></i> Actions disponibles
                </div>
                <div class="card-body">
                    <ul class="list-no-style">
                        <li><a href="#" class="formconsult" id="simple" role="button"><i class="consulter"></i> Octroyer un accès en lecture</a> <i class="ctx-help-aide_octroyer_acces_consultation"></i></li>
                        <li><a href="#" id="divexport" role="button"><i class="telecharger"></i> Exporter cette manifestation</a></li>
                        <div id="divexport_content" style="display: none;">
                            <li class="ms-4">Rappel : votre responsabilité est engagée en cas de divulgation d'informations (notamment des données personnelles).
                                <i class="ctx-help-msg_export"></i></li>
                            <li class="ms-4"><a class="export_lien" href="{% url 'evenements:export_manif_organisateur' pk=object.pk %}?zip=1" role="button"><i class="archive"></i>Exporter en archive ZIP (recommandé)</a></li>
                            <li class="ms-4"><a class="export_lien" href="{% url 'evenements:export_manif_organisateur' pk=object.pk %}" role="button"><i class="pdf"></i>Exporter en fichier PDF</a></li>
                            <li id="export_lien_attente" class="ms-4" style="display: none">Votre fichier est en cours de préparation.<br> Vous serez informé avec une <i>Information de suivi</i> dans votre messagerie dès qu'il sera prêt.</li>
                        </div>
                        <!-- href défini pour le test. get par JS -->
                        <li><a href="{% url 'evenements:manif_clone' pk=object.id %}" class="formclone" role="button"><i class="dupliquer"></i>Créer un nouveau dossier à partir de celui-ci</a></li>
                        <div id="demandeclone" class="mb-3 mt-2" style="display: none;">
                            <div id="demandeclone_content" style="display: none;"></div>
                        </div>
                        <li><a href="/aide/annuler-une-manifestation" role="button"><i class="annuler"></i>Annuler cette manifestation</a></li>
                        {% if not object.n2kevaluation and not object.afficher_panneau_eval_n2000 and not object.get_type_manif == "dvtmcir" %}
                            <li><a href="#" class="formeval" role="button"><i class="ajouter"></i> Effectuer une évaluation Natura2000</a></li>
                            <div id="demandeeval" class="card d-none mb-3">
                                <div class="card-header bg-primary">
                                    Effectuer une évaluation Natura2000
                                </div>
                                <div class="alert alert-warning">
                                    <p><strong>Attention ! </strong> Avant de remplir ce formulaire, vous DEVEZ contacter l'opérateur du ou des sites Natura2000 concernés :
                                        <a href="{% url 'evaluation_incidence:siten2k_liste' dept=object.ville_depart.get_departement.name %}" target="_blank">
                                            Liste des opérateurs de sites Natura 2000
                                        </a>
                                    </p>
                                </div>
                                <div id="demandeeval_content" class="card-body"></div>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <a href="{% url 'evenements:tableau-de-bord-organisateur' pk=object.structure_organisatrice_fk.pk %}" class="btn btn-outline-secondary btn-fill" role="button">
                <i class="retour"></i> Revenir au tableau de bord
                <i class="tableau-de-bord left-margin"></i>
            </a>
        {% endif %}
        </div>
    </div>
    <!--Modal--->
    {% include "structure/modal_selecteur_de_service.html" %}
    <script>
        var ajout = ""
        var categories = [];
        var url_list = "{% url 'structure:service_list' %}"
        var url_action = "{% url "instructions:acces_create" pk=object.id %}"
        var url_categorie = "{% url 'structure:categorie_list' %}"
        var action = "consultation"
        var object_id = "{{ object.id }}"
        var secteur = "instance_{{ object.instance.id }}"
        var secteur_initial = secteur
        var modal_title = "Sélectionner le service qui pourra consulter le dossier"
        var avertissement = "Aucun résultat trouvé avec les filtres sélectionnés. (Les services et mairies ayant déjà " +
                    "fait l'objet d'une demande d'avis n'apparaissent pas dans cette liste)"
        var show_old = true
        var selecteur_multiple = false
        var selecteur_radio = false
        var show_agent = false
        var show_sous_service = false
    </script>
    <script src="{% static 'portail/js/ajax-init-crsf.js' %}"></script>
    <script>

        // Permet de changer d'onglet en dehors de <ul> nav-tabs
        $( '[data-trigger="tab"]' ).click( function( e ) {
            var href = $( this ).attr( 'href' );
            e.preventDefault();
            $('.nav-link[data-bs-target="'+href+'"]').click()
        } );

        // Recharger la page pour prendre en compte les changements des autres pages
        $('.nav-link[data-bs-target="#event"]').click(function () {
            window.location.reload();
        });

        // Charger le formulaire des fichiers à joindre pour la manif
        $('#pieceajoindreajax').click(function (e) {
            $.get("{% url 'evenements:pj_organisateur' pk=object.pk %}",function (data) {
                $('.pieceajoindre').html(data);
            });
        });
        // Changer pour l'onglet documents officiels
        $('.official').on('click', function (e) {
            e.preventDefault();
            $('#onglet a[href="#officialdata"]').tab('show');
        });
        $('#divexport').on('click', function (e) {
            e.preventDefault();
            $('#divexport_content').toggle("slow");
        });
        // Envoi de la demande d'évaluation
        $('body').on('submit', '#demandereval', function(event){
            event.preventDefault();
            $('#demandereval').after( "<div class=\"alert alert-info\" role=\"alert\"><i class=\"far fa-spinner fa-spin\"></i> Demande en cours d'envoi. Veuillez patienter...</div>" );
            // Récupérer les données du formulaire
            var donnees = $('#demandereval').serialize();
            // console.log(donnees);
            $.post("{% url 'evaluation_incidence:ajaxn2keval_add' manif_pk=object.id %}", donnees).done(function (data) {
                window.location.reload(true);
            });
        });
        $('.formeval').on('click', function (event) {
            event.preventDefault();
            if ($('#demandeeval_content').html() != "") {
                $('#demandeeval_content').empty();
                $('#demandeeval').addClass("d-none");
            } else {
                // Charger le formulaire des demandes d'avis
                $('#demandeeval_content').html("Chargement ... <i class=\"far fa-spinner fa-spin\">");
                $('#demandeeval').removeClass("d-none").slideDown("slow");
                $.get( "{% url 'evaluation_incidence:ajaxn2keval_add' manif_pk=object.id %}", function (data) {
                    $('#demandeeval_content').html(data);
                });
            }
        });
        $('.valider_n2keval').click(function (){
            $("#span_valider_n2keval").fadeIn()
        })
        $('#dismis_valider_n2keval_link').on('click', function(e){
            $("#span_valider_n2keval").fadeOut()
        })
        $('.valider_n2keval_link').on('click', function(e){
            let id = $('.valider_n2keval_link').attr('id').split("_")[1]
            $.get("{% url 'evaluation_incidence:ajaxn2keval_lock' pk=0 %}".replace('0', id)).done(function (data) {
                window.location.reload(true);
            });
        })


        // blocage des liens
        var export_lien_disabled = false

        $('.export_lien').click(function (e) {
            e.preventDefault()
            if (export_lien_disabled){

            }
            else {
                export_lien_disabled = true
                $('#export_lien_attente').show()
                $.get($(this).attr('href'), function (e){})
                setTimeout(function () {
                    export_lien_disabled = false
                    $('#export_lien_attente').hide()
                }, 20000)
            }
        })
        $('.formclone').on('click', function (event) {
            event.preventDefault();
            if ($('#demandeclone_content').html() != "") {
                $('#demandeclone_content').empty();
                $('#demandeclone_content').toggle();
                $('#demandeclone').toggle();
            } else {
                // Charger le formulaire des demandes d'avis
                $('#demandeclone_content').html("Chargement ... <i class=\"far fa-spinner fa-spin\">").show();
                $('#demandeclone').toggle();
                $.get( "{% url 'evenements:manif_clone' pk=object.id %}", function (data) {
                    $('#demandeclone_content').hide().html(data);
                    $('#demandeclone_content').toggle('slow');
                });
            }
        });
        $('body').on('click', '.clone_submit', function (e) {
            e.preventDefault();
            // Récupérer les données du formulaire
            var donnees = $('#clone-form').serialize();
            // console.log(donnees);
            $.post("{% url 'evenements:manif_clone' pk=object.id %}", donnees)
                .done(function (response) {
                    window.location.assign(response);
                })
                .fail(function (response) {
                    $('#demandeclone_content').html(response.responseText);
                });
        });

        $('.formconsult').on('click', function (event) {
                ajout = $(this).attr('id');
                modal_title = "Sélectionner le service qui pourra consulter le dossier"
                show_sous_service = false
                url_action = "{% url "instructions:acces_create" pk=object.id %}"
                action = "consultation"
                selecteur_multiple = false
                $("#modal-title-selecteur").text("Sélectionner le service qui pourra consulter le dossier")
                $('#consult_div').toggle('slow');
                $("#modal-categorie-selecteur").addClass('d-none')
                $('#modal-instance-selecteur').removeClass('d-none')
                $('#demandeAvisModal').modal('show');
            });

        $('.formdepot').on('click', function (event) {
            event.preventDefault();
            if ($('#horsdepot_content').html() != "") {
                $('#horsdepot_content').empty();
                $('#horsdepot_content').toggle();
                $('#horsdepot').toggle();
            } else {
                // Charger le formulaire des demandes d'avis
                $('#horsdepot_content').html("Chargement ... <i class=\"far fa-spinner fa-spin\">").show();
                $('#horsdepot').toggle();
                $.get( "{% url 'evenements:manif_depot' pk=object.id %}", function (data) {
                    $('#horsdepot_content').hide().html(data);
                    $('#horsdepot_content').toggle('slow');
                });
            }
        });
        $('body').on('submit', '#horsdepot-form', function(event){
            event.preventDefault();
            $('#horsdepot-form').after( "<div class=\"alert alert-info\" role=\"alert\"><i class=\"far fa-spinner fa-spin\"></i> Demande en cours d'envoi. Veuillez patienter...</div>" );
            // Récupérer les données du formulaire
            var donnees = $('#horsdepot-form').serialize();
            // console.log(donnees);
            $.post("{% url 'evenements:manif_depot' pk=object.id %}", donnees).done(function (data) {
                window.location.reload(true);
            });
        });

        // Marquer les champs à modifier
        let liste_champ = '{{ champ|safe }}';
        liste_champ = liste_champ ? JSON.parse(liste_champ) : []
        let url = '{{ object.get_absolute_url }}edit/?dept={{ object.get_departement_depart_nom }}';
        {% if object.n2kevaluation %}
            let url_n2k = '{% url 'evaluation_incidence:n2keval_update' pk=object.n2kevaluation.pk %}';
        {% endif %}
        {% if object.rnrevaluation %}
            let url_rnr = '{% url 'evaluation_incidence:rnreval_update' pk=object.rnrevaluation.pk %}';
        {% endif %}
        $('.champ').each(function () {
            liste_champ.forEach(arr => {
                if (arr[1] === $(this).attr('id') && $(this).hasClass(arr[0])) {
                    $(this).addClass('bg-warning gx-3');
                    $(this).attr({
                        'data-bs-toggle': 'tooltip',
                        'data-bs-original-title': '<i class="fas fa-lock-open-alt"></i>Modification demandée le ' + arr[2].slice(0, 10)
                    });
                    $(this).children('.libelle').addClass('gx-4 mt-1');
                    $(this).children('.valeur').removeClass('col-6').addClass('col-4 gx-4 mt-1');
                    if (!$(this).hasClass('n2k') && !$(this).hasClass('rnr')) {
                        $(this).append('<div class="col-2 text-end"><a href="' + url + '" class="btn btn-sm btn-primary" role="button"><i class="editer"></i> Modifier</a></div>');
                    } else {
                        if ($(this).hasClass('n2k')) {
                            $(this).append('<div class="col-2 text-end"><a href="' + url_n2k + '" class="btn btn-primary" role="button"><i class="editer"></i> Modifier</a></div>');
                        } else {
                            $(this).append('<div class="col-2 text-end"><a href="' + url_rnr + '" class="btn btn-primary" role="button"><i class="editer"></i> Modifier</a></div>');
                        }
                    }
                }
            });
        });
    </script>

{% endblock %}
