{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n verbose_tags %}
{% load static %}

{% block head_title %}
    Organisation d'une manifestation sportive
{% endblock %}

{% block page_title %}
    {% if object.manifestation_ptr %}
        {% include 'evenements/pictos/type_evenement.html' with manif=object.manifestation_ptr%}
    {% else %}
        {% include 'evenements/pictos/type_evenement.html' with manif=object%}
    {% endif %}
    &nbsp;
    {% if form.target and form.target.pk %}
        {{ object.manifestation_ptr.get_cerfa|verbose_name|capfirst }}<br>
        Nom de la manifestation : <strong>{{ form.target }}</strong>
    {% else %}
        &nbsp;{{ verbose|capfirst }}
    {% endif %}
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="manifestation-form">
        {% if form.target.id %}<input type="hidden" name="id" id="id_id" value="{{ form.target.id }}">{% endif %}
        {% crispy form %}
        {{ form.media }}
        <div class="form-actions">
            <input id="submit-id-save" class="btn btn-primary" type="submit" value="Enregistrer" name="save">
            {% if form.instance.id %}
                <a class="btn btn-danger" href="javascript:history.back()">Annuler</a>
            {% endif %}

        </div>
    </form>
{% endblock %}

{% block extra_js %}
    <script>
        const url_liste_commune = "{% url 'administrative_division:commune_widget' %}";
        {% if object.pk  %}
        const url_get_donnee_parcours = "{% url 'evenements:commune_traversee' pk=object.pk %}";
        {% else %}
        const url_get_donnee_parcours = false
        {% endif %}
        const liste_champ_modif = '{{ champ|safe }}';
        const en_instruction = {% if object.get_instruction %} true {% else %} false {% endif %};
        const type = "{{ type }}"
    </script>
    <script src='{% static "portail/js/file-validator.js" %}' type="text/javascript"></script>
    <script src='{% static "libs/autogrow/jquery.ns-autogrow.min.js" %}' type="text/javascript"></script>
    <script src='{% static "evenements/js/manifestation_formulaire.js" %}' type="text/javascript"></script>
{% endblock %}
