{% extends "base.html" %}


{% load i18n %}

{% block head_title %}{{ object|capfirst }}{% endblock %}
{% block page_title %}
    <h1>{{ object|capfirst }}</h1>
{% endblock %}

{% block content %}
    {% if request.organisation == object.structure_organisatrice_fk %}
        <div class="alert alert-warning">Cette manifestation se déroule dans un département qui n'est pas abonné à cette plateforme.<br>
            <strong>Le dossier n'a pas été transmis au service instructeur.</strong><br>
            N'hésitez pas à prendre contact avec le service d'instruction de votre département pour suivre leur consignes.
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card ">
                {% if not object.visible_dans_calendrier %}
                    <div class="card-body"><span class="text-danger">La manifestation a été masquée du calendrier public par l'{{ object.prive | yesno:"organisateur,instructeur" }}</span></div>
                {% endif %}
                <div class="card-body">{{ object.description|linebreaks }}</div>
                <ul class="list-group">
                    <li class="list-group-item"><strong><i class="date"></i>Début : </strong>{{ object.date_debut|date:"d F Y - H:i" }}</li>
                    <li class="list-group-item"><strong><i class="date"></i>Fin : </strong>{{ object.date_fin|date:"d F Y - H:i" }}</li>
                    <li class="list-group-item"><strong><i class="activite"></i> Sport : </strong>{{ object.activite.discipline }} - {{ object.activite }}</li>
                    <li class="list-group-item"><strong><i class="voie-publique"></i> Sur voie publique ou ouverte à la circulation publique : </strong>
                        {% if object.emprise == 0 %}
                            Non renseignée
                        {% else %}
                            {{ object.get_emprise_display }}
                        {% endif %}</li>
                    <li class="list-group-item"><strong><i class="lieu"></i> Commune de départ : </strong>{{ object.ville_depart|capfirst }}</li>
                    <li class="list-group-item"><strong><i class="lieu"></i> Communes traversées : </strong>
                        {% for ville in object.get_villes_traversees %}
                            {% if forloop.last %}
                                {{ ville }}.
                            {% else %}
                                {{ ville }},
                            {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            {% if object.afficher_adresse_structure %}
                <div class="card-body">
                    <strong>Informations de contact :</strong><br>
                    {% with object.structure_organisatrice_fk as structure %}
                        {{ structure.precision_nom_s }}<br>
                        {{ structure.adresse_s }}<br>
                        <span id="ctx-help-insee-code">{{ structure.commune_m2m.first.zip_code }}</span> {{ structure.commune_m2m.first }}<br>
                        {% if structure.website %}<strong>Site web :</strong> {{ structure.site_web_s|urlize }}<br>{% endif %}
                        <strong>Téléphone :</strong> {{ structure.telephone_s }}<br>
                    {% endwith %}

                </div>
            {% endif %}
            </div>
        </div>
    </div>
    {% if object.get_type_manif %}
        <a href="{% url 'portail:calendar' %}" class="btn btn-primary">
            <i class="date"></i> Retour au calendrier des manifestations sportives</a>
    {% else %}
        <a href="{% url 'evenements:tableau-de-bord-organisateur'  pk=object.structure_organisatrice_fk.pk %}" class="btn btn-primary">
            <i class="tableau-de-bord"></i> Retour au tableau de bord</a>
    {% endif %}
{% endblock %}
