{% load crispy_forms_tags i18n static %}

<link href="{% static 'libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}" type="text/css" media="all" rel="stylesheet">
<link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">

<script type="text/javascript" src="{% static 'libs/moment/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>

{% block head_title %}{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% if form.non_field_errors %}
                    <li>{{ form.non_field_errors }}</li>
                {% endif %}
                {% for field in form %}
                    {% if field.errors %}
                        <li><strong>{{ field.label }}</strong> : {{ field.errors.0 }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% block form %}
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="clone-form">
            {{ form.media }}
            {% crispy form %}
        </form>
    {% endblock %}

{% endblock %}
