{% load i18n verbose_tags thumbail_filter file_tags %}
{% load static %}

<!-- pas de traitement d'erreurs repris de base_form : inutile içi -->

<p>
    Plusieurs pièces devront être annexées à votre formulaire afin de constituer votre dossier.<br>
    Les éléments manquants sont mis en évidence.<br>
    Lorsque votre dossier sera complet, vous pourrez l'envoyer au service instructeur !<br>

</p>
    Conseils :
    <ul>
        <li>consulter <a href="/aide/FAQ-organisateurs/502" target="_blank">nos trucs et astuces</a>.</li>
        <li>vérifier <a href="/aide/type_fichier" target="_blank">la liste des formats de fichier acceptés</a>.</li>
        <li>ne pas dépasser 12 Mo par fichier déposé.</li>
    </ul>
<br>

<form class="form-horizontal" action="{{ object.get_absolute_url }}edit_files/" method="post"
      enctype="multipart/form-data" id="manifestation-form">
    {% csrf_token %}

    {% if form.target.id %}<input type="hidden" name="id" id="id_id" value="{{ form.target.id }}">{% endif %}
    {% for field in form %}
        <ul class="list-group" style="margin-bottom: 1em;">
            <li class="list-group-item form_li" id="form_{{ field.name }}" style="margin-bottom: 1em;">
                <!-- libellé et accès -->

                <div class="value_{{ field.name }} mb-2">
                    {% if field.value and not field.errors %}
                        <a href="/media/{{ field.value }}" target="_blank"> {{ field.label }} </a>
                        <span data-toggle="tooltip" data-placement="auto" data-html="true" class="ml-2 badge badge-info"
                              title="<img src='{{ field.value|thumbnail }}'>">
                            <i class="deplier no-right-margin text-white"></i>
                        </span>
                        <a class="ml-2" href="/media/{{ field.value }}" target="_blank"> <i class="telecharger"></i></a>
                    {% else %}
                        {{ field.label }}
                        {{ field.errors }}
                    {% endif %}
                    <!-- bulle d'aide contextuelle -->
                    <i class="ctx-help-manif_form_{{ field.name }} float-right d-block"></i>
                    <!-- bouton d'édition -->
                    {% if field.value and not field.errors %}
                        <a class="ml-2" style="display: none;" id="btnedit_{{ field.name }}" href="#">
                            <i class="editer" data-titre="Modifier ou supprimer la pièce jointe"></i>
                        </a>
                    {% endif %}
                </div>
                <!-- temporalité -->
                <div style="display: none;" id="limite_{{ field.name }}" class="mb-1">
                    {% if not form.target.date_depassee %}
                        <i class="attention"></i>
                        {% if delta2 and field.name in files2 %}
                            <span style="color: red;">Vous êtes en retard de {{ delta2 }} jours !
                                    Vous risquez un arrêté d'interdiction.</span>
                        {% elif delta3 and field.name in files3 %}
                            <span style="color: red;">Vous êtes en retard de {{ delta3 }} jours !
                                    Vous risquez un arrêté d'interdiction.</span>
                        {% else %}
                            À joindre avant le {{ form.target.date_limite_etape_en_cours|date }}
                        {% endif %}
                    {% endif %}
                </div>
                <!-- bouton d'ajout -->
                {% if not field.value or field.errors %}
                    <a class="btn btn-outline-primary mt-1 float-right" style="display: none;"
                       id="btnedit_{{ field.name }}" href="#">
                        <i class="doc"></i> Ajouter la pièce jointe
                    </a>
                {% endif %}
                <!-- input -->
                <div class="mt-2 mb-2" id="champ_{{ field.name }}" style="display: none">{{ field }}</div>
            </li>
        </ul>
    {% endfor %}
    {{ form.media }}
    <div class="form-actions">
        <input id="submit-id-save" class="btn btn-primary" type="submit" value="Enregistrer" name="save">
        {% if form.instance.id %}
            <a class="btn btn-danger" href="javascript:history.back()">Annuler</a>
        {% endif %}
    </div>
</form>

<script>

    $('#submit-id-save').click(function (e) {
        e.preventDefault();
        var form = $('#manifestation-form')[0]
        var data = new FormData(form)
        $.ajax({
            url: $("#manifestation-form").attr('action'),
            type: 'POST',
            enctype: 'multipart/form-data',
            processData: false,  // Important!
            contentType: false,
            cache: false,
            data: data,
        }).done(function (data, textStatus, xhr) {
            console.log(xhr)
            if (xhr.responseText.search("Plusieurs pièces devront être annexées à votre formulaire afin de constituer votre dossier")!==-1){
                $('.pieceajoindre').html(data);
            }
            else{
                window.location.reload()
            }
        }).fail(function (data, textStatus, xhr) {
                $('.pieceajoindre').html(data);
            })
    })

    $('.form_li').each(function (e) {
        let id = $(this).attr('id').substr(5);
        if ($('#id_' + id).attr('class') === "adonner") {
            $('#limite_' + id).show();
            $('#form_' + id).addClass('border-danger');
        }
        if (typeof $('#id_' + id).attr('disabled') === "undefined") {
            $('#btnedit_' + id).show().click(function (e) {
                e.preventDefault();
                $('#champ_' + id).show();
            });
        }
    });

    {% for helpform in contexthelps %}
        if (!$('[class^=ctx-help-{{ helpform.name }}]').length) { // si l'icône n'existe pas
            var help_icon = '<i class="ctx-help-{{ helpform.name }}"></i>';
            {% for inserts in helpform.position_as_list %}
                {% if inserts.typeinsert == 'after' %}
                    $('{{ inserts.selecteur }}').after(help_icon); // l'insérer après
                {% else %}
                    $('{{ inserts.selecteur }}').append(help_icon);  // l'insérer dedans
                {% endif %}
            {% endfor %}
        }
        $('[class^=ctx-help-{{ helpform.name }}]').tooltip({  // et activer la tooltip
            title: retrieveData,
            html: true,
            container: 'body',
            trigger: 'click',
            placement: 'top',
        });
    {% endfor %}
</script>

<script src='{% static "portail/js/file-validator.js" %}' type="text/javascript"></script>
<script src='{% static "portail/js/he.js" %}' type="text/javascript"></script>
<script src='{% static "libs/autogrow/jquery.ns-autogrow.min.js" %}' type="text/javascript"></script>
<script src='{% static "portail/js/jquery.liveValidation.js" %}' type="text/javascript"></script>
<script src='{% static "evenements/js/manifestation_formulaire.js" %}' type="text/javascript"></script>
<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/file-validator.js' %}" type="text/javascript"></script>
