{% load static  file_tags thumbnail_filter get_history %}

<head>
    <title>Historique</title>
</head>

<link rel="icon" href="/static/portail/img/favicon.ico"/>

<link href="{% static 'libs/chosen/chosen.min.css' %}" rel='stylesheet' type='text/css'>
<link href="{% static 'libs/fontawesome-pro/css/all.css' %}" rel='stylesheet' type='text/css'>
<link href="{% static 'libs/titatoggle/dist/titatoggle-dist-min.css' %}" rel='stylesheet' type='text/css'>
<link href="{% static 'portail/scss/bootstrap_custom.css' %}" rel='stylesheet' type='text/css'>
<link href="{% static 'portail/css/default.css' %}" rel='stylesheet' type='text/css'>

<script src="{% static 'libs/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/moment/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/bootstrap-table/dist/bootstrap-table.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/bootstrap-table/dist/bootstrap-table-locale-all.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/jquery.submitProtection.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/jquery-jvectormap-2.0.3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/jquery-jvectormap-fr-merc.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/common.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/icone.js' %}" type="text/javascript"></script>




<div>
    {% if type_pj %}
        <ul class="list-group">
            {% for pj in data %}
                <li class="list-group-item"> Le {{ pj.date_televersement }} : {{ pj.document_attache|basename }}  <span data-bs-toggle="tooltip" data-placement="auto" data-html="true" class="ms-2 badge bg-info"
                                                                                              title="<img src='{{ pj.document_attache|thumbnail }}'>">
                            <i class="afficher no-right-margin text-white"></i>
                        </span>
                    <a class="ms-2" href="/media/{{ pj.document_attache }}" target="_blank"> <i class="telecharger"></i></a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <ul class="list-group">
        {% for ligne in data %}
            <li class="list-group-item"> Le {{ ligne.date|date_history }} : {% if type_data == "list" %} {% for donne in ligne.data %}
                {% if donne %}{{ donne }}{% else %} Non renseigné {% endif %}

                {% if not forloop.last %},{% endif %} {% endfor %}
            {% else %}
                {% if ligne.data %} {{ ligne.data }} {% else %} Non renseigné {% endif %}
            {% endif %} </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>


<style>
    body{
        padding-top: 0;
        margin: 1em;
    }
    #logo{
        margin-top: 1em;
    }
    #titre{
        margin-top: 1em;
    }

</style>