{% load i18n static verbose_tags thumbnail_filter file_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'libs/DataTables/css/jquery.dataTables.css' %}">

<script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'libs/DataTables/js/datetime-moment.js' %}"></script>

<p>
    Plusieurs pièces devront être annexées à votre formulaire afin de constituer votre dossier.<br>
    Les éléments manquants sont mis en évidence.<br>
    Lorsque votre dossier sera complet, vous pourrez l'envoyer au service instructeur !<br>

</p>
    Conseils :
    <ul>
        <li>consulter <a href="/aide/FAQ-organisateurs/502" target="_blank">nos trucs et astuces</a>.</li>
        <li>vérifier <a href="/aide/type_fichier" target="_blank">la liste des formats de fichier acceptés</a>.</li>
        <li>ne pas dépasser 12 Mo par fichier déposé.</li>
    </ul>
<br>

<table id="pj_table" class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Nom</th>
            <th>Date limite de dépôt</th>
            <th>Date de dépôt</th>
            <th style="display: none"></th> {# colonne cachée utile pour le tri #}
            <th>Fichier</th>
            {% if manif.get_instruction %}
            <th>État</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for piece in piecejointes_cerfa %}
        <tr {% if piece.requise and not piece.retard and not piece.presque_retard %}style="background: #FDF0F0"{% endif %}
            {% if piece.retard %}
                style="color:red;{% if piece.requise %} background: #FDF0F0{% endif %}"
                data-bs-toggle="tooltip" data-placement="right"
                title="{% if piece.requise %}<strong>! Pièce requise !</strong><br>{% endif %}En retard de {{ piece.delta }} jours !<br>Vous risquez un arrêté d'interdiction."
            {% elif piece.presque_retard %}
                style="color: #ff7700;{% if piece.requise %} background: #ffffe7{% endif %}"
                data-placement="right" data-bs-toggle="tooltip"
                title="{% if piece.requise %}<strong>! Pièce requise !</strong><br>{% endif %}Plus que  {{ piece.delta }} jours pour déposer cette pièce jointe."
            {% elif piece.a_modifier %}
            style="background: #ffbf33"
            {% endif %}>
            {% include 'evenements/blocs/ligne_tableau_pj.html' with piece=piece %}
            <td>
                <form action="{% url 'evenements:pj_organisateur' pk=manif.pk %}?pj={{ piece.pk }}" data-name="{{ piece.champ_cerfa }}"
                      id="formobj_{{ piece.pk }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span id="detail_{{ piece.pk }}">
                        {% if piece.document_attache and piece.scan_antivirus %}
                            <span data-bs-toggle="tooltip" data-placement="auto" data-html="true" class="ms-2 badge bg-info"
                                  title="<img src='{{ piece.document_attache|thumbnail }}'>">
                                <i class="afficher no-right-margin text-white"></i>
                            </span>
                            <a class="ms-2" href="/media/{{ piece.document_attache }}" target="_blank">
                                <i class="telecharger" data-titre="{{ piece.document_attache|basename }}"></i>
                            </a>
                            {% if piece.historique.all %}
                            <a class="ms-2 history_link" href="{% url 'evenements:historique_popup' pk=piece.manif.pk %}?pj_pk={{ piece.pk }}" target="_blank"><i class="far fa-history"></i></a>
                            {% endif %}
                        {% elif piece.document_attache %}
                            Traitement du fichier en cours
                        {% else %}
                            <span style="display: none">1</span><a class="ms-2 ajout_pj"  id="btnedit_{{ piece.pk }}" href="#">
                            <i class="ajouter" data-titre="Ajouter la pièce jointe"></i>
                            Déposer le fichier{% if not piece.date_limite %}, si nécessaire, selon la manifestation{% endif %}</a>
                        {% endif %}
                        {% if piece.document_attache and piece.scan_antivirus %}
                            {% if not piece.manif.get_instruction or piece.a_modifier %}
                                <a class="ms-2 ajout_pj"  id="btnedit_{{ piece.pk }}" href="#">
                                    <i class="editer" data-titre="Modifier ou supprimer la pièce jointe"></i> {% if piece.a_modifier  %} Modification demandée le {{ piece.a_modifier }}{% endif %}
                                </a>
                            {% endif %}

                        {% endif %}
                    </span>
                    <span id="champ_{{ piece.pk }}" style="display: none">
                        {% if piece.document_attache %}{{ piece.document_attache|basename }}<br>
                        <input class="mx-2" type="checkbox" name="effacer"> Supprimer le fichier{% endif %}
                        <input class="mb-1 w-100" type="file"  name="fichier">
                        <input class="btn_submit_pj btn btn-primary btn-sm w-100 mb-1" id="btnsubmit_{{ piece.pk }}" type="submit" value="Envoyer">
                    </span>
                </form>
            </td>
            {% if manif.get_instruction %}
            <td style="width: 5%">
                {% if piece.document_attache and piece.validation_instructeur %}
                    <i class="pj_valide"></i>
                {% elif piece.document_attache %}
                    <i class="pj_nonvalide"></i>
                {% else %}-
                {% endif %}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>


{% if not manif.instruction.all %}
    <div class=" form_li" id="form_supp" style="margin-bottom: 1em;">
        <form id="formobj_supp" method="post" enctype="multipart/form-data" action="{% url 'evenements:pj_organisateur' pk=manif.pk %}?ajout=1">
            {% csrf_token %}
             <a class="btn btn-outline-primary mt-5 ajout_pj" id="btnedit_supp" href="#">
                 <i class="pj"></i> Ajouter une pièce jointe complémentaire
             </a>
             <div class="mt-4 mb-2" id="champ_supp" style="display: none">
                 <h2>Fournir une pièce jointe complémentaire</h2>
                 <p class="inline-help">
                    Les fichiers de cartographies ne sont pas acceptés ici. Veuillez utiliser l'outil dans l'onglet
                    <span class="mx-2" style="color: #015A70"><i class="carto"></i>Cartographie</span>
                    permettant de tracer ou d'importer vos parcours.
                 </p>
                {% if manif.departements_traverses.all %}
                    <div class="form-group my-3">
                        <select id="portee" class="chosen-select form-select" name="portee"
                            multiple data-placeholder="Sélectionner le département concerné">
                            <option value="0">tous</option>
                            {% for dep in manif.get_departements_traverses %}
                                <option value="{{ dep.pk }}">{{ dep }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                 <div class="input-group mb-3">
                     <input type="text" class="form-control" maxlength="100" required  id="nom" name="nom"
                            placeholder="Nom de la pièce" aria-label="Nom de la pièce" aria-describedby="basic-addon1">
                 </div>
                 <div class="input-group mb-3">
                     <textarea style="min-height: 100px"  required maxlength="300"  id="aide" name="aide"
                               placeholder="Pourquoi ajoutez-vous cette pièce ?" class="form-control"></textarea>
                 </div>
                 <div class="input-group mb-3">
                     <input type="file" required  name="fichier" class="form-control-file">
                 </div>
                 <input class="btn_submit_pj btn btn-primary" id="btnsubmit_supp" type="submit" value="Envoyer">
             </div>
        </form>
        <div class="mb-2"></div>
    </div>
{% endif %}

<script>
    $(function(){
        $('#pj_table').DataTable({
            "paging": false,
            "info": false,
            order : [[4, "desc"], [2, "asc"], [0, "asc"]]
        });
        $('.dataTables_filter').hide();
        $('#pj_table').css('width', '100%');
        setTimeout(function (){
            $('#aide').unbind() {# supprimer l'event de redimensionnemnt du textarea lors de la frappe (autogrow) #}
        },1000);
    })

   $('.ajout_pj').click(function (e){
       e.preventDefault();
       let id = $(this).attr('id').substr(8);
       $(`#detail_${id}`).hide();
       $(`#champ_${id}`).show();
       $(this).hide();
   })

   $('.btn_submit_pj').click(function (e) {
       e.preventDefault();
       let id = $(this).attr('id').substr(10);
       var form = $(`#formobj_${id}`)[0];

       console.log(form);
       var data = new FormData(form);
       $.ajax({
           url: $(`#formobj_${id}`).attr('action'),
           type: 'POST',
           enctype: 'multipart/form-data',
           processData: false,  // Important!
           contentType: false,
           cache: false,
           data: data,
       }).done(function (data, textStatus, xhr) {
           console.log(xhr);
           if (xhr.responseText.search("ok")===-1){
               $(`#erreur_${id}`).remove();
               $(`#champ_${id}`).after(`<p id="erreur_${id}" class="alert alert-danger">${data}</p>`);
           }
           else{
               $.get("{% url 'evenements:pj_organisateur' pk=manif.pk %}",function (data) {
                    $('.pieceajoindre').html(data);
                });
           }
       }).fail(function (xhr, textStatus, errorThrown) {
           $(`#erreur_${id}`).remove();
           $(`#champ_${id}`).after(`<p id="erreur_${id}" class="alert alert-danger">${errorThrown}</p>`);
       })
   })
   $(".chosen-select").chosen();
   $(".chosen-container").css('width', '100%');
        var liste_champ_modif = '';
        var en_instruction = {% if object.get_instruction %} true {% else %} false {% endif %};
        var type = ""
</script>
<script src='{% static "portail/js/file-validator.js" %}' type="text/javascript"></script>
<script src='{% static "portail/js/he.js" %}' type="text/javascript"></script>
<script src='{% static "libs/autogrow/jquery.ns-autogrow.min.js" %}' type="text/javascript"></script>
<script src='{% static "evenements/js/manifestation_formulaire.js" %}' type="text/javascript"></script>

<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
