{% load static i18n file_tags %}

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<div class="head"><img src="{% static 'portail/img/Logo_vert.png' %}"/></div>

<h1>Manifestation : {{ manif }}</h1>


<div>
    <div class="card-header">Détails</div>
    <ul class="list-group mb-3">
        <li class="list-group-item"> {{ manif.description|linebreaksbr }}</li>
    {% if manif.observation %}
        <li class="list-group-item">Observations : {{ manif.observation|linebreaksbr }}</li>
    {% endif %}
    </ul>
    <ul class="list-group mb-3">
        <li class="list-group-item"><i class="date"></i>Début : {{ manif.date_debut }}</li>
        <li class="list-group-item"><i class="date"></i>Fin : {{ manif.date_fin }}</li>
        <li class="list-group-item"><i class="activite"></i> Activité : {{ manif.activite.discipline }} - {{ manif.activite }}</li>
    {% if object.cerfa.consultFederation %}
        <li class="list-group-item"> Vous avez une convention avec une fédération agréée : {{ object.cerfa.avec_convention_fede|yesno|title }}</li>
    {% endif %}
        {% if not object.dnm and not object.dnmc and not object.dvtm %}<li class="list-group-item"><i class="date"></i>Vous êtes affiliés à une fédération délégataire de la discipline et la manifestation est inscrite
            sur son calendrier : {{ object.dans_calendrier|yesno|title }}</li>{% endif %}
        <li class="list-group-item"><i class="voie-publique"></i> Sur voie publique ou ouverte à la circulation publique : {{ manif.activite|yesno|title }}</li>
        <li class="list-group-item"><i class="lieu"></i> Commune de départ : {{ manif.ville_depart|capfirst }}</li>
    {% if not manif.dvtmcir %}
        <li class="list-group-item"><i class="lieu"></i> Communes traversées :
            {% for city in manif.villes_traversees.all %}
                {% if forloop.last %}
                    {{ city }}.
                {% else %}
                    {{ city }},
                {% endif %}
            {% endfor %}
        </li>
        <li class="list-group-item">Autres départements traversés par la manifestation :
            {% for departement in manif.departements_traverses.all %}
                {% if forloop.last %}
                    {{ departement }}.
                {% else %}
                    {{ departement }},
                {% endif %}
            {% endfor %}
        </li>

    {% endif %}
        {% if object.ville_depart_interdep %}
            {% for ville in object.ville_depart_interdep %}
                <li class="list-group-item"><i class="lieu"></i> Communes de départ pour le département {{ ville.departement_name }} : {{ ville.commune_name }}</li>
            {% endfor %}
        {% endif %}
        <li class="list-group-item">Places spectateurs : {{ manif.nb_spectateurs }}</li>
        <li class="list-group-item">Nombre de participants : {{ manif.nb_participants }}</li>
    {% if manif.dvtm.nb_personnes_pts_rassemblement %}
        <li class="list-group-item">Nombre de personnes aux points de rassemblement : {{ manif.dvtm.nb_personnes_pts_rassemblement }}</li>
    {% endif %}
    {% if manif.dnm or manif.dnmc or manif.dcnm or manif.dcnmc %}
        <li class="list-group-item">Départ groupé des participants : {{ manif.get_cerfa.depart_groupe|yesno|title }}</li>
        <li class="list-group-item">Circulation groupée des participants: {{ manif.get_cerfa.circul_groupe|yesno|title }}</li>
    {% endif %}
    {% if not manif.dvtmcir %}
        <li class="list-group-item">Nombre de véhicules d'accompagnement : {{ manif.get_cerfa.nb_vehicules_accompagnement }}</li>
    {% endif %}
    {% if manif.avtm.vehicles or manif.dvtm.vehicles %}
        <li class="list-group-item">Type et nombre de véhicules : {{ manif.get_cerfa.vehicles|linebreaks }}</li>
    {% endif %}
    </ul>
    <div class="card-header">
        <i class="organisateur"></i> Organisateur
    </div>
    <ul class="list-group mb-3">
        <li class="list-group-item">Déclarant : {{ manif.declarant.get_full_name }}</li>
        <li class="list-group-item">Structure : {{ manif.structure_organisatrice_fk|capfirst }}</li>
        <li class="list-group-item">Adresse : {{ manif.structure_organisatrice_fk.adresse_s }}, {{ manif.structure_organisatrice_fk.commune_m2m.first.zip_code }} {{ manif.structure_organisatrice_fk.commune_m2m.first|upper }}</li>
        <li class="list-group-item">Numéro de téléphone : {{ manif.structure_organisatrice_fk.telephone_s }}</li>
        <li class="list-group-item">E-mail : {{ manif.structure_organisatrice_fk.email_s }}</li>
    </ul>
    <div class="card-header">
        {% if manif.dnm or manif.dnmc or manif.dcnm or manif.dcnmc %}
            Coordonnateur Sécurité
        {% else %}
            Organisateur Technique
        {% endif %}
    </div>
    <ul class="list-group mb-3">
        <li class="list-group-item">Nom : {{ manif.get_cerfa.technique_nom|capfirst }}{{ manif.get_cerfa.securite_nom|capfirst }}</li>
        <li class="list-group-item">Prénom : {{ manif.get_cerfa.technique_prenom|capfirst }}{{ manif.get_cerfa.securite_prenom|capfirst }}</li>
        <li class="list-group-item">Numéro de téléphone : {{ manif.get_cerfa.technique_tel }}{{ manif.get_cerfa.securite_tel }}</li>
        <li class="list-group-item">E-mail : {{ manif.get_cerfa.technique_email }}{{ manif.get_cerfa.securite_email }}</li>
    </ul>
{% if manif.dnm or manif.dnmc or manif.dcnm or manif.dcnmc %}
    <div class="card-header">
        Régime de circulation publique
    </div>
    <ul class="list-group mb-3">
        {% if manif.get_cerfa.respect_code_route %}
            <li class="list-group-item">Respect du code de la route : {{ manif.get_cerfa.respect_code_route|yesno|title }}</li>
            {% if manif.get_cerfa.respect_code_route_detail != '' %}
                <li class="list-group-item">Voies empruntées et horaires de passage : {{ manif.get_cerfa.respect_code_route_detail }}</li>
            {% endif %}
        {% endif %}
        {% if manif.get_cerfa.priorite_passage %}
            <li class="list-group-item">Priorité de passage : {{ manif.get_cerfa.priorite_passage|yesno|title }}</li>
            {% if manif.get_cerfa.priorite_passage_detail != '' %}
                <li class="list-group-item">Voies empruntées et horaires de passage : {{ manif.get_cerfa.priorite_passage_detail }}</li>
            {% endif %}
        {% endif %}
        {% if manif.get_cerfa.usage_temporaire %}
            <li class="list-group-item">Usage exclusif temporaire de la chaussée : {{ manif.get_cerfa.usage_temporaire|yesno|title }}</li>
            {% if manif.get_cerfa.usage_temporaire_detail != '' %}
                <li class="list-group-item">Voies empruntées et horaires de passage : {{ manif.get_cerfa.usage_temporaire_detail }}</li>
            {% endif %}
        {% endif %}
        {% if manif.get_cerfa.usage_privatif %}
            <li class="list-group-item">Usage privatif de la chaussée : {{ manif.get_cerfa.usage_privatif|yesno|title }}</li>
            {% if manif.get_cerfa.usage_privatif_detail != '' %}
                <li class="list-group-item">Voies empruntées et horaires de passage : {{ manif.get_cerfa.usage_privatif_detail }}</li>
            {% endif %}
        {% endif %}
    </ul>
{% endif %}
{% if manif.dnm or manif.dnmc or manif.dcnm or manif.dcnmc %}
    <div class="card-header">
        Dispositif de sécurité
    </div>
    <ul class="list-group mb-3">
        <li class="list-group-item">Présence d'un véhicule d'ouverture (véhicule "pilote") :
            {{ manif.get_cerfa.vehicule_ouverture|yesno|title }}</li>
        <li class="list-group-item">Présence d'un véhicule de début de course (véhicule "tête de course") :
            {{ manif.get_cerfa.vehicule_debut|yesno|title }}</li>
        <li class="list-group-item">Présence d'un véhicule de fin de course :
            {{ manif.get_cerfa.vehicule_fin|yesno|title }}</li>
        <li class="list-group-item">Présence d'autres véhicules d'organisation (auto ou moto) :
            {{ manif.get_cerfa.vehicule_organisation|yesno|title }}</li>
    </ul>
    <ul class="list-group mb-3">
        <li class="list-group-item">Nombre de signaleurs : {{ manif.get_cerfa.nb_signaleurs }}</li>
    {% if manif.get_cerfa.nb_signaleurs and manif.get_cerfa.nb_signaleurs != 0 %}
        <li class="list-group-item">En postes fixes : {{ manif.get_cerfa.nb_signaleurs_fixes }}</li>
        <li class="list-group-item">Mobiles en voitures : {{ manif.get_cerfa.nb_signaleurs_autos }}</li>
        <li class="list-group-item">Mobiles en motos : {{ manif.get_cerfa.nb_signaleurs_motos }}</li>
    {% endif %}
    </ul>
    <ul class="list-group mb-3">
        <li class="list-group-item">Encadrement de la police municipale : {{ manif.get_cerfa.police_municipale|yesno|title }}</li>
    {% if manif.get_cerfa.police_municipale %}
        <li class="list-group-item">Moyens affectés : {{ manif.get_cerfa.detail_police_municipale }}</li>
    {% endif %}
        <li class="list-group-item">Convention avec la police nationale ou la gendarmerie : {{ manif.get_cerfa.police_nationale|yesno|title }}</li>
    {% if manif.get_cerfa.police_nationale %}
        <li class="list-group-item">Moyens affectés : {{ manif.get_cerfa.detail_police_nationale }}</li>
    {% endif %}
    </ul>
{% endif %}
{% if not manif.dvtmcir %}
    <div class="card-header">
        <i class="carto"></i> Cartographie de parcours
    </div>
    <ul class="list-group mb-3">
        {% if manif.parcours %}
            {% for parcours in manif.parcours.all %}
                <li class="list-group-item">
                    {{ parcours.id }} : {{ parcours.name }} - {{ parcours.description }}
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">
                Pas de parcours cartographie de parcours pour cette manifestation
            </li>
        {% endif %}
    </ul>
    {% if not user.isOrganisateur or user.isInstructeur %}
        {% if manif.get_manifs_meme_jour_meme_ville %}
            <div class="card-header">
                <i class="attention"></i> Possibles conflits de parcours avec d'autres manifestations
            </div>
            <ul class="list-group mb-3">
                <li class="list-group-item">
                    <div class="alert alert-warning">
                        {% with conflit=manif.get_manifs_meme_jour_meme_ville %}
                            {% if conflit %}
                                <p>Un risque de conflit est identifié avec la (ou les) manifestation(s) suivantes :</p>
                                <ul>
                                    {% for manifestation in conflit %}
                                        <li><strong>{{ manifestation }}</strong>
                                            {% if manifestation.get_instruction %}
                                                <a href="{{ manifestation.get_instruction.get_absolute_url }}" target='_blank'>
                                                    (accès au dossier)</a>
                                            {% else %}
                                                <span>(dossier pas encore envoyé)</span>
                                            {% endif %}
                                            <br>organisée par <em>{{ manifestation.structure }}</em>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endif %}
    <div class="card-header">
        Balisage
    </div>
    <ul class="list-group mb-3">
        <li class="list-group-item">Vous êtes signataire de la charte du balisage temporaire : {{ manif.convention_balisage|yesno|title }}</li>
    {% if manif.balisage %}
        <li class="list-group-item">Description du Balisage : {{ object.get_cerfa.balisage }}</li>
    {% endif %}
    </ul>
    <div class="card-header">
        Évaluation d'incidences Natura2000
    </div>
    <ul class="list-group mb-3">
        {% if manif.gros_budget %}
            <li class="list-group-item">Le budget de la manifestation excède 100 000 €</li>
        {% endif %}
        {% if manif.lucratif %}
            <li class="list-group-item">Manifestation présentant un caractère lucratif et regroupant sur un même site plus de 1 500 personnes</li>
        {% endif %}
        {% if manif.gros_titre %}
            <li class="list-group-item">Manifestation donnant lieu à la délivrance d'un titre national ou international</li>
        {% endif %}
        {% if manif.vtm_hors_circulation %}
            <li class="list-group-item">Manifestation avec engagement de véhicules terrestres à moteur se déroulant en dehors des voies ouvertes à la circulation
            </li>
        {% endif %}
        {% if manif.vtm_natura2000 %}
            <li class="list-group-item">Manifestation avec engagement de véhicules terrestres à moteur se déroulant
                sur des voies ouvertes à la circulation et à l'intérieur d'un périmètre Natura2000
            </li>
        {% endif %}
        {% if manif.demande_homologation %}
            <li class="list-group-item">Manifestation avec demande d'homologation d'un circuit de sports motorisés</li>
        {% endif %}
    </ul>
{% endif %}
{% if manif.nom_contact %}
    <div class="card-header">
        <i class="telephone"></i> Personne à contacter sur place
    </div>
    <ul class="list-group mb-3">
        <li class="list-group-item">
            {{ manif.prenom_contact|capfirst }} {{ manif.nom_contact|capfirst }} - {{ manif.tel_contact }}
        </li>
    </ul>
{% endif %}
    <div class="card-header">
        <i class="pj"></i> Documents joints
    </div>
    <ul class="list-group mb-3">
        {% for pj in manif.piece_jointe.all %}
            {% if pj.document_attache %}
                <li class="list-group-item">{{ pj.nom }} :
                    <a href="{{ pj.document_attache.url }}" target='_blank'>{{ pj.document_attache|basename }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>



{% if rnrevaluation %}
    <h2>Évaluation RNR</h2>
    {% include 'evaluation_incidence/evaluationrnr_pdf.html' with evaluation=rnrevaluation %}
{% endif %}

{% if n2kevaluation %}
     <h2>Évaluation Natura2000</h2>
     {% include 'evaluation_incidence/evaluationn2k_pdf.html' with evaluation=n2kevaluation %}

{% endif %}




<style>
    @page  {
        size: A4;
        margin: 1cm;
    }
    .head{
        padding: 0.3cm;
    }
    .list-group-item{
        margin: 0.4em;
    }
    .card-header{
      font-weight: bold;

    }


</style>