{% load static i18n file_tags %}

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<div class="head"><img src="{% static 'portail/img/Logo_vert.png' %}"/></div>

<h1>Manifestation : {{ manif }}</h1>


<div>
    <div class="card-header">Détails</div>

    <ul class="list-group mb-3">
        <li class="list-group-item"> {{ manif.description|linebreaksbr }}</li>
        {% if manif.observation %}
            <li class="list-group-item">Observations : {{ manif.observation|linebreaksbr }}</li>
        {% endif %}
    </ul>
    <ul class="list-group mb-3">
        <li class="list-group-item"><i class="date"></i>Début : {{ manif.date_debut }}</li>
        <li class="list-group-item"><i class="date"></i>Fin : {{ manif.date_fin }}</li>
        <li class="list-group-item"><i class="activite"></i> Activité : {{ manif.activite.discipline }} - {{ manif.activite }}</li>
        {% if manif.dcnm %}
            <li class="list-group-item"> Affilié à la fédération délégataire de la discipline pratiquée
                : {{ manif.dcnm.affiliation|yesno|title }}</li>
        {% endif %}
        <li class="list-group-item"><i class="date"></i>La manifestation est inscrite sur le calendrier de la fédération délégataire de la discipline
            : {{ manif.dans_calendrier|yesno|title }}</li>
        <li class="list-group-item"><i class="voie-publique"></i> Sur voie publique ou ouverte à la circulation publique : {{ manif.activite|yesno|title }}</li>
        <li class="list-group-item"><i class="lieu"></i> Commune de départ : {{ manif.ville_depart|capfirst }}</li>
        <li class="list-group-item"><i class="lieu"></i> Communes traversées :
            {% for city in manif.villes_traversees.all %}
                {% if forloop.last %}
                    {{ city }}.
                {% else %}
                    {{ city }},
                {% endif %}
            {% endfor %}
        </li>
        <li class="list-group-item">Autres départements traversés par la manifestation :
            {% for departement in manif.departements_traverses.all %}
                {% if forloop.last %}
                    {{ departement }}.
                {% else %}
                    {{ departement }},
                {% endif %}
            {% endfor %}
        </li>
        <li class="list-group-item">Places spectateurs : {{ manif.nb_spectateurs }}</li>
        <li class="list-group-item">Nombre de participants : {{ manif.nb_participants }}</li>
        {% if manif.dvtm.nb_personnes_pts_rassemblement %}
            <li class="list-group-item">Nombre de personnes aux points de rassemblement : {{ manif.dvtm.nb_personnes_pts_rassemblement }}</li>
        {% endif %}
        {% if manif.dnm or manif.dnmc or manif.dcnm or manif.dcnmc %}
            <li class="list-group-item">Départ groupé des participants : {{ manif.get_cerfa.depart_groupe|yesno|title }}</li>
            <li class="list-group-item">Circulation groupée des participants: {{ manif.get_cerfa.circul_groupe|yesno|title }}</li>
        {% endif %}
        {% if not manif.avtmcir %}
            <li class="list-group-item">Nombre de véhicules d'accompagnement : {{ manif.get_cerfa.nb_vehicules_accompagnement }}</li>
        {% endif %}
        {% if manif.avtmcir.type_support %}
            <li class="list-group-item">Type de support : {{ manif.avtmcir.get_type_support_display }}</li>
            <li class="list-group-item">Circuit homologué : {{ manif.avtmcir.circuit_homologue|yesno:"Oui,Non" }}</li>
        {% endif %}
        {% if manif.avtm.vehicles or manif.dvtm.vehicles %}
            <li class="list-group-item">Type et nombre de véhicules : {{ manif.get_cerfa.vehicles|linebreaks }}</li>
        {% endif %}
    </ul>
    <div class="card-header">
        <i class="organisateur"></i> Organisateur
    </div>
    <ul class="list-group mb-3">
        <li class="list-group-item">Déclarant : {{ manif.structure.organisateur.user.get_full_name }}</li>
        <li class="list-group-item">Structure : {{ manif.structure|capfirst }} ({{ manif.structure.type_of_structure }})</li>
        <li class="list-group-item">Adresse : {{ manif.structure.address }}, {{ manif.structure.commune.zip_code }} {{ manif.structure.commune|upper }}</li>
        <li class="list-group-item">Numéro de téléphone : {{ manif.structure.phone }}</li>
        <li class="list-group-item">E-mail : {{ manif.structure.organisateur.user.email }}</li>
    </ul>
    <div class="card-header">
        {% if manif.dnm or manif.dnmc or manif.dcnm or manif.dcnmc %}
            Coordonnateur Sécurité
        {% else %}
            Organisateur Technique
        {% endif %}
    </div>
    <ul class="list-group mb-3">
        <li class="list-group-item">Nom : {{ manif.get_cerfa.technique_nom|capfirst }}{{ manif.get_cerfa.securite_nom|capfirst }}</li>
        <li class="list-group-item">Prénom : {{ manif.get_cerfa.technique_prenom|capfirst }}{{ manif.get_cerfa.securite_prenom|capfirst }}</li>
        <li class="list-group-item">Numéro de téléphone : {{ manif.get_cerfa.technique_tel }}{{ manif.get_cerfa.securite_tel }}</li>
        <li class="list-group-item">E-mail : {{ manif.get_cerfa.technique_email }}{{ manif.get_cerfa.securite_email }}</li>
    </ul>
    {% if manif.dnm or manif.dnmc or manif.dcnm or manif.dcnmc %}
        <div class="card-header">
            Régime de circulation publique
        </div>
        <ul class="list-group mb-3">
            {% if manif.get_cerfa.respect_code_route %}
                <li class="list-group-item">Respect du code de la route : {{ manif.get_cerfa.respect_code_route|yesno|title }}</li>
                {% if manif.get_cerfa.respect_code_route_detail != '' %}
                    <li class="list-group-item">Voies empruntées et horaires de passage : {{ manif.get_cerfa.respect_code_route_detail }}</li>
                {% endif %}
            {% endif %}
            {% if manif.get_cerfa.priorite_passage %}
                <li class="list-group-item">Priorité de passage : {{ manif.get_cerfa.priorite_passage|yesno|title }}</li>
                {% if manif.get_cerfa.priorite_passage_detail != '' %}
                    <li class="list-group-item">Voies empruntées et horaires de passage : {{ manif.get_cerfa.priorite_passage_detail }}</li>
                {% endif %}
            {% endif %}
            {% if manif.get_cerfa.usage_temporaire %}
                <li class="list-group-item">Usage exclusif temporaire de la chaussée : {{ manif.get_cerfa.usage_temporaire|yesno|title }}</li>
                {% if manif.get_cerfa.usage_temporaire_detail != '' %}
                    <li class="list-group-item">Voies empruntées et horaires de passage : {{ manif.get_cerfa.usage_temporaire_detail }}</li>
                {% endif %}
            {% endif %}
            {% if manif.get_cerfa.usage_privatif %}
                <li class="list-group-item">Usage privatif de la chaussée : {{ manif.get_cerfa.usage_privatif|yesno|title }}</li>
                {% if manif.get_cerfa.usage_privatif_detail != '' %}
                    <li class="list-group-item">Voies empruntées et horaires de passage : {{ manif.get_cerfa.usage_privatif_detail }}</li>
                {% endif %}
            {% endif %}
        </ul>
    {% endif %}
    {% if manif.dnm or manif.dnmc or manif.dcnm or manif.dcnmc %}
        <div class="card-header">
            Dispositif de sécurité
        </div>
        <ul class="list-group mb-3">
                <li class="list-group-item">Présence d'un véhicule d'ouverture (véhicule "pilote") :
                    {{ manif.get_cerfa.vehicule_ouverture|yesno|title }}</li>
                <li class="list-group-item">Présence d'un véhicule de début de course (véhicule "tête de course") :
                    {{ manif.get_cerfa.vehicule_debut|yesno|title }}</li>
                <li class="list-group-item">Présence d'un véhicule de fin de course :
                    {{ manif.get_cerfa.vehicule_fin|yesno|title }}</li>
                <li class="list-group-item">Présence d'autres véhicules d'organisation (auto ou moto) :
                    {{ manif.get_cerfa.vehicule_organisation|yesno|title }}</li>
        </ul>
        <ul class="list-group mb-3">
            <li class="list-group-item">Nombre de signaleurs : {{ manif.get_cerfa.nb_signaleurs }}</li>
            {% if manif.get_cerfa.nb_signaleurs and manif.get_cerfa.nb_signaleurs != 0 %}
                <li class="list-group-item">En postes fixes : {{ manif.get_cerfa.nb_signaleurs_fixes }}</li>
                <li class="list-group-item">Mobiles en voitures : {{ manif.get_cerfa.nb_signaleurs_autos }}</li>
                <li class="list-group-item">Mobiles en motos : {{ manif.get_cerfa.nb_signaleurs_motos }}</li>
            {% endif %}
        </ul>
        <ul class="list-group mb-3">
                <li class="list-group-item">Encadrement de la police municipale : {{ manif.get_cerfa.police_municipale|yesno|title }}</li>
                {% if manif.get_cerfa.police_municipale %}
                    <li class="list-group-item">Moyens affectés : {{ manif.get_cerfa.detail_police_municipale }}</li>
                {% endif %}
                <li class="list-group-item">Convention avec la police nationale ou la gendarmerie : {{ manif.get_cerfa.police_nationale|yesno|title }}</li>
                {% if manif.get_cerfa.police_nationale %}
                    <li class="list-group-item">Moyens affectés : {{ manif.get_cerfa.detail_police_nationale }}</li>
                {% endif %}
        </ul>
    {% endif %}
    <div class="card-header">
        <i class="carto"></i> Cartographie de parcours
    </div>
    <ul class="list-group mb-3">
        {% if manif.parcours_openrunner %}
            {% for route_id, route_name in manif.get_parcours_manif.items %}
                <li class="list-group-item">
                    {% if user.organisateur %}
                        {% if request.resolver_match.namespace == "evenements" %}
                            <a href="{% url 'carto:route_view' route_ids=route_id role='organizer' %}" target="_blank">{{ route_name }}</a>
                        {% endif %}
                    {% endif %}
                    {% if user.instructeur or user.agent or user.agentlocal %}
                        {% if request.resolver_match.namespace == "instructions" or request.resolver_match.namespace == "agreements" or request.resolver_match.namespace == "sub_agreements" %}
                            <a href="{% url 'carto:route_instructor' route_ids=route_id role='instructor' %}" target="_blank">{{ route_name }}</a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">
                Pas de parcours cartographie de parcours pour cette manifestation
            </li>
        {% endif %}
        <li class="list-group-item"> Description des parcours : {{ manif.descriptions_parcours|linebreaksbr }}</li>
    </ul>
    {% if not user.organisateur or user.instructeur %}
        {% if manif.get_manifs_meme_jour_meme_ville %}
            <div class="card-header">
                <i class="attention"></i> Possibles conflits de parcours avec d'autres manifestations
            </div>
            <ul class="list-group mb-3">
                <li class="list-group-item">
                    <div class="alert alert-warning">
                        {% with conflit=manif.get_manifs_en_conflit_avec_OR %}
                            {% if conflit %}
                                <p>Un risque de conflit est identifié avec la (ou les) manifestation(s) suivantes :</p>
                                <ul>
                                    {% for manifestation in conflit %}
                                        <li><strong>{{ manifestation }}</strong>
                                            {% if manifestation.instruction %}
                                                <a href="{{ manifestation.instruction.get_absolute_url }}" target='_blank'>
                                                    (accès au dossier)</a>
                                            {% else %}
                                                <span>(dossier pas encore envoyé)</span>
                                            {% endif %}
                                            <br>organisée par <em>{{ manifestation.structure }}</em>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <a href="{% url 'carto:route_instructor' route_ids=manif.get_str_ids_parcours_en_conflit role='instructor' %}"
                                   target='_blank' class="btn btn-warning"><i class="carto"></i>
                                    Afficher leurs cartographies de parcours</a>
                            {% endif %}
                        {% endwith %}
                        {% with conflit=manif.get_manifs_en_conflit_sans_OR %}
                            {% if conflit %}
                                <hr>
                                <p>Un risque de conflit est identifié avec la (ou les) manifestation(s) suivantes
                                    <u>qui n'ont pas de cartographie de parcours</u> : </p>
                                <ul>
                                    {% for manifestation in conflit %}
                                        <li><strong>{{ manifestation }}</strong>
                                            {% if manifestation.instruction %}
                                                <a href="{{ manifestation.instruction.get_absolute_url }}" target='_blank'>
                                                    (accès au dossier)</a>
                                            {% else %}
                                                <span>(dossier pas encore envoyé)</span>
                                            {% endif %}
                                            <br>organisée par <em>{{ manifestation.structure }}</em>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </li>
            </ul>
        {% endif %}
    {% endif %}
    <div class="card-header">
        Balisage
    </div>
    <ul class="list-group mb-3">
        <li class="list-group-item">Vous êtes signataire de la charte du balisage temporaire : {{ manif.convention_balisage|yesno|title }}</li>
        {% if manif.balisage %}
            <li class="list-group-item">Description du Balisage : {{ object.get_cerfa.balisage }}</li>
        {% endif %}
    </ul>
    <div class="card-header">
        Évaluation d'incidences Natura2000
    </div>
    <ul class="list-group mb-3">
        {% if manif.gros_budget %}
            <li class="list-group-item">Le budget de la manifestation excède 100 000 €</li>
        {% endif %}
        {% if manif.lucratif %}
            <li class="list-group-item">Manifestation présentant un caractère lucratif et regroupant sur un même site plus de 1 500 personnes</li>
        {% endif %}
        {% if manif.gros_titre %}
            <li class="list-group-item">Manifestation donnant lieu à la délivrance d'un titre national ou international</li>
        {% endif %}
        {% if manif.vtm_hors_circulation %}
            <li class="list-group-item">Manifestation avec engagement de véhicules terrestres à moteur se déroulant en dehors des voies ouvertes à la circulation
            </li>
        {% endif %}
        {% if manif.vtm_natura2000 %}
            <li class="list-group-item">Manifestation avec engagement de véhicules terrestres à moteur se déroulant
                sur des voies ouvertes à la circulation et à l'intérieur d'un périmètre Natura2000
            </li>
        {% endif %}
        {% if manif.demande_homologation %}
            <li class="list-group-item">Manifestation avec demande d'homologation d'un circuit de sports motorisés</li>
        {% endif %}
    </ul>
    {% if manif.nom_contact %}
        <div class="card-header">
            <i class="telephone"></i> Personne à contacter sur place
        </div>
        <ul class="list-group mb-3">
            <li class="list-group-item">
                {{ manif.prenom_contact|capfirst }} {{ manif.nom_contact|capfirst }} - {{ manif.tel_contact }}
            </li>
        </ul>
    {% endif %}
    <div class="card-header">
        <i class="doc"></i> Documents joints
    </div>
    <ul class="list-group mb-3">
        {% if manif.cartographie %}
            <li class="list-group-item">Cartographie :
                <a href="{{ manif.cartographie.url }}" target='_blank'>{{ manif.cartographie|basename }}</a></li>
        {% endif %}
        {% if manif.reglement_manifestation %}
            <li class="list-group-item">Réglement de la manifestation :
                <a href="{{ manif.reglement_manifestation.url }}" target='_blank'>{{ manif.reglement_manifestation|basename }}</a></li>
        {% endif %}
        {% if manif.engagement_organisateur %}
            <li class="list-group-item">Déclaration et engagement de l'organisateur :
                <a href="{{ manif.engagement_organisateur.url }}" target='_blank'>{{ manif.engagement_organisateur|basename }}</a></li>
        {% endif %}
        {% if manif.disposition_securite %}
            <li class="list-group-item">Dispositions prises pour la sécurité :
                <a href="{{ manif.disposition_securite.url }}" target='_blank'>{{ manif.disposition_securite|basename }}</a></li>
        {% endif %}
        {% if manif.topo_securite %}
            <li class="list-group-item">Sécurisation des épreuves :
                <a href="{{ manif.topo_securite.url }}" target='_blank'>{{ manif.topo_securite|basename }}</a>
            </li>
        {% endif %}
        {% if manif.presence_docteur %}
            <li class="list-group-item">Attestation de présence de médecin(s) :
                <a href="{{ manif.presence_docteur.url }}" target='_blank'>{{ manif.presence_docteur|basename }}</a></li>
        {% endif %}
        {% if manif.certificat_assurance %}
            <li class="list-group-item">Attestation d'assurance :
                <a href="{{ manif.certificat_assurance.url }}" target='_blank'>{{ manif.certificat_assurance|basename }}</a></li>
        {% endif %}
        {% if manif.docs_additionels %}
            <li class="list-group-item">Documents complémentaires :
                <a href="{{ manif.docs_additionels.url }}" target='_blank'>{{ manif.docs_additionels|basename }}</a></li>
        {% endif %}
        {% if manif.charte_dispense_site_n2k %}
            <li class="list-group-item">Charte de dispense Natura 2000 :
                <a href="{{ manif.charte_dispense_site_n2k.url }}" target='_blank'>{{ manif.charte_dispense_site_n2k|basename }}</a></li>
        {% endif %}
        {% if manif.convention_police %}
            <li class="list-group-item">Convention service d'ordre :
                <a href="{{ manif.convention_police.url }}" target='_blank'>{{ manif.convention_police|basename }}</a></li>
        {% endif %}
        {% if manif.cerfa.carte_zone_public %}
            <li class="list-group-item">Carte zone publique :
                <a href="{{ manif.cerfa.carte_zone_public.url }}" arget='_blank'>{{ manif.cerfa.carte_zone_public|basename }}</a></li>
        {% endif %}
        {% if manif.cerfa.commissaires %}
            <li class="list-group-item">Liste des postes commissaires :
                <a href="{{ manif.cerfa.commissaires.url }}" target='_blank'>{{ manif.cerfa.commissaires|basename }}</a></li>
        {% endif %}
        {% if manif.cerfa.certificat_organisateur_tech %}
            <li class="list-group-item">Attestation organisateur technique :
                <a href="{{ manif.cerfa.certificat_organisateur_tech.url }}" target='_blank'>{{ manif.cerfa.certificat_organisateur_tech|basename }}</a>
            </li>
        {% endif %}
        {% if manif.cerfa.itineraire_horaire %}
            <li class="list-group-item">Itinéraire horaire :
                <a href="{{ manif.cerfa.itineraire_horaire.url }}" target='_blank'>{{ manif.cerfa.itineraire_horaire|basename }}</a></li>
        {% endif %}
        {% if manif.cerfa.participants %}
            <li class="list-group-item">Liste complète des participants :
                <a href="{{ manif.cerfa.participants.url }}" target='_blank'>{{ manif.cerfa.participants|basename }}</a></li>
        {% endif %}
        {% if manif.cerfa.avis_federation_delegataire %}
            <li class="list-group-item">Avis fédération délégataire :
                <a href="{{ manif.cerfa.avis_federation_delegataire.url }}" target='_blank'>{{ manif.cerfa.avis_federation_delegataire|basename }}</a></li>
        {% endif %}
        {% if manif.cerfa.plan_masse %}
            <li class="list-group-item">Plan de masse :
                <a href="{{ manif.cerfa.plan_masse.url }}" target='_blank'>{{ manif.cerfa.plan_masse|basename }}</a></li>
        {% endif %}
        {% if manif.dcnm.liste_signaleurs or manif.dcnmc.liste_signaleurs %}
            <li class="list-group-item">Liste des signaleurs :
                <a href="{{ manif.get_cerfa.liste_signaleurs.url }}" target='_blank'>{{ manif.get_cerfa.liste_signaleurs|basename }}</a></li>
        {% endif %}
        {% if manif.dnmc.dossier_tech_cycl or manif.dcnmc.dossier_tech_cycl %}
            <li class="list-group-item">Dossier technique de manifestation cycliste :
                <a href="{{ manif.get_cerfa.dossier_tech_cycl.url }}" target='_blank'>{{ manif.get_cerfa.dossier_tech_cycl|basename }}</a></li>
        {% endif %}
    </ul>
</div>



{% if manif.rnrevaluations %}
    <h2>Évaluation RNR</h2>
    {% include 'evaluations/rnrevaluation_detail.html' with evaluation=manif.rnrevaluations %}
{% endif %}

{% if manif.natura2000evaluations %}
     <h2>Évaluation Natura 2000</h2>
     {% include 'evaluations/n2kevaluation_detail.html' with evaluation=manif.natura2000evaluations %}

{% endif %}




<style>
    @page  {
        size: A4;
        margin: 1cm;
    }
    .head{
        padding: 0.3cm;
    }
    .list-group-item{
        margin: 0.4em;
    }
    .card-header{
      font-weight: bold;

    }


</style>