.picto-vtm {
    width: 27px;
    height: 27px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.picto-vtm.AES {
    background-image: url('images/picto/AES.png');
}

.picto-vtm.CH {
    background-image: url('images/picto/CH.png');
}

.picto-vtm.CSP {
    background-image: url('images/picto/CSP.png');
}

.picto-vtm.depan {
    background-image: url('images/picto/depan.png');
}

.picto-vtm.DES {
    background-image: url('images/picto/DES.png');
}

.picto-vtm.evac_sanitaire {
    background-image: url('images/picto/evac_sanitaire.png');
}

.picto-vtm.extincteur {
    background-image: url('images/picto/extincteur.png');
}

.picto-vtm.fin_zone {
    background-image: url('images/picto/fin_zone.png');
}

.picto-vtm.lignePTT {
    background-image: url('images/picto/Ligne PTT.jpg');
}

.picto-vtm.medecin {
    background-image: url('images/picto/medecin.png');
}

.picto-vtm.panneau-direct-ZP-D {
    background-image: url('images/picto/panneau_direct_ZP_D.png');
}

.picto-vtm.panneau-direct-ZP-G {
    background-image: url('images/picto/panneau_direct_ZP_G.png');
}

.picto-vtm.pietons_interdit {
    background-image: url('images/picto/pietons_interdit.png');
}

.picto-vtm.poste_commissaire {
    background-image: url('images/picto/poste_commissaire.png');
}

.picto-vtm.presignal_AES {
    background-image: url('images/picto/presignal_AES.png');
}

.picto-vtm.presignal_control_hor {
    background-image: url('images/picto/presignal_control_hor.png');
}

.picto-vtm.presignal_poste_commissaire {
    background-image: url('images/picto/presignal_poste_commissaire.png');
}

.picto-vtm.presignal_zebra {
    background-image: url('images/picto/presignal_zebra.png');
}

.picto-vtm.public_interdit {
    background-image: url('images/picto/Public_interdit.png');
}

.picto-vtm.zebra-chgt-dir {
    background-image: url('images/picto/zebra_chgt_dir.png');
}

.picto-vtm.zone_casque {
    background-image: url('images/picto/zone_casque.png');
}

.picto-vtm.ZP {
    background-image: url('images/picto/ZP.png');
}

.picto-vtm.ZP_interdit_ok {
    background-image: url('images/picto/ZP_interdit_ok.png');
}