@font-face {
    font-family: "Pois";
    src: url('../fonts/openrunner.eot');
    src: url("../fonts/openrunner.woff") format("woff"),
    url("../fonts/openrunner.woff2") format("woff2"),
    url("../fonts/openrunner.otf") format("opentype");
}

.poi {
    font-family: 'Pois';
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.filter-select {
    line-height: 2rem !important;
}

.filter-data {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
}