<div class="modal fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="filters" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Filtre</h4>
                <button id="btn-close-modal-avis" type="button" class="col-1 btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                {% for element in elements %}
                    {% if not forloop.first %}<hr/>{% endif %}
                    {{ element }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
