{% extends "base.html" %}


{% load i18n %}

{% block head_title %}Choix du Type de Manifestation Non Motorisée{% endblock %}
{% block page_title %}
    <h1>
        <i class="sans-vtm"></i>
        <i class="sans-competition"></i>
        Nombre de participants ? </h1>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="list-group">
            <a href="{% url 'events:declarationnm_add' %}?dept={{ request.GET.dept }}" class="list-group-item list-group-item-action">
                <h3>
                <i class="nombreux-participants"></i>
                    Oui</h3>
                Cette manifestation prévoit la circulation en un point déterminé de la voie publique ou de ses dépendances de : <br/>
                -  Plus de 100 participants
            </a>
            <a href="{% url 'events:dashboard' %}" class="list-group-item list-group-item-action">
                <h3>Non</h3>
                La déclaration en préfecture n'est pas nécessaire dans ce cas<br/>
                <i class="retour"></i> Revenir au tableau de bord <i class="tableau-de-bord left-margin"></i>
            </a>
        </div>
    </div>
{% endblock %}
