{% extends "base.html" %}


{% load i18n %}

{% block head_title %}Choix du Type de Manifestation Non Motorisée{% endblock %}
{% block page_title %}
    <h1>
        <i class="sans-vtm"></i>
        Vous organisez une compétition ? </h1>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="list-group">
            <a href="{% url 'events:autorisationnm_add' %}?dept={{ request.GET.dept }}" class="list-group-item list-group-item-action">
                <h3>
                    <i class="competition"></i>
                    Oui</h3>
                Avec horaire fixe ou classement, vitesse ou moyenne imposée
            </a>
            <a href="{% url 'events:declarationnm_choose' %}?dept={{ request.GET.dept }}" class="list-group-item list-group-item-action">
            <h3>
                    <i class="sans-competition"></i>
                    Non</h3>
            </a>
        </div>
    </div>
{% endblock %}
