<template>
  <component :is="type"
             :tag="tag"
             v-bind="$attrs"
             v-on="hooks">
    <slot></slot>
  </component>
</template>
<script>
export default {
  props: {
    duration: {
      type: Number,
      default: 300
    },
    group: {
      type: Boolean,
      default: false
    },
    tag: {
      type: String,
      default: "div"
    }
  },
  computed: {
    type() {
      return this.group ? "transition-group" : "transition";
    },
    hooks() {
      return {
        beforeEnter: this.setDuration,
        afterEnter: this.cleanUpDuration,
        beforeLeave: this.setDuration,
        afterLeave: this.cleanUpDuration,
        leave: this.setAbsolutePosition,
        ...this.$listeners
      };
    }
  },
  methods: {
    setDuration(el) {
      el.style.animationDuration = `${this.duration}ms`;
    },
    cleanUpDuration(el) {
      el.style.animationDuration = "";
    },
    setAbsolutePosition(el) {
      if (this.group) {
        el.style.position = "absolute";
      }
    }
  }
};
</script>
<style>
.fade-enter-active, .fade-leave-active {
  transition: all 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-leave-from,
.fade-enter-to {
  opacity: 1;
}


.modal-enter-active, .modal-leave-active {
  transition: all 0.5s;
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
}

.modal-leave-from,
.modal-enter-to {
  opacity: 1;
}
.modal-enter-active #modal-content, .modal-leave-active #modal-content {
  transition: all 0.5s;
}

.modal-enter #modal-content,
.modal-leave-to #modal-content {
  transform: scale(0);
}

.modal-leave-from #modal-content,
.modal-enter-to #modal-content {
  transform: scale(1);
}
</style>


<style scoped>
/*
  TRANSITION SUR LE CONTENT
  ne fonctionne pas dans le composant de transition
*/

</style>
