.or-help-title {
    display: flex;
    font-size: 1.1em;
    padding: 0 1em;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 6px;
    text-align: center;
    justify-content: center;
}

.or-layers-title, .or-overlays-title{
    font-size: 1.1em;
    padding: 0 1em;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 6px;
    text-align: center;
}

.or-layers-group-name{
    padding: 1em 0 0 1em !important;
    font-size: 1.1em !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    justify-content: center !important;
}

.or-layers-layer-name{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: var(--white);
    font-size: var(--fs-small);
}
.op-overlays-group-title{
    display: flex;
    border-bottom: 1px solid var(--white);
    text-transform: uppercase;
    justify-content: center;
    font-size: var(--fs-subtitle);
    padding: 1em;
    font-weight: normal;
    margin-bottom: 0.25em;
}
.op-overlays-element{
    display: flex;
    flex-grow: 1;
    position: relative;
    padding: 0 0.5em 0 0.5em;
    margin-bottom: 0.25em;
}
.op-overlays-element * {
    min-width: 0;
    min-height: 0;
}
.op-overlays-element-input{
    display: flex;
    flex-grow: 1;
    margin-bottom: 0.25em;
}
.op-overlays-element-input:hover{
    border: 2px solid white;
}
.op-overlays-element-input input[type="checkbox"] ~ .op-overlays-element-label .op-overlays-element-bottom{
    display: none;
}
.op-overlays-element-input input[type="checkbox"]:checked ~ .op-overlays-element-label .op-overlays-element-bottom{
    display: flex;
}
.op-overlays-element-color{
    display: flex;
    align-self: center;
    padding: 0.5em;
}
.op-overlays-element-bottom{
    justify-content: space-between;
    padding: 0 1em 0.3em 1em;
}
.op-overlays-element-title{
    display: flex;
    font-size: var(--fs-default);
    padding-left: 8px;
    font-weight: normal;
}

.or-panel-title {
    font-size: 1.1em;
    padding: 0 1em;
    margin-bottom: 6px;
    font-weight: 700;
    text-align: center;
}
.or-options-title{
    font-size: 1.1em;
    padding: 0 1em;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 6px;
    text-align: center;
}