body.app-auth.model-group .selector {
    width: 100%;
}

body.app-auth.model-group .selector-available, body.app-auth.model-group .selector-chosen {
    width: 800px;
}

body.app-auth.model-group .selector select {
    width: 100%;
}

.pseudo-light {
    font-size: x-small;
    color: #666666;
    font-style: italic;
}

.multi-inline li {
    display: inline-block;
}

.actions>label{
    margin-left: 0.5em;
}

.textadmin .description {
    color: red;
    font-size: 14px;
}

.inline-group .textadmin {
    margin-left: 50px;
    width: unset;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: white !important;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #79aec8;
  border: 1px solid #6f666a;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Présentation configuration d'instance */
label[for^="id_avis_direct_"] {
    width: 360px !important;
}

label[for^="id_preavis_non_bloquant_"] {
    width: 500px !important;
}

[class^="fieldBox field-workflow_"] {
    width: 360px !important;
}

[class^="fieldBox field-workflow_"] label  {
    width: 120px !important;
}
