/*

Vert principal : #9aa400
Vert plus foncé : #7d9100
Vert plus clair : #869200
Bleu : #015A70
Gris taupe : #857865

overides html tag
overides classes
custom classes
navbar
overrides bootstrap
BS switch
overrides Bootstrap 4 Ti-Ta-Toggle
footer
Div ctx-help
Tooltip
#accordion
#histoaccordion
tabs & nav-tabs
icone
#scrollToTop : retour haut de page
post-date
 */

@font-face {
    font-family:"Lato";
    src: url("/static/libs/font-lato/Lato-Regular.ttf") /* TTF file for CSS3 browsers */
}

/* bof html tag */

body {
    padding-top: 75px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Lato", "Open Sans", "Helvetica Neue";
}

body, .btn, .form-control {
    font-size: 0.85rem;
}

#nav_obselete{
    margin: 1em;
    border: #dc3545 2px solid;
    padding: 1em;
    border-radius: 15px;
    color: #dc3545;
    background-color: #f5c6cb;
    font-weight: bold;
}

@media all and (max-width: 768px) {
    body {
        padding-bottom: 0;
        display: block;
    }
}

a {
    color: #015A70;
}

a li div:hover {
    box-shadow: 10px 5px 5px black;
}

a:not([href*='manifestationsportive.fr']):not([href^='#']):not([href^='/']):not([class*='ui-menu-item-wrapper']):not([class*='no_external']):not([class*='search-choice-close']):not([href^='javascript']):not([class^='cke_combo_button']):not([class^='cke_button']):not([class^='chosen-single']):after {
    font-family: "Font Awesome 5 Pro";
    content: " \f08e";
    font-size: xx-small;
    vertical-align: super;
    font-weight: 300;
}

#calendar a:after{
    content: ""
}
#calendar a{
    color: #0a0a0a;
}

.h1, h1 {
    font-size: 19px;
    letter-spacing: 0.1em;
}

.h2, h2 {
    font-size: 17px;
}

.h3, h3 {
    font-size: 15px;
    margin-top: 20px;
}

.h1, .h2, .h3, h1, h2 {
    margin: 6px 0;
    color: #015a70;
}

p {
    word-wrap: break-word;
}

blockquote {
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 20px;
    border-left: 5px solid #eee;
}

legend, .legend{
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-bottom: 1px solid #869200;
}

.desc_manif{
    padding-bottom: 5px;;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: black;
    border-bottom: 2px solid #869200;
}

input[disabled=disabled], input[readonly=readonly]{
    cursor: not-allowed;
}

em {
    margin-right: 2px;
}

/* eof html tag */

/* bof overides classes */

ul.chosen-choices::before, input.ui-autocomplete-input::before {
    content: "▼";
    float: right;
    font-size: 18px;
    color: #aaaaaa;
    cursor: pointer;
}
ul.chosen-choices li.chosen-sync-icon {
    margin: 2px 8px 0 0px;
    color: #FFFFFF;
    background-color: #015A70;
    border-radius: 4px;
    padding: 2px 2px 2px 6px;
}

.chosen-mod .chosen-single {
    line-height: 32px !important;
}
.chosen-mod .chosen-single div {
    top: 5px !important
}

.fa {
    margin-right: 5px;
}

.scroll-table {
    display: block;
    max-height: 600px;
    overflow-y: scroll;
}

.float-end + .float-end {
    margin-right: 10px;
}

#page-header {
    background-color: #fbfbfb;
    margin: 10px 0 20px;
    min-height: 0;
    padding: 4px 14px;
    border-color: #ddd;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom: 5px solid #ddd;
    border-left-width: 1px;
    border-radius: 4px 4px 0 0;
    color: #015a70;
    font-size: 1rem;
}
#page-header:empty {
    display: none;
}

#page-header .h1, #page-header h1 {
    margin: 6px 0;
    color: #015a70;
    background-color: #ffffff;
    padding: 6px;
    text-transform: inherit;
    font-weight: 500;
}

.resume {
    background-color: #015A70!important;
    margin: 10px 0 20px;
    min-height: 0;
    padding: 14px 14px;
    border-color: #ddd;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom: 5px solid #ddd;
    border-left-width: 1px;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
    font-size: 0.9rem;
}
.resume:empty {
    display: none;
}
.resume .declaration i, .resume .autorisation i {
    /* icone */
    color: #ffffff !important;
}
.resume .declaration .fa-layers-text, .resume .autorisation .fa-layers-text {
    color: #000000 !important;
}

.django-ckeditor-widget {
    width: 100%;
    padding-right: 8px;
}

.btn-lg {
    font-size: 1rem;
}

.bg-info i.deplier.text-white {
    font-size: 1.3em;
    line-height: 1.3em;
}

input[name$=clear] {
    margin-left: 35px;
}

.hover-dark:hover i {
  color: #fff !important;
}

.invitation-liste .list-group-flush li {
    border-bottom: 0;
}

/* eof overides classes */

/* bof custom classes */

.hover-cursor-zoom {
    border: 1px solid #dddddd;
}
.hover-cursor-zoom:hover {
    cursor: zoom-in;
    border-color: #9aa400;
    box-shadow: 0px 0px 12px #ddd;
}

.cursor-pointer {
    cursor: pointer;
}

.hover-dark:hover {
    background-color: #6c757d;
    color: #ffffff;
}

.table {
    background-color: #ffffff;
}

#piecejointe{
    /*padding: 1em;*/
}

table#instruction-table > thead.filter > tr th:first-child {
    width: 140px;
}

table#instruction-table {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
}

table#manif-table {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    word-wrap:break-word;
}

thead.filter > tr > th {
    padding: unset;
}

thead.filter > tr > th > select {
    padding: unset;
}

.clickligne {
    cursor: pointer;
}

#demandeavis input, #demandeeval_content input{
    width: 100%;
}

#demandeavis form > .form-group {
    margin-bottom: 0;
}
/* Selecteur de service */

#service-liste .name{
    cursor: pointer;
    color: #015A70;
}

#service-liste .name_sous_service{
    cursor: pointer;
    color: #015A70;
}

#modal-categorie-selecteur .badge{
    background: white;
    color: #015A70;
    font-weight: bold;
}
#service-liste .disabled{
    cursor: not-allowed !important;
    color: #6c757d !important;
}

#modal-categorie-selecteur{
    background: #869200;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

#modal-categorie-selecteur li{
    font-weight: bold;
    list-style-type: none;
}

#modal-categorie-selecteur li:not(:last-child){
    border-bottom: 1px solid #6c757d;
}

#modal-categorie-selecteur li:hover {
    background: #6c757d;
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}

#modal-categorie-selecteur .selected{
    background: #015A70;
}

.liste-sous-service{
    list-style: none;
}

#panneau_gauche #accordion h3, #panneau_gauche h3{
    font-size: 1.1rem;
    text-decoration: underline;
    text-decoration-color: #869200;
    text-underline-position: under;
    text-decoration-thickness: 1.5px;
}

#demandeAvisModal .chosen-container{
    width: 75% !important;
}

#demandeAvisModal .modal-content{
    min-height: 450px;
}

#demandeAvisModal .modal-footer{
    background: white;
}

#demandeAvisModal #services{
    background: white;
}

.btn-check:checked + .btn-outline-primary{
    background-color: #015A70;
    border-color: #015A70;
    font-weight: bold;
}

.categorie-hover{
    background-color: #CECECE5E;
}
.get_agent{
    cursor: pointer;
}

.get_agent .fa-user{
    font-size: 1.15em;
}

.agent_container{
    height: 0;
    overflow: hidden;
}

.msg_envoi_col{
    width: 100%;
}
/* Administration des services */
.icone_avis{
    color: purple;
}
.icone_preavis{
    color: orange;
}

.interaction-icon{
    cursor: pointer;
}
#administration-services-container{
    min-height: 35vw;
}

#administration-services-container #detail-container{
    position: relative !important;
}

#edit-structure-form-container{
    height: 0%;
    position: absolute;
    top: 0;
    overflow: hidden;
    background: white;
    width: 100%;
    z-index: 10;
}

#detail-structure-container{
    position: relative;
    height: 100%;
}
#service_selectionne .modal.modal-rel {
    position: absolute;
    z-index: 51;
}

#service_selectionne .modal-backdrop.modal-rel-backdrop {
    position: absolute;
    z-index: 50;
}
#service_selectionne .modal-backdrop{
    width: 100%;
    /*height: 100vw;*/
}

#service_selectionne .modal {
    position: absolute;
    z-index: 51;
}
#administration-services-container h6{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.action_sous_service{
    margin-top: 0.8rem;
    cursor: pointer;
    color: #015A70;
}
.sous_service_show{
    height: 0;
}

#detail-container .nav-tabs .active i{
        color: white !important;
    }

#habilitations-avancees-link{
    color: #015A70;
    cursor: pointer;
}

#habilitations-avancees-link:hover{
    text-decoration: underline;
}
/* Card description avis */

.span-reponse-avis{
    font-weight: bold;
    font-size: 1rem;
    margin: auto 1rem;
}

.collapse-avis .card-body-avis-description .card-item{
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2px;
}
.card-body-avis-description .list-group-item{
    border-radius: 2px;
    /*border: 1px solid silver;*/
}


.permalink {
    float: right;
    margin-top: -20px;
}

.background-contrast {
    background-color: #015A70;
    color: #ffffff;
}

.top-right {
    position: absolute;
    right: 5px;
    top: 11px;
}

.vertical-align {
    display: flex;
    align-items: center
}

.list-no-style {
    list-style-type: none;
    padding-left: 0px;
}

.attendre-archive {
    position: relative;
    z-index: 10;
}

.attendre {
    position: relative;
    font-size: smaller;
    z-index: 5;
    height: 15px;
    width: 0px;
}

.hearder-notification {
    font-size: 16px;
}
.hearder-notification a {
    font-weight: 600;
}

.contenu-reserve {
    font-size: 13px;
    font-weight: normal;
    color: #015a70;
}

.liste-actions a[role="button"] {
    padding: 6px 0;
    display: inline-block;
}

.inline-help {
    font-size: small;
    color: #666666;
    font-style: italic;
}

.pseudo-light {
    font-size: x-small;
    color: #666666;
    font-style: italic;
}

.libelle {
    text-align: right;
}

.mini-text {
  font-size: 0.75rem;
  font-weight: 300;
  color: #666666;
}

/* eof custom classes */

/* bof navbar */


.navbar {
    background: #869200 linear-gradient(to right, #869200, #9aa400);
    border: unset;
}

.navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
}

@media all and (max-width: 1200px) {
    .navbar-brand img {
        height: 35px;
        width: 130px;
    }
}

.navbar-inverse .navbar-nav > li > a, .menu-element, .menu-element:hover {
    display: block;
    /*text-align: right;*/
    color: #fff;
    font-size: 1em;
    padding: 5px 18px;
    text-decoration: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .menu-element:hover {
    background-color: #7d9100;
    /*padding: 12px;*/
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #7d9100;
}
#cpt_msg_nav>a{
    color:inherit;
    text-decoration: none;
    margin-right: 6px;

}
#cpt_msg_nav>a:hover{
    color: inherit;
    text-decoration: none;
}

/* eof navbar */

/* bof overrides bootstrap */
.bg-primary, .bg-primary {
    background-color: #015A70!important;
    color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #015A70;
    border-color: #015A70;
}

.btn-outline-primary {
    color: #015A70;
    background-color: #ffffff;
    border-color: #015A70;
}
.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #015A70;
}

ul.error {
    padding-left: 0;
}

ul.error li {
    list-style: none;
    color: #cf1030;
}

.btn-action {
    float: right;
    min-width: 10em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.btn-fill {
    width: 100%;
}

.card-heading {
    line-height: 1.5em;
}

.card-heading a.btn {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5em;
}

.card-header h4 {
    font-size: 1.2rem;
}

.alert>p, .alert>ul {
    margin-bottom: 0;
}
/*Form avis service categorie*/

#div_id_categorie{
    width: unset !important;
}
#div_id_categorie #id_categorie{
    width: 100%;
    border-right: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 26.9792px;
    padding-top: 3px;
    min-height: 30px !important;
}
#div_id_services_concernes{
    width: unset !important;
}

h1 .btn-sm {
    padding-bottom: 0;
    padding-top: 0;
    letter-spacing: 0;
}

.table-hover tbody tr:hover {
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
}

.btn.btn-light {
    border-color: #d3d9df;
}

/* eof overrides bootstrap */


/* bof BS switch */

.checkbox label {
    padding-left: 0;
}

.bootstrap-switch {
    margin-right: 14px;
}

/* eof BS switch */

/* bof overrides Bootstrap 4 Ti-Ta-Toggle */
/* en lien avec templates/bootstrap4/field.html */

.checkbox-slider--a input:checked + span::after {
    content: "Oui";
    background-color: #9aa400;
    line-height: 18px;
}
.checkbox-slider--a input + span::after {
    content: "Non";
    line-height: 18px;
}
.checkbox-slider--a input + span::after, .checkbox-slider--a input + span::before {
    border-radius: .25rem;
}
.form-check-label:not(.offset_remove) {
    width: 70%;
}

/* eof overrides Bootstrap 4 Ti-Ta-Toggle */

/* bof footer */

footer {
    background-color: #9aa400;
    color: white;
    width: 100%;
    min-height: 50px;
}

#container-footer{
    margin-top: auto;
    min-height: 100px;
    padding-top: 50px;
}




@media all and (max-width: 768px) {
    footer {
        position: relative;
    }
}

footer > .container > h2 {
}

footer a {
    color: #ffffff;
    font-weight: 600;
}

#footer-info {
    color: #FFFFFF;
    font-size: 0.8em;
    padding: 4px;
    text-transform: uppercase;
}

#footer-info a:hover {
    color: #015A70;
}

.summary {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 0 0;
    letter-spacing: 0em;
}
.pipe_separator {
    margin: 0 10px;
}
/* eof footer */

/* bof Div ctx-help */
div[class*="ctx-help"] {
    background-color: white;
    box-shadow: 5px 5px 5px #aeb3b9;
    border: 1px solid #bebebe;
    padding: 0.5em 1.5em 0.1em;
    margin-bottom: 20px;
}

div[class*="mesures"][class*="ctx-help"] {
    background-color: #ffeeba;
}
/* eof Div ctx-help */

/* bof Tooltip */
i[class^="ctx-help-"] {
    color: #9AA400;
    cursor: pointer;
    padding-left: 6px;
}

.tooltip-inner {
    color: #ffffff;
    background-color: #015A70;
    font-family: "Lato", "Open Sans", "Helvetica Neue";
    font-size: 0.85rem;
    text-align: left;
    max-width: 400px;
    white-space: normal;
    padding: 10px;
    line-height: 1.2;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 4px 10px #626262;
}
.tooltip.in, .tooltip.show {
    opacity: 1;
}

.tooltip-inner a {
    color: #ffffff;
    text-decoration: underline;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #303030; /* #015A70;*/
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    border-left-color: #303030; /* #015A70;*/
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #303030; /* #015A70;*/
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: #303030; /* #015A70;*/
}

/* eof Tooltip  */


/* bof #accordion */

div[id^="accordion"] i.fa-plus {
    color: #9aa400;
}

div[id^="accordion"] .panel {
    border: unset;
    background-color: unset;
    box-shadow: unset;
}
div[id^="accordion"] .panel-default > .card-header:hover {
    border: #959F00;
    background-color: unset;
}
div[id^="accordion"] .panel-group .panel {
    border-radius: 0;
}
div[id^="accordion"] .panel-default > .card-header {
    background-color: unset;
    border-color: unset;
}
div[id^="accordion"] .panel-title {
    font-size: 0.9rem;
    font-weight: 600;
}
div[id^="accordion"] .panel-default > .panel-header + .card-collapse > .panel-body {
    border-top: unset;
    border-left:  1px solid #9aa400;
}
div[id^="accordion"] .panel-header {
    padding: 5px;
}

div[id^="accordion"] .panel-body {
    padding: 6px 0 0 10px;
    margin-left: 39px;
    border-left: 1px dotted #9aa400;
}

div[id^="accordion"] .card {
    width: 100%;
    /*border: 1px solid #007bff;*/
    margin-bottom: 15px;
}

div[id^="accordion"] .card p {
    font-size: 14px;
}

/* eof #accordion */

/* bof #histoaccordion */

div[id^="histoaccordion"] .card-body {
    padding: unset;
}

/* eof #histoaccordion */


/* bof tabs & nav-tabs */

.nav-tabs {
    padding: 4px 4px 0;
    background-color: #e9ecef;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
    border: 1px solid #ddd;
}
.nav-tabs > li > a:hover {
    background-color: #ffffff;
}
/* tabs tableau de bord */
.nav-pills {
    padding: 4px 4px 0;
    background-color: #e9ecef;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #99A300;
    border-color: transparent transparent #015A70;
    font-weight: bold;
}

.nav-pills .nav-link.active:hover, .nav-pills .show>.nav-link:hover {
    color: #ffffff;
    background-color: #99A300;
}

/* tabs tableau de bord organisateur */
.nav-tabs .nav-link.active, .nav-tabs .show>.nav-link {
    color: #ffffff;
    background-color: #99A300;
    border-color: transparent transparent #015A70;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent transparent #015A70;
}

/* tabs aide accordion */
.nav-tabs > li > a.active, .nav-tabs > li > a.active:focus, .nav-tabs > li > a.active:hover {
    color: #ffffff;
    background-color: #99A300;
}

.tab-list {
    margin-bottom: 8px;
}

.nav > li > a {
    padding: 6px 10px;
}
.nav-tabs > li > a {
    margin-right: 8px;
    border-radius: unset;
}

.nav .nav-item a, .nav .nav-item button {
    border-radius: .25rem .25rem 0 0;
    margin-right: .25rem;
    border-left: 1px solid #015A70;
    border-top: 1px solid #015A70;
    border-right: 1px solid #015A70;
}

.nav .nav-item:hover a, .nav .nav-item:hover button {
    background-color: #6c757d;
    color: #ffffff;
}

.cadre {
    padding: 6px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    background-color: white;
}

.tab-content {
    /*
    padding: 6px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    background-color: white;
    */
}

#authorization.tab-pane, #declaration.tab-pane, #event.tab-pane, #additionaldata.tab-pane, #rnr.tab-pane, #natura2000.tab-pane, #descriptioncarto.tab-pane {

    background: none;
    border: none;
}

body[class*="aide"] .h1, body[class*="aide"] h1 {
    margin: 6px 0;
    color: #fefefe;
    background-color: #015a70;
    padding: 6px;
    text-transform: uppercase;
    font-weight: 600;
}
body[class*="aide"] .h2, body[class*="aide"] h2 , .h2_bleu{
    margin: 6px 0;
    color: #015a70;
    background-color: #c1d8dd;
    padding: 6px;
}
body[class*="aide"] h2.title-note, body[class*="aide"] .h2.title-note {
    background-color: #ffeeba;
}

body[class*="aide"] .h3, body[class*="aide"] h3 {
    font-weight: 600;
    color: #015a70;
    border-bottom: 1px solid #c1d8dd;
}

h2 .badge {
    font-weight: unset;
}
h2 .bg-light {
    color: unset;
}

/* eof tabs & nav-tabs */

.btn_a{
    padding: 0.2em;
    color: #015A70;
    font-weight: bold;
    box-shadow: none !important;
}
.btn_a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #015A70;
}


/* bof icone */

.badge.icone {
    font-size: 100%;
    margin: 2px 0;
    font-weight: 300;
}

.badge.icone.bg-light {
    border: 1px solid #cacaca;
}

.icone-small {
    font-size: 70%;
}

.iconex2 {
    font-size: large;
}
.spinner.iconex2 {
    font-size: 1.5rem;
}

i {
    margin-right: 5px;
}
i.left-margin {
    margin-left: 5px;
}
i.no-right-margin {
    margin-right: 0;
}

span.label.label-success.top-right i.fa-check {
    margin-right: 2px;
}

.declaration.fa-layers .fa-layers-text, .autorisation.fa-layers .fa-layers-text {
    font-weight: bold;
    transform: translate(-2.00em);
    display: inline-block;
    font-size: 0.75em;
    margin-right: -1.3em;
}

i.demandee.text-warning.text-info {  /* conflit entre 2 classes bootsrap : le bleu est souhaité */
    color: #17a2b8!important;
}

/* eof icone */

/* bof #scrollToTop : retour haut de page */

#scrollToTop {
    position: fixed;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    display: none;
}

#scrollToTop a {
    font-size: 60px;
    color: white;
    outline: none;
}

#scrollToTop a:hover {
    text-decoration: none;
}

/* eof retour haut de page */


/* bof post-date (nouveauté) */

.post-date {
    background-color: #303030;
    color: white;
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
    width: 5.5em;
    line-height: 1.25em;
    border-radius: 0.5em;
    padding: 0.5em;
}

.post-date-day {
    display: block;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

.post-date-month {
    font-weight: normal;
    font-variant: small-caps;
    display: block;
    text-align: center;
}

.post-date-year {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    display: block;
}

/* bof post-date */


/* bof todo : à trier */

.authorizations-requested .list-group-item {
    padding-right: 90px;
}

.fixed-table-body {
    background-color: white;
}

.list-group-item + .list-group-item{
    word-break: break-word;
}

/* eof à trier */


/*
#authorization.card>.list-group, #declaration.card>.list-group, #event.card>.list-group, #additionaldata.card>.list-group, #authorization.card-default>.card-heading, #declaration.card-default>.card-heading, #event.card-default>.card-heading, #additionaldata.card-default>.card-heading {
    border: 1px solid #ddd;
}
*/

.special_fieldset legend {
    font-size: 1rem;
    border-bottom: none;
    text-decoration: underline;
}

.hearder-notification {
    margin-top: 12px;
}

.breadcrumb li {
    margin-right: 0.5em;
    margin-bottom: 0.2em;
}

.breadcrumb>li>.btn{
    min-height: 50.4px;
}
.breadcrumb>li>.btn-success{
    background-color: #9aa400;
    border-color: #8e9900;
}
.breadcrumb>li>.btn-danger{
    background-color: #dc3545;
}
.breadcrumb>li>.instruction{
    background-color: #015A70;
}

#div_id_services_concernes{
    /*opacity: 0;*/
}


input[type="search"]  {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.blink {
    animation: animationFramesBlink linear 2s infinite;
    transform-origin: 50% 50%;
}

@keyframes animationFramesBlink{
    0% {
        color: #FFFFFF ;
    }
    15% {
        color: #FFC107 ;
    }
    30% {
        color: #dc3545 ;
    }
    45% {
        color: #FFC107 ;
    }
    60% {
        color: #FFFFFF ;
    }
    75% {
        color: #FFC107 ;
    }
    100% {
        color: #FFFFFF ;
    }
}

/* tableau de bord*/

#block_tableaubord_liste{
    width: 1119px;
}
@media (min-width: 1400px) {
    #block_tableaubord_liste{
        width: 1320px;
    }
}
#instruction-table>thead{
    border: solid 2px #f2f2f2;
    border-left: solid 8px #f2f2f2;
    background-color: white;
}

.table_autorise{
    border: 2px solid #28a745;
    border-left: 8px solid #28a745;
    /*border-bottom: none;*/
}
.table_autorise:hover{
    background-color: #c3e6cb;
}

.table_interdite{
    border: 2px solid #dc3545;
    border-left: 8px solid #dc3545;
    /*border-bottom: none;*/
}
.table_interdite:hover{
    background-color: #f5c6cb;
}

.table_termine{
    border: 2px solid #c8cbcf;
    border-left: 8px solid #c8cbcf;
    /*border-bottom: none;*/
}
.table_termine:hover{
    background-color: #c8cbcf;
}

.table_encours{
    border: 2px solid #bee5eb;
    border-left: 8px solid #bee5eb;
    /*border-bottom: none;*/
}

.table_encours:hover{
    background-color: #bee5eb;
}

.table_afaire{
    border: 2px solid #ffe8a1;
    border-left: 8px solid #ffe8a1;
}

.table_afaire:hover{
    background-color: #ffe8a1;
}

.ico_double{
    font-size: 2em !important;
}

.demandee{
    color: #DB37D0 !important;
}

.distribuee{
    color: #007bff;
}

/*Button switch**/

.switchToggle input[type=checkbox]{
    height: 0;
    width: 0;
    position: absolute;
}
.switchToggle .form-check-input:checked {
    background-color: white !important;
    border-color: white !important;
}
.switchToggle .form-check-input:focus {
    background-color: white !important;
    border-color: white !important;
    box-shadow: none;
}
.switchToggle .span {
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    max-width: 55px;
    height: 21px;
    background: #a1a1a1;
    display: block;
    border-radius: 5px;
    position: absolute;
    box-shadow: rgba(95, 95, 185, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.switchToggle .span:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 19px;
    background: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    transition: background .2s ease-out, all 0.2s;
}
.switchToggle input:checked + .span, .switchToggle input:checked + input + .span  {
    background: #9aa400;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.switchToggle input + .span:before, .switchToggle input + input + .span:before {
    content: 'Non';
    position: absolute;
    top: 2.5px;
    left: 28px;
    width: 25px;
    height: 23px;
    border-radius: 5px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
    font-weight: bold;
    font-size: 0.7rem;
}
.switchToggle input:checked + .span:before, .switchToggle input:checked + input + .span:before {
    content: 'Oui';
    position: absolute;
    top: 2.5px;
    left: 6.5px;
    width: 25px;
    height: 23px;
    /*border-radius: 90px;*/
    border-radius: 5px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
    font-weight: bold;
    font-size: 0.7rem;
}
.switchToggle input:checked + .span:after, .switchToggle input:checked + input + .span:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}
.switchToggle {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.switchToggle label{
    z-index: 1;
    padding-left: 70px;
    padding-top: 0.1rem;
    cursor: pointer;
}
.switchToggle .form-check-input{
    border: none;
}
.switchToggle label input{
    display: none;
}


#hint_id_favorable {
    margin-left: 18px;
}
/* Todo : renommer par #avis_prefecture_rendu */
#avis_cdrs_rendu{
    list-style-type: None;
}
#avis_cdrs_rendu>li{
    margin-bottom: 1em;
}

/*Forum*/
.sort{
    cursor: pointer;
}

body.topic blockquote {
    font-size: 0.85rem;
    font-style: italic;
    color: #5b520b;
}

.navbar-filtre{
    background: #f7f6f5;
    margin-top: 0;
}
.filtre-item .chosen-container:not(#filtre-theme-forum .chosen-container){
    width: 242px !important;
}
#filtre-theme-forum .chosen-container{
    width: 120px !important;
}
.theme_selected{
    color: black;
    border: 2px solid black;
}

.haut-de-page::before{
    color: rgb(200, 215, 239);
}