/*Style personnalisé pour fullcalendar*/

#calendar {
    background-color: #FFFFFF;
}

.fc-header-toolbar {
    padding: 2% 2% 0 2%;
}

.fc-content {
    padding: 4px 3px;
}

.fc-day-grid-event > .fc-not-start, .fc-day-grid-event > .fc-not-end {
    max-height: 2rem;
}

.fc-content {
    line-height: .9rem;
    font-size: .8rem;
}

.fc-popover {
    padding: 1%;
    min-width: 400px;
    min-height: 150px;
}

.fc-popover .fc-body .fc-event-container .fc-day-grid-event {
    margin-bottom: 20px;
}