/* bof homepage */

body {
    background-color: #015A70 !important;
}


.page-header-home {
    background-color: #015A70;
    margin-top: 0px;
    color: #ffffff;
}

.page-header-home > .container > .row > .col-sm-4 > .thumbnail {
    background-color: #dcdcdc;
    margin-bottom: 0px;
}

.button-home {
    padding: 0 10px 0 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    font-size: 0.8em;
}

@media all and (max-width: 1200px) {
    .button-home {
        font-size: 0.6em;
    }
}

@media all and (max-width: 992px) {
    .button-home {
        font-size: 0.8em;
    }
}


.button-home a {
    color: #ffffff;
    background-color: #857865;
    border-radius: 0;
    padding: 0 20px 0 30px;
    margin-left: 10px;
    height: 140px;
    white-space: normal;
    font-size: 1.2em;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.button-home a:hover {
    background-color: #9AA400;
    color: white;
}

.button-home a h2 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.button-home a i {
    background-color: #9aa400;
    border-radius: 28px;
    color: #ffffff;
    display: block;
    height: 56px;
    left: 10px;
    padding-top: 13px;
    position: absolute;
    width: 57px;
    font-size: 2.2em;
    top: 40px;
}

@media all and (max-width: 1200px) {
    .button-home a {
        height: 85px;
    }
    .button-home a i {
        top: 14px;
    }
}

.button-home a:hover i {
    background-color: #857865;
}

.button-home span {
    white-space: normal;
    margin-bottom: 10px;
}

#carte-fr {
    height: 380px;
    width: 100%;
    padding: 1px 10px;
    border: 1px solid #ffffff;
    margin-top: 40px;
}

.h1-home {
    font-style: initial;
    line-height: 1.6em;
    margin: 0;
    color: #ffffff;
    letter-spacing: 0;
}
.h2-home {
    color: #ffffff;
    font-style: normal;
}

.cadre-blanc {
    border: 1px solid #ffffff;
    padding: 30px 20px;
    height: 120px;
    margin: 40px 0;
    width: 100%;
}

@media all and (max-width: 1200px) and (min-width: 768px) {
    .cadre-blanc {
        font-size: 0.8em;
    }
    .h1-home {
        font-size: 1em;
    }
}

@media all and (max-width: 342px) {
    .cadre-blanc {
        padding: 10px 20px;
    }
}

.cadre-rf {
    display: table;
}
.cadre-rf-text {
    display: table-cell;
    padding-left: 20px;
    font-size: 1em;
    text-transform: uppercase;
    vertical-align: middle;
}

#carrousel, .carousel-inner {
    max-height: 260px;
    text-align: center;
}

#carrousel + .row {
    margin-left: unset;
    margin-right: 0px;
}
#carrousel {
    max-width: 2400px;
    text-transform: uppercase;
    margin: 0 auto;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-inner > .carousel-item > img {
    max-width: 100%;
}

.carousel-caption {
    top: 30px;
}

.carousel-caption-text {
    background-color: #015A70;
    opacity: 0.80;
    font-weight: 600;
    padding: 10px;
    text-align: left;
    float: left;
}

@media all and (max-width: 1500px) {
    .carousel-caption-text {
        font-size: 0.7em;
    }
}

@media all and (max-width: 1100px) {
    .carousel-caption-text {
        display: none;
    }
}

/* eof homepage */


