<table class="table table-sm table-striped" data-toggle="table" id="notification-table">
    <thead>
        <tr>
            <th data-field="date" data-sortable="true" data-sorter="dateSorter">Date</th>
            <th data-sortable="true">Service émetteur</th>
            <th data-sortable="true">Utilisateur destinataire</th>
            <th data-sortable="true">Message</th>
        </tr>
    </thead>
    <tbody>
        {% for notification in object_list %}
            <tr>
                <td>{{ notification.creation_date.date|date:"d/m/Y" }}</td>
                <td>{{ notification.content_object|default_if_none:"--" }}</td>
                <td>{{ notification.user.get_full_name }} - {{ notification.user.get_service }}</td>
                <td>{{ notification.subject|safe }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-center">Aucune notification sur les dossiers en cours</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
