{% load static %}
{#    css et script minimum pour afficher les tooltips à chaque rechargement#}
    <link href="{% static 'portail/scss/bootstrap_custom.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'portail/css/default.css' %}" rel='stylesheet' type='text/css'>

{#    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>#}

<a class="badge bg-light text-dark no_external" href='{% url "messagerie:boite_principale" %}?cpt=convocation'  data-placement="top" title="Convocation" data-bs-toggle="tooltip"><i class='far fa-calendar-star fa-sm msg_convocation'></i>{{ convocation }} </a>
<a class="badge bg-light text-dark no_external" href='{% url "messagerie:boite_principale" %}?cpt=action' title="Demande d'action" data-placement="top" data-bs-toggle="tooltip"><i class='far fa-digging fa-sm msg_action'></i>{{  action }}&nbsp;</a>
<a class="badge bg-light text-dark no_external" href='{% url "messagerie:boite_principale" %}?cpt=suivi'  title="Information de suivi" data-placement="top" data-bs-toggle="tooltip"><i class='far fa-bell  fa-sm msg_suivi'></i>{{ info_suivi }}&nbsp;&nbsp;</a>
<a class="badge bg-light text-dark no_external" href='{% url "messagerie:boite_principale" %}?cpt=conversation'  data-placement="top" title="Conversation" data-bs-toggle="tooltip"><i class='far fa-comment-alt-smile fa-sm msg_conversation'></i>{{ conversation }} </a>
<a class="badge bg-light text-dark no_external" href='{% url "messagerie:boite_principale" %}?cpt=nouveaute' title="Actualité de la plateforme" data-placement="top" data-bs-toggle="tooltip"><i class='far fa-bullhorn  fa-sm nouveaute'></i>{{ news }}</a>
<a class="badge bg-light text-dark no_external me-0" href='{% url "messagerie:boite_principale" %}?cpt=forum' title="Forum" data-placement="top" data-bs-toggle="tooltip"><i class='far fa-comments fa-sm msg_forum'></i>{{ forum }}</a>