{% load static %}
{% load classname %}

<script>
    var is_instru= {{ instru }};
</script>
<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'messagerie/js/envoi_message.js' %}" type="text/javascript"></script>

<div id="formmail_englobe" style="display: none;">
    <form id="formmail" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="msg_envoi_alert"></div>
        {% if ad_tech or ad_instance %}
            {% if not manif %}
                <div style="display: flex; justify-content: space-between">
                    <h3><i class="editer"></i>Écrire un message</h3>
                    <div class="ms-1 checkbox switchToggle">
                        <label class="ps-0"><input class="" type="checkbox"   id="actualite_toogle"><div class="span"></div><span class="ms-5 ps-2">&nbsp; <i class="actualite"></i> Actualité</span></label>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <h3><i class="editer"></i>Écrire un message</h3>
        {% endif %}

        <div style="display: flex">
            <div class="msg_envoi_col">
                {% if instru == 1 %}
                    <button id="btn-modal-selecteur-carnet" type="button" class="btn btn-outline-primary mt-2">Sélectionner des destinataires</button>
                {% else %}
                    <div class="write_bloc desti_block">
                        <select id="carnet" class="chosen-select" data-placeholder="Choisir un ou plusieurs destinataires" name="destinataires" multiple="multiple">
                            {% for destinataire in carnet %}
                            {% if destinataire.is_service_consulte %}
                                <option value="service_{{ destinataire.pk }}">
                                        {{ destinataire }}
                                    {% elif destinataire.get_service != None %}
                                    <option value="{{ destinataire.pk }}">
                                        {{ destinataire.get_service }} - {{ destinataire.get_full_name }}
                                    {% else %}
                                    <option value="{{ destinataire.pk }}">
                                        {{ destinataire.get_full_name }}
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
            </div>



        </div>
        <div class="write_bloc desti_block" style="display: none;" id="service_instru">
            <select id="destinataire_liste" multiple="multiple" class="chosen-select" name="destinataire_liste" data-placeholder="Sélectionnez le ou les services destinataire" ></select>
        </div>


        <div class=" msg_envoi_col msg_envoi_col_left">
            <div class="write_bloc"  id="doc_objet_block" >
                <select id="doc_objet" class="chosen-select" data-placeholder="Choisissez le type de document concerné"  name="doc_objet">
                    <option disabled selected value="">Choisissez le type de document concerné</option>
                    <option value="dossier">Dossier</option>
                    <option value="piece_jointe">Document joint</option>
                    {% if not request.organisation.is_structure_organisatrice %}
                        <option value="avis">Avis</option>
                        {% if not instru %}
                            <option value="preavis">Préavis</option>
                        {% endif %}
                    {% endif %}
                    <option value="arrete">Arrêté</option>
                    <option value="recepisse">Récépissé</option>
                    <option value="aucun">Aucun</option>
                </select>
            </div>
            <div class="write_bloc" id="list_doc_objet" style="display: none;"></div>
        </div>


        <div class="write_bloc" id="actu_block" style="display: none">
            {% if ad_tech %}
                <select class="chosen-select" id="departement_actu" name="departement" multiple="multiple"
                        data-placeholder="Choisissez un ou plusieurs departement ou laissez vide pour tous les selectionner">
                    {% for departement in deps %}
                        <option value="{{ departement.pk }}">{{ departement.get_name }}</option>
                    {% endfor %}
                </select><br><br>
            {% endif %}
        </div>
        <div class="write_bloc">
            <input type="text" class="chosen-single" name="objet" id="msg_objet" placeholder="Titre du message" style="width: 100%">
        </div>
        <div class="write_bloc">   {{ form.media }} {{ form }}</div>
        {% if instru == 1 and manif %}<div class="write_bloc">
            <div class="form-group mb-3">
                <span>Attacher un fichier<i class="ctx-help-messagerie_piece_jointe"></i> : </span>
                <input type="file" name="fichier" class="form-control-file ms-2" id="fichier">
            </div></div>

        {% endif %}

        <div class="write_bloc">
            <button type="submit" value="Envoyer" id="envoi" class="btn btn-info text-white mb-3 me-2"><i class="envoyer"></i> Envoyer</button>
            <span> Votre message apparaîtra dans votre messagerie et celle de votre/vos correspondants dans quelques instants.</span>
        </div>
    </form>
</div>

{% if not manif %}
<div id="modal-container">
    {% include "structure/modal_selecteur_de_service.html" with categories=categories %}
</div>
{% endif %}
<div id="attente_en_cours"><i class="spinner"></i></div>
<script>

    if(typeof object_id === 'undefined'){
        var ajout
        var object_id
        var categories = []
        var url_list = "{% url 'structure:service_list' %}"
        var url_agent = "{% url 'structure:agent_list' %}"
        var url_action = ""
        var url_categorie = "{% url 'structure:categorie_list' %}"
        var action = "carnet_messagerie"
        var secteur = $('#select-instances-modal').val()
        var modal_title = "Ajouter des destinataires"
        var avertissement = "Aucun résultat trouvé avec les filtres sélectionnés"
        var show_old = true
        var selecteur_multiple = true
        var selecteur_radio = false
        var show_agent = false
        var show_sous_service = false
        $('#select-instances-modal').chosen()
        $('#btn-modal-selecteur-carnet').on('click', function (e){
            $('#demandeAvisModal').modal('show')
        })
    }
    else {
        $('#carnet_chosen').css('width', '100%');
        $('#btn-modal-selecteur-carnet').on('click', function (e){
            e.preventDefault()
            selecteur_multiple = true
            show_sous_service = false
            show_agent = false
            alert = "Aucun résultat trouvé avec les filtres sélectionnés"
            action = "carnet_messagerie"
            modal_title = "Ajouter des destinataires"
            url_list = "{% url 'structure:service_list' %}"
            url_action = ""
            $('#select-instances-modal').val(secteur_initial).change().trigger('chosen:update')
            $("#modal-title-selecteur").text(modal_title)
            $("#modal-categorie-selecteur").removeClass('d-none')
            $('#demandeAvisModal').modal('show')

        })
    }
// Ajoute les sous-services aux selects des déstinataires
$(document).on('click', '.show_sous_service', function(){
    if(action === "carnet_messagerie"){
        var display = ""
        $.get({
            url: `/structure/ajax/sous_service/`,
            data: {
                'service_id':  $(this).attr('data-service'),
                'action': action,
                'show_old': show_old,
                'object_id':  object_id,
            },
            success :
                function (reponse){
                console.log(reponse)
                var categorie = categorie
                for (let i=0; i<reponse.length; i++){
                        if(!$(`option[value="${reponse[i]["id"]}_${reponse[i]["service"]}"]`).length){
                            console.log('not lenght')
                            console.log($(`option[value="${reponse[i]["id"]}_${reponse[i]["service"]}"]`).length)
                            display+=`<option  value="${reponse[i]["id"]}_${reponse[i]["service"]}" data-categorie="${categorie}">${reponse[i]["name"]}</option>`

                        }
                    }

                    {#$('#service_instru').show()#}
                    $('#destinataire_liste').append(display)
                }
        })
    }
})

     $('#demandeAvisModal').on('shown.bs.modal', function () {


        $("#modal-categorie-selecteur").on('click', 'li', function (e){
            e.preventDefault()
            let dep = $('#select-instances-modal').val()
            if (typeof dep === "undefined" || dep === null){
                dep = instance_id
            }
            var display = ""
            var categorie = $(this).attr('data-categorie')
            let url = ""
            if (categorie){

                    url_list = "{% url 'structure:service_list' %}"
                    $.get({
                        url: url_list,
                        data: {
                            'secteur': dep,
                            'categorie':  categorie,
                            'action': action,
                            'show_agent': show_agent,
                            'show_old': show_old,
                            'show_sous_service': show_sous_service,
                            'manif': manif,
                        },
                        success :function (reponse) {

                            for (let i=0; i<reponse.length; i++){
                                if(!$(`option[value="${reponse[i]["id"]}_${reponse[i]["service"]}"]`).length){
                                    display+=`<option  value="${reponse[i]["id"]}_${reponse[i]["service"]}" data-categorie="${categorie}">${reponse[i]["name"]}</option>`
                                }
                                if(Object.keys(reponse[i]["data"]).length > 0 ){
                                    for ([key, val] of Object.entries(reponse[i]["data"])){
                                        if(!$(`option[value="${val[1][2]}_${val[1][1]}"]`).length){
                                            display+=`<option  value="${val[1][2]}_${val[1][1]}" data-categorie="${categorie}">${val[1][0]}</option>`;
                                        }
                                    }
                                }
                            }
                            $('#service_instru').show()
                            $('#destinataire_liste').append(display)
                            $("#destinataire_liste").chosen()
                            $('#destinataire_liste_chosen').css('width', '100%');
                        }
                    })
            }

        })

            $("#service-liste").on('click', 'b', function (){
            var model = $(this).siblings('label').attr('for')
            if(typeof model !== "undefined"){
                var service_id = model.split('_')[1]
                var model_name = model.split('_')[2]
                var categorie = categorie
                $.get({
                    url: url_agent,
                    data: {
                        'model':  model_name,
                        'object_id': service_id,
                        'categorie': categorie,
                    },
                    success :
                        function (data){
                            var display = ""
                            for ([key, val] of Object.entries(data)){

                               if(!$(`option[value="${key}_${val[1]}"]`).length){
                                display+=`<option  value="${key}_${val[1]}" data-categorie="${categorie}">${val[0]}</option>`;
                               }
                            }
                            $('#destinataire_liste').append(display)
                        }
                    })
                }
            })
    })

$('#demandeAvisModal').on('hidden.bs.modal', function () {
    $('.show_sous_service').unbind()
    $('.search-choice-close').click(function (){
                var data_categorie = $('#destinataire_liste').find(`option[value=${$(this).parent().attr('data-value')}]`).attr('data-categorie')
                value_array.splice($.inArray($(this).parent().attr('data-value'), value_array), 1);
                badge_array[secteur][data_categorie] -= 1

            })
            $("#service-liste").empty()
})
</script>
<style>
    .write_bloc{
        margin-top: 1em;
    }
    .chosen-single{
        background-color:white !important;
        background-image: linear-gradient(#eee 1%, #fff 15%) !important;
        height:29px !important;
        border-radius: 0 !important;
        border: 1px solid #aaa;
        color: #333 !important;
        padding: 0 0 0 4px !important;
    }
    .chosen-single::placeholder{
        color: #999 !important;
        opacity: 1;
    }
    .chosen-single>span{
        color:#333;
    }
    .chosen-default>span{
        color:#999 !important
    }
    #fichier::file-selector-button{
        height: 38px;
    }
</style>
