{% load static %}
{% load classname %}

<script>
</script>

<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'messagerie/js/envoi_message_reponse.js' %}" type="text/javascript"></script>
<div id="formmail_englobe">

    <form id="formmail_rep" method="post">
        {% csrf_token %}
    <div id="msg_envoi_alert"></div>


     <h3><i class="editer"></i>Écrire une réponse</h3>
    <input type="text" name="reponsepk" value="{{ envepk }}" style="display: none">

        <div class="write_bloc">
            <input value="Re : {{ enve.objet }}" type="text" class="chosen-single" name="objet" id="msg_objet" placeholder="Titre du message" style="width: 100%; display: none"></div>
        <div class="write_bloc">   {{ form.media }} {{ form }}</div>

        {% if not request.organisation.is_structure_organisatrice and is_manif %}<div class="write_bloc">
            <div class="form-group mb-3">
          <span>Attacher un fichier<i class="ctx-help-messagerie_piece_jointe"></i> : </span>
          <input type="file" name="fichier" class="form-control-file ms-2" id="fichier">
        </div></div>

    {% endif %}
        <div class="write_bloc">  <button type="submit" value="Envoyer" id="envoi" class="btn btn-info text-white mb-3 me-2"><i class="envoyer"></i> Envoyer</button><span> Votre message apparaitra dans la messagerie de votre/vos correspondants. </span></div>
    </form>
</div>


<style>
    .write_bloc{
        margin-top: 1em;
    }
    .msg_envoi_col{
        width: 50%;

    }
    .msg_envoi_col_left{
        margin-left: 0.5em;
    }
    .chosen-single{
        background-color:white !important;
        background-image: linear-gradient(#eee 1%, #fff 15%) !important;
        height:29px !important;
        border-radius: 0 !important;
        border: 1px solid #aaa;
        color: #333 !important;
        padding: 0 0 0 4px !important;
    }
    .chosen-single::placeholder{
        color: #999 !important;
        opacity: 1;
    }
    .chosen-single>span{
        color:#333;
    }
    .chosen-default>span{
        color:#999 !important
    }

    #fichier::file-selector-button{
        height: 38px;
    }

</style>