{% load static get_item_from_dict separeLaFleche %}

<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'messagerie/js/message.js' %}" type="text/javascript"></script>

<div class="block_msg">
    <div class="">
        <div class="msg_panel">
            {% if not enveloppe.type == "news" %}
                {% if not old and not new %}
                    <div class="">
                        <p class="">
                            {{ enveloppe.date|date:'d/m/Y H:i' }} <span class="pipe_separator">|</span> {{ enveloppe.objet }} </br>
                            De :
                            {% if organisateur %}
                                {{ enveloppe.expediteur_txt|separeLaFleche }}
                            {% else %}
                                <a href="#" data-toggle="tooltip" data-placement="bottom"
                                   title='{{ enveloppe.expediteur_id.first_name }} {{ enveloppe.expediteur_id.last_name }}'>
                                    {{ enveloppe.expediteur_txt|separeLaFleche }}
                                </a>
                            {% endif %}
                            <br>
                            Pour :
                            {% for destinataire in destinataires %}
                                {% if organisateur %}
                                    {{ destinataire|get_item_from_dict:"service" }} {% if forloop.last %}{% else %}, {% endif %}
                                {% else %}
                                    <a href="#"
                                       {% if destinataire|get_item_from_dict:"utilisateur_lu" or destinataire|get_item_from_dict:"utilisateur_nonlu" %}
                                       data-toggle="tooltip"
                                       data-placement="bottom"
                                       title='
                                            {% if destinataire|get_item_from_dict:"utilisateur_lu" %}<p>Lu :
                                                {% for utilisateur in destinataire|get_item_from_dict:"utilisateur_lu" %}
                                                    {% if utilisateur|get_item_from_dict:"nom" %}
                                                        {{ utilisateur|get_item_from_dict:"nom" }}{% if forloop.last %}{% else %},{% endif %}
                                                    {% endif %}
                                                {% endfor %}</p>
                                            {% endif %}
                                            {% if destinataire|get_item_from_dict:"utilisateur_nonlu" %}<p>Non lu :
                                                {% for utilisateur in destinataire|get_item_from_dict:"utilisateur_nonlu" %}
                                                    {% if utilisateur|get_item_from_dict:"nom" %}
                                                        {{ utilisateur|get_item_from_dict:"nom" }}{% if forloop.last %}{% else %},{% endif %}
                                                    {% endif %}
                                                {% endfor %}</p>
                                            {% endif %}
                                            '
                                       {% endif %}>
                                        {{ destinataire|get_item_from_dict:"service" }}
                                    </a>
                                    {% if forloop.last %}{% else %}, {% endif %}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
            {% else %}
                <div id="">
                    <p class="">{{ enveloppe.date|date:'d/m/Y H:i' }} </p>
                </div>
            {% endif %}
            {% for enve in new %}
                <div style="margin-top: 0.5em;">
                    <div>Le {{ enve.date|date:'d/m/Y H:i' }} <br>
                        {% if enve.expediteur_id == request.user %}Pour
                            {% if organisateur %}
                                {{ enve.destinataire_txt|separeLaFleche }}
                            {% else %}
                               <a href="#" data-toggle="tooltip" data-placement="bottom"
                                  title='{{ enve.destinataire_id.first_name }} {{ enve.destinataire_id.last_name }}'>
                                   {{ enve.destinataire_txt|separeLaFleche }}
                               </a>
                            {% endif %}
                        {% else %}De
                            {% if organisateur %}
                                {{ enve.expediteur_txt|separeLaFleche }}
                            {% else %}
                                <a href="#" data-toggle="tooltip" data-placement="bottom"
                                   title='{{ enve.expediteur_id.first_name }} {{ enve.expediteur_id.last_name }}'>
                                    {{ enve.expediteur_txt|separeLaFleche }}
                                </a>
                            {% endif %}
                        {% endif %}</div>
                    <div class="msg_body" id="corps_msg_{{ enve.corps.pk }}" style="  width: 100%; ">
                        {{ enve.corps.corps|safe }}
                    </div>
                </div>
            {% endfor %}
            {% if old or new %}
                <div style="margin-top: 0.5em;">
                    <div>Le {{ enveloppe.date|date:'d/m/Y H:i' }} <br>
                        {% if enveloppe.expediteur_id == request.user %}Pour
                            {% if organisateur %}
                                {{ enveloppe.destinataire_txt|separeLaFleche }}
                            {% else %}
                               <a href="#" data-toggle="tooltip" data-placement="bottom"
                                  title='{{ enveloppe.destinataire_id.first_name }} {{ enveloppe.destinataire_id.last_name }}'>
                                   {{ enveloppe.destinataire_txt|separeLaFleche }}
                               </a>
                            {% endif %}
                        {% else %}De
                            {% if organisateur %}
                                {{ enveloppe.expediteur_txt|separeLaFleche }}
                            {% else %}
                                <a href="#" data-toggle="tooltip" data-placement="bottom"
                                   title='{{ enveloppe.expediteur_id.first_name }} {{ enveloppe.expediteur_id.last_name }}'>
                                    {{ enveloppe.expediteur_txt|separeLaFleche }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="msg_body" id="corps_msg_{{ enveloppe.corps.pk }}" style="  width: 100%; border: 2px black solid; ">
                        {{ enveloppe.corps.corps|safe }}
                    </div>
                </div>
            {% else %}
                <div>
                    <div class="msg_body" id="corps_msg_{{ enveloppe.corps.pk }}" style="  width: 100%; ">
                        {{ enveloppe.corps.corps|safe }}
                    </div>
                </div>
            {% endif %}
            {% for enve in old %}
                <div style="margin-top: 0.5em;">
                     <div>Le {{ enve.date|date:'d/m/Y H:i' }} <br>
                        {% if enve.expediteur_id == request.user %}Pour
                            {% if organisateur %}
                                {{ enve.destinataire_txt|separeLaFleche }}
                            {% else %}
                               <a href="#" data-toggle="tooltip" data-placement="bottom"
                                   title='{{ enve.destinataire_id.first_name }} {{ enve.destinataire_id.last_name }}'>
                                   {{ enve.destinataire_txt|separeLaFleche }}
                               </a>
                            {% endif %}
                        {% else %}De
                            {% if organisateur %}
                                {{ enve.expediteur_txt|separeLaFleche }}
                            {% else %}
                                <a href="#" data-toggle="tooltip" data-placement="bottom"
                                   title='{{ enve.expediteur_id.first_name }} {{ enve.expediteur_id.last_name }}'>
                                    {{ enve.expediteur_txt|separeLaFleche }}
                                </a>
                            {% endif %}
                        {% endif %}
                     </div>
                    <div class="msg_body" id="corps_msg_{{ enve.corps.pk }}" style="  width: 100%; ">
                        {{ enve.corps.corps|safe }}
                    </div>
                </div>
            {% endfor %}
            {% if enveloppe.type == "conversation" and not enveloppe.expediteur_id == request.user %}
                <button id="repondre_affiche" class="btn btn-info mt-2">Repondre à ce message</button>
            {% endif %}
            <div id="envoi_reponse_div"></div>
        </div>
    </div>
</div>

<script>
    var enve_pk = "{{ enveloppe.pk }}";
</script>

<style>
    .msg_panel {
        padding: 1em;
    }
    .msg_body {
        overflow: auto;
        /*margin-top: 0.8em;*/
        padding: 0.5em;
        border: #ececec solid 1px;
        border-radius: 3px;
        background-color: #f7f6f5;
    }
</style>
