{% load static get_item_from_dict separeLaFleche %}

<head>
    <title>Message</title>
</head>

<link rel="icon" href="/static/portail/img/favicon.ico"/>

<link href="{% static 'libs/chosen/chosen.min.css' %}" rel='stylesheet' type='text/css'>
<link href="{% static 'libs/fontawesome-pro/css/all.css' %}" rel='stylesheet' type='text/css'>
<link href="{% static 'libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}" rel='stylesheet' type='text/css'>
<link href="{% static 'libs/titatoggle/dist/titatoggle-dist-min.css' %}" rel='stylesheet' type='text/css'>
<link href="{% static 'portail/css/default.css' %}" rel='stylesheet' type='text/css'>

<script src="{% static 'libs/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/moment/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/bootstrap-table/dist/bootstrap-table.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/bootstrap-table/dist/bootstrap-table-locale-all.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/bootstrap-switch/dist/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/jquery.submitProtection.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/jquery-jvectormap-2.0.3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/jquery-jvectormap-fr-merc.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/common.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'portail/js/icone.js' %}" type="text/javascript"></script>

<style>
    body {
        padding-top: 1em !important;
    }
</style>

<div><img width="200px" src="{% static 'portail/img/Logo_vert.png' %}"/></div>

<div class="block_msg">
    <div class="">
        <div class="msg_panel">
            {% if not enveloppe.type == "news" %}
                {% if not old and not new %}
                    <div class="">
                        <p class="">{{ enveloppe.date|date:'d/m/Y H:i' }} <span class="pipe_separator">|</span> {{ enveloppe.objet }} </p>
                        <p>De :
                            {% if organisateur %}
                                {{ enveloppe.expediteur_txt|separeLaFleche }}
                            {% else %}
                                {{ enveloppe.expediteur_txt|separeLaFleche }}, {{ enveloppe.expediteur_id.first_name }} {{ enveloppe.expediteur_id.last_name }}
                            {% endif %} <span class="pipe_separator"></span>
                        <p>
                        <p>Pour :
                        {% for destinataire in destinataires %}
                            {% if organisateur %}
                                {{ destinataire|get_item_from_dict:"service" }}{% if forloop.last %}{% else %}, {% endif %}
                            {% else %}
                                <ul>
                                    <li>{{ destinataire|get_item_from_dict:"service" }}
                                        {% if destinataire|get_item_from_dict:"utilisateur_lu" or destinataire|get_item_from_dict:"utilisateur_nonlu" %}
                                            <ul>
                                                {% if destinataire|get_item_from_dict:"utilisateur_lu" %}
                                                    <li>Lu :
                                                        {% for utilisateur in destinataire|get_item_from_dict:"utilisateur_lu" %}
                                                            {% if utilisateur|get_item_from_dict:"nom" %}
                                                                {{ utilisateur|get_item_from_dict:"nom" }}{% if forloop.last %}{% else %},{% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                {% endif %}
                                                {% if destinataire|get_item_from_dict:"utilisateur_nonlu" %}
                                                    <li>Non lu :
                                                        {% for utilisateur in destinataire|get_item_from_dict:"utilisateur_nonlu" %}
                                                            {% if utilisateur|get_item_from_dict:"nom" %}
                                                                {{ utilisateur|get_item_from_dict:"nom" }}{% if forloop.last %}{% else %},{% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                        </p>
                    </div>

                {% endif %}
            {% else %}
                <div id="">
                    <p class="">{{ enveloppe.date|date:'d/m/Y H:i' }} </p>
                </div>
            {% endif %}
            {% for enve in new %}
                <div style="margin-top: 0.5em;">
                    <p class="">{{ enve.date|date:'d/m/Y H:i' }}  </p>
                    <div>
                        {% if enve.expediteur_id == request.user %}
                            Pour :
                            {% if organisateur %}
                                {{ enve.destinataire_txt|separeLaFleche }}
                            {% else %}
                                {{ enve.destinataire_txt|separeLaFleche }}, {{ enve.destinataire_id.first_name }} {{ enve.destinataire_id.last_name }}
                            {% endif %}
                        {% else %}
                            De
                            {% if organisateur %}
                                {{ enve.expediteur_txt|separeLaFleche }}
                            {% else %}
                                {{ enve.expediteur_txt|separeLaFleche }}, {{ enve.expediteur_id.first_name }} {{ enve.expediteur_id.last_name }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="msg_body" id="corps_msg_{{ enve.corps.pk }}" style="  width: 500px; ">
                        {{ enve.corps.corps|safe }}
                    </div>
                </div>
            {% endfor %}
            {% if old or new %}
                <div style="margin-top: 0.5em;">
                    <p class="">{{ enveloppe.date|date:'d/m/Y H:i' }}  </p>
                    <div>
                        {% if enveloppe.expediteur_id == request.user %}
                            Pour :
                            {% if organisateur %}
                                {{ enveloppe.destinataire_txt|separeLaFleche }}
                            {% else %}
                                {{ enveloppe.destinataire_txt|separeLaFleche }}, {{ enveloppe.destinataire_id.first_name }} {{ enveloppe.destinataire_id.last_name }}
                            {% endif %}
                        {% else %}
                            De
                            {% if organisateur %}
                                {{ enveloppe.expediteur_txt|separeLaFleche }}
                            {% else %}
                                {{ enveloppe.expediteur_txt|separeLaFleche }}, {{ enveloppe.expediteur_id.first_name }} {{ enveloppe.expediteur_id.last_name }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="msg_body" id="corps_msg_{{ enveloppe.corps.pk }}" style="  width: 500px; border: 2px black solid; ">
                        {{ enveloppe.corps.corps|safe }}
                    </div>
                </div>
            {% else %}
                <div>
                    <div class="msg_body" id="corps_msg_{{ enveloppe.corps.pk }}" style="  width: 500px; ">
                        {{ enveloppe.corps.corps|safe }}
                    </div>
                </div>
            {% endif %}
            {% for enve in old %}
                <div style="margin-top: 0.5em;">
                    <p class="">{{ enve.date|date:'d/m/Y H:i' }}  </p>
                    <div>
                        {% if enve.expediteur_id == request.user %}
                                Pour :
                            {% if organisateur %}
                                {{ enve.destinataire_txt|separeLaFleche }}
                            {% else %}
                                {{ enve.destinataire_txt|separeLaFleche }}, {{ enve.destinataire_id.first_name }} {{ enve.destinataire_id.last_name }}
                            {% endif %}
                        {% else %}
                            De
                            {% if organisateur %}
                                {{ enve.expediteur_txt|separeLaFleche }}
                            {% else %}
                                {{ enve.expediteur_txt|separeLaFleche }}, {{ enve.expediteur_id.first_name }} {{ enve.expediteur_id.last_name }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="msg_body" id="corps_msg_{{ enve.corps.pk }}" style="  width: 500px; ">
                        {{ enve.corps.corps|safe }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    var enve_pk = "{{ enveloppe.pk }}";
</script>

<style>
    .msg_panel {
        padding: 1em;
    }

    .msg_body {
        overflow: auto;
        /*margin-top: 0.8em;*/
        padding: 0.5em;
        border: #ececec solid 1px;
        border-radius: 3px;
        background-color: #f7f6f5;
    }
</style>
