{% extends "base.html" %}


{% load static %}

{% block head_title %}Messagerie{% endblock %}
{% block page_title %}
    <h1>Messagerie</h1>
{% endblock %}

{% block content %}

    <div id="webmail">

    </div>
<script src="{% static 'portail/js/ajax-init-crsf.js' %}"></script>

<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>

    <script type="text/javascript">



        $.get("{% url 'messagerie:messagerie' %}", function (data) {
            $('#webmail').html(data)
        })

    </script>


    <style>

        #webmail{
            background-color: white;
        }

    </style>

{% endblock %}