{% load static %}
<link rel="icon" href="/static/portail/img/favicon.ico"/>


    <div style="padding-bottom: 1em;">
        <div class="alert alert-info" style="margin-bottom: 0">
        <p>
            {% if manif %}
                Vous êtes dans la messagerie d'un dossier. Le flux d'information contient <strong>seulement</strong> les messages du dossier affiché.
            {% else %}
                Vous êtes dans la messagerie générale. Le flux d'information contient l'ensemble des messages de tous vos dossiers.
            {% endif %}
            <a href="/aide/messagerie" class="float-end"><i class="aide"></i>Consulter l'aide</a>
        </p>
            <p class="mt-2">
                Types de messages :
                <span data-bs-toggle-quick="tooltip" data-bs-placement="top" title="C'est un message envoyé par la plateforme qui vous indique que vous êtes convoqué à une réunion CDSR."><i class="msg_convocation no-tooltip" style="color:#000000;"></i>&nbsp;Convocation</span><span class="pipe_separator">|</span>
                <span data-bs-toggle-quick="tooltip" data-bs-placement="top" title="C'est un message envoyé par la plateforme qui vous indique que vous avez une action à effectuer sur un dossier. Votre intervention est donc requise."><i class="msg_action ms-2 no-tooltip" style="color:#000000;"></i>&nbsp;Demande d&#39;action</span><span class="pipe_separator">|</span>
                <span data-bs-toggle-quick="tooltip" data-bs-placement="top" title="C'est un message envoyé par la plateforme qui vous indique qu'un événement est survenu sur un dossier. Cependant aucune action n’est requise de votre part."><i class="msg_suivi no-tooltip" style="color:#000000;"></i>&nbsp;Information de suivi</span><span class="pipe_separator">|</span>
                <span data-bs-toggle-quick="tooltip" data-bs-placement="top" title="C'est un message envoyé d'une personne (expéditeur) à une ou plusieurs autres (destinataires), un peu comme un email.<br>L'envoi d'un message s'effectue directement depuis le dossier d'une manifestation."><i class="msg_conversation no-tooltip" style="color:#000000;"></i>&nbsp;Conversation</span><span class="pipe_separator">|</span>
                <span data-bs-toggle-quick="tooltip" data-bs-placement="top" title="Il s'agit simplement d'un message vous apportant une information d'ordre général en lien avec la plateforme (évolution fonctionnelle par exemple).<br>Ces messages s'affichent uniquement dans la messagerie générale."><i class="actualite no-tooltip" style="color:#000000;"></i>&nbsp;Actualit&eacute; de la plateforme</span><span class="pipe_separator">|</span>
                <span data-bs-toggle-quick="tooltip" data-bs-placement="top" title="Il s'agit de conserver des traces d'utilisation de la plateforme qui ne font pas l'objet d'envoi d'un autre type de message, mais dont il est important de conserver un historique, notamment pour des questions de sécurité (connexion/déconnexion des utilisateurs, export de dossier...)<br>Ces messages s'affichent uniquement dans la messagerie générale."><i class="msg_tracabilite no-tooltip" style="color:#000000;"></i>&nbsp;Tra&ccedil;abilit&eacute;</span>
            </p>
        </div>
    </div>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar_msg">

    <button class="navbar-toggler" id="menu_msg" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMsgDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMsgDropdown">
        <ul class="navbar-nav" style="width: 100%">
            <li id="show_mail" class="nav-item navmail">
                <a class="nav-link" href="#"><i class="fal fa-redo-alt"></i>Actualiser</a>
            </li>
            {% if actu == 1 or manif %}
                <li id="show_write" class="nav-item navmail">
                    <a class="nav-link" href="#"><i class="editer"></i>Démarrer une conversation</a>
                </li>
            {% endif %}
            <li id="filtre_mail" class="nav-item navmail">
                <a class="nav-link" href="#"><i class="far fa-filter"></i>Filtre</a>
            </li>
            <li id="li_non_lu" class="nav-item">
                <span class="nav-link">
                    <span id="nonlu_trigger"><i class="fas fa-fw fa-eye"></i> Non lu seulement :</span>
                <div class="ms-1 checkbox switchToggle d-inline-block"><label class="ps-0 mb-2"><input class="filter_bar"
                                                                                           type="checkbox"
                                                                                           id="filter_nonlu"><div class="span"></div><span class="ms-5 ps-3">  </span></label>
                </div>
</span>
            </li>
            <li id="filtre_reset" class="nav-item navmail">
                <a class="nav-link" href="#"><i class="message"></i>Tous</a>
            </li>

            <div style="display: inline-flex; align-items: center; margin-left: auto;"><a
                    href="{% url 'parametre_notification_messagerie' %}" class="nav-link"> <i class="reglage"></i>
                Modifier mes options de notifications</a> <i
                    class="ctx-help-messagerie_comment_etre_notifie"></i></div>


        </ul>
    </div>
</nav>
<div id="information" class="container"></div>
<div class="collapse container" id="collapsefiltre" style="display: none; flex-wrap: wrap;">

    <div id="filter_bar" class="">
         <p>Type de message :</p>

        <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_convoc"><div class="span"></div><span class="ms-5 ps-3"> &nbsp;<i
                class="msg_convocation"></i>  </span></label><span class="only_type" id="only_convoc">Convocation</span>
        </div>
        <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_action"><div class="span"></div><span class="ms-5 ps-3"> &nbsp;<i
                class="msg_action"></i>  </span></label><span class="only_type" id="only_action">Demande d'action</span>
        </div>
         <!--Forum filter-->
        <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_forum"><div class="span"></div><span class="ms-5 ps-3"><i
                class="msg_forum"></i>  </span></label><span class="only_type" id="only_forum">Forum</span>
        </div>

        <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_suivi"><div class="span"></div><span class="ms-5 ps-3"> &nbsp;<i
                class="msg_suivi"></i>  </span></label><span class="only_type"
                                                             id="only_suivi"> Information de suivi</span></div>
        {% if not manif %}
            <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox"
                                                                        checked="checked" id="filter_nouv"><div class="span"></div><span class="ms-5 ps-3"> &nbsp;<i
                    class="actualite"></i></span></label><span class="only_type" id="only_nouv"> Actualité de la plateforme</span>
            </div>{% endif %}
        <div class="ms-1 checkbox d-inline switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_conv"><div class="span"></div><span class="ms-5 ps-3"> &nbsp;<i
                class="msg_conversation"></i> </span></label><span class="only_type" id="only_conv">Conversation</span>
        </div>
    <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox"
                                                                    id="filter_tracabilite"><div class="span"></div><span class="ms-5 ps-3"> &nbsp;<i
                class="msg_tracabilite"></i>  </span></label><span class="only_type"
                                                                   id="only_tracabilite">Traçabilité</span></div>
        <p></p>
        <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_envoi"><div class="span"></div><span class="ms-5 ps-3"> &nbsp;<i
                class="msg_envoye"></i></span></label><span class="only_qui" id="only_envoi">Envoyé</span>
        </div>
        <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_recu"><div class="span"></div><span class="ms-5 ps-3"> &nbsp;<i
                class="msg_recu"></i></span></label><span class="only_qui" id="only_recu">Reçu</span>
        </div>
    </div>
    <div id="filter_bars" class="">
        <p>Nature du document concerné :</p>
        <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_dossier"><div class="span"></div><span class="ms-5 ps-3">&nbsp; <i
                class="dossier"></i></span></label><span class="only_objet" id="only|dossier">Dossier</span></div>
        <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_piece_jointe"><div class="span"></div><span class="ms-5 ps-3"> &nbsp;<i
                class="pj"></i></span></label><span class="only_objet"
                                                     id="only|piece_jointe">Document complémentaires</span></div>
        <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_avis"><div class="span"></div><span class="ms-5 ps-3"> &nbsp;<i
                class="avis"></i></span></label><span class="only_objet" id="only|avis">Avis</span></div>
        <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_preavis"><div class="span"></div><span class="ms-5 ps-3"> &nbsp;<i
                class="preavis"></i></span></label><span class="only_objet" id="only|preavis">Préavis</span></div>
        <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_arrete"><div class="span"></div><span class="ms-5 ps-3"> &nbsp;<i
                class="arrete"></i></span></label><span class="only_objet" id="only|arrete">Arrêté</span></div>
        <div class="ms-1 checkbox switchToggle"><label class="ps-0 mb-2"><input class="filter_bar" type="checkbox" checked="checked"
                                                                    id="filter_recepisse"><div class="span"></div><span class="ms-5 ps-3">&nbsp; <i
                class="recepisse"></i></span></label><span class="only_objet" id="only|recepisse">Récépissé</span></div>
    </div>


    <div>Aide : <i class="ctx-help-messagerie_filtre"></i><br><br>
        <button class="btn btn-outline-dark" id="filtre_save">Sauvegarder cette combinaison</button>
        <div id="form_filtre" style="display: none">
            <label class="ps-0 mb-2">Donner un nom à ce filtre personnalisé :</label></br><input type="text" maxlength="20"
                                                                               id="nom_filtre">
            <input type="submit" class="btn btn-outline-dark" value="Valider" id="form_filtre_submit">
        </div>
        <div class="mt-3"><button class="btn btn-outline-dark" id="tout_lire">Marquer comme lu tous les messages de ce filtre</button></div>

    </div>
</div>
<div id="filtre_perso"></div>
<div class="container div" id="show_writediv" style="display: none; margin-top: 1em;">

</div>

<div class="container div" id="show_maildiv">
    <div id="messages">
    </div>
    <button class="btn btn-success" id="showMore">Charger plus de message</button>
</div>

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'messagerie/js/messagerie.js' %}"></script>
<script src='{% static "libs/clever-selects.js" %}' type="text/javascript"></script>
<script src="{% static 'portail/js/main.js' %}" type="text/javascript"></script>
<script>

    // par defaut nous prendrons 10 messages sans aucun filtre
    var limite = 10;
    var filtre_custom = "";
    var max_env = 0;//manif
    if (typeof manif === "undefined") {
        var manif = ""
    }

    //router
    const url_prendremsg = "{% url 'messagerie:listemessage' %}";
    const url_envoiunique = "{% url 'messagerie:envoimessage' %}";
    const url_envoi_actu = "{% url 'messagerie:envoimessageactualite' %}";
    const url_envoi_reponse = "{% url 'messagerie:envoimessagereponse' %}";
    const url_filtreperso = "{% url 'messagerie:filtre_perso' %}";
    const url_filtrepersodel = "{% url 'messagerie:filtre_perso_del' %}";
    const url_instrucarnet = "{% url 'messagerie:carnetinstructeur' %}";
    const url_doc_associe = "{% url 'messagerie:listedocconcerne' %}";
    const isIE11 = !!window.MSInputMethodContext && !!document.documentMode;


</script>

<style>
    #messages {
        margin: 1em;
    }

    .navbar-nav {
        color: #212529 !important;
    }

    .nav-link {
        color: inherit !important;
    }

    .navbar_msg {
        background: #f7f6f5 !important;
        border-top: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;
        border-right: 1px solid #d5d5d5;
        padding: 0 4px;
        border-radius: .25rem .25rem 0 0;
    }

    .only_type, .only_qui, .only_objet {
        cursor: pointer;
    }


    #showMore {
        background-color: #9aa400;
        border-color: #9aa400;
        display: block;
        margin: 0 auto;
    }

    #showMore:hover {
        background-color: #afb800;
        border-color: #9aa400;
    }

    #collapsefiltre {
        display: flex;
        justify-content: space-evenly;
        margin-top: 0;
        background-color: #f7f6f5;
        padding: 0.5em;
        border-top: 1px solid #d5d5d5;
        border-right: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;
    }

    .barre_list_filtre {

        padding: 0 6px;
        margin-top: 0;
        width: 100%;
        background-color: #f7f6f5;
        border-top: 1px solid #d5d5d5;
        border-right: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;

    }

    .block_list_filtre {
        display: flex;
        align-items: stretch;
    }


    .list_filtre {
        margin: 0.5em;
        list-style-type: none;

    }

    .list_filtre:last-of-type {
        margin-left: auto;
    }

    .list_filtre > .filtre_perso_list {
        border: none;
        background: none;
        border-right: 1px solid #d5d5d5;
        padding-right: 12px;
        padding-left: 0px;
        border-bottom: unset;
    }

    .list_filtre > .btn {
        width: 140px
    }

    .btn-outline-dark {

        border-color: #212529;
        color: #212529;
    }

    .btn-outline-dark:hover {
        color: white;
        border-color: #343a40;
    }

    .btn_supp {
        color: darkred;
    }

    #show_maildiv {
        padding: 0;
    }

    #messages {
        margin: 0;
    }

    input.filter_bar + span > i {
        margin-left: 6px;
    }

    div#webmail .nav-item:hover {
        background-color: #e5e6c4;
    }


</style>