{% load static get_item_from_dict separeLaFleche file_tags thumbnail_filter %}

<script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'messagerie/js/message.js' %}" type="text/javascript"></script>

<div class="block_msg">
    <div class="">
        <div class="msg_panel">
            {% if not enveloppe.type == "news" %}
                {% if not old and not new %}
                    <div class="">
                        <p class="">
                            {{ enveloppe.date|date:'d/m/Y H:i' }} <span class="pipe_separator">|</span> {{ enveloppe.objet }} </br>
                            De :
                            {% if organisateur %}
                                {{ enveloppe.expediteur_txt|separeLaFleche }}
                            {% else %}
                                <a href="#" data-bs-toggle="tooltip" data-placement="bottom"
                                   title='{{ enveloppe.expediteur_id.first_name }} {{ enveloppe.expediteur_id.last_name }}'>
                                    {{ enveloppe.expediteur_txt|separeLaFleche }}
                                </a>
                            {% endif %}
                            <br>
                            Pour :
                            {% for destinataire in destinataires %}
                                {% if organisateur %}
                                    {{ destinataire|get_item_from_dict:"service" }} {% if forloop.last %}{% else %}, {% endif %}
                                {% else %}
                                    <a href="#"
                                       {% if destinataire|get_item_from_dict:"utilisateur_lu" or destinataire|get_item_from_dict:"utilisateur_nonlu" %}
                                       data-bs-toggle="tooltip"
                                       data-placement="bottom"
                                       title='
                                            {% if destinataire|get_item_from_dict:"utilisateur_lu" %}<p>Lu :
                                                {% for utilisateur in destinataire|get_item_from_dict:"utilisateur_lu" %}
                                                    {% if utilisateur|get_item_from_dict:"nom" %}
                                                        {{ utilisateur|get_item_from_dict:"nom" }}{% if forloop.last %}{% else %},{% endif %}
                                                    {% endif %}
                                                {% endfor %}</p>
                                            {% endif %}
                                            {% if destinataire|get_item_from_dict:"utilisateur_nonlu" %}<p>Non lu :
                                                {% for utilisateur in destinataire|get_item_from_dict:"utilisateur_nonlu" %}
                                                    {% if utilisateur|get_item_from_dict:"nom" %}
                                                        {{ utilisateur|get_item_from_dict:"nom" }}{% if forloop.last %}{% else %},{% endif %}
                                                    {% endif %}
                                                {% endfor %}</p>
                                            {% endif %}
                                            '
                                       {% endif %}>
                                        {{ destinataire|get_item_from_dict:"service" }}
                                    </a>
                                    {% if forloop.last %}{% else %}, {% endif %}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
            {% else %}
                <div id="">
                    <p class="">{{ enveloppe.date|date:'d/m/Y H:i' }} </p>
                </div>
            {% endif %}
            {% for enve in old %}
                <div {% if not forloop.first %} class="reponse_messagerie" {% endif %}>
                    <div>Le {{ enve.date|date:'d/m/Y H:i' }}
                        <br>De
                            {% if organisateur %}
                                {{ enve.expediteur_txt|separeLaFleche }}
                            {% else %}
                                <a href="#" data-bs-toggle="tooltip" data-placement="bottom"
                                   title='{{ enve.expediteur_id.first_name }} {{ enve.expediteur_id.last_name }}'>
                                    {{ enve.expediteur_txt|separeLaFleche }}
                                </a>
                            {% endif %}<br>
                        Pour
                            {% if organisateur %}
                                {{ enve.destinataire_txt|separeLaFleche }}
                            {% else %}
                               <a href="#" data-bs-toggle="tooltip" data-placement="bottom"
                                  title='{{ enve.destinataire_id.first_name }} {{ enve.destinataire_id.last_name }}'>
                                   {{ enve.destinataire_txt|separeLaFleche }}
                               </a>
                            {% endif %}
                        </div>
                    <div class="msg_body" id="corps_msg_{{ enve.corps.pk }}" style="  width: 100%; ">
                        {{ enve.corps.corps|safe }}
                    </div>
                 {% if enve.corps.fichier %}
                         {% if enve.corps.scan_antivirus %}<div class="mt-3">Fichier attaché : <a href="/media/{{ enve.corps.fichier }}">{{ enve.corps.fichier|basename }}</a>
                         <span data-bs-toggle="tooltip" data-placement="auto" data-html="true" class="ms-2 badge bg-info"
                                  title="<img src='{{ enve.corps.fichier|thumbnail }}'>">
                                <i class="afficher no-right-margin text-white"></i>
                            </span><i class="ctx-help-messagerie_piece_jointe"></i></div>
                         {% else %}
                             <div class="mt-3">Fichier attaché en cours de traitement</div>
                             {% endif %}
                         {% endif %}
                </div>
            {% endfor %}
            {% if old or new %}
                <div class="reponse_messagerie reponse_messagerie_focus" style="margin-top: 0.5em;">
                    <div>Le {{ enveloppe.date|date:'d/m/Y H:i' }}
                        </br>De
                            {% if organisateur %}
                                {{ enveloppe.expediteur_txt|separeLaFleche }}
                            {% else %}
                                <a href="#" data-bs-toggle="tooltip" data-placement="bottom"
                                   title='{{ enveloppe.expediteur_id.first_name }} {{ enveloppe.expediteur_id.last_name }}'>
                                    {{ enveloppe.expediteur_txt|separeLaFleche }}
                                </a>
                            {% endif %}<br>
                        Pour
                            {% if organisateur %}
                                {{ enveloppe.destinataire_txt|separeLaFleche }}
                            {% else %}
                               <a href="#" data-bs-toggle="tooltip" data-placement="bottom"
                                  title='{{ enveloppe.destinataire_id.first_name }} {{ enveloppe.destinataire_id.last_name }}'>
                                   {{ enveloppe.destinataire_txt|separeLaFleche }}
                               </a>
                            {% endif %}

                    </div>
                    <div class="msg_body" id="corps_msg_{{ enveloppe.corps.pk }}" style="  width: 100%; border: 2px #8d9800 solid; ">
                        {{ enveloppe.corps.corps|safe }}
                    </div>
                     {% if enveloppe.corps.fichier %}
                         {% if enveloppe.corps.scan_antivirus %}<div class="mt-3">Fichier attaché : <a href="/media/{{ enveloppe.corps.fichier }}">{{ enveloppe.corps.fichier|basename }}</a>
                         <span data-bs-toggle="tooltip" data-placement="auto" data-html="true" class="ms-2 badge bg-info"
                                  title="<img src='{{ enveloppe.corps.fichier|thumbnail }}'>">
                                <i class="afficher no-right-margin text-white"></i>
                            </span><i class="ctx-help-messagerie_piece_jointe"></i></div>
                         {% else %}
                             <div class="mt-3">Fichier attaché en cours de traitement</div>
                             {% endif %}
                         {% endif %}
                </div>
            {% else %}
                <div>
                    <div class="msg_body" id="corps_msg_{{ enveloppe.corps.pk }}" style="  width: 100%; ">
                        {{ enveloppe.corps.corps|safe }}
                    </div>
                  {% if enveloppe.corps.fichier %}
                         {% if enveloppe.corps.scan_antivirus %}<div class="mt-3">Fichier attaché : <a href="/media/{{ enveloppe.corps.fichier }}">{{ enveloppe.corps.fichier|basename }}</a>
                         <span data-bs-toggle="tooltip" data-placement="auto" data-html="true" class="ms-2 badge bg-info"
                                  title="<img src='{{ enveloppe.corps.fichier|thumbnail }}'>">
                                <i class="afficher no-right-margin text-white"></i>
                            </span><i class="ctx-help-messagerie_piece_jointe"></i></div>
                         {% else %}
                             <div class="mt-3">Fichier attaché en cours de traitement</div>
                             {% endif %}
                         {% endif %}
                </div>
            {% endif %}
            {% for enve in new %}
                <div class="reponse_messagerie">
                     <div>Le {{ enve.date|date:'d/m/Y H:i' }}
                        </br>De
                            {% if organisateur %}
                                {{ enve.expediteur_txt|separeLaFleche }}
                            {% else %}
                                <a href="#" data-bs-toggle="tooltip" data-placement="bottom"
                                   title='{{ enve.expediteur_id.first_name }} {{ enve.expediteur_id.last_name }}'>
                                    {{ enve.expediteur_txt|separeLaFleche }}
                                </a>
                            {% endif %}<br>
                        Pour
                            {% if organisateur %}
                                {{ enve.destinataire_txt|separeLaFleche }}
                            {% else %}
                               <a href="#" data-bs-toggle="tooltip" data-placement="bottom"
                                   title='{{ enve.destinataire_id.first_name }} {{ enve.destinataire_id.last_name }}'>
                                   {{ enve.destinataire_txt|separeLaFleche }}
                               </a>
                            {% endif %}

                     </div>
                    <div class="msg_body" id="corps_msg_{{ enve.corps.pk }}" style="  width: 100%; ">
                        {{ enve.corps.corps|safe }}
                    </div>
                 {% if enve.corps.fichier %}
                         {% if enve.corps.scan_antivirus %}<div class="mt-3">Fichier attaché : <a href="/media/{{ enve.corps.fichier }}">{{ enve.corps.fichier|basename }}</a>
                         <span data-bs-toggle="tooltip" data-placement="auto" data-html="true" class="ms-2 badge bg-info"
                                  title="<img src='{{ enve.corps.fichier|thumbnail }}'>">
                                <i class="afficher no-right-margin text-white"></i>
                            </span>
                         <i class="ctx-help-messagerie_piece_jointe"></i></div>
                         {% else %}
                             <div class="mt-3">Fichier attaché en cours de traitement</div>
                             {% endif %}
                         {% endif %}
                </div>
            {% endfor %}
            {% if enveloppe.type == "conversation" and not enveloppe.expediteur_id == request.user %}
                <button id="repondre_affiche" class="btn btn-info mt-2 text-white">Répondre à ce message</button>
            {% endif %}
            <div id="envoi_reponse_div"></div>
        </div>
    </div>
</div>

<script>
    var enve_pk = "{{ enveloppe.pk }}";
</script>

<style>
    .msg_panel {
        padding: 1em;
    }
    .msg_body {
        overflow: auto;
        /*margin-top: 0.8em;*/
        padding: 0.5em;
        border: #ececec solid 1px;
        border-radius: 3px;
        background-color: #f7f6f5;
    }
    .reponse_messagerie{

    margin-top: 0.5em;
    padding-left: 10px;
    border-left: 4px #8d9800 solid;
    margin-left: 10px;
    }

    .reponse_messagerie_focus{
        margin-top: 0.5em;
        border: 1px #8d9800 solid;
        padding: 1em;
        background-color: #9aa40036;
    }
</style>
